[2020-08-18 05:44] vatsalkesarwani12 commented on #451
@yashaswibiyahut go ahead with C
@mharshita  go ahead with javaScript

[2020-08-18 06:13] SwagataJ commented on #548
Can I work on this in c++?

[2020-08-18 06:22] devanshiv123 opened #555 "Implementation of Maximum Subarray Sum(All methods)"
## 💥 Proposal

Including algorithms for Maximum Subarray Sum Problem

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes

## Assignees

- C: @SangeetaMishra
- C++: @piyushgoell
- Java: @Huzaib
- Python: @poojarathore30

[2020-08-18 06:27] devanshiv123 commented on #555
I would like to contribute in C++

[2020-08-18 06:30] poojarathore30 commented on #555
I would like to work on implementing the same using python and java. Kindly assign me this issue. 📌

[2020-08-18 06:41] sanusoumya17 commented on #545
I would like to work on this issue

[2020-08-18 06:44] vatsalkesarwani12 commented on #548
@SwagataJ go with c++

[2020-08-18 06:47] shawavisek35 opened #559 "Program to find the modulo of nth fibonacci number in an optimised way"
## 💥 Proposal

Suggestion on adding a program

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

**Program to find the modulo of nth fibonacci number where n is very large in an optimised way.**

[2020-08-18 06:54] devanshiv123 commented on #542
I would like to contribute.

[2020-08-18 06:58] devanshiv123 opened #561 "Implementation of Longest Common Subsequence(Using DP)"
## 💥 Proposal

Implementation of Longest Common Subsequence using Dynamic Programming.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-08-18 06:58] devanshiv123 commented on #561
I would like to work in C++

[2020-08-18 07:08] atarax665 commented on #551
Duplicate issue. @akanksha-saini @PrasadMulherkar  Please check #46 .

[2020-08-18 07:08] #551 closed, assigned to nobody

[2020-08-18 07:30] atarax665 commented on #561
Duplicate issue. Please checkout #438 .
Happy Coding!

[2020-08-18 07:30] #561 closed, assigned to nobody

[2020-08-18 07:40] piyushgoell commented on #555
I would like to work in c++

[2020-08-18 07:43] piyushgoell commented on #544
i would also like to contribute on this too.

[2020-08-18 07:52] piyushgoell opened #563 "Longest Substring Without Repeating Characters"
## 🚀 Feature

### Implementation of
[Longest Substring Without Repeating Characters](https://leetcode.com/problems/longest-substring-without-repeating-characters/)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Motivation
Asked in many Interview.

### Language Supported
 - C [

[2020-08-18 07:52] piyushgoell commented on #563
I would like to work on this in C++. @SKAUL05

[2020-08-18 08:14] viveksahu26 commented on #499
i haven't assign any issue yet.. so please assign me this issue.. i would like to solve this in java..

[2020-08-18 08:27] GajjarMiten commented on #548
Hey, @plazzy99 I would like to do it in Golang.

[2020-08-18 09:24] SKAUL05 commented on #563
Go Ahead with CPP.

[2020-08-18 09:25] atarax665 commented on #545
@sanusoumya17 Great!, You can start working on this. Use [PEP8](https://www.python.org/dev/peps/pep-0008/) for reference.

[2020-08-18 09:35] HarshCasper commented on #544
I have assigned to you @Kritika37

[2020-08-18 09:40] NitikaGupta16 commented on #509
I will work upon it in C++ @Kajol-Kumari @SKAUL05

[2020-08-18 09:45] pradeep98 commented on #563
I would like to do in python. @SKAUL05

[2020-08-18 10:54] Yuvraj-kadale commented on #563
I would like to make in C!

[2020-08-18 12:14] TEJASWI-TEJASWI opened #573 "Sparse Matrix Operation"
## 🚀 Feature
I would like to add an optimized solution of Sparse Matrix .
As of no recent solution regarding the Sparse Matrix .
Sparse Matrix having more number of zeroes elements.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
## Motivation
It will help in understanding matrix an

[2020-08-18 12:14] TEJASWI-TEJASWI commented on #573
Hi everyone could anyone pls assign this in c++ to me as a part of Hakincodes
@Abhijit2505 @Kajol-Kumari @siddharth25pandey @plazzy99

[2020-08-18 14:04] Kathan-Vakharia commented on #508
I would like to work on this issue with golang ,  @Kajol-Kumari @plazzy99 @Abhijit2505  can you please assign me :)

[2020-08-18 14:09] Jkp2072 opened #578 "Find 3 numbers whose sum is zero from a given array in O(n^2)[Optimized Way]"
## 💥 Proposal

An Array is given as input ,we have to design an algorithm which will find all the possible combinations of 3 numbers whose sum results zero.

example :
input = [1,-1,2,-2,0]
output = [[1,-1,0],[2,-2,0]]

I would like to do it in c++

@Kajol-Kumari  @HarshCasper  @Abhijit2505

Assignees
CPP : @Jkp2072
JAVA: @prashansasaxena
Python: @Mohitkumar6122

[2020-08-18 15:28] SKAUL05 commented on #545
@HarshCasper Would recommend introducing **Linters** also.

[2020-08-18 16:47] NEEHITGOYAL opened #585 "TARGET SUM TRIPLETS"
## 💥 Proposal

Take as input N, the size of array. Take N more inputs and store that in an array. Take as input “target”, a number. Write a function which prints all triplets of numbers which sum to target.
For example
input:
9
5 7 9 1 2 4 6 8 3
10
output:
1, 2 and 7
1, 3 and 6
1, 4 and 5
2, 3 and 5
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding

[2020-08-18 16:48] NEEHITGOYAL commented on #585
i would like to do it in c++  as a part of hakin codes
@Kajol-Kumari @SKAUL05 @Abhijit2505 @siddharth25pandey @routrohan @plazzy99

[2020-08-18 17:03] #412 closed, assigned to GajjarMiten, Himanshu44626748, kritikaparmar-programmer, sonukushwaha403, ag278

[2020-08-18 18:19] rutujadhanawade opened #587 "Floyd Warshall Algorithm (CH20)"
## 🚀 Feature

[Floyd Warshall Algorithm](https://en.wikipedia.org/wiki/Floyd%E2%80%93Warshall_algorithm)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch

It is very useful algorithm which is used to find the shortest distance between every vertex to all other vertex.

## L

[2020-08-18 18:20] rutujadhanawade commented on #587
I would like to work on it with C++ .
@Kajol-Kumari  @SKAUL05  @plazzy99
Can you please assign the issue to me. Thank you!

[2020-08-18 18:22] vgb-codes commented on #587
Duplicate Issue #46
Therefore, I am closing this.
Please check if the issue already has a thread. Do not create duplicate issue threads.

[2020-08-18 18:22] #587 closed, assigned to nobody

[2020-08-18 18:24] prashansasaxena commented on #578
I would like to do this in java

[2020-08-18 18:34] rutujadhanawade opened #588 "Red Black tree (CH20)"
## 🚀 Feature

Creation and insertion & Deletion in [Red Black tree](https://en.wikipedia.org/wiki/Red%E2%80%93black_tree)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch

It is a very useful algorithm. A red-black tree is a kind of self-balancing binary search tree

## Lan

[2020-08-18 18:36] rutujadhanawade commented on #588
I would like to work on it with C++ .
@Kajol-Kumari @SKAUL05 @plazzy99
Can you please assign the issue to me. Thank you!

[2020-08-18 18:36] shubham5351 commented on #585
I would like to do this in python @SKAUL05  @Kajol-Kumari

[2020-08-18 18:38] vgb-codes commented on #588
@rutujadhanawade go ahead with C++.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-18 18:39] rutujadhanawade commented on #588
Sure @VijayaGB98 .

[2020-08-18 19:11] ritvij14 commented on #461
@DrSehgal7 I had a doubt about this algorithm. Is the array consisting of any set of consecutive integers that are arranged unordered? Or is it like the first N consecutive integers from 1 to N?

[2020-08-18 20:15] Mohitkumar6122 commented on #559
I found an amazing way to calculate large fibonacci numbers.
let f(n) be the (n + 1) th fibonacci number, we have two case: n is even and n is odd.

There are only at most  states.
Let's divide n into groups by depth, you will realize a special property: Each depths only contains at most 4 values of n.

call f(1000):

Depth[0] : 1000
Depth[1] : 499 500
Depth[2] : 248 249 250
Depth[3] : 123 124 125

[2020-08-18 20:18] Mohitkumar6122 commented on #578
i would like to do this in python @Kajol-Kumari @SKAUL05 @Abhijit2505

[2020-08-18 20:19] DrSehgal7 commented on #461
@ritvij14 For example N= 50 so you will have an array of 50 elements and all of them will be from 1 to 50 without duplicates.
For eg:-
N=10
array[]={3 7 6 9 1 8 10 4 2 5}
ans=9

I hope your doubt is clear now!

[2020-08-18 20:25] pradeep98 opened #590 "Sum of smallest elements in all subarrays. [CH20]"
## 🚀 Feature

Statement: Given an integer array. Find sum of the smallest values in all possible contiguous subarrays.
ex- [4,1,3]
&emsp; sub arrays:  [4], [1], [3], [4,1], [1,3], [4,1,3].
 &emsp; &emsp; &emsp; sum = 4 + 1 + 3 + 1 + 1 + 1 = 11

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issue

[2020-08-18 20:26] pradeep98 commented on #590
I would like to implement it in Python.

[2020-08-18 20:54] ritvij14 commented on #461
@DrSehgal7 yes it's clear now, thanks for the clarification. :D

[2020-08-18 23:26] ag278 commented on #590
I would like to solve this issue in c++

[2020-08-19 01:27] viveksahu26 commented on #590
I would like to work with this issue in java..

[2020-08-19 03:05] HarshCasper commented on #542
Assigned to you @Rishikeshrajrxl

[2020-08-19 03:10] HarshCasper commented on #543
Assigned to you @Rishikeshrajrxl

[2020-08-19 03:15] raksha009 commented on #563
Plz assign me this issue in java @SKAUL05

[2020-08-19 03:18] raksha009 commented on #590
I would like to work on this issue in C.

[2020-08-19 03:32] HarshCasper opened #592 "Add a C Style Documentation"
## 📚 Documentation

Create a C Style Guide Documentation in the specific `C`  Directory which serves the following purpose:

- Acquaint the User about the C Styles Guide and what are the best practices to follow.
- Mention about Code Width and Alignment, a proper convention to add Whitespaces and Indentation.
- Mention about Variable Naming Conventions and various best practices followed in C Prog

[2020-08-19 03:33] HarshCasper opened #593 "Add a Java Style Documentation"
## 📚 Documentation

Create a Java Style Guide Documentation in the specific `Java`  Directory which serves the following purpose:

- Acquaint the User about the Java Styles Guide and what are the best practices to follow.
- Mention about Code Width and Alignment, a proper convention to add Whitespaces and Indentation.
- Mention about Variable Naming Conventions and various best practices followed

[2020-08-19 03:36] HarshCasper opened #594 "Add a Javascript Style Documentation"
## 📚 Documentation

Create a Javascript Style Guide Documentation in the specific `Javascript`  Directory which serves the following purpose:

- Acquaint the User about the Javascript Styles Guide and what are the best practices to follow.
- Mention about Code Width and Alignment, a proper convention to add Whitespaces and Indentation.
- Mention about Variable Naming Conventions and various best p

[2020-08-19 03:41] NEEHITGOYAL commented on #592
i would like to work on this issue
if possible can u give any reference or i ll find it myself
@HarshCasper @SKAUL05 @Kajol-Kumari

[2020-08-19 03:50] HarshCasper opened #595 "Implement Neural Network from Scratch [Machine Learning - Python]"
## 🚀 Feature

- Implement a Toy Neural Network for the MNIST Dataset using only Numpy.
- Train it for some number of epochs and some hyperparameters.
- Plot a live/interactive decision boundary.
- Plot the train and validation metrics such as the loss and the accuracies

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBU

[2020-08-19 05:43] PatelKeviin commented on #563
I would like to solve this problem in C# @SKAUL05. Thanks!

[2020-08-19 06:31] routrohan commented on #585
@NEEHITGOYAL you can proceed with this.

[2020-08-19 06:32] routrohan commented on #585
@shubham5351 Please create another issue for the same problem and I'll put you up on that.

[2020-08-19 07:30] vatsalkesarwani12 commented on #548
@GajjarMiten go ahead with golang

[2020-08-19 07:48] SangeetaMishra opened #601 "Lowest Common Ancestor with Binary Lifting"
## 🚀 Feature

You are given a tree G and queries of the form (v1,v2). For each query, you need to find the lowest common ancestor, i.e. a vertex v that lies on the path from the root to v1 and the path from the root to v2, and the vertex should be the lowest.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#rep

[2020-08-19 07:49] SangeetaMishra commented on #601
Please assign this issue to me for C++ as a part of Hackin Codes @Kajol-Kumari  @HarshCasper @atarax665 @SKAUL05

[2020-08-19 08:02] NEEHITGOYAL commented on #585
@routrohan @SKAUL05 can you please add tags

[2020-08-19 08:25] yashaswibiyahut commented on #283
I have PR the Reverse Link list in c++..Kindly review it @VijayaGB98

[2020-08-19 08:26] yashaswibiyahut commented on #451
I have PR the Interpolation Search in C..Kindly review it @plazzy99

[2020-08-19 09:49] devanshiv123 opened #605 "Sliding Window Technique"
## 🚀 Feature

Addition of some problems related to Sliding Window Technique.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

The technique is used to solve many problems.

[2020-08-19 09:50] devanshiv123 commented on #605
I would like to work in C++.

[2020-08-19 10:01] atarax665 commented on #605
Duplicate issue. Refer to #452 .

[2020-08-19 10:01] #605 closed, assigned to nobody

[2020-08-19 12:25] Huzaib commented on #595
Can I take up this issue?

[2020-08-19 13:02] chandankrsahu opened #609 "Implement next greater element using stack in C++"
## 🚀 Feature

Implement next greater element using stack in C++ under stack directory in c++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-08-19 13:02] chandankrsahu commented on #609
I want to contribute as a part of HackinCodes 2020. @Kajol-Kumari  @Abhijit2505

[2020-08-19 13:35] ritvij14 commented on #427
@Kajol-Kumari, @siddharth25pandey could you please assign the issue to us according to the language preferences so we can start working?

[2020-08-19 13:47] vinaykumar7686 commented on #590
I would like to work on Python for this issue.

[2020-08-19 14:08] shubham5351 opened #610 "Target Sum Triplets"
💥 Proposal

Take as input N, the size of array. Take N more inputs and store that in an array. Take as input “target”, a number. Write a function which prints all triplets of numbers which sum to target.
For example
input:
9
5 7 9 1 2 4 6 8 3
10
output:
1, 2 and 7
1, 3 and 6
1, 4 and 5
2, 3 and 5

[2020-08-19 14:09] shubham5351 commented on #610
I would like to work for this issue in python

[2020-08-19 14:12] parjanyaacoder commented on #609
I would like to work on this issue in Java.

[2020-08-19 14:55] Huzaib commented on #466
If it is open in java, can you please assign it to me

[2020-08-19 14:58] Huzaib commented on #424
If the implementation in java is open, please assign it to me

[2020-08-19 15:01] Huzaib commented on #578
If the implementation in java is open, please assign it to me

[2020-08-19 15:01] Huzaib commented on #555
If the implementation in java is open, please assign it to me

[2020-08-19 15:42] ashishsahu1 commented on #466
@Kajol-Kumari  I have done my pr but it is yet to be merged.

[2020-08-19 15:46] vgb-codes commented on #610
Issue #585 Duplicate Issue. Therefore, I am going to close this thread.

[2020-08-19 15:46] #610 closed, assigned to nobody

[2020-08-19 16:15] nutanaarohi123 commented on #439
I would like to work on this issue in C.pls assign the task. @SKAUL05

[2020-08-19 16:21] nutanaarohi123 commented on #593
I would like to work on this.Pls assign

[2020-08-19 16:44] SKAUL05 commented on #439
Go AHead

[2020-08-19 17:22] neha07kumari commented on #469
I want to contribute in C Language. Please assign me @PinkyWalia

[2020-08-19 17:24] neha07kumari commented on #466
I want to work on this issue and use Python for it. Please assign me @Joshitha18  @Kajol-Kumari

[2020-08-19 17:41] SKAUL05 commented on #590
@pradeep98 requested it before

[2020-08-19 18:10] rahulpathak-github opened #615 "Design a stack which gets the minimum element in O(1) time"
## 🚀 Feature

**Design a stack which executes pop(), push(), top(), getMinimum() all in O(1) time.**
(CH20 Participation)

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
YES
(Write your answer here.)

## Motivation

The problem i

[2020-08-19 18:12] rahulpathak-github commented on #615
@SKAUL05 @HarshCasper @plazzy99 I wish to work on this issue in C++, therefore, request you to assign me this issue.

[2020-08-19 18:28] ag278 commented on #615
I would like to work on this issue in C language. Please assign me this issue

[2020-08-19 18:39] prasadvpatil opened #617 "Conversion of infix expression to postfix expression."
## 🚀 Feature

An Infix expression is an expression where operators are written in-between the operands. Example:- A+B, Infix expressions are readable and solvable by humans. But the computer cannot differentiate the operators and parenthesis easily, that’s why conversion to postfix expression is needed. i.e, Operators are written after their operands. Example:- AB+

### Have you read the [Contribu

[2020-08-19 18:40] prasadvpatil commented on #617
I want to work on this issue using C, Please assign me with this issue. @atarax665  @Kajol-Kumari  @SKAUL05 @Abhijit2505 @plazzy99

[2020-08-19 18:56] gupta-piyush19 commented on #617
i would like to work on this issue in C++.

[2020-08-20 01:54] atarax665 commented on #427
Assigning:
C -> @kushagraiitbbs
JavaScript -> @ritvij14
GO -> @odavhad
Java -> @Vivek214-Candy
Please go through the Contribution Guidelines ( #398 ) before raising your PR.
Happy Coding!

[2020-08-20 02:54] AkiraBrand commented on #594
Hey there,
I'd like to work on the style guide. Is it still needed?
Thanks,
Akira

[2020-08-20 03:44] rgrupesh opened #622 "Backtracking algorithm"
## 🚀 Feature

(Sudoku solver with backtracking.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes.)

## Motivation

(Backtracking algorithm can be implemented with just 3 simple functions.)

## Pitch

(Sudoku solving can be cumbersome at times. This algorithm makes it really easy.)

[2020-08-20 03:45] rgrupesh commented on #622
I would like to work in Python @siddharth25pandey

[2020-08-20 04:05] Himanshu70565 commented on #617
I would like to implement in java as part of HAKIN CODE .Please assign me this issue @Abhijit2505

[2020-08-20 05:40] yashaswibiyahut commented on #622
I want to work on this issue using C++ as a part of HakinCodes, Please assign me with this issue. @Kajol-Kumari @SKAUL05 @Abhijit2505 @plazzy99

[2020-08-20 05:41] yashaswibiyahut commented on #609
I want to work on this issue using C++ as a part of HakinCodes, Please assign me with this issue. @Kajol-Kumari @SKAUL05 @Abhijit2505 @plazzy99

[2020-08-20 05:46] yashaswibiyahut commented on #283
@plazzy99 the code is implemented but the code is not working that`s why it assigned to me so that i can resolve the errors which i already mentioned in the issue template.
You should check the previous code and mine code before closing the PR.

[2020-08-20 05:51] vatsalkesarwani12 commented on #283
I have reopend the request and will check soon both the code

[2020-08-20 06:29] anime19 commented on #585
I would like to take this issue in JAVA as partcipant at HakinCodes
Please assign it to me.

[2020-08-20 08:05] devanshiv123 opened #632 "Longest Palindromic Substring"
## 🚀 Feature

Efficient Algorithm for Longest Palindromic Substring problem.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

The question found in many contests and interview series.

## Assignees

- C++: @devanshiv123
- Java: @Huzaib
- C: @kashika3101
- Python: @nar

[2020-08-20 08:28] ymaheshwari1 opened #633 "Updating the code to take input from user in Java"
## 🚀 Feature

Currently, we are using hard-coded array values for running the RemoveDuplicateElementWithoutExtraSpace.java and RemoveDuplicateElement.java. We should update the code so that the user is able to define the length of the array and also the values for the array

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONT

[2020-08-20 08:29] ymaheshwari1 commented on #633
I am interested in working on this.

[2020-08-20 09:24] GajjarMiten commented on #563
@SKAUL05
I would like to do it in Golang.

[2020-08-20 11:31] akanksha-saini opened #636 "Print count of prime numbers in given range a and b for test cases Q."
## 🚀 Feature

Count prime numbers between given range using **Prime Sieve**.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

The solution can be implemented using cumulative count of prime numbers up to a large range.
An optimized approach to return prime numbers as

[2020-08-20 11:32] akanksha-saini commented on #636
I would like to contribute in C++ for HakinCodes 2020 @SKAUL05 @Kajol-Kumari

[2020-08-20 11:42] ghost opened #637 "KMP Algorithm"
## 🚀 Feature

I want to add KMP algorithm in Java with the code for pattern searching  please assign me that

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implem

[2020-08-20 11:44] #637 closed, assigned to nobody

[2020-08-20 11:45] ghost commented on #427
@Kajol-Kumari i want to work on this issue in java please assign me this

[2020-08-20 14:51] siddharth25pandey commented on #636
## This issue is not the part of HakinCodes Contributors' Hack 2020

[2020-08-20 14:52] #636 closed, assigned to nobody

[2020-08-20 17:06] Yuvraj-kadale commented on #588
Would like to make in python

[2020-08-20 17:33] Jkp2072 commented on #578
please assign this issue @routrohan  @plazzy99  @Kajol-Kumari  @Abhijit2505

[2020-08-20 17:34] devanshiv123 commented on #632
I would like to work in C++.

[2020-08-20 19:00] akanksha-saini commented on #590
I would like to do in JavaScript @SKAUL05

[2020-08-20 19:39] Huzaib commented on #632
I want to do it in Java.
Please assign it to me.

[2020-08-20 19:39] Huzaib commented on #622
I want to do it in Java
Please assign it to me

[2020-08-20 19:52] atarax665 commented on #427
@HarshAgarwal-DEV Sorry, this issue is already assigned to someone in Java.

[2020-08-20 20:14] akanksha-saini commented on #636
Code is correct and can be merged as it do not affect other files of master branch, so can't you add CH20 label to it. @SKAUL05 @Kajol-Kumari @siddharth25pandey @Abhijit2505

[2020-08-20 20:18] ritvij14 commented on #601
I would like to take this issue in Java for HakinCodes.

[2020-08-20 20:22] atarax665 commented on #633
@ymaheshwari1 Sure, you can refactor the code of above mentioned files.

[2020-08-20 20:33] Mohitkumar6122 opened #647 "Knapsack Problem"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
**YES**

## Motivation

Dynamic programming is used where we have problems, which can be divided into similar sub-problems, so that their results can be re-used. Mostly

[2020-08-20 20:35] Mohitkumar6122 commented on #647
i would like to do this in python @Kajol-Kumari @SKAUL05 @Abhijit2505

[2020-08-20 20:36] ritvij14 commented on #647
I would like to contribute to this issue in Java as a part of HakinCodes.

[2020-08-20 23:19] atarax665 commented on #647
This is a duplicate issue. @ritvij14 @Mohitkumar6122 Please checkout #423

[2020-08-20 23:19] #647 closed, assigned to nobody

[2020-08-21 00:03] atarax665 opened #648 "Heap Sort"
## 🚀 Feature

**Heap Sort Implementation**
-Heap sort is a comparison based sorting technique based on Binary Heap data structure. It is similar to selection sort where we first find the maximum element and place the maximum element at the end. We repeat the same process for remaining element.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoA

[2020-08-21 02:11] bagladivyang03 commented on #648
I would like to do in c++ pls assign @atarax665

[2020-08-21 02:32] atarax665 commented on #648
@bagladivyang03 You can start working on this in C++.
Happy Coding!

[2020-08-21 03:59] rohangawhade commented on #595
I would like to work on this issue.

[2020-08-21 04:39] HarshCasper commented on #595
Assigned to you @Huzaib

[2020-08-21 04:43] HarshCasper commented on #594
Hello @AkiraBrand

This Issue is specific to Contributor's Hack 2020 Participants. If you would like to work on this, we will assign it to you separately.

[2020-08-21 04:47] HarshCasper commented on #592
Assigned to you @NEEHITGOYAL

[2020-08-21 05:02] akanksha-saini commented on #585
I would like to do it in c @SKAUL05 @Kajol-Kumari

[2020-08-21 05:02] rgrupesh commented on #648
I want to work in C. @atarax665

[2020-08-21 05:33] siddharth25pandey commented on #636
@akanksha-saini **Every issue, which is created here cannot be the part of Contributor's Hack 2020. It should follow some guidelines. it's not like that you just created an issue, send the PR and we will merge it**.

[2020-08-21 06:11] ritvij14 commented on #427
@atarax665 I am working on javascript for this issue, and I have a doubt, do we assume that the pattern appears in the text once only or can it be there multiple times? If yes, do we show all results?

Also, which folder should I put this into?

[2020-08-21 06:24] shubha028 commented on #438
@Kajol-Kumari  I have made a pull request please check .

[2020-08-21 06:47] avinashkranjan commented on #648
I would like to work on this issue in python @atarax665

[2020-08-21 07:31] atarax665 commented on #648
@rgrupesh You can start working in C.
@avinashkranjan You can work on this issue in Python.
Go through the contribution guidelines if you haven't yet. #398
Happy Coding!

[2020-08-21 08:00] avinashkranjan commented on #648
@atarax665 you already have a **heap_sort.py** in `NeoAlgo/Python/sort/..` Do you still me to push my verison of code??

[2020-08-21 08:05] Huzaib commented on #595
How much time do I have to complete it?

[2020-08-21 08:07] ritvij14 commented on #648
@atarax665 is this included for Contributor's Hack? I would like to do this in Java

Also please put CH20 tag if it is being considered for it.

[2020-08-21 08:59] atarax665 commented on #648
@avinashkranjan I want you to modify the existing heap_sort.py file as the existing code doesn't have driver code, proper documentation and functions need to be refactored.

[2020-08-21 09:15] avinashkranjan commented on #648
Okay..I'll make the required changes..

[2020-08-21 09:45] #422 closed, assigned to parjanyaacoder, SayaniG371

[2020-08-21 09:45] avinashkranjan commented on #648
@atarax665 Made the changes, Have a look

[2020-08-21 10:23] ymaheshwari1 commented on #633
@atarax665 Please add appropriate labels on the issue **CH20** and the difficulty label

[2020-08-21 10:56] GajjarMiten commented on #648
Hey @atarax665
I would like to it in Golang.

[2020-08-21 11:03] GajjarMiten commented on #585
Hey @SKAUL05
I would like to do it in Golang

[2020-08-21 11:08] shraddhavp commented on #594
Would like to work on the issue

[2020-08-21 11:16] vgb-codes commented on #588
@Yuvraj-kadale Go ahead with Python.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-21 11:37] TEJASWI-TEJASWI commented on #632
Hi everyone could anyone pls assign this in c++ to me as a part of Hakincodes
@Abhijit2505 @Kajol-Kumari @siddharth25pandey @plazzy99

[2020-08-21 11:53] TEJASWI-TEJASWI commented on #573
@Kajol-Kumari @SKAUL05 @Abhijit2505 @plazzy99 9 @siddharth25pandey
Can you please add the relevant labels to it and assign the issue to me. I would like to work on it with C++ .
Thank you!

[2020-08-21 12:10] TEJASWI-TEJASWI commented on #622
I want to work on this issue using C++ as a part of HakinCodes, Please assign me with this issue. @Kajol-Kumari @SKAUL05 @Abhijit2505 @plazzy99

[2020-08-21 12:15] Nagasuruthika commented on #648
Hey, @atarax665 I'd like this to take this issue in javascript.

[2020-08-21 12:15] TEJASWI-TEJASWI opened #661 "Implementation of Array Mirror Inverse"
## 🚀 Feature
Implementation of Array Mirror Inverse
- Inverse of an array means if the array elements are swapped with their corresponding indices and the array is called mirror-inverse if it's inverse is equal to itself .

### Have you read the [Contributing Guidelines on Pull Requests]

- Yes.

## Motivation
- This is a very important concept according to me and I think in first sight many
of us

[2020-08-21 12:16] TEJASWI-TEJASWI commented on #661
I want to work on this issue using C++ as a part of HakinCodes, Please assign me with this issue. @Kajol-Kumari @SKAUL05 @Abhijit2505 @plazzy99

[2020-08-21 12:18] Nagasuruthika commented on #563
I'd like to take this issue in javascript.

[2020-08-21 16:19] narayan2111 commented on #661
I would like to work on this issue in python. Please assign this to me.

[2020-08-21 16:26] narayan2111 commented on #573
I would like to work on this issue in python. Please assign this to me.
@Kajol-Kumari @atarax665 @Abhijit2505 @plazzy99

[2020-08-21 16:40] Himanshu44626748 commented on #661
@siddharth25pandey @Kajol-Kumari I would like to do this in java. Please assign me.

[2020-08-21 17:22] ag278 opened #663 "Application of euler's Totient function"
## 🚀 Feature
Take a input n from the user. My algorithm will find out all the co prime pairs from 1 to n in nlogn time complexity
Example n=6
then the output would be 12 as the co prime pairs will be (1,1),(1,2),(1,3),(1,4),(1,5),(1,6),(2,3),(2,5),(3,4),(3,5),(4,5),(5,6)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIB

[2020-08-21 17:22] ag278 commented on #663
@SKAUL05 @atarax665 @iamrajiv  i would like to implement this issue in c++ language. Please assign me this issue

[2020-08-21 17:25] kushagraiitbbs commented on #663
@atarax665 Sir, I would like to contribute this issue in C language

[2020-08-21 17:44] akanksha-saini commented on #573
I would like to work in C @Kajol-Kumari @SKAUL05

[2020-08-21 17:49] yogesh-kansal commented on #615
I would like to work on this issue in c++.

[2020-08-21 18:09] yogesh-kansal commented on #244
i would like to work on it in c++

[2020-08-21 18:33] kritikaparmar-programmer commented on #545
Can I work on this issue? @atarax665

[2020-08-21 18:50] kritikaparmar-programmer commented on #663
Can I do this in python..? I want to work on it..

[2020-08-21 18:51] bagladivyang03 commented on #648
Hey , @atarax665 Pls review the pr #666 that i have completed the heap sort in C++

[2020-08-21 20:10] SangeetaMishra commented on #588
@VijayaGB98 I would like to contribute in Java.

[2020-08-21 20:12] vgb-codes commented on #244
@atarax665 please check @YashThakare PR.

[2020-08-21 20:13] vgb-codes commented on #244
@yogesh-kansal Cpp code has already been sent for PR. Thus, I cannot assign you Cpp.

[2020-08-21 20:14] vgb-codes commented on #244
@yogesh-kansal on further inspection, I can assign you Cpp. Please go ahead with Cpp.
Please follow the contribution guidelines when submitting your code.

[2020-08-21 20:14] SangeetaMishra commented on #486
@Kajol-Kumari I would like to work on this in C++.

[2020-08-21 20:15] siddharth25pandey commented on #648
@ritvij14 Go ahead

[2020-08-21 20:16] vgb-codes commented on #588
@SangeetaMishra go ahead with Java.
Please follow the contribution guidelines when submitting your code.

[2020-08-21 20:16] SangeetaMishra opened #667 "Manacher's Algorithm"
## 🚀 Feature

Given string s with length n. Find all the pairs (i,j) such that substring s[i…j] is a palindrome. This has to be done in O(N).

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

As it has not been added in any issue in Hakin Codes.

## Pitch

Important a

[2020-08-21 20:17] SangeetaMishra commented on #667
Please assign this issue to me for C++ as a part of Hackin Codes @Kajol-Kumari @HarshCasper @atarax665 @SKAUL05

[2020-08-21 20:18] siddharth25pandey commented on #648
@GajjarMiten Go ahead

[2020-08-21 20:18] siddharth25pandey commented on #648
@Nagasuruthika Go ahead

[2020-08-21 20:34] atarax665 commented on #563
Assigning:
@raksha009 -> Java
@PatelKeviin -> C#
@GajjarMiten -> Golang
@Nagasuruthika -> JavaScript
You all can start working and don't forget to go through contribution guidelines #398 .
Happy Coding!

[2020-08-21 21:02] ritvij14 commented on #667
I would like to take this up in Java.

[2020-08-22 02:36] PatelKeviin commented on #615
I would like to work on this issue in Python. Please assign me, thanks!

[2020-08-22 05:53] sahanabalappa commented on #667
I would like to take up in python

[2020-08-22 05:55] sahanabalappa commented on #547
I would like solve this using java

[2020-08-22 05:56] sahanabalappa commented on #595
I would like to work on this

[2020-08-22 06:43] kashika3101 commented on #632
I would like to work on this issue in C++/C
Please assign it to me.

[2020-08-22 06:51] kashika3101 commented on #578
Please assign me this issue in C.
@Kajol-Kumari @plazzy99

[2020-08-22 06:57] kritikaparmar-programmer commented on #667
I would like to do in C.. @SKAUL05  Please assign me

[2020-08-22 07:44] devanshiv123 opened #670 "Kosaraju's Algorithm(Graphs)"
## 🚀 Feature
Kosaraju's Algorithm is used to find Strongly Connected Components in a Directed Graph.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch
We can find Strongly Connected Components of a directed graph in O(V+E) time complexity using this algorithm.

Assignees:
C:

[2020-08-22 07:47] devanshiv123 commented on #670
Please assign this issue to me in C++ @HarshCasper @SKAUL05  @Kajol-Kumari

[2020-08-22 08:29] akanksha-saini commented on #544
Can I contribute to this issue @HarshCasper as @Kritika37 have closed her PR.

[2020-08-22 09:45] imPGupta commented on #615
I would like contribute in C or C++. Assign me

[2020-08-22 09:50] sahanabalappa commented on #670
Please assign this issue to me in java

[2020-08-22 09:53] sahanabalappa commented on #663
I would like to contribute this issue in Java language

[2020-08-22 11:24] Kritika37 commented on #544
I have closed it for some correction and will be sending new PR soon @akanksha-saini

[2020-08-22 12:18] Ananya88 commented on #547
i would like to work on this in C++,please assign c++ to me @SKAUL05 @Kajol-Kumari @Abhijit2505 @plazzy99 @siddharth25pandey

[2020-08-22 12:20] Ananya88 commented on #499
I would like to contribute in C++ for this ,please assign so @SKAUL05 @Kajol-Kumari @siddharth25pandey

[2020-08-22 13:16] iamrajiv commented on #670
@devanshiv123 Go ahead with C++ and @sahanabalappa Go ahead with Java.

[2020-08-22 13:55] raksha009 opened #673 "Valid Parentheses"
## 💥 Proposal

An input string is valid if:
1.Open brackets must be closed by the same type of brackets.
2.Open brackets must be closed in the correct order.
3.If string is empty.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

I would like to contribute a code for competitive progr

[2020-08-22 14:49] kritikaparmar-programmer commented on #670
Please assign this issue to me, I would like to do in Python..

[2020-08-22 16:09] HarshKhilawala opened #678 "Add Leet-Code Directory to Miscellaneous Directory"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Add Leet-Code Directory into Miscellaneous Folder

[2020-08-22 16:11] HarshKhilawala commented on #678
I would Like to Work on this . So Kindly Assign this to me.

[2020-08-22 18:21] avinashkranjan commented on #667
I would like work on this issue in JavaScript.. @SKAUL05 Please assign me

[2020-08-22 18:27] avinashkranjan commented on #670
I'd like to work on this issue using C..
@iamrajiv if you could assign me, that'd be great

[2020-08-22 18:29] #601 closed, assigned to nobody

[2020-08-22 18:40] iamrajiv commented on #670
@kritikaparmar-programmer Go ahead with Python.

[2020-08-22 18:40] iamrajiv commented on #670
@avinashkranjan Go ahead with C.

[2020-08-22 21:45] muddhit commented on #673
An input string is valid if:
1.Open brackets must be closed by the same type of brackets.
2.Open brackets must be closed in the correct order.
3.If string is empty.
I have read the contributing guidelines on pull requests.
I would like to contribute a code for competitive programming section.
Plz assign me this issue for Java and C++

[2020-08-22 21:50] muddhit opened #686 "Detect Loop in Linked List-JAVA"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Assignees

- Java: @Mukulbaid63
- C++: @yashaswibiyahut

[2020-08-22 21:50] muddhit commented on #686
I want to work on it,so please assign it to me

[2020-08-22 23:20] nutanaarohi123 commented on #617
I would like to work on this issue in Python.
Kindly assign me this task @SKAUL05  @Kajol-Kumari @iamrajiv @siddharth25pandey

[2020-08-22 23:27] nutanaarohi123 commented on #486
I would like to work on this issue in C.kindly assign this issue to me @Kajol-Kumari  @iamrajiv  @siddharth25pandey

[2020-08-23 00:10] nutanaarohi123 commented on #573
I would like to work on this issue in JAVA. Kindly assign this task to me @Kajol-Kumari @SKAUL05 @atarax665 @Abhijit2505

[2020-08-23 05:32] #544 closed, assigned to Kritika37

[2020-08-23 06:28] yashaswibiyahut commented on #686
would like to work on this issue . please assign me @Kajol-Kumari @SKAUL05 @siddharth25pandey @iamrajiv

[2020-08-23 06:42] yashaswibiyahut commented on #609
kindly see the comments and assign me with this issue. @Kajol-Kumari @SKAUL05 @siddharth25pandey  @iamrajiv

[2020-08-23 06:43] yashaswibiyahut commented on #622
kindly see the comments and assign me with this issue. @Kajol-Kumari @SKAUL05 @siddharth25pandey @iamrajiv

[2020-08-23 08:26] iamrajiv commented on #486
@SangeetaMishra Go ahead with C++ and @nutanaarohi123 Go ahead with C.

[2020-08-23 10:48] nutanaarohi123 commented on #486
pls, assign. It's not showing @iamrajiv

[2020-08-23 12:03] HarshCasper commented on #12
@all-contributors please add @bagladivyang03 for code

[2020-08-23 12:18] Huzaib commented on #673
Can I take this up??

[2020-08-23 12:34] GajjarMiten opened #704 "Karatsuba Algorithm for multiplication"
## 🚀 Feature
For systems that need to multiply numbers in the range of several thousand digits, such as computer algebra systems and bignum libraries, long multiplication is too slow. These systems employ [Karatsuba multiplication](https://en.wikipedia.org/wiki/Karatsuba_algorithm).
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/mas

[2020-08-23 14:01] Sapna2001 opened #705 "Bucket Sort"
## 🚀 Feature

Bucket sort in various languages.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

[2020-08-23 14:02] Sapna2001 commented on #705
Please assign me python.

[2020-08-23 16:14] ashishsahu1 commented on #705
I can do it in C

[2020-08-23 16:18] yashaswibiyahut commented on #705
I would like to do this in c++ please assign me @Kajol-Kumari @iamrajiv @siddharth25pandey

[2020-08-23 16:29] yashaswibiyahut commented on #497
Would like to do this in C++ kindly assign me this issue @Kajol-Kumari @SKAUL05

[2020-08-23 16:32] mar-galho commented on #366
I believe I have fixed it now 👍🏻

[2020-08-23 16:32] mar-galho commented on #366
@iamrajiv can you check? We also need a link to the Contributors file in the README.md I guess

[2020-08-23 16:46] #366 closed, assigned to iamrajiv, mar-galho

[2020-08-23 16:49] Huzaib commented on #704
Can I take it up in java?

[2020-08-23 17:26] Neel2904 commented on #704
I want to work on this with python

[2020-08-23 17:39] Ajay0511 commented on #49
I would like to do it in Python @ricardoprins @HarshCasper

[2020-08-23 17:48] vgb-codes commented on #705
This thread is a duplicate of Issue #426. Please do not create duplicate issue threads. Therefore, I am closing this.

[2020-08-23 17:48] #705 closed, assigned to nobody

[2020-08-23 17:56] devanshiv123 commented on #704
I want to work on this issue in C++

[2020-08-23 18:30] devanshiv123 commented on #686
I want to work on it in C++ , please assign it to me @Kajol-Kumari @SKAUL05 @siddharth25pandey @iamrajiv

[2020-08-23 19:00] devanshiv123 opened #740 "Flood Fill Algorithm(Graphs)"
## 🚀 Feature

Flood Fill Algorithm is a simple variant of BFS/DFS which is generally used in case of implicit graphs.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

It is used in some problems of 2-d matrices.

## Assignees

- C++: @devanshiv123
- Python: @sanskarvi

[2020-08-23 19:01] devanshiv123 commented on #740
Please assign it to me in C++ @Kajol-Kumari @SKAUL05 @siddharth25pandey @iamrajiv

[2020-08-23 19:04] vatsalkesarwani12 commented on #508
@Kathan-Vakharia please go with golang for this issue

[2020-08-23 19:08] vatsalkesarwani12 commented on #471
@ritvij14 go ahead with java

[2020-08-23 19:53] sanskarvijpuria commented on #704
Can I work on this in C and Javascript?

[2020-08-23 19:57] sanskarvijpuria commented on #670
Please assign me this, I want to work on this in javascript.

[2020-08-24 02:55] iamrajiv opened #752 "Adding pending contributors to the contributor's list of NeoAlgo"
Adding pending contributors to the contributor's list of NeoAlgo.

Please, comment down if your name is not added in contributors list of NeoAlgo i.e. https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTORS.md

[2020-08-24 05:02] shobhu98 commented on #673
Can  I complete this in Java?

[2020-08-24 05:03] Huzaib commented on #673
I was also asking for java , sorry forgot to mention that.

[2020-08-24 05:26] shobhu98 commented on #673
No issues you can take in Java

[2020-08-24 06:02] SangeetaMishra commented on #486
@iamrajiv  Solved it in C++ #757

[2020-08-24 09:43] sanskarvijpuria commented on #740
Please assign me this in python.

[2020-08-24 10:01] yashaswibiyahut commented on #740
Please assign it to me in Java @Kajol-Kumari @SKAUL05 @siddharth25pandey @iamrajiv

[2020-08-24 11:19] SangeetaMishra opened #764 "Bipartite Graph"
## 🚀 Feature

A basic algorithm to check whether the given graph is bipartite or not. In simple words, whether it can be coloured in two different colours so that every edge connects two vertices with different colours.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

[2020-08-24 11:19] SangeetaMishra commented on #764
Please assign this issue to me for C++ as a part of Hackin Codes @atarax665 @SKAUL05 @iamrajiv

[2020-08-24 11:32] piyushgoell commented on #452
@atarax665 review my PR

[2020-08-24 11:41] yashaswibiyahut commented on #764
Please assign this issue to me for Python as a part of Hackin Codes @atarax665 @SKAUL05 @iamrajiv

[2020-08-24 11:44] yashaswibiyahut commented on #425
I would like to solve this issue in C as a part of HakinCodes 2020.
Please assign it to me :) @Kajol-Kumari @siddharth25pandey

[2020-08-24 11:44] yashaswibiyahut commented on #387
I would like to do this in C as a part of HakinCodes 2020 Contributor's Hack @Kajol-Kumari @Ahana001 @Abhijit2505 @HarshCasper

[2020-08-24 12:36] narayan2111 commented on #387
i would like to work on this issue in Python .
@plazzy99

[2020-08-24 13:00] vgb-codes commented on #704
@Huzaib Go ahead with Java.
@Neel2904 Go ahead with Python.
@devanshiv123 Go ahead with C++.
@sanskarvijpuria Go ahead with Javascript and C.
Please follow the contribution guidelines when submitting your PR.

[2020-08-24 13:10] GajjarMiten commented on #704
@VijayaGB98
I would like to do it in Golang.

[2020-08-24 17:53] Kritika37 commented on #752
I am not added

[2020-08-24 17:59] yashsahay25 commented on #438
@Kajol-Kumari I have made a pull request. Kindly check it.

[2020-08-24 18:49] sahanabalappa commented on #764
assign me for java

[2020-08-24 19:22] yashsahay25 commented on #752
I am not added

[2020-08-24 19:25] yashsahay25 commented on #632
I would like to do it in C. Kindly assign it to me.

[2020-08-24 19:27] iamrajiv commented on #752
@yashsahay2014 can you mention the PR which was made by you and got merged.

[2020-08-24 19:30] iamrajiv commented on #752
@Kritika37 I have added you please take a look https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTORS.md

[2020-08-24 19:34] yashsahay25 commented on #752
@iamrajiv I have made PR which is yet to be merged by you. Issue #641

[2020-08-24 19:51] Kritika37 commented on #752
Thank you

[2020-08-25 03:37] GrayFlash commented on #133
Can I work on JAVA

[2020-08-25 03:39] GrayFlash commented on #141
Can I work on C++

[2020-08-25 03:40] GrayFlash commented on #129
Hi @HarshCasper can I work on Java

[2020-08-25 05:38] pulkitgovrani commented on #399
@siddharth25pandey sir i have implemented stack in javascript. Can you please review it and provide the feedback.
My PR number is  #777

[2020-08-25 07:29] GajjarMiten opened #785 "Playfair Cipher"
## 🚀 Feature
* [Playfair Cipher](https://en.wikipedia.org/wiki/Playfair_cipher)
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

To learn different kinds of Cipher algorithms

## Pitch

Cryptography is an essential way of preventing that from happening. It secures inf

[2020-08-25 09:04] Yash-Thakare22 commented on #785
I would to like work on this issue in C++ and Python

[2020-08-25 09:04] Yash-Thakare22 commented on #740
I would like to work on this issue in C

[2020-08-25 13:27] raksha009 opened #792 "Spiral Matrix"
## 🚀 Feature

Given a matrix of m x n elements (m rows, n columns), return all elements of the matrix in spiral order.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I would like to add an algo for the solution of this problem in competitive problem section.

Plz as

[2020-08-25 13:36] raksha009 commented on #752
Add me too plz
https://github.com/TesseractCoding/NeoAlgo/pull/645

[2020-08-25 13:48] sanskarvijpuria opened #793 "Tower of Hanoi Algorithm"
## 🚀 Feature

Tower of Hanoi Algorithm

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

It is not yet added in this repository and I think it is one of the popular algorithms.

## Pitch

 It uses the divide and conquer method, it reduces the degree of difficulty since

[2020-08-25 13:49] kauravankit25 commented on #793
I want to take this in c++ please assign me

[2020-08-25 13:50] kauravankit25 commented on #792
I want to take this in python please assign me

[2020-08-25 13:51] iamrajiv commented on #752
@raksha009 I have added you please take a look https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTORS.md

[2020-08-25 14:31] SangeetaMishra commented on #793
Please assign this to me in C.

[2020-08-25 14:49] raksha009 commented on #752
Thanks

[2020-08-25 17:39] GrayFlash commented on #792
Please assign Java part to me

[2020-08-25 17:41] GrayFlash commented on #593
I would like to work on it. If available please assign it to me.

[2020-08-25 18:26] ahampriyanshu commented on #793
Can I implement this algorithm in Golang.

[2020-08-25 18:29] ahampriyanshu commented on #588
@VijayaGB98 Please assign this to me in Golang.

[2020-08-25 18:32] ahampriyanshu commented on #426
Please assign this to me in Golang.

[2020-08-25 19:23] PinkyWalia commented on #793
I want to contribute in python. Please assign me

[2020-08-25 20:28] ritvij14 commented on #793
I would like to take this Java as part of CH20.

[2020-08-26 08:21] narayan2111 commented on #792
I would like to work on this issue in C, please assign this to me. @SKAUL05 @Kajol-Kumari @iamrajiv

[2020-08-26 13:02] #466 closed, assigned to Joshitha18, ashishsahu1, chandansahuji, AltCtrlDel1999

[2020-08-26 15:28] sharur7 opened #805 "Minimum Sum Partition Problem"
## 🚀 Feature

__HackinCodes2020 Participant__
#### Minimum Sum Partition Problem:
In this problem given set is partitioned into two subsets such that the difference between the sum of elements of 1st set and the sum of elements of 2nd set is minimized.

Language Supported:

C
CPP
Python
Java
C#
JavaScript
GO

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/Tesse

[2020-08-26 16:22] ritvij14 commented on #805
I would like to take this in Java.

[2020-08-26 17:47] ShristiJalan commented on #793
I want to contribute in Javascript. Please assign me

[2020-08-26 18:20] viveksahu26 commented on #686
I would like to work with this issue in java.. please assign me..

[2020-08-27 01:15] cherryWood55 commented on #752
@iamrajiv my PR is yet to be merged #628 #620

[2020-08-27 01:55] iamrajiv commented on #752
@cherryWood55 I have added you please take a look https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTORS.md

[2020-08-27 04:05] GrayFlash commented on #805
I would like to work on C++

[2020-08-27 04:07] Joshitha18 opened #814 "smallest Subarray with given sum"
## 🚀 Feature

Given an unsorted array of integers(including negative numbers), find the smallest subarray which adds to a given number.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why th

[2020-08-27 04:07] Joshitha18 commented on #814
I'd like to work on it in C++ @Kajol-Kumari

[2020-08-27 04:09] Joshitha18 opened #815 "Count triplets"
## 🚀 Feature

Given an array of distinct integers. The task is to count all the triplets such that sum of two elements equals the third element.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please expla

[2020-08-27 04:10] Joshitha18 commented on #815
I'd like to work on it C++

[2020-08-27 04:17] GrayFlash commented on #815
I'd like to work on Java

[2020-08-27 04:20] GrayFlash commented on #423
@HarshCasper @atarax665 is this issue still available in Java.

[2020-08-27 04:28] GrayFlash opened #816 "Cutting a Rod (DP Algorithm)"
## 🚀 Feature

### Problem Statement:
Given a rod of length n inches and an array of prices that contains prices of all pieces of size smaller than n. Determine the maximum value obtainable by cutting up the rod and selling the pieces.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2020-08-27 04:28] GrayFlash commented on #816
I would like to work on C++ and Java.

[2020-08-27 06:06] devanshiv123 commented on #816
I would like to work in C++

[2020-08-27 06:31] sahanabalappa commented on #805
I would like to work on C

[2020-08-27 06:37] sahanabalappa commented on #815
I'd like to work on it C

[2020-08-27 06:38] sahanabalappa commented on #814
I'd like to work on it in java

[2020-08-27 06:41] sahanabalappa commented on #816
I would like to work in C

[2020-08-27 06:42] sahanabalappa commented on #785
would to like work on this issue in C

[2020-08-27 06:51] yashsahay25 commented on #814
I'd like to work on it in C @Joshitha18

[2020-08-27 11:48] anubhvshrma18 commented on #816
I would like to take this issue in python as a part of HakinCodes

[2020-08-27 12:43] TEJASWI-TEJASWI commented on #793
Hi everyone could anyone pls assign this in c++ to me as a part of Hakincodes
@Abhijit2505 @Kajol-Kumari @siddharth25pandey @plazzy99

[2020-08-27 14:27] nutanaarohi123 opened #825 "Implementation of Matrix Sorting"
## 🚀 Matrix_Sorting

Matrix sorting aims to sort the elements of the given matrix without affecting the matrix structure.
The algorithm takes as input a 2D array of elements and sorts it in the desired order. The elements are present in the desired order once the algorithm stops. Example below:
Input : matrix[][] = { {5, 7, 4},
                    {8, 3, 1},
                    {2, 6, 9} }
Output

[2020-08-27 14:29] nutanaarohi123 commented on #825
I would like to work on this issue in JAVA and C++. Kindly assign this task as a part of Hakincodes 2020. @Kajol-Kumari @SKAUL05 @atarax665 @iamrajiv @siddharth25pandey

[2020-08-27 14:30] nutanaarohi123 commented on #825
Please label this issue as CH20.

[2020-08-27 14:41] SKAUL05 commented on #825
@nutanaarohi123 Can't assign for multiple languages.
Which one do u want

[2020-08-27 14:57] NEEHITGOYAL opened #826 "Activity selection problem"
## 💥 Proposal

You are given n activities (from 0 to n-1) with their start and finish times. Select the maximum number of activities that can be performed by a single person, assuming that a person can only work on a single activity at a time.
For example:
input
3
10 20
12 15
20 30
output:
2
explanation:
Person can only do first and last activity.

### Have you read the [Contributing Guidelines on

[2020-08-27 14:58] NEEHITGOYAL commented on #826
can i work on this issue in cpp as part of hakin codes
@plazzy99 @Kajol-Kumari @routrohan @SKAUL05 @Abhijit2505

[2020-08-27 15:12] rohangawhade commented on #825
I would like to work on this using python.

[2020-08-27 15:16] GrayFlash commented on #825
@SKAUL05 can u assign me JAVA

[2020-08-27 15:17] nutanaarohi123 commented on #825
I would like to work on this issue in JAVA.

[2020-08-27 15:18] GrayFlash commented on #826
@plazzy99 @hushee69 can i work on java

[2020-08-27 15:19] GrayFlash commented on #825
I can C++, if possible to assign me

[2020-08-27 15:48] narayan2111 commented on #825
I would like to work on this issue in C language. Please assign this to me. @SKAUL05

[2020-08-27 15:56] HarshKhilawala commented on #678
I have Created the Pull Request so Kindly Check for it. README file is still incomplete as Needing Help from Project Maintainers for creating README similar like HackerRank  Problems Dash-board. @HarshCasper @iamrajiv

[2020-08-27 16:04] shubham5351 commented on #826
I would like to work on python
@Kajol-Kumari @plazzy99

[2020-08-27 18:17] GrayFlash commented on #825
@SKAUL05  I made a pr for cpp implementation #829 . Can you verify and merge.

[2020-08-27 21:24] kushagraiitbbs opened #832 "Matrix Exponentiation"
## 🚀 Feature
Matrix exponentiation is a technique to find functions like f(n)=a*f(n-1)+b*f(n-2), in O(logn). (where n,a,b are integers)
Here, we are implementing fibonnaci sequence which is f(n)=f(n-1)+f(n-2). So, we are finding nth fibonacci number in O(logn).

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#r

[2020-08-27 21:25] kushagraiitbbs commented on #832
Please assign me this issue in c++ @plazzy99 @SKAUL05 @HarshCasper @atarax665 @iamrajiv

[2020-08-28 04:14] GrayFlash commented on #832
Please assign me this issue in Java

[2020-08-28 06:27] kushagraiitbbs commented on #832
Please add CH20 label to it @SKAUL05 @Abhijit2505 @plazzy99 @Kajol-Kumari @HarshCasper

[2020-08-28 06:29] pulkitgovrani commented on #590
I would like to do this in Javascript @SKAUL05

[2020-08-28 06:31] pulkitgovrani commented on #508
I would like to work on this in Javascript @Kajol-Kumari

[2020-08-28 06:31] devanshiv123 commented on #704
@VijayaGB98 Please add the CH20 label to the issue.

[2020-08-28 06:37] pulkitgovrani commented on #445
I would like to work on this in Javascript @plazzy99

[2020-08-28 06:39] pulkitgovrani commented on #585
I would like to do this in Javascript @SKAUL05

[2020-08-28 07:21] #439 closed, assigned to nutanaarohi123, Joshitha18, AltCtrlDel1999, santushtisharma10

[2020-08-28 07:33] HarshCasper commented on #555
@devanshiv123 I have not assigned you this Issue because you already have two issues under your belt

[2020-08-28 07:43] HarshCasper commented on #497
@yashaswibiyahut You are already working on two issues. Make a PR for them before you move forward with next issues.

[2020-08-28 07:52] ag278 commented on #832
please assign me this issue in c language

[2020-08-28 13:03] vgb-codes commented on #793
@kauravankit25 Go ahead with C++
@SangeetaMishra Go ahead with C
@ahampriyanshu Go ahead with Golang
@PinkyWalia Go ahead with Python
@ritvij14 Go ahead with Java
@ShristiJalan Go ahead with Javascript
@TEJASWI-TEJASWI C++ has been taken, therefore I cannot assign you C++.

[2020-08-28 13:07] vgb-codes commented on #704
@GajjarMiten Go ahead with Golang.

[2020-08-28 13:32] SangeetaMishra commented on #793
Added in C. #842

[2020-08-28 13:38] vatsalkesarwani12 commented on #445
@pulkitgovrani go with js

Happy Coding

[2020-08-28 13:53] kauravankit25 commented on #793
Added in C++

[2020-08-28 17:45] bagladivyang03 opened #845 "Creation and inorder and preorder traversal on Threaded binary tree"
## 💥 Threaded Binary Tree

A binary tree is threaded by making all right child pointers that would normally be null point to the in-order successor of the node (if it exists), and all left child pointers that would normally be null point to the in-order predecessor of the node. So in this program we can perform the following Operations :-
- Creation
- Inorder Traversal using TBT
- Preorder travers

[2020-08-28 17:46] bagladivyang03 commented on #845
@Kajol-Kumari @SKAUL05 @siddharth25pandey @Abhijit2505 @HarshCasper could any of u pls assign me this in C++  and also add relevant labels to it for as a part of hakin codes.

[2020-08-29 05:47] devanshiv123 opened #849 "Implementation of Trie Data Structure"
## 🚀 Feature

Implement Trie Data structure.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Tries can be efficiently used for some problems in contests.

### Assignees and Languages
* @devanshiv123 - **C++**
* @Himanshu70565- **Java**
* @Ajay0511- **Python**
* @Lakh

[2020-08-29 05:47] devanshiv123 commented on #849
I would like to work on it in C++.

[2020-08-29 06:21] Himanshu70565 commented on #849
I would like to implement trie  in java

[2020-08-29 06:30] Ajay0511 commented on #849
I would like to work in Python .

[2020-08-29 06:32] Ajay0511 commented on #805
Iwould like to do it in Python.

[2020-08-29 10:57] Lakhan-Nad commented on #849
I would like to do this in C and JavaScript.

[2020-08-29 14:14] vatsalkesarwani12 commented on #792
@raksha009  assigned Java, Cpp
@kauravankit25 assigned python
@narayan2111 assigned C

[2020-08-29 16:30] NEEHITGOYAL commented on #752
add me too please i have two pr merged @iamrajiv

[2020-08-29 16:36] iamrajiv commented on #752
@NEEHITGOYAL I have added you please take a look https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTORS.md

[2020-08-29 16:56] smv1999 opened #855 "First Missing Positive Number"
## 🚀 Feature

Given an array of integers, find the first missing positive integer in linear time and constant space. In other words,
find the lowest positive integer that does not exist in the array. The array can contain duplicates and negative numbers as well.

For example, the input [3, 4, -1, 1] should give 2. The input [1, 2, 0] should give 3.

You can modify the input array in-place.

### Ha

[2020-08-29 16:57] smv1999 commented on #855
@SKAUL05 @Abhijit2505 @HarshCasper  I want to work on this issue in CPP! Kindly assign me this issue!

[2020-08-29 18:40] devanshi-katyal commented on #855
i would like to work on this issue in python

[2020-08-29 19:07] SangeetaMishra commented on #855
I would like to work in C.

[2020-08-29 20:06] ritvij14 commented on #855
I would like to take this in Java. for CH20

[2020-08-30 04:17] rutujadhanawade commented on #752
@iamrajiv please add me, my 2 PR are merged.

[2020-08-30 04:20] iamrajiv commented on #752
@rutujadhanawade I have added you please take a look https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTORS.md

[2020-08-30 04:24] mharshita commented on #445
@plazzy99 I am dropping this issue. Sorry for the inconvenience.

[2020-08-30 04:49] Abhijit2505 commented on #855
@smv1999 , please get started with the solution in CPP

[2020-08-30 04:51] Abhijit2505 commented on #855
@devanshi-katyal , get started with the solution in Python

[2020-08-30 04:51] Abhijit2505 commented on #855
@SangeetaMishra , please get started with the solution in C.

[2020-08-30 04:52] Abhijit2505 commented on #855
@ritvij14 please get started with the solution in Java

[2020-08-30 07:24] atarax665 commented on #785
@parjanyaacoder @sharanya02 I am closing #519 . You can link your PR to this issue.

[2020-08-30 07:26] atarax665 commented on #785
Sure, you can take this issue in C++.
Don't forget to follow contribution guidelines and make sure that your previous PRs are merged successfully.

[2020-08-30 07:26] atarax665 commented on #519
Visit #785 for Updates.

[2020-08-30 07:26] #519 closed, assigned to parjanyaacoder, sharanya02

[2020-08-30 07:29] atarax665 commented on #785
@ritvij14  Sorry, this issue is already assigned to someone else in Java. You may take up this issue in any other language you're comfortable with.

[2020-08-30 07:30] atarax665 commented on #785
@sahanabalappa You are assigned this issue in C.
Make sure you go through the contribution guidelines first.
Happy coding

[2020-08-30 09:09] sukritidawar opened #860 "Check if 2 strings are anagrams or not"
## 🚀 Feature
Given two strings, check if they are anagrams or not.
An anagram of a string is another string that contains same characters, only the order of characters can be different.
For example: 'word' and 'ordw' are anagrams, 'abcd' and 'abcdb' are not anagrams.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTIN

[2020-08-30 09:09] sukritidawar commented on #860
I would like to work on this issue in c++

[2020-08-30 09:13] AdityaJ7 commented on #860
I would like to work on this issue with python

[2020-08-30 09:54] salonilakhotia commented on #860
I would like to work on java if it is in hakincodes

[2020-08-30 10:01] salonilakhotia commented on #508
@Kajol-Kumari is this issue open to do on java?

[2020-08-30 10:05] salonilakhotia commented on #816
I would like to work on this in java as a part of HakinCodes

[2020-08-30 10:45] AakritiKinra commented on #860
I would like to work on this in C if it is under CH20

[2020-08-30 14:55] KeerthanaHK commented on #845
@Kajol-Kumari  @SKAUL05 @siddharth25pandey @Abhijit2505 @HarshCasper I would like to take up this in C as a part of HakinCodes 2020. Thank you in advance!

[2020-08-30 15:59] AdityaJ7 opened #864 "The REAMDE file under python directory is messed up."
## 📚 Documentation

The readme file under the python directory is messed up and contains repetitive block of documentation. It needs to be fixed.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes.

I would like to work on this

[2020-08-30 16:34] vatsalkesarwani12 commented on #508
@salonilakhotia assigned javascript, go ahead and happy learning.

[2020-08-30 18:11] anubhvshrma18 commented on #864
I want to take this issue as a part of HakinCodes.

[2020-08-31 05:05] sukritidawar opened #868 "Find leftmost non repeating character in a string"
## 🚀 Feature

Given a string, find the index of the leftmost non repeating character in it.
Example: s = "hello", output should be: 0 (index of h)
                s = "aabcdb", output should be: 3 (index of c)
                s = "xxyyzz", output should be -1 (since there is no non repeating character in this string)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.

[2020-08-31 05:06] sukritidawar commented on #868
I would like to work on this issue in C++

[2020-08-31 08:04] Kajol-Kumari commented on #814
@Joshitha18 let's tweak the issue a little bit `find the smallest sub-array that sums to the given number. Please make this modification in the issue description.

[2020-08-31 09:41] salonilakhotia commented on #508
@plazzy99 I think u miss understood me..I would love to it on java :(

[2020-08-31 11:36] salonishah01 commented on #868
I would like to work on this issue in python

[2020-08-31 13:29] vatsalkesarwani12 commented on #508
I am sorry

As java been assigned to someone you have to wait or ask a mentor to assign some other issue

[2020-08-31 13:35] imPGupta commented on #793
@VijayaGB98, I want to contribute in C#.

[2020-08-31 15:32] Joshitha18 commented on #814
@Kajol-Kumari done

[2020-08-31 16:21] atarax665 commented on #864
I have edited the README.md file.

[2020-08-31 16:21] #864 closed, assigned to nobody

[2020-08-31 17:41] ritvij14 commented on #868
I would like to take this in Java for CH20

[2020-08-31 17:54] Anshoo-Rajput commented on #868
I would like to work on this issue in C

[2020-08-31 18:34] mannika16161 opened #872 "Binary Tree traversals have been written in the section of graphs in C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-08-31 18:37] mannika16161 opened #873 "detect loop in graph (c++)"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how i

[2020-08-31 18:37] mannika16161 commented on #873
I can do it.

[2020-08-31 19:10] vgb-codes commented on #793
@imPGupta Go ahead with C#

[2020-08-31 19:13] vgb-codes opened #874 "Add folder for Julia submissions."
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, indeed.

## Motivation

Add folder for Julia submissions.

## Pitch

Julia is a high-level language that is great for scientific computing. I believe that it woul

[2020-08-31 19:54] NEEHITGOYAL opened #875 "AGGRESSIVE COWS"
## 💥 Proposal
### Not part of Contributor's Hack 2020

Farmer John has built a new long barn, with N (2 <= N <= 100,000) stalls. The stalls are located along a straight line at positions x1,…,xN (0 <= xi <= 1,000,000,000).

His C (2 <= C <= N) cows don't like this barn layout and become aggressive towards each other once put into a stall. To prevent the cows from hurting each other, FJ wants to as

[2020-08-31 19:55] NEEHITGOYAL commented on #875
i would like to work on this issue in c++ as part of hakin codes
@SKAUL05 @Abhijit2505 @plazzy99 @Kajol-Kumari

[2020-08-31 20:53] ritvij14 commented on #875
I would like to take this in Java for CH20.

[2020-09-01 04:27] Anshoo-Rajput commented on #874
@VijayaGB98 Can I work on this issue?

[2020-09-01 11:27] SangeetaMishra commented on #855
Solve it in C. #882 @Abhijit2505  @SKAUL05  @siddharth25pandey  @iamrajiv

[2020-09-01 12:44] vgb-codes commented on #875
The name of the problem LOL
@NEEHITGOYAL Go ahead with C++
@SangeetaMishra Go ahead with C
@ritvij14 Go ahead with Java

[2020-09-01 14:00] Adityanagraj commented on #814
Can we work on python for this issue @Joshitha18

[2020-09-01 16:39] narayan2111 commented on #632
i would like to work on this issue in python @HarshCasper @plazzy99 @atarax665 @Abhijit2505 @iamrajiv

[2020-09-01 17:37] bagladivyang03 commented on #845
@Kajol-Kumari @SKAUL05 @siddharth25pandey @Abhijit2505 @HarshCasper Could u pls assign and add relevant labels so that we can start doing the code :)

[2020-09-01 19:07] raksha009 commented on #673
@Kajol-Kumari @SKAUL05 plz assign and look into this issue

[2020-09-02 00:21] #17 closed, assigned to SRILEKHA-V19, Dhairya3124, asaxena012

[2020-09-02 03:29] ritvij14 commented on #471
@plazzy99 I would like to drop this issue, so I have removed my assignment.

[2020-09-02 03:31] salonishah01 commented on #875
I would like to work on this in python

[2020-09-02 05:02] devanshiv123 opened #887 "Add a section for AtCoder DP Problems"
## 🚀 Feature

A section for AtCoder DP Problems should be added. There are 26 problems from Educational DP contest. They would help in grasping concepts.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Good problems to have a hold on Dynamic Programming.

## Pitch

(

[2020-09-02 05:03] devanshiv123 commented on #887
I would like to work on it. I would also like to add problems in c++.

[2020-09-02 08:08] anubhvshrma18 commented on #764
Please assign this issue to me in javascript as a part of HakinCodes

[2020-09-02 10:40] yashaswibiyahut commented on #826
i want to work on this issue in c as part of hakin code @Kajol-Kumari @routrohan @SKAUL05 @Abhijit2505

[2020-09-02 14:10] coolpydev commented on #875
will there be only one test case or multiple test cases such as

5 3
1 2 4 8 9

6 3
1 6 7 8 9 21

can i solve it in python/java

[2020-09-02 17:43] NEEHITGOYAL commented on #875
@coolpydev I HAVE MADE ISSUE FOR SINGLE TEST CASE YOU MAY MAKE ANOTHER ISSUE IF U WANNA ADD MULTIPLE TEST CASES

[2020-09-02 17:45] prasadvpatil commented on #617
Hey its been a long time and C++ solution is not yet done.
I want to work on this issue using C++, Please assign me with this issue. @SKAUL05 @siddharth25pandey @atarax665 @Abhijit2505

[2020-09-02 18:24] siddharth25pandey commented on #617
@prasadvpatil For C++, another participant was already assigned.
Better to look on some different issue.

[2020-09-02 18:27] gupta-piyush19 commented on #617
@siddharth25pandey , i was assigned for C++ but due to some other important work I am not able to work on this, so you can assign it to @prasadvpatil

[2020-09-02 18:33] siddharth25pandey commented on #617
@prasadvpatil Assigned you!
Go ahead

[2020-09-03 00:21] #67 closed, assigned to sparkingdark

[2020-09-03 05:10] salonilakhotia commented on #860
@Kajol-Kumari  I  have made the PR in java. Kindly review it
https://github.com/TesseractCoding/NeoAlgo/pull/892

[2020-09-03 05:27] nutanaarohi123 commented on #436
I would like to work on this issue in C.
Kindly assign me this issue @HarshCasper @iamrajiv @Kajol-Kumari @atarax665 @Abhijit2505

[2020-09-03 05:34] nutanaarohi123 commented on #686
I would like to work on this issue in Python .Kindly assign @HarshCasper @Kajol-Kumari

[2020-09-03 05:45] nutanaarohi123 commented on #515
I would like to work on this issue in C. Kindly assign @HarshCasper @atarax665 @Abhijit2505

[2020-09-03 14:30] raksha009 opened #900 "Container with most Water"
## 🚀 Feature

Given n non-negative integers a1, a2, ..., an , where each represents a point at coordinate (i, ai). n vertical lines are drawn such that the two endpoints of line i is at (i, ai) and (i, 0). Find two lines, which together with x-axis forms a container, such that the container contains the most water.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.co

[2020-09-03 17:57] devanshiv123 commented on #900
I would like to contribute in C++

[2020-09-04 00:21] #137 closed, assigned to keshav304, asaxena012

[2020-09-04 04:10] ritvij14 commented on #648
@siddharth25pandey could you also put a difficulty tag on this issue? It will help all the assigned contributors to keep track of their progress.

[2020-09-04 05:44] Akanksha-Pant opened #908 "Count the number of binary strings"
## 🚀 Feature
I want to add the code for calculating total number of binary strings for a given length which do not have
consecutive one's in it . I want to add this to dynamic programming. I want to work with java.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

It w

[2020-09-04 06:25] yashaswibiyahut commented on #908
I would like to work on this issue in cpp.please assign me as a part of Hakin codes @SKAUL05 @siddharth25pandey @Kajol-Kumari @iamrajiv

[2020-09-04 06:29] yashaswibiyahut commented on #872
Can you Please elaborate this issue so that i can work on it as a part of hakin codes.

[2020-09-04 07:11] rutujadhanawade opened #909 "Merge without extra space"
## 🚀 Feature

Given two sorted arrays arr1[] and arr2[] in non-decreasing order with size n and m. The task is to merge the two sorted arrays in place, i. e., we need to consider all n + m elements in sorted order, then we need to put first n elements of these sorted in the first array and remaining m elements in the second array.

### Have you read the [Contributing Guidelines on Pull Requests](h

[2020-09-04 07:12] rutujadhanawade commented on #909
I want to do this in C++.
@siddharth25pandey  @Kajol-Kumari @iamrajiv
Please add labels and assign this issue to me in c++.

[2020-09-04 07:15] sheenxavi004 opened #910 "Knapsack Problem using Dynamic Programming"
## 💥 Proposal
Knapsack Problem using Dynamic Programming

The Knapsack Problem is well know problem in Dynamic Problem used to group quantities having higher values in a fixed weight Constraint. I would like to provide the implementation of the same in C++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#report

[2020-09-04 07:15] sheenxavi004 commented on #910
Please assign me the task @SKAUL05 @

[2020-09-04 07:21] vatsalkesarwani12 commented on #387
@Ahana001 - C#
@salonilakhotia  - JAVA
@aniketsingh98571  -cpp
@yashaswibiyahut  -c
@narayan2111 -python

Go ahead
Happy Coding!!

[2020-09-04 07:31] #910 closed, assigned to nobody

[2020-09-04 07:52] narayan2111 commented on #909
i would like to work on this issue in Python. @siddharth25pandey @Kajol-Kumari @iamrajiv

[2020-09-04 08:32] SangeetaMishra commented on #548
@plazzy99 I would like to work in C.

[2020-09-04 12:14] ritvij14 commented on #909
I would like to take this in Java for CH20.

[2020-09-04 18:45] prasadvpatil commented on #648
I would like to work on this issue in C @atarax665

[2020-09-04 20:46] ag278 commented on #909
I would like to solve this issse in C language as a part of CH20. Please assign me this issue

[2020-09-04 21:16] shobhu98 opened #916 "Binary Search Tree in JAVA(Data Structure)"
Code for Binary Search Tree is missing in JAva Data Structure and I would like to contribute the code for it.

[2020-09-05 03:42] rohangawhade opened #917 "Longest Common Prefix [CH20]"
## 🚀 Feature

Given array of strings, find the longest common prefix present in all the strings. Print the longest common prefix. If no common prefix is present, then print empty string ("").

example: input: "apple", "appology", "apps"
output: "app"

example: input: "dog", "cat", "lion"
output: ""

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding

[2020-09-05 03:42] rohangawhade commented on #917
I would like to work on this in Java for CH20.

[2020-09-05 05:11] devanshiv123 commented on #917
I would like to work in C++ for the issue.

[2020-09-05 06:50] narayan2111 commented on #917
i would like to work on this issue in Python

[2020-09-05 07:00] bagladivyang03 commented on #917
i would like to work in C for this issue.

[2020-09-05 13:57] vatsalkesarwani12 commented on #548
@SangeetaMishra go with C
Happy Coding!!

[2020-09-05 15:29] smv1999 opened #922 "Finding the Numbers"
## 🚀 Feature

You are given an array arr containing 2*N+2 positive numbers, out of which 2*N numbers exist in pairs whereas the other two number occurs exactly **once** and are **distinct**. You need to find the other two numbers and print them in **ascending** order.
Input:
2 (N)
1 2 3 2 1 4  (Array Elements)

Output:
3 4

### Have you read the [Contributing Guidelines on Pull Requests](https://g

[2020-09-05 15:30] smv1999 commented on #922
@SKAUL05 @Abhijit2505 @siddharth25pandey  @HarshCasper  I would like to work on this issue in CPP. Please assign me this issue!

[2020-09-05 16:16] narayan2111 commented on #922
I also would like to work on this issue in C

[2020-09-05 16:21] Kajol-Kumari commented on #805
@GrayFlash as c++ is already taken up by @sharur7 can't assign it to you. Feel free to claim any other issues.
@sharur7 : c++
@Ajay0511 : Python
@ritvij14 : Java
@sahanabalappa : C

GO ahead!

[2020-09-05 16:23] ritvij14 commented on #805
@Kajol-Kumari please also add a tag for its difficulty level.

[2020-09-05 16:29] ritvij14 commented on #922
I would like to work on this in Java

[2020-09-05 16:58] bagladivyang03 opened #923 "Addition of Polynomial and evaluation using circular linked lists"
## 💥 Proposal
A program for calculating the sum of two polynomials and also for evaluation of polynomial by accepting the variable values.
This issue is good for building concepts in linked lists .

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-09-06 00:22] #177 closed, assigned to sparkingdark, mar-galho

[2020-09-06 03:22] TEJASWI-TEJASWI commented on #916
I would like to work on this issue in C++ .
 @Harsh Bardhan Mishra (PA) @Kajol(M) @Siddharth Pandey(M)   @Abhijit Tripathy(M) @plazzy99

[2020-09-06 03:24] TEJASWI-TEJASWI commented on #908
i would like to work on this issue in c++ as part of hakin codes
@SKAUL05 @Abhijit2505 @plazzy99 @Kajol-Kumari

[2020-09-06 03:25] TEJASWI-TEJASWI commented on #917
i would like to work on this issue in c++ as part of hakin codes
@SKAUL05 @Abhijit2505 @plazzy99 @Kajol-Kumari

[2020-09-06 03:25] TEJASWI-TEJASWI commented on #873
i would like to work on this issue in c++ as part of hakin codes
@SKAUL05 @Abhijit2505 @plazzy99 @Kajol-Kumari

[2020-09-06 03:26] TEJASWI-TEJASWI commented on #832
i would like to work on this issue in c++ as part of hakin codes
@SKAUL05 @Abhijit2505 @plazzy99 @Kajol-Kumari

[2020-09-06 03:28] TEJASWI-TEJASWI commented on #661
i would like to work on this issue in c++ as part of hakin codes
@SKAUL05 @Abhijit2505 @plazzy99 @Kajol-Kumari

[2020-09-06 05:51] devanshiv123 commented on #923
I would like to work on the issue in C++.

[2020-09-06 06:25] sahanabalappa opened #925 "Sorting Algorithm:Cocktail Sort"
Bubble sort algorithm can be further optimized with the help of **Cocktail Sort**. Here instead of moving in one direction from left to right we move in the opposite direction right to left. Hence, once we move the largest element towards the right, while returning back to the initial position, we take the smallest element to the left.
**Cocktail sort** will be faster then **bubble sort**, but it

[2020-09-06 06:27] sahanabalappa commented on #925
I would like to work on this issue in C

[2020-09-06 06:35] ritvij14 commented on #925
I would like to take this in Java for HakinCodes CH20.

[2020-09-06 06:51] TEJASWI-TEJASWI commented on #925
I would like to work on this issue in C++ .
Please assign this task to me @plazzy99 @SKAUL05 @Abhijit2505 @atarax665

[2020-09-06 07:42] rutujadhanawade commented on #925
I would like to take this issue in Python.

[2020-09-06 12:54] vgb-codes commented on #588
@ahampriyanshu Go ahead with Golang.

[2020-09-06 18:30] siddharth25pandey commented on #875
### This issue is not the part of Contributor's Hack 2020
**Reason:**
As this is a **Problem set Question**, not any **Algorithm or Data Structure** Implementation, we cannot add this issue as part of Hakincodes 2020

[2020-09-06 19:31] NEEHITGOYAL commented on #875
@siddharth25pandey  what is the folder **cp** for and also the folder **others** many issues as a problem statement were issues has been added as part of hakin codes kindly add it as part of hakin codes it is a good prob. for understanding binary search

[2020-09-07 00:57] raksha009 opened #929 "String to int (atoi)"
## 🚀 Feature

Implement atoi which converts a string to an integer.

The function first discards as many whitespace characters as necessary until the first non-whitespace character is found. Then, starting from this character, takes an optional initial plus or minus sign followed by as many numerical digits as possible, and interprets them as a numerical value.

The string can contain additional c

[2020-09-07 01:21] raksha009 commented on #909
I would like to work on this issue in java.

[2020-09-07 02:00] Abhijit2505 commented on #436
@nutanaarohi123 , get started with C

[2020-09-07 02:01] Abhijit2505 commented on #515
@nutanaarohi123, please get started with C

[2020-09-07 02:02] Abhijit2505 commented on #515
@SangeetaMishra, in CH20, it's first come first serve for the issues. C has been assigned.

[2020-09-07 03:57] ymaheshwari1 commented on #633
@atarax665 Please add the CH20 so that the issue will be counted in the Contributor's Hack and also add the difficulty label.

[2020-09-07 04:12] ag278 opened #930 "Double factorial"
## 🚀 Feature

Double factorial of a non-negative integer n is defined as the product of all the integers from 1 to n that have the same parity (odd or even) as n.  It is also called as semifactorial of a number and is denoted by n!!

### Have you read the [Contributing Guidelines on Pull Requests]
(https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-09-07 04:13] ag278 commented on #930
@SKAUL05 @atarax665 @Abhijit2505 @iamrajiv I want to solve this issue in c++ language as a part of CH20. Please assign me this issue

[2020-09-07 04:54] iamrajiv commented on #930
@ag278 Ok, make sure you add both iterative and recursive method.

[2020-09-07 05:00] siddharth25pandey commented on #875
@NEEHITGOYAL There are plenty of Questions in CP which needs implementation of DS & Algo, which doesn't mean we can add each of them.
* Conclusion
 This issue **cannot** be added as part of CH20 due to [this](https://github.com/TesseractCoding/NeoAlgo/issues/875#issuecomment-687863770) reason.
**Instead of discussing here, better to search for other issues**,
Thanks!

[2020-09-07 05:00] ag278 commented on #930
@iamrajiv could you please add CH20 and level tag as well

[2020-09-07 05:03] ag278 commented on #930
@iamrajiv  could you please add the level tag for this problem

[2020-09-07 05:15] rutujadhanawade commented on #930
I would like to do this in java or python

[2020-09-07 05:26] bagladivyang03 commented on #930
i want to do in c pls assign me

[2020-09-07 05:51] ritvij14 commented on #930
I would like to take this in Java @iamrajiv

[2020-09-07 11:05] coolpydev commented on #875
@NEEHITGOYAL  can you assign me to complete this program in python. I've the repository ready in my profile for multiple inputs as it was in SPOJ.

[2020-09-07 11:06] NEEHITGOYAL commented on #875
@coolpydev  I m not mentor

[2020-09-07 13:05] vatsalkesarwani12 opened #936 "Brackets"
## 🚀 Competitive Programming Question

Write a program to check valid brackets inputs

Sample
Input:
{ ( [ ] ) } ( ) { } [ ]

Output:
True

Input:
{ { ] } ) ( )

Output ;
False

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes

[2020-09-07 13:32] imPGupta commented on #334
@atarax665 I want to contribute to this issue either in **C** or **C++**

[2020-09-07 13:43] anime19 commented on #936
I would like to take this issue in JAVA as partcipant at HakinCodes
Please assign it to me.

[2020-09-07 14:27] AltCtrlDel1999 commented on #936
I would like to work on it in c++

[2020-09-07 14:53] SangeetaMishra commented on #936
I would like to work in C.

[2020-09-07 14:55] narayan2111 commented on #936
I would like to work in python

[2020-09-07 15:47] vatsalkesarwani12 commented on #936
@anime19  - JAVA
@AltCtrlDel1999 - C++
@SangeetaMishra - C
@narayan2111 - PYTHON

[2020-09-07 15:50] #936 closed, assigned to nobody

[2020-09-07 16:02] SangeetaMishra commented on #588
@siddharth25pandey  Is this part of CH20 ?

[2020-09-07 18:35] siddharth25pandey commented on #673
@raksha009 This issue is  already exist [here](https://github.com/TesseractCoding/NeoAlgo/issues/488).
Before creating an issue please check its pre-existence.
Thanks!

[2020-09-07 18:35] #673 closed, assigned to nobody

[2020-09-07 18:50] siddharth25pandey commented on #588
@SangeetaMishra Yes, Absolutely

[2020-09-07 20:40] ag278 commented on #930
@iamrajiv do I need to make seperate files for both or I can add the iterative and recursive approach in the same file itself

[2020-09-08 02:38] gupta-piyush19 commented on #930
@iamrajiv I would like to work on this issue in JavaScript.

[2020-09-08 04:38] sukritishah15 opened #937 "Maximum Sum Rectangle"
## 🚀 Feature
Given a 2D array, find the maximum sum rectangle in it. In other words find maximum sum over all rectangles in the matrix.

Sample Input
4 5
1 2 -1 -4 -20
-8 -3 4 2 1
3 8 10 1 3
-4 -1 1 7 -6

Sample Output
29

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivatio

[2020-09-08 04:39] sukritishah15 commented on #937
I would like to implement this in C++ as a part of CH20.
@SKAUL05 @atarax665 @Abhijit2505 @iamrajiv Please assign me this issue. Thank you!

[2020-09-08 04:52] ritvij14 commented on #937
I would like to take this in Java as a part of CH20.

[2020-09-08 04:57] sukritishah15 opened #939 "Maximum Square Matrix With All 1s"
## 🚀 Feature
Given an n*m matrix which contains only 0s and 1s, find out the size of maximum square sub-matrix with all 1s. You need to return the size of the side of maximum/largest square with all 1s.

Sample Input :
3 3
0 0 1
0 0 0
0 0 0

Sample Output :
1

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#rep

[2020-09-08 04:58] sukritishah15 commented on #939
I would like to implement this in C++ as a part of CH20.
@SKAUL05 @atarax665 @Abhijit2505 @iamrajiv Please assign me this issue. Thank you!

[2020-09-08 05:06] ritvij14 commented on #939
I would like to take this in Java as a part of CH20.

[2020-09-08 05:25] nutanaarohi123 commented on #939
I would like to take this issue in C.

[2020-09-08 05:28] rutujadhanawade commented on #939
I would like to take this in python

[2020-09-08 06:41] iamrajiv commented on #930
@ag278 Add both the ways in the same file.

[2020-09-08 08:36] iamrajiv opened #941 "Add Code Inspector GitHub Action"

[2020-09-08 08:37] SangeetaMishra commented on #667
@atarax665  @iamrajiv Solved it in C++
Can you assign it to me for C as well

[2020-09-08 08:44] iamrajiv commented on #667
@SangeetaMishra Go ahead with C.

[2020-09-08 09:46] ymaheshwari1 commented on #941
I am interested in working on this.

[2020-09-08 09:57] iamrajiv opened #945 "Connect links of pending programs in README.md"
## 📚 Documentation

Many of programs in `C-Plus-Plus`, `C-Sharp`, `C`, `Go`, `Java`, `JavaScript`, `Python` and `Q-Sharp` are not linked to there respective README files. Go through the files and check which program have not linked and link that program to the README. It would be nice if the programs are organised in alphabetical order. Also, make sure the markdowns are formatted using Prettier yo

[2020-09-08 10:00] AdityaJ7 commented on #945
I would like to solve the python part

[2020-09-08 10:00] ymaheshwari1 commented on #945
I like to work on the Java section

[2020-09-08 13:00] ymaheshwari1 commented on #633
@iamrajiv Please label the issue

[2020-09-08 13:08] AdityaJ7 commented on #945
Can I work on the C language part of the issue?

[2020-09-08 13:40] SangeetaMishra commented on #945
I want to work in Go.

[2020-09-08 15:06] narayan2111 commented on #945
I want to work in C++

[2020-09-08 15:13] ritvij14 commented on #945
I would like to take the Javascript section.

[2020-09-08 15:25] rutujadhanawade commented on #945
I want to take the C-sharp section

[2020-09-08 17:01] raksha009 commented on #945
I would like to work for Qsharp

[2020-09-08 18:27] raksha009 opened #955 "Remove Outermost Parantheses"
## 🚀 Feature

A valid parentheses string is either empty (""), "(" + A + ")", or A + B, where A and B are valid parentheses strings, and + represents string concatenation.  For example, "", "()", "(())()", and "(()(()))" are all valid parentheses strings.
A valid parentheses string S is primitive if it is nonempty, and there does not exist a way to split it into S = A+B, with A and B nonempty vali

[2020-09-08 18:46] raksha009 commented on #945
@iamrajiv  What do I change in readme of q-sharp. There isn't even a single code added there.

[2020-09-08 19:00] iamrajiv commented on #945
@raksha009 Ok than leave that.

[2020-09-08 19:10] iamrajiv commented on #955
@raksha009 Choose any one language C++ or Java.

[2020-09-08 19:11] raksha009 commented on #955
Java😅

[2020-09-08 19:12] raksha009 commented on #929
@iamrajiv Plz assign me this issue too in java.
Thanks

[2020-09-08 19:16] iamrajiv commented on #955
@raksha009 Go ahead with Java.

[2020-09-09 03:47] salonishah01 commented on #955
Can I take up this problem in python?

[2020-09-09 05:36] yashaswibiyahut commented on #955
I would like to do in cpp please assign me this issue. @iamrajiv

[2020-09-09 06:58] iamrajiv commented on #955
@salonishah01 Go ahead with Python.

[2020-09-09 06:59] iamrajiv commented on #955
@yashaswibiyahut Go ahead with C++.

[2020-09-09 14:11] HarshCasper commented on #900
Assigned this to you @raksha009 in C++

[2020-09-09 14:12] HarshCasper commented on #929
Assigned to you in C++ @raksha009

Complete your previous Issues before I assign you in Java as well

[2020-09-09 14:19] raksha009 commented on #929
Sorry for the confusion, i'll work on c++ 😅

[2020-09-09 14:50] ritvij14 commented on #955
I would like to take this in Javascript for CH20.

[2020-09-09 19:07] ag278 commented on #663
@iamrajiv @SKAUL05 @siddharth25pandey @plazzy99 please have a look at my issue

[2020-09-09 19:30] raksha009 commented on #900
Done. Plz assign me this issue in java too.

[2020-09-10 05:29] ag278 commented on #955
I would like to take this in issue in C for CH20.

[2020-09-10 16:39] Mohitkumar6122 opened #972 "Encryption Algorithm using Tree or Graph"
## Feature
Most Algorithm uses key to encrypt the data.But by using tree or graph and by any suitable method (using xor, ascii , position of characters) we can encrypt and decrypt data without using explicit keys. Further it will a fun project .

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-iss

[2020-09-10 16:40] Mohitkumar6122 commented on #972
I would like to do this in C++ for CH20 @siddharth25pandey @Kajol-Kumari @iamrajiv @HarshCasper

[2020-09-10 16:58] Kajol-Kumari commented on #925
Please go ahead with this issue.
C: @sahanabalappa
Java: @ritvij14
C++ : @TEJASWI-TEJASWI
Python: @rutujadhanawade

[2020-09-11 03:10] aniketsingh98571 commented on #387
@plazzy99 @Kajol-Kumari @atarax665

[2020-09-11 03:20] AdityaJ7 commented on #972
I would like to do this in Python

[2020-09-11 03:26] AdityaJ7 commented on #929
Can i work on this with python?

[2020-09-11 04:40] ritvij14 commented on #945
@iamrajiv there is a problem, all Java links for Sorting have been moved from the `Sorting` heading to the `Competitive programming` heading. Is that fine or should I change it??

It turned out this way due to #948

[2020-09-11 04:47] ymaheshwari1 commented on #945
@ritvij14 Let me check

[2020-09-11 04:58] ymaheshwari1 commented on #945
@ritvij14 Please look at this commit https://github.com/TesseractCoding/NeoAlgo/pull/948/commits/65aa2b1d4871ac60a8f0ba891167ffdafa7e739b
The problem is not due to #948 . I think it is due to something else.

[2020-09-11 05:01] ritvij14 commented on #945
@ymaheshwari1 oh yes you are right, it does seem to be from something else.
@iamrajiv sir, how should we proceed? I just made a PR #973, should I resolve it in that only?

[2020-09-11 05:09] ymaheshwari1 commented on #945
@ritvij14 @iamrajiv It is due to this commit https://github.com/TesseractCoding/NeoAlgo/commit/a6eaa72a36eaaa3df32666972d7d82a3f640b1f8#diff-057b6dba29349d96ba09dd23a6a146ba

[2020-09-11 05:30] parjanyaacoder opened #974 "Vigenere Cipher Algorithm"
Vigenere Cipher Algorithm is a famous cryptographic algorithm.  Vigenère cipher is a method of encrypting alphabetic text by using a series of interwoven Caesar ciphers
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch

The repository currently lacks this algorithm. It should

[2020-09-11 05:30] parjanyaacoder commented on #974
@atarax665 @iamrajiv @siddharth25pandey
I would like to implement it in Java. Please assign.

[2020-09-11 07:19] rutujadhanawade commented on #974
I would like to do this in python.

[2020-09-11 07:56] Halix267 commented on #974
I would also like to work on this issue in python

[2020-09-11 10:21] ishi0301 opened #976 "Sudoku Solver"
## 🚀 Feature

Given a partially filled 9×9 2D array ‘grid[9][9]’, the goal is to assign digits (from 1 to 9) to the empty cells so that every row, column, and subgrid of size 3×3 contains exactly one instance of the digits from 1 to 9.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

[2020-09-11 10:28] ishi0301 opened #977 "Bucket Sort"
## 🚀 Feature

Bucket Sort is a sorting technique that sorts the elements by first dividing the elements into several groups called buckets. The elements inside each bucket are sorted using any of the suitable sorting algorithms or recursively calling the same algorithm.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBU

[2020-09-11 10:33] ritvij14 commented on #977
I think this is the same as #426

[2020-09-11 10:34] ritvij14 commented on #976
I would like to take this in Java as a part of CH20

[2020-09-11 10:38] #977 closed, assigned to nobody

[2020-09-11 10:40] mahimagoyalx opened #978 "Russian Peasant algorithm"
## 🚀 Feature

Russian Peasant algorithm to multiply two long numbers.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I want to solve this issue as a part of CH20.

## Pitch

It is a quick way to convert two numbers to binary form, multiply them together, and convert

[2020-09-11 10:43] mahimagoyalx commented on #978
I would like to implement this in C++ as a part of CH20.
@SKAUL05 @atarax665 @Abhijit2505 @iamrajiv Please assign me this issue. Thank you!

[2020-09-11 10:47] ritvij14 commented on #978
I would like to take this in java and javascript as part of CH20.

[2020-09-11 10:56] narayan2111 commented on #976
I would like to take this issue in C++

[2020-09-11 10:59] narayan2111 commented on #978
I would like to work on this issue in python

[2020-09-11 11:00] ishi0301 commented on #976
@HarshCasper @Abhijit2505  @iamrajiv @atarax665 @SKAUL05 I would like to implement this in C++ as a part of CH20. Please assign me this issue.

[2020-09-11 11:33] ishi0301 opened #979 "Subsequences of a string using Bit manipulation"
## 🚀 Feature

Given a string s, print all possible subsequences of the given string using BIT MANIPULATION

### Have you read the [Contributing Guidelines on Pull Requests]
Yes

[2020-09-11 11:34] ishi0301 commented on #979
@HarshCasper @Abhijit2505 @SKAUL05 @iamrajiv @atarax665  I would like to implement this in C++ as a part of CH20. Please assign me this issue

[2020-09-11 11:37] SangeetaMishra commented on #974
I would like to work in C++

[2020-09-11 11:37] SangeetaMishra commented on #978
I would like to work in C.

[2020-09-11 12:19] mahimagoyalx opened #980 "Swap Two Nibbles"
## 🚀 Feature

Given a byte, swap the two nibbles in it.

For example 100 is be represented as 01100100 in a byte (or 8 bits). The two nibbles are (0110) and (0100). If we swap the two nibbles, we get 01000110 which is 70 in decimal.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

#

[2020-09-11 12:20] mahimagoyalx commented on #980
I would like to implement this in C++ as a part of CH20.
@HarshCasper @SKAUL05 @atarax665 @Abhijit2505 @iamrajiv Please assign me this issue. Thank you!

[2020-09-11 13:08] ritvij14 commented on #980
I would like to take this in Java for CH20.

[2020-09-11 14:02] narayan2111 commented on #980
I would like to work on this issue in python

[2020-09-11 15:18] raksha009 commented on #976
I would like to take this issue in python.

[2020-09-11 18:36] #648 closed, assigned to GajjarMiten, ritvij14, rgrupesh, avinashkranjan, bagladivyang03, Nagasuruthika

[2020-09-11 20:28] ag278 commented on #980
I would like to solve this issue in C for CH20

[2020-09-11 20:59] iamrajiv opened #985 "Format all Python programs according to PEP 8 rules which are not formatted"
## 🐛 Bug Report

Many of the Python programs are not formatted according to PEP 8 rules. It would be nice if all the programs get formatted according to PEP 8 rules which are not formatted. I would recommend using Sublime Package Control or Visual Studio Code Extensions so that the programs get formatted easily. You can also use https://pypi.org/project/autopep8/ and https://github.com/google/yapf

[2020-09-12 03:38] mahimagoyalx opened #987 "Unique Number-II"
## 🚀 Feature

Given an array A containing 2*N+2 positive, out of which 2*N numbers exist in pairs whereas the other two number occur exactly once and are distinct. Find the other two numbers  (in ascending order).

Sample Input:
1 2 4 2 1 3

Sample Output:
3 4

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#re

[2020-09-12 03:39] mahimagoyalx commented on #987
I would like to implement this in C++ as a part of CH20.
@SKAUL05 @atarax665 @Abhijit2505 @iamrajiv @HarshCasper  Please assign me this issue. Thank you!

[2020-09-12 03:56] ishi0301 opened #988 "Unique Number-III"
## 🚀 Feature
Given an array that contains all elements occurring 3 times, but one occurs only once. Find that unique element.
Input  : arr[] = {6, 2, 5, 2, 2, 6, 6}

Output: 5

### Have you read the [Contributing Guidelines on Pull Requests]
Yes

## Motivation
I want to solve this issue as a part of CH20.

## Pitch
We can use bitwise AND to find the unique element in O(n) time and constant extra s

[2020-09-12 03:58] ishi0301 commented on #988
@HarshCasper @Abhijit2505 @iamrajiv @atarax665 @SKAUL05. I would like to implement this in C++ as a part of CH20.Please assign me this issue. Thank you!

[2020-09-12 04:04] mahimagoyalx commented on #976
I would like to take this issue in C.

[2020-09-12 04:06] ishi0301 commented on #987
I would like to implement this in C. @HarshCasper @Abhijit2505 @atarax665 @SKAUL05.

[2020-09-12 04:06] ritvij14 commented on #987
I would like to try this in java for CH20.

[2020-09-12 04:07] ritvij14 commented on #988
I would like to try this in java for CH20.

[2020-09-12 04:47] narayan2111 commented on #987
This is duplicate issue, it already exists. #922

[2020-09-12 04:51] narayan2111 commented on #988
I would like to work on this issue in python

[2020-09-12 05:12] #987 closed, assigned to nobody

[2020-09-12 07:09] #979 closed, assigned to nobody

[2020-09-12 07:09] ishi0301 commented on #979
#closed

[2020-09-12 07:51] samyukta20 opened #993 "Check for Subsequence"
## 🚀 Feature

(A clear and concise description of what the feature is.)

There are two strings. Find if first string is a subsequence of second string or not.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation
Time complexity should be linear.

## Assignees

- @samyukta2

[2020-09-12 07:56] samyukta20 commented on #993
I want to work on this in Cpp as part of CH20. Please assign me this.
@SKAUL05 @iamrajiv @HarshCasper @Kajol-Kumari

[2020-09-12 08:26] salonishah01 commented on #988
I would like to try this in C

[2020-09-12 12:09] yashaswibiyahut commented on #993
I want to work on this in python as part of CH20. Please assign me this.
@SKAUL05 @iamrajiv @HarshCasper @Kajol-Kumari

[2020-09-12 14:45] rohangawhade commented on #993
I would like to work on this in Java as a part of CH20. Kindly assign me this issue in Java
@SKAUL05 @iamrajiv @HarshCasper @Kajol-Kumari @Abhijit2505

[2020-09-12 18:02] SangeetaMishra commented on #667
@iamrajiv Solve it in C. Please review it.

[2020-09-12 19:08] atarax665 commented on #785
@ritvij14 Go ahead with JavaScript.

[2020-09-12 19:51] ag278 commented on #993
I would like to work on this issue in C as part of CH20. Please assign me this issue @iamrajiv @HarshCasper @Kajol-Kumari

[2020-09-13 09:59] PinkyWalia commented on #617
I would like to work on this issue in C#.
Kindly assign me this task @SKAUL05

[2020-09-13 12:19] shraddhavp commented on #988
I would like to take this in python

[2020-09-13 14:50] ymaheshwari1 commented on #941
Working on it

[2020-09-13 19:54] SangeetaMishra commented on #945
@iamrajiv Updated README.md for Go

[2020-09-13 22:25] #945 closed, assigned to ymaheshwari1, AdityaJ7, ritvij14, rutujadhanawade, SangeetaMishra, narayan2111

[2020-09-14 09:17] rutujadhanawade commented on #980
I would like to do this in C#

[2020-09-14 09:20] rutujadhanawade commented on #988
I would like to do this in C#

[2020-09-14 12:33] SangeetaMishra commented on #974
@HarshCasper Added code for C++

[2020-09-14 12:40] ag278 opened #1014 "Unique paths in a matrix"
## 🚀 Feature

Find the unique paths in a matrix starting from the upper left corner and ending in the bottom right corner.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I want to solve this problem in O(min(m,n)) time complexity and O(1) space complexity(where m,n

[2020-09-14 12:41] ag278 commented on #1014
I would like to solve this issue in c++ as a part of CH20. Please assign me this issue @SKAUL05 @iamrajiv @Abhijit2505 @atarax665

[2020-09-14 13:03] SangeetaMishra commented on #1014
I would like to take this in C

[2020-09-14 15:38] ritvij14 commented on #937
@HarshCasper is this issue not up for CH20?

[2020-09-14 15:55] sukritishah15 commented on #937
Yes, @HarshCasper Please add the labels for C-Plus-Plus and CH20, whenever convenient. Thank you!

[2020-09-14 16:12] ag278 commented on #663
@HarshCasper @iamrajiv @atarax665 could you please add CH20 and level tag for the issue

[2020-09-14 16:15] ag278 commented on #993
@iamrajiv @atarax665 @SKAUL05 please add CH20 and level tag for this issue

[2020-09-14 23:13] SangeetaMishra commented on #985
I would like to take this issue

[2020-09-15 04:32] narayan2111 commented on #988
this issue is  assigned to me but my name is not showing in  Assignees @iamrajiv

[2020-09-15 14:26] ritvij14 commented on #667
@iamrajiv I would also like to do this in Javascript for CH20. Can I submit a PR, as I am still assigned? Nobody has taken for Javascript.

[2020-09-15 15:23] iamrajiv commented on #667
@ritvij14 Sure.

[2020-09-15 19:58] SangeetaMishra commented on #985
@iamrajiv I have changed the python programs according to PEP 8 rules.

[2020-09-15 21:06] SangeetaMishra commented on #445
@iamrajiv  Can you please assign this issue to me in C? The previous assignee has removed their assignment.

[2020-09-15 21:15] iamrajiv commented on #445
@Ishita1608 Are you still working on this?

[2020-09-16 04:04] narayan2111 commented on #1014
I would like to work on this issue in python

[2020-09-16 06:18] Alifbhanvadiya14 commented on #916
I would like to work in Python

[2020-09-16 13:45] muddhit opened #1031 "Count no. of BST's with n Nodes"
## 💥 Proposal

Total number of possible Binary Search Trees with n keys

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-09-16 13:45] muddhit commented on #1031
I want to solve it in Java

[2020-09-16 13:45] muddhit commented on #1031
Plz assign it to me

[2020-09-16 17:42] yashaswibiyahut commented on #1031
i would like to work on this issue in cpp kindly assign me @iamrajiv @SKAUL05 @HarshCasper

[2020-09-17 03:53] rgrupesh commented on #1031
I want do this in Python. Please, assign me. @Kajol-Kumari @atarax665 @plazzy99

[2020-09-17 09:45] aniketsingh98571 opened #1035 "Hangman game in python"
@HarshCasper @atarax665 ## 💥 Proposal

The word to guess is represented by a row of dashes. If the player guess a letter which exists in the word, the script writes it in all its correct positions.  The player has 10 turns to guess the word. You can easily customize the game by changing the variables.
for example: ___ ___ ___ ____ ______ (adobe)
if user enters a then:
a ___ ____ ____ ____
if users

[2020-09-17 09:46] aniketsingh98571 commented on #1035
@atarax665 @iamrajiv @HarshCasper Look into this issue and assign me this for Python as a part of CH20

[2020-09-17 13:48] SangeetaMishra commented on #445
@iamrajiv I have added the C code.

[2020-09-17 18:10] raksha009 opened #1043 "Zig Zag Conversion"
## 🚀 Feature

The string "PAYPALISHIRING" is written in a zigzag pattern on a given number of rows like this: (you may want to display this pattern in a fixed font for better legibility)

P   A   H   N
APL S  I I  G
Y   I     R
And then read line by line: "PAHNAPLSIIGYIR"

Write the code that will take a string and make this conversion given a number of rows:  string convert(string s, int numRows)

[2020-09-17 18:32] SangeetaMishra commented on #974
@HarshCasper @iamrajiv I would like to work on this in C.

[2020-09-17 18:38] iamrajiv commented on #974
@SangeetaMishra Sure.

[2020-09-17 18:38] SangeetaMishra commented on #661
@iamrajiv Can you assign this to me in C.

[2020-09-17 19:47] SangeetaMishra commented on #974
@iamrajiv  Added code for C

[2020-09-17 20:08] SangeetaMishra commented on #661
@iamrajiv Added code for C

[2020-09-17 20:08] SangeetaMishra commented on #661
@iamrajiv Can you please add the difficulty level?

[2020-09-18 04:41] rutujadhanawade commented on #1043
I would like to do this in python

[2020-09-18 13:50] Kritika37 opened #1049 "Subset"
## 🚀 Feature
Given a set of distinct integers, nums, return all possible subsets (the power set).
Input: nums = [1,2,3]
Output:
[
  [3],
  [1],
  [2],
  [1,2,3],
  [1,3],
  [2,3],
  [1,2],
  []
]

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I want to solve this is

[2020-09-18 13:50] Kritika37 commented on #1049
@HarshCasper @Abhijit2505 @iamrajiv @atarax665  @SKAUL05. I would like to implement this in C++ as a part of CH20. Please assign me this issue. Thank You

[2020-09-18 13:54] AshKnight99 commented on #1043
I would like to do this in java

[2020-09-18 17:26] ishitakeshawani commented on #445
no

[2020-09-18 17:27] ishitakeshawani commented on #449
@plazzy99 can you please add CH20 label on this issue.

[2020-09-18 17:33] SangeetaMishra commented on #445
@iamrajiv Can you assign it to me for Java

[2020-09-18 18:14] SangeetaMishra commented on #978
@iamrajiv I have added the C++ code

[2020-09-18 18:16] raksha009 opened #1052 "Valid Stack sequence"
## 🚀 Feature

Given two sequences, pushed and popped with distinct values. Return true if and only if this could have been the result of a sequence of push and pop operations on an initially empty stack.

Have you read the Contributing Guidelines on Pull Requests?
Yes

Motivation
Adding a new algorithm and hence making the repo more extensive.

Plz assign me this issue in java and c++

[2020-09-18 19:35] iamrajiv commented on #445
@SangeetaMishra Go ahead with Java.

[2020-09-18 19:53] SangeetaMishra commented on #445
@iamrajiv Added Java Code

[2020-09-19 02:53] ritvij14 commented on #417
@plazzy99 I would like to do this in Java.

[2020-09-19 02:55] ritvij14 commented on #497
@plazzy99 can I take this in Java if the assignee is not working on it?

[2020-09-19 03:24] salonishah01 commented on #1049
I would like to take this in Python for CH20

[2020-09-19 05:18] Kritika37 commented on #497
Hey I have already completed the code, I have to just remove the conflict and merge. @ritvij14

[2020-09-19 13:37] narayan2111 commented on #1052
I would like to work on this issue in python  @iamrajiv  @HarshCasper  as a part of  hacktoberfest

[2020-09-19 17:59] SangeetaMishra commented on #497
@iamrajiv Can you please assign this to me in C++

[2020-09-19 18:00] SangeetaMishra commented on #555
@iamrajiv Can you assign this to me in C

[2020-09-19 18:01] SangeetaMishra commented on #417
@iamrajiv Can you please assign it to me in C++

[2020-09-20 00:23] #147 closed, assigned to GSNCodes, Vrindagupta6828, priyanka2109

[2020-09-20 07:57] HarshKhilawala opened #1060 "Add LeetCode Problem (#237 - Delete Node in a Linked List)"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes,

Problem Link: https://leetcode.com/problems/delete-node-in-a-linked-list/
Providing Solution in Different Programming Languages to given mentioned Problem.

Write

[2020-09-20 07:59] HarshKhilawala opened #1061 "Add LeetCode Problem (#53 - Maximum Subarray)"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes,

Link : https://leetcode.com/problems/maximum-subarray/description/

Given an integer array nums, find the contiguous subarray (containing at least one number) wh

[2020-09-20 08:11] iamrajiv commented on #417
@pragyajaiswa05l Are you still working on this or should I assign C++ to other because your PR #550 was not valid to be merged.

[2020-09-20 08:12] iamrajiv commented on #417
@ankitaggarwal23 Are you still working on this with C?

[2020-09-20 13:10] ritvij14 commented on #939
@sukritishah15 could you please make a small change? I have been assigned this in Java, but it's written C in the issue description, could you please change that to avoid confusion?

[2020-09-20 14:32] sheenxavi004 opened #1064 "Rat in a Maze"
## 💥 Proposal

## Rat in a Maze

The program is aimed to use backtracking to find the way in which a rat is trapped in a maze where 1 in the maze matrix indicates an obstacle. The program will print out all possible solution of the maze.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(

[2020-09-20 14:42] Kajol-Kumari commented on #1060
@HarshKhilawala please update the issue template.

[2020-09-20 14:43] Kajol-Kumari commented on #1061
@HarshKhilawala Please update the issue template.

[2020-09-20 16:38] HarshKhilawala commented on #1061
@Kajol-Kumari It is just a problem and I have already mentioned the Problem number of Leet-Code Problem. Maybe that's enough

[2020-09-20 16:38] HarshKhilawala commented on #1060
@Kajol-Kumari Maybe could work on Java /C++

[2020-09-20 18:04] SangeetaMishra commented on #1061
This is same as #555

[2020-09-20 18:10] raksha009 opened #1066 "Valid Triangle Number"
## 🚀 Feature

Given an array consists of non-negative integers, your task is to count the number of triplets chosen from the array that can make triangles if we take them as side lengths of a triangle.

Have you read the Contributing Guidelines on Pull Requests?
Yes

Motivation
Adding a new algorithm and hence making the repo more extensive.

Plz assign me this issue in java and c++

[2020-09-20 19:09] sheenxavi004 commented on #1064
Please assign me this in C++ @SKAUL05 @hushee69 @mechiragjain

[2020-09-20 19:32] AshKnight99 commented on #1060
I would like to take this in Java for CH20

[2020-09-20 19:47] NEEHITGOYAL opened #1068 "Painter Partition problem"
## 💥 Proposal
You have to paint N boards of length {A0, A1, A2, A3 … AN-1}. There are K painters available and you are also given how much time a painter takes to paint 1 unit of board. You have to get this job done as soon as possible under the constraints that any painter will only paint contiguous sections of board. Return the ans % 10000003

Input Format
First line contains three space seperat

[2020-09-20 19:49] NEEHITGOYAL commented on #1068
i would like to work on this issue in cpp as part of hakin codes
kindly add ch20 tag and assign this issue to me@Kajol-Kumari @SKAUL05 @siddharth25pandey
@plazzy99

[2020-09-20 20:21] hushee69 commented on #1064
@sheenxavi004 and @SangeetaMishra

You can do it and then create a pull request..you don't have to be necessarily assigned to it to be able to contribute..the pull request will then be approved.

Good luck..

[2020-09-21 04:46] salonishah01 commented on #1066
I would like to take this in python

[2020-09-21 04:47] salonishah01 commented on #1068
I would like to take up this issue in python

[2020-09-21 05:47] Kajol-Kumari commented on #1061
Hey @HarshKhilawala It's not possible for us to go to a particular site and then get to know what the issue is after searching for that! That's the reason we have `issue template` so you need to provide proper description of the issue here only so that anyone can see from here directly what you issue is! Also as mentioned by @SangeetaMishra I think it's a duplicate of #555 so feel free to close th

[2020-09-21 07:58] HarshKhilawala commented on #1061
@Kajol-Kumari Sure, I wouldn't mind closing this issue but though as there is already Leetcode Folder in the Miscellaneous directory , It would have been nice to keep track of this question in that folder as it would have been easy for users who can easily find that

[2020-09-21 07:58] #1061 closed, assigned to nobody

[2020-09-21 08:01] HarshKhilawala commented on #1060
@Kajol-Kumari Kindly take a look

[2020-09-21 15:01] shraddhavp commented on #937
Would like to write this program in python @Abhijit2505 and @iamrajiv

[2020-09-21 17:07] rutujadhanawade commented on #1066
I would like to do this in C

[2020-09-21 17:08] rutujadhanawade commented on #1064
I would like to do this in Python

[2020-09-21 17:53] bagladivyang03 commented on #1060
@Kajol-Kumari I would like to work in python for this pls add relevant labels and assign to all of us :)

[2020-09-22 09:35] Preetesh21 opened #1074 "Factorial of Very Large Numbers"
## 💥 Proposal
A program which outputs the factorial of very large numbers accuractely.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.
I would like to work in C/C++ languages on the same topic.Thank you.

[2020-09-22 12:52] #985 closed, assigned to SangeetaMishra

[2020-09-22 15:55] Kajol-Kumari commented on #1060
Hey @HarshKhilawala I can't assign it to anyone as I don't understand what your issue is exactly about! Please provide a clear description for the issue so that we can figure out how you issue is different from what we already have in our codebase like [this one](https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/ds/LinkedList.cpp).

[2020-09-22 15:58] narayan2111 commented on #1074
I would like to work on this issue in python
Kindly assign this issue also add labels to it @iamrajiv @Kajol @plazzy99 @atarax665 @Abhijit2505

[2020-09-22 18:27] ritvij14 commented on #417
@iamrajiv can I also do this in JS? Already submitted PR for Java.

[2020-09-22 19:30] iamrajiv commented on #417
@SangeetaMishra Sure. Go ahead with C++.

[2020-09-22 19:31] iamrajiv commented on #417
@ritvij14 Sure. Go ahead with JavaScript.

[2020-09-23 04:22] rohangawhade commented on #1074
I would like to work on this issue for CH20 using Java. Kindly assign this issue to me. @HarshCasper @Abhijit2505 @SKAUL05

[2020-09-23 07:53] ritvij14 commented on #1074
I would like to take this in Javascript as a part of CH20

[2020-09-23 07:53] ritvij14 commented on #1068
I would like to take this in Java  for CH20

[2020-09-23 09:28] nutanaarohi123 commented on #937
I would like to take this issue in C @SKAUL05 .Plz assign this task

[2020-09-23 13:38] HarshKhilawala commented on #1060
@Kajol-Kumari Sorry for the late response, I have added some description and linked it to the Problem. Please take a look and assign me for Java language , after assigning everyone, I will update the issue and after getting pull request merged for the same, the issue will be closed.

[2020-09-24 21:10] anushkrishnav commented on #269
Let's finish this It's quite challenging but interesting to work with. Reach out to me if you need help

[2020-09-24 22:35] anushkrishnav opened #1084 "Welcome Contributors"
Hello, Everyone ✨🙌

Thanks for showing your interest in being a part of this ever-growing community 💥

We are super delighted to have you on board for your Contributions on [NeoAlgo](https://github.com/TesseractCoding/NeoAlgo) 🙌

Project Maintainers:

| Name 📛                |                       Social Media #️⃣                       |                                 Github 🐱‍💻 |
| ------------

[2020-09-25 03:43] nutanaarohi123 commented on #900
Plz Assign this task in C . @SKAUL05 @HarshCasper

[2020-09-25 03:56] HarshKhilawala commented on #1060
@HarshCasper Please take a look and assign us for different roles. Its been very long since I created the issue which is just for the Solution of Leetcode Problems

[2020-09-25 06:04] sukritidawar opened #1086 "Recursion_Count of substring p in string s"
## 🚀 Feature
Given a string, write a recursive function, to print the occurrences of string p in the string s(Overlap is allowed)
Example :
1. Input: p = "aaa", s = "aaaaaa"
    Output: 4
2. Input: p = "hi", s = "hihihithi"
    Output: 4

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Ye

[2020-09-25 06:04] sukritidawar commented on #1086
I would like to work on this issue in C++

[2020-09-25 08:21] salonishah01 commented on #1086
I would like to take this up in python.

[2020-09-25 10:17] shraddhavp commented on #955
would like to take this issue in python if it is not assigned @iamrajiv

[2020-09-25 11:11] ritvij14 commented on #1086
I would like to do this in Java for CH20

[2020-09-25 11:26] ritvij14 commented on #922
@HarshCasper please also add the CH20 label and difficulty level label.

[2020-09-25 11:44] AakritiKinra commented on #1086
I would like to work on this in C as a part of CH20

[2020-09-25 14:05] #178 closed, assigned to raksha009

[2020-09-25 15:47] iamrajiv commented on #955
@salonishah01 Are you still working on this with Python since you last PR #962 was closed by you?

[2020-09-25 16:20] salonishah01 commented on #955
@iamrajiv I closed the previous PR mistakenly. I am making a new one.

[2020-09-25 16:47] iamrajiv commented on #955
@salonishah01 Sure.

[2020-09-25 17:17] Kajol-Kumari commented on #1086
@sukritidawar let's make this problem more generalised, take the recursion string from user  and the input string from user and then show the count of the recursion string to the user.Please update the issue description accordingly and everyone i am assigning please follow this while coding.

Assignees:
@sukritidawar :c++
@salonishah01 : python
@ritvij14 : Java
@AakritiKinra  C

[2020-09-25 17:25] sukritidawar commented on #1086
I didn't get what recursion string is, and what exactly will the input be?

[2020-09-25 18:41] imPGupta commented on #1074
I would like to contribute to this issue in C++. Please assign me this issue. @atarax665 @VijayaGB98

[2020-09-26 04:02] ritvij14 commented on #1086
@Kajol-Kumari can we use an algorithm for which the code has already been written? For example, Z Algorithm also tells indexes where the string is found, in this case, we just need to count the number of times it finds it. Can I use that or should I look for a different approach?

[2020-09-26 05:23] Kajol-Kumari commented on #1086
@sukritidawar by recurssion string I mean the string that needs to be searched i.e `aaa` in your example. Ansd you are supposed to take two inputs from the user, first the recurssion string and second the actual string.
@ritvij14  Try not to use already present algorithm. It would be nice if you come up with a solution that not present in the codebase and include the `Z algorithm` approach as well

[2020-09-26 05:32] rutujadhanawade commented on #909
@iamrajiv  will you please lable this issue?

[2020-09-26 05:51] narayan2111 commented on #922
Kindly label the difficulty level of this issue @iamrajiv

[2020-09-26 06:01] ritvij14 commented on #1086
@Kajol-Kumari alright understood. Please give a difficulty level tag to this issue.

[2020-09-26 06:43] Preetesh21 opened #1093 "Knapsack Problem"
## 💥 Proposal

Program for the DP problem Knapsack

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes.

I would like to contribute in C and C++ language.

[2020-09-26 09:47] rutujadhanawade commented on #1068
I would like to do this in C

[2020-09-26 09:59] HarshCasper commented on #1086
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:00] HarshCasper commented on #1068
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:00] HarshCasper commented on #993
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:01] HarshCasper commented on #988
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:01] HarshCasper commented on #980
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:01] HarshCasper commented on #978
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:01] HarshCasper commented on #976
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:01] HarshCasper commented on #974
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:01] HarshCasper commented on #941
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:01] HarshCasper commented on #939
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:01] HarshCasper commented on #937
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:02] HarshCasper commented on #930
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:02] HarshCasper commented on #929
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:02] HarshCasper commented on #925
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:02] HarshCasper commented on #917
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:02] HarshCasper commented on #909
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:02] HarshCasper commented on #900
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:02] HarshCasper commented on #887
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:03] HarshCasper commented on #868
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:03] HarshCasper commented on #860
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:04] HarshCasper commented on #855
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:04] HarshCasper commented on #849
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:05] HarshCasper commented on #826
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:05] HarshCasper commented on #825
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:06] HarshCasper commented on #815
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:06] HarshCasper commented on #814
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:06] HarshCasper commented on #805
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:06] HarshCasper commented on #793
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:06] rutujadhanawade commented on #925
@iamrajiv @Kajol-Kumari @siddharth25pandey
@HarshCasper  please add difficulty label to this issue.

[2020-09-26 10:06] HarshCasper commented on #792
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:06] HarshCasper commented on #785
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:07] HarshCasper commented on #740
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:07] HarshCasper commented on #704
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:07] HarshCasper commented on #678
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:07] HarshCasper commented on #670
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:07] HarshCasper commented on #667
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:07] HarshCasper commented on #661
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:07] HarshCasper commented on #633
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:08] ritvij14 commented on #939
@HarshCasper please add difficulty level label to this issue.

[2020-09-26 10:08] HarshCasper commented on #632
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:08] HarshCasper commented on #617
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:08] HarshCasper commented on #595
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:08] HarshCasper commented on #594
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:09] ritvij14 commented on #1093
Possible duplicate of #423

[2020-09-26 10:09] HarshCasper commented on #590
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:09] HarshCasper commented on #588
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:09] HarshCasper commented on #585
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:09] HarshCasper commented on #578
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:09] HarshCasper commented on #573
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:09] HarshCasper commented on #563
We are logging the scores for the <b>Contributor's Hack 2020</b>. If you have one or more than one PR merged during the program, make sure to fill this [form](https://forms.gle/jG7kDteT5EAz23hk7)

[2020-09-26 10:13] #1093 closed, assigned to nobody

[2020-09-26 10:36] narayan2111 commented on #976
Kindly assign this issue to me @iamrajiv

[2020-09-26 11:39] sukritishah15 commented on #939
@HarshCasper Please add C-Plus-Plus and difficulty label for this issue.

[2020-09-26 11:39] #678 closed, assigned to HarshKhilawala

[2020-09-26 11:39] HarshKhilawala commented on #678
Issue solved

[2020-09-26 12:46] shraddhavp commented on #1060
@Kajol-Kumari  and @iamrajiv  would like to take this issue in C

[2020-09-26 14:46] smv1999 opened #1102 "Postfix Expression Evaluation"
## 🚀 Feature

Given a postfix expression (as a string), the program must print the result after evaluating the expression.
For example:
Input:
73426^*+*8+

Output:
1821

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

This helps in better understanding of stacks

## P

[2020-09-26 14:46] smv1999 commented on #1102
@SKAUL05 @Abhijit2505 @HarshCasper @iamrajiv @siddharth25pandey @Kajol-Kumari  I would like to work on this issue in C . Please assign me this issue!

[2020-09-26 15:25] salonishah01 commented on #1102
I would like to take this in python

[2020-09-26 16:27] Mohitkumar6122 commented on #1102
@SKAUL05 @Abhijit2505 @HarshCasper @siddharth25pandey I would like to work on this issue in C++.

[2020-09-26 16:47] ymaheshwari1 commented on #941
@iamrajiv Is this solved or still open?

[2020-09-26 20:37] Kritika37 commented on #752
Please add me for coding as well
My PR got merged #566

[2020-09-27 10:27] iamrajiv commented on #752
@Kritika37 Your are already added please take a look https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTORS.md

[2020-09-27 12:03] Kritika37 commented on #752
Yes I know, I'm added but only for documentation thing. Add me for coding as well

[2020-09-27 14:37] rutujadhanawade commented on #939
@HarshCasper  @iamrajiv please add difficulty label to this issue.

[2020-09-27 15:08] nutanaarohi123 commented on #451
pls, add difficulty label to this issue @HarshCasper @iamrajiv

[2020-09-27 15:10] nutanaarohi123 commented on #939
pls add the difficulty label to this issue  @HarshCasper

[2020-09-27 16:12] iamrajiv commented on #752
@Kritika37 I have updated the list please take a look https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTORS.md

[2020-09-27 16:27] Kritika37 commented on #752
Thank you

[2020-09-28 07:19] gayatri517 opened #1108 "DNF SORT"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
 The task is to write a function that sorts the given array. The functions should put all 0s first, then all 1s and all 2s in last.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
(Write your answer here.)
Yes
I wou

[2020-09-28 08:15] salonishah01 commented on #1108
I would like to add to this in python

[2020-09-28 08:32] salonishah01 opened #1109 "Gray Code"
The gray code is a binary numeral system where two successive values differ in only one bit.

Given a non-negative integer n representing the total number of bits in the code, print the sequence of gray code. A gray code sequence must begin with 0.

Example 1:
Input: 2
Output: [0,1,3,2]
Explanation:
00 - 0
01 - 1
11 - 3
10 - 2

For a given n, a gray code sequence may not be uniquely defined.
For e

[2020-09-28 08:57] ritvij14 commented on #1109
I would like to do this in Java for CH20

[2020-09-28 11:55] rutujadhanawade commented on #1109
I would like to do this in C++

[2020-09-28 13:40] sukritidawar opened #1111 "PrintAllPossibleCode_Recursion"
## 🚀 Feature
Given a string s, and assuming that a=1, b=2, c=3, d=4, .... z=26, write a recursive function to print all the possible codes for the strings.
Example:
s = "1123"
Output:
aabc
aaw
alc
kbc
kw

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

Helps in under

[2020-09-28 13:40] sukritidawar commented on #1111
I want to work on this issue in C++

[2020-09-28 15:45] reethikprasad commented on #752
Hi @iamrajiv my PR has not still merged
Please check
https://github.com/TesseractCoding/NeoAlgo/pull/459

[2020-09-28 16:08] amoghatsunil opened #1112 "A* Algorithm"
A* algorithm is a Path finding algorithm that searches for the shortest path between the initial and the final state.

@Kajol-Kumari @plazzy99 @siddharth25pandey @Abhijit2505 @HarshCasper
Please assign me this issue, I Would like to implement this in Python

[2020-09-28 16:30] ayushgaur03 commented on #988
Hi...I would like to work on the java version of this issue....Can I do it??

[2020-09-28 16:32] ritvij14 commented on #988
@ayushgaur03 You can check the description above, I have already done it and my PR is merged, in any issue if the description has a language with someone's name written after it that means it has been already assigned to that person.

[2020-09-28 16:33] ritvij14 commented on #1111
I would like to work on this in Java for CH20

[2020-09-28 16:34] ritvij14 commented on #1112
I would like to do this in Java for CH20

[2020-09-28 17:02] narayan2111 commented on #1111
I would like to work on this issue in python

[2020-09-29 03:53] rutujadhanawade commented on #1112
I would like to do this in python

[2020-09-29 03:53] rutujadhanawade commented on #1111
I would like to do this in C

[2020-09-29 03:54] rutujadhanawade commented on #1108
I would like to do this in C

[2020-09-29 06:12] NEEHITGOYAL opened #1116 "Rain Water Harvesting"
## 💥 Proposal

A ver popular problem asked in interviews medium difficulty
Apoorvaa has created an elevated roof. She wants to know how much water can she save during rain.

Given n non negative integers representing the elevation map where width of every bar is 1, Find the maximum water that she can save.

Explanation for the Sample input Testcase:
![image](https://user-images.githubusercontent.c

[2020-09-29 06:13] NEEHITGOYAL commented on #1116
i would like to work on this issue in c++ as part of hakin codes @plazzy99 @Kajol-Kumari @SKAUL05 @HarshCasper

[2020-09-29 06:28] nutanaarohi123 commented on #900
pls, assign this task in python @SKAUL05  @HarshCasper

[2020-09-29 06:35] nutanaarohi123 commented on #900
pls by mistake, I unassigned myself. Can u please assign me again? @SKAUL05

[2020-09-29 06:37] salonishah01 commented on #1116
I would like to work on the problem in python.

[2020-09-29 07:23] narayan2111 commented on #1052
Kindly assign this issue and labels to it @iamrajiv @plazzy99 @Abhijit2505 @Kajol-Kumari @atarax665

[2020-09-29 07:37] shraddhavp commented on #814
would like to take this issue in python @iamrajiv

[2020-09-29 07:59] ritvij14 commented on #1116
I would like to take this in Java for CH20

[2020-09-29 08:24] bagladivyang03 opened #1119 "Search Insert Position"
## 💥 Proposal

Given a sorted array and a target value, return the index if the target is found. If not, return the index where it would be if it were inserted in order.

You may assume no duplicates in the array.

Example 1:
Input: [1,3,5,6], 5
Output: 2

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporti

[2020-09-29 08:25] bagladivyang03 commented on #1119
@Kajol-Kumari @plazzy99 @siddharth25pandey @Abhijit2505  @HarshCasper Pls assign me this in C++ and also add labels and count it in Hakin
 Codes too :)

[2020-09-29 08:41] vatsalkesarwani12 commented on #1116
@NEEHITGOYAL - C++
@salonishah01  - python
@ritvij14 - Java

[2020-09-29 08:50] #411 closed, assigned to gupta-piyush19

[2020-09-29 08:53] bagladivyang03 commented on #1116
@plazzy99 i would like to do in C

[2020-09-29 08:59] vatsalkesarwani12 commented on #1116
@bagladivyang03 - C

[2020-09-29 09:01] vatsalkesarwani12 commented on #1119
@bagladivyang03 - Cpp

[2020-09-29 10:51] rutujadhanawade commented on #1119
I would like to do this in java

[2020-09-29 11:06] vatsalkesarwani12 commented on #1119
@rutujadhanawade - Java assigned

[2020-09-29 11:43] reethikprasad opened #1122 "Binary Tree Sum Replacement"
## 🚀 Feature

To find the sum of child nodes in binary tree

### Have you read the [Contributing Guidelines on Pull Requests]
Yes

## Motivation

There is a common trick which people ignore that is storing data into temp

## Pitch

After creation of binary tree my aim is to create another binary tree with nodes replaced with sum of child node

8 10 1 -1 -1 6 9 -1 -1 7 -1 -1 3 -1 14 13 -1 -1 -1

be

[2020-09-29 11:44] reethikprasad commented on #1122
Would like to contribute in C++ as a part of HakinCodes2020.

@SKAUL05 @Kajol-Kumari @Abhijit2505 @plazzy99  @HarshCasper

[2020-09-29 12:01] ag278 commented on #1119
@Kajol-Kumari @plazzy99 @siddharth25pandey @Abhijit2505 @HarshCasper I would like to do this in C language. Please assign me this issue

[2020-09-29 13:06] rjn01 commented on #1119
I would like to do this in python. Can you assign me? @plazzy99 @siddharth25pandey @Abhijit2505 @HarshCasper

[2020-09-29 15:36] rutujadhanawade commented on #1122
I would like to take this in python for CH20

[2020-09-29 15:41] ritvij14 commented on #648
@atarax665 @iamrajiv please add a difficulty label to this issue.

[2020-09-29 15:41] ritvij14 commented on #805
@HarshCasper, @iamrajiv please add a difficulty label to this Issue

[2020-09-29 15:42] UtkarshChaurasia commented on #1112
I would like to implement this algorithm in C++ as a part of Hactoberfest 2020.

[2020-09-29 16:37] ritvij14 commented on #1111
@Kajol-Kumari for this can we completely omit an input if any of the digits is 0?

[2020-09-29 22:52] vatsalkesarwani12 commented on #1074
@narayan2111  - python
@rohangawhade  - java
@ritvij14  -js
@imPGupta  - c++
@Preetesh21  - c

[2020-09-30 02:55] #469 closed, assigned to GajjarMiten, PinkyWalia, Nishtha3512

[2020-09-30 03:13] NEEHITGOYAL opened #1125 "readme updation"
## 📚 Documentation
i want to update all these readme files in total there are 10 readme files i am updating so kindly can you label this issue with 20 points
https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/cp/README.md
https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/cryptography/README.md
https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/dp/RE

[2020-09-30 03:14] NEEHITGOYAL commented on #1125
i want to update all these readme
in total there are 10 files

[2020-09-30 03:15] NEEHITGOYAL opened #1126 "readme updation"
## 📚 Documentation
update readme of all folders in it.
https://github.com/TesseractCoding/NeoAlgo/tree/master/C-Sharp

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

[2020-09-30 03:15] NEEHITGOYAL commented on #1126
i want to update all these readme
in total there are 10 files

[2020-09-30 03:17] NEEHITGOYAL opened #1127 "update readme"
## 📚 Documentation
update readme of all folders in it.
https://github.com/TesseractCoding/NeoAlgo/tree/master/C

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

[2020-09-30 03:17] NEEHITGOYAL commented on #1127
i want to update all these readme
in total there are 10 files

[2020-09-30 03:18] NEEHITGOYAL opened #1128 "update readme"
## 📚 Documentation
update all files readme
https://github.com/TesseractCoding/NeoAlgo/tree/master/Go

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

[2020-09-30 03:18] NEEHITGOYAL commented on #1128
i want to update all these readme
in total there are 10 files

[2020-09-30 03:20] NEEHITGOYAL opened #1129 "update of readme"
## 📚 Documentation
update all files readme
https://github.com/TesseractCoding/NeoAlgo/tree/master/Java

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

[2020-09-30 03:20] NEEHITGOYAL commented on #1129
i want to update all these readme
in total there are 10 files

[2020-09-30 03:21] NEEHITGOYAL opened #1130 "readme update"
## 📚 Documentation
update all files readme
https://github.com/TesseractCoding/NeoAlgo/tree/master/JavaScript

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

[2020-09-30 03:22] NEEHITGOYAL commented on #1130
i want to update all these readme
in total there are 10 files

[2020-09-30 03:24] NEEHITGOYAL opened #1131 "readme update"
## 📚 Documentation
update all files readme
https://github.com/TesseractCoding/NeoAlgo/tree/master/Python

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

[2020-09-30 03:24] NEEHITGOYAL commented on #1131
i want to update all these readme
in total there are 10 files

[2020-09-30 03:26] NEEHITGOYAL opened #1132 "readme update"
## 📚 Documentation
update all files readme
https://github.com/TesseractCoding/NeoAlgo/tree/master/Q-Sharp

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

[2020-09-30 03:26] NEEHITGOYAL commented on #1132
i want to update all these readme
in total there are 10 files

[2020-09-30 04:13] salonishah01 commented on #1109
@SKAUL05 @Kajol-Kumari @HarshCasper Please assign the issue and add the required labels.

[2020-09-30 05:01] Preetesh21 commented on #1074
@plazzy99  I would be working in C language right? I guess you forgot to assign me.

[2020-09-30 05:05] sukritidawar opened #1133 "Count Distinct Elements in Every Window"
## 🚀 Feature
Given an array and the size of a window (k), print the number of distinct elements for every window.
Example:
1. Input: arr[] = {10, 20, 20, 10, 30, 40, 10}, k = 4
   Output: 2 3 4 3
2. Input: arr[] = {10, 10, 10, 10}, k = 3
    Output: 1 1
3. Input: arr[] = {10, 20, 30, 40}, k = 3
    Output: 3 3

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/Tes

[2020-09-30 05:06] sukritidawar commented on #1133
I want to work on this issue in c++

[2020-09-30 05:07] imPGupta commented on #1102
I want to contribute to this. Assign me either in **C#** or **C++**.
@plazzy99

[2020-09-30 05:10] smv1999 commented on #1102
@imPGupta I have already requested to work on this issue in C (Please find the comment thread above). Kindly request this to be assigned to you in some language other than the ones mentioned above.

[2020-09-30 05:13] Preetesh21 opened #1134 "Stable Marriage Problem"
## 💥 Proposal
The Stable Marriage Problem states that given N men and N women, where each person has ranked all members of the opposite sex in order of preference, marry the men and women together such that there are no two people of the opposite sex who would both rather have each other than their current partners. If there are no such people, all the marriages are “stable”

### Have you read the

[2020-09-30 05:13] Preetesh21 commented on #1134
I would like to work in C and C++ languages. Kindly assign it to me.

[2020-09-30 05:15] imPGupta commented on #1133
I want to contribute on this issue. Assign me to this in **C++**.
@iamrajiv

[2020-09-30 05:25] imPGupta commented on #1049
I want to contribute to this issue. Assign me either in **C** or **C++**.
@atarax665

[2020-09-30 05:30] imPGupta commented on #908
I want to contribute to this issue. Assign me in **C** language.
@VijayaGB98

[2020-09-30 06:24] salonishah01 commented on #1134
I would like to work in python.

[2020-09-30 06:26] salonishah01 opened #1136 "Gray Code"
## 💥 Proposal

The gray code is a binary numeral system where two successive values differ in only one bit.

Given a non-negative integer n representing the total number of bits in the code, print the sequence of gray code. A gray code sequence must begin with 0.

Example 1:
Input: 2
Output: [0,1,3,2]
Explanation:
00 - 0
01 - 1
11 - 3
10 - 2

For a given n, a gray code sequence may not be uniquely

[2020-09-30 06:26] #1109 closed, assigned to nobody

[2020-09-30 06:28] salonishah01 commented on #1136
@iamrajiv @SKAUL05 @HarshCasper @Kajol-Kumari @plazzy99 @siddharth25pandey
I would like to work on this in python.
Assign this to me and add the labels.

[2020-09-30 06:30] #1112 closed, assigned to nobody

[2020-09-30 06:33] rutujadhanawade commented on #1136
I want to do this in C++

[2020-09-30 06:33] rutujadhanawade commented on #1134
I want to do this in java

[2020-09-30 06:33] rutujadhanawade commented on #1133
I want to do this in java

[2020-09-30 06:47] amoghatsunil opened #1138 "A* Algorithm"
## 💥 Proposal

A* is a pathfinding algorithm, A* is a variant of Dijkstra's algorithm, A* assigns a weight to each open node equal to the weight of the edge to that node plus the approximate distance between that node and the finish. This approximate distance is found by the heuristic and represents a minimum possible distance between that node and the end. This allows it to eliminate longer paths

[2020-09-30 06:48] narayan2111 commented on #1133
I would like to work on this issue in python

[2020-09-30 06:48] amoghatsunil commented on #1138
@Kajol-Kumari @plazzy99 @siddharth25pandey @Abhijit2505 @HarshCasper Please assign me this issue
 I would like to implement this in python  and please add labels.

[2020-09-30 08:47] narayan2111 commented on #1133
Kindly assign this issue ASAP @iamrajiv sir, so that we can work and get merged this PR by 2nd of October

[2020-09-30 09:27] anushkrishnav commented on #1134
I have assigned the issue . Have a great day

[2020-09-30 09:29] anushkrishnav commented on #1138
Assigned. Make sure you follow proper coding and formatting standards. Have a great day

[2020-09-30 10:29] Kritika37 commented on #1049
@iamrajiv @atarax665 please see to it once

[2020-09-30 10:53] rutujadhanawade commented on #1138
I would like to this in C++ as a part of CH20

[2020-09-30 13:27] Kajol-Kumari commented on #1133
Hey @imPGupta as @sukritidawar has already claimed for c++, I can't assign it to you. Rest of the people, please go ahead :)

[2020-09-30 15:24] sukritidawar opened #1152 "PrintAllSubsequences_Recursion"
## 🚀 Feature
Given a string, print all the possible subsequences of the string, using recursion.
“abcd” has following subsequences “”, “d”, “c”, “cd”, “b”, “bd”, “bc”, “bcd”, “a”, “ad”, “ac”, “acd”, “ab”, “abd”, “abc”, “abcd”
Example:
Input : abcd
Output:

d
c
cd
b
bd
bc
bcd
a
ad
ac
acd
ab
abd
abc
abcd

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCo

[2020-09-30 15:24] sukritidawar commented on #1152
I want to work on this issue in c++

[2020-09-30 15:44] imPGupta commented on #1133
Okay. Then assign me this issue in **C**.
@Kajol-Kumari

[2020-09-30 16:28] bagladivyang03 commented on #1138
I would like to do this in java pls assign me this :)

[2020-09-30 16:37] shraddhavp commented on #814
@plazzy99  sir what is the difficulty level for this issue  to fill in the form?

[2020-09-30 16:50] aniketsingh98571 commented on #1136
I would like to work on it in C.

[2020-09-30 17:16] narayan2111 commented on #1152
I want to work on this issue in python

[2020-09-30 17:37] ag278 commented on #1152
I want to work on this issue in C

[2020-09-30 18:16] rutujadhanawade commented on #1152
I would like to do this in java

[2020-09-30 18:19] siddharth25pandey commented on #1152
@sukritidawar Go ahead with **C++**
All the very best

[2020-09-30 18:20] siddharth25pandey commented on #1152
@narayan2111 Go ahead with **Python**
All the very best

[2020-09-30 18:20] siddharth25pandey commented on #1152
@ag278 Go ahead with **C**
All the very best

[2020-09-30 18:22] siddharth25pandey commented on #1152
@rutujadhanawade Go ahead with **Java**
All the very best

[2020-10-01 03:24] SangeetaMishra commented on #555
@iamrajiv @atarax665 @plazzy99  Please review the PR

[2020-10-01 03:37] bagladivyang03 commented on #1119
Search Insert Position Cpp #1173

[2020-10-01 03:44] SangeetaMishra commented on #922
@iamrajiv I would like to take this in Python

[2020-10-01 03:58] bagladivyang03 opened #1175 "cp sets question"
## 💥 Proposal
There is an array of n integers. There are also 2 disjoint sets, A and B, each containing m integers. You like all the integers in set A and dislike all the integers in set B. Your initial happiness is 0. For each i integer in the array, if i.e.  A, you add 1 to your happiness. If i.e. B, you add -1 to your happiness. Otherwise, your happiness does not change. Output your final happi

[2020-10-01 03:58] bagladivyang03 commented on #1175
@plazzy99 @siddharth25pandey @Kajol-Kumari @HarshCasper @iamrajiv  pls assign me this in python and add relevant labels too pls :)

[2020-10-01 04:16] Aanchi-glitch2744 commented on #815
I'd like to work on this issue in Python.

[2020-10-01 04:21] atarax665 commented on #815
@Aanchi-glitch2744 Great! You can start working on this issue in Python.
Happy Coding.

[2020-10-01 06:21] reachpranjal opened #1180 "Dijkstra's Algorithm- Python implementation"
## 💥 Proposal

Task- Given a graph and a source vertex in the graph, find the shortest paths from source to all vertices in the given graph.
Dijkstra’s algorithm is very similar to Prim’s algorithm for minimum spanning tree. Like Prim’s MST, we generate an SPT (shortest path tree) with a given source as root. We maintain two sets, one set contains vertices included in the shortest-path tree, anoth

[2020-10-01 06:22] reachpranjal commented on #1180
Please assign me the task. I'm ready with the code.

[2020-10-01 06:25] reachpranjal opened #1182 "Adding User Input"
## 🚀 Feature

The python implementation to find the area of geometric shapes is static. Adding a user input feature to it will make the code reusable.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Code Reusability

## Pitch

It could be performed on any number of d

[2020-10-01 06:26] reachpranjal commented on #1182
Please assign the task. I have done the implementation.

[2020-10-01 06:38] reachpranjal opened #1184 "Polynomial Regression"
## 💥 Proposal

Polynomial Regression is a form of linear regression in which the relationship between the independent variable x and dependent variable y is modeled as an nth degree polynomial. Polynomial regression fits a nonlinear relationship between the value of x and the corresponding conditional mean of y, denoted E(y |x). The goal of polynomial regression is to model a non-linear relationsh

[2020-10-01 06:38] reachpranjal commented on #1184
The code is ready. Please assign me the task.

[2020-10-01 07:57] sparkingdark commented on #195
Okay

[2020-10-01 08:05] ankitaggarwal23 commented on #417
@iamrajiv Yes I'm working with C.

[2020-10-01 10:19] imPGupta commented on #1175
I want to contribute to this. Assign me either in **C** or **C++**.

[2020-10-01 11:58] Rishabh7896 opened #1195 "All possible sums using FFT"
## 💥 Proposal<br>
We are given two arrays a[] and b[]. We have to find all possible sums a[i]+b[j], and for each sum count how often it appears.

Let the size of array a be n and array b be m.<br>

### Brute Force Approach:
You traverse through all the elements in <b>O(n&lowast;m)</b>, and generate all possible sums then store at some location. Now the size of the generated sums is (n&lowast;m)=p.

[2020-10-01 11:58] Rishabh7896 commented on #1195
@Kajol-Kumari @plazzy99 @siddharth25pandey @Abhijit2505 @HarshCasper @iamrajiv
Please assign me this issue
I would like to implement this in C++ and please add labels.

[2020-10-01 12:01] salonishah01 commented on #1195
I would like to take up the issue in python.

[2020-10-01 12:02] ritvij14 commented on #1195
I would like to take this in Java for CH20

[2020-10-01 15:46] rutujadhanawade commented on #1195
I would like to do this in C

[2020-10-01 20:04] Jappan07 opened #1205 "Addition of Kahn's Algorithm"
## 💥 Proposal

This is for the addition of Kahn's Algorithm to the graphs folder in c++ section.
I think it would be a good addition as it is a very important algorithm which is helpful in competitive programming.
May I make a PR for this?

[2020-10-01 22:25] ritwikchakraborty123 commented on #1205
I want to do  it sir

[2020-10-02 01:15] Jappan07 commented on #1205
Sorry, but the task is completed now

[2020-10-02 02:41] bagladivyang03 commented on #1060
@HarshCasper pls assign me this in python

[2020-10-02 03:09] rutujak24 commented on #1180
I will take this issue.

[2020-10-02 04:48] ymaheshwari1 opened #1211 "To take input from the users in the Linear Search and Binary Search in Java"
## 🐛 Bug Report
Currently, there are hardcoded inputs in the Linear Search and Binary Search algorithms in Java

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
YES

[2020-10-02 04:48] ymaheshwari1 commented on #1211
@Kajol-Kumari
I am interested in this issue.

[2020-10-02 06:23] suprithars111 opened #1217 "Adding Armstrong Number code in Math section"
## 🚀 Feature

In recreational number theory, a narcissistic number is also known as a pluperfect digital invariant (PPDI), an Armstrong number or a plus perfect number is a number that is the sum of its digits each raised to the power of the number of digits.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#rep

[2020-10-02 06:24] suprithars111 commented on #1217
I want to work in C++ please assign me this

[2020-10-02 06:28] sukritidawar commented on #1217
I want to do this in python.

[2020-10-02 07:07] rohangawhade commented on #1217
I would like to work on this on java.

[2020-10-02 07:13] ankitaggarwal23 commented on #437
@iamrajiv Kindly review my PR #1221 .

[2020-10-02 07:15] rohangawhade opened #1222 "RSA Algorithm in Cryptography"
## 🚀 Feature

RSA algorithm is a public key encryption technique that can be considered as the most secure way of encryption. It is an asymmetric cryptographic algorithm i.e it has two keys: public key and private key

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-10-02 07:16] rohangawhade commented on #1222
I would like to work on this in python

[2020-10-02 07:28] rohangawhade opened #1224 "Diffie-Hellman Key Exchange"
## 🚀 Feature

Diffie Hellman (DH) key exchange algorithm is a method for securely exchanging cryptographic keys over a public communications channel. The Diffie-Hellman algorithm establishes a shared secret that can be used for secret communications while exchanging data over a public network.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoA

[2020-10-02 07:28] rohangawhade commented on #1224
I would like to work on this in python

[2020-10-02 07:29] imPGupta commented on #1217
I would like to contribute to this issue. Assign me in **C**.
@siddharth25pandey

[2020-10-02 07:37] #437 closed, assigned to anime19, chandansahuji, kashika3101, Nagasuruthika, ankitaggarwal23

[2020-10-02 08:08] 2tanayk commented on #1217
I would like to do this in Javascript @siddharth25pandey please assign this to me if possible  😊

[2020-10-02 08:10] siddharth25pandey commented on #1217
@imPGupta Go ahead
All the best

[2020-10-02 08:11] siddharth25pandey commented on #1217
@2tanayk  Go ahead
All the best

[2020-10-02 08:11] siddharth25pandey commented on #1217
@rohangawhade  Go ahead
All the best

[2020-10-02 08:14] ankitaggarwal23 commented on #1068
I would like to contribute in this issue in C++

[2020-10-02 08:22] 2tanayk commented on #1119
I would like to do this in Javascript @HarshCasper

[2020-10-02 08:37] sharur7 commented on #1217
I want to work in C-Sharp. Can you please assign it to me? @siddharth25pandey

[2020-10-02 09:02] ankitaggarwal23 commented on #974
@iamrajiv @HarshCasper I would like to work in c#

[2020-10-02 09:51] suprithars111 opened #1232 "Adding Catalan Number code in Math section"
## 🚀 Feature

Catalan numbers is a number sequence, which is found useful in a number of combinatorial problems, often involving recursively-defined objects.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Assignees

- C-Plus-Plus: @suprithars111
- C-Sharp: @sharur7
- C: @saloni

[2020-10-02 09:54] ankitaggarwal23 commented on #974
@iamrajiv @HarshCasper Kindly review my PR #1233 .

[2020-10-02 09:58] suprithars111 commented on #1232
@Kajol-Kumari @iamrajiv @plazzy99  I want to work in C++ please assign me this.

[2020-10-02 10:12] iamRishabh07 commented on #1232
@iamrajiv I want to work in python can you assign me.

[2020-10-02 12:13] rohangawhade commented on #1232
I would like to work on this in java

[2020-10-02 12:51] salonishah01 commented on #1232
I would like to work on this in C.

[2020-10-02 13:14] soumik-dhar commented on #1217
Can I take a stab at this using Go?

[2020-10-02 13:17] smv1999 commented on #752
I have not been added @iamrajiv

[2020-10-02 13:52] iamrajiv commented on #752
@smv1999 I have added you please take a look https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTORS.md

[2020-10-02 13:53] SangeetaMishra commented on #922
@iamrajiv @atarax665 @plazzy99 I have added the Python Code

[2020-10-02 13:54] #974 closed, assigned to parjanyaacoder, rutujadhanawade, SangeetaMishra, ankitaggarwal23

[2020-10-02 14:31] SangeetaMishra commented on #417
@iamrajiv Can you assign this to me in C as well

[2020-10-02 14:34] iamrajiv commented on #417
@SangeetaMishra Sure.

[2020-10-02 15:10] smv1999 commented on #752
Thank you !

[2020-10-02 15:29] SangeetaMishra commented on #417
@iamrajiv @atarax665 @plazzy99 @Kajol-Kumari  I have added code in C and C++

[2020-10-02 22:12] ganatra-v commented on #1175
@HarshCasper I would like to do this in Java

[2020-10-03 05:39] #1126 closed, assigned to NEEHITGOYAL

[2020-10-03 05:41] #1127 closed, assigned to NEEHITGOYAL

[2020-10-03 07:00] atarax665 commented on #1205
Add proper description of the algorithm so that contributors can have a clear idea if they wanna take up this issue or not.

[2020-10-03 07:00] #1205 closed, assigned to nobody

[2020-10-03 07:14] ritwikchakraborty123 commented on #1205
Should I do it?

[2020-10-03 07:17] atarax665 commented on #1211
@ymaheshwari1 Yeah, you can do it. Also format the code according to [Java style guide](https://google.github.io/styleguide/javaguide.html)

[2020-10-03 07:24] atarax665 commented on #1180
@reachpranjal Do check the existing issues before opening a new one. This is a duplicate issue for #47 . Kindly comment there and wait for a project maintainer to assign you the issue in your preferred language.

[2020-10-03 07:24] atarax665 commented on #1180
@rutujak24 Please comment on #47 and do not pull a request before you are assigned the issue.

[2020-10-03 07:24] #1180 closed, assigned to nobody

[2020-10-03 07:27] atarax665 commented on #1125
@NEEHITGOYAL No need of opening a new issue for readme update, you can directly put a pull request and mention me there so that I can approve it.

[2020-10-03 07:27] #1125 closed, assigned to nobody

[2020-10-03 07:38] #1132 closed, assigned to nobody

[2020-10-03 07:38] #1128 closed, assigned to nobody

[2020-10-03 07:38] #1131 closed, assigned to nobody

[2020-10-03 07:39] #1129 closed, assigned to nobody

[2020-10-03 07:40] #1130 closed, assigned to nobody

[2020-10-03 07:44] atarax665 commented on #1108
@gayatri517 Can you be more descriptive about the problem? eg- Add few test cases to so that contributors can have better insight of the issue.

[2020-10-03 08:17] gayatri517 commented on #1108
DESCPRIPTION:
For this problem, your goal is to sort an array of 0, 1 and 2's but you must do this in place, in linear time and without any extra space (such as creating an extra array).

Example 1:
Input: array = [2,0,2,1,1,0]
Output: [0,0,1,1,2,2]

Example 2:
Input: array = [2,0,1]
Output: [0,1,2]

Example 3:
Input: array= [0]
Output: [0]

@atarax665

[2020-10-03 08:20] Jappan07 commented on #1205
Description:
Topological sort gives a linear ordering of vertices in a directed acyclic graph such that, for every directed edge a -> b, vertex ‘a’ comes before vertex ‘b’. Remember, a directed acyclic graph has at least one vertex with an in-degree of 0 and one vertex with an out-degree of 0.
Kahn’s Topological Sort Algorithm works by finding vertices which have no incoming edges and removing all

[2020-10-03 08:42] atarax665 commented on #195
I am closing this issue and opening a new issue for the same to get some new contribution by the hacktoberfest contributors.

[2020-10-03 08:42] #195 closed, assigned to sparkingdark

[2020-10-03 08:45] atarax665 opened #1270 "Bilinear Search"
**Algorithm: [Bilinear Search](https://www.ijcsmc.com/docs/papers/December2015/V4I12201543.pdf)**
Bilinear search is a modified version of linear search where it searches from both direction.

**Languages Supported:**
* C : [@sparkingdark ]
* CPP : @Rishabh7896
* Python : [@sparkingdark ]
* Java : @rohangawhade
* JavaScript :
* GO :
* C# :
* Q# :

[2020-10-03 08:59] Rishabh7896 commented on #1270
I can take it in c++.

[2020-10-03 09:08] atarax665 commented on #1270
@Rishabh7896 Sure. You can start working on this issue in C++.
Happy Coding.

[2020-10-03 09:08] rohangawhade commented on #1270
I would like to work on this in java

[2020-10-03 09:10] atarax665 commented on #1270
@rohangawhade Assigned in Java.
Make sure you go through the Contribution guidelines.
Happy coding.

[2020-10-03 11:03] #543 closed, assigned to nobody

[2020-10-03 11:22] narayan2111 commented on #1074
kindly add hacktoberfest label on this issue ,this issue is counted towards hacktobefest. @iamrajiv @plazzy99

[2020-10-03 11:23] narayan2111 commented on #1152
kindly add hacktoberfest label on this issue ,this issue is counted towards hacktobefest. @iamrajiv @plazzy99

[2020-10-03 13:16] Rishabh7896 opened #1276 "Minimum Spanning Tree"
## 💥 Proposal
There are n vertices and e edges and their weights, you need to construct [minimum spanning tree](https://en.wikipedia.org/wiki/Minimum_spanning_tree).

<b>Proposed Solution:</b>
Scan the array elements, and push it in a vector, sort the array with their weights which takes <b>O(e log e)</b>.
Now iterate through the vector and check whether or not this edge should be added using unio

[2020-10-03 13:19] Rishabh7896 commented on #1276
@Kajol-Kumari @plazzy99 @siddharth25pandey @Abhijit2505 @HarshCasper @iamrajiv
Please assign me this issue
I would like to implement this in C++ and please add labels.

[2020-10-03 14:40] JayantGoel001 opened #1278 "Trie Data Structure"
## 🚀 Proposal
[Trie Data Structure](https://en.wikipedia.org/wiki/Trie)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Google Search Engine Uses Trie Data Structure To Search our Queries)

## Pitch

(Trie Data Structure Is A speacial type of data structure which lo

[2020-10-03 14:55] JayantGoel001 commented on #1278
@Rishabh7896 I Have Taken This In CPP

[2020-10-03 15:26] Bidonsaha commented on #1278
Hey @Abhijit2505 @HarshCasper @anushkrishnav can I be assigned this issue to solve in python?

[2020-10-03 15:27] Bidonsaha commented on #1276
Hi again  @Abhijit2505 @HarshCasper @anushkrishnav, would like to solve this issue in python. Can you assign me this?

[2020-10-03 15:29] anushkrishnav commented on #1276
Go ahead with it

[2020-10-03 15:44] Bidonsaha opened #1280 "Computational Geometry algorithms and problems"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-10-03 15:54] sharur7 commented on #1232
@iamrajiv  I want to work on this in C-sharp

[2020-10-03 17:36] ritikverma2000 commented on #1074
I would like to work on this issue in java using recursion.
Kindly assign this issue also add labels to it @ritikverma2000 and also add a label hacktoberfest label to it.

[2020-10-03 20:11] rjn01 commented on #1119
@plazzy99 I want to work on this issue using Python. Earlier I commented as a CH20 participant but hasn't been assigned. Can I take this issue for HacktoberFest

[2020-10-03 21:22] #1280 closed, assigned to nobody

[2020-10-04 06:01] atarax665 commented on #134
Closing by #1278

[2020-10-04 06:01] #134 closed, assigned to nobody

[2020-10-04 06:07] atarax665 commented on #849
All the assignees should comment on #1278 for any query related to this issue.

[2020-10-04 06:07] #849 closed, assigned to devanshiv123, Himanshu70565, Lakhan-Nad, Ajay0511

[2020-10-04 10:02] NirmalSilwal commented on #424
Hi, can I add the **implementation in Java** for N-Queen problem?

[2020-10-04 10:26] NirmalSilwal opened #1285 "wanted to contribute Java implementation for N-Queen and level order traversal of tree"
Hi contributor there, in the [existing repo for Java](https://github.com/TesseractCoding/NeoAlgo/tree/master/Java) there is **no any implementation for N-Queen problem and level order traversal of tree**, which are in general important from interview perspective also.

So I would like to add the code for them. What are your suggestions?

Thanks

[2020-10-04 11:08] 13muskanp opened #1286 "Addition of Ugly Number Problem"
## 🚀 Feature
**Ugly Number Problem**
Ugly numbers are numbers whose only prime factors are 2, 3 or 5. The sequence 1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 15, … shows the first 11 ugly numbers. By convention, 1 is included.
Given a number n, the task is to find n’th Ugly number.

Example :
Input:
N = 10
Output: 12
Explanation: 10th ugly number is 12.

### Have you read the [Contributing Guidelines on Pull

[2020-10-04 12:05] ArchanaDhaker commented on #1285
I would like to add N-Queen problem. kindly assign to me.

[2020-10-04 12:26] JayantGoel001 commented on #1286
Please assign me for  this task in java

[2020-10-05 12:19] reachpranjal commented on #47
I can take this in C and JS.

[2020-10-05 12:33] atarax665 commented on #1285
@NirmalSilwal You can comment on #401 to contribute level order traversal of tree.
@ArchanaDhaker Comment on #424 to get the N-Queen issue assigned to you.

[2020-10-05 12:33] #1285 closed, assigned to nobody

[2020-10-05 12:36] atarax665 commented on #1182
@reachpranjal Assigning you this issue, do check the other files in the repository for static input. If you find any just add dynamic inputs code and and raise a PR.

[2020-10-05 14:17] salonishah01 commented on #1286
Assign me to work in python

[2020-10-05 15:56] NirmalSilwal commented on #1285
Thanks, will comment there.

[2020-10-05 17:01] MuhammadTanveer94 commented on #1119
I would like to do this in Javascript @bagladivyang03

[2020-10-05 17:30] vatsalkesarwani12 commented on #1119
yes you can

[2020-10-05 17:30] vatsalkesarwani12 commented on #1119
assigned you with javascript

[2020-10-06 00:24] #69 closed, assigned to parjanyaacoder, UtkarshChaurasia, sparkingdark, Apoorve73, RaviAnand111

[2020-10-06 08:59] Rishabh7896 commented on #1286
I can take it in C.

[2020-10-06 16:46] atarax665 commented on #1278
@CormacKrum Trie data structure has already been implemented in [C++](https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/ds/Trie_implementation.cpp), though you can still take this issue in any other language of your choice.

[2020-10-06 16:48] atarax665 commented on #1278
@Bidonsaha Assigned in Python.

[2020-10-06 17:13] atarax665 commented on #1286
@CormacKrum Assigned in Java
@salonishah01 Assigned in Python
@Rishabh7896 Assigned in C

[2020-10-06 17:47] atarax665 commented on #434
Partition techniques can be explained in Quick Sort Algorithm itself, I don't think we need to add partition techniques programs individually.

[2020-10-06 17:47] #434 closed, assigned to nobody

[2020-10-06 18:25] JayantGoel001 commented on #1278
@atarax665 I Can Implement This is Java Please Assign.

[2020-10-06 22:33] vatsalkesarwani12 commented on #1278
yes you can start working in java

Happy Learning🥳

[2020-10-07 19:38] csendranshi opened #1296 "Adding 2 numbers with Linked Lists"
## 🚀 Feature
Python implementation of Addition of 2 numbers using Linked Lists with carry handling.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

GeeksForGeeks interview guide Problem Statement useful for current placement season

## Pitch

Useful for current place

[2020-10-07 19:40] csendranshi commented on #1296
Please assign me this issue

[2020-10-08 00:20] #286 closed, assigned to nobody

[2020-10-08 07:14] heyanurag commented on #1286
@atarax665 Please assign me this for Javascript

[2020-10-08 10:32] narayan2111 opened #1298 "Last Digit of a Large Fibonacci Number"
## 🚀 Feature

The problem is to find the last digit of 𝑛-th Fibonacci number. Recall that Fibonacci numbers grow exponentially fast.
For example,
            𝐹200= 280 571 172 992 510 140 037 611 932 413 038 677 189 525
output: 5

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## M

[2020-10-08 10:33] narayan2111 commented on #1298
i would like to work on this issue in c++ ,kindly assign this issue to me @iamrajiv @plazzy99

[2020-10-08 10:40] narayan2111 opened #1299 "Fast Program to find Greatest Common Divisor"
## 🚀 Feature

The greatest common divisor GCD(𝑎, 𝑏)of two non-negative integers𝑎and𝑏(which are not both equal to0) is the greatest integer𝑑that divides both𝑎and𝑏.Your goal in this problem is to implement the Euclidean algorithm for computing the greatest common divisor. Efficient algorithm for computing the greatest common divisor is an important basic primitive of commonly used cryptographic algo

[2020-10-08 10:41] narayan2111 commented on #1299
i would like to work on this issue in C++ ,kindly assign this issue to me @iamrajiv @plazzy99

[2020-10-08 10:43] nutanaarohi123 commented on #1298
I would like to work on this issue in Java.

[2020-10-08 10:45] nutanaarohi123 commented on #1299
I would like to work on this issue in Java.

[2020-10-08 10:46] vatsalkesarwani12 commented on #1298
@nutanaarohi123 - Java
@narayan2111 - C++
**Assigned**
You can start working on the issue.

[2020-10-08 10:46] narayan2111 opened #1300 "Least Common Multiple for large numbers"
## 🚀 Feature

The least common multiple of two positive integers 𝑎 and 𝑏 is the least positive integer 𝑚 that is divisible by both 𝑎 and 𝑏.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

**Task.** Given two integers 𝑎 and 𝑏, find their least common multiple.
**Input

[2020-10-08 10:47] narayan2111 commented on #1300
i would like to work on this issue in python. kindly assign this issue to me @iamrajiv @plazzy99

[2020-10-08 10:52] Abhi1398 commented on #1296
I would love to work on this using python

[2020-10-08 10:52] Abhi1398 commented on #1296
Please assign this to me

[2020-10-08 11:38] yashaswibiyahut commented on #1300
I would like to do this in Cpp kindly assign me @iamrajiv @siddharth25pandey @SKAUL05 @Kajol-Kumari

[2020-10-08 15:09] csendranshi commented on #1296
I have solved this issue and snet a pull request

[2020-10-09 07:28] kirito-udit opened #1306 "Knapsack"

[2020-10-09 07:52] rishigarg94 commented on #1306
can you pls elaborate more about the issue

[2020-10-09 08:17] xma8lu opened #1308 "Happy Number"
## 🚀 Feature

### Happy Number

A number is called happy if it leads to 1 after a sequence of steps wherein each step number is replaced by the sum of squares of its digit that is if we start with Happy Number and keep replacing it with digits square sum, we reach 1.

For example, 32 is a happy number as the process yields 1 as follows

3^2 + 2^2 = 13
1^2 + 3^2 = 10
1^2 + 0^2 = 1

### Have you rea

[2020-10-09 08:25] rishigarg94 commented on #1182
hey, i have resolved this issue pls assign it to me, i will create a pr as soon i will be assigned this issue

[2020-10-09 08:56] salonishah01 commented on #1308
I would like to work on this in python

[2020-10-09 09:25] ShrutiRawal opened #1311 "Majority Element in array using Moore's Voting Algorithm"
Problem - Given an array of n elements, find an element that occurs more than [n/2] times in the array.
I'll implement this using **Java**, kindly assign this to me.

[2020-10-09 09:50] ShahriarCodes opened #1312 "House Robber problem"
## 🚀 Feature

LeetCode problem 198.

You are a professional robber planning to rob houses along a street. Each house has a certain amount of money stashed, the only constraint stopping you from robbing each of them is that adjacent houses have security system connected and it will automatically contact the police if two adjacent houses were broken into on the same night.

Given a list of non-negat

[2020-10-09 09:57] ShahriarCodes commented on #1312
Please assign this task to me @SKAUL05 @HarshCasper @atarax665 @plazzy99 @iamrajiv

[2020-10-09 12:58] AdityaJ7 commented on #1312
mention the language you want to work in as well

[2020-10-09 13:22] ShahriarCodes commented on #1312
I can solve the **house robber** problem in these languages
   - Python
   - Java
   - JavaScript
   - C-Plus-Plus

[2020-10-09 13:24] AakritiKinra commented on #1300
I would like to work on this in C language. Kindly assign me @iamrajiv @SKAUL05 @siddharth25pandey @Kajol-Kumari

[2020-10-09 13:26] AdityaJ7 commented on #1312
they assign one language at a time

[2020-10-09 13:51] ShahriarCodes commented on #1312
I can solve the house robber problem in **Python**.

[2020-10-09 16:25] atarax665 commented on #1306
@rishigarg94 #423 This is the original issue.

[2020-10-09 16:27] #1306 closed, assigned to nobody

[2020-10-09 17:16] atarax665 commented on #1312
@shahriar100 Assigned in Python.

[2020-10-09 18:25] rishigarg94 commented on #1298
@iamrajiv  i will like to work on this in pyhton

[2020-10-10 01:03] JayantGoel001 commented on #1278
@atarax665  @plazzy99 Please Accept My PR

[2020-10-10 01:04] JayantGoel001 commented on #1286
@atarax665 Please Accept My PR

[2020-10-10 03:43] Nirali0029 commented on #1138
Please assign this to me for python

[2020-10-10 11:53] rishigarg94 commented on #1308
i would like to work on it in java or pyhton

[2020-10-10 12:29] rishigarg94 commented on #1308
i have done submitting a pr on this issue for java code , please review it

[2020-10-10 16:57] salonishah01 commented on #1312
Assign me the issue in C

[2020-10-10 18:03] rishigarg94 commented on #1308
@iamrajiv  sir please review my PR

[2020-10-11 03:45] rcoder23 commented on #1311
@ShrutiRawal  I added the solution of the problem .Please merged it

[2020-10-11 08:32] ShrutiRawal commented on #1311
@rcoder23 I'm just a contributor, you should mention any of the maintainers.

[2020-10-11 13:25] narayan2111 commented on #1299
Kindly assign this issue to me @iamrajiv @SKAUL05 @plazzy99

[2020-10-11 15:25] #1060 closed, assigned to shraddhavp, bagladivyang03, HarshKhilawala

[2020-10-12 00:26] #285 closed, assigned to Halix267

[2020-10-12 02:32] #249 closed, assigned to atarax665

[2020-10-12 02:38] atarax665 opened #1321 "Extended Euclidean Algorithm"
## 🚀 Algorithm

[Extended Euclidean Algorithm](https://en.wikipedia.org/wiki/Extended_Euclidean_algorithm)

## Languages Available:
* C : @Aanchi-glitch2744
* C# :
* JavaScript :
* Go :

[2020-10-12 02:42] atarax665 commented on #1312
Assigned in C.
Happy Coding!

[2020-10-12 02:46] atarax665 opened #1322 "Tim Sort"
**Algorithm:
[Tim sort](https://en.wikipedia.org/wiki/Timsort)**

Tim sort is a hybrid stable sorting algorithm, derived from merge sort and insertion sort, designed to perform well on many kinds of real-world data. It was implemented by Tim Peters in 2002 for use in the Python programming language. The algorithm finds sub-sequences of the data that are already ordered (runs) and uses them to sort

[2020-10-12 02:47] atarax665 commented on #176
Closing by #1322

[2020-10-12 02:47] #176 closed, assigned to YashThakare

[2020-10-12 03:23] rcoder23 commented on #1311
Hello @plazzy99 @iamrajiv   ,Please review my pull request and merged it .

Thank you

[2020-10-12 03:26] atarax665 opened #1323 "Knuth Morris Pratt algorithm"
## Algorithm :
[Knuth–Morris–Pratt algorithm](https://en.wikipedia.org/wiki/Knuth–Morris–Pratt_algorithm)

## Languages Supported:

- CPP: Done
- C: @salonishah01
- Python: Done
- Java: @Amanj2000
- JavaScript: Done
- C# :
- Go :

[2020-10-12 03:27] atarax665 commented on #376
Closed by #1323

[2020-10-12 03:27] #376 closed, assigned to YashThakare, anshulontech

[2020-10-12 03:57] rcoder23 commented on #1321
I want to wok on this issue please assigned to me .

[2020-10-12 07:54] SANKET7738 commented on #1322
I would like to take this issue in python.

[2020-10-12 10:50] AdityaJ7 commented on #1312
@atarax665 I'll take this in C++

[2020-10-12 14:07] salonishah01 commented on #1323
I can take up the issue in C.

[2020-10-12 14:07] salonishah01 commented on #1322
I can work on this in C.

[2020-10-12 14:28] Amanj2000 commented on #1323
I would like to work on this in java.

[2020-10-13 00:26] #331 closed, assigned to iamrajiv

[2020-10-13 13:12] Amanj2000 commented on #1312
I want to solve the issue in Java.

[2020-10-13 15:29] atarax665 commented on #1321
@rcoder23 Do mention the language you want to work in.

[2020-10-13 15:30] atarax665 commented on #1322
@SANKET7738 Assigned in Python.

[2020-10-13 15:31] atarax665 commented on #1322
@salonishah01 Assigned in C.

[2020-10-13 15:38] atarax665 opened #1326 "Ternary Search"
## 🚀 Algorithm

[Ternary Search](https://en.wikipedia.org/wiki/Ternary_search)
(Add both recursive and iterative approach)

## Languages Supported :
- C : @salonishah01
- CPP : @CormacKrum
- Python : @basharfarid77
- Java : @parjanyaacoder
- JavaScript :
- GO :
- C# :

[2020-10-13 15:48] basharfarid77 commented on #1326
Will be happy to contribute if assigned in python language :)

[2020-10-13 20:13] JayantGoel001 commented on #1326
Please Assign Me This. I Can Do It in CPP

[2020-10-14 06:09] parjanyaacoder commented on #1326
I would like to work on this issue in Java.

[2020-10-14 10:26] salonishah01 commented on #1326
I would work on this issue in C

[2020-10-14 16:06] anilkumarbasnet commented on #1298
@iamrajiv I will like to work this in C.

[2020-10-14 16:13] anilkumarbasnet commented on #1298
@iamrajiv I will like to work this in C.

[2020-10-15 13:00] atarax665 commented on #1326
@basharfarid77 Assigned in Python.
@CormacKrum Assigned in C++.
@parjanyaacoder Assigned in Java.
@salonishah01 Assigned in C.

[2020-10-16 06:20] xma8lu commented on #1322
Hey @atarax665  can i work on this in JAVA

[2020-10-16 07:46] #350 closed, assigned to howdyAnkit

[2020-10-16 11:29] Aanchi-glitch2744 commented on #1321
I would like to work on this issue in C

[2020-10-16 11:30] atarax665 commented on #1308
@rishigarg94 Assigned in Java.
@salonishah01 Assigned in Python.

[2020-10-16 11:31] atarax665 commented on #1321
@Aanchi-glitch2744  You can start working on this issue in C.
Happy Coding!!

[2020-10-16 11:34] atarax665 commented on #1322
@aditya-gite-04 Assigned in Java.

[2020-10-16 13:03] samriddhisv commented on #400
I would love to work on this in C

[2020-10-16 13:04] samriddhisv commented on #399
Hey, I'd love to contribute to this using C

[2020-10-16 18:03] xma8lu commented on #1308
@atarax665 can you please assign this to me in cpp

[2020-10-17 07:39] rishigarg94 commented on #1308
@atarax665  i have submitted happy number code PR in java, can you please review it.thanks

[2020-10-17 07:50] rishigarg94 commented on #1298
@plazzy99  pls assign this issue to me in python

[2020-10-17 07:57] rishigarg94 commented on #1300
i would like to work on this issue in java @iamrajiv @plazzy99  pls assign me this issue in java

[2020-10-17 07:58] rishigarg94 commented on #1300
@yashaswibiyahut  pls assign me this issue

[2020-10-17 12:18] Preetesh21 opened #1346 "snake and ladder"
## 🚀 Problem

Add code for snake and ladder problem

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes.

## Motivation

Asked in interviews.

## Pitch
Given a snake and ladder board of order 5x6, find the minimum number of dice throws required to reach the destination or last cell (30t

[2020-10-17 15:08] sumitaccess007 commented on #1299
Hi @TesseractCoding
I would like to contribute for this problem in Java Programming language, Also I will be making the code more and more dynamic ans with proper documentation.

[2020-10-18 00:27] #210 closed, assigned to rohitm131, harsh7in

[2020-10-18 23:17] arnab031 commented on #1278
Would you assign me this problem in python?

[2020-10-18 23:19] arnab031 commented on #1308
I would like to work on this in C. Would you please assign it to me?

[2020-10-19 00:27] #323 closed, assigned to rayvantsahni

[2020-10-19 00:27] #199 closed, assigned to GSNCodes, rohitm131, Vrindagupta6828, harsh7in

[2020-10-19 00:27] #125 closed, assigned to chaitanya003, GSNCodes, Gaushikmr

[2020-10-19 00:27] #41 closed, assigned to SRILEKHA-V19

[2020-10-19 00:27] #39 closed, assigned to atarax665, rohitkumar-rk, anushkrishnav

[2020-10-19 00:27] #16 closed, assigned to nobody

[2020-10-19 07:50] pra17dod commented on #1321
I would like to work on this using CPP. Can you please assign it to me?

[2020-10-19 07:52] pra17dod commented on #1346
I would like to work on this problem in CPP language. Could you please assign me?

[2020-10-19 08:03] pra17dod commented on #1299
I would like to contribute to this issue in cpp, I have solved this problem already. Could you please assign it to me?

[2020-10-19 08:25] pra17dod opened #1355 "Knapsack problem"
## 🚀 Feature

[Knapsack problem](https://en.wikipedia.org/wiki/Knapsack_problem)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes, I have read it.

## Motivation
It is a basic and important problem to understand the greedy algorithm.

## Pitch
The knapsack problem is a problem in comb

[2020-10-19 08:27] pra17dod commented on #1355
I would like to contribute on this issue in cpp. I have already solved the problem, so please assign me.

[2020-10-19 14:14] Amanj2000 commented on #1355
I want to work on this in c.

[2020-10-19 16:48] atarax665 commented on #1355
#423

[2020-10-19 16:48] atarax665 commented on #1355
Duplicate issue.

[2020-10-19 16:48] #1355 closed, assigned to nobody

[2020-10-19 16:50] atarax665 commented on #1321
This has already been implemented in CPP. You can still take this issue in one of the remaining languages according to your convenience.

[2020-10-19 16:52] atarax665 commented on #1308
Assigned in CPP : @aditya-gite-04
Assigned in C : @arnab031
Happy Coding.

[2020-10-20 00:27] #149 closed, assigned to vgb-codes, GSNCodes, harsh7in, MSufiyanAG

[2020-10-20 00:27] #127 closed, assigned to jivthesh

[2020-10-21 00:27] #306 closed, assigned to atarax665

[2020-10-21 02:31] #1211 closed, assigned to ymaheshwari1

[2020-10-21 02:34] #244 closed, assigned to nobody

[2020-10-21 02:41] atarax665 opened #1361 "Ackerman Function"
## 🚀 Feature

### [Ackerman Function](https://en.wikipedia.org/wiki/Ackermann_function)
![image](https://wikimedia.org/api/rest_v1/media/math/render/svg/b72351763c6665ed2049aec7b29edd24bed292eb)

### Languages Supported :
- C :
- CPP : DONE
- Java :
- Python : @pra17dod
- JavaScript :
- GO :
- C# :

[2020-10-21 02:42] #427 closed, assigned to ritvij14, anubhvshrma18, Vivek214-Candy, kushagraiitbbs

[2020-10-21 05:06] Rishikeshrajrxl commented on #306
I am really interested in reviewing it.

[2020-10-21 09:20] ghost commented on #1361
I want to work on this issue

[2020-10-21 15:25] pra17dod commented on #1361
I would like to work on in python, can you please assign me?

[2020-10-22 00:27] #407 closed, assigned to nobody

[2020-10-22 00:27] #398 closed, assigned to nobody

[2020-10-22 00:27] #377 closed, assigned to nobody

[2020-10-22 00:27] #385 closed, assigned to pradeep98, ujjawal-1999, shankhanil007

[2020-10-22 16:55] amit14mitra opened #1369 "Prime Checker Program"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-10-22 17:21] snehaa1989 commented on #1369
Proposal:
I will code this program in C++
I have read the guidelines well and will follow them.

[2020-10-22 17:33] amit14mitra commented on #1369
Yes. I have followed them

[2020-10-23 00:28] #410 closed, assigned to anime19, ujjawal-1999, neha07kumari

[2020-10-23 00:28] #409 closed, assigned to nobody

[2020-10-23 00:28] #406 closed, assigned to imPGupta, sukritidawar, Sohailsaifi, gupta-piyush19, Sapna2001, infoarpit

[2020-10-23 00:28] #403 closed, assigned to nobody

[2020-10-23 00:28] #301 closed, assigned to nobody

[2020-10-23 00:28] #254 closed, assigned to kashika3101, Ajay0511, Gaushikmr, santushtisharma10

[2020-10-23 00:28] #218 closed, assigned to harsh7in

[2020-10-23 00:28] #131 closed, assigned to nobody

[2020-10-23 00:28] #164 closed, assigned to shobhu98, srinivasdasu24, m-code12, harsh7in

[2020-10-23 00:28] #18 closed, assigned to nobody

[2020-10-23 03:09] atarax665 opened #1372 "Prime Number"
## 💥 Proposal

Check if a given number is a Prime Number or not.
e.g :
[code]
**Note** - Add both iterative and recursive approach.
### Do read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues).

### Languages Supported :
- C :
- CPP :
- Python :
- Java :
- JavaScript :
- GO :
- C# :

[2020-10-23 03:11] atarax665 commented on #1369
@amit14mitra @snehaa1989 Comment on #1372 to get this issue assigned to you.

[2020-10-23 03:11] #1369 closed, assigned to nobody

[2020-10-23 03:13] atarax665 commented on #1361
@shahbazalam07 You also need to mention the language you want to take this issue in.

[2020-10-23 03:20] atarax665 commented on #1361
@pra17dod Assigned in Python. Happy Coding.

[2020-10-23 03:25] LON3WO7F commented on #1119
@bagladivyang03 Please assign this to me.
I would like to do it in python.

[2020-10-23 03:30] salonishah01 commented on #1372
I would like to contribute in C and python.

[2020-10-23 04:30] thuy-ttn opened #1374 "XOR Cipher in Python"
## 🚀 Feature

#This in an implementation of XOR cipher in Python 3.8.
It can encrypt message with a given key and decrypt the message with top 5 possible plaintext.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I would like to add more cryptography systems to NeoAl

[2020-10-23 04:38] thuy-ttn commented on #1374
@iamrajiv @atarax665 I added a pull request for this issue :))) please check it if you have time. And also, assigning this issue for me is the kindest thing you can do. Welcome to ask me to edit my code. Tysm

[2020-10-23 14:57] manavbhikadiya commented on #1372
i would love to this task. please assign this to me. also i have very good knowledge of ds and algo!

[2020-10-23 21:06] ghost commented on #1346
can you assign me this

[2020-10-24 00:28] #507 closed, assigned to nobody

[2020-10-24 00:28] #493 closed, assigned to nobody

[2020-10-24 00:28] #494 closed, assigned to nobody

[2020-10-24 00:28] #455 closed, assigned to stratospher

[2020-10-24 00:28] #401 closed, assigned to peeky1811, Jkp2072

[2020-10-24 00:28] #130 closed, assigned to obli99, yashsahay25, lipsamishra1609

[2020-10-24 00:28] #343 closed, assigned to YashThakare, Abhijit2505

[2020-10-24 00:28] #124 closed, assigned to chaitanya003

[2020-10-24 00:28] #126 closed, assigned to chaitanya003, GSNCodes, Gaushikmr

[2020-10-24 05:41] rishigarg94 commented on #1372
i would like to contribute in java @atarax665  @plazzy99 @iamrajiv  pls assign this to me

[2020-10-25 00:29] #509 closed, assigned to nobody

[2020-10-25 00:29] #559 closed, assigned to nobody

[2020-10-25 00:29] #495 closed, assigned to pradeep98, SandipNayak, Rishikeshrajrxl, viveksahu26

[2020-10-25 00:29] #488 closed, assigned to nobody

[2020-10-25 00:29] #468 closed, assigned to smv1999

[2020-10-25 00:29] #461 closed, assigned to DrSehgal7, AkM-2018, ritvij14

[2020-10-25 00:29] #446 closed, assigned to salonishah01, Shishir198, reethikprasad, ankitaggarwal23

[2020-10-25 00:29] #393 closed, assigned to nobody

[2020-10-25 00:29] #319 closed, assigned to nobody

[2020-10-25 00:29] #325 closed, assigned to rayvantsahni

[2020-10-25 00:29] #46 closed, assigned to priyanka2109

[2020-10-25 00:29] #128 closed, assigned to srinivasdasu24

[2020-10-25 00:29] #45 closed, assigned to priyanka2109

[2020-10-25 00:29] #44 closed, assigned to ShubhamRattra

[2020-10-25 00:29] #15 closed, assigned to nobody

[2020-10-26 00:29] #542 closed, assigned to Rishikeshrajrxl

[2020-10-26 00:29] #40 closed, assigned to kulsoomzahra, Himanshu70565, sparkingdark, harsh7in

[2020-10-26 00:29] #43 closed, assigned to TanyaAggrawal

[2020-10-26 00:29] #13 closed, assigned to kulsoomzahra, VaibhaveS