[2021-01-08 20:26] Rahul555-droid commented on #1974
Please assign this to me with DWOC label

[2021-01-08 20:28] Rahul555-droid opened #1975 "Longest Palindrome of a factor(part) of a String using Manacher method."
## 🚀 Feature

The problem of the longest palindrome consists in determining the longest factor of a string
that is a palindrome.

example:

input: babcbabcbaccba
output: abcbabcba

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation

I want to add this feature for DWOC

##

[2021-01-08 20:35] Rahul555-droid opened #1976 "Longest Palindrome of a string using suffix array"
## 🚀 Feature

The problem of the longest palindrome consists in determining the longest factor of a string
that is a palindrome.
I want to do this in python
example:

input: babcbabcbaccba
output: abcbabcba

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation

I want to add

[2021-01-08 20:36] Rahul555-droid commented on #1976
I want to do this in python and for DWOC label

[2021-01-09 02:39] thevivekpande commented on #1969
@atarax665 I can do it in CPP and Java both.

[2021-01-09 04:59] Anish528 opened #1980 "Euclidean algorithms (Basic and Extended) in Java"
🚀 Feature
Implementation of euclidean algorithm in Java

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation

It is an interesting algorithm to learn and implement  Which will help us understand the greatest common divisor and very helpful for the beginners

Please assign m

[2021-01-09 05:09] Anish528 commented on #1980
Kindly Assign me this issue under Dwoc

[2021-01-09 06:57] thevivekpande commented on #1861
@atarax665 @Neilblaze @balapriyac  I can do it in Python, Please assign me.

[2021-01-09 09:02] anushkasinghal11 opened #1981 "Inorder Tree Traversal in Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Inorder tree traversal in Java
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)
I'd like to work on this under DWOC'21. Ki

[2021-01-09 09:40] muthuannamalai12 opened #1982 "Implement stack using Array Data structure in C language"
## 🚀 Feature
I would love to implement stack using array data structure in C language as a part of DWOC.
It would have 3 operation namely push, pop, peek and display
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your

[2021-01-09 09:40] muthuannamalai12 commented on #1982
I would love to work on this issue as a part of DWOC. Kindly assign it to me.

[2021-01-09 09:42] muthuannamalai12 opened #1983 "Implement stack using Linked List in C language"
## 🚀 Feature
I would love to implement Stack using Linked List data structure in C language as a part of DWOC.
It would have 3 operation namely push, pop, and display
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your

[2021-01-09 09:43] muthuannamalai12 commented on #1983
I would love to work on this issue as a part of DWOC. Kindly assign it to me.

[2021-01-09 09:51] shraiyya opened #1984 "Memory Allocation in Operating Systems in Java"
## 🚀 Feature
[DWOC Contribution]
Memory Allocation in Operating Systems
1. First-Fit Memory Allocation
2. Best-Fit Memory Allocation
3. Worst-Fit Memory Allocation

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

The operating system must keep a list of each memory lo

[2021-01-09 13:45] nayanajain commented on #1982
i would like to code in c++, under DWOC. Please assign this issue to me in c++

[2021-01-09 14:05] nayanajain commented on #1981
Please assign this issue to me in java under DWOC

[2021-01-09 15:17] HarshCasper commented on #1861
Assigning in Python 👍

[2021-01-09 18:46] KlaraKrmpotic opened #1985 "Queue implemented as a list in C"
## 🚀 Feature

I would love to implement Queue by using a Linked List data structure in C language.
It would have 5 methods: enqueue, dequeue, isEmpty, isFull, Peek

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Queue is often used in programming it is close to Stack

[2021-01-09 18:47] KlaraKrmpotic commented on #1985
Please assign me to this issue , I would love to work on it.

[2021-01-10 08:53] GVictorsd commented on #1811
@Neilblaze I am done with my part and I have also raised a PR. Please review and merge.
[MyPR](https://github.com/TesseractCoding/NeoAlgo/pull/1939)

[2021-01-10 19:10] Rahul555-droid commented on #1975
I  want to add this feature for DWOC event.

[2021-01-11 04:57] bhavya092 commented on #1985
I would love to contribute to this issue...Can you assign this to me?

[2021-01-11 19:13] Rivatus opened #1988 "Segment Tree for Range queries with updates"
## 🚀 Feature

Creating a Segment tree that can handle range sum ( or minimum) queries with updates(Range as well as point update)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
YES

## Motivation
Segment tree is widely used in competitive programming in solving a huge variety of problem

[2021-01-11 19:19] Rivatus commented on #1988
I want to write the C++ implementation of the Segment Tree, so can you assign this issue to me.

[2021-01-12 08:31] #1613 closed, assigned to 1711shashank

[2021-01-12 10:41] KartikeySharma commented on #1717
Pls close this issue as this issue has been resolved @shraddhavp

[2021-01-12 11:10] bhavya092 commented on #1983
I would love to contribute to this issue under DWOC....Can you assign this to me?

[2021-01-12 11:11] bhavya092 commented on #1982
I would like to contribute under DWOC. Please assign this issue to me.

[2021-01-12 18:01] #1717 closed, assigned to KartikeySharma

[2021-01-12 23:51] #1980 closed, assigned to Anish528

[2021-01-13 03:57] Amit366 commented on #1907
Can I implement in Java??

[2021-01-13 06:38] shraiyya commented on #1984
Please assign me this issue and add the level of the PR for DWOC.

[2021-01-13 08:18] pranjalshinde commented on #1478
Can I solve this in Java? Also add DWOC label to it.

[2021-01-13 08:19] pranjalshinde commented on #1620
I want to solve this in Java please assign, also add DWOC label to it.

[2021-01-13 08:20] pranjalshinde commented on #1674
I want to solve this in Java, Please assign. Also add DWOC label to it

[2021-01-13 08:25] pranjalshinde commented on #1637
Please assign this to me in java and add DWOC label

[2021-01-13 11:09] 07yuvraj commented on #1983
Hey i would like to do this using c++.May i go ahead?

[2021-01-13 12:13] pranjalshinde commented on #1969
I would like to solve this  in Java under DWOC

[2021-01-13 12:17] pranjalshinde commented on #1985
I would like to work on this in Java under DWOC, please assign

[2021-01-13 12:32] 07yuvraj opened #1997 "Infix to Postfix Conversion"
## 🚀 Feature

An important feature of stack that converts Infix equation to Postfix.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

It is an interesting and necessary algorithm of stack.

## Pitch

This is one of the important partical implementation of stack where

[2021-01-13 17:44] atarax665 commented on #1969
@thevivekpande You can work on this issue in C++ for now.

[2021-01-13 17:44] atarax665 commented on #1969
@pranjalshinde Go ahead with Java.

[2021-01-14 04:30] HarshCasper commented on #1907
Mention me the Language

Make a separate Issue and mention me there

[2021-01-14 04:33] HarshCasper commented on #1925
Please find the language that it has not been implemented in yet. Please do your own background check.

[2021-01-14 04:34] HarshCasper commented on #1797
Yes.

[2021-01-14 04:36] #1771 closed, assigned to pranjalshinde

[2021-01-14 04:36] HarshCasper commented on #1733
Looks good!

[2021-01-14 04:39] Amit366 opened #1999 "Implementation in Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

1) Implementation of Stack using Queue
2) Implementation of Queue using Stack
3) Reverse a String
4) Longest palindrome in a String

Sir, I would like to implement thi

[2021-01-14 06:39] Sumanpal3108 commented on #1902
I am DWOC Participant. I would like to work on this issue. Please assign it to me

[2021-01-14 06:52] Sobhit25 commented on #1999
I would like to do the above implementations using CPP.

[2021-01-14 06:55] infiniteoverflow opened #2000 "Locally Weighted Regression"
## 🚀 Feature

I would like to add a Machine learning model of a locally weighted regression algorithm to the Python folder.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

It’s inspired by cases when linear regression, which simply fits a line, isn’t sufficient, but

[2021-01-14 06:56] infiniteoverflow commented on #2000
I would like to work on this as a part of DevScript Winter of Code.

[2021-01-14 07:09] Sobhit25 opened #2001 "Backtracking Section/Problems in CPP"
## 🚀 Backtracking Section/Problems in CPP

I found the CPP repo to be a bit difficult to browse through different topics as they are not segregated. I want to implement a backtracking Section in CPP adding all the necessary problems to that as a part of the DWOC Program.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIB

[2021-01-14 07:10] Sobhit25 commented on #2001
I want to contribute as a part of DevScript Winter of Code

[2021-01-14 07:24] japneetkaurbhatia opened #2002 "Stack implementation in C"
## Allow me to add

Implement Stack / Implement Queue
Implement Stack using Queue
Implement Queue using Stack
Check for balanced parentheses
Next Greater Element
Reverse Words in a String
Longest Palindrome in a string
Longest Common Prefix

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

[2021-01-14 07:25] Sumanpal3108 opened #2003 "Divisor Game(CP)"
## 🚀 Feature

I want to add a new problem to the Repo under the folder CP named Divisor Game(LeetCode)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I found this Problem In leetcode biweekly Contest described as follows

Alice and Bob take turns playing a game, wit

[2021-01-14 07:25] japneetkaurbhatia commented on #2002
@HarshCasper  Can I work on this under DWoC?

[2021-01-14 07:28] Sobhit25 commented on #2003
I want to also contribute to it using CPP. Please assign this to me or should I create a new PR?

[2021-01-14 07:31] Sobhit25 opened #2004 "Stack Implementation in C++"
## 🚀 Feature

Allow me to add
Implement Stack / Implement Queue
Implement Stack using Queue
Implement Queue using Stack
Check for balanced parentheses
Next Greater Element
Reverse Words in a String
Longest Palindrome in a string
Longest Common Prefix

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-ne

[2021-01-14 07:32] Sobhit25 commented on #2004
I want to take part in it as a part of the DWOC Program.

[2021-01-14 08:16] #1649 closed, assigned to Rishikeshrajrxl, itsIapetus

[2021-01-14 09:55] proghead00 commented on #1733
Should I go and start opening PRs?

[2021-01-14 10:08] himanshu007-creator opened #2006 "AUTOMATING WEBSITE"
I would like to work on this issue.I will create a script that will enable opening website from CLI.
Please add DWOC label to it and assign me this issue.

[2021-01-14 10:09] himanshu007-creator opened #2007 "Calendar program"
a program that takes inpur as a year and prints the entire calendar of that year.
Please add DWOC label to this issue and assigne me this.

[2021-01-14 11:30] sakshikhachane commented on #1826
@shraddhavp Please add the levels for this issue else it won't get counted.

[2021-01-14 13:48] shraddhavp commented on #1620
assigned @pranjalshinde

[2021-01-14 15:42] vikashchander opened #2010 "matrix problems"
add new folder matrix problems

[2021-01-14 17:48] PuravUdayDesai commented on #1553
Ok @HarshCasper I'll do that.

One clarification, there are 12 code files, which resides under 5 different folders and subfolders, so shall I make a PR for every folder/ file.

Sorry, I am a newbie, if you could explain the procedure for which you are looking for, then I'll be glad to understand it, as it'll save yours as well as my time.

Thank you.

[2021-01-14 21:51] sakshi300699 commented on #1902
@HarshCasper Could you please add a level tag to this issue under DWoC

[2021-01-15 04:43] #1463 closed, assigned to RhuthuHegde, Bharati2612

[2021-01-15 04:43] #1477 closed, assigned to mohd-hirani

[2021-01-15 04:43] #1478 closed, assigned to nobody

[2021-01-15 04:43] #1483 closed, assigned to k-sashank

[2021-01-15 04:44] #1498 closed, assigned to k-sashank

[2021-01-15 04:44] #1507 closed, assigned to Sidhant-Gupta

[2021-01-15 04:44] #1519 closed, assigned to manasisaiba

[2021-01-15 04:45] #1526 closed, assigned to YASH01009

[2021-01-15 04:45] #1527 closed, assigned to k-sashank

[2021-01-15 04:45] #1528 closed, assigned to Pranav016

[2021-01-15 04:45] #1533 closed, assigned to YASH01009

[2021-01-15 04:45] #1567 closed, assigned to YASH01009, gargVader

[2021-01-15 04:46] #1566 closed, assigned to YASH01009, gargVader, rutujadhanawade

[2021-01-15 04:46] #1565 closed, assigned to vrandachag

[2021-01-15 04:46] #1560 closed, assigned to Bharati2612

[2021-01-15 04:46] #1558 closed, assigned to satyampgt4

[2021-01-15 04:47] #1547 closed, assigned to nobody

[2021-01-15 04:52] #1597 closed, assigned to goelesha

[2021-01-15 04:52] #1594 closed, assigned to barnamensch056

[2021-01-15 04:52] #1581 closed, assigned to mehabhalodiya

[2021-01-15 04:52] #1572 closed, assigned to Pranav016

[2021-01-15 04:52] #1571 closed, assigned to Sidhant-Gupta

[2021-01-15 04:52] #1568 closed, assigned to YASH01009, gargVader

[2021-01-15 04:53] #1645 closed, assigned to 1711shashank

[2021-01-15 04:53] #1641 closed, assigned to joeyouss

[2021-01-15 04:54] #1640 closed, assigned to nobody

[2021-01-15 04:54] #1639 closed, assigned to sujal111

[2021-01-15 04:54] #1638 closed, assigned to sujal111, Bharati2612

[2021-01-15 04:54] #1636 closed, assigned to kapilkumar2001, sujal111, joeyouss

[2021-01-15 04:54] #1632 closed, assigned to gargVader

[2021-01-15 04:54] #1631 closed, assigned to gargVader

[2021-01-15 05:57] #1612 closed, assigned to 1711shashank

[2021-01-15 05:57] #1614 closed, assigned to sujal111

[2021-01-15 06:00] #1615 closed, assigned to sujal111

[2021-01-15 06:00] #1616 closed, assigned to sujal111

[2021-01-15 07:25] joeyouss opened #2013 "dnf algorithm for sorting"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

competitive programming made me come across this algorithm many times hence I would like to implement this.

## Pitch

dutch national flag algorith

[2021-01-15 09:55] charlie219 commented on #1861
@HarshCasper this issue is already taken in python
https://github.com/TesseractCoding/NeoAlgo/blob/master/Python/backtracking/RatInMaze.py

[2021-01-15 11:50] KartikeySharma commented on #1815
Submitted PR #2015

[2021-01-15 11:50] KartikeySharma commented on #1969
I would like to work on this issue in C++ @atarax665

[2021-01-15 14:10] djm-1 commented on #1842
Please label the difficulty

[2021-01-16 04:49] sakshikhachane opened #2018 "Sleep sort in Java"
## 🚀 Feature

[DWOC Contribution]
Sleep sort in Java

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation
Sleep sort works by starting a separate task for each item to be sorted, where each task sleeps for an interval corresponding to the item's sort key, then emits the ite

[2021-01-16 04:53] sakshikhachane commented on #2018
@HarshCasper Please assign me this issue.

[2021-01-16 12:19] kenkirito opened #2021 "Breadth First Search or BFS for a Graph"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

I am really interested in compective programming. i enjoy doing dsa algorithum

## Pitch

Web Crawlers: Search engines or web crawlers can easily b

[2021-01-16 15:14] sakshikhachane commented on #2018
@anushkrishnav Please add DWOC tag and level to this issue. Thank you :)

[2021-01-17 05:03] shraddhavp commented on #1947
updates @singhsaurav23 ???

[2021-01-17 05:08] shraddhavp commented on #1806
updates @rutujadhanawade ?

[2021-01-17 05:08] #1656 closed, assigned to nobody

[2021-01-17 05:09] shraddhavp commented on #1637
assigned @pranjalshinde

[2021-01-17 05:10] #1756 closed, assigned to nobody

[2021-01-17 05:12] #1750 closed, assigned to ErzaTitania-2001

[2021-01-17 05:14] shraddhavp commented on #1622
assigned @khusboobothra

[2021-01-17 05:15] shraddhavp commented on #1718
updates @Jassi10000 ?/

[2021-01-17 05:16] shraddhavp commented on #1697
assigned @Rishikeshrajrxl

[2021-01-17 05:18] shraddhavp commented on #1702
assigned @KartikeySharma in Java   and @Rishikeshrajrxl  in  C-pp

[2021-01-17 05:19] shraddhavp commented on #1698
assigned @Rishikeshrajrxl

[2021-01-17 05:20] shraddhavp commented on #1617
@Sarthak-9 any updates?

[2021-01-17 05:21] shraddhavp commented on #1696
assigned @Rishikeshrajrxl

[2021-01-17 05:21] #1929 closed, assigned to nobody

[2021-01-17 05:22] #1764 closed, assigned to nobody

[2021-01-17 05:23] shraddhavp commented on #1693
@iamvs-2002  updates?/

[2021-01-17 05:24] #2007 closed, assigned to nobody

[2021-01-17 05:25] shraddhavp commented on #1621
assigned @manvi0308

[2021-01-17 05:25] #1703 closed, assigned to nobody

[2021-01-17 05:26] #1682 closed, assigned to nobody

[2021-01-17 05:26] #1760 closed, assigned to nobody

[2021-01-17 05:41] Sarthak-9 commented on #1617
My previous PR is merged now. I'll complete this one today.
@shraddhavp

[2021-01-17 06:00] singhsaurav23 commented on #1947
will send PR tmr. Sorry for the delay due to my exams

[2021-01-17 06:38] PuravUdayDesai commented on #1553
@iamrajiv Please help in the respective matter if possible.

[2021-01-17 09:24] Jassi10000-zz commented on #1718
@shraddhavp mam I have submitted the PR , pls check it will be of 17th January

[2021-01-17 11:34] #1796 closed, assigned to nobody

[2021-01-17 11:35] shraddhavp commented on #1973
goahead @akrish4

[2021-01-17 11:38] shraddhavp commented on #1733
yes go ahead @proghead00

[2021-01-17 11:45] akrish4 commented on #1973
thank you @shraddhavp
pls add DWOC and Level label
there are  5  (Level-1 ,  Level-2  ,  Level-3  ,  Level-4  ,  Level-5)  labels
kindly add a label you think would be appropriate

[2021-01-17 14:43] iamvs-2002 commented on #1693
Hey! I did make a few contributions regarding this issue, but the mentor said, it won't be good to make documentation for the algorithms. So I guess, it may be closed for now.

[2021-01-17 18:22] ankitasantape commented on #2021
Please assign me this code

[2021-01-17 18:31] ankitasantape commented on #1802
Please assign the issue to me I would like to work on this problem of the Diameter of a Tree in Java under DWoC

[2021-01-17 18:35] ankitasantape commented on #1997
Please assign this issue to me under DWoC.
I would like to solve this using java.

[2021-01-17 18:42] ankitasantape commented on #1689
Please assign this issue to me I would like to implement PriorityQueue using Heap sort with time complexity O(log n) and space complexity O(1)

[2021-01-17 18:57] ankitasantape commented on #1812
Can I solve this issue using java

[2021-01-18 03:01] sakshikhachane commented on #1826
@shraddhavp Please add a level label to this issue and PR as it isn't getting counted on the leaderboard.

[2021-01-18 04:23] shraddhavp commented on #1802
assigned @ankitasantape

[2021-01-18 04:24] shraddhavp commented on #1693
ok

[2021-01-18 04:24] #1693 closed, assigned to iamvs-2002

[2021-01-18 12:06] harsha-sam opened #2029 "Issue in Python Directory Readme File"
## 📚 Documentation

![image](https://user-images.githubusercontent.com/56500849/104913125-2b92ef80-59b3-11eb-93bd-8b9a9a7d77f4.png)
As you can see above, some of the ds problem links (Inorder, postorder, LinkedList, etc) are under the Cryptography section. Those problems should be moved to the Data Structures section in the readme file.

### Have you read the [Contributing Guidelines on Pull Reque

[2021-01-18 12:07] harsha-sam commented on #2029
I would like to fix this

[2021-01-18 12:17] harsha-sam opened #2030 "Invert a Binary Tree in Python"
## 🚀 Feature

I would like to add :
- Invert Binary Tree Problem in Python (recursive)
- Invert Binary Tree Problem in Python (iterative)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Binary Tree problems are most common in Interviews and Competitive Programming.

[2021-01-18 12:18] harsha-sam commented on #2030
I would like to work on this

[2021-01-18 15:52] gmnikhil opened #2032 "Kahn's algorithm for topological graph sorting"
## 💥 Proposal

I would like to implement Kahn's algorithm for topological graph sorting in C++.

Complexity:

Time Complexity: O(V+E).
Auxillary Space: O(V).

Topological sorting of a graph is a linear ordering of its vertices so that for each directed edge (u, v) in the ordering, vertex u comes before v.

DWOC participant.
Do Assign.

[2021-01-19 05:22] akrish4 commented on #1973
there are 5 (Level-1 , Level-2 , Level-3 , Level-4 , Level-5) labels
kindly add a label you think would be appropriate
DWOC can only count our contribution through the Level label

@shraddhavp

[2021-01-19 10:12] Vrushti24 commented on #1983
Hey can I work on this issue?

[2021-01-19 12:49] tharunc opened #2036 "ARMSTRONG NUMBER IN JAVA"
## 🚀 Feature

(A clear and concise description of what the feature is.)
I would love to add ARMSTRONG NUMBER implementation in JAVA.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
YES
## Motivation

(Please outline the motivation for the proposal.)
An Armstron

[2021-01-19 12:49] tharunc commented on #2036
I WOULD LOVE TO WORK ON THIS ISSUE AS A PART OF **DWOC**. KINDLY ASSIGN ME THIS ISSUE.

[2021-01-19 13:15] nick-leslie commented on #1620
Could I work on this in go please?

[2021-01-19 18:24] himanshu007-creator opened #2038 "Calendar program in c++"
## 💥 Proposal
this program will accept input as a year and print the calendar of whole year

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
YES

[2021-01-20 06:27] nayanajain commented on #2036
Please assign me under DWOC for c plus plus, java and python

[2021-01-20 09:07] iamvs-2002 commented on #2038
May I implement a program to find the number of days between 2 dates in C?

[2021-01-20 10:04] akrish4 commented on #1973
@shraddhavp  kindly add the level label so that I can open a pr

[2021-01-20 11:41] aadityamp01 opened #2042 "Series algorithm implimentation in python math module"
## 🚀 Feature

[DWOC Contribution]
I would like to implement pure series algorithm in python math module
Series are:- p-series, Geometric series, Harmonic series

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Series algorithms are important for mathematical algorithm

[2021-01-20 11:42] aadityamp01 commented on #2042
Please assign me this issue and also please add the level for DWOC.

[2021-01-20 15:55] Sarthak-9 commented on #2036
I can work  on this algorithm in CPP. Please assign it to me.

[2021-01-20 17:10] atarax665 commented on #2038
This issue doesn't fit in any of the domain that we cover in this repository.

[2021-01-20 17:10] #2038 closed, assigned to nobody

[2021-01-21 02:12] HarshCasper commented on #2036
@tharunc : Java
@nayanajain : Python
@Sarthak-9 : C++
@satyampgt4 :JavaScript

[2021-01-21 06:47] muthuannamalai12 opened #2044 "Palindrome | Python"
## 🚀 Feature
I would love to add Palindrome implementation using python language as a part of DWOC.
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

## Motivation
It's an interesting algorithm to lear

[2021-01-21 07:05] muthuannamalai12 opened #2045 "Evaluation of postfix expression in C language"
## 🚀 Feature
Given a postfix expression (as a string), the program must print the result after evaluating the expression. I would love to work on this as a part of DWOC.
For example:
Input:
73426^*+*8+

Output:
1821
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTR

[2021-01-21 08:59] shraddhavp commented on #1973
added @akrish4

[2021-01-21 09:00] shraddhavp commented on #1620
go ahead @swordcom367

[2021-01-21 09:25] simarpreetsingh-019 commented on #2044
I would like to do this, but would this be counted in DWOC also? If so, please add appropriate label for it.
@muthuannamalai12 I would like to work on this issue.

[2021-01-21 11:14] sakshikhachane commented on #2036
@HarshCasper Can I do this in PHP?

[2021-01-21 15:10] #1973 closed, assigned to akrish4

[2021-01-21 17:26] satyampgt4 commented on #2036
@shraddhavp   i would like to work on it in JavaScript please assign it to me

[2021-01-22 12:16] 07yuvraj commented on #1997
I am doing this with C language kindly assign it to me @ankitaggarwal23 .

[2021-01-23 06:59] #1988 closed, assigned to nobody

[2021-01-23 10:28] Amit366 commented on #1999
@HarshCasper The reverse string PR was merged 2 days back but it wasn't labelled. Please label it with DWOC and level tags so that could be considered .

[2021-01-23 18:31] #2042 closed, assigned to nobody

[2021-01-24 04:02] shraiyya opened #2054 "Page Replacement Algorithms in Operating Systems (Java)-DWOC"
## 🚀 Feature

A page replacement algorithm looks at the limited information about accesses to the pages provided by hardware and tries to guess which pages should be replaced.
The simplest page-replacement algorithm is a FIFO algorithm. The first-in, first-out (FIFO) page replacement algorithm is a low-overhead algorithm that requires little bookkeeping on the part of the operating system.
In the

[2021-01-24 04:03] shraiyya commented on #2054
Please add DWOC Tag and Level.

[2021-01-24 12:16] nayanajain commented on #2036
@HarshCasper  this program is already made in python

[2021-01-25 09:54] Sloth-Panda opened #2059 "map, sort, filter, reduce in javascript"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Would like to show how these 4 works with proper example(under Dwoc, Swoc)
Would like to
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

[2021-01-25 14:01] Sarthak-9 commented on #2045
@shraddhavp I would like to work on this in CPP. Please assign it to me

[2021-01-25 14:02] Sarthak-9 commented on #2018
@shraddhavp I want to work on this in CPP. Please assign me for this.

[2021-01-25 14:22] shraddhavp commented on #2045
go ahead @Sarthak-9  in cpp and @muthuannamalai12  in C

[2021-01-25 14:25] muthuannamalai12 commented on #2044
@shraddhavp Can you please assign me this issue as a part of DWOC

[2021-01-25 14:27] #1816 closed, assigned to sakshikhachane

[2021-01-25 14:28] shraddhavp commented on #2036
go ahead @satyampgt4

[2021-01-25 14:29] shraddhavp commented on #2018
go ahead @Sarthak-9

[2021-01-25 14:31] shraddhavp commented on #2044
go ahead @muthuannamalai12

[2021-01-25 14:32] shraddhavp commented on #2032
go ahead @Nikcodes10

[2021-01-25 14:32] shraddhavp commented on #2030
go ahead @harsha-sam

[2021-01-25 14:35] shraddhavp commented on #2000
go ahead @infiniteoverflow

[2021-01-25 14:53] sakshikhachane commented on #2018
@shraddhavp Can I do this in python as I have completed with java?

[2021-01-26 13:14] nick-leslie commented on #1637
could I work on this in go?

[2021-01-27 16:44] achalesh27022003 commented on #1698
Please assign me this issue @shraddhavp mam.

[2021-01-27 17:09] Sloth-Panda commented on #2059
@shraddhavp would like to do this kindly let me know

[2021-01-28 10:43] achalesh27022003 commented on #2045
I would like to work for it in C++ @shraddhavp mam.

[2021-01-28 10:49] achalesh27022003 commented on #1999
I can do point 1,2,&4 in C++. Please assign me this issue @Amit366

[2021-01-28 10:53] achalesh27022003 commented on #1922
@shraddhavp mam I can do the other remaining top and bottom views in C++. Please assign me.

[2021-01-28 10:57] achalesh27022003 commented on #1783
@shraddhavp  mam I can do this implementation in C++. Please assign it to me.

[2021-01-28 11:01] achalesh27022003 commented on #1719
@AayushBangroo  I can do this in C++ sir. Pls assign it to me.

[2021-01-28 11:04] achalesh27022003 commented on #1622
@shraddhavp mam, I can do this in C++. Please assign it to me.

[2021-01-28 14:05] sakshikhachane opened #2065 "AVL tree in Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)
AVL tree is a self-balancing binary search tree.
Programming language - Java .

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

AVL tree is asked in interviews.

## Pitch

 AVL tree is used for in

[2021-01-29 05:08] #2030 closed, assigned to harsha-sam

[2021-01-29 09:43] lokeshvenkatesan opened #2069 "Detection of Epilepsy in Patient using Machine Learning Algorithms."
Feeding the hyperparameters of Epileptic, Healthy, and non-Healthy patients into Feedforward Neural Network Algorithm and Optimizing the Feedforward Networks by using novel Genetic Algorithm.
Dataset: University of Bonn.
Feature Selection: All 5 five main Features are extracted and trained.
Language used: PYTHON
#DWOC

[2021-01-30 04:46] shraddhavp commented on #2018
@sakshikhachane  go ahead
and please do not close the issue others are also working on it

[2021-01-30 04:48] shraddhavp commented on #1783
go ahead @achalesh27022003

[2021-01-30 04:50] shraddhavp commented on #2059
go ahead @Sloth-Panda

[2021-01-30 04:53] HarshCasper commented on #1553
Yes, please make a PR for them individually.

[2021-01-30 05:56] infiniteoverflow opened #2070 "Candidate Elimination Algorithm for Machine Learning"
## 🚀 Feature

I would like to add a python implementation of Candidate Elimination Algorithm under python/ml

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

candidate-elimination algorithm performs a bidirectional search in the hypothesis space. It maintains a set, S

[2021-01-30 16:15] m-code12 opened #2072 "Bead Sort"
## 🚀 Feature
[DWOC Contribution]
Bead Sort in C++

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Bead Sort (also known as Gravity Sort) was inspired from natural phenomenons and was designed keeping in mind

[2021-01-30 16:16] m-code12 commented on #2072
@shraddhavp @anushkrishnav Please assign me this issue as a part of DWOC.

[2021-01-30 17:58] Sloth-Panda opened #2074 "finding out the closest Pair of Points using Divide and Conquer algorithm"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Given an  array of n-points on a plane its required to find-out the closest pair of points
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

[2021-01-30 17:59] Sloth-Panda commented on #2074
@shraddhavp let me know I want to add this to the repo

[2021-01-30 18:31] Sloth-Panda opened #2075 "Implementation of selection sort using js"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Would like to implement selection sort using js
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

[2021-01-30 18:32] Sloth-Panda commented on #2075
@shraddhavp let me know would like to add this under DWOC

[2021-02-01 06:03] anushkrishnav commented on #2072
Language you are planning to solve this ?

[2021-02-01 07:54] m-code12 commented on #2072
C++.Please could you add the label?

[2021-02-01 14:21] Sloth-Panda commented on #2059
@shraddhavp kindly check the pr and dwoc and level tags to the pr too

[2021-02-01 17:31] sakshikhachane commented on #2065
@anushkrishnav @shraddhavp Please assign me this issue under DWOC.

[2021-02-02 14:02] smriti1313 opened #2094 "dynamic programming algorithms"
## 📚 Python
Missing dynamic programming algorithms technique

I would like to add codes for:

- assembly line scheduling
- calculating binomial coefficient
- matrix chain multiplication
- floyd warshall

Let me know if there's a chance of me contributing. Thank you

[2021-02-02 15:02] nayanajain opened #2095 "Swap 2 numbers using Bit Manipulation techniques"
@HarshCasper  I would like to contribute to this issue under DWOC
I can do in c++ and java

[2021-02-02 16:35] mehabhalodiya opened #2096 "Add program of "Maximize it!" in Python"
## 🚀 Feature

Add some in [Miscellaneous](https://github.com/TesseractCoding/NeoAlgo/tree/master/Miscellaneous/HackerRank) section:
I would like to add program for [Maximize it!](https://www.hackerrank.com/challenges/maximize-it/problem) in Python 3.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-ne

[2021-02-02 16:36] mehabhalodiya commented on #2096
I would like to work on this under GSSoC'21.
Kindly assign me this!
@HarshCasper @anushkrishnav @shraddhavp @atarax665

[2021-02-02 17:03] mehabhalodiya opened #2097 "Difference Component Analysis(DCA) Implementation"
## 🚀 Feature

Implementation of Difference Component Analysis (DCA)

It can be added in [this](https://github.com/mehabhalodiya/NeoAlgo/tree/master/Python/ml) directory under DWoC.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

Difference Component Analysis (DCA) p

[2021-02-03 02:45] #2032 closed, assigned to gmnikhil

[2021-02-03 06:14] Salonii02 opened #2098 "AES implementation in Python"
## 🚀 Feature

This is going to be the implementation of the Advanced Encryption Standard (AES) algorithm in python

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
## Motivation

Popular and widely adopted symmetric encryption algorithm nowadays is the Advanced Encryption Standard (A

[2021-02-03 06:25] Salonii02 commented on #2098
I would like to work on this as a part of DWOC. Kindly Assign me this issue.
@HarshCasper @anushkrishnav

[2021-02-03 06:45] anushkrishnav commented on #2098
Done Good Luck !!

[2021-02-03 12:17] achalesh27022003 commented on #1783
https://github.com/TesseractCoding/NeoAlgo/pull/2099
Pls merge and  level label it. Thanks

[2021-02-03 12:53] iamvs-2002 commented on #1783
@shraddhavp Kindly add the level label too.

[2021-02-03 13:36] achalesh27022003 commented on #2018
@shraddhavp mam I can implement this in C++. Please assign me

[2021-02-03 15:19] achalesh27022003 commented on #2004
@Sobhit25 I want to work on this issue in C++. You can assign it to me and pls label it DWoC. Thanks

[2021-02-03 19:06] vismitap commented on #1769
Hey! Can I work on this issue?

[2021-02-04 15:31] lokeshvenkatesan opened #2101 "Elliptic Curve Cryptography implementation in Python"
#PYTHON

[2021-02-06 08:21] Salonii02 commented on #2098
Hello @anushkrishnav,
I have added AES implementation in python first using pycrypto and later using pycryptodome since security checks were not successful. Library mentioned in your analysis check is pyca/cryptography for which I will have to implement in a new manner.
can you guide me here or using pycrypto or pycryptodome library is fine.

[2021-02-06 10:24] shloka-gupta opened #2106 "To cyclically (clockwise) rotate a list of integers by N, Python, CP"
## 💥 Proposal

Given a list of integers, cyclically rotate the list clockwise by N
Example:
Input: [1, 2, 3, 4, 5]
Output: [5, 1, 2, 3, 4]
The list is rotated by 1

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

[2021-02-06 10:24] shloka-gupta commented on #2106
I would like to work on this proposal under DWOC

[2021-02-07 04:53] shraddhavp commented on #2065
assigned @sakshikhachane

[2021-02-07 04:57] shraddhavp commented on #2054
assigned @shraiyya

[2021-02-07 07:24] adysis14 commented on #1795
I would like to do this, but would this be counted in DWOC? If so, please add appropriate label for it.
 I would like to work on this issue, can you please assign this issue to me?
Thank You.

[2021-02-07 07:29] adysis14 commented on #2074
@shraddhavp can you please assign this issue to me? I would love to work on this issue under DWOC label .
Thank you.

[2021-02-07 07:32] adysis14 commented on #2095
Can you please assign this issue to me? I would love to work on this issue under DWOC.
Thank you

[2021-02-07 07:41] Rahul555-droid commented on #1795
Lol I think the admins here have been inactive for long time

[2021-02-07 14:44] Tanmay2510 commented on #1999
Can you please assign me this issue? @HarshCasper

[2021-02-07 14:45] Amit366 commented on #1999
@Tanmay2510 I am already working on this issue

[2021-02-07 15:01] Tanmay2510 commented on #1999
Hey @Amit366 actually I am a newbie. Is it like  that two cannot work on the same issue? Should I make a new issue proposing new topic?

[2021-02-07 15:02] Amit366 commented on #1999
Yes u can create a new issue and start working on it

[2021-02-07 15:03] Tanmay2510 commented on #1999
Thanks @Amit366

[2021-02-07 15:40] Tanmay2510 opened #2108 "Sorting algorithms and removing duplicates from a string using recursion."
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

1. -   Merge Sort.
2. -   Quick Sort.
3. -   Removing duplicates from a string(using recursion).

All using JAVA
I would like to contribut

[2021-02-07 15:44] Tanmay2510 commented on #2108
Hey I would like to work on this issue kindly assign me @HarshCasper @anushkrishnav @shraddhavp

[2021-02-07 16:46] m-code12 commented on #2072
@shraddhavp Please could you add the label for this issue?

[2021-02-07 16:55] m-code12 opened #2110 "Bucket Sort in C++"
I would like to add Bucket Sort in C++ without using Insertion Sort as a part of DWOC. @shraddhavp @anushkrishnav Could you assign me this issue?

[2021-02-08 04:46] Sloth-Panda commented on #2075
@shraddhavp @atarax665 @HarshCasper  kindly check the pr.

Should someone really make a pr without getting assigned?

[2021-02-08 13:53] rcoder23 commented on #2095
I would like to solve this issue using java

[2021-02-08 16:08] yogitasaini commented on #2108
Hey I would like to work on this issue please kindly assign ma

[2021-02-08 16:15] yogitasaini commented on #1969
please assign this problem to me

[2021-02-08 16:46] yogitasaini commented on #1719
please assign it to me in java

[2021-02-08 16:58] yogitasaini commented on #2010
I am interested in this project please assign it to me in java

[2021-02-08 17:00] yogitasaini commented on #2044
I would like to  do this , please assign it to me in java

[2021-02-08 17:08] Tanmay2510 opened #2115 "Implementing Tries and performing search, count words in Tries using Java."
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

1. Tries
2. Search Word in Trie.
3. Count Words in Trie.

All using JAVA
I would like to contribute these as part of DWOC. Please assign t

[2021-02-08 17:14] Tanmay2510 commented on #2115
Hey I would like to contribute these as a part of DWOC. Kindly assign this issue to me @HarshCasper @anushkrishnav @shraddhavp @atarax665

[2021-02-08 19:53] nayanajain commented on #2106
I would like to work for java and c++under DWOC.

please assign to me

[2021-02-08 20:01] nayanajain opened #2116 "Nearest Greater to Right Element"
@shraddhavp  Please assign this issue to me under DWOC..
I would like to work in c++

[2021-02-09 03:27] vismitap commented on #1902
Hey! May I implement this in javascript?

[2021-02-09 03:30] vismitap commented on #2018
May I implement this in javascript? Please assign this to me.

[2021-02-09 03:41] vismitap commented on #1813
May I implement this in python?

[2021-02-09 09:55] IShahnawazShaikh commented on #2108
I would like to work on this issue kindly assign to me @HarshCasper

[2021-02-09 10:10] IShahnawazShaikh commented on #2010
kindly, assign this project to me in Java

[2021-02-09 10:44] smriti1313 commented on #2094
Hi, @HarshCasper @anushkrishnav Can anyone of you help me with this issue? Thank you

[2021-02-09 11:46] ankitasantape commented on #2115
Please assign this issue to me under DWOC. I would like to implement Tries using Java.

[2021-02-09 14:25] anushkrishnav commented on #2094
looks good , Get started with it !!

[2021-02-09 14:26] anushkrishnav commented on #2018
If its not already done then go ahead :)

[2021-02-09 15:54] vismitap commented on #2018
It is already done! Just checked. I will take up some other issue, np😅.

[2021-02-09 16:14] achalesh27022003 commented on #2018
@vismitap bro it is not done in C++ & JS.

[2021-02-09 16:17] vismitap opened #2117 "The README.md in every folder for every language is either empty or has a dummy character."
## 🐛 Bug Report

(A clear and concise description of what the bug is.)
The README.md file for every language in every category is either empty, or has some dummy character like 'a'.
Refer
![image](https://user-images.githubusercontent.com/47056243/107391789-1119e500-6b1f-11eb-8539-0ebc495d4479.png)
![image](https://user-images.githubusercontent.com/47056243/107392166-6950e700-6b1f-11eb-8146-0c4f2e

[2021-02-09 16:19] vismitap commented on #2018
![image](https://user-images.githubusercontent.com/47056243/107393261-9c47aa80-6b20-11eb-8694-d3b8ac415408.png)

[2021-02-09 16:25] vismitap commented on #2117
If README.md needs to be updated, Please let me know!

[2021-02-09 16:29] achalesh27022003 commented on #2018
Sorry my bad!! It is not done in C++😅

[2021-02-09 16:31] vismitap commented on #2018
Np, thanks for helping though! 😀👍✌

[2021-02-10 05:40] nitya123-github opened #2118 "cheatsheet"
## 🚀 Feature

Time complexity, Space complexity Cheatsheets of all the sorting, searching algorithms, linked list, and array operations

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes I have read the  contributing guidelines

## Motivation

complexity of algorithms is very important

[2021-02-10 14:03] bhav09 opened #2119 "To have a section for hackathon problem statements with solutions."
## 🚀 Feature

A section for hackathons that are held across different domains for different tech stack.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I have realised that there are a lot of people who want to learn new things but are not really comfortable in parti

[2021-02-10 16:33] Dhriti-Roy commented on #2036
I would like to do it. kindly assign me for this issue.

[2021-02-10 16:35] Dhriti-Roy commented on #2044
I would like to do it. kindly assign me for this issue.
I can also do it in another language like Javascript, Java, C++, python, etc.

[2021-02-10 16:36] Dhriti-Roy commented on #2045
I would like to do it. kindly assign me for this issue.

[2021-02-10 16:37] Dhriti-Roy commented on #2065
I would like to do it. kindly assign me for this issue.

[2021-02-10 16:40] Dhriti-Roy commented on #2074
I would like to do it. kindly assign me for this issue.

[2021-02-10 16:41] Dhriti-Roy commented on #2095
I would like to do it. kindly assign me for this issue.

[2021-02-10 16:42] Dhriti-Roy commented on #2096
I would like to do it. kindly assign me for this issue under DWOC label.

[2021-02-10 16:43] Dhriti-Roy commented on #2108
I would like to do it. kindly assign me for this issue.

[2021-02-10 16:45] Dhriti-Roy commented on #2116
I would like to do it. kindly assign me for this issue. I can do it in Python, C, C++, Java.

[2021-02-10 16:46] Dhriti-Roy commented on #2117
I would like to do it. kindly assign me for this issue.

[2021-02-11 10:28] Tanmay2510 opened #2121 "Implementing Prim's and Kruskal's algorithm using Java."
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

1. Prim's Algorithm
2. Kruskal's Algorithm

 I would like contribute these as a part of DWOC. Kindly assign me

[2021-02-11 10:30] Tanmay2510 commented on #2121
Hey, I would like to contribute this as a part of DWOC. Please assign this issue to me @atarax665 @anushkrishnav @Aanisha @HarshCasper

[2021-02-11 19:32] kapilkumar2001 commented on #2044
I would like to do this in C++ under DWoC.

[2021-02-11 19:36] kapilkumar2001 commented on #1824
I would like to do this in Java.

[2021-02-12 15:31] shloka-gupta opened #2122 "Reverse words in a given string , python, cp"
## 💥 Proposal

( The program takes a string and prints the words of the string in a reverse order
The program's example

Input:
S = i like this program very much
Output: much very program this like i
)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(YES)

[2021-02-12 20:57] Sarthak-9 commented on #2122
I would like to contribute in C and C++. Please assign me.
@shraddhavp

[2021-02-13 08:59] samir-0711 opened #2124 "Implementation of Transposition Cipher in C language"
## 💥 Proposal

Transposition Cipher is class of symmetric-key ciphers which simply permutes the symbols in a block.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-02-13 09:00] samir-0711 commented on #2124
I would like to work on this.

[2021-02-13 09:01] Siddhant-K-code commented on #2075
what's the status of this issue?

[2021-02-13 09:21] samir-0711 opened #2125 "Implementation of Substitution Cipher in C language"
## 💥 Proposal

In cryptography, a substitution cipher is a method of encrypting in which units of plaintext are replaced with ciphertext, according to a fixed system; the "units" may be single letters (the most common), pairs of letters, triplets of letters, mixtures of the above, and so forth.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/Neo

[2021-02-13 09:21] samir-0711 commented on #2125
I would like to work on this.

[2021-02-13 10:02] #2054 closed, assigned to shraiyya

[2021-02-13 14:52] shraiyya opened #2126 "Disk scheduling in Operating Systems in Java"
## 🚀 Feature

Disk scheduling is done by operating systems to schedule I/O requests arriving for the disk. The various Disk scheduling algorithms are FCFS, SCAN, CSCAN, and SSTF. Disk scheduling algorithms are the algorithms to allocate the services to the requests

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.

[2021-02-14 03:08] sakshikhachane commented on #2065
@shraddhavp May I do the AVL tree implementation in python and cpp.

[2021-02-15 04:51] Meghag5 opened #2134 "Implementation of Queue using Stack"
In this algorithm we will use two stack to implement queue.

[2021-02-15 04:51] Meghag5 commented on #2134
Please assign it to me and add tags to this issue.

[2021-02-15 06:05] oshi36 opened #2135 "Separate even and odd numbers in an array"
I will be using java to separate even and odd numbers in an array without taking extra space.

[2021-02-15 06:53] shloka-gupta opened #2136 "Find all divisors of a natural number , Python, CP"
## 💥 Proposal

(Given a natural number n, print all distinct divisors of it.
Input : n = 10
Output: 1 2 5 10
)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(YES)

[2021-02-15 07:03] Vrushti24 commented on #2134
I can also work on this

[2021-02-15 07:19] shloka-gupta commented on #2106
@atarax665

[2021-02-15 07:20] TidbitsJS opened #2137 "Hash in JS"
## 🚀 Hash in JS

Goal is to create a hash table in JavaScript which will have following things -
1. Insert item
2. Find item
3. Display all items

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Purpose is to help people to get better at JavaScript & DS

## Pitch

Dat

[2021-02-15 07:24] TidbitsJS commented on #2137
I will like to work on this @HarshCasper

[2021-02-15 17:03] bagladivyang03 opened #2138 "Implement knapsack fractional problem (GREEDY APPROACH)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Implement a knapsack fractional problem using a greedy approach.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
YES
I will be using C++ to solve this problem.

[2021-02-15 17:04] bagladivyang03 commented on #2138
I would like to work on this issue in C++.
Anyone pls assign me :)

[2021-02-15 18:22] atarax665 commented on #2106
Go ahead @chicken-biryani

[2021-02-15 21:38] ShubhamGupta577 commented on #1723
I would like to work on this issue using C and C++. Please assign me.

[2021-02-16 04:55] WertiaCoffee commented on #1723
no Sent from Mail for Windows 10 From: Shubham GuptaSent: Monday, February 15, 2021 1:39 PMTo: TesseractCoding/NeoAlgoCc: SubscribedSubject: Re: [TesseractCoding/NeoAlgo] Fibonacci Search | C (#1723) I would like to work on this issue using C and C++. Please assign me.—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or unsubscribe. 

[2021-02-16 14:01] pganguli opened #2140 "Implement Shamir's Secret Sharing algorithm (cryptographic) in C-Plus-Plus"
## 🚀 Feature
An implementation of the cryptographic algorithm, Shamir's Secret Sharing (SSS) in the C-Plus-Plus section, which allows one to generate a number of shares such that a secret is revealed only when a fixed subset of those shares are put together. See this Wikipedia [article](https://en.wikipedia.org/wiki/Shamir%27s_Secret_Sharing) for more information.

### Have you read the [Contribut

[2021-02-16 14:02] pganguli commented on #2140
I wish to implement this for GSSOC 2021. Can this kindly be assigned to me? @atarax665

[2021-02-16 17:46] nayanajain commented on #2135
I would like to contribute for c++ under DWOC

[2021-02-17 07:05] ShubhamGupta577 commented on #2122
I would like to contribute in C, C++, Python. Please assign this to me.

[2021-02-17 08:59] tanyarajhans opened #2142 "Want to add Zig-Zag traversal of Binary Tree under graphs section of C-Plus-Plus."
## 🚀 Feature

Zig-Zag traversal of Binary Tree would be a great addition to graphs section of C-Plus-Plus being a famous Binary Tree question both for interviews and coding rounds asked in top companies like Amazon, Microsoft etc.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I a

[2021-02-17 13:59] achalesh27022003 commented on #2018
Please review this PR #2144 under DWoC . Added sleep sort in C++ with markdown file.

[2021-02-17 17:17] Tanmay2510 opened #2146 "Implementing inplace heap sort and max priority queue using Java"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

1. Inplace Heap Sort
2. Maximum Priority Queue

All this using Java. Kindly assign me.

[2021-02-17 17:18] Tanmay2510 commented on #2146
Hey I would like to contribute these as a part of DWOC. Kindly assign this issue to me @HarshCasper @anushkrishnav @shraddhavp @atarax665

[2021-02-17 17:25] Vrushti24 commented on #2004
Hey can I work on this issue

[2021-02-17 17:57] sakshi300699 commented on #2136
Would like to work on this in C++

[2021-02-17 18:02] sakshi300699 commented on #1902
@HarshCasper  Please add the dwoc and level tag to this

[2021-02-17 18:03] vgb-codes commented on #2118
Should we add cheatsheet section to NeoAlgo? @ricardoprins @HarshCasper

[2021-02-17 21:00] nayanajain opened #2147 "Russian Peasant Algorithm"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

It is a special way of multiplying 2 numbers without the use of

[2021-02-17 21:01] nayanajain commented on #2147
@HarshCasper  Please assign this issue to me
I would like to contribute in c++ under DWOC

[2021-02-17 21:03] nayanajain commented on #2138
I would like to work under this issue in java, c++
Please assign this issue to me under DWOC

[2021-02-18 04:51] shraiyya opened #2148 "Implementation on Heaps in Java"
## 🚀 Feature

A Heap is a special Tree-based data structure in which the tree is a complete binary tree. A tree is said to be complete if all its levels, except possibly the deepest, are complete. A heap has many applications, including the most efficient implementation of priority queues, which are useful in many applications. Heapsort is a comparison-based sorting algorithm. Heaps are often impl

[2021-02-18 05:43] asimarise commented on #2148
I would like to work on this issue

[2021-02-18 08:07] suyashi912 commented on #1981
Hey,
I would love to complete this task assigned under the mentorship of GSSoc'21. I am proficient in programming in various languages including Java. I promise to deliver on time in case this task in assigned to me. Thanks :)

[2021-02-18 08:12] suyashi912 commented on #2148
Hey,
I would love to complete this task assigned under the mentorship of GSSoc'21. I am proficient in programming in various languages including Java. I promise to deliver on time in case this task in assigned to me. Thanks :)

[2021-02-18 10:43] samir-0711 commented on #2124
@HarshCasper Can you assign me this issue?

[2021-02-18 10:43] samir-0711 commented on #2125
@HarshCasper Can you assign me this issue?

[2021-02-19 05:47] himanshu007-creator commented on #1769
@HarshCasper , sir i would make another try for this issue. Please consider this one

[2021-02-19 06:02] himanshu007-creator commented on #1724
https://github.com/TesseractCoding/NeoAlgo/pull/2151 Please have a look here

[2021-02-19 16:20] sakshikhachane commented on #2065
@atarax665 May I do AVL tree implementation in python and cpp?

[2021-02-19 16:37] sakshikhachane opened #2153 "CPU Scheduling algorithms in Java"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

CPU Scheduling is a process of determining which process will own CPU for execution while another process is on hold. The main task of CPU scheduling is to make sure that whenever the CPU remains idle, the

[2021-02-19 16:38] sakshikhachane commented on #2153
@atarax665 @HarshCasper Please assign me this issue under DWOC.

[2021-02-19 16:45] atarax665 commented on #2065
Sure. Go ahead.

[2021-02-19 17:06] sakshikhachane commented on #2065
@atarax665 Should I submit both the codes in one PR or should I make two different PRs for this?

[2021-02-19 18:51] sukritidawar commented on #2134
I would like to work on this in C++

[2021-02-19 19:15] sukritidawar opened #2154 "Remove minimum parantheses to make Valid Parentheses"
## 🚀 Feature

Given a string of '(' , ')' and lowercase english characters.

The task is to remove the minimum number of parentheses so that the resulting parentheses string is valid.
A parentheses string is valid if and only if:
1.It is the empty string, contains only lowercase characters, or
2.It can be written as AB (A concatenated with B), where A and B are valid strings, or
3.It can be writte

[2021-02-19 19:15] sukritidawar commented on #2154
I want to work on this issue in c++

[2021-02-20 04:01] yashikajotwani12 commented on #2154
I want to work on this issue . I have solved many questions on strings in c++. please assign me this.

[2021-02-20 04:46] harshbaid-13 commented on #2110
is this issue still open?

[2021-02-20 05:57] m-code12 commented on #2110
I am working on it @am-here

[2021-02-20 12:42] shraiyya commented on #2126
Can you close this issue?
The PR is merged.

[2021-02-21 05:49] vermatanu commented on #2138
I would like to work on this issue in python. Please assign it to me.

[2021-02-21 07:24] achalesh27022003 commented on #2018
@atarax665  sir my PR in C++ is going under review sir. Please keep open the issue till then😅😅

[2021-02-21 07:24] achalesh27022003 commented on #2018
https://github.com/TesseractCoding/NeoAlgo/pull/2144

[2021-02-21 07:51] ankan1811 commented on #2142
I can work on this algorithm in CPP as a part of  GSSoC'21. Please assign it to me.

[2021-02-21 09:57] shloka-gupta opened #2158 "[CP] Check Pangram"
## 💥 Proposal

A pangram is a string that contains every letter of the alphabet.
Example: "The quick brown fox jumps over the lazy dog"
The string contains all letters in the English alphabet, so return pangram.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Languages:
- Java :

[2021-02-21 13:53] achalesh27022003 commented on #2075
@Sloth-Panda sir I can implement selection sort using C++. Please assign me under DWoC.

[2021-02-21 13:58] achalesh27022003 commented on #1999
@HarshCasper sir Please assign me under DWoC.

[2021-02-21 13:59] achalesh27022003 commented on #1983
@HarshCasper  sir I can implement it using C++. Please assign me under DWoC.

[2021-02-21 14:03] achalesh27022003 commented on #1922
Please reply it is 24 days now. 😅 please assign me under DWoC.

[2021-02-21 14:31] Sloth-Panda commented on #2075
@achalesh27022003 dude I am a participant like you only don't call sir. I am on this issue BTW maintainor has asked for correction if he assigns you in c++ you can go ahead till then wait.

[2021-02-21 14:39] achalesh27022003 commented on #2075
@shraddhavp  mam please assign me this issue to implement in C++.

[2021-02-21 15:12] bagladivyang03 commented on #2138
@HarshCasper Could u pls assign me this in C++ :)

[2021-02-21 21:36] anushkrishnav commented on #2065
@sakshikhachane it's cool if you can make 2 sep PR as it's easy to review.

[2021-02-22 06:49] HarshCasper commented on #1922
Hi @achalesh27022003

Actually the C++ Code has already been merged. We don't actually need another variant now.

[2021-02-22 06:49] HarshCasper commented on #1999
Go ahead!

[2021-02-22 06:50] HarshCasper commented on #2075
Go ahead!

[2021-02-22 07:00] HarshCasper commented on #2135
Doesn't look intuitive enough to be added to the repo.

Thanks for creating the Issue but unfortunately we don't need it as of now.

[2021-02-22 07:00] #2135 closed, assigned to nobody

[2021-02-22 07:01] #2126 closed, assigned to shraiyya

[2021-02-22 14:56] HarshCasper commented on #2148
Hello @suyashi912 👋

We would work on this once the program would start. You would be working with me, so I promise we would have a nice set of issues where you can put your intellectual skills to test :)

[2021-02-22 14:56] HarshCasper commented on #2148
Please let me know in what language you would like to work. Thanks!

[2021-02-22 17:53] vilsijain commented on #2138
Can you assign i have good approach I have done C ,python ,c++
you can merge Fractional Knapsack Problem

[2021-02-22 17:55] vilsijain commented on #1984
Can you assign

[2021-02-22 17:56] vilsijain commented on #1983
Can you assign me i can do in python,c,c++,java

[2021-02-22 18:53] kotwani2883 commented on #1716
Kindly assign this problem to me.

[2021-02-23 05:18] sheetalj2205 commented on #2029
I would like to work on this issue for gssoc'21. Can you please assign this to me?

[2021-02-23 07:50] asimarise commented on #2148
I have also been selected for GSSoC'21. I would probably like to work in C++(but I'm also familiar with Javascript and Python). Thank You

[2021-02-23 07:56] nandinib1999 commented on #2154
I would like to work on this in Python

[2021-02-23 10:01] salma2vec commented on #2136
I would like to work on this.

[2021-02-23 12:08] m-code12 commented on #2110
@shraddhavp @anushkrishnav Can I implement Bucket Sort in Go as well?

[2021-02-23 16:50] saaiswetha commented on #2153
I would like to take up this issue. I'm a part of GSSOC'21 and would like to contribute.

[2021-02-23 17:31] atarax665 commented on #2110
You can implement this but it would be better if you can add the required changes in the existing Bucket Sort file, and make proper changes in the driver code to format the output.

[2021-02-23 17:32] atarax665 commented on #2110
Sure, go ahead.

[2021-02-23 17:33] m-code12 commented on #2110
Okay will make the changes in it and raise a pr.

[2021-02-23 21:17] nayanajain commented on #2147
Please merge my PR

[2021-02-24 03:28] #1984 closed, assigned to shraiyya

[2021-02-24 03:50] tiwariadarsh commented on #2004
Hello I am Adarsh , 2nd year IIIT gwalior student.
I want to work on this issue during GSSOC. Please assign this work to me.
Thankyou

[2021-02-24 04:27] AkanshaUniyal commented on #2036
Respected sir/ma'am, I'll be obliged to design this algorithm using JAVA

[2021-02-24 04:45] HarshCasper commented on #2153
Hi @saaiswetha

GSSoC Issues will open in some time. Kindly have patience till then :)

[2021-02-24 04:54] #2110 closed, assigned to m-code12

[2021-02-24 05:01] yogitasaini commented on #1925
Assign this to me in java

[2021-02-24 05:04] yogitasaini commented on #1723
I would like to work on it in java .Please assign it to me

[2021-02-24 05:48] saimanoharhm opened #2171 "Merging two Linked List using c"
I would like to contribute merging two singly linked list code using c language in this project. Could you please assign this for me. @HarshCasper

[2021-02-24 06:23] AkanshaUniyal commented on #2122
Respected Ma'am/Sir, I would like to contribute in this issue using JAVA

[2021-02-24 06:56] anshu-30 commented on #2116
I would like to solve this issue . Kindly provide me the access

[2021-02-24 07:39] saimanoharhm opened #2172 "Singly Linked list, Stack and queue"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
I would like to contribute few codes for singly linked list, stack and queue which is not present in this project using c language.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
yes

[2021-02-24 08:48] #2148 closed, assigned to shraiyya

[2021-02-24 09:04] keshav2508 commented on #2154
I would like to work on this in c++. please assign this to me .

[2021-02-24 10:13] sakshikhachane commented on #2153
@HarshCasper Should I make individual PRs or make only 1 PR consisting of all algorithms?

[2021-02-24 12:01] Pavan-Kumar122 opened #2176 "Implementing Left Rotation in Array using C++"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
1) I wanted to add a new Feature under C++ section i.e. Left Rotation of array which asked by most of the interviewers and it will be good if

[2021-02-24 12:04] Pavan-Kumar122 commented on #2176
@HarshCasper  please assign this issue to me under DWOC , it will be really helpful to students.

[2021-02-24 13:59] bagladivyang03 commented on #2176
@HarshCasper I would like to do in C, So assign me

[2021-02-25 05:51] m-code12 commented on #2072
@atarax665 @anushkrishnav @shraddhavp Can I implement Bead Sort in C? It's not implemented yet

[2021-02-25 05:56] anushkrishnav commented on #2072
Go ahead

[2021-02-25 07:36] anirudhsai20 opened #2181 "Enhancement of the README>md file."
## 📚 Documentation

(A clear and concise description of what the issue is.)
The README.md file has to be updated by mentioning the listing of this project in DWOC or in any other open source programs. Also there are a lot of grammatical mistakes in the README.md file that needs to be corrected.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/Neo

[2021-02-25 07:37] anirudhsai20 commented on #2181
Hi @TesseractCoding. Please assign me this issue under DWOC.

[2021-02-25 07:47] anirudhsai20 commented on #2158
Hi. Can you please assign me this issue under DWOC?

[2021-02-25 07:48] anirudhsai20 commented on #2136
Hi. Can you please assign me this issue under DWOC?

[2021-02-25 08:18] anirudhsai20 commented on #1807
Hi. Can I please work on this issue under DWOC?

[2021-02-25 08:20] anirudhsai20 commented on #1769
Hi. Can I please work on this issue?

[2021-02-25 11:03] #2153 closed, assigned to sakshikhachane

[2021-02-25 11:28] #1617 closed, assigned to Rishikeshrajrxl, sakshi300699, Sarthak-9

[2021-02-25 11:28] #1619 closed, assigned to sujal111, joeyouss

[2021-02-25 11:28] #1620 closed, assigned to nick-leslie, pranjalshinde

[2021-02-25 11:28] #1621 closed, assigned to manvi0308

[2021-02-25 11:28] #1622 closed, assigned to khusboobothra

[2021-02-25 11:29] #1625 closed, assigned to goelesha, razorblade42, shivangi00

[2021-02-25 11:29] #1637 closed, assigned to pranjalshinde

[2021-02-25 11:29] #1668 closed, assigned to Rishikeshrajrxl, rutujadhanawade, shivangi00

[2021-02-25 11:29] #1673 closed, assigned to anay-joshi, muthuannamalai12

[2021-02-25 11:29] #1655 closed, assigned to Rishikeshrajrxl

[2021-02-25 11:30] #1674 closed, assigned to nobody

[2021-02-25 11:30] #1676 closed, assigned to nobody

[2021-02-25 14:31] m-code12 opened #2185 "N Queen Problem in C"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how i

[2021-02-25 14:32] m-code12 commented on #2185
@anushkrishnav @atarax665 @shraddhavp @HarshCasper Can I implement this?

[2021-02-26 00:28] #1460 closed, assigned to Neelaksh-Singh

[2021-02-26 07:00] #2072 closed, assigned to m-code12

[2021-02-26 10:30] saimanoharhm opened #2190 "Hacker rank"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
I would like to contribute hackerrank problems using c.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

[2021-02-26 15:40] gat786 commented on #2119
Hackathon Problems are too broad to be covered over here. Because All I have seen here is direct questions which can be quantified into an algorithm and written code for. Although @HarshCasper might have some more ideas about how we can go forward with this.

[2021-02-26 16:43] bhav09 commented on #2119
I agree, @gat786. We can make segregate different hackathons on the grounds of their domains. Like different section for data science, web dev etc. I would like to know your views on this too, @HarshCasper

[2021-02-27 08:51] RuchiGitHu commented on #1969
hi @atarax665 , I would like to contribute here. I am able to work on this issue by using java.
Please assign me this issue so that I can assist here.
Looking forward to contribute in this issue.....

[2021-02-27 09:42] #2059 closed, assigned to nobody

[2021-02-27 12:17] #2125 closed, assigned to nobody

[2021-02-27 14:25] abhikjain360 opened #2193 "Add algorithims in Rust language"
## 🚀 Feature

Start implementing algorithms in [Rust](https://www.rust-lang.org/)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes ofcourse!

## Motivation

This repo doesn't have it, so I want to add it. Also seems like no one else is working on it.

## Pitch

Rust is growing in pop

[2021-02-27 14:47] abhikjain360 opened #2194 "add a .clang-format"
## 🚀 Feature

Easy C++ linting using clang-format

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, ofcourse!

## Motivation

Keeping the best practices guide while coding is extra mental burden, plus people might have preferences and/or habits.

## Pitch

Add a `.clang-format` file,

[2021-02-27 17:59] atarax665 commented on #1969
Sure, you are assigned this issue in java.

[2021-02-28 06:47] ChetasShree commented on #1902
I am GSSoC'21 Participant. I would like to work on this issue. Please assign it to me. I will solve it in python

[2021-02-28 06:54] ChetasShree commented on #2044
I am GSSoC'21 Participant. I would like to work on this issue. Please assign it to me. I will solve it in python

[2021-02-28 17:52] gat786 commented on #2193
Looks like a great idea!
I would suggest look at other languages structure and start building similar for rust. Copy all the important readme files. Create appropriate folder structure and make sure you don't break any regulations or code-of-conducts

[2021-02-28 17:55] gat786 commented on #2181
Which README file are you mentioning here?
Maybe DWOC is closely related to our organisation but this is an altogether a different project. So I'm not sure what you are mentioning here. Although @HarshCasper  can help us both here.

[2021-02-28 17:55] gat786 commented on #2181
And for the grammatical mistakes if you find any be sure to raise a PR for that.

[2021-02-28 17:56] gat786 commented on #2172
Seems Like a plan to me!
Go ahead and do it!

[2021-02-28 17:58] gat786 commented on #2142
This looks like a plan @tanyarajhans. And a good addition to the repository. Although you might want to check in if there is already the same thing implement here, If not then go ahead and implement it and mention us when you have done so. :-)

[2021-02-28 18:00] gat786 commented on #2117
If you must have seen the repository and the dummy characters. They are there for a reason and most being because we don't have any content there yet. Its great that you want to fix them and make this repository a better place.
Go ahead and do that!

[2021-03-01 03:02] maanpatel2492 commented on #2122
I would like to solve this issue today.
(under GSSOC21)

[2021-03-01 03:04] maanpatel2492 commented on #2190
I would like to solve #2190 today.
(under GSSOC21)

[2021-03-01 03:05] maanpatel2492 commented on #2176
I would like to solve this issue today.
(under GSSOC21)

[2021-03-01 03:07] maanpatel2492 commented on #2172
I would like to solve #2172 issue today.
(under GSSOC21)

[2021-03-01 05:05] gat786 commented on #2172
Well @saimanoharhm has listed that he wants to take this issue. If he is not working on it you can take the issue! 😁

[2021-03-01 05:08] saimanoharhm commented on #2172
@gat786 Could you pls assign this for me.

[2021-03-01 05:10] gat786 commented on #2172
There you go. But as this is a big issue both you and @maanpatel2492 can work on it together. If you guys wish so. I can assign it to both of you 😁

[2021-03-01 05:13] saimanoharhm commented on #2172
Ok No problem. Let me know what codes will you do @maanpatel2492  . So, that we don't clash

[2021-03-01 05:14] saimanoharhm commented on #2171
@gat786 could you pls assign this for me

[2021-03-01 05:17] #1776 closed, assigned to japneetkaurbhatia, Sarthak-9, samir-0711

[2021-03-01 05:17] gat786 commented on #2171
Have fun!

[2021-03-01 05:52] AkanshaUniyal commented on #2158
hey, I want to write this algorithm using JAVA please assign me this under GSSOC'21

[2021-03-01 06:16] chehak123 commented on #2190
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:16] chehak123 commented on #2185
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:16] chehak123 commented on #2176
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:17] chehak123 commented on #2172
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:17] chehak123 commented on #2171
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:21] chehak123 commented on #2147
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:21] chehak123 commented on #2134
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:22] chehak123 commented on #2122
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:24] chehak123 commented on #2116
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:26] chehak123 commented on #2121
Hey, I would like to contribute this as a part of GSSOC

[2021-03-01 07:32] shloka-gupta commented on #2136
I would like to work on this under GSSOC'21

[2021-03-01 07:34] shloka-gupta commented on #2158
I would like to work on this under GSSOC'21

[2021-03-01 07:35] shloka-gupta commented on #2122
I would like to work on this under GSSOC'21

[2021-03-01 16:30] Nidhideveloper commented on #2147
@HarshCasper Please assign this issue to me, I would like to contribute in C and JAVA as a participant of GSSOC'21

[2021-03-01 16:42] Nidhideveloper commented on #2171
@gat786 I want to contribute for this as a participant of GSSOC'21

[2021-03-01 16:45] Nidhideveloper commented on #2136
Please, assign this to me. I want to contribute as a participant of GSSOC'21

[2021-03-01 16:48] Nidhideveloper commented on #2095
I would like to contribute as a participant of GSSOC'21

[2021-03-01 18:17] anushkrishnav commented on #2121
@Tanmay2510 Start on it good luck but DWOC is over!! But you are still welcomed to contribute and Learn

[2021-03-02 02:55] gat786 commented on #2171
Pick an issue or topic for me to assign it to you.
If you want to contribute. Pick a thing which you know and will be comfortable in writing it.

[2021-03-02 04:40] maanpatel2492 commented on #2172
Print the Middle of a given linked list
Delete the elements in an linked list whose sum is equal to zero
Delete middle of linked list
Remove duplicate elements from sorted linked list
Add 1 to a number represented as a linked list
Find nth node from the end of linked list
Function to check if a singly linked list is a palindrome
Reverse alternate k node in a singly linked list
Delete last occurren

[2021-03-02 05:46] AkanshaUniyal commented on #2136
I want to do this in JAVA. Please assign me this under GSSoC'21

[2021-03-02 06:26] maanpatel2492 commented on #2172
Should I start or wait for assign

[2021-03-02 06:59] Nidhideveloper commented on #1982
Please Assign this to me. I would like to contribute as a participant of GSSOC'21

[2021-03-02 07:00] #1685 closed, assigned to Rishikeshrajrxl, kapilkumar2001, ErzaTitania-2001

[2021-03-02 07:01] #1688 closed, assigned to nobody

[2021-03-02 07:01] #1689 closed, assigned to nobody

[2021-03-02 07:01] #1694 closed, assigned to nobody

[2021-03-02 07:01] #1695 closed, assigned to nobody

[2021-03-02 07:01] #1696 closed, assigned to Rishikeshrajrxl

[2021-03-02 07:01] #1697 closed, assigned to Rishikeshrajrxl

[2021-03-02 07:01] #1698 closed, assigned to Rishikeshrajrxl

[2021-03-02 07:03] anushkrishnav commented on #2116
DWOC is over but if you wish to work on it WIll assign

[2021-03-02 07:03] #1745 closed, assigned to charlie219

[2021-03-02 07:04] Nidhideveloper commented on #1925
@HarshCasper I would like to contribute for this as a participant of GSSOC'21

[2021-03-02 07:04] #1741 closed, assigned to Rishikeshrajrxl, iamvs-2002, shivangi00

[2021-03-02 07:04] #1736 closed, assigned to singhsaurav23, atharvagadkari05

[2021-03-02 07:04] #1733 closed, assigned to proghead00

[2021-03-02 07:04] #1726 closed, assigned to kapilkumar2001, vrandachag

[2021-03-02 07:04] #1725 closed, assigned to kapilkumar2001, muthuannamalai12

[2021-03-02 07:04] #1724 closed, assigned to nobody

[2021-03-02 07:04] #1723 closed, assigned to pranjalshinde, sahebsunny

[2021-03-02 07:04] anushkrishnav commented on #2116
You can contribute without being a participant too !! Also, GSSOC is not open yet !! If you are interested I will assign it to you

[2021-03-02 07:05] Nidhideveloper commented on #1923
I would like to contribute in C++ as a participant of GSSOC'21

[2021-03-02 07:06] #1722 closed, assigned to sahebsunny

[2021-03-02 07:06] #1719 closed, assigned to AayushBangroo, AnkitaM84

[2021-03-02 07:07] #1718 closed, assigned to Jassi10000-zz

[2021-03-02 07:07] #1716 closed, assigned to KartikeySharma

[2021-03-02 07:07] #1715 closed, assigned to nobody

[2021-03-02 07:07] #1702 closed, assigned to KartikeySharma, Rishikeshrajrxl

[2021-03-02 07:07] #1701 closed, assigned to KartikeySharma

[2021-03-02 07:07] #1700 closed, assigned to nobody

[2021-03-02 07:07] #1699 closed, assigned to nobody

[2021-03-02 07:09] #1861 closed, assigned to nayanajain, sumitsantape30

[2021-03-02 07:09] #1857 closed, assigned to nobody

[2021-03-02 07:09] #1842 closed, assigned to djm-1

[2021-03-02 07:09] #1824 closed, assigned to nobody

[2021-03-02 07:09] #1822 closed, assigned to shraiyya

[2021-03-02 07:09] #1820 closed, assigned to nobody

[2021-03-02 07:09] #1815 closed, assigned to KartikeySharma

[2021-03-02 07:09] #1813 closed, assigned to sumitsantape30

[2021-03-02 07:09] #1812 closed, assigned to gargVader

[2021-03-02 07:12] #1811 closed, assigned to gargVader

[2021-03-02 07:12] #1809 closed, assigned to vaishnavirshah

[2021-03-02 07:12] #1807 closed, assigned to nobody

[2021-03-02 07:12] #1806 closed, assigned to rutujadhanawade, shraiyya

[2021-03-02 07:12] #1802 closed, assigned to ankitasantape, Pranav016

[2021-03-02 07:12] #1800 closed, assigned to singhsaurav23

[2021-03-02 07:12] #1797 closed, assigned to shivanshugarg12800

[2021-03-02 07:12] #1795 closed, assigned to nobody

[2021-03-02 07:13] #1783 closed, assigned to iamvs-2002, achalesh27022003, Sameera-Aryasomayajula

[2021-03-02 07:13] #1780 closed, assigned to shloka-gupta

[2021-03-02 07:13] #1778 closed, assigned to pranjalshinde

[2021-03-02 07:13] #1895 closed, assigned to singhsaurav23

[2021-03-02 07:14] #1902 closed, assigned to sakshi300699, iamvs-2002

[2021-03-02 07:14] #1903 closed, assigned to nobody

[2021-03-02 07:14] #1904 closed, assigned to nobody

[2021-03-02 07:14] #1905 closed, assigned to Bharati2612

[2021-03-02 07:14] #1907 closed, assigned to atriadhiakri2000

[2021-03-02 07:14] #1922 closed, assigned to Ujjwal3009, satyampgt4

[2021-03-02 07:14] #1923 closed, assigned to muthuannamalai12

[2021-03-02 07:14] #1925 closed, assigned to iamvs-2002, muthuannamalai12

[2021-03-02 07:14] #1938 closed, assigned to vrandachag

[2021-03-02 07:14] #1947 closed, assigned to singhsaurav23

[2021-03-02 07:16] HarshCasper commented on #1960
Thanks @Jassi10000 for raising this up!

We will look into it on immediate basis.

[2021-03-02 07:16] #1960 closed, assigned to nobody

[2021-03-02 07:16] #2003 closed, assigned to nobody

[2021-03-02 07:17] #2004 closed, assigned to nobody

[2021-03-02 07:17] #2006 closed, assigned to nobody

[2021-03-02 07:17] #2010 closed, assigned to nobody

[2021-03-02 07:17] #2013 closed, assigned to nobody

[2021-03-02 07:17] #2018 closed, assigned to vismitap, sakshikhachane, achalesh27022003, Sarthak-9

[2021-03-02 07:17] #2021 closed, assigned to nobody

[2021-03-02 07:17] #2029 closed, assigned to nobody

[2021-03-02 07:19] #2115 closed, assigned to nobody

[2021-03-02 07:19] #2108 closed, assigned to nobody

[2021-03-02 07:19] #2106 closed, assigned to shloka-gupta

[2021-03-02 07:20] #2101 closed, assigned to nobody

[2021-03-02 07:20] #2098 closed, assigned to Salonii02

[2021-03-02 07:20] #2097 closed, assigned to nobody

[2021-03-02 07:20] #2096 closed, assigned to nobody

[2021-03-02 07:22] #2095 closed, assigned to nobody

[2021-03-02 07:22] #2094 closed, assigned to smriti1313

[2021-03-02 07:22] #2075 closed, assigned to achalesh27022003

[2021-03-02 07:22] #2074 closed, assigned to nobody

[2021-03-02 07:22] #2070 closed, assigned to nobody

[2021-03-02 07:22] #2069 closed, assigned to nobody

[2021-03-02 07:22] #2065 closed, assigned to sakshikhachane

[2021-03-02 07:22] #2045 closed, assigned to Sarthak-9, muthuannamalai12

[2021-03-02 07:22] #2044 closed, assigned to muthuannamalai12

[2021-03-02 07:22] #2036 closed, assigned to satyampgt4, Sarthak-9, tharunc

[2021-03-02 07:22] #2002 closed, assigned to nobody

[2021-03-02 07:22] #2001 closed, assigned to nobody

[2021-03-02 07:22] #2000 closed, assigned to infiniteoverflow

[2021-03-02 07:23] #1999 closed, assigned to achalesh27022003, Amit366, Sobhit25

[2021-03-02 07:23] #1997 closed, assigned to ankitasantape

[2021-03-02 07:23] #1985 closed, assigned to KlaraKrmpotic

[2021-03-02 07:23] #1983 closed, assigned to achalesh27022003, muthuannamalai12

[2021-03-02 07:23] #1982 closed, assigned to muthuannamalai12

[2021-03-02 07:23] #1981 closed, assigned to nobody

[2021-03-02 07:23] #1976 closed, assigned to nobody

[2021-03-02 07:23] #1975 closed, assigned to nobody

[2021-03-02 07:24] #1974 closed, assigned to nobody

[2021-03-02 07:26] HarshCasper commented on #2116
@chehak123

Let us know the language that you will be using to solve the Issue. Also please make the PR once the Coding Period starts.

[2021-03-02 07:26] HarshCasper commented on #2118
Nope. We don't need any more cheatsheets or road-maps.

[2021-03-02 07:26] #2118 closed, assigned to nobody

[2021-03-02 07:27] HarshCasper commented on #2119
That would make the Project having too many solutions that would simply disturb the flow of the Project. Closing the Issue.

[2021-03-02 07:27] #2119 closed, assigned to nobody

[2021-03-02 07:28] HarshCasper commented on #2121
@Tanmay2510

Let us know if you are planning to work on it. If not, please let us know as well, by unassigning yourself. We would appreciate honesty more than just ghosting us out after having an Issue :)

@chehak123

I have assigned you this issue. Note that you cannot work on more than 2 Issues at a single time. (You already have one)

[2021-03-02 07:31] HarshCasper commented on #2122
@maanpatel2492 @chicken-biryani

Let us know here on the languages that you are planning to use to solve this Issue

[2021-03-02 07:31] #2124 closed, assigned to nobody

[2021-03-02 07:31] #2134 closed, assigned to nobody

[2021-03-02 07:32] HarshCasper commented on #2136
@chicken-biryani @Nidhideveloper @AkanshaUniyal

I have assigned you three this Issue. Please let us know beforehand about the language that you are planning to use to solve this. Thanks!

[2021-03-02 07:33] #2138 closed, assigned to nayanajain, vilsi12, bagladivyang03, vermatanu

[2021-03-02 07:34] Tanmay2510 commented on #2121
@HarshCasper I have made a new pull request on this issue.
Can you please review it?

[2021-03-02 07:35] HarshCasper commented on #2140
Good work on the pitch!

Assigned :)

[2021-03-02 07:36] #2146 closed, assigned to nobody

[2021-03-02 07:37] HarshCasper commented on #2142
Hi @TanyaAggrawal

I have assigned you this Issue in C++

@ankan1811 : I could not assign you this Issue because you plan to work on it using C++ itself. @TanyaAggrawal is already working on it. Please take up the Issue in some other language or find another Issue. Thanks!

[2021-03-02 07:37] #2147 closed, assigned to nayanajain

[2021-03-02 07:38] #1772 closed, assigned to sahebsunny

[2021-03-02 07:38] #1770 closed, assigned to nrickles3

[2021-03-02 07:39] HarshCasper commented on #2121
Ideally you should link PRs to the Issues you are assigned to. That makes the review process easier and more productive.

[2021-03-02 07:40] tanyarajhans commented on #2142
Hey @HarshCasper, I added this in C++ as you know already, I will also contribute in Java for this problem.

[2021-03-02 07:43] shloka-gupta commented on #2136
@HarshCasper Python from my end

[2021-03-02 07:44] shloka-gupta commented on #2122
@HarshCasper Python on my end

[2021-03-02 07:46] TidbitsJS commented on #2137
Can you please let me know why you closed the issue? @HarshCasper

Is the issue that I have created is not good enough? Do reply, this will help me to know where I went wrong :)

[2021-03-02 08:10] HarshCasper commented on #2194
Great Pitch!

Thanks for the initiative :)

[2021-03-02 08:13] HarshCasper commented on #2193
That's a wonderful pitch @abhikjain360

Really appreciate your push through to make the project more diverse. I have a question:  Would it be possible for you to work on a proposal of what algorithms are you planning to implement in Rust?

The advantages of a proposal would be that, I can set a Project Board for you where you can work on the algorithms and you will have the freedom to create Issue

[2021-03-02 08:20] HarshCasper commented on #2190
Too ambiguous to assign.

I will put up some guidelines on creating Issues soon.

[2021-03-02 08:20] #2190 closed, assigned to nobody

[2021-03-02 08:22] HarshCasper commented on #2185
@m-code12 DWoC is already over. Are you still planning to work on it for GSSoC '21 ?

@chehak123 : You already have two Issues under your belt.

[2021-03-02 08:25] HarshCasper commented on #2181
Raise a PR for grammatical mistakes. No need of having Issues here.

For a completely new README, make a proposal on the [Discussions](https://github.com/TesseractCoding/NeoAlgo/discussions)

[2021-03-02 08:25] #2181 closed, assigned to nobody

[2021-03-02 08:26] #2176 closed, assigned to nobody

[2021-03-02 08:28] HarshCasper commented on #2172
@saimanoharhm @maanpatel2492

It would be really messy if you are putting one common Issue to solve a lot of problems. I would suggest that you go with creating separate Issue for every problem and making a PR for them individually.

If you have a solid proposal, make a [Discussion](https://github.com/TesseractCoding/NeoAlgo/discussions) thread, tinker out the details with me and then create Issue

[2021-03-02 08:29] #2172 closed, assigned to nobody

[2021-03-02 08:30] HarshCasper commented on #2171
@chehak123 @Nidhideveloper

I would suggest stopping spamming that you want to work on an Issue everywhere. Both of you have been assigned a couple of Issues.

I will soon post a thread on how you should make an Issue soon. Thanks!

[2021-03-02 08:32] HarshCasper commented on #2154
@sukritidawar @yashikajotwani12 @nandinib1999 @keshav2508

Are you all participating in GSSoC '21 ?

[2021-03-02 08:32] HarshCasper commented on #2142
Go ahead.

From next time, please link your PR to this Issue so that its easy for us to track things.

[2021-03-02 08:33] #2117 closed, assigned to nobody

[2021-03-02 08:34] sukritidawar commented on #2154
yes, I am

[2021-03-02 08:35] HarshCasper commented on #1769
Let me know, whoever is looking to work on this Issue for GSSoC '21. I will assign the same.

[2021-03-02 08:37] HarshCasper commented on #2154
Welcome Back @sukritidawar !

We hope you can build up on your contributions from Contributor's Hack :)

[2021-03-02 08:37] #1747 closed, assigned to Sarthak-9

[2021-03-02 08:37] #1969 closed, assigned to RuchiGitHu

[2021-03-02 08:41] m-code12 commented on #2185
Yes I'll work on it for GSSoC '21.

[2021-03-02 08:42] sukritidawar commented on #2154
Yes definitely!
Thank you :)

[2021-03-02 09:18] vismitap commented on #1769
Please assign this to me as a part of GSSoC!

[2021-03-02 10:25] abhikjain360 commented on #2193
Sure! I can write a proposal.

For now I plan to catch up with C++ part, and in the corresponding PR that I created (#2196), you can see that I copied the [`README.md`](https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/README.md) from the C++ part, and just changed list to a checklist, with appropriate changes in links. Those links don't work for now as files don't exist yet.

As

[2021-03-02 11:26] pganguli commented on #2140
Thanks :D
Pull request #2199 added.

[2021-03-02 11:50] RuchiGitHu commented on #2122
hi @HarshCasper , I want to solve this issue using java...
Please assign this issue to me under GSSOC 21 using java language.
Looking forward to contribute here....
Thanks in Advance.

[2021-03-02 12:25] yashikajotwani12 commented on #2154
yes mam!!

[2021-03-02 13:18] Deadbullfrog05 opened #2202 "binary tree basic implementation in javascript"
I want to code binary tree basic implementation,insertion and deletion in javascript language.

[2021-03-02 13:26] maanpatel2492 commented on #2122
c++

[2021-03-02 13:32] vgb-codes commented on #2202
@Deadbullfrog05 Please fill out the fields in the template to better understand your proposal.

[2021-03-02 13:36] AkanshaUniyal commented on #2136
@HarshCasper  I would like to do that in JAVA

[2021-03-02 13:45] maanpatel2492 commented on #2202
Hey,I would solve this issue.
(under GSSOC21).

[2021-03-02 13:59] Nidhideveloper commented on #2136
@HarshCasper I would like to do it in C++

[2021-03-02 14:15] keshav2508 commented on #2154
yes i am

On Tue, Mar 2, 2021 at 2:02 PM Harsh Mishra <notifications@github.com>
wrote:

[2021-03-02 14:52] vgb-codes commented on #2202
@maanpatel2492 Which language? Because it is already solved for some programming languages like Java. @Deadbullfrog05 will take up Javascript.

[2021-03-02 15:07] noob-26 opened #2204 "Implementing Longest increasing subsequence DP problem In Javascript"
I want to contribute the DP solution of the longest increasing subsequence in JS as part of GSSoC 2021.

[2021-03-02 15:34] maanpatel2492 commented on #2202
c++ or python

[2021-03-02 15:58] HarshCasper commented on #2154
@yashikajotwani12 @keshav2508

The Issue is already taken up by @sukritidawar in C++. Please let me know if you plan to work on it in some other language.

And @yashikajotwani12 please refer me by `he/him` tags :)

[2021-03-02 16:24] pganguli opened #2205 "Prevent classifying this repo as a Jupyter Notebook"
## 🐛 Bug Report

This repository is currently being classified by linguist as a Jupyter Notebook, owing to the huge amount of Jupyter Notebook related metadata. Ideally, the repo should be setup such that linguist ignores *.ipynb files, which should prevent this misclassification.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/mast

[2021-03-02 16:25] pganguli commented on #2205
I wish to work on this issue for GSSOC'21. @HarshCasper Kindly assign this to me :)

[2021-03-02 18:49] vismitap commented on #1769
The coding period for GSSoC starts from 8th March as per new rules. I shall be back with a PR on 8th! 👍

[2021-03-02 19:28] vybhav72954 opened #2206 "File in incorrect directory"
## 📚 Documentation

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

- Yes

`CircularLinkedList.c` is in Python Directory.

[2021-03-02 19:45] Nidhideveloper commented on #2136
@HarshCasper Sir, could you please name the file name under NeoAlgo, as I am unable to find it anywhere under c++ or python category. Please sir, as I am very new to onpen source contribution.

[2021-03-02 20:06] vybhav72954 opened #2207 "Bogo Sorting in Python"
## 🚀 Feature

Bogo Sort or Moneky Sort a.k.a. Stupid  Sort in Python.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yup

## Pitch

BogoSort, Monkey Sort, or inefficient sort is notoriously famous for being one of the worst sortings algorithms with an infinite upper bound.

And for thi

[2021-03-02 20:09] vybhav72954 commented on #2207
I can implement this in other languages as well.

[2021-03-03 03:43] HarshCasper commented on #2207
Welcome here @vybhav72954 :)

Are you looking to participate through GSSoC or on your own bidding?

[2021-03-03 03:46] HarshCasper commented on #2202
Make a seperate Issue. Also have a look before if the code is already present or not. Don't jump on the bandwagon

[2021-03-03 03:48] HarshCasper commented on #2136
We are building a Contributor Guideline. Please wait until its ready.

Ideally it would be available before the Coding Period starts and you can make the PR once the Coding Period starts. It would be great if your fellow contributors @chicken-biryani and @AkanshaUniyal can help you out.

[2021-03-03 04:11] Shreyash41 opened #2209 "Implement Largest Rectangular Area in Histogram Stack C++"
## 🚀 Feature

I want to contribute to the solution of the Largest Rectangular Area in Histogram in C-Plus-Plus using Stack as part of GSSoC 2021.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES.

[2021-03-03 04:31] Shreyash41 commented on #2185
@HarshCasper Hey, I would like to contribute to this N-Queen Problem in C++ and JAVA as well. Please assign it to me.

[2021-03-03 05:39] HarshCasper commented on #2185
Make a separate Issue

[2021-03-03 05:45] Shreyash41 opened #2210 "Implement N-Queen Problem in C++ and Java."
## 🚀 Feature

I would like to contribute to the N-Queen problem In C++ and JAVA. Please assign it to me as a part of GSSOC 2021.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES.

[2021-03-03 05:53] Karthik-Nayak98 opened #2211 "Implement Banker's algorithm for Operating System in C."
## 🚀 Feature

**Banker's algorithm** used to avoid deadlock and allocate resources safely to each process in the computer system.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this fea

[2021-03-03 05:53] Karthik-Nayak98 commented on #2211
I am a participant in GSSOC21. I would like to implement this code in C.

[2021-03-03 06:09] ankan1811 commented on #2210
I would like to do N-Queen problem In C++ . Please assign it to me as a part of GSSOC 2021.

[2021-03-03 06:16] ankan1811 opened #2212 "Implement Pangram in C++"
## 🚀 Feature

A pangram is a string that contains every letter of the alphabet.
 So return whether the given string is pangram or not?
Example: "The quick brown fox jumps over the lazy dog"
The string contains all letters in the English alphabet, so return Yes .
If the string is not a pangram print No

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCod

[2021-03-03 06:17] ankan1811 commented on #2212
I want to implement this in C++ under GSSoC 2021.

[2021-03-03 06:29] Sarthak-9 commented on #2211
I want to contribute to this algorithm in C++. Please assign me

[2021-03-03 08:54] HarshCasper commented on #2211
Make a separate Issue.

[2021-03-03 08:56] HarshCasper commented on #2210
@ankan1811 : C++
@Shreyash41 : Java

[2021-03-03 09:35] pganguli commented on #2211
Can you please outline the general premise of Banker's algorithm in the description of your issue?

[2021-03-03 09:42] ShubhamGupta577 commented on #2212
I want to implement this in C++, Python, and C under GSSOC'21.

[2021-03-03 10:19] ShubhamGupta577 opened #2214 "Implement Bucket Sort in C++"
## 🚀 Feature

Bucket Sort is a sorting technique that sorts the elements by first dividing the elements into several groups called buckets. The elements inside each bucket are sorted using any of the suitable sorting algorithms or recursively calling the same algorithm.
* Use **Scatter-gather approach**.
* Best case time complexity- **O(n+k)**
* Worst case time complexity-**O(n^2)**

### Have you

[2021-03-03 10:20] ShubhamGupta577 commented on #2214
I want to work on this issue using C++ under GSSOC'21.

[2021-03-03 11:26] gat786 commented on #2171
@Nidhideveloper This issue is created by @saimanoharhm for working on it himself. If you are not able to understand such a simple fact. DONT SCREAM IN ALL CAPS AT ME!

[2021-03-03 11:41] gat786 commented on #2142
Yeah, for some reasons I forgot to assign it to her 🤣
Even after commenting to get started with it.

[2021-03-03 11:42] gat786 commented on #2193
To the moon! Baby!

[2021-03-03 11:49] gat786 commented on #2193
Sounds like a plan! Also to include only those links to files for which the implementation has been done. For what I have seen you have copied the cpp Readme's and changed the filenames to match it to their rust counterparts which you are yet to write down.

Go step by step. Do it One algo at a time but don't provide broken links to things which don't yet exist.

[2021-03-03 12:54] RuchiGitHu commented on #2122
Hi @HarshCasper. Please let me clear that, is you want me to solve this issue using C++ language?
Thanks for your reply...

[2021-03-03 13:33] yashikajotwani12 commented on #2154
I would like to do the same in python. Please assign me .

[2021-03-03 14:17] tanyarajhans commented on #2142
@gat786 @HarshCasper I have sent the PR.

[2021-03-03 15:53] atarax665 commented on #2214
Bucket Sort has already been implemented in CPP. You can check it out [here](https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/sort/bucket_sort.cpp).

[2021-03-03 15:53] #2214 closed, assigned to nobody

[2021-03-03 15:59] ChetasShree commented on #2122
hi @HarshCasper , I want to solve this issue using python...
Please assign this issue to me under GSSOC 21 using python language.
Looking forward to contribute here...

[2021-03-03 16:01] ChetasShree commented on #2136
hi @HarshCasper , I want to solve this issue using python...
Please assign this issue to me under GSSOC 21 using python language.
Looking forward to contribute here...

[2021-03-03 16:07] ChetasShree commented on #2158
hi @HarshCasper , I want to solve this issue using python...
Please assign this issue to me under GSSOC 21 using python language.
Looking forward to contribute here...

[2021-03-03 16:14] atarax665 commented on #2158
Hey @ChetasShree,
Sorry, this issue has already been assigned to someone else in python and java, but you can still contribute in any other language you are comfortable with.

[2021-03-03 16:16] atarax665 commented on #2212
I have assigned you this issue in CPP, please head on to #2158

[2021-03-03 16:16] #2212 closed, assigned to ankan1811

[2021-03-03 16:25] ChetasShree commented on #2158
can I contribute it using c++?

[2021-03-03 16:57] ankan1811 commented on #2212
@atarax665  But I was assigned this issue in C++ before.

[2021-03-03 17:01] ankan1811 commented on #2158
Hi @atarax665  you have assigned me this in C++ for GSSOC'21 at the top (according to my previous issue which you have closed) but you have forgot  to add me as assignee at the top right corner. Please can you add me as assignee?

[2021-03-03 17:08] ankan1811 commented on #2210
@HarshCasper @atarax665   Sir Since this is for GSSoC'21 it would be really nice if any mentor could add a GSSOC'21 label for this issue to avoid confusion.

[2021-03-03 17:12] atarax665 commented on #2158
Actually a PR or Issue can only be assigned to anyone who has commented on the issue or pull request, anyone with write permissions to the repository, and organization members with read permissions to the repository. Though I have mention you for CPP in the issue description itself. As you have commented now so I have added you as assignee.

[2021-03-04 04:06] HarshCasper commented on #2158
The first rule before you ask yourself to be assigned an Issue, is to first check if someone is already working on it. In your case, its C++ and @ankan1811 is already working on it.

Next time, please be specific and state the language you want to work on, after verifying if no one else is working on it.

[2021-03-04 04:07] HarshCasper commented on #2154
@nandinib1999 I have assigned you this Issue in Python.

@yashikajotwani12 Please take up this Issue is some other language, since @nandinib1999 claimed it first

[2021-03-04 04:08] HarshCasper commented on #2142
It would be reviewed after the Coding period starts.

[2021-03-04 04:18] ChetasShree commented on #2207
hi @HarshCasper , I want to solve this issue using python...
Please assign this issue to me under GSSOC 21 using python language.
Looking forward to contribute here...

[2021-03-04 04:53] vybhav72954 commented on #2207
This is assigned to me already 🙂

[2021-03-04 06:39] aakriti1318 opened #2221 "Bits Manipulation in Cpp"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Knowledge of bits manipulation in doing arithmetic operation will increase the efficiency of the program.

## Pitch

Bits Manipulation is relativel

[2021-03-04 07:10] soukarsha122 commented on #2221
I would like to work on this issue as part of gssoc 21

[2021-03-04 07:12] keshav2508 opened #2223 "Cycle sort"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
YES
(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch
I would like to implement cycle sort in c++ and Python as a pa

[2021-03-04 11:54] RritikaG commented on #2223
@keshav2508 I would like to implement cycle sort in Java as a part of GSSOC'21. Please assign me this.

[2021-03-04 14:21] yashikajotwani12 commented on #2154
I can implement it in c. May I @HarshCasper

[2021-03-04 15:39] Avash027 opened #2224 "Kahn Algorithm for Topological Sort in C++"
## 🚀 Feature

Kahn's Algorithm is used for the topological sort of any graph in CPP

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Kahn's Algorithm is an important topic in graph traversal and is knowing how to implement it will help to solve various problems.

## P

[2021-03-04 15:49] Meghna180401 opened #2225 "Infix to Postfix Expression in C and JAVA"
## 🚀 Feature

I would like to implement Infix to Postfix Expression in C and JAVA as a part of GSSOC'21.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES.

[2021-03-04 18:57] sumitgsh opened #2227 "Iterative Binary Search in C"
## 🚀 Feature

(A clear and concise description of what the feature is.)
It will help us realise binary search using only pointers
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)
## Pitch

(Plea

[2021-03-04 18:58] sumitgsh commented on #2227
Would love to work on this issue using C as a part of GsSoc21

[2021-03-05 05:10] HarshCasper commented on #2225
@Meghna180401

It is highly recommended to do a proper research before you create an Issue. For your information, `Infix to Postfix` already exists for both C and Java.

[Infix to Postfix in C](https://github.com/TesseractCoding/NeoAlgo/blob/master/C/ds/infix_to_postfix.c)
[Infix to Postfix in Java](https://github.com/TesseractCoding/NeoAlgo/blob/master/Java/ds/Infix_to_Postfix.java)

Please don't

[2021-03-05 05:10] #2225 closed, assigned to nobody

[2021-03-05 05:13] HarshCasper commented on #2154
Assigned :+1:

[2021-03-05 05:49] gayatri517 opened #2228 "Wave Sort in C++"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Given an array of integers, sort the array into a wave like arrangement, that is A[0 to n-1] is sorted in the form A[0]>=A[1]<=A[2]>=A[3]....

Example :
               Input:  arr[] = {20 80 40 35 10 15 70}
               Outp

[2021-03-05 05:50] gayatri517 commented on #2228
I want to work on this issue in C++ as a participant of GSSOC'21

[2021-03-05 06:26] Meghna180401 opened #2229 "Check if a binary tree is a Binary Search Tree in Java."
## 🚀 Feature

I would like to implement the solution to check if a binary tree is a Binary Search Tree in Java.
I would include test cases,complexities as well as the detailed algorithmic explanation for the same and also the common approach which leads to wrong answers.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIB

[2021-03-05 10:29] yashikajotwani12 commented on #2154
Thankyou So much :)

[2021-03-05 14:13] yogitasaini commented on #2122
please , assign this task to me java under GSSOC'21

[2021-03-05 17:29] shloka-gupta commented on #2122
Hey, @ChetasShree @yogitasaini
**It's great to see your enthusiasm and keep up with it**. But the issue has already been assigned, in Python, Java, and C++ to me (@chicken-biryani ), @RuchiGitHu, and @maanpatel2492 respectively.

**It's always a great practice to go through the discussion under an issue**. (i.e the above comments in the top to bottom order) to see whether it has been assigned or n

[2021-03-05 17:35] ChetasShree commented on #2122
ya sure thank you so much @chicken-biryani

[2021-03-05 17:53] HarshCasper commented on #2122
Thanks for motivating co-contributors @chicken-biryani

Really appreciate that!

[2021-03-06 04:25] muthuannamalai12 opened #2233 "Jump Search | C"
## 🚀 Feature
Implementation of the Jump Search in C
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

## Motivation
It's an interesting algorithm to learn.
(Please outline the motivation for the propos

[2021-03-06 04:27] muthuannamalai12 commented on #2233
I would love to work on this issue. Kindly assign me this issue as a part of GSSOC'21

[2021-03-06 04:29] muthuannamalai12 opened #2234 "Exponential Search in C"
## 🚀 Feature
Exponential Search in C
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

## Motivation
Exponential search is also known as doubling or galloping search. This mechanism is used to find the

[2021-03-06 04:29] muthuannamalai12 commented on #2234
I would love to work on this issue. Kindly assign me this issue as a part of GSSOC'21

[2021-03-06 08:02] rohanbabbar04 opened #2235 "Shaker Sort in C"
## 🚀 Feature

Shaker sort is an extension of the bubble sort .The algorithm extends bubble sort by operating in two directions.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

An new and interesting extension of the bubble sort

## Pitch

While it improves on bubble

[2021-03-06 08:02] rohanbabbar04 commented on #2235
Do assign me this issue under GSSOC '21

[2021-03-06 13:12] shloka-gupta opened #2236 "Adjacent Elements Product, Python , CP"
## 💥 Proposal

( When given an array of integers, we have to find the pair of adjacent elements that have the largest product and return that product.
Example:
input Array = [3, 6, -2, -5, 7, 3]
Output= 21
for 7 and 3 at position 4 and 5 give largest product. )

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#r

[2021-03-06 13:12] shloka-gupta commented on #2236
I would like to solve this under GSSOC'21, in Python

[2021-03-06 13:19] rohanbabbar04 commented on #2236
I would like to implement the same in C language as a part of GSSOC '21

[2021-03-06 16:39] maanpatel2492 commented on #2236
I would like to solve this under GSSOC'21,in c++

[2021-03-06 16:41] maanpatel2492 commented on #2223
I would like to work on this issue in Python.
(under GSSOC'21).

[2021-03-06 18:02] RritikaG commented on #2171
Hey ! @gat786 @HarshCasper  I would like to implement this issue in Java as a part of GSSOC'21. Please assign me this.

[2021-03-06 18:39] shadowasphodel2919 opened #2238 "Addition of Quick Sort in C"
## 🚀 Feature
Addition of quick sort in cp in C language.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes.

## Motivation
Seeing as so many sorting techniques have been added before quick sort. It will be a valid and noteworthy addition to cp algorithms.

## Pitch
It is a crucial sorti

[2021-03-06 18:40] shadowasphodel2919 commented on #2238
I want to work on this issue as a participant of GSSoC' 21 in C language.

[2021-03-07 04:18] vieee commented on #2223
Hey @keshav2508, I would like to work on this issue in C. Could I proceed with it ?
(under GSSOC'21).

[2021-03-07 05:30] yogitasaini commented on #2171
Please assign this to me in java under GSSOC'21

[2021-03-07 08:44] vybhav72954 commented on #2207
@HarshCasper Shall I do it in Python only or any other language as well.

[2021-03-07 09:30] tanvi355 commented on #2228
Hey! Can i work on this in Java under GSSoC' 21?

[2021-03-07 09:38] tanvi355 commented on #2236
I would like to work on it in Java under GSSoC'21

[2021-03-07 09:46] tanvi355 commented on #2233
I would like to implement this algorithm in C++ and java under GSSoC'21

[2021-03-07 12:17] Avash027 opened #2241 "Add Selection Sort Algorithm in Javascript"
## 🚀 Feature

Selection sort is a basic sorting algorithm

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES
## Motivation

Selection sort is one of the basic algorithms. As javascript is one of the most popular languages this algorithm should be implemented in this language.

## Pitch

[2021-03-07 16:56] maneprajakta opened #2242 "Adding Fibonacci Search in C++"
## 🚀 Feature
Adding Fibonacci Search under Search Section in C++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

I want to contribute to this feature as a part of  GSSoC 2021.

## Pitch

This feature will add one more Searching algorithm to the project which is for

[2021-03-07 17:03] maneprajakta commented on #2242
I want to work on this issue.

[2021-03-07 18:03] vgb-codes commented on #2242
@maneprajakta Go ahead with C++.

[2021-03-07 18:13] Meghag5 opened #2244 "Implementation of Stack using queues"
## 📚 Documentation

(A clear and concise description of what the issue is.)
The issue is of implementing stack using 2 queues in c++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Assignees
* @Meghag5 : C++
* @DEEPALI-SUK : Python
* @ritvij14 : Java
* @su

[2021-03-07 18:14] Meghag5 commented on #2244
please assign it to me for GSSOC 2021

[2021-03-07 18:16] DEEPALI-SUK commented on #2244
I want to work on this issue and want to contribute to this. I am a participant of GSSOC 2021. Please could you assign me this issue as a part of GSSOC 2021. I will implement in C++.
Thank you.

[2021-03-07 18:23] vgb-codes commented on #2238
@shadowasphodel2919 Go ahead with C.

[2021-03-07 18:27] vgb-codes commented on #2233
@tanvi355 Please create a new issue.

[2021-03-07 19:15] vieee opened #2246 "Cycle Sort | C"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

I would like to implement cycle sort in C as a part of GSSOC'21. Please assign me this

[2021-03-07 20:49] krishmurarka commented on #2229
I would like to implement the solution to check if a binary tree is a Binary Search Tree in c++.

pls assign me this issue

[2021-03-07 20:58] krishmurarka opened #2247 "LCA USING BINARY LIFTING IN C++"
## 🚀 Feature
Lowest Common Ancestor of two nodes using binary lifting in c++.
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES
(Write your answer here.)

## Motivation
I want to contribute to this feature as a part of GSSoC 20

[2021-03-07 20:59] krishmurarka commented on #2247
i want to work on this issue

[2021-03-08 01:50] ritvij14 commented on #2210
@HarshCasper @atarax665 I would like to take this issue in Golang and JS.
Also, has GSSOC '21 officially started? I couldn't see any announcements on their discord server.

[2021-03-08 03:20] maneprajakta commented on #2242
@vgb-codes  Sure

[2021-03-08 03:46] HarshCasper commented on #2236
@rohanbabbar04 @maanpatel2492 @tanvi355

Make seperate Issues

[2021-03-08 03:49] HarshCasper commented on #2210
@ritvij14 Since you have been a previous contributor, you might understanding that managing individual contributions through a single issue is often hard. You can create a separate issue for Golang and JS and I will assign you the same.

The Coding Period has started. Contributors have started creating Issues and making PRs from beforehand.

[2021-03-08 03:51] msbuddhu opened #2248 "Merge Sort implementation in Python"
## 🚀 Feature

( Merge Sort is a Divide and Conquer algorithm. It divides the input array into two halves, calls itself for the two halves, and then merges the two sorted halves.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(I want to contribute to the implementation of Merge Sort  i

[2021-03-08 03:51] HarshCasper commented on #2171
@RritikaG @yogitasaini

Please make separate Issues for yourself. Its hard to manage individual contributions from a single Issue. Also note that if someone has already made the Issue, and started work on it, it makes no sense for you to do same as well, as we will not accept duplicate contributions.

[2021-03-08 03:51] siddharth25pandey commented on #2244
@DEEPALI-SUK C++ is already assigned. You can work in different language.

[2021-03-08 03:54] siddharth25pandey commented on #2248
@msbuddhu Assigned. All the best 👍

[2021-03-08 04:04] ritvij14 commented on #2210
@HarshCasper alright understood, thanks for the clarification. I will make the separate issues 👍

[2021-03-08 04:08] tanvi355 opened #2249 "Jump search | C++ and Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Implementation of jump search in C++ and Java

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)
I want to contribute this

[2021-03-08 04:10] stuckinforloop commented on #2193
Hey, can I work on the sorting algorithms part. I think I will be able to contribute that in Rust.

[2021-03-08 04:13] tanvi355 opened #2250 "Adjacent elements product | Java"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Find the pair of adjacent elements that have the largest product in a given array and return that product.
Example:
input Array = [3, 6, -2, -5, 7, 3]
Output= 21
for 7 and 3 at position 4 and 5 respectively we get the largest product i.e. 21
Hence it should return 21
### Have you read the [Contributing Guidelines on Pull Req

[2021-03-08 04:13] tanvi355 opened #2251 "Adjacent elements product | Java"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Find the pair of adjacent elements that have the largest product in a given array and return that product.
Example:
input Array = [3, 6, -2, -5, 7, 3]
Output= 21
for 7 and 3 at position 4 and 5 respectively we get the largest product i.e. 21
Hence it should return 21
### Have you read the [Contributing Guidelines on Pull Req

[2021-03-08 04:14] #2251 closed, assigned to nobody

[2021-03-08 04:19] tanvi355 commented on #2250
I would like to work on this under GSSoC'21

[2021-03-08 04:34] #2209 closed, assigned to Shreyash41

[2021-03-08 04:59] tanyarajhans opened #2252 "Top K frequent elements under heap section in C++."
## 🚀 Feature

Wanted to add top K frequent elements under heap, which happens to be a famous interview question in cpp.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

It would be a great addition to the repository and would prove to be really helpful. Also, I want

[2021-03-08 05:25] muthuannamalai12 opened #2253 "Cycle Sort | Java Script"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch
I would like to implement cycle sort in JavaScript as a part o

[2021-03-08 05:26] muthuannamalai12 opened #2254 "Circle Sort | C"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch
I would like to implement circle sort in C as a part of GSSOC'

[2021-03-08 05:31] rohanbabbar04 opened #2255 "Adjacent Element Product in C"
## 💥 Proposal

Find the pair of adjacent elements that have the largest product in a given array and return that product.
Example:
input Array = [3, 6, -2, -5, 7, 3]
Output= 21
for 7 and 3 at position 4 and 5 respectively we get the largest product i.e. 21
Hence it should return 21

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/mas

[2021-03-08 06:15] kiruba-r11 commented on #2122
@HarshCasper Can I work on this issue under GSSoC'21 in Kotlin (if Kotlin can be used in this repo). Thanks

[2021-03-08 06:16] kiruba-r11 commented on #2136
@HarshCasper Can I work on this issue under GSSoC'21 in Kotlin. Thanks

[2021-03-08 06:21] kiruba-r11 commented on #2158
@HarshCasper Can I work on this issue in Kotlin under GSSoC'21. Thanks

[2021-03-08 06:23] kiruba-r11 commented on #2227
@HarshCasper Can I work on this issue in Kotlin under GSSoC'21. Thanks

[2021-03-08 06:24] kiruba-r11 commented on #2236
@HarshCasper I would like to work on this issue in Kotlin under GSSoC'21. Thanks

[2021-03-08 06:27] Akash20x opened #2257 "StairCase Search"
## 🚀 Feature

StairCase search is also commonly known as Search in a Row and Column sorted array.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Want to add this as it is not covered in repo.

## Pitch

Want to implement Staircase search in python and want to aware

[2021-03-08 06:27] Akash20x commented on #2257
Please assign me this issue as a part of GSSoC'21

[2021-03-08 07:02] Nidhideveloper opened #2258 "Arrange numbers in an array such that to form the biggest number"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

This problem is not present in the repo so, I wanted to add this. As well I wanted to contribute to NeoAlgo as a GSSOC'21 participant.

## Pitch

T

[2021-03-08 07:03] Nidhideveloper commented on #2258
I want to work on this issue in C++, as a participant of GSSOC'21. Please assign this to me.

[2021-03-08 07:13] Meghna180401 commented on #2246
I would like to implement Cycle Sort in Java as a part of GSSOC'21. Kindly assign me.

[2021-03-08 07:26] rohanbabbar04 commented on #2257
Please assign me this issue in C language as a part of GSSOC'21.

[2021-03-08 08:26] DEEPALI-SUK commented on #2244
Can I try in C or Python?

[2021-03-08 08:40] krishmurarka opened #2260 "Height of a N array tree."
## 🚀 Feature
Calculating the height of an N array tree (i.e the tree can have any number of children) in c++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation
I want to contribute to this feature as a part of GSSoC 2021.

## Pitch
This feature will add one more Importa

[2021-03-08 08:41] krishmurarka commented on #2260
i want to work on this issue

[2021-03-08 09:30] HarshCasper commented on #2236
@kiruba-r11 Read the above message

[2021-03-08 09:30] HarshCasper commented on #2227
@kiruba-r11 Make a separate issue. Thanks!

[2021-03-08 09:33] HarshCasper commented on #2136
@ChetasShree You should understand that we don't take duplicated codes. Did you take the chance to go through the above comments and see who is taking the issue on what language. If not, please don't expect us to be so mindful of your requests on every Issue that exists.

@kiruba-r11 Same applies here. Please don't spam requests on every issue. Instead take the initiative and make an issue.

[2021-03-08 09:34] HarshCasper commented on #2122
@kiruba-r11 I don't appreciate the spamming in the repository. If you are dead serious about contributing, create an Issue and then mention me up there. I will not be so appreciative of the exact same request in multiple issues.

[2021-03-08 09:36] WaderManasi opened #2261 "Adding Kadane's Algorithm in Python"
## 🚀 Feature

Dynamic programming - Adding Kadane's Algorithm source code in Python language.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
## Motivation

Being part of gssoc'21

### Pitch

It is efficient approach for getting maximum contiguous subarray sum

[2021-03-08 09:40] WaderManasi commented on #2261
I would like to work on this issue.

[2021-03-08 09:42] ritvij14 commented on #2244
@siddharth25pandey can I take this in Java and Go as a part of GSSOC '21?

[2021-03-08 09:47] ritvij14 opened #2262 "Check if given number is Armstrong number using normal and recursive methods, using Kotlin."
## 🚀 Feature

(A clear and concise description of what the feature is.)
Checking whether the given number input by user is Armstrong number or not. We will have 2 separate files, one which checks it in the normal method and the other which checks it with recursive method.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIB

[2021-03-08 09:47] ritvij14 commented on #2262
I would like to add these 2 codes for Kotlin as a part of GSSOC '21.

[2021-03-08 10:50] maanpatel2492 opened #2263 "Adjacent Elements Product, C++ , CP"
## 💥 Proposal

(When given an array of integers, we have to find the pair of adjacent elements that have the largest product and return that product.
Example:
input Array = [3, 6, -2, -5, 7, 3]
Output= 21
for 7 and 3 at position 4 and 5 give largest product.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#rep

[2021-03-08 10:50] maanpatel2492 commented on #2263
I would like to solve this under GSSOC'21, in C++

[2021-03-08 10:50] fomalhauting opened #2264 "Pythagoras Theorem Golang [GSSoC]"
## 🚀 Feature

Addition of Pythagoras theorem in Golang

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

I want to add Pythagoras theorem in golang.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

It will be under the Maths section and will help increase the n

[2021-03-08 12:16] aaadddiii opened #2267 "Addition of HeapSort in C"
## 🚀 Feature

Add Heap sort sorting algorithm in C

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

It is a very important sorting technique. And is asked in many coding interviews
I would like to implement t

[2021-03-08 12:27] sssash18 opened #2268 "Addition of cycle detection in linked list"
## 💥 Proposal
Addition of hare and tortoise algorithm for cycle detection in linked list
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
YES

[2021-03-08 12:27] deek121477 commented on #2267
Hey, I would love to contribute to this issue as a part of Gssoc'21. Could you plz assign me?

[2021-03-08 12:27] sssash18 commented on #2268
I would like to do it as part of GSSOC 2021 for C++

[2021-03-08 12:42] iamvs-2002 commented on #2249
Kindly allow me to implement it in Java as a part of GSSOC'21.

[2021-03-08 12:44] iamvs-2002 commented on #2258
Kindly allow me to do it in Java.

[2021-03-08 13:11] sumitsantape30 commented on #2255
Hey Please assign me this issue. I'm GSSOC21 participant

[2021-03-08 13:24] Pranjal9999999 commented on #2258
I want to work on this issue using c++, as a GSSOC 2021 participant.

[2021-03-08 13:45] dhruvinfo28 opened #2271 "Kahn's Algorithm"
## 🚀 Feature

Kahn's algorithm is an algorithm for finding Topological sort for a graph. Since Topological sort is only possible for a Directed acyclic graph, this algorithm will also have a cycle detection logic. This is a BFS based approach.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes

## Motivation

I love data structures and algorithms. As a participant of gssoc 2021

[2021-03-08 13:59] DevilAJ commented on #2154
@HarshCasper
I would like to work on this issue in Java.
I am a GSSOC '21 participant.
My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 13:59] hgoyal254 opened #2272 "Addition of Dynamic Huffman Algorithm (C++)."
### 🚀 Feature

Dynamic Huffman is a popular encoding technique. I want to include this in this repo.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation
This is an important encoding technique that's why I want to contribute this.
## Pitch

I would like to implement this i

[2021-03-08 14:04] sohini3062 opened #2273 "Add matrix sorting in Java"
I am a GSSOC '21 participant.

I wish to contribute a clear and concise java code on sorting a matrix in java

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
YES
(Write your answer here.)

[2021-03-08 14:07] DevilAJ opened #2274 "Peak element in an Array"
## 💥 Proposal

An array element is a peak if it is NOT smaller than its neighbours. For corner elements, we need to consider only one neighbour.
I would like to solve this using Divide & Conquer algo.

I would like to implement it in c++
My code will contain proper comments with working discriptions.

[2021-03-08 14:15] d-rat commented on #2241
@Avash027
  can you assign me this as I can implement this in javascript.

[2021-03-08 14:32] HarshCasper commented on #2249
@iamvs-2002 Make a separate Issue

[2021-03-08 14:47] iamvs-2002 commented on #2249
Alright

[2021-03-08 14:48] iamvs-2002 opened #2277 "Jump search Algorithm in Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)

## Pitch
Would add to a searching algorithm, thereby making it a better

[2021-03-08 14:49] iamvs-2002 commented on #2277
@HarshCasper Kindly assign me this issue as a part of GSSOC'21.

[2021-03-08 14:58] pallavidhere23 commented on #2268
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:58] pallavidhere23 commented on #2261
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:59] pallavidhere23 commented on #2258
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 15:00] pallavidhere23 commented on #2154
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 15:00] pallavidhere23 commented on #2142
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 15:33] sumitgsh commented on #2244
@siddharth25pandey I would love  to work on this issue in C end u can assign @DEEPALI-SUK to work on  python

[2021-03-08 15:36] ritvij14 commented on #2262
@HarshCasper a small request could you please change the Java tag to Kotlin tag 😅

[2021-03-08 15:38] kedar-s opened #2279 "Explain priorityQueue concept by constructing it from scratch instead of using the built in Java class."
## 💥 Proposal
The current Java implementation PriorityQueueEg.java uses the built-in java class of PriorityQueue. I would explain that PriorityQueue is a heap and then implement a heap in the code from scratch.

I would like to do the java implementation for this, please.

[GSSoC]

[2021-03-08 15:38] Aarushi3113 opened #2280 "Check whether a number is palindrome or not."
## 💥 Proposal

(A clear and concise description of what the proposal is.)
A **palindrome** number is one that remains the *same* when it's digits are reversed.

I am a GSSOC'21 participant and  would like to implement this code in  Python and C++.
My code will be clean and with proper documentation.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCodin

[2021-03-08 15:50] kedar-s opened #2281 "Algorithm to find if a graph is Bipartite."
## 🚀 Feature

Java implementation for the algorithm to find if a graph is Bipartite with a full explanation of its concept and implementation details would be added.

I would like to do the java implementation please.
[GSSoC]

[2021-03-08 15:55] WaderManasi commented on #2261
Thank you assigning @HarshCasper

[2021-03-08 15:56] SAY-droid427 commented on #2252
Can I contribute the code?

[2021-03-08 16:02] itsnishchay26 commented on #2244
I would like to contribute to this issue as I have studied this implementation in my 3rd Semester, lately.

It'll be like brushing up my concepts of Stack using queues.

I would like to write code in C++, with proper variable names, comments and indentation.

Please assign me this issue

[2021-03-08 16:05] itsnishchay26 commented on #2258
I would like to contribute to this issue as I have studied this implementation in my last semester.

It'll be like brushing up my concepts of array operations.

I would like to write code in C++, with proper variable names, comments and indentation as a participant in GSSoC'21.

Please assign me this issue as it'll be my first issue to fix in this 3-month open-source journey.

[2021-03-08 16:10] VA-ibh-AV opened #2282 "Algorithm to find "Longest Palindromic Subsequence" (Dynamic Programming) in cpp"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch

would like to add "Longest Palindromic Subsequence" Problem Solution Using Dynamic Programming in cpp

[2021-03-08 16:10] VA-ibh-AV commented on #2282
Kindly assign me this issue as a part of GSSOC'21.

[2021-03-08 16:11] SAY-droid427 commented on #2241
I would like to implement the selection sort algorithm in C++ and C. Could you assign it to me?

[2021-03-08 16:13] SAY-droid427 commented on #2282
Would like to add the "Longest Palindromic Subsequence" in C++ and C using Dynamic programming as a part of GSSOC'21

[2021-03-08 16:14] SAY-droid427 commented on #2280
I am a GSSOC'21 participant and would like to contribute the code for checking whether a string is palindrome or not using C++ and C.Please assign it to me

[2021-03-08 16:15] Anurag-bhatia opened #2285 "Adding Recursive and Itterative Merge Sort in C++"
## 🚀 Feature

Rescursive and Iterative Merge Sort is a part of merge sort Algorithm which is very helpful algorithms.Recursion reduces the size of code.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

I would like to add resursive and ittreative merge sort in the me

[2021-03-08 16:16] pallavidhere23 commented on #2223
I am participant @GSSOC'2021 can u please assign this issue to me.

[2021-03-08 16:16] SAY-droid427 opened #2286 "Unbounded knapsack in C++"
## 💥 Proposal

I would like to add the code for implementing unbounded knapsack in C++ under GSSOC'21.Please assign me this issue.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-08 16:18] SAY-droid427 opened #2287 "Number of deletions and insertions required to convert one sstring into the other"
## 💥 Proposal

I am a participant of GSSOC'21. I would like to add the code of number of deletions and insertions required to convert one string to another in C++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read the guidelines
## Assignees
* @SAY-droid427 : C++
* @simarj

[2021-03-08 16:20] SAY-droid427 commented on #2281
I would like to add the algorithm to find if a graph is bipartite or not in C++. Please assign me this issue. [GSSOC'21]

[2021-03-08 16:23] SAY-droid427 opened #2288 "Post-order, pre-oder and inorder traversal of a BST in C++"
## 💥 Proposal

I would like to add the code for post-order, pre-order and inorder traversal of a binary search tree in C++.Please assign this issue to me.[GSSOC'21]

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-08 16:25] simarjeet30 commented on #2280
I am a GSSOC 21 participant and I would love to contribute in it ,I know python , C , C++ well.
and I know data structure well.

[2021-03-08 16:31] simarjeet30 commented on #2287
I am a participant of GSSOC'21. I would like to add the code of number of deletions and insertions required to convert one string to another in C++ . I know C , C++ , python very well. Also have knowledge of DSA.

[2021-03-08 16:35] srimontidutta commented on #2223
I would like to work with this issue in Python as part of GSSoC. Please assign it to me.

[2021-03-08 17:24] Meghag5 opened #2295 "Word Break Problem in c++"
## 📚 Documentation

(A clear and concise description of what the issue is.)
This problem is solved using backtracking in c++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2021-03-08 17:25] Meghag5 commented on #2295
please assign it to me for GSSOC 2021 in c++.

[2021-03-08 17:42] Omar-Hegazi commented on #2280
I am a GSSOC'21 participant and would like to contribute in solving whether a number is palindrome or not. I know Python and C#.

[2021-03-08 18:27] Alleny244 commented on #2262
Hello
I am a GSSOC'21 participant
I would like to contribute in this issue
 I can implement this by both recursive as well as iterative method and with proper comment for better understanding.
I will also add 2-3 testcases for better understanding

[2021-03-08 18:30] noob-26 opened #2298 "Adding the Binary Search Algorithm in JavaScript"
I want to add the Binary Search Algorithm in JavaScript as part of GSSoC 2021.

[2021-03-08 18:31] #2298 closed, assigned to nobody

[2021-03-08 18:49] #2285 closed, assigned to nobody

[2021-03-08 19:05] diksh735 commented on #2288
I would like to work on this issue as a part of GSSOC'21. Please assign this issue to me.

[2021-03-08 19:06] diksh735 commented on #2286
I would like to work on this issue as a part of GSSOC'21.

[2021-03-08 19:07] diksh735 commented on #2287
I would like to work on this issue as a part of GSSOC'21.

[2021-03-08 19:10] diksh735 commented on #2282
Kindly assign this issue to me as a part of GSSOC'21. If you want just the algorithm I can do that or If even the implementation is required I can do that as well.

[2021-03-08 19:12] Nkap23 opened #2299 "[Cpp][Math/Number Theory] Modular Exponentiation"
## 🚀 Feature

Modular exponentiation is used to compute pow(n1,n2)%mod (n1^n2%mod) in log(n2) time!

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read the contributing guidelines on PRs

## Motivation

I am a Competitive Programmer and I love Data Structures & Algorithms,

[2021-03-08 19:17] Anurag-bhatia opened #2300 "Adding Recursive and Iterative Merge Sort in C++"
## 🚀 Feature

Recursive and iterative algorithms are important and useful merge sort algorithms.Recursive algorithm reduces the size of code.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

I would like to add these into the sorting part of C++ language. As a part o

[2021-03-08 19:23] samar08 opened #2301 "Implementing Trie data structure in java and python"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Hi, I am a GSSOC 2021 participant. I want to implement Trie data structure in both python and java. I will provide proper documentation mentioning the uses of trie and provide proper comments and code structure in order to make it understandable to a newbie in coding.
### Have you read the [Contributing Guidelines on Pull Requ

[2021-03-08 19:26] Nkap23 opened #2302 "[Cpp][DP] Kadane's Algorithm"
## 🚀 Feature

Implement Kadane's Algorithm with C++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read the guidelines!

## Motivation & Pitch

Kadane's Algorithm (also called Maximal Subarray sum algorithm) is one of the most basic Dynamic Programming Algorithms. it is us

[2021-03-08 19:31] vgb-codes commented on #2261
@pallavidhere23 Please create a new issue with preferably one language of your choice.

[2021-03-08 19:34] vgb-codes commented on #2280
@Aarushi3113 specify which language you want to code in (one language).
@SAY-droid427 @simarjeet30 @Omar-Hegazi Please create separate issues. Specify the problem you want to solve. Don't say "I want to solve X" or "I want to solve X using A,B,C languages". Say "I want to solve X using A language".

[2021-03-08 19:39] vgb-codes commented on #2302
@Nkap23 Kadane's Algorithm has already been implemented [here](https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/cp/Kadane_Alogorithm.cpp).

[2021-03-08 19:39] #2302 closed, assigned to nobody

[2021-03-08 19:41] vgb-codes commented on #2282
@BullHoN You haven't specified which language you want to work with. Please specify only one language.
@SAY-droid427 @diksh735 Please create separate issues.

[2021-03-08 19:43] jainstuti commented on #2300
Hi, i would like to contribute to writing merge sort code in cpp as a part of gssoc21. Please assign it to me.

[2021-03-08 19:44] jainstuti commented on #2288
I would like to contribute to this as a part of gssoc21. Please assign it to me.

[2021-03-08 19:45] vgb-codes commented on #2301
@samar08 Please pick one language you want to work with. Trie has been implemented using Python [here](https://github.com/TesseractCoding/NeoAlgo/blob/master/Python/ds/Trie.py).

[2021-03-08 19:47] jainstuti commented on #2282
I would like to contribute to this problem in 3 types of solutions(including dp). Please assign it to me as a part of gssoc21.

[2021-03-08 19:48] vgb-codes commented on #2282
@jainstuti Create a separate issue with details of your contribution and the language you want to work with.

[2021-03-08 19:53] anushka00 commented on #2261
Hi, I am a gssoc'21 participant and want to contribute in this  great project. I'll write the code  in compliance to all the noted guidelines with proper comments .  I would like to work on this issue.

I will write code in c++ and Java with proper guidelines as stated in the readme file .

[2021-03-08 19:54] jainstuti commented on #1768
Hi, I would like to contribute to this as a part of gssoc21. Please assign it to me

[2021-03-08 19:57] vgb-codes commented on #2261
@anushka00 Please create a new issue with preferably one language of your choice. Please check whether your contribution already exists by using the search functionality before creating your issue.

[2021-03-08 20:00] vgb-codes commented on #2299
@Nkap23 Go ahead with CPP.

[2021-03-08 20:02] vgb-codes commented on #2300
@jainstuti if you want to work on an issue, please create one. Do not reply under already existing issues to work on them.

[2021-03-08 20:05] vgb-codes commented on #2300
@Anurag-bhatia Recursive merge sort has been implemented [here](https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/sort/Merge_Sort.cpp). I will assign you to work on the iterative version of Merge Sort using C++.

[2021-03-08 20:36] Aarushi3113 commented on #2280
I want to write the above mentioned code in Python language.

[2021-03-08 21:05] vgb-codes commented on #2280
@Aarushi3113 To check whether a number is a palindrome using Python has already been implemented [here](https://github.com/TesseractCoding/NeoAlgo/blob/master/Python/math/Palindrome.py). Hence, I am closing this issue.

[2021-03-08 21:05] #2280 closed, assigned to nobody

[2021-03-08 21:13] vgb-codes commented on #2295
@Meghag5 Go ahead with C++.

[2021-03-08 23:29] VA-ibh-AV commented on #2282
@vgb-codes I had specified the language and made the pull request please check

[2021-03-08 23:37] bitaashna opened #2304 "Sliding Window Technique"
**Feature**
I will be explaining the problems in C++ in which sliding window comes in role.
It will either have fixed size window or a variable sized window.
It's a great optimisation technique.

**Fixed Window Problems:**

1.  maximum sum subarray of size k
2. 1st negative number in every window size of k
3. count occurence of anagram
4.  maximum of all subarray of size k
5.  Maximum of minimum f

[2021-03-09 01:01] siddharth25pandey commented on #2244
@itsnishchay26 Check [this](https://github.com/TesseractCoding/NeoAlgo/issues/2244#issuecomment-792443207)

[2021-03-09 01:03] siddharth25pandey commented on #2244
@DEEPALI-SUK , @ritvij14 , @sumitgsh  Assigned. Make sure you follow proper coding and formatting standards. Have a great day ahead.

[2021-03-09 01:05] siddharth25pandey commented on #2304
@bitaashna Assigned. Make sure you follow proper coding and formatting standards. Have a great day ahead !

[2021-03-09 01:09] siddharth25pandey commented on #2288
@SAY-droid427 Already implemented [here](https://github.com/TesseractCoding/NeoAlgo/tree/master/C-Plus-Plus/graphs)

[2021-03-09 01:09] #2288 closed, assigned to nobody

[2021-03-09 01:13] siddharth25pandey commented on #2287
@SAY-droid427 Go ahead with C++

[2021-03-09 01:13] siddharth25pandey commented on #2287
@simarjeet30 Go ahead with C

[2021-03-09 01:14] siddharth25pandey commented on #2287
@diksh735 Please comment your desired language.

[2021-03-09 03:02] SAY-droid427 opened #2307 "I want to implement the code for finding the greatest element to the right of each number in the array using stacks in C++"
## 💥 Proposal

I want to implement the code for finding the greatest element to the right of each number in the array using stacks in C++. Please assign this issue to me. [GSSOC'21]

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-09 03:04] HarshCasper commented on #2301
@samar08

I am assigning you this Issue in Java.

[2021-03-09 03:08] HarshCasper commented on #2282
@BullHoN Never make a PR until and unless someone assigns you the Issue. Please be nice to us, so that we can be nice to you. Thanks!

[2021-03-09 03:10] samar08 commented on #2301
Ok sure, thank you. I will implement it in java.

[2021-03-09 03:32] maneprajakta opened #2308 "Length Of Longest Common Substring C++ (Dynamic Programming)"
## 🚀 Feature

I want to add a solution for Finding the length of common substring between two strings using Dynamic Programming under the dynamic programming section in C++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

I would like to work on it as a part of GSSOC

[2021-03-09 03:33] VA-ibh-AV commented on #2282
@HarshCasper sorry, I should have waited, thanks for pointing out

[2021-03-09 04:00] rohan-kulkarni-25 commented on #2307
I will like t Work on This issue? Can I or is anyone working on it? I am new here I am a Participant of GSSOC !!

[2021-03-09 04:00] abhikjain360 commented on #2193
@neel229 sure!

It's nice seeing others wanting to contribute to the idea! You can start working, but please wait until #2196 get's merged so that you have a ready-made template with you. Then you can start with creating an issue and work on it. Meanwhile you can maybe try get starting with seeing from [C++'s sorting part](https://github.com/TesseractCoding/NeoAlgo/tree/master/C-Plus-Plus/sort), w

[2021-03-09 04:01] himali08 commented on #2287
hey I am a participant of GSSOC '21 and I am looking forward to work on this in Cand C++

[2021-03-09 04:04] stuckinforloop commented on #2193
I think I'll wait for the PR to merge.

[2021-03-09 04:12] SAY-droid427 commented on #2307
@rohank2502 I am working on it

[2021-03-09 04:13] neha-b2001 commented on #2304
I would like to implement the various fixed and sliding window problems in **Java**. I will ensure that my code is:

- Clear and easily understandable
- Has proper comments

**Please assign this task to me under GSSoC 2021.**

[2021-03-09 04:17] rohan-kulkarni-25 commented on #2307
Ok @SAY-droid427

[2021-03-09 04:18] siddharth25pandey commented on #2287
@himali08 Already assigned. Please select different language.

[2021-03-09 04:20] siddharth25pandey commented on #2304
@neha-b2001 Go ahead with Java 👍

[2021-03-09 04:25] neha-b2001 commented on #2304
Thank you.
Is there some target deadline by when I should finish their implementation?

[2021-03-09 04:25] kiruba-r11 opened #2312 "Iterative Binary Search in Kotlin"
## 🚀 Feature

Binary Search is a better searching algorithm than linear search in a sorted collection of elements. I would like to implement the iterative version of it in Kotlin.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
YES

## Motivation
There are no searching algorithms in the

[2021-03-09 04:26] guruc-134 commented on #2307
can I implement the python version of the code?

[2021-03-09 04:26] Coder-Srinivas commented on #2307
Can I implement the same in Java?

[2021-03-09 04:27] kiruba-r11 commented on #2312
@HarshCasper I would like to work on this issue in Kotlin under GSSoC'21. Thanks

[2021-03-09 04:31] neha-b2001 commented on #2287
I would like to implement the above question in **Java**. I will ensure that the code is:

- Easy to read and understand
- Has adequate comments

**Please consider assigning this task to me, under GSSoC 2021.**

[2021-03-09 04:31] kotwani2883 commented on #2116
@chehak123  @anshu-30  @Dhriti-Roy  are you doing this?
If not @anushkrishnav  kindly assign this to me as a part of GSSOC'21.between i am proficient in c++.

[2021-03-09 04:57] kotwani2883 opened #2314 "Adding Linear solution for finding the longest subarray with equal number of 0's and 1's."
## 🚀 Feature
I want to add solution for finding the longest subarray with equal number of 0's and 1's.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

This is one of the most commonly asked question in many of the interviews.I would like to add  in C++ language. As a

[2021-03-09 04:57] SAY-droid427 opened #2315 "Length of longest palindromic subsequence in a string using dynamic programming in C++"
## 💥 Proposal

I would like to add the code for Length of longest palindromic subsequence in a string using dynamic programming in C++.Please assign this issue to me[GSSOC'21]

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

]Yes

[2021-03-09 05:01] imsushant12 opened #2316 "Improved Bubble Sort"
## 🚀 Feature

I want to add improved bubble sort algorithm to make it adaptive.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

I would like to work on it under GSSoc'21

## Pitch

This feature will make the bubble sort algorithm adaptive so that its best case comple

[2021-03-09 05:02] HarshCasper commented on #2316
Issue Title states: `Improved Binary Search`

Issue Description states: `Improved Bubble Sort`

What exactly will you be doing?

[2021-03-09 05:03] weirdrag08 opened #2317 "Tiling Problem 2 x n in C++"
## 📚 Documentation

(A clear and concise description of what the issue is.)
Given a “2 x n” board and tiles of size “2 x 1”, count the number of ways to tile the given board using the 2 x 1 tiles. A tile can either be placed horizontally i.e., as a 1 x 2 tile or vertically i.e., as 2 x 1 tile.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoA

[2021-03-09 05:05] imsushant12 commented on #2316
I will be using a flag variable inside first for loop which will help to keep track if the array is already sorted .  If it is already sorted then it will not enter the inner loop.

[2021-03-09 05:05] weirdrag08 opened #2318 "Tiling Problem n x m in C++ and Java"
## 📚 Documentation

(A clear and concise description of what the issue is.)
Given a floor of size n x m and tiles of size 1 x m. The problem is to count the number of ways to tile the given floor using 1 x m tiles. A tile can either be placed horizontally or vertically.
Both n and m are positive integers and 2 < = m.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.

[2021-03-09 05:08] #2318 closed, assigned to nobody

[2021-03-09 05:08] #2317 closed, assigned to nobody

[2021-03-09 05:12] weirdrag08 opened #2320 "Tiling Problem 2 x n in C++ and Java"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Given a “2 x n” board and tiles of size “2 x 1”, count the number of ways to tile the given board using the 2 x 1 tiles. A tile can either be placed horizontally i.e., as a 1 x 2 tile or vertically i.e., as 2 x 1 tile.  I would do this algorithm with proper comments.

### Have you read the [Contributing Guidelines on Pull Re

[2021-03-09 05:14] weirdrag08 opened #2321 "Tiling Problem n x m floor in C++ and java"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Count the number of ways to tile the floor of size n x m using 1 x m size tiles. I would like to do this in C++ and Java with proper comments and test cases.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

[2021-03-09 05:15] machine-sg commented on #2315
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too.
Thank you .

[2021-03-09 05:15] machine-sg commented on #2308
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too.
Thank you .

[2021-03-09 05:16] machine-sg commented on #2286
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too.
Thank you .

[2021-03-09 05:16] machine-sg commented on #2281
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too.
Thank you .

[2021-03-09 05:18] machine-sg commented on #2224
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too.
Thank you .

[2021-03-09 05:18] gokulkannan7 opened #2322 "Zero Sum Subarray in C++"
## 💥 Proposal

I would like to add code for the total number of zero-sum subarrays in a given array which will be submitted in  C++ with proper comments and different solution from brute to optimal.
Pls do assign the issue to me (GSSOC'21)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

[2021-03-09 05:22] imsushant12 opened #2323 "Doubly Linked List Implementation in C Language"
## 🚀 Feature

I want to add implementation of Doubly Linked List in C Language with its common operations like insertion (start, end, any position) , deletion (start, end, any position), traversal etc.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

I want to contrib

[2021-03-09 05:34] HarshCasper commented on #2316
So what exactly are you trying to achieve here, may I know?

[2021-03-09 05:35] Coder-Srinivas commented on #2323
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 05:35] Abhinaba006 commented on #2323
I am a GSSOC21 participant, please assign me, I will like to contribute

[2021-03-09 05:35] guruc-134 commented on #2323
Can I implement the Doubly LInked list in Python

[2021-03-09 05:37] guruc-134 commented on #2304
I would like to implement this algorithm in Python:
I will write the code with comments and make it clear and concise
Please assign me this task for GSSoC 2021

[2021-03-09 05:38] imsushant12 commented on #2316
It won't check further if the array is already sorted on every step (any swaps made). This check is necessary, in order to preserve adaptive property.

[2021-03-09 05:38] Coder-Srinivas commented on #2299
Can I implement Modular Exponentiation in Java under GSSoC 2021

[2021-03-09 05:38] imsushant12 commented on #2323
Thankyou for assigning, working on it!

[2021-03-09 05:38] guruc-134 commented on #2299
Hi, can i implement this in Python,
I would be writing the algorithm with comments
can u assign me this issue in GSSoC 2021

[2021-03-09 05:39] SaloniSwagata opened #2325 "Improving the bubble sort algorithm in Python"
## 🚀 Feature

Right now this algorithm does not support adaptivity. The loop only stops after the full array is traversed although the array is sorted. I would like to make it adaptive and reduce its time complexity.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I

[2021-03-09 05:40] Meghag5 opened #2326 "Merge two sorted list in c++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
I would like to add the code for Merge two sorted list in linked list in C++.Please assign this issue to me[GSSOC'21]
in this problem we will have to merge two sorted linked list and will have to make a single list.
eg.
Input: l1 = [1,2,4], l2 = [1,3,4]
Output: [1,1,2,3,4,4]

### Have you read the [Contributing Guidelines on

[2021-03-09 05:40] guruc-134 commented on #2287
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 05:41] guruc-134 commented on #2286
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 05:41] guruc-134 commented on #2326
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 05:43] guruc-134 commented on #2282
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:43] Coder-Srinivas commented on #2286
I would like to implement the Unbounded Knapsack in Java under GSSoC 2021. I would add comments at regular intervals and write clean code.

[2021-03-09 05:43] aish2002 opened #2327 "Hash Table and Wiggle Sort"
I am a GSSOC'21 participant. I can implement Closed Hashing in C and C++ and Wiggle sort in C++

[2021-03-09 05:44] guruc-134 commented on #2281
I would like to implement the above question for Finding out if a given graph is BiPartite or not in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:45] guruc-134 commented on #2271
I would like to implement the above question for Khan's Algorithm in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:46] SaloniSwagata commented on #2325
I would like to work on this issue

[2021-03-09 05:46] Coder-Srinivas commented on #2326
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 05:46] siddharth25pandey commented on #2304
@guruc-134 Go ahead with Python 👍

[2021-03-09 05:46] guruc-134 commented on #2268
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:47] guruc-134 commented on #2267
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:47] guruc-134 commented on #2322
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:47] Coder-Srinivas commented on #2322
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 05:48] guruc-134 commented on #2258
I would like to implement the above question in Python, I will write neat and clean  commented code

please assign me this issue under GSSoC 2021

[2021-03-09 05:48] Coder-Srinivas commented on #2274
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 05:48] Nkap23 opened #2328 "[CPP][Math] Binomial Coefficient (under modulo)"
## 🚀 Feature

Implement code to calculate NcR%mod in Cpp.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read the guidelines.

## Motivation & Pitch

Binomial coefficients are used in many problems and applications related to permutations and combinations (Example: Binomial

[2021-03-09 05:48] guruc-134 commented on #2274
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:48] Coder-Srinivas commented on #2268
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 05:49] guruc-134 commented on #2241
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:49] Coder-Srinivas commented on #2267
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 05:49] guruc-134 commented on #2250
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:50] guruc-134 commented on #2236
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:50] Devansu-Yadav opened #2330 "Strassen's Algorithm Implementation in Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)

I want to add the implementation of Strassen's Algorithm which is an optimized approach for large Matrix multiplications in Java.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes.

## M

[2021-03-09 05:51] guruc-134 commented on #2244
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:51] guruc-134 commented on #2330
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:52] guruc-134 commented on #2122
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:53] guruc-134 commented on #2229
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:53] guruc-134 commented on #2224
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:53] siddharth25pandey commented on #2244
@guruc-134 Python is already assigned to someone.

[2021-03-09 05:54] Coder-Srinivas commented on #2271
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 05:54] guruc-134 commented on #2154
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:54] guruc-134 commented on #2227
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:55] Coder-Srinivas commented on #2262
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 05:55] guruc-134 commented on #2204
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:55] Coder-Srinivas commented on #2241
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 05:56] Coder-Srinivas commented on #2204
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 05:56] guruc-134 commented on #2142
I would like to implement the above question in Python, I will write neat and clean  commented code
please assign me this issue under GSSoC 2021

[2021-03-09 05:57] siddharth25pandey commented on #2304
@neha-b2001 Not a fixed deadline but You need to give update regarding the progress of this issue or else it will be handed over to someone else after late no activity.
Hope you understand.

[2021-03-09 05:58] weirdrag08 opened #2331 "Goldmine Algorithm in C++ and Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)
I want to solve this problem using dynamic programming and submit a solution with comments and proper description.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation

I want to contribute under GSS

[2021-03-09 05:59] Rohit-83 opened #2332 "Improving the prime number in python"
## 🚀 Feature

Reducing the time complexity of the existing prime number code using basic mathematical facts.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I am a beginner into Open Source and I want to work on this issue as a part of GSSOC'21

## Pitch

The existin

[2021-03-09 06:00] guruc-134 opened #2333 "Implementation of N Queens Problem in Python"
## 💥  I would like to implement the N Queens Problem in Python

This problem is to find an arrangement of N queens on a chess board, such that no queen can attack any other queens on the board. The chess queens can attack in any direction as horizontal, vertical, horizontal and diagonal way

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo

[2021-03-09 06:00] Coder-Srinivas opened #2334 "Implementation of N-Queens Problem in Java and JavaScript using Backtracking"
## 💥 Proposal

N-Queens problem, is the total number of way we can place N queens on a NxN Chessboard such that no two Queens kill each other. I would like to implement it in Java and JavaScript using Backtracking.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-09 06:00] Rohit-83 commented on #2332
I would like to work on this issue

[2021-03-09 06:00] ritvij14 commented on #2262
@Coder-Srinivas its already implemented in Java. You can have a look at what codes are there in the Java folder of the repository.

[2021-03-09 06:00] Shreyash41 opened #2335 "Implement Queue Data Strucuture using C++ Language."
## 🚀 Feature

I would like to add some New Features to C++ Folder:-

Adding New Queue Folder.
Implementing Queue using Arrays in C++.

I would like to contribute to this issue under GSSOC'21. Please Assign me this issue.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

## YES.

## Pitch

[2021-03-09 06:02] siddharth25pandey commented on #2335
@Shreyash41 Already implemented [here](https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/ds/queue.cpp)

[2021-03-09 06:02] #2335 closed, assigned to nobody

[2021-03-09 06:03] Coder-Srinivas opened #2336 "Implementation of Flyod Warshall Algorithm in Java and JavaScript"
## 💥 Proposal

Flyod Warshall algorithm is used for finding all pairs shortest path. I would like to implement it in Java and JavaScript

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-09 06:03] Priya730 opened #2337 "Middle Element of LinkedList in JAVA"
## 🚀 Feature

Program to find the middle element of a LinkedList.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I want to contribute under GSSoC'21

## Pitch

I would like to add the code to find the middle element of a LinkedList in JAVA under the Data Structures

[2021-03-09 06:04] guruc-134 opened #2338 "Algorithm(Tarjan's ) --> Find the Edges that disconnect a Graph when removed in Python and JavaScript"
## 💥 I would like to add an Algorithm to Find the Edges that disconnect a Graph when removed

Given a graph we have to find the possible edges that, if removed, causes the graph to become disconnected.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

I have Implemented this using Tarjan'

[2021-03-09 06:04] guruc-134 commented on #2336
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 06:05] shloka-gupta commented on #2236
Hey @guruc-134 ! Its great to see your enthusiasm. Keep up with it. However, the issue has already been assigned to me (@chicken-biryani )

I am assuming you are new to open source, so here are a few tips to get you started :

- Its always a good practice to read the discussion under an issue (i.e the comments in top to bottom order). By doing so you will understand whether the issue has been assi

[2021-03-09 06:05] siddharth25pandey commented on #2334
@Coder-Srinivas Already implemented in Java [here](https://github.com/TesseractCoding/NeoAlgo/blob/master/Java/cp/NQueens.java)
create a different issue for Javascript

[2021-03-09 06:05] #2334 closed, assigned to nobody

[2021-03-09 06:06] Coder-Srinivas commented on #2338
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 06:07] siddharth25pandey commented on #2333
@guruc-134 Already implemented [here](https://github.com/TesseractCoding/NeoAlgo/blob/master/Python/backtracking/N_Queens.py)

[2021-03-09 06:07] #2333 closed, assigned to nobody

[2021-03-09 06:08] hgoyal254 opened #2339 "Addition of Asymmetric Key Algorithm(C++)"
## 🚀 Feature

I want to add following Asymmetric Key Algorithm in this repo:
- RSA Algorithm

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I want to include these algorithm to the cryptography folder.

## Pitch

I would like to implement this in C++ as a part of GS

[2021-03-09 06:09] guruc-134 opened #2340 "Count the Number of Squares in a Grid ( in all Axis ) in Python and JavaScript"
## 💥 I would like to implement the algorithm which finds the number of Squares in a given grid. Using Python and JavaScript

Given a NxM grid we are supposed to find the number of squares present in that grid in **all the possible** axises

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

[2021-03-09 06:10] Coder-Srinivas opened #2341 "Painter Partition Problem in Java and JavaScript using Binary Search"
## 💥 Proposal

Painters Partition problem is used to find the minimum cost given to painters to finish painting the houses. I would like to implement this problem in Java and JavaScript using Binary Search.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-09 06:10] shloka-gupta commented on #2122
Hey @guruc-134 same goes for this issue. It has already been assigned. Browse through other issues. Or you can always create your own issues. But make sure you go through the ReadMe file and the discussion under an issue.

[2021-03-09 06:10] Coder-Srinivas commented on #2340
I would like to implement the above problem in Java under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-09 06:10] guruc-134 commented on #2341
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 06:11] paulamib123 opened #2342 "K Closest Points to Origin (Using Heap)"
## 🚀 Feature
I want to add the K closest Points to Origin problem.
Problem Statement:
We are given an Array of points where points[i] = [xi, yi] which represents a point on the X-Y Plane and an integer K, we have to return K points nearest to origin i.e (0, 0).
I will do it in C++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/mast

[2021-03-09 06:14] Devansu-Yadav opened #2344 "MinMax Algorithm implementation in Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)

I want to add the implementation of the **MinMax Algorithm** in **Java** to find the min and max elements in an array.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

Yes.
## Motivation

[2021-03-09 06:14] Shreyash41 opened #2345 "Implement Previous Greater Element using Stack in C++ Language."
## 🚀 Feature

I would like to Implement the **Previous Greater Element using Stack** in **C++ Language**.
I would Like to Contribute to this under GSSOC'21.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

### YES
## Pitch

I didn't find this in C++ Language to find Previous Greater elem

[2021-03-09 06:14] Coder-Srinivas opened #2346 "N-Queens Problem in JavaScript"
## 💥 Proposal

N-Queens Problem, is the total Number of way N Queens can be placed in a NxN chessboard such that no two queens kills each other. I would like to implement this problem in JavaScript using Backtracking.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-09 06:18] Coder-Srinivas commented on #2262
@ritvij14 Sure Thank you

[2021-03-09 06:21] Coder-Srinivas opened #2347 "Implementing Fractional Knapsack in Java and JavaScript"
## 💥 Proposal

Fractional Knapsack is a greedy problem where the values of the items picked should be maximum. I would like to implement this problem in Java and JavaScript.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-09 06:27] Coder-Srinivas opened #2349 "Job Scheduling to Maximize Profit in Java using Dynamic Programming"
## 💥 Proposal

Job Scheduling Problem is used to pick the right jobs to maximize the end profit. I would like to implement this problem in Java using Dynamic Programming.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-09 06:31] VaibhavNarula opened #2351 ""First Repeating Element" in C++."
## 🚀 Feature

The task is to find the first repeating element in an array of integers, i.e., an element that occurs more than once and whose index of first occurrence is smallest.

I would like to implement it in C++.
My code will contain proper comments with working descriptions.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/mast

[2021-03-09 06:47] #2327 closed, assigned to nobody

[2021-03-09 06:50] aish2002 opened #2354 "Wiggle Sort"
## 🚀 Feature

Given an unsorted array arr , sort the array such that arr[0]<arr[1]>arr[2]<arr[3].. in C++ language

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

As part GSSOC'21

## Pitch

This algorithm is different from normal sorting. I can implement this in C++

[2021-03-09 06:52] Amit366 commented on #2308
@HarshCasper can I implement it in Java?

[2021-03-09 06:59] sumitgsh opened #2357 "Remove Duplicate in a Linked List Without using Extra Space"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
(Write your answer here.)
YES

## Motivation
(Please outline the motivation for the proposal.)
Its a Classical Problem Which is often Asked In Interviews

## Pitch
(Ple

[2021-03-09 07:01] sumitgsh commented on #2357
I want to work on this issue  Using C and Java as a part of GsSoc21

[2021-03-09 07:05] ireneelizabethsabu commented on #2347
Hi,
I am a particpant of GSSOC'21. I would love to implement the Fractional knapsack algorithm in cpp.
Kindly assign this to me.

[2021-03-09 07:15] nagasrihith608 opened #2358 "Implementation of In-order Traversal in Java"
## 🚀 Feature
I would like to implement the in-order traversal in Java.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation
To add a new feature.

Please assign this to me under GSSOC'21

[2021-03-09 07:25] SAY-droid427 opened #2359 "Implement the code for finding out the index of the first 1 in an array of 0 and 1 using binary search in C++"
## 💥 Proposal

Implement the code for finding out the index of the first 1 in an array of 0 and 1 using binary search in C++ .Please assign this to me.[GSSOC'21]

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-09 07:41] kotwani2883 opened #2360 "Sort an array of 0 ,1 , and 2 using dutch national flag Algorithm."
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

This is a very famous question based on dutch national flag algorithm.Its a classical problem asked in many  interviews.

## Pitch

I didn't see an

[2021-03-09 07:43] Sri-vishnu-r1431 opened #2362 "Implementation of car fueling problem in c++"
💥 Proposal

Implementation of car fueling problem in c++.Kindly assign me this [GSSOC 21].

Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-09 07:53] Sri-vishnu-r1431 commented on #2362
I am a GSSOC'21 participant, I wish to contribute to it and I am a beginner to open source development.Kindly assign this to me

[2021-03-09 08:07] prithwirajmitra2001 commented on #2323
I am a GSSOC participant. Please assign me this project. Wish to work on it

[2021-03-09 08:07] btanisha commented on #2360
Hey, I'm a GSSOC participant and I'm confident that I can solve this with proper explanation and an easy-to-understand code. I'm comfortable with C++ and Java. Please assign this to me.

[2021-03-09 08:08] btanisha commented on #2359
Hey, I can write the code for this in C, C++ and Java. Please assign this to me.

[2021-03-09 08:28] Abhinaba006 commented on #2362
I will like to contribute to this issue, I am a GSSOC 21 participant, please assign me.

[2021-03-09 08:30] Sri-vishnu-r1431 opened #2363 "Inplementation of Depth-first search of trees in C++"
💥 Proposal

Implementation of depth-first search in C++.

 Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

**Pitch**

I didn't see DFS being implemented in C++(graph section). So I want to contribute to this open source project.Kindly assign this to me as a part of GSSOC 21.

[2021-03-09 08:34] Coder-Srinivas commented on #2304
I would like to implement this algorithm in JavaScript. I will write clean code with comments.
Please assign me this task for GSSoC 2021

[2021-03-09 08:34] abhishek7997 commented on #2360
Hi, I am a GSSOC 21 participant, having a strong knowledge in C++ and python. I am a 3 star coder on codechef (username: abhishek7997), I can write the code with formatting and comment. Please assign this task to me.

[2021-03-09 08:37] siddharth25pandey commented on #2304
@Coder-Srinivas Assigned for JS, Make sure you follow proper coding and formatting standards. Have a great day ahead !

[2021-03-09 08:57] HarshCasper commented on #2360
It already exists [here](https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/other/SortColors-DutchNationalFlag.cpp)

[2021-03-09 08:57] #2360 closed, assigned to nobody

[2021-03-09 09:05] SavneetKaur01 commented on #2287
I would love to work on this issue. I am a GSSOC'21 participant and I would provide you with the best possible code in Python Language. Looking forward to contribute here.

[2021-03-09 09:05] Karthik-Nayak98 opened #2364 "Creating a Greeting bot for the project."
## 🚀 Feature

I want to add a bot that greets the person when he creates a new issue or a pull request.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented

[2021-03-09 09:06] HarshCasper commented on #2339
@hgoyal254

Thanks for this proposal. Make a separate Issue for all of them.

Thanks!

[2021-03-09 09:07] HarshCasper commented on #2364
cc: @anushkrishnav @gat786

Can you have a look?

[2021-03-09 09:09] siddharth25pandey commented on #2287
@neha-b2001 You are already assigned for different issue.

[2021-03-09 09:09] siddharth25pandey commented on #2287
@guruc-134 You are already assigned for different issue.

[2021-03-09 09:09] HarshCasper commented on #1768
Make a proposal and post on the Discussions. It isn't that easy that you might be taking it. We need a solid proposal on how the README would make the project look better.

[2021-03-09 09:10] siddharth25pandey commented on #2287
@SavneetKaur01 Go ahead with Python 👍

[2021-03-09 09:13] Amit366 commented on #2363
@HarshCasper sir can I implement it using Java??

[2021-03-09 09:19] guruc-134 commented on #2347
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 09:19] guruc-134 commented on #2349
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 09:19] anushkrishnav commented on #2364
We prefer saying hello to our contributors by ourselves unless you can make a bot to say hello and add tags to it

[2021-03-09 09:20] Amit366 opened #2365 "Dijkstra : Shortest Reach"
## 💥 Proposal

I will be implementing Dijkstra's algorithm to find shortest path.
I will be using Java. Please assign this issue to me under GSSOC.

### Have you read the [Contributing Guidelines on Pull Requests]
Yes

(Write your answer here.)

[2021-03-09 09:20] aromal17 opened #2366 "Reverse Lookup Algorithm"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

- I would like to provide a proper explanation and clean code for reverse lookup algorithm in C++.

- Implementing this algorithm provides an efficient mechanism to calculate sum of all subarrays in 1D as well as in 2D arrays.

- Computation time complexity reduces to O(n) for 1D array and O(n^2) for 2D arrays using reverse

[2021-03-09 09:21] YashPaste opened #2367 "Palindrome Partition Problem in C++"
## 💥 Proposal

I would like to add code for the Palindrome Partitioning problem which will be submitted in C++ with proper comments and an explanation of the solution with Recursion, Memoization, and further optimization.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-09 09:23] Karthik-Nayak98 commented on #2364
Are you telling to create a bot that adds tags as well as greets the person? @anushkrishnav

[2021-03-09 09:27] HarshCasper commented on #2363
@Amit366 Make a separate Issue. Also no "Sir"/"Madam" here. We are all on an equal footing here :)

[2021-03-09 09:30] Coder-Srinivas commented on #2341
I would like to implement the above question in Java, I'll put comments in required areas and write clean code
Can you please assign me this issue under GSSoC 2021.

[2021-03-09 09:31] Amit366 opened #2368 "Implementation of Depth-first search of trees in Java"
## 💥 Proposal

Implementation of Depth-first search of trees in Java

### Have you read the [Contributing Guidelines on Pull Requests]
Yes

@HarshCasper please assign this issue to me under GSSOC

[2021-03-09 09:40] Somparna-c opened #2369 "Krishnamurthy Number"
## 🚀 Feature

I would like to write a program in C++ to find whether a given number is a Krishnamurthy number.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

To contribute to this project as a participant of GSSOC'21.

[2021-03-09 09:50] noob-26 opened #2370 "Adding Code to find the number of occurrences of an element in an array in C++"
I want to add the program to find the number of occurrences of an element in an array using binary search in C++ as part of GSSoC 2021.

[2021-03-09 09:53] nitinjaiswal7537 commented on #2370
@noob-26  could you assign it to me i would like to solve it

[2021-03-09 09:53] Sakshi0401 commented on #2345
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 09:54] nitinjaiswal7537 commented on #2369
@Somparna-c  i would like to contribute to it as an Gssoc participant

[2021-03-09 09:56] Sakshi0401 commented on #2228
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 09:56] nitinjaiswal7537 commented on #2358
@HarshCasper  i would like to contribute as an Gssoc participant

[2021-03-09 09:58] Sakshi0401 commented on #2116
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon in cpp?

[2021-03-09 10:01] Sakshi0401 commented on #2242
As a GSSOC'21 participant I would like to contribute. so can I be assigned the issue to work upon?

[2021-03-09 10:01] nitinjaiswal7537 commented on #2337
@HarshCasper i would like to contribute as an Gssoc participant could you assign me this work

[2021-03-09 10:02] itsnishchay26 commented on #2365
I would like to contribute to this issue in C++ and I have studied this algorithm in my last semester.

Please assign me this issue under GSSoC'21.

I will come up with proper code, variable names, comments and indentation.

[2021-03-09 10:06] itsnishchay26 commented on #2370
I would like to contribute to this issue in C++.

Please assign me this issue under GSSoC'21.

I will come up with proper code, variable names, comments and indentation.

[2021-03-09 10:07] Suvraneel commented on #2365
[C++]
Hello maintainers!
As a participant/CA for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21...

[2021-03-09 10:07] itsnishchay26 commented on #2363
I would like to contribute to this issue in C++ and I have studied this in my last semester.

Please assign me this issue under GSSoC'21.

I will come up with proper code, variable names, comments and indentation.

[2021-03-09 10:10] neha-b2001 commented on #2287
Sorry, I thought that one could work on 2 issues under the same project.

[2021-03-09 10:10] rohanbabbar04 opened #2371 "Noble Integer in C,C++ and Python"
## 🚀 Feature

An integer x is said to be Noble given an array if the number of integers greater than x are equal to x.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation
To contribute as a part of GSSOC '21

## Pitch

It is a new and interesting integer. So would like to

[2021-03-09 10:15] ritesh1731 commented on #2370
I would like to contribute to this issue under GSSOC21. Can you please assign me?

[2021-03-09 10:42] NithishKumar2000 commented on #2263
I would like to solve this under GSSOC 2021, in C (or) C++

[2021-03-09 10:51] manastole03 commented on #2368
Hey, I am Manas Tole a GSSOC'21 Participant .
I am having experience in Java Programming language as well as I am doing Competitive programming.
Please assign this issue to me :)

[2021-03-09 10:55] nupurrajal commented on #2368
Hey there,
If this issue is still unassigned, I would like to work on it.

[2021-03-09 10:59] vidhi1121 commented on #2370
I would like to contribute to this issue in C++.

[2021-03-09 11:03] vidhi1121 commented on #2326
could you assign it to me i would like to solve it.

[2021-03-09 11:04] ankan1811 commented on #2371
I want to contribute this in C++ as a part of GSSoC'21. Please assign it to me. @bhav09

[2021-03-09 11:06] vidhi1121 commented on #2323
i want to work with this project under Gssoc'21

[2021-03-09 11:08] manastole03 opened #2377 "[GSSOC'21] String Algorithms"
## 💥 Proposal

Hey, I am Manas Tole a GSSOC'21 Participant. I am having experience in java Coding as well as I am doing Competitive coding in the java programming language.
I want to add some the below mentioned algorithms in this project with Java Programming language :

1)Program to find that String palindrome.
2)Program for String reversal .
3)Program to remove Duplicates from string.
4)Program

[2021-03-09 11:17] Ananya88 commented on #1768
Hey !!
I am interested in this project as GSSOC '21 participant .
And I would like to to update the Readme.md file by adding :

1.How to contribute in this project. The procedure from forking to making a pull request.
2.About how to add issues and etc.

Please assign me with this issue .Thanks.

[2021-03-09 11:25] HarshCasper commented on #1768
@Ananya88 This is a proposal based Issue. Please make a Proposal on the Discussions tab and we would then assign you the Issue.

[2021-03-09 11:31] Suvraneel commented on #2368
[C++]
Hello maintainers!
As a participant/CA for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me this issue under GSSOC '21...

[2021-03-09 11:36] taruni-always opened #2381 "Infix to Prefix in C"
## 🚀 Feature

I want to add the code for Infix to Prefix expressions in C.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I want to contribute under GSSoC 2021

## Pitch

I was able to find the code for infix to postfix but not for infix to prefix expressions in C l

[2021-03-09 11:36] kanchi12P opened #2382 "List out prime numbers"
## 🚀 Feature

To list prime numbers from given numbers from 1 to n

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

I want to contribute as a GSSoC'21 participant

## Pitch

can be used to shorten the code for any problem where  prime numbers are to be listed out.

[2021-03-09 11:37] kanchi12P commented on #2382
please assign it to me

[2021-03-09 11:37] Ananya88 commented on #1768
Thanks @HarshCasper  I added the same under documentation tab -> ideas .

[2021-03-09 11:42] Suvraneel opened #2384 "Infix, Prefix, Postfix Notation Conversions [C++]"
## 🚀 Feature
I wish to implement these in [C++] ... Please assign me these
1. Infix to Postfix Conversion
2. Postfix evaluation
3. All other possible notation conversions utilising stack.

## Motivation
Highlighting applications of Stacks
**Note- The ones inside code folder of NeoAlgo/C++/stack are in C language & not in CPP language**

[2021-03-09 11:43] gayatri517 opened #2385 "Print the first non repeating character in a running stream of characters"
## 🚀 Feature

Print the first non repeating character in a running stream of characters, that is the characters will input continuously until a '.'
is encountered you need to keep printing the first non repeating character.

Example :
1)Input = {a a b c c .}
   Output = {a -1 b b b}

2) input = {g h h y b g g}
    Output = {g g g g g y}

### Have you read the [Contributing Guidelines on Pull Reque