[2021-03-12 09:32] priyanka001tech commented on #2784
I want to work on it.I can code it in c++. Please Assign me.

[2021-03-12 09:41] IShahnawazShaikh opened #2820 "Implementation of Mod Power function algorithm using bit in Java."
Hey @bhav09 sir I am GSSOC'21 Participant and I want to add Power Function algorithm using bit if u allow me.
## Motivation
 In most of the problems we calculate power of X raised to Y. There is inbuilt function in ##JAVA to calculate power but we cannot use Mod(1e9+7) while calculating power. To get rid of overflow issues we usually do Mod . I will implement power function algorithm by using bit

[2021-03-12 09:51] #2206 closed, assigned to vybhav72954

[2021-03-12 09:53] anushkrishnav commented on #2791
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed

[2021-03-12 09:55] anushkrishnav commented on #2795
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed
You can only add your code and not the code copied from anywhere else

[2021-03-12 09:55] anushkrishnav commented on #2796
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed

[2021-03-12 09:55] anushkrishnav commented on #2797
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed

[2021-03-12 09:58] anushkrishnav opened #2823 "test"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2021-03-12 10:06] dhruvinfo28 commented on #2709
Thankyou for assigning! I'll be on it once my previous PR gets reviewed and merged.

[2021-03-12 10:10] #2823 closed, assigned to nobody

[2021-03-12 10:11] aishwaryachand commented on #2723
/assign

[2021-03-12 10:11] ankitaggarwal23 commented on #2813
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:12] #2813 closed, assigned to nobody

[2021-03-12 10:12] ankitaggarwal23 commented on #2812
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:12] #2812 closed, assigned to nobody

[2021-03-12 10:12] ankitaggarwal23 commented on #2811
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:12] #2811 closed, assigned to nobody

[2021-03-12 10:12] ankitaggarwal23 commented on #2810
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:12] #2810 closed, assigned to nobody

[2021-03-12 10:12] ankitaggarwal23 commented on #2809
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:12] #2809 closed, assigned to nobody

[2021-03-12 10:12] ankitaggarwal23 commented on #2808
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:12] #2808 closed, assigned to nobody

[2021-03-12 10:12] ankitaggarwal23 commented on #2807
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:12] #2807 closed, assigned to nobody

[2021-03-12 10:12] ankitaggarwal23 commented on #2806
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:12] #2806 closed, assigned to nobody

[2021-03-12 10:12] ankitaggarwal23 commented on #2805
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:12] #2805 closed, assigned to nobody

[2021-03-12 10:12] ankitaggarwal23 commented on #2804
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:12] #2804 closed, assigned to nobody

[2021-03-12 10:14] ankitaggarwal23 commented on #2802
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:14] #2802 closed, assigned to nobody

[2021-03-12 10:14] ankitaggarwal23 commented on #2801
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:14] #2801 closed, assigned to nobody

[2021-03-12 10:14] ankitaggarwal23 commented on #2800
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:14] #2800 closed, assigned to nobody

[2021-03-12 10:14] ankitaggarwal23 commented on #2799
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:14] #2799 closed, assigned to nobody

[2021-03-12 10:14] ankitaggarwal23 commented on #2797
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:14] #2797 closed, assigned to nobody

[2021-03-12 10:14] ankitaggarwal23 commented on #2796
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:14] #2796 closed, assigned to nobody

[2021-03-12 10:14] ankitaggarwal23 commented on #2795
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:14] #2795 closed, assigned to nobody

[2021-03-12 10:14] ankitaggarwal23 commented on #2793
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:14] #2793 closed, assigned to nobody

[2021-03-12 10:14] ankitaggarwal23 commented on #2792
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:14] #2792 closed, assigned to nobody

[2021-03-12 10:14] ankitaggarwal23 commented on #2791
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:14] #2791 closed, assigned to nobody

[2021-03-12 10:15] ankitaggarwal23 commented on #2790
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:15] #2790 closed, assigned to nobody

[2021-03-12 10:15] ankitaggarwal23 commented on #2788
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:15] #2788 closed, assigned to nobody

[2021-03-12 10:15] ankitaggarwal23 commented on #2787
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:15] #2787 closed, assigned to nobody

[2021-03-12 10:15] ankitaggarwal23 commented on #2786
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:15] #2786 closed, assigned to nobody

[2021-03-12 10:15] ankitaggarwal23 commented on #2785
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:15] #2785 closed, assigned to nobody

[2021-03-12 10:15] ankitaggarwal23 commented on #2784
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:15] #2784 closed, assigned to nobody

[2021-03-12 10:16] tarunyadav148 commented on #2770
@HarshCasper  Please assign me this task.

[2021-03-12 10:17] HarshCasper commented on #2765
/assign

[2021-03-12 10:17] ankitaggarwal23 commented on #2803
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:17] bhav09 commented on #2777
Hey Ashish you need to write a proper description whilst submitting an issue.
Closing as of now.

[2021-03-12 10:17] #2777 closed, assigned to nobody

[2021-03-12 10:17] ankitaggarwal23 commented on #2783
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:17] ankitaggarwal23 commented on #2782
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:17] ankitaggarwal23 commented on #2781
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:17] ankitaggarwal23 commented on #2780
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:17] ankitaggarwal23 commented on #2779
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:17] ankitaggarwal23 commented on #2778
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:17] #2803 closed, assigned to nobody

[2021-03-12 10:17] #2783 closed, assigned to nobody

[2021-03-12 10:17] #2782 closed, assigned to nobody

[2021-03-12 10:17] #2781 closed, assigned to nobody

[2021-03-12 10:18] #2780 closed, assigned to nobody

[2021-03-12 10:18] #2779 closed, assigned to nobody

[2021-03-12 10:18] #2778 closed, assigned to nobody

[2021-03-12 10:18] ankitaggarwal23 commented on #2776
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:18] #2776 closed, assigned to nobody

[2021-03-12 10:18] ankitaggarwal23 commented on #2775
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:18] #2775 closed, assigned to nobody

[2021-03-12 10:18] HarshCasper commented on #2765
Sorry. I was just trying out our new CI Bot. Good going @anushkrishnav

[2021-03-12 10:18] javeed3157 opened #2826 "[GSSOC'2021]Strong Number in python"
## 💥 Proposal

Given input number is Strong number or not
EX   :   1! + 4! + 5!   =>  1 + 24 + 120   =>   145

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

Please assign this issue to me.

[2021-03-12 10:20] Devansu-Yadav opened #2827 "Comb Sort Algorithm Implementation in Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

Yes.
## Motivation

(Please outline the motivation for the proposal.)

I am exploring some of the uncommon sorting algorithms and hence I wo

[2021-03-12 10:21] Devansu-Yadav commented on #2827
@iamrajiv  @bhav09 Can u pls assign me this issue?

[2021-03-12 10:24] ankitaggarwal23 commented on #2826
@javeed3157 Hi,I assigned you. Happy Coding!😊

[2021-03-12 10:25] gokulkannan7 opened #2829 "N-Meetings in one Room C++"
## 💥 Proposal

I would like to add code for the Maximum number of meetings that can be done in one room, given the start and end times of various appointments, in C++ with proper comments
Pls do assign the issue to me (GSSOC'21)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-12 10:25] ankitaggarwal23 commented on #2820
@IShahnawazShaikh Hi, I assigned you. Happy Coding!😊

[2021-03-12 10:27] ankitaggarwal23 commented on #2819
@IShahnawazShaikh Hi, I assigned you. Happy Coding!😊

[2021-03-12 10:28] ankitaggarwal23 commented on #2818
@mohdarif8299 Hi, I assigned you. Happy Coding!😊

[2021-03-12 10:30] ankitaggarwal23 commented on #2774
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:30] #2774 closed, assigned to nobody

[2021-03-12 10:34] nitinjaiswal7537 opened #2833 "Avl Tree Deletion"
Hey @SKAUL05 @nrickles3 @ArchanGhosh @ShishirBhandari @hushee69
## 🚀 Features
###Issue In this issue i would like to contribute you the algorithm for deleting an element from an Avl tree

### I have read about the contribution guidelines and would like to contribute.

## Motivation
Gssoc21 participant

## Pitch

This features will solve the issue of deleting an element from an Avl Tree

[2021-03-12 10:36] ankitaggarwal23 commented on #2768
@anuragmukherjee2001 Hi, I assigned you. Happy Coding!😊

[2021-03-12 10:40] HarshCasper commented on #2767
We don't need it under our scope

[2021-03-12 10:40] #2767 closed, assigned to nobody

[2021-03-12 10:42] ankitaggarwal23 commented on #2759
@Ashee-Kanungo Hi, I assigned you. Happy Coding!😊

[2021-03-12 10:43] mohdarif8299 commented on #2818
Thank you @ankitaggarwal23 . I am on it.

[2021-03-12 10:43] gokulkannan7 commented on #2829
@iamrajiv @bhav09 Can u pls assign me this issue?

[2021-03-12 10:44] ankitaggarwal23 commented on #2756
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:44] #2756 closed, assigned to nobody

[2021-03-12 10:45] #2755 closed, assigned to nobody

[2021-03-12 10:46] Anu-123-gif opened #2835 "Lucky numbers"
## 🚀 Feature
Add a solution to the problem :
Lucky Numbers in cpp/cp
Lucky number is a number that consists of digits 7 and 8 only. Find the maximum number of offices in the new building of the Tax Office given that a door-plate can hold a number not longer than n digits.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRI

[2021-03-12 10:47] ankitaggarwal23 commented on #2753
@Ashee-Kanungo Hi, I assigned you. Happy Coding!😊

[2021-03-12 10:47] ankitaggarwal23 commented on #2753
@ishvik Actually Someone else is already working on C++. So Can you select any other language you want to work?

[2021-03-12 10:50] ankitaggarwal23 commented on #2757
@nabin-nath Need to add a description and your approach and Kindly Don't Spam. Thanks, Closing as of now.

[2021-03-12 10:50] #2757 closed, assigned to nobody

[2021-03-12 10:50] Karthik-Nayak98 commented on #2364
Should I paste the link for the doc or any certain portion of that?

[2021-03-12 10:54] ankitaggarwal23 commented on #2835
@Anu-123-gif Hi, I assigned you. Happy Coding!😊

[2021-03-12 10:56] ankitaggarwal23 commented on #2833
@nitinjaiswal7537 Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 10:56] #2833 closed, assigned to nobody

[2021-03-12 10:56] ankitaggarwal23 commented on #2829
@gokulkannan7 Hi, I assigned you. Happy Coding!😊

[2021-03-12 10:57] ankitaggarwal23 commented on #2827
@Devansu-Yadav Hi, I assigned you. Happy Coding!😊

[2021-03-12 11:00] ankitaggarwal23 commented on #2758
@ishvik Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 11:00] #2758 closed, assigned to nobody

[2021-03-12 11:15] IShahnawazShaikh commented on #2819
Thanks @ankitaggarwal23 sir I am on it.

[2021-03-12 11:16] IShahnawazShaikh commented on #2820
Thanks @ankitaggarwal23 sir I am on it.

[2021-03-12 11:27] richakumari19 commented on #2835
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-12 11:27] richakumari19 commented on #2829
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-12 12:03] richakumari19 commented on #2827
Hey , I am participant in GSSOC'21. Can you please assign this to me? I'll be using java.

[2021-03-12 12:06] noviicee commented on #2575
Can you add GSSOC'21 tag on this one..?

[2021-03-12 12:16] ankitaggarwal23 commented on #2827
@rk05-lenavo Actually Someone else is already working on Java. So Can you select any other language you want to work?

[2021-03-12 12:17] ankitaggarwal23 commented on #2829
@rk05-lenavo Actually Someone else is already working on C++. So Can you select any other language you want to work?

[2021-03-12 12:18] ankitaggarwal23 commented on #2835
@rk05-lenavo Actually Someone else is already working on C++. So Can you select any other language you want to work?

[2021-03-12 12:21] rohan-kulkarni-25 opened #2853 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 12:22] rohan-kulkarni-25 opened #2854 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 12:22] balarka135 opened #2855 "LCM of two Numbers, Java, Javascript"
## 🚀 Feature
1. I want to add LCM of two numbers using Java , JavaScript .
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch
Beca

[2021-03-12 12:23] balarka135 commented on #2855
Please Assign me this issue

[2021-03-12 12:28] richakumari19 commented on #2827
@ankitaggarwal23 Okay I can also work on c++,Python.

[2021-03-12 12:32] richakumari19 commented on #2835
@ankitaggarwal23 I can also work on java, Python.

[2021-03-12 12:33] richakumari19 commented on #2829
@ankitaggarwal23 okay I can also work on java,Python.

[2021-03-12 12:37] kavyasree-123 commented on #2724
solved the issue knight's traversal #2724.

[2021-03-12 12:40] richakumari19 commented on #2826
I'm the participant in GSSOC'21. I would love to do it using python. Could you please assign me?

[2021-03-12 12:41] richakumari19 commented on #2820
I'm the participant in GSSOC'21. I would love to do it using java. Could you please assign me?

[2021-03-12 12:42] Anu-123-gif commented on #2835
@ankitaggarwal23 I can write this code in java as well once my PR passes all checks. I don't know the issue right now :(
@rk05-lenavo you can work on this in python if you wish, thanks!

[2021-03-12 12:42] richakumari19 commented on #2819
I'm the participant in GSSOC'21. I would love to do it using C++. Could you please assign me?

[2021-03-12 12:43] richakumari19 commented on #2764
I'm the participant in GSSOC'21. I would love to do it using C or C++. Could you please assign me?

[2021-03-12 12:44] richakumari19 commented on #2753
I'm the participant in GSSOC'21. I would love to do it using java. Could you please assign me?

[2021-03-12 12:44] javeed3157 commented on #2826
Thank you so much this is going to be my first open source contribution 😊.

[2021-03-12 12:48] Alleny244 commented on #2431
@HarshCasper I have opened a new pull request
https://github.com/TesseractCoding/NeoAlgo/pull/2858
But its shows DeepSource: Java (beta) Failing after 8s — Analysis Failed: Issues detected that need attention. this error
Everyone is facing this issue
PLEASE TRY TO RESOLVE THIS ISSUE .ITS A BUG I GUESS

[2021-03-12 12:49] Alleny244 commented on #2430
@HarshCasper I have opened a new pull request
https://github.com/TesseractCoding/NeoAlgo/pull/2857
But its shows DeepSource: Java (beta) Failing after 8s — Analysis Failed: Issues detected that need attention. this error
Everyone is facing this issue
PLEASE TRY TO RESOLVE THIS ISSUE .ITS A BUG I GUESS

[2021-03-12 12:50] taruni-always commented on #2764
@rk05-lenavo it has already been assigned in C and C++.

[2021-03-12 12:56] richakumari19 commented on #2835
@Anu-123-gif @ankitaggarwal23  yeah sure Please assign me.

[2021-03-12 12:59] TechSpiritSS opened #2861 "Magic Number in C"
## 🚀 Feature

Checking whether a given number is a magic number or not.

A number is said to be a magic number if the sum of its digits are calculated recursively till a single digit comes by adding the sum of digits after every addition. If single digit comes out to be 1 then the number is a magic number.
For example 1729
1+7+2+9=19
1+9=10
1+0=1
So, it comes out 1. Hence, 1729 is a magic number.

[2021-03-12 13:09] TechSpiritSS opened #2865 "LCM of two numbers in C"
## 🚀 Feature

A C code to calculate the LCM of 2 numbers

### Have you read the [Contributing Guidelines on Pull Requests]
Yes

## Motivation
Contribution under GSSoC 21

## Pitch
I have seen issue for Java and JavaScript so I am creating this one for C

[2021-03-12 13:10] nidh-ish commented on #2663
@bhav09 When are you going to assign?

[2021-03-12 13:16] Alleny244 opened #2867 "Inverting a binary tree in javascript"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)
Inverting a binary tree in javascript
## Pitch

(Please explain why this

[2021-03-12 13:18] nidh-ish commented on #2611
Is someone going to assign this issue to me?

[2021-03-12 13:21] Alleny244 opened #2869 "Checking if a Binary Search Tree is Valid in javascript"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
YES
## Motivation

(Please outline the motivation for the proposal.)
Checking if a Binary Search Tree is Valid  in javascript
## Pitch

(Plea

[2021-03-12 13:22] malavikarajeshvikraman opened #2870 "Random Forest Algorithm"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

Yes

## Motivation

(Please outline the motivation for the proposal.)

GSSOC'21

## Pitch

(Please explain why this feature should be implem

[2021-03-12 13:24] bhav09 commented on #2870
All the best. Happy Learning!

[2021-03-12 13:26] malavikarajeshvikraman commented on #2870
Thank you @bhav09 . Will start working on it

[2021-03-12 13:27] #2867 closed, assigned to nobody

[2021-03-12 13:28] bhav09 commented on #2575
Sure

[2021-03-12 13:29] Alleny244 opened #2871 "Inverting a Binary Tree in Javascript"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)
To Invert a Binary Tree in Javascript
## Pitch

(Please explain why this

[2021-03-12 13:30] #2418 closed, assigned to Suvraneel

[2021-03-12 13:32] #2752 closed, assigned to mansi-9

[2021-03-12 13:33] saatviknagpal opened #2872 "Two "Singly Linked List" programs in documentation"
## 📚 Documentation

(A clear and concise description of what the issue is.)

### Have you read the [Contributing Guidelines on Pull Requests]
(https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes, I've read the guidelines.

(Write your answer here.)

There are 2 links of "Singly Linked List" one with Python and another with C++ in C++ documentation.

As

[2021-03-12 13:38] Apoorve73 commented on #2872
@Saatvik21  Please make sure you follow the issue template before opening any issue!

[2021-03-12 13:39] bhav09 commented on #2872
All the best @Saatvik21 :)

[2021-03-12 13:40] Apoorve73 commented on #2871
@Alleny244, from now onwards you can assign the issue opened by you yourself by just typing in ```/assign``` in the comment.
Thanks! :+1:

[2021-03-12 13:40] srividhya14 commented on #2397
Hello @HarshCasper

Hello maintainers! I checked out the repo and I found level order hasn't been included yet in C++  and in C. I request you to kindly assign me this issue. I have read contributing guidelines on pull requests.

[2021-03-12 13:41] Apoorve73 commented on #2869
Go ahead! All the best :+1:!

[2021-03-12 13:50] Apoorve73 commented on #2853
That's a nice idea, @rohank2502 ! Please open a new issue using the recommended template. Also, make sure you read the Contributing Guidelines before opening an issue or making a PR. For now, I am closing this issue.
Thanks :)

[2021-03-12 13:50] #2853 closed, assigned to nobody

[2021-03-12 13:52] #2855 closed, assigned to nobody

[2021-03-12 13:53] Apoorve73 commented on #2861
All the best! :+1:

[2021-03-12 13:53] sakshi012000 commented on #2855
Hi,
I am GSSOC'21 participant
please assign me this. I will do this in C++

[2021-03-12 13:54] Apoorve73 commented on #2865
From now onwards you can assign the issue opened by you yourself by just typing in ```/assign``` in the comment.
Thanks! :+1:

[2021-03-12 13:56] Rishika30 opened #2873 "Trapping Rainwater"
I would like to add the Trapping Rainwater problem's solution in c++. I will also add the time,space complexities to it. Please assign this issue to me.

[2021-03-12 14:06] saatviknagpal commented on #2872
Sir please add GSSOC label for this issue.

[2021-03-12 14:14] sonalsingh25 opened #2875 "Was Assigned a issue . Created a PR"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.
I created a issue for Greedy_Algorithms in java. I was assigned to it by @gat786. Started working on it only after being ASSIGNED.  Today @HarshCasper closed my PR stating that "We don't accept PR'S without any issue"
I would request @gat786 to please look into it . This was my first

[2021-03-12 14:23] bhav09 commented on #2873
Hey @Rishika30 can you please elaborate a bit more on your approach and also tell us whether you are working under Gssoc as a participant?

[2021-03-12 14:29] bhav09 commented on #2770
We assign on a first-come-first-serve basis. So the issue will be assigned to @tarunyadav148

[2021-03-12 14:44] rohan-kulkarni-25 commented on #2853
Ook Sorry !! I will make new issue

[2021-03-12 14:47] simran130810 commented on #2753
yaa I can do it with java also.

[2021-03-12 14:48] #2541 closed, assigned to dhruvinfo28

[2021-03-12 14:50] ankitaggarwal23 commented on #2753
@rk05-lenavo Hi, you can open a new one with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 14:51] ankitaggarwal23 commented on #2753
@ishvik Hi, you can open a new one with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 14:54] rohan-kulkarni-25 opened #2879 "Add Tech Stack Logo In read me"
## 📚 Documentation

(A clear and concise description of what the issue is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes I have !!

(Write your answer here.)
I will like to add the logo of each tech stack which we are using in our repository this will make our read me more attract

[2021-03-12 14:54] ankitaggarwal23 commented on #2835
@rk05-lenavo Hi, you can open a new one with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 14:54] ankitaggarwal23 commented on #2835
@rk05-lenavo Hi, you can open a new one with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 14:55] rohan-kulkarni-25 commented on #2879
@Apoorve73  Have a look please !!

[2021-03-12 14:56] ankitaggarwal23 commented on #2826
@rk05-lenavo Hi, you can open a new one with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 14:56] ankitaggarwal23 commented on #2819
@rk05-lenavo Hi, you can open a new one with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 14:57] ankitaggarwal23 commented on #2820
@rk05-lenavo Hi, you can open a new one with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 14:57] ankitaggarwal23 commented on #2829
@rk05-lenavo Hi, you can open a new one with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 14:57] ankitaggarwal23 commented on #2827
@rk05-lenavo Hi, you can open a new one with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 14:59] simran130810 opened #2880 "Checking, is binary tree symmetric or not"
## 🚀 Feature

Problem with symmetric nature of binary tree.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

As I'm a participant of GSSoC'21 and interested in Data Structures and algorithm
, I want to add this feature to the project.

## Pitch
Sometimes, algorithm do

[2021-03-12 15:01] ankitaggarwal23 commented on #2880
@ishvik Hi, I assigned you. Happy Coding!😊

[2021-03-12 15:06] ankitaggarwal23 commented on #2854
@rohank2502 Can you please bit more elaborate how you're going to implement and also tell us whether you are working under Gssoc as a participant?

[2021-03-12 15:06] #2662 closed, assigned to nobody

[2021-03-12 15:07] ankitaggarwal23 commented on #2879
@rohank2502 Can you tell us whether you are working under Gssoc as a participant?

[2021-03-12 15:08] Harikrishnan6336 commented on #2683
@bhav09 Kindly assign this issue to me as part of GSSOC'21

[2021-03-12 15:08] Rishika30 commented on #2873
Yes I am a Gssoc'21 participant. I will use two pointer approach to solve it in which rainwater stored at each index is difference between min(left_max height,right_max height) and height of cuurent index.

[2021-03-12 15:09] simran130810 commented on #2880
Thank You😊

[2021-03-12 15:09] rohan-kulkarni-25 commented on #2854
Yes Sure I have  implemented the same idea in my repository you can have a
look there please https://github.com/rohank2502/Learn-GITHUB Yes I am GSSOC
participant !!

On Fri, Mar 12, 2021 at 8:36 PM Ankit Aggarwal ***@***.***>
wrote:

[2021-03-12 15:09] rohan-kulkarni-25 commented on #2879
yes !!

On Fri, Mar 12, 2021 at 8:38 PM Ankit Aggarwal ***@***.***>
wrote:

[2021-03-12 15:10] ankitaggarwal23 commented on #2815
@harryciscos Can you please bit more elaborate how you're going to implement and also tell us whether you are working under Gssoc as a participant?

[2021-03-12 15:14] ankitaggarwal23 commented on #2879
@rohank2502 Hi, I assigned you. Happy Coding!😊

[2021-03-12 15:24] ankitaggarwal23 commented on #2873
@Rishika30 I didn't get your approach Can you add bit more how you are going to implement!

[2021-03-12 15:24] bhav09 commented on #2683
Assigned! Happy learning :)

[2021-03-12 15:28] bhav09 commented on #2772
Do tell us the language you would use to implement it. It will help us in adding the respective label to this issue.

[2021-03-12 15:29] ankitaggarwal23 commented on #2854
@rohank2502 Hi, I assigned you. Happy Coding!😊

[2021-03-12 15:42] richakumari19 commented on #2835
@ankitaggarwal23 means I have to create a new issue. Right?

[2021-03-12 15:51] hritikgupta92 commented on #2509
@HarshCasper  Can you check pull request #2885

[2021-03-12 15:52] kanchan1910 commented on #2497
Hello @bhav09, I have now opened the issue and tagged you there, kindly check it and if it seems to be fine please assign me.
The link for the same is: https://github.com/Algo-Phantoms/Algo-Tree/issues/732#issue-829841555
Thank you!

[2021-03-12 15:54] gayatri517 commented on #2772
I will be working on this issue in C++.

[2021-03-12 16:06] ankitaggarwal23 commented on #2835
@rk05-lenavo Yes, you have to create a new issue mentioning the language you want to work.

[2021-03-12 16:22] gat786 commented on #2875
Did you mention the issue number in the PR that you had raised?
The PR can opened again that is not such a big issue.

[2021-03-12 16:23] gat786 commented on #2875
Without a proper link its very difficult to navigate and search for issues. That's why we ask for the link of the issue in PR which is raised.

[2021-03-12 16:25] Rishika30 commented on #2873
@ankitaggarwal23 Two pointers will be there left and right initialised with 0 and n-1. And left_max,right_max also as 0.
Then we start iterating the array by comparing whether left<=right.
If array[left]<array[right] then see if array[left]>=left_max and if that is true then update left_max with array[left] otherwise it means that some water will be trapped in that index as some height on left to

[2021-03-12 16:27] HarshCasper commented on #2875
Hi @sonal251001

Thanks for your Issue!

Let's reiterate a few things that every contributor should follow:

- They should have an Issue assigned to them.
- They should make a PR with the **Issue linked to it**
- They should address the reviews sent by the maintainer
- They should be nice and respectful during the whole period

Remember that if any of the steps are skipped at any time, the PR woul

[2021-03-12 16:35] iamvs-2002 commented on #2769
@anushkrishnav May I implement the same in Java as a part of GSSOC'21?

[2021-03-12 16:37] mansi-9 commented on #2752
@bhav09 With kind request would you please help me to know why issue has been closed before PR being merged?

[2021-03-12 16:45] rray14 opened #2888 "Implementing decision tree classification in python"
## 💥 Proposal

Hi I am a participant of GSSoC'21, I'll be contributing my part to NeoAlgo by adding the decision tree classification algo, with all the steps to build an optimized classifier using the Scikit-learn package
Please assign me this issue

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new

[2021-03-12 16:56] mansi-9 opened #2890 "GSSOC 2021 Toggle kth bit from right (bit manipulation)"
This program would aim at toggling kth bit from right using bitwise operations.

### Motivation
This problem could be done by using xor and shift bitwise operator. It would strengthen the basic concepts.

May I start working on this issue in C++. I am GSSOC'21 Participant.

[2021-03-12 17:01] salma2vec commented on #2652
I have made a PR for the same. Kindly merge it. #2891

[2021-03-12 17:06] mansi-9 opened #2894 "GSSOC 2021 minimum no. of swaps needed to sort the array"
Minimum no. of swaps needed to sort the array
I would like to work on it in c++. I am a GSSOC 2021 participant.

[2021-03-12 17:09] neha030 commented on #2894
I am a GSSOC'21 participant and want to work on issue.
I can provide the code in C++ with proper comment description .
please assign me this issue.

[2021-03-12 17:10] neha030 commented on #2873
I am a GSSOC'21 participant and want to work on issue.
I can provide the code in C++ with proper comment description .
please assign me this issue.

[2021-03-12 17:14] neha030 commented on #2719
I am a GSSOC'21 participant and want to work on issue.
I can provide the code in C++ with proper comment description .
please assign me this issue.

[2021-03-12 17:16] neha030 commented on #2720
I am a GSSOC'21 participant and want to work on issue.
I can provide the code in C++ with proper comment description .
please assign me this issue.

[2021-03-12 17:16] neha030 commented on #2721
I am a GSSOC'21 participant and want to work on issue.
I can provide the code in C++ with proper comment description .
please assign me this issue.

[2021-03-12 17:20] ANUJAGRAWAL2000 commented on #2751
Hey @hushee69, I have created the PR for this issue. I add the code, description, I/O sample and make it also adjustable for small devices like mobile phone,etc.
https://github.com/TesseractCoding/NeoAlgo/pull/2895

[2021-03-12 17:21] neha030 commented on #2686
I am a GSSOC'21 participant and want to work on issue.
I can provide the code in C++ with proper comment description .
please assign me this issue.

[2021-03-12 17:22] neha030 commented on #2716
I am a GSSOC'21 participant and want to work on issue.
I can provide the code in C++ with proper comment description .
please assign me this issue.

[2021-03-12 17:22] neha030 commented on #2681
I am a GSSOC'21 participant and want to work on issue.
I can provide the code in C++ with proper comment description .
please assign me this issue.

[2021-03-12 17:23] neha030 commented on #2639
I am a GSSOC'21 participant and want to work on issue.
I can provide the code in C++ with proper comment description and best time complexity .
please assign me this issue.

[2021-03-12 17:26] Hamza3226 commented on #2193
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:26] Hamza3226 commented on #2185
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:28] Hamza3226 commented on #2136
Hello, I am a GSSOC'21 participant and would like to contribute to this project.
I can do this in GO

[2021-03-12 17:28] neha030 commented on #2397
I am a GSSOC'21 participant and want to work on issue.
I can provide the code in C++ with proper comment description .
please assign me this issue.

[2021-03-12 17:28] Hamza3226 commented on #2121
Hello, I am a GSSOC'21 participant and would like to contribute to this project.
I can do this in GO

[2021-03-12 17:29] Hamza3226 commented on #2116
Hello, I am a GSSOC'21 participant and would like to contribute to this project.
I can do this in GO

[2021-03-12 17:30] neha030 commented on #2316
I am a GSSOC'21 participant and want to work on issue.
I can provide the code in C++ with proper comment description and best time complexity .
please assign me this issue.

[2021-03-12 17:43] richakumari19 opened #2902 "Check if two trees are Mirror in C++"
**Assume Two Binary Trees, write a function that returns true if two trees are mirror of each other, else false**

### **Have you read the [Contributing Guidelines on Pull Requests]**

Yes, I've read the guidelines.

As a GSSOC21 Participant , I would love to work on this issue.
@ankitaggarwal23  Please assign me this issue

[2021-03-12 17:44] saimanoharhm opened #2903 "Avl tree"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
I want to contribute to LL and LR rotation codes from avl tree concepts using c.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

[2021-03-12 18:17] XZANATOL opened #2906 "Mathematics Sine Function"
## 🚀 Feature

I would like to add an algorithm that can calculate the Trignometric Sine function

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

- [x] Yes

## Motivation

I noticed that you have a section for mathematics and I love maths as I am an Engineering student. I also like writi

[2021-03-12 18:22] XZANATOL opened #2907 "Invalid Links"
## 📚 Documentation

In the Readme.MD file of the repository => Contributing Guidelines section:
* 4th point, the added template link links to a 404 page

Also the slack link is expired

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

- [x] Yes

[2021-03-12 18:34] ankitaggarwal23 commented on #2902
@rk05-lenavo Hi, I assigned you. Happy Coding!😊

[2021-03-12 18:36] SAY-droid427 opened #2908 "Infix to Postfix conversion in C++ using stacks"
## 💥 Proposal

I would like to add code for Infix to Postfix conversion in C++ using stacks

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-12 18:38] TidbitsJS commented on #2523
Can you assign this to me now? @HarshCasper & @atarax665
Part of GSSOC'21
I Will do it in JavaScript :)

[2021-03-12 18:39] SAY-droid427 opened #2909 "Delete duplicate nodes in an unsorted linked list in C++"
## 💥 Proposal

I would like to delete duplicate nodes in an unsorted linked list in C++.Please assign the issue to me

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-12 18:41] SAY-droid427 commented on #2664
@bhav09 @HarshCasper Please assign this issue to me so that I can start working on it. I had opened this issue on 11/3/21

[2021-03-12 18:43] AmanBisht01 opened #2910 "Unbounded Binary Search"
**Explanation**

Unbounded Binary Search is missing in **NeoAlgo/C-Plus-Plus/search/**

Find the point where a monotonically increasing function becomes positive first time.

**Have you read the [Contributing Guidelines on Pull Requests]**
Yes, I've read the guidelines.

As a GSSOC21 Participant, I would love to work on this issue.
@ankitaggarwal23 Please assign me this issue

[2021-03-12 18:43] asthakri50 opened #2911 "No.OfSetBitsInANumber In Java"
## 💥 Proposal
Hey @HarshCasper, @Aanisha, @atarax665, @anushkrishnav,

I am a GSSOC'21 participant and I want to make changes to the file NeoAlgo/Java/other/SetBitsInInteger.java

I found that the problem has been solved using iteration. I would solve the same problem using Bit-Masking in Java with a lesser no of code lines.

Please assign me this issue.

Thank you.

### Have you read the [Contrib

[2021-03-12 18:46] mansi-9 commented on #2894
@ankitaggarwal23 please assign me this issue.

[2021-03-12 18:51] ankitaggarwal23 commented on #2873
@Rishika30 Hi, I assigned you. Happy Coding!😊

[2021-03-12 18:54] gokulkannan7 commented on #2829
@ankitaggarwal23, I have created a PR, can you check once? It was written resolve conflicts, how shall I solve that problem?

[2021-03-12 18:54] ankitaggarwal23 commented on #2894
@mansi-9 Hi, I assigned you. Happy Coding!😊

[2021-03-12 18:56] mansi-9 commented on #2894
thank you !!!

[2021-03-12 18:57] ankitaggarwal23 commented on #2910
@AmanBisht01 Can you please bit more elaborate your approach how you're going to implement?

[2021-03-12 18:59] anushkrishnav commented on #2116
Please make an individual issue on the language you want to implement this.

[2021-03-12 19:02] noviicee commented on #2575
Actually a label tag denoting the level of this issue also should be added as they won't accept contributions without the label tag :)
I think the level 0 would be okay for this one because it is a short document change.

[2021-03-12 19:04] dhruvinfo28 opened #2914 "Shortest Path in an unweighted graph using BFS"
## 🚀 Feature

Shortest Path in an unweighted graph using BFS. From a single source gives the shortest path to all nodes. As it is done using BFS time complexity is better than Dijikstra's Algorithm.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes

## Pitch

Fundamental shortest path algorithm .C-plus-plus code base doesn't have this.
Kindly assign me this under gssoc21. I wi

[2021-03-12 19:05] shreyadubey0902 commented on #2708
can I also work on it

[2021-03-12 19:07] mansi-9 commented on #2752
@ankitaggarwal23  @bhav09 please let me know about it. Would PR be considered?

[2021-03-12 19:09] ankitaggarwal23 commented on #2914
@dhruvinfo28 Hi, I assigned you. Happy Coding!😊

[2021-03-12 19:10] shreyadubey0902 commented on #2463
can i also work on it

[2021-03-12 19:12] ankitaggarwal23 commented on #2911
@asthakri50 Hi, We assigned you. You can start working on it. Happy Coding!😊

[2021-03-12 19:14] mansi-9 commented on #2890
@anushkrishnav please assign me.

[2021-03-12 19:14] ankitaggarwal23 commented on #2907
@XZANATOL Can you please bit more elaborate how you're going to implement and also tell us whether you are working under Gssoc as a participant?

[2021-03-12 19:15] ankitaggarwal23 commented on #2906
@XZANATOL Hi, I assigned you. Happy Coding!😊

[2021-03-12 19:17] ankitaggarwal23 commented on #2890
@mansi-9 Hi, I assigned you. Happy Coding!😊

[2021-03-12 19:20] ankitaggarwal23 commented on #2903
@saimanoharhm Can you please bit more elaborate your approach how you're going to implement and also tell us whether you are working under Gssoc as a participant?

[2021-03-12 19:24] ankitaggarwal23 commented on #2908
@SAY-droid427 Can you tell us whether you are working under Gssoc as a participant?

[2021-03-12 19:24] Akhilesh2002 opened #2915 "Implement Bucket Sort in C#"
## 🚀 Feature

Bucket Sort is a sorting technique that sorts the elements by first dividing the elements into several groups called buckets. The elements inside each bucket are sorted using any of the suitable sorting algorithms or recursively calling the same algorithm.

* Use Scatter-gather approach.
* Best case time complexity- O(n+k)
* Worst case time complexity-O(n^2)

### Have you read the [C

[2021-03-12 19:25] ankitaggarwal23 commented on #2888
@rray14 Hi, I assigned you. Happy Coding!😊

[2021-03-12 19:26] Akhilesh2002 commented on #2915
I want to implement this under GSSOC ' 2021. Please assign this issue to me

[2021-03-12 19:26] mansi-9 commented on #2890
Thank you!!!

[2021-03-12 19:28] ankitaggarwal23 commented on #2909
@SAY-droid427 Can you tell us whether you are working under Gssoc as a participant?

[2021-03-12 19:31] anushkrishnav commented on #2890
Awesome @ankitaggarwal23

[2021-03-12 19:31] anushkrishnav commented on #2915
comment '/assign' to get assigned

[2021-03-12 19:31] ankitaggarwal23 commented on #2915
@Akhilesh2002 Hi, I assigned you. Happy Coding!😊

[2021-03-12 19:41] Ritish758 commented on #2680
\assign

[2021-03-12 19:46] ankitaggarwal23 commented on #2873
@neha030 Actually @Rishika30 is already working on C++. So Can you select any other language you want to work?
You can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 19:48] ankitaggarwal23 commented on #2716
@neha030 Hi, You can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 19:49] ankitaggarwal23 commented on #2721
@neha030 You can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 19:49] ankitaggarwal23 commented on #2720
@neha030 You can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-12 19:56] arnab031 opened #2918 "Implement Crossword Puzzle in Python"
## 💥 Proposal

A 10*10 Crossword grid is provided to you, along with a set of words (or names of places) which need to be filled into the grid. Cells are marked either + or -. Cells marked with a - are to be filled with the word list.

The following shows an example crossword from the input crossword  grid and the list of words to fit,
![image_2021-03-13_012551](https://user-images.githubuserconte

[2021-03-12 19:58] arnab031 commented on #2918
As a GSSOC21 Participant , I would like to work on this issue. @ankitaggarwal23

[2021-03-12 19:59] Striver08 opened #2919 "Removing Zero Sum Consecutive from Linked List."
## 💥 Proposal
I am a GSSOC'21 participant  and I would like to implement the algo to remove zero sum consecutive from Linked List in Python.

[2021-03-12 20:05] dhruvinfo28 opened #2920 "Bit manipulation(Set Clear Check bit)"
## 🚀 Feature

Set , Clear , Check bit for C++ Code base.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes

## Pitch

The C++ code base doesn't have it.  Also these are the fundamentals when it comes to bit manipulation.

[2021-03-12 20:55] Mohim-Singla opened #2922 "Parenthesis Matching using stacks in C++"
I want to implement a program in  C++  that checks for user input expression for parenthesis balancing.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

Please assign this issue to me. I'll start working on it as soon as it gets assigned to me.

[2021-03-12 21:52] iamsonukushwaha opened #2923 "add emi calculator in c++"
## 🚀 Feature

want a add a program for calculating emi

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

**PS**: Please assign this issue to me. I'll start working on it as soon as it gets assigned to me.

[2021-03-12 21:55] iamsonukushwaha opened #2924 "add simple and compound interest calculator in c"
## 🚀 Feature

want a add a program for calculating simple and compound interest calculator in c

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

**PS:** Please assign this issue to me. I'll start working on it as soon as it gets assigned to me.

[2021-03-13 00:21] VaibhavNarula commented on #2681
@bhav09 sir please add GSSoC label too.

[2021-03-13 00:36] bhav09 commented on #2681
Sure.

[2021-03-13 00:41] bhav09 commented on #2924
All the best. Happy Coding :)

[2021-03-13 00:42] bhav09 commented on #2923
All the best!

[2021-03-13 00:45] bhav09 commented on #2922
Hey @Mohim-Singla, the task has already been assigned. You can open a new issue for some other task or the same task with implementation in a different programming language. Closing the issue as of now.
Happy Coding

[2021-03-13 00:45] #2922 closed, assigned to nobody

[2021-03-13 00:50] bhav09 commented on #2769
@iamvs-2002 you can choose to, for sure but make sure you have created an issue for java first. In that issue, you can mention this issue.

[2021-03-13 00:53] bhav09 commented on #2575
We have an "easy" tag for that. Can surely add it.

[2021-03-13 00:56] bhav09 commented on #2719
Hello @neha030, the issue has already been assigned. You can check out a new one that hasn't been assigned to anyone or can start contributing by opening an issue of your own, we would get back to you soon, then.

[2021-03-13 00:59] bhav09 commented on #2463
Hey @shreyadubey0902, it has already been assigned as of now. However, you can choose to open a new issue of a topic that hasn't been covered yet.

[2021-03-13 01:02] bhav09 commented on #2664
I am assigning you the task @SAY-droid427

[2021-03-13 01:08] bhav09 commented on #2497
@kanchan1910, you have opened the issue at some other repo. I would be able to assign you only when the issue is under Tesseract Coding.

[2021-03-13 01:18] bhav09 commented on #2752
Hey @mansi-9, I might have done it by mistake. Sorry about that.
However, your PR has been reviewed and have requested changes. Need not worry, your PR will be considered.

[2021-03-13 01:19] bhav09 commented on #2920
Hey @dhruvinfo28, I am assigning it to you :)
Happy Coding :)

[2021-03-13 01:23] bhav09 commented on #2919
Hey @Striver08,
You need to add some description of the problem statement.  Only then we would be able to assign it to you :)

[2021-03-13 01:28] kanchan1910 opened #2926 "GSSOC'21 Generate all valid parentheses (Backtracking Algorithm)"
Hey, I am Kanchan Jeswani, a GSSOC'21 participant I want to add the code for the problem "Generate all valid parentheses".

The problem statement is as follows:

Given n pairs of parentheses, write a function to generate all combinations of well-formed parentheses of length 2*n.

For example, given n = 3, a solution set is:
[
"((()))",
"(()())",
"(())()",
"()(())",
"()()()"
]
for n = 1
[
"()"
]
fo

[2021-03-13 01:30] #2914 closed, assigned to dhruvinfo28

[2021-03-13 01:31] kanchan1910 commented on #2497
@bhav09, apologies for my mistake, now I have done it. Kindly check this.
Thank you

[2021-03-13 01:32] bhav09 commented on #2926
Assigned! All the best :)

[2021-03-13 01:33] bhav09 commented on #2497
Done @kanchan1910 :)

[2021-03-13 01:35] kanchan1910 commented on #2926
@bhav, thank you sir!

[2021-03-13 02:00] kanchan1910 commented on #2873
@ankitaggarwal23, sir I can solve this problem in **python**,
The approach is using two pointers,
First initialize left pointer to 0 and right pointer to size-1
Till left<right  , will update left_Max and right_Max with max(left_Max, height[left]) and max(right_Max, height[right])
update total water trapped according to left_Max and right_Max

Time complexity: O(n)

Space complexity: O(1)

@ankita

[2021-03-13 03:06] tanvi355 commented on #2249
@HarshCasper I just saw that this is already implemented in C++ and Java.
So should close this and look for other issues as it will be repeated otherwise ?

[2021-03-13 03:12] dhruvinfo28 commented on #2920
@bhav09 Thankyou for assigning! I'm on it :)

[2021-03-13 03:38] kanchan1910 commented on #2880
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152
@ankitaggarwal23, please assign this to me, thank you!!

[2021-03-13 03:41] #2497 closed, assigned to nobody

[2021-03-13 03:59] #2709 closed, assigned to dhruvinfo28

[2021-03-13 04:04] bhav09 commented on #2918
That's a good problem statement. I am assigning it to you.
Happy learning!

[2021-03-13 04:12] neha030 opened #2929 "Breadth First Search"
## 🚀 Feature
I am a GSSOC'21 participant.
I can implement this using C++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Pitch

Please assign me this.

[2021-03-13 04:17] neha030 opened #2930 "Diameter of a Binary Tree"
## 🚀 Feature
I am a GSSOC'21 participant.
I can implement this using C++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Pitch

Please assign me this.

[2021-03-13 04:20] neha030 opened #2931 "Depth First Search (Graph) C++"
## 🚀 Feature

I am a GSSOC'21 participant.
I can implement this using C++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Pitch

Please assign me this.

[2021-03-13 04:22] SAY-droid427 commented on #2909
@ankitaggarwal23 Yes. I am workins as a participant in GSSOC'21.Please assign this issue to me

[2021-03-13 04:23] SAY-droid427 commented on #2908
@ankitaggarwal23 Yes, I am working as a participant in GSSOC'21.Please assign this issue to me

[2021-03-13 04:39] rachit-geek commented on #2909
@ankitaggarwal23 sir please assign me this issue

[2021-03-13 04:42] Samiksha2809 commented on #2826
Hey, I'm a GSSOC'21 participant. I would like to work on this issue using C.
Please assign this issue to me.
Thankyou!!

[2021-03-13 04:47] ANUJAGRAWAL2000 opened #2932 "Binary Coded String"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Given a binary string s and an integer k.

Find if every binary code of length k is a substring of s. If present print "YES" else "NO".

Ex

[2021-03-13 05:01] captainra1 opened #2933 "job sequencing with deadlines."
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
given:n-jobs,profit with each job and deadlines
now, we have to schedule the m-jobs(sometimes may be m=n) so that we can get maximum profit.

[2021-03-13 05:02] sonalsingh25 commented on #2920
I can code this in java . Please assign me if you can!

[2021-03-13 05:32] richakumari19 commented on #2902
@ankitaggarwal23 Thank You so much for assigning me.

[2021-03-13 05:49] vabhv1903 opened #2934 "weird algorithm"
## 🚀 Feature

Consider an algorithm that takes as input a positive integer n. If n is even, the algorithm divides it by two, and if n is odd, the algorithm multiplies it by three and adds one. The algorithm repeats this, until n is one.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

ye

[2021-03-13 05:50] bhav09 commented on #2920
@sonal251001, you can have a check at java folder if it has not been mentioned/implemented there, you can open an issue will review it and then will assign it to you.
Happy coding!

[2021-03-13 05:52] bhav09 commented on #2929
Hey @neha030, it already exists. You can try to open a new issue that hasn't been implemented yet. We will assign it to you.
Closing the issue as of now.

[2021-03-13 05:52] #2929 closed, assigned to nobody

[2021-03-13 05:53] bhav09 commented on #2934
A great problem to practice. All the best!
However, you would use C++?

[2021-03-13 05:53] Shreyash41 opened #2936 "Implement Children Sum Property of Trees in C++ Language"
## 🚀 Feature

I would like to implement Children Sum Property of Trees Data Structure in C++ Language.
I would like to contribute to this under GSSOC'21. Please assign it to me.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

###  YES

## Pitch

Children Sum Property is a property in wh

[2021-03-13 05:54] #2875 closed, assigned to nobody

[2021-03-13 05:54] BeAgarwal commented on #2437
PR Merged.

[2021-03-13 05:54] #2437 closed, assigned to BeAgarwal

[2021-03-13 06:02] bhav09 commented on #2936
Nice one! Go ahead @Shreyash41.

[2021-03-13 06:06] AmanBisht01 commented on #2910
The function is monotonically increasing with respect to the value of x, i.e., the value of f(x+1) is greater than f(x) for every input x. Find the value ‘n’ where f() becomes positive for the first time. Since f() is monotonically increasing, values of f(n+1), f(n+2),… must be positive and values of f(n-2), f(n-3), .. must be negative.

**Approach**
**O(n)**: A simple solution is to start from I

[2021-03-13 06:07] kavyasree-123 commented on #2724
Done on the issue knight travail#2724
Please consider.

On Fri, Mar 12, 2021, 1:09 PM Ankit Aggarwal ***@***.***>
wrote:

[2021-03-13 06:11] ananddasani commented on #2934
Hi I am GSSoC'21 participant

i would like to contribute in weird algorithm  issue #2934
i will write the clean and optimized code , by keeping best case time and space complexity in mind and
with  brief commenting and algorithm.

so i would like @bhav09 to please assign this Issue to me :)

[2021-03-13 06:14] bhav09 commented on #2934
Hey, it will be assigned to @vabhv1903. We assign of fcfs basis.
Happy learning!

[2021-03-13 06:18] #2931 closed, assigned to nobody

[2021-03-13 06:20] bhav09 commented on #2223
Those who want to contribute this algo in their respective programming langs:

1. Check whether it is already there in the repo under the subsection of programming lang you are willing to contribute.
2. If, yes, drop it and open a new issue with a new and unique idea.
3. If no, open a new issue by mentioning the link to this issue and the programming language you would want to contribute in.

Issu

[2021-03-13 06:23] Shreyash41 commented on #2936
@bhav09 Thanks for your time, sir. Sir, I think you forget to assign this issue to me :)

[2021-03-13 06:24] bhav09 commented on #2936
Yea, I am sorry. I am into handling a lot of issues so .... :/

[2021-03-13 06:30] kavyasree-123 opened #2943 "Rabin-Karp Algorithm for Pattern Searching [gssoc21]"
## 💥 Proposal

**Rabin-Karp Algorithm**
used for pattern searching
The average and best-case running time of the Rabin-Karp algorithm is O(n+m), but its worst-case time is O(nm)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes i have read it carefully

[2021-03-13 06:31] kavyasree-123 commented on #2943
To give a clear idea lets have inputs and outputs

Input:  str[] = "abcdefghji"
        word[] = "abc"
Output: Pattern is at position 1

[2021-03-13 06:33] ananddasani commented on #2223
@bhav09  sir i am willing to contribute this issue of cycle sorting using C++ as it is not present in repo under the subsection of C++ , i just now checked ...

so should i proceed to open a new issue issue by mentioning the link to this issue and the programming language C++ ??

[2021-03-13 06:37] kavyasree-123 commented on #2943
want to work on this issue please assign it to me
@bhav09 @HarshCasper @asthakri50

[2021-03-13 06:42] bhav09 commented on #2223
@ananddasani the issue has already been assigned to two contributors by @HarshCasper for C++ and Python. However, if you are willing to contribute it via Java or JS or any other language, you are free to do so and can open an issue for that.

[2021-03-13 06:44] Yukti-1 opened #2948 "Longest Common Subsequence using Dynamic Progrmming"
I will write the code in C++.

May I be assigned this issue ?

[2021-03-13 06:45] ananddasani commented on #2223
yes @bhav09 sir , i will do it in JAVA :)

[2021-03-13 06:46] nidh-ish commented on #2611
@bhav09 @ankitaggarwal23 @gat786 ??

[2021-03-13 06:47] srimontidutta opened #2949 "Contribution in Python- Cycle Sort"
Those who want to contribute this algo in their respective programming langs:

1. Check whether it is already there in the repo under the subsection of programming lang you are willing to contribute.
2. If, yes, drop it and open a new issue with a new and unique idea.
3. If no, open a new issue by mentioning the link to this issue and the programming language you would want to contribute in.

Issu

[2021-03-13 06:48] neha030 opened #2950 "Reverse a Circular Linked list [GSSOC]"
## 🚀 Feature

I am a GSSOC'21 participant .
I can not see the code for reversing the circular linked list in the C++ folder and thus want to provide the code in C++ for the same.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Pitch

please assign me this issue.

[2021-03-13 06:56] SAY-droid427 opened #2951 "Checking if a linked list is palindrome or not using stacks in C++"
## 💥 Proposal

I want to add a code for checking if a linked list is palindrome or not using stacks in C++.Please assign me this issue[GSSOC'21]

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-13 07:01] ananddasani opened #2952 "CYCLE SORT IN JAVA"
do issue #2223 in JAVA

[2021-03-13 07:05] neha030 opened #2954 "DOUBLY CIRCULAR Linked list [GSSOC'21]"
## 💥 Proposal

I am a GSSOC'21 participant.
I want to add the code for doubly circular linked list in C++.
1.Delete from beginning
2.Delete from END
3.Delete from SPECIFIC POSITION
4.INSERT from beginning
5.INSERT from END
6.INSERT from SPECIFIC POSITION

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reportin

[2021-03-13 07:07] ananddasani commented on #2223
@bhav09  sir i have opened issue of cycle sort using JAVA , so please assign me this issue so i can start my work :)

[2021-03-13 07:12] vabhv1903 commented on #2934
yes ill use c++

[2021-03-13 07:14] ananddasani commented on #2719
@bhav09 sir , count sort is not in repo under C language

can i open issue and start to contribute ?

[2021-03-13 07:17] bhav09 commented on #2719
Sure @ananddasani :)

[2021-03-13 07:19] bhav09 commented on #2949
Hey, the issue has already been assigned for C++ and Python. You can try it out for Java if NeoAlgo doesn't have it for that.
Closing this issue.

[2021-03-13 07:19] #2949 closed, assigned to nobody

[2021-03-13 07:22] #2920 closed, assigned to dhruvinfo28

[2021-03-13 07:23] ananddasani opened #2956 "Count sort using C"
Implement Count sort algorithm to sort an Array using C.

@bhav09 sir please assign this issue so that i can start the contribution :)

[2021-03-13 07:24] bhav09 commented on #2611
We are flooded with contributors requesting for PRs and Issues. Sorry for the delay, hope you understand.

[2021-03-13 07:25] AmanBisht01 opened #2957 "Smallest divisible number"
Given a number N, find an integer denoting the smallest number evenly divisible by each number from 1 to n.

I would like to contribute to this under GSSOC'21. Please assign it to me.

**NeoAlgo/C-Plus-Plus/math/**

[2021-03-13 07:26] bhav09 commented on #2943
@kavyasree-123, what is the programming language you would be implementing it on?

[2021-03-13 07:30] kavyasree-123 commented on #2943
in c language

[2021-03-13 07:33] bhav09 commented on #2956
It already exists for C language in the repository. You can check for another programming language.
Closing the issue.

[2021-03-13 07:33] #2956 closed, assigned to nobody

[2021-03-13 07:34] bhav09 commented on #2943
Great, all the best!

[2021-03-13 07:37] Priyanka7011 commented on #2667
/assign

[2021-03-13 07:38] Priyanka7011 commented on #2667
also please add GSSOC21 label

[2021-03-13 07:43] #2934 closed, assigned to vabhv1903

[2021-03-13 08:08] richakumari19 commented on #2902
@ankitaggarwal23  have created a pull request for this issue. Please review the code and merge it if you find it good.

[2021-03-13 08:10] nidh-ish commented on #2611
Yeah, I understand. Thanks for assigning the issue. And sorry for bothering you.

[2021-03-13 08:11] ankitaggarwal23 commented on #2910
@AmanBisht01 Hi, I assigned you. Happy Coding!😊

[2021-03-13 08:12] ankitaggarwal23 commented on #2826
@sam2809 You can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-13 08:14] ankitaggarwal23 commented on #2909
@SAY-droid427 Hi, I assigned you. Happy Coding!😊

[2021-03-13 08:15] ankitaggarwal23 commented on #2909
@rachit-geek As someone is already working on C++. You can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-13 08:17] ankitaggarwal23 commented on #2880
@kanchan1910 As someone is already working on C++ and Java. You can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-13 08:28] #2923 closed, assigned to nobody

[2021-03-13 08:28] ankitaggarwal23 commented on #2957
@AmanBisht01 Hi, I assigned you. Happy Coding!😊

[2021-03-13 08:30] ankitaggarwal23 commented on #2954
@neha030 Hi, I assigned you. Happy Coding!😊

[2021-03-13 08:30] #2854 closed, assigned to nobody

[2021-03-13 08:32] iamsonukushwaha commented on #2923
one ( @bhav09 ) is saying okay you can add and the other ( @HarshCasper ) is not

what is this ?

[2021-03-13 08:33] ankitaggarwal23 commented on #2951
@SAY-droid427 Hi, I assigned you. Happy Coding!😊

[2021-03-13 08:33] ankitaggarwal23 commented on #2950
@neha030 Hi, I assigned you. Happy Coding!😊

[2021-03-13 08:37] ankitaggarwal23 commented on #2948
@Yukti-1 Need to add a description and your approach and also tell us whether you are working under Gssoc as a participant?

[2021-03-13 08:37] #2323 closed, assigned to imsushant12

[2021-03-13 08:38] #2924 closed, assigned to nobody

[2021-03-13 08:39] richakumari19 opened #2962 "Fibonacci numbers"
The Fibonacci numbers are the numbers in the following integer sequence.
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ……..

In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation

Fn = Fn-1 + Fn-2

### **Have you read the [Contributing Guidelines on Pull Requests]**

Yes, I've read the guidelines.

As a GSSOC21 Participant , I would love to work on this

[2021-03-13 08:40] #2391 closed, assigned to aish2002

[2021-03-13 08:41] ankitaggarwal23 commented on #2933
@captainra1 Can you tell us whether you are working under Gssoc as a participant and in which language you want to work?

[2021-03-13 08:41] ankitaggarwal23 commented on #2932
@ANUJAGRAWAL2000 Hi, I assigned you. Happy Coding!😊

[2021-03-13 08:43] ankitaggarwal23 commented on #2930
@neha030 Hi, I assigned you. Happy Coding!😊

[2021-03-13 08:45] rohan-kulkarni-25 opened #2963 "Find Prime number till n ( Method 1) ( nestedloop) ( C++)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
YES

(Write your answer here.)
I will like to add code in CPP which find the prime number till the input given by the user and print the number and also gives the cou

[2021-03-13 08:46] rohan-kulkarni-25 opened #2964 "Finding Prime Number in a range from a to b ( Method 1 ) ( nestedloop) ( c++)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

(Write your answer here.)
I will like to add code in c++ language which gives prime number  in range a to b given by user !!

[2021-03-13 08:47] captainra1 commented on #2933
yes, I am a GSSOC's participant and I want to do it in c++ lang.

[2021-03-13 08:49] ankitaggarwal23 commented on #2933
@captainra1 Hi, I assigned you. Happy Coding!😊

[2021-03-13 08:51] ankitaggarwal23 commented on #2962
@rk05-lenavo
Check whether it is already there in the repo under the subsection of programming language you are willing to contribute.
If, yes, drop it and open a new issue with a new and unique idea.
If no, open a new issue by mentioning the link to this issue and the programming language you would want to contribute in.
Issues will be assigned on a first come first serve basis.

Happy Coding!😊

[2021-03-13 08:51] ankitaggarwal23 commented on #2962
As of now I'm closing this. Thanks.

[2021-03-13 08:52] #2962 closed, assigned to nobody

[2021-03-13 08:52] captainra1 commented on #2933
thanks

[2021-03-13 09:03] richakumari19 opened #2965 "Flip the Binary Tree"
**Assume a binary tree, the task is to flip the binary tree towards the right direction that is clockwise.**

### **Have you read the [Contributing Guidelines on Pull Requests]**

Yes, I've read the guidelines.

As a GSSOC21 Participant , I would love to work on this issue.
@ankitaggarwal23 Please assign me this issue under GSSOC'21

[2021-03-13 09:31] Mohim-Singla opened #2966 "Proposal to change an existing code"
## 💥 Proposal to change an existing code

C-Plus-Plus/stack/Check_for_balanced_parenthesis.cpp
This program checks the brackets balancing for only the round ( ) parenthesis I want to make some minor changes and  improve this code to give the desired output for:-
1. square [ ] and curly { } parenthesis too.
2. [   (   ]  ) This is invalid parenthesis whereas [  (  )  ] this is balanced and valid pa

[2021-03-13 09:53] Yukti-1 commented on #2948
Yes, I am a participant under Gssoc 2021.

I want to add the algorithm to find longest common subsequence between two strings. The algorithm will find the count of the longest subsequence as well as also print the subsequence which is common.
This algorithm will follow DP approach.

I will write the code in C++. And also a brief description which will explain the code and it's workflow.

[2021-03-13 09:59] pm0824 opened #2968 "Implementation of Trie Data structure Using Java Hashmap"
## 💥 Proposal

Hii, I am Prachi
I want to add Java program to perform insert and search operations on Trie Data Structure.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes and I'll follow the same.

I am GSSoC'21 participant and would like to contribute to this project.
Kindly assign

[2021-03-13 10:05] Dimple115 commented on #2964
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:07] Dimple115 commented on #2719
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:07] Dimple115 commented on #2708
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:08] Dimple115 commented on #2633
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:09] iamvs-2002 commented on #2769
Alright.
Thanks.

[2021-03-13 10:10] sumitgsh opened #2969 "Finding Linked List is Palindrome or Not"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes ofcourse!!
## Motivation

(Please outline the motivation for the proposal.)
Its a Classical Problem which is often asked in Interviews!!

[2021-03-13 10:11] iamvs-2002 opened #2970 "Infix to Prefix Expression in Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)
I want to implement a Java program to convert an infix expression to a prefix expression.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

## Motivation
I would like to implement it as a

[2021-03-13 10:12] iamvs-2002 commented on #2970
The related issue is #2769

[2021-03-13 10:12] iamvs-2002 commented on #2970
Kindly assign me this issue.

[2021-03-13 10:12] Dimple115 commented on #2465
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:13] sumitgsh commented on #2969
@siddharth25pandey @HarshCasper @iamrajiv  can u please assign me the issue !!
Would love to work on C as a part of GsSoc21

[2021-03-13 10:27] niserene commented on #2969
@siddharth25pandey @iamrajiv @HarshCasper , I would like to contribute for the issue in Java/C++ , please  assign this task to me

[2021-03-13 10:59] sumitgsh opened #2972 "Finding Minimum Element in a Stack in O(1) time"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes of course!!
## Motivation

(Please outline the motivation for the proposal.)
Design a stack that, in addition to Push and Pop, should hav

[2021-03-13 11:01] sumitgsh commented on #2972
@siddharth25pandey @HarshCasper @iamrajiv can u please assign me the issue !!
Would love to work on C /Java as a part of GsSoc21

[2021-03-13 11:03] Sakshi2517 opened #2975 "QUICK SORTING IN C"
**Description**
quick sorting of elements in the array in ascending order
here i will take end element of array as a pivot element of the array finally after the loop we will get the position to interchange the pivot with index so that all the elements greater than pivot will be right side and lesser than pivot will be left side
hey  @HarshCasper i want to add this question in the 'NeoAlgo/C'.

[2021-03-13 11:26] ankitaggarwal23 commented on #2948
@Yukti-1 Hi, I assigned you. Happy Coding!😊

[2021-03-13 11:28] ankitaggarwal23 commented on #2975
@Sakshi2517 Hi, I assigned you. Happy Coding!😊

[2021-03-13 11:29] mu593 opened #2977 "First and last occurrence of x in array."
## 🚀 Feature

(I write a code in cpp, can you assign me this issue.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Help to people to crack coding interview.)

## Pitch

(As this question ask in many technical Interview.)

[2021-03-13 11:29] cintamg commented on #2969
@siddharth25pandey @iamrajiv @HarshCasper I m a GSSOC'21 participant, I would like to contribute to this issue in Java, please assign this issue to me.

[2021-03-13 11:31] ankitaggarwal23 commented on #2970
@iamvs-2002 Hi, I assigned you. Happy Coding!😊

[2021-03-13 11:35] ankitaggarwal23 commented on #2969
@sumitgsh Hey, can you tell me which DSA you are going to implement as already this kind of issue someone else already solving.

[2021-03-13 11:37] ankitaggarwal23 commented on #2969
@nishantsahu961 Hey, can you tell me which DSA you are going to implement as already this kind of issue someone else already solving and also you can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-13 11:37] ankitaggarwal23 commented on #2969
@cintamg Hey, can you tell me which DSA you are going to implement as already this kind of issue someone else already solving and also you can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-13 11:38] ankitaggarwal23 commented on #2968
@pm0824 Hi, I assigned you. Happy Coding!😊

[2021-03-13 11:42] ankitaggarwal23 commented on #2977
Need to add a description and can you please bit more elaborate how you're going to implement and also tell us whether you are working under Gssoc as a participant? Thanks, Closing as of now.

[2021-03-13 11:42] #2977 closed, assigned to nobody

[2021-03-13 11:44] ankitaggarwal23 commented on #2952
Need to add a description and can you please bit more elaborate how you're going to implement and also tell us whether you are working under Gssoc as a participant?. Thanks, Closing as of now.

[2021-03-13 11:44] #2952 closed, assigned to nobody

[2021-03-13 11:48] ankitaggarwal23 commented on #2966
@Mohim-Singla Awesome that you want to update some existing code. Can you tell us whether you are working under Gssoc as a participant?

[2021-03-13 11:53] jyoti-anjaly opened #2979 "Bubble Sort Algorithm"
## 📚 Documentation

Hello , I am GSSOC'21 Participant. And I want to add "Bubble Sort Article" in C++ that how Bubble Sort Algorithm works.
Can you please assign me this issue?

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-13 11:53] divya-rai-42 opened #2980 "Expressing n as a product of prime numbers (in C++)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes, I have read the contributing guidelines.
Through this algorithm , we can represent a number n(>1) as product of prime numbers. For exa

[2021-03-13 11:54] cintamg commented on #2969
@ankitaggarwal23 I am going to implement this using a doubly-linked list, in Java.

[2021-03-13 11:55] kiruba-r11 commented on #2312
@bhav09 Can you help me out about whether I can create a folder named `search` inside the `Kotlin` directory to add my binarySearch.kt file into it?

[2021-03-13 11:56] ankitaggarwal23 commented on #2980
@divya-rai-42 Hi Can you tell us whether you are working under Gssoc as a participant?

[2021-03-13 11:57] ankitaggarwal23 commented on #2969
@sumitgsh @cintamg @nishantsahu961
Check whether it is already there in the repo under the subsection of programming lang you are willing to contribute.
If, yes, drop it and open a new issue with a new and unique idea.
If no, open a new issue by mentioning the link to this issue and the programming language you would want to contribute in.
Issues will be assigned on a first come first serve basis.

[2021-03-13 11:59] divya-rai-42 commented on #2980
Yes , sir!

[2021-03-13 12:09] divya-rai-42 opened #2982 "Creating a password generator (in Python)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes, I have read the contribution guidelines.
Through this algorithm, we can create a password of a length  of user's choice. It will conta

[2021-03-13 12:24] iamvs-2002 commented on #2970
Thank you!

[2021-03-13 12:33] ankitaggarwal23 commented on #2980
@divya-rai-42 Hi, I assigned you. Happy Coding!😊

[2021-03-13 13:01] javeed3157 commented on #2826
@ankitaggarwal23  please have a look at my PR

[2021-03-13 13:01] Pallavi-02 commented on #2980
I'm the Participant of GSSOC'21. Please assign me this issue.I would love to work on

[2021-03-13 13:03] Pallavi-02 commented on #2975
I'm GSSoC'21 Participant . Please assign me this issue.I would love to work on this.

[2021-03-13 13:05] shriya030 opened #2985 "Count of subsets with given difference in c++ using Dynamic Programming"
## 🚀 Feature
I am GSSOC'21 participant and would like to add this problem of counting subsets with the given difference in c++ using Dynamic Programming.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)
Since everyone

[2021-03-13 13:05] Pallavi-02 commented on #2957
Hey....i'm GSSoC'21 participant. Please assign me this issue.I would like to contribute on this.

[2021-03-13 13:19] bhav09 commented on #2611
Anytime bro :)
Happy learning!

[2021-03-13 13:21] bhav09 commented on #2312
@kiruba-r11, you have to follow the same convection as other languages. Yes, you have to make the folder named search inside Kotlin dir.

[2021-03-13 13:25] bhav09 commented on #2719
Hey @Dimple115, thanks for reaching out but this task has already been assigned to someone. However, you can start contributing by opening a unique issue and the mentors' team will surely review it.

[2021-03-13 13:26] Naman-12911 commented on #2982
Hello sir I want fix this issue please assign me under GSSOC

[2021-03-13 13:30] AmanBisht01 commented on #2957
Thanks, @ankitaggarwal23 😊

[2021-03-13 13:32] ASLManasa commented on #2975
@ankitaggarwal23 I'm GSSoC'21 Participant . Please assign me this issue.I would like to work in java.

[2021-03-13 13:33] #2663 closed, assigned to nidh-ish

[2021-03-13 13:48] Karthik-Nayak98 commented on #2364
![github com_Karthik-Nayak98_test-action-repo_issues_47](https://user-images.githubusercontent.com/39642646/111032136-d0b8ca00-8430-11eb-987e-9ce0cdbe36f7.png)

Is this fine? @anushkrishnav

[2021-03-13 13:50] anushkrishnav commented on #2364
Looks good also try to add this comment
" To get assigned to this particular issue please use '/assign' "

[2021-03-13 13:50] anushkrishnav commented on #2364
And we are good to merge also add GSSoc'21 tag

[2021-03-13 13:55] iamvs-2002 opened #2988 "Infix to Postfix in Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

## Motivation
I would like to implement a program to convert infix to postfix in Java as a part of GSSOC'21.
(Please outline the motivati

[2021-03-13 13:56] Mohim-Singla commented on #2966
@ankitaggarwal23 yes, I'm participant of GSSoC 21

[2021-03-13 13:58] ShubhamGupta577 commented on #2665
@bhav09 Please assign me this issue.

[2021-03-13 14:06] Karthik-Nayak98 commented on #2364
Instead of adding the link of guide to the whole doc. Can we add certain steps so it would be easy for the participants to follow?
example:

- Fork the Repository
- Clone Repository: `git clone https://github.com/<USERNAME>/NeoAlgo.git`
- Enter the Repository: `cd NeoAlgo`
- Set upstream to the original branch using the command
- `git remote add upstream https://github.com/TesseractCoding/NeoAlgo.

[2021-03-13 14:07] bhav09 commented on #2665
Hey sure!

[2021-03-13 14:08] divya-rai-42 commented on #2980
@ankitaggarwal23
Thank you sir!

[2021-03-13 14:09] Karthik-Nayak98 commented on #2364
![github com_Karthik-Nayak98_test-action-repo_pull_49](https://user-images.githubusercontent.com/39642646/111032748-c4823c00-8433-11eb-8fb7-090d568837fc.png)
This is the message for the PR
@anushkrishnav

[2021-03-13 14:10] anushkrishnav commented on #2364
No let the doc be there. We made that for a reason.

[2021-03-13 14:19] sumitgsh commented on #2969
@ankitaggarwal23  I would be using two pointers approach and will STACK as well.
I had seen someone else is working on the issue, but I want to work using C language, as no one is working on that(Even I mentioned in the first comment of the issue)
Others who are working on the same are:
Issue no:#2951(working in C++)
Issue no: #2891(Working in java)

[2021-03-13 14:25] #2572 closed, assigned to aish2002

[2021-03-13 14:27] noviicee commented on #2575
Done and created a PR.
But I don't understand why  *DeepSource: Java (beta)*  test is failing..

[2021-03-13 14:28] #2419 closed, assigned to Nivedita967

[2021-03-13 14:34] rohanbabbar04 opened #2993 "Lexicographic rank of a string in C"
## 🚀 Feature

Given a string, find its rank among all its permutations sorted lexicographically. For example, rank of “abc” is 1, rank of “acb” is 2, and rank of “cba” is 6.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Would like to solve this problem as a part of

[2021-03-13 14:41] sakshigoel19 opened #2994 "Rotate unsorted array by k elements (Juggling Algorithm)"
## 💥 Proposal
Given an unsorted array of n elements , rotate it by k elements in the counter clockwise direction. I am a GSSOC'21 participant and I would like to implement it using the juggling algorithm which works in O(n) time. I will write well documented code in C++. @gat786  Please assign this issue to me.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/Te

[2021-03-13 14:55] anotherwebguy commented on #2673
Hey @HarshCasper @siddharth25pandey

[2021-03-13 15:03] #2154 closed, assigned to nandinib1999, sukritidawar, yashikajotwani12

[2021-03-13 15:03] bhav09 commented on #2575
Your PR will be reviewed soon. Ignore that check error as of now.
Also, mention the link to your PR, I will review it.

[2021-03-13 15:04] priyanka001tech opened #2995 "Smallest Positive missing number"
## 💥 Proposal

To find smallest positive missing number in the given array using c++.(THIS PROBLEM IS ASKED BY AMAZON,SAMSUNG,SNAPDEAL etc,)

### Have you read the [Contributing Guidelines on Pull Requests]
Yes

Example:
0,-10,1,3,-20
Output: 2

[2021-03-13 15:10] noviicee commented on #2575
@bhav09
Here is the link- https://github.com/TesseractCoding/NeoAlgo/pull/2992

[2021-03-13 15:14] sakar97 opened #2997 "Rod Cutting Problem [DP] [Python]"
## 🚀 Feature
There is no problem with ROD cutting questions based on Python programming. I would like to contribute to it.
No Rod cutting problem in DP python.
I want to assign to this issue.

[2021-03-13 15:16] priyanka001tech opened #2998 "Find largest word in a sentence in cpp"
## 💥 Proposal

Find largest word in a sentence in c++ where input is taken using cin.getline() function.

### Have you read the [Contributing Guidelines on Pull Requests]
YES

I would like to code it as a gssoc'21 participant.

[2021-03-13 15:17] sakar97 commented on #2997
/assign

[2021-03-13 15:17] #2228 closed, assigned to gayatri517

[2021-03-13 15:18] #2227 closed, assigned to sumitgsh

[2021-03-13 15:18] #2224 closed, assigned to Avash027

[2021-03-13 15:19] #2223 closed, assigned to RritikaG, keshav2508

[2021-03-13 15:19] #2221 closed, assigned to aakriti1318

[2021-03-13 15:19] #2211 closed, assigned to Karthik-Nayak98

[2021-03-13 15:19] #2210 closed, assigned to Shreyash41

[2021-03-13 15:19] #2204 closed, assigned to noob-26

[2021-03-13 15:19] #2202 closed, assigned to Deadbullfrog05

[2021-03-13 15:19] #2185 closed, assigned to m-code12

[2021-03-13 15:19] #2171 closed, assigned to saimanoharhm

[2021-03-13 15:19] #2158 closed, assigned to shloka-gupta, ankan1811, AkanshaUniyal

[2021-03-13 15:20] #2142 closed, assigned to tanyarajhans

[2021-03-13 15:20] #2137 closed, assigned to TidbitsJS

[2021-03-13 15:20] #2136 closed, assigned to nobody

[2021-03-13 15:20] #2122 closed, assigned to shloka-gupta, maanpatel2492, RuchiGitHu

[2021-03-13 15:20] #2121 closed, assigned to chehak123, Tanmay2510

[2021-03-13 15:20] #2116 closed, assigned to kotwani2883, AasthaGoyalgit

[2021-03-13 15:21] ankitaggarwal23 commented on #2957
@Pallavi-02 Actually Someone else is already working on C++. You can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊

[2021-03-13 15:22] vishakha-aggarwal opened #3000 "ADDING IMPORTANT PATTERN PROBLEMS"
### **EXPLANATION:**

OUR TASK IS TO PRINT THE PATTERNS THE FOLLOWING PATTERNS BY IMPLEMENTING LOOPS ::

1. FLOYD'S TRIANGLE
2. HOLLOW BUTTERFLY
3. SOLID BUTTERFLY
4. HOLLOW RECTANGLE
5. HOLLOW PARALLELOGRAM
6. SOLID PARALLELOGRAM
7. HOLLOW DIAMOND
8. SOLID DIAMOND
9. PASCAL TRIANGLE
10. PALINDROME PATTERN

Hey @HarshCasper  , I want to add these pattern problems in C++ language in `NeoAlgo/C-Plus

[2021-03-13 15:25] ankitaggarwal23 commented on #2975
Hi @ASLManasa Actually Someone else is already working on C++. So you can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊
Also before opening a new issue,
- Check whether it is already there in the repo under the subsection of programming language you are willing to contribute.
- If, yes, drop it and

[2021-03-13 15:26] ankitaggarwal23 commented on #2975
Hi @Pallavi-02 Actually Someone else is already working on C++. So you can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊
Also before opening a new issue,
- Check whether it is already there in the repo under the subsection of programming language you are willing to contribute.
- If, yes, drop it and

[2021-03-13 15:26] vishakha-aggarwal commented on #3000
Hey admins, I have created this issue. I want to work on this issue under GSSOC'21.
I have read all the contributing guidelines. Please assign it to me.

[2021-03-13 15:26] ankitaggarwal23 commented on #2966
Great! @Mohim-Singla Hi, I assigned you. Happy Coding!😊

[2021-03-13 15:27] cintamg opened #3001 "To check for palindrome in c#2969"
To find whether the string is a palindrome or not.

Test case 1:

Input : malayalam

Output : Palindrome
_____________________

Test case 2:

Input : 123454321

Output : Palindrome
_____________________

Test case 3:

Input : 12345

Output : Not palindrome

Hey @ankitaggarwal23 I want to add this question in the NeoAlgo/Code/C/dp

[2021-03-13 15:31] ankitaggarwal23 commented on #2980
Hi @Pallavi-02 Actually Someone else is already working on C++. So you can open a new issue with the same concept but with implementation in a different programming language. We will assign it to you then. Happy Coding!😊
Also before opening a new issue,
- Check whether it is already there in the repo under the subsection of programming language you are willing to contribute.
- If, yes, drop it and

[2021-03-13 15:37] ankitaggarwal23 commented on #2969
@sumitgsh Hi, I assigned you. Happy Coding!😊

[2021-03-13 15:40] Simar05519 commented on #3001
I want to work on this issue. Please assign to me.

[2021-03-13 15:40] ankitaggarwal23 commented on #3001
@cintamg Can you tell us whether you are working under Gssoc as a participant?

[2021-03-13 15:40] Simar05519 commented on #2998
Recently I had done this program with less time complexity. I want to work on this issue. Please assign to me.

[2021-03-13 15:41] Simar05519 commented on #2995
I want to work on this issue. Please assign to me.

[2021-03-13 15:41] Simar05519 commented on #2979
I want to work on this issue. Please assign to me.

[2021-03-13 15:41] Kirti1807 opened #3005 "All unique prime factors of n (in C++)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes , I have read the contributing guidelines.
Hey , I am Kirti as a GSSoc'21 participant,
In this algorithm  we can find all unique prime

[2021-03-13 15:41] Simar05519 commented on #2963
I want to work on this issue. Please assign to me.

[2021-03-13 15:43] Simar05519 commented on #3005
I want to work on this issue. Please assign to me.

[2021-03-13 15:44] Simar05519 commented on #3001
Yes,I am working on it. If you have any doubt I can share also

On Sat, 13 Mar, 2021, 9:10 pm Ankit Aggarwal, ***@***.***>
wrote:

[2021-03-13 15:44] ankitaggarwal23 commented on #2724
@kavyasree-123 Your PR is already reviewed and merged. [#2724](https://github.com/kavyasree-123/NeoAlgo/pull/1)

[2021-03-13 15:45] Simar05519 commented on #2674
I want to work on this issue. Please assign to me.

[2021-03-13 15:45] #2724 closed, assigned to kavyasree-123

[2021-03-13 15:45] Simar05519 commented on #2647
I want to work on this issue. Please assign to me.

[2021-03-13 15:46] cintamg commented on #3001
@ankitaggarwal23 I am a GSSOC participant.

[2021-03-13 15:46] Simar05519 commented on #2460
I want to work on this issue. Please assign to me.

[2021-03-13 15:46] ankitaggarwal23 commented on #3001
@cintamg Hi, I assigned you. Happy Coding!😊

[2021-03-13 15:47] Simar05519 commented on #3001
Is the issue assigned to me?

On Sat, 13 Mar, 2021, 9:10 pm Ankit Aggarwal, ***@***.***>
wrote:

[2021-03-13 15:50] sanskruti-shahu opened #3007 "Lexicographically Largest Palindromic Subsequence"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Hey I am Participant of GSSOC'21. And I have read all the Contributing Guidelines.
I want to propose a program which take string of any len

[2021-03-13 15:50] ankitaggarwal23 commented on #3001
@Simar05519 is this your github name @cintamg ?

[2021-03-13 15:52] Simar05519 commented on #3001
My github name is Simar05519

On Sat, Mar 13, 2021 at 9:21 PM Ankit Aggarwal ***@***.***>
wrote:

[2021-03-13 15:56] ankitaggarwal23 commented on #3001
Okay, @Simar05519  Actually Someone else is already working on C++, C, Java, C#. I can't assign you in that issue. You can choose different issue in which you want to work. I will assign you if no one is working on that issue. Happy Coding!😊

[2021-03-13 16:00] ankitaggarwal23 commented on #3007
@sanskruti-shahu Hi, I assigned you. Happy Coding!😊

[2021-03-13 16:01] AkanshaUniyal commented on #2998
@HarshCasper  I would like to do this using Java. Please assign me under GSSOC'21

[2021-03-13 16:02] Kirti1807 opened #3010 "All permutation of a string"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes, I have read the contributing guidelines.
hey, I am Kirti as a GSSoC '21 participant,
Through this method we can find all permutation o

[2021-03-13 16:02] ankitaggarwal23 commented on #3007
@sanskruti-shahu Hi, Can you tell me in which language you want to work. So that I can assign you!

[2021-03-13 16:04] Pallavi-02 commented on #2957
Ohkkk

On Sat, 13 Mar 2021, 8:51 pm Ankit Aggarwal, ***@***.***>
wrote:

[2021-03-13 16:05] jyoti-anjaly opened #3011 "C Program to Concatenate Two Strings"
## 💥 Proposal

Hello, I am GSSOC'21 participant. I want to add the code of concatenation of two strings in C. I will write the code with proper comments and examples.
Can you please assign this issue to me under GSSOC?

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes , I have read the

[2021-03-13 16:05] sanskruti-shahu commented on #3007
Sir, I want to work in C++ language.

[2021-03-13 16:07] ankitaggarwal23 commented on #3007
@sanskruti-shahu Hi, I assigned you. Happy Coding!😊

[2021-03-13 16:07] #2979 closed, assigned to nobody

[2021-03-13 16:09] sanskruti-shahu commented on #3007
Thank You Sir!!

[2021-03-13 16:12] Simar05519 commented on #3001
So it means I am not assigned with this issue?

On Sat, 13 Mar, 2021, 9:27 pm Ankit Aggarwal, ***@***.***>
wrote:

[2021-03-13 16:13] Simar05519 commented on #2998
Is it assigned to me?

On Sat, 13 Mar, 2021, 9:31 pm AkanshaUniyal, ***@***.***>
wrote:

[2021-03-13 16:17] ankitaggarwal23 commented on #3001
@Simar05519 Yes I can't. Already so many participants are already working.

[2021-03-13 16:18] ankitaggarwal23 commented on #3001
@Simar05519 Don't worry there are many issues available. You can explore in issues section.

[2021-03-13 16:22] ankitaggarwal23 commented on #3010
@Kirti1807 Can you tell me in which language you want to work. So that I can assign you?

[2021-03-13 16:23] ankitaggarwal23 commented on #3011
@jyoti-anjaly Hi, I assigned you. Happy Coding!😊

[2021-03-13 16:27] AmanBisht01 commented on #2957
I see that most of the recent PR's got failed in DeepSource Java beta check ! Don't know why :(

[2021-03-13 16:28] ankitaggarwal23 commented on #3000
@vishakha-aggarwal Are you going to print all the pattern at once or you are creating a some menu driven program. I didn't get exactly. Can you please bit more elaborate how you're going to implement?

[2021-03-13 16:29] ankitaggarwal23 commented on #2994
@sakshigoel19 Hi, I assigned you. Happy Coding!😊

[2021-03-13 16:30] vishakha-aggarwal commented on #3000
I was thinking to create a folder in which there will be all the programs.

[2021-03-13 16:31] ankitaggarwal23 commented on #2993
@rohanbabbar04 Hi, I assigned you. Happy Coding!😊

[2021-03-13 16:31] ankitaggarwal23 commented on #2988
@iamvs-2002 Hi, I assigned you. Happy Coding!😊

[2021-03-13 16:31] atarax665 commented on #2957
There is some glitch in the deepsource Java CI. Don't worry about it.

[2021-03-13 16:32] vishakha-aggarwal commented on #3000
I can also create a menu driven if you would prefer that.

[2021-03-13 16:32] Kirti1807 commented on #3010
sir , I want to work in C++

[2021-03-13 16:33] Simar05519 commented on #3001
Ok, thanks.

On Sat, Mar 13, 2021 at 9:48 PM Ankit Aggarwal ***@***.***>
wrote:

[2021-03-13 16:33] ankitaggarwal23 commented on #2985
@shriya030 Hi, I assigned you. Happy Coding!😊

[2021-03-13 16:35] ankitaggarwal23 commented on #3010
@Kirti1807 Hi, I assigned you. Happy Coding!😊

[2021-03-13 16:36] Kirti1807 commented on #3010
Thank you sir!😊

[2021-03-13 16:37] ankitaggarwal23 commented on #2965
@rk05-lenavo Can you please bit more elaborate how you're going to implement and also in which language you want to work?

[2021-03-13 16:43] ankitaggarwal23 commented on #3000
Means your are writing different programs for each case? Is it so?
Take your time how your going to implement this add the same thing in the description as well then I will assign you.

[2021-03-13 16:50] vishakha-aggarwal commented on #3000
I have decided to create a menu driven calling different functions. Is it convenient to you to do so?

[2021-03-13 16:55] taruni-always commented on #2749
@ankitaggarwal23 Thank you for assigning it to me. On it now!

[2021-03-13 16:55] ankitaggarwal23 commented on #3000
@vishakha-aggarwal Hi, I assigned you. Happy Coding!😊

[2021-03-13 17:03] SrishtiArya07 opened #3018 "Search element in a sorted matrix in C++"
## 🚀 Feature

Hereby using this code, one can search an element in a sorted 2D matrix. If the element is found in the matrix, the code will return its position.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I found this important problem that is widely used in comp

[2021-03-13 17:03] vishakha-aggarwal commented on #3000
Thanks for assigning 😊

[2021-03-13 17:04] Ayushjain2205 opened #3019 "Sorting algorithms using Dart"
## 🚀 Feature

Make a full fledged collection of Sorting algorithms using the Dart programming language.
I am a GSSOC' 21 participant , Can you please assign this issue to me under GSSOC?

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes I have read the contributing guidelines

## Moti

[2021-03-13 17:06] satcasm opened #3022 "shell-sort in cpp"
Would like to add shell-sort in cpp as a part of GSSOC' 21.
Thanks!

[2021-03-13 17:07] Mohim-Singla commented on #2966
@ankitaggarwal23  Please review this pull request.

[2021-03-13 17:18] gupta31 opened #3023 "Various star and numeric pattern in c"
I want to work on my issue under GSSOC'21.Please assign to me

[2021-03-13 17:27] vanshika2906 commented on #2559
I am GSSOC participant and want to work on this issue. Pretty good knowledge about bit manipulation. Please Assign this to me.

[2021-03-13 17:28] rohan-kulkarni-25 commented on #2879
Which tech stack logo will you like to get assigned ?

[2021-03-13 17:30] ankitaggarwal23 commented on #2879
You have mentioned this `I will like to add the logo of each tech stack which we are using in our repository this will make our read me more attractive !!`

[2021-03-13 17:39] divya-rai-42 commented on #2980
Sir, can you please inform me within how many days will I have to submit my work . Actually , my end semester examinations are commencing from 15th March and will continue till 19th of March. It would be highly obliging if I am permitted to submit it after 19th March.

[2021-03-13 17:40] divya-rai-42 commented on #2982
Sir, can you please inform me within how many days will I have to submit my work . Actually , my end semester examinations are commencing from 15th March and will continue till 19th of March. It would be highly obliging if I am permitted to submit it after 19th March.

[2021-03-13 17:45] jatinyadav5004 commented on #3011
Hello, I am GSSOC'21 participant. I want to add the code of concatenation of two strings in C. I will write the code with proper comments and examples too .
Can u assign me this under GISSOC.

[2021-03-13 17:48] vanshika2906 opened #3025 "Lazy Propagation in Segment Tree"
## 🚀 Feature
When there are many updates and updates are done on a range, we can postpone some updates (avoid recursive calls in update) and do those updates only when required.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes.

## Motivation
Lazy Propagation – An optimization to make

[2021-03-13 17:51] vanshika2906 commented on #3025
I am a GSSOC Participant. Good Knowledge of Data Structures and want to work on this. Please Assign this issue to me.

[2021-03-13 17:53] yr7000 opened #3027 "Array Manipulation in C++"
## 🚀 Feature

Array manipulation is one of hackerrank problems. It is a nice variation of the prefix sum problem.
Question link: https://www.hackerrank.com/challenges/crush/problem

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation
While solving this problem I learned a

[2021-03-13 17:55] AkanshaUniyal opened #3028 "Printing Tribonacci series up to "n" number of terms."
## 💥 Proposal

This Algorithm prints Tribonacci series up to "n" terms where the value of "n" is to be provided by the user.
a(n)=a(n-1)+a(n-2)+a(n-3)

For Example:
(input) n=10
(output):  0, 0, 1, 1, 2, 4, 7, 13, 24, 44

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2021-03-13 17:57] AkanshaUniyal commented on #3028
Hey @ankitaggarwal23 please assign this issue to me under GSSOC'21. I want do to this in Java Language.

[2021-03-13 17:58] sanskruti-shahu opened #3029 "Conversion of Binary Number to Decimal Number in C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Hey I am GSSOC'21 Participant and I have read the Contributing Guidelines.
I want to propose a program in which Binary Number (up to 10 dig

[2021-03-13 18:00] neha07kumari opened #3030 "Sorting algorithms in C++"

[2021-03-13 18:01] neha07kumari commented on #3030
### Feature
Solutions of all sorting algorithms in C++

### Language: C++
### Have you read the Contributing Guidelines on Pull Requests?
Yes

Motivation
I want to contribute to it under GSSoC'21.

### Pitch:
I would like to take up this task to implement it in C++. @bhav09

[2021-03-13 18:14] ananddasani commented on #2223
@bhav09 sir if nobody is assigned issue #2569 using JAVA , then i am willing to contributing this issue using JAVA , please open the issue and assign it to me ,

i have readed the contributing guidelines of PR
and i will try to write clean code with best time complexities keeping in mind :)

[2021-03-13 18:23] kanchi12P opened #3032 "Find duplicate element code(using XOR)"
## 🚀 Feature
finding the duplicate number in an array of n+1 number ;
finding two missing numbers in an array of n-2 integers from 1 to n;

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
## Motivation
its a good problem for the implementation of bit manipulation
## Pitch
bit manipul

[2021-03-13 18:29] ananddasani commented on #2686
Hi I am GSSoC'21 participant

i would like to contribute in Modified Bubble sort with improved time complexity
i will write the clean and optimized code , by keeping best case time and space complexity in mind and
with  brief commenting and algorithm.

so i would like @bhav09  to please assign this Issue to me,

i will make this algorithm more adaptive :)

[2021-03-13 18:30] ananddasani commented on #2686
@bhav09 sir i can use C++/JAVA :)

[2021-03-13 18:33] TidbitsJS opened #3033 "Stack using Linked List in JavaScript"
## Stack using Linked List

Implementing a Stack data structure using Linked List in JavaScript, where the following operations can be performed -
1. Insert items in the stack ( push )
2. Delete items from the stack ( pop )
3. Get the first top element of the stack ( peek )
4. Get all the items of the stack ( printStackElements )

### Have you read the [Contributing Guidelines on Pull Requests](ht

[2021-03-13 18:34] TidbitsJS commented on #3033
/assign

[2021-03-13 18:35] ananddasani commented on #2389
Hi I am GSSoC'21 participant

i would like to contribute in Polynomial Arithmetics using Linked List using C++
i will write the clean and optimized code , by keeping best case time and space complexity in mind and
with  brief commenting and algorithm.

so i would like @HarshCasper  , @bhav09  to please assign this Issue to me :)

[2021-03-13 18:39] Suvraneel commented on #2389
P.S~ My other issues are done... I'm still here for the assign 🙂 I even have the program made in C++🖤

[2021-03-13 19:48] dsnehasish74 opened #3038 "NQueen Problem for CPP"
I want to add for the solution of this NQueen Problem solution using Backtracking  as a part of GSSOC21

[2021-03-13 19:56] harshvs7 commented on #2865
/assign

[2021-03-13 19:58] harshvs7 commented on #2708
I would like to work on it as a part of GSSOC'21.
Can you please assign the work to me?

[2021-03-13 20:04] ankitaggarwal23 commented on #2980
@divya-rai-42 No issue, You can submit this after your exams also!

[2021-03-13 20:06] ankitaggarwal23 commented on #3011
@jatinyadav5004  Actually Someone else is already working on C.

[2021-03-13 20:12] ankitaggarwal23 commented on #3028
@AkanshaUniyal Hi, I assigned you. Happy Coding!😊

[2021-03-13 20:26] ankitaggarwal23 commented on #2902
@rk05-lenavo Your PR is closed because You didn't link your issue and also marked in the description [here](https://github.com/TesseractCoding/NeoAlgo/pull/2955).

[2021-03-13 20:28] #2902 closed, assigned to rk05-lenavo

[2021-03-13 20:29] XZANATOL commented on #2907
@ankitaggarwal23 If you can provide me a copy of templates you wish the repository to follow, I can make a documentation for it, or I can make my own custom one.

But please check the PR #3037 linked with Issue #2906 before going any furthur with this issue, as I am assigned there.

[2021-03-13 20:35] harshvs7 commented on #2628
I would like to work on it as a part of GSSOC'21.
Can you please assign the work to me?

[2021-03-13 20:35] malirl opened #3039 "non-functional link in README.md"
## 📚 Documentation

`README.md` has one non-functional link referenced to some .md that doesn't exist in the specified folder `ISSUE_TEMPLATE` at line 34.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-13 20:44] ankitaggarwal23 commented on #3039
@amalir Actually Someone else is already working on this type of issue [here](https://github.com/TesseractCoding/NeoAlgo/issues/2907#issuecomment-798780741). Thanks, Closing as of now.

[2021-03-13 20:44] #3039 closed, assigned to nobody

[2021-03-13 20:51] ankitaggarwal23 commented on #3032
@kanchi12P Can you tell me in which language you want to work?

[2021-03-13 20:55] hritikgupta92 opened #3040 "Trapping Rainwater Problem in C++"
I'll be solving one the most difficult problem in array i.e Trapping rainwater or Rainwater harvesting problem using C++

[2021-03-13 20:55] hritikgupta92 commented on #3040
@hushee69 please assign this issue to me.

[2021-03-13 22:15] Op-panda opened #3042 "ALGORITHM: Fibonacci Search in cpp"
## 🚀 Feature

****Fibonacci search**** is a searching algorithm, similar to binary search but have many differences too.

### Have you read the [Contributing Guidelines on Pull Requests]
YES

## Motivation

- To get all the data structure and algorithm under one roof.
- of course, GSSOC'21 is too a valid reason.

##### Pitch

It is one of the important algorithm that needs to be covered.
I will be

[2021-03-13 22:26] Op-panda opened #3043 "ARRAY : Inverse of an array"
## please assign me this issue

This is very standard problem, in which we swaps the indices of the array with element.
This type of basic questions can make the users understand of the feel and concept of array.

### Have you read the [Contributing Guidelines on Pull Requests]
YES

I will be implementing the problem code in CPP with proper comments and explaination along with test cases.
code wil

[2021-03-13 22:42] Op-panda opened #3044 "Seive of Eratosthenes"
## 🚀 Feature

This is an algorithm used to determine prime numbers in better time complexity.
its very famous and standard algorithm that needs to be covered.

### Have you read the [Contributing Guidelines on Pull Requests]
YES

## Motivation
To bring all the data structures and algorithm under one roof
of course GSSOC'21 is a plus point.

i will be implementing my code in CPP along with explaina

[2021-03-14 04:22] #2463 closed, assigned to ankan1811, ananddasani

[2021-03-14 04:26] #2570 closed, assigned to aish2002

[2021-03-14 04:33] simarjeet30 commented on #3043
I am a GSSOC21 participant ,I want to contribute to this issue in c++.please assign this issue to me

[2021-03-14 04:36] simarjeet30 commented on #3029
Hey I am GSSOC'21 Participant ,
I want to write a program:
input: Binary Number
output:  we get the number in its Decimal form.
Example: Input 1000 Output 8
@ankitaggarwal23 Please assign me this issue.

[2021-03-14 04:37] simarjeet30 commented on #3005
Hey , I am Simarjeet ,a GSSoc'21 participant,
In this algorithm we can find all unique prime factors of any number n .For example if n is 20 then output will be (2,5)
Please assign this task to me!

[2021-03-14 04:41] Apurv011 opened #3046 "Locker Doors Problem"
## 💥 Proposal

Hello, I am Apurv Kulkarni, a GSSoC'21 Participant. I would like to implement the Locker Doors Problem in JAVA.

The Locker Door Problem is
There are n lockers in a hallway, numbered sequentially from 1 to n. Initially, all the locker doors are closed. You make n passes by the lockers. On the ith pass (for i = 1, 2, . . . , n) you toggle the door of every ith locker.
(For example if

[2021-03-14 04:51] jyoti-anjaly commented on #3011
@ankitaggarwal23 Can you please check whether the file added by me is correct or not? I am getting one error but I am facing difficulty in solving that.

[2021-03-14 04:57] #2250 closed, assigned to tanvi355

[2021-03-14 05:38] bhav09 commented on #3027
All the best.

[2021-03-14 05:40] yr7000 commented on #3027
Thank you @bhav09 for assigning this issue to me

[2021-03-14 05:46] kanchi12P commented on #3032
I want to work in C++.

[2021-03-14 05:48] bhav09 commented on #3030
Hey @neha07kumari, solutions to sorting algorithms are already there in the C++ directory. However, you can choose to work on a unique sorting algo that hasn't been implemented yet and then open the issue for that.
Closing the issue as of now.

[2021-03-14 05:48] #3030 closed, assigned to nobody

[2021-03-14 05:53] Naman-12911 commented on #2982
I will sumbit this code by today.

[2021-03-14 05:54] Lza-etc commented on #2389
Hi
Would you mind me assigning to solve this issue.
I would like to contribute in Polynomial arithmetics using Linked list in cpp.

[2021-03-14 05:58] kanchi12P commented on #3032
@ankitaggarwal23 shall I start working?

[2021-03-14 06:04] Harikrishnan6336 commented on #2647
/assign

[2021-03-14 06:06] vabhv1903 opened #3051 "Interesting XOR"
## 🚀 Feature
(problem authored by codechef)
In this problem You are given an integer C. Let d be the smallest integer such that 2d is strictly greater than C.

Consider all pairs of non-negative integers (A,B) such that A,B<2d and A⊕B=C (⊕ denotes the bitwise XOR operation). Find the maximum value of A⋅B over all these pairs.

Input
The first line of the input contains a single integer T denoting

[2021-03-14 06:07] vabhv1903 commented on #3051
/assign

[2021-03-14 06:10] #2346 closed, assigned to Coder-Srinivas

[2021-03-14 06:11] #2347 closed, assigned to Coder-Srinivas

[2021-03-14 06:11] #2349 closed, assigned to Coder-Srinivas

[2021-03-14 06:16] iamvs-2002 commented on #2988
Thanks a lot.

[2021-03-14 06:39] richakumari19 commented on #2965
@ankitaggarwal23 In this leftmost node becomes the root of the flipped tree and its parent becomes its right child and the right sibling becomes its left child and the same should be done for all left most nodes recursively. I'll be using C++.

[2021-03-14 06:48] sakshi2707 commented on #3040
@hushee69 please assign me this issue, under gssoc

[2021-03-14 06:50] sakshi2707 opened #3054 "Cycle Sort in Java"
## 📚 Documentation

Cycle sort in java

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

I'm a Gssoc participant, please assign this issue to me

[2021-03-14 06:52] sakshi2707 commented on #3054
/assign

[2021-03-14 07:02] Harikrishnan6336 opened #3055 "Pigeon Hole sort in C++"
## 💥 Proposal

Pigeon Hole sort is a sorting algorithm that is used to sort a array where its elements and its key values are the approximately same.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-14 07:02] Harikrishnan6336 commented on #3055
/assign

[2021-03-14 07:03] Harikrishnan6336 commented on #3055
/assign

[2021-03-14 07:06] ansi22-zz commented on #3011
Hello mentors :)
I would like to add the same ,i.e, concatenation of two strings in C++.
Kindly assign it to me.
@ankitaggarwal23

[2021-03-14 07:07] #2331 closed, assigned to weirdrag08

[2021-03-14 07:13] yogitasaini commented on #3043
please assign this task to me in java under GSSOC'21

[2021-03-14 07:18] ankitaggarwal23 commented on #2965
@rk05-lenavo I can't assign you now because you already have more than 3 issues open. Kindly first finish that first. We can't assign  issues to contributor who already have 3 or more than that opened. Thanks, Closing as of now.

[2021-03-14 07:18] #2965 closed, assigned to nobody

[2021-03-14 07:23] zhcet19 opened #3056 "Finding Diameter of a tree"
## 💥 Proposal

Hi,I am Faiz , GSSOC' 2021 participant and a competitive coder.
The diameter of a binary tree is the number of nodes on the longest path between two leaves in the tree.I want to implement a recursive solution of finding diameter of binary tree in C++,Please assign me this issue.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoA

[2021-03-14 07:24] zhcet19 commented on #3056
/assign

[2021-03-14 07:34] dashritwik opened #3057 "broken link in readme.md"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)
in the readme file, there is a link broken templates for improving existing code
as I can see there no algorithm-ds-proposal.md file
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
yes

[2021-03-14 07:52] ankitaggarwal23 commented on #3032
@kanchi12P Hi, I assigned you. Happy Coding!😊

[2021-03-14 08:02] sanskruti-shahu opened #3060 "Conversion of Binary Number to Decimal Number in C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Hey I am GSSOC'21 Participant and I have read the Contributing Guidelines.
I want to propose a program in which Binary Number (up to 10 digits) will be given as inpu

[2021-03-14 08:02] sanskruti-shahu commented on #3060
/assign

[2021-03-14 08:03] #3029 closed, assigned to nobody

[2021-03-14 08:11] samya02 commented on #3005
Hey I am Samya , a GSSOC'21 participant.
I want to work on this issue. I can work on python, c++ as well. Please assign this task to me !
Thanks!

[2021-03-14 08:25] dhruvinfo28 opened #3064 "Union Find Algorithm"
## 🚀 Feature

Detecting cycle in a graph using disjoint sets with union find.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes

## Pitch

The algorithm is not present in C++ code base and is the most needed when it comes detecting cycles while creating minimum spanning trees from a graph (i.e. used in Kruskal's algorithm).
Hence a separate documented code for this algorithm w

[2021-03-14 08:28] dhruvinfo28 commented on #3064
/assign

[2021-03-14 08:28] priyanka001tech opened #3065 "Find cosmic number"
## 💥 Proposal
I would like to code it.
Given a single integer N, your task is to find the smallest number such that the sum of its digits is N and it is divisible by 10N.
Examples:

Input : N = 5
Output : 500000
500000 is the smallest number divisible
by 10^5 and sum of digits as 5.

Input : N = 20
Output : 29900000000000000000000

### Have you read the [Contributing Guidelines on Pull Requests](h

[2021-03-14 08:28] anjali494 opened #3066 "Check for palindromes C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
This program check if a given string is a palindrome or not.
i have seen this issue in python language but not in c++. I am a GSSOC'21 part

[2021-03-14 08:31] anjali494 commented on #3066
/assign

[2021-03-14 08:32] dhruvinfo28 opened #3067 "All Subsets using iterative approach"
## 🚀 Feature

Generate all subsets of a set using an iterative approach. This uses a little bit manipulation also.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes

## Pitch

The recursive algorithm for the same is present. I would like to contribute for the iterative one. The language I'll use is C-Plus-Plus.
Kindly assign me this under gssoc21

[2021-03-14 08:33] dhruvinfo28 commented on #3067
/assign

[2021-03-14 08:35] priyanka001tech commented on #3065
/assign

[2021-03-14 08:53] anjali494 opened #3069 "Catalan number in JavaScript"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

i would like to add a code to find n-th catalan number in javascript. I am a gssoc participant and would like to work on this issue.

[2021-03-14 08:54] anjali494 commented on #3069
/assign

[2021-03-14 08:57] #2252 closed, assigned to tanyarajhans

[2021-03-14 08:57] tanyarajhans commented on #2252
Merged #2252

[2021-03-14 09:17] TechSpiritSS commented on #2865
@harshvs7 I have already asked for its PR

[2021-03-14 09:18] TechSpiritSS commented on #2865
/assign

[2021-03-14 09:19] #3007 closed, assigned to sanskruti-shahu

[2021-03-14 09:20] TechSpiritSS commented on #2865
/assign

[2021-03-14 09:20] Naman-12911 commented on #2982
<img width="601" alt="2021-03-14 (2)" src="https://user-images.githubusercontent.com/66183578/111063451-8557f780-84d4-11eb-9cd0-ab6bb87d19f4.png">
)

I have included 3 screen shots.
Is this output is ohk??
or I do some modifications

[2021-03-14 09:23] cintamg opened #3073 "Polynomial Additin using Linked list"
This is to add to polynomial expressions using linked list.

 Example :
 p1 =8x^3 + 3x^2 + 2x +6
 p2 =23x^4 + 18x - 3
 Resultant polynomial =23x^4 + 8x^3 + 3x^2 + 20x + 3

Hey @ankitaggarwal23 I want to add this question in the NeoAlgo/Code/C/dp.

[2021-03-14 09:24] cintamg commented on #3073
/assign

[2021-03-14 09:30] Harikrishnan6336 opened #3074 "Comb Sort in C++"
## 💥 Proposal

To implement Comb sort in C++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-14 09:31] Harikrishnan6336 commented on #3074
/assign

[2021-03-14 09:40] sanskruti-shahu opened #3076 "Finding Pythagorian Triplet in C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Hey!! I am GSSOC'21 participant. I have read contribution guidelines.
I want  to propose a program in which user will provide 3 integer input and the program will ch

[2021-03-14 09:40] sanskruti-shahu commented on #3076
/assign

[2021-03-14 09:44] priyanka001tech commented on #3065
[cosmic.txt](https://github.com/TesseractCoding/NeoAlgo/files/6136393/cosmic.txt)

[2021-03-14 09:53] samar08 commented on #2301
Sorry I closed this issue by mistake. Please assign me this issue.

[2021-03-14 09:57] samar08 commented on #3066
Hi ,I'm samar. I will implement code for above problem in Java. Please assign this issue to me.

[2021-03-14 09:57] samar08 commented on #3066
/assign

[2021-03-14 10:09] #2750 closed, assigned to Mohim-Singla

[2021-03-14 10:15] #2826 closed, assigned to javeed3157

[2021-03-14 10:30] #3073 closed, assigned to cintamg

[2021-03-14 10:31] cintamg opened #3083 "Polynomial addition using linked list."
This is to add to polynomial expressions using linked list.

Example :
p1 =8x^3 + 3x^2 + 2x +6
p2 =23x^4 + 18x - 3
Resultant polynomial =23x^4 + 8x^3 + 3x^2 + 20x + 3

Hey @ankitaggarwal23 I want to add this question in the NeoAlgo/Code/C/dp.

[2021-03-14 10:32] cintamg commented on #3083
/assign

[2021-03-14 10:42] Karthik-Nayak98 opened #3086 "Adding a GitHub action which will close the issue and PR once it gets merged to the base branch."
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Closing the issue and PR is additional work to the maintainers. We can avoid this by adding this action.

## Pitch

(Please explain why this featur

[2021-03-14 10:43] Karthik-Nayak98 commented on #3086
/assign

[2021-03-14 10:43] Akhilesh2002 opened #3087 "Palindrome String Using Stack"
## 🚀 Feature

Determine if a string is palindrome whose center is marked with 'X'.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

To add more than one way to determine if a string is palindrome in C++.

## Pitch

If you are given an array of characters formed with a

[2021-03-14 10:43] Akhilesh2002 commented on #3087
/assign

[2021-03-14 10:54] Avishake007 opened #3090 "Binomial Coefficient using Dynamic Programming"
I want to work on this issue.
please assign me for this issue.
I am  a GSSOC'21 participant and wants to contribute on this project.

[2021-03-14 10:56] vishakha-aggarwal opened #3091 "ADDITION OF TWO BINARY NUMBERS"
### **EXPLANATION:**

Our task is to read two binary numbers from the user and we have to print the sum of those binary numbers.

**EXAMPLE:**

Input:
a=10101 (first binary number)
b=11011 (second binary number)

Output:
110000

Hey @HarshCasper , I want to add this question in C++ language in `NeoAlgo/C-Plus-Plus` .

[2021-03-14 11:04] Avishake007 commented on #3090
Hey admins I have read the guidelines please assign for this issue.

[2021-03-14 11:07] Samiksha519 commented on #3091
hello admins, I would like to work on this issue. kindly assign it to me. I find it really interesting.

[2021-03-14 11:07] vishakha-aggarwal opened #3095 "SOME IMPORTANT NUMBER CONVERSIONS"
### **EXPLANATION:**

Our task is to create a menu driven program to perform following number conversions:

1. Binary to Decimal
2. Octal to Decimal
3. Hexadecimal to Decimal
4. Decimal to Binary
5. Decimal to Octal
6. Decimal to Hexadecimal

Hey admins, I want to add these important conversions in `NeoAlgo/C-Plus-Plus/other`.

[2021-03-14 11:07] dhruvinfo28 opened #3096 "Checking whether a number is power of 2(bit manipulation)"
## 🚀 Feature

Checking whether a number is power of two or not using bit manipulation.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes

## Pitch

Another bit manipulation technique which comes in handy while solving various questions. Also the C-Plus-Plus code base doesn't have it.
Kindly assign this to me under gssoc21

[2021-03-14 11:08] dhruvinfo28 commented on #3096
/assign

[2021-03-14 11:09] simarjeet30 commented on #3091
hello I am gssoc 21 participant , I would like to work on this issue. kindly assign it to m in C/C++/python.

[2021-03-14 11:10] vishakha-aggarwal commented on #3095
/assign

[2021-03-14 11:10] simarjeet30 commented on #3042
I want to work on this issue in C/C++/python . please assign this issue to me

[2021-03-14 11:10] ritvij14 opened #3098 "Add some starter basic sorting and number theory algorithms in Dart"
## 🚀 Feature
Right now, the Dart folder is empty. We should add some basic number theory and Sorting algorithms.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

I will start by adding Armstrong number, both normal and recursive methods and also Bubble and I

[2021-03-14 11:10] ritvij14 commented on #3098
/assign

[2021-03-14 11:11] ritvij14 commented on #3098
@siddharth25pandey, @HarshCasper please add a Dart label for more issues such as this one.

[2021-03-14 11:11] aish2002 opened #3099 "Closed Hashing"
## 🚀 Feature

I would like to implement Hash table using linear probing in C and C ++ as part of GSSOC'21

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Hash Table is an inevitable data structure used for mapping keys with values

## Pitch

Hashing is an important t

[2021-03-14 11:31] AmanBisht01 commented on #2910
@ankitaggarwal23 i have  created PR please review it.

[2021-03-14 11:32] Avishake007 opened #3100 "Detect cycle of a undirected graph"
## 💥 Proposal
Through this we can detect a cycle of a undirected graph
### Have you read the [Contributing Guidelines on Pull Requests]
Yes
Please assign me for this issue.

[2021-03-14 11:32] Avishake007 commented on #3090
/assign

[2021-03-14 11:33] Avishake007 commented on #3100
/assign

[2021-03-14 11:37] Harikrishnan6336 opened #3101 "Circle Sort in C++"
## 💥 Proposal

Implement Circle sort in C++
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-14 11:37] Harikrishnan6336 commented on #3101
/assign

[2021-03-14 12:07] vishakha-aggarwal commented on #3091
/assign

[2021-03-14 12:07] ANUJAGRAWAL2000 commented on #2751
Hello @ankitaggarwal23 Can u please tell me that I have made the PR for Interval List Intersections #2751.
But I didn't received any comment on it. Will it take time or I did something wrong?

[2021-03-14 12:33] Naman-12911 commented on #3040
I want to solve this problem with c++ under GSSOC

[2021-03-14 12:34] Naman-12911 commented on #3038
Hello I want to solve this problem under GSSOC please assign me

[2021-03-14 13:16] nikitajangid33 commented on #3099
/assign

[2021-03-14 13:22] iamharshitpandeyy opened #3102 "Tower of Hanoi in C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
YES

[2021-03-14 13:23] iamharshitpandeyy commented on #3102
/assign

[2021-03-14 13:53] divya-rai-42 opened #3106 "Finding sum of a particular sub-matrix from a given matrix in O(1) (in C++)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes, I have read the contributing guidelines on Pull Request.
In this question , we have to find the sum of a particular submatrix from the

[2021-03-14 14:00] Ayushjain2205 commented on #3019
/assign

[2021-03-14 14:19] saimanoharhm commented on #2903
@ankitaggarwal23 I will write a code for Avl tree and it will include creation of avl tree using recursive method, and also LL Rotation, LR rotation, RR rotation, RL rotation of avl tree using iterative method and I am a Gssoc participant.

[2021-03-14 14:19] saimanoharhm commented on #2903
/assign

[2021-03-14 14:29] HarshCasper commented on #3099
Don't self-assign Issues to yourself if you have not created them. Its a disrespect to the contributors who are putting up the hard work in making the Issues with prior research

[2021-03-14 14:56] neha030 commented on #2930
I am facing some issue my commits for the issue #2930 is there in #3015.
therefore i request to please review my code there.

[2021-03-14 15:10] saumyasrivastava08 opened #3111 "To add all algorithm of Bit manipulation (Like brian-kernighans-algorithm)"
## 💥 Proposal

(I will be uploading all the important algorithms regarding bit manipulation . please assign me this issue.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

[2021-03-14 15:13] nikitajangid33 commented on #3099
I am really sorry for the same. I didn't meant to do this. I am newbie, i
was just exploring the site and projects. I had no clue that if I write
/assign it will assign me the issue. All these things are so new to me.
Sorry for the inconvenience, you can unassigned me if you want to.

[2021-03-14 15:17] iamharshitpandeyy commented on #3102
I have make an pull request on this issue Please Check it .
Thank you!!

[2021-03-14 15:34] Aastha2602 opened #3113 "Zero One Knapsack in Java"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
YES, I did.

[2021-03-14 15:34] Aastha2602 commented on #3113
/assign

[2021-03-14 15:52] SrishtiArya07 commented on #3018
/assign

[2021-03-14 16:00] anushkrishnav commented on #2751
Give it some time we will review it soon

[2021-03-14 16:04] iamharshitpandeyy commented on #3106
/assign

[2021-03-14 16:25] Abhijit25Mishra opened #3118 "Adding Breath First search Graph code in JavaScript"
## 💥 Proposal

I saw a lot of code missing in the JavaScript section, I happen to have just learned JS would like to try and implement it

in this particular issue I would like to work on **Breath First Search**

[2021-03-14 16:29] Abhijit25Mishra opened #3119 "Adding Depth First search Graph code in JavaScript"
## 💥 Proposal

I saw a lot of code missing in the JavaScript section, I happen to have just learned JS would like to try and implement it

in this particular issue I would like to work on **Depth First Search**

[2021-03-14 16:32] Abhijit25Mishra opened #3120 "Adding Dijkstra algorithm Graph code in JavaScript"
## 💥 Proposal

I saw a lot of code missing in the JavaScript section, I happen to have just learned JS would like to try and implement it

in this particular issue I would like to work on **Dijkstra algorithm**

[2021-03-14 16:34] Abhijit25Mishra opened #3121 "Adding Bellman–Ford algorithm Graph code in JavaScript"
## 💥 Proposal

I saw a lot of code missing in the JavaScript section, I happen to have just learned JS would like to try and implement it

in this particular issue I would like to work on **Bellman–Ford algorithm**

[2021-03-14 16:36] Abhijit25Mishra opened #3122 "Adding Floyd-Warshall algorithm Graph code in JavaScript"
## 💥 Proposal

I saw a lot of code missing in the JavaScript section, I happen to have just learned JS would like to try and implement it

in this particular issue I would like to work on ** Floyd-Warshall algorithm**

[2021-03-14 16:38] Abhijit25Mishra opened #3123 "Adding prims algorithm Graph code in JavaScript"
## 💥 Proposal

I saw a lot of code missing in the JavaScript section, I happen to have just learned JS would like to try and implement it

in this particular issue I would like to work on **prims algorithm**

[2021-03-14 16:39] Abhijit25Mishra opened #3124 "Adding kruskal's algorithm Graph code in JavaScript"
## 💥 Proposal

I saw a lot of code missing in the JavaScript section, I happen to have just learned JS would like to try and implement it

in this particular issue I would like to work on **kruskal's algorithm**

[2021-03-14 16:41] Abhijit25Mishra opened #3125 "Adding topological sort Graph code in JavaScript"
## 💥 Proposal

I saw a lot of code missing in the JavaScript section, I happen to have just learned JS would like to try and implement it

in this particular issue I would like to work on **topological sort**

[2021-03-14 16:42] Abhijit25Mishra opened #3126 "Adding Directed Cycle Detection Graph code in JavaScript"
## 💥 Proposal

I saw a lot of code missing in the JavaScript section, I happen to have just learned JS would like to try and implement it

in this particular issue I would like to work on **Directed Cycle Detection**

[2021-03-14 16:44] Abhijit25Mishra opened #3128 "Adding Negative Cycle Detection Graph code in JavaScript"
## 💥 Proposal

I saw a lot of code missing in the JavaScript section, I happen to have just learned JS would like to try and implement it

in this particular issue I would like to work on **Negative Cycle Detection**

[2021-03-14 16:57] HitainKakkar commented on #3124
Greetings sir/Mam,
I would like to contribute the code for @kruskal's algorithm Graph code in JavaScript #3124 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:00] HitainKakkar commented on #2277
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:03] HitainKakkar commented on #2963
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:05] HitainKakkar commented on #2481
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:05] HitainKakkar commented on #2472
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:06] HitainKakkar commented on #2397
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:10] HitainKakkar commented on #3118
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:11] HitainKakkar commented on #3125
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:12] HitainKakkar commented on #3043
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:12] HitainKakkar commented on #3042
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:12] HitainKakkar commented on #3040
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:12] HitainKakkar commented on #3038
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:13] HitainKakkar commented on #3025
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:13] HitainKakkar commented on #3023
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:16] HitainKakkar commented on #2919
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:16] HitainKakkar commented on #2815
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:17] HitainKakkar commented on #2708
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:17] HitainKakkar commented on #2687
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:17] HitainKakkar commented on #2686
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:17] HitainKakkar commented on #2682
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:17] HitainKakkar commented on #2679
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:17] HitainKakkar commented on #2674
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:17] HitainKakkar commented on #2673
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:17] HitainKakkar commented on #2666
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:18] HitainKakkar commented on #2652
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:18] HitainKakkar commented on #2645
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:18] HitainKakkar commented on #2643
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:19] AkanshaUniyal commented on #3028
@ankitaggarwal23 can you please tell me in which folder should I upload it? I mean algo or math?

[2021-03-14 17:20] Naman-12911 commented on #2982
I created a pull request you can merge it.

[2021-03-14 17:27] HitainKakkar opened #3129 "Number of 1 bits | LeetCode | Bit Manipulation"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

### Have you read the [Contributing Guidelines on Pull R

[2021-03-14 17:27] HitainKakkar commented on #3129
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

[2021-03-14 17:29] HarshCasper commented on #2673
This is not Algo-Phantoms

[2021-03-14 17:29] Anagha-2000 commented on #2754
Hi, I would like to work on this issue in python. I'm a participant at GSSOC'2021

[2021-03-14 17:37] HitainKakkar opened #3131 "Minimum Flips to make A OR B equal C | Bit Manipulation"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

[2021-03-14 17:39] HitainKakkar opened #3133 "Sort an array of 0’s 1’s 2’s without using extra space or sorting algo"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

[2021-03-14 17:40] #2354 closed, assigned to aish2002

[2021-03-14 17:44] Naman-12911 commented on #2982
<img width="960" alt="2021-03-14 (3)" src="https://user-images.githubusercontent.com/66183578/111078346-f3bfa880-851a-11eb-8ade-dd177a1c5588.png">
when I  create a  pull request . why I got this issue please tell me.

[2021-03-14 17:44] HitainKakkar opened #3135 "Sort an array of 0’s 1’s 2’s without using extra space or sorting algo"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:46] HitainKakkar opened #3136 "Repeat and Missing Number in c++"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:47] HitainKakkar opened #3137 "Merge two sorted Arrays without extra space"
## 💥 Proposal
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:48] ritikasharma99 commented on #3120
Hi!! I am GSSOC'21 participant and would like to work on it in Java.

[2021-03-14 17:49] HitainKakkar opened #3138 "Merge Overlapping Subintervals in array"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:50] anjali494 opened #3139 "Dice Throw Problem in C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

Given n dice each with m faces, numbered from 1 to m, find the number of ways to get sum X.

I am a GSSOC'21 participant and would like to

[2021-03-14 17:50] anjali494 commented on #3139
/assign

[2021-03-14 17:51] HitainKakkar opened #3140 "Find the duplicate in an array of N+1 integers"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:52] HitainKakkar opened #3141 "0-1 Knapsack"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:53] HitainKakkar opened #3142 "Coin change problem | DP"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:55] HitainKakkar opened #3143 "Greedy algorithm to find minimum number of coins"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:55] HitainKakkar opened #3144 "Fractional Knapsack Problem"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:57] HitainKakkar opened #3145 "greedy algorithm for Minimum number of platforms required for a railway problem"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:58] HitainKakkar opened #3146 "Max consecutive ones problem"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:58] HitainKakkar opened #3147 "Remove Duplicate from Sorted array"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:59] HitainKakkar opened #3148 "Clone a Linked List with random and next pointer"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:00] HitainKakkar opened #3149 "Trapping rainwater problem"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:01] HitainKakkar opened #3150 "Rotate a LinkedList problem"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:01] Bhawana0001 opened #3151 "XOR of all number from 1 to n in C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

Greeting Sir/mam,
I am a GSSoC'21 participant.

*I would like to work on the code of XOR of all number from 1 to n.*
( Asked in media.net assessment)

For examp

[2021-03-14 18:02] HitainKakkar opened #3152 "Flattening of a LinkedList problem"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:02] HitainKakkar opened #3153 "Find the starting point of the Loop of LinkedList"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:03] HitainKakkar opened #3154 "Check if a LinkedList is palindrome or not"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:04] Bhawana0001 commented on #3151
/assign

[2021-03-14 18:04] HitainKakkar opened #3155 "Reverse a LinkedList in groups of size k."
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:04] HitainKakkar opened #3156 "Detect a cycle in Linked List"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:05] HitainKakkar opened #3157 "Add two numbers as LinkedList"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:06] HitainKakkar opened #3158 "Delete a given Node when a node is given. (0(1) solution)"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:07] HitainKakkar opened #3159 "Remove N-th node from back of LinkedList"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:07] HitainKakkar opened #3160 "Merge two sorted Linked List"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:08] HitainKakkar opened #3161 "4 Sum problem"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:09] HitainKakkar opened #3162 "Majority Element (>N/2 times) array problem"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:09] iamrajiv commented on #3111
@saumyasrivastava08 Update the issue description by adding all program names you want to add.

[2021-03-14 18:11] HitainKakkar opened #3164 "Search in a 2D matrix"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:12] HitainKakkar opened #3165 "Inversion of Array (Using Merge Sort)"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:13] HitainKakkar opened #3166 "Pascal Triangle problem"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:17] HitainKakkar opened #3167 "Fold a Linked List | Question"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:19] HitainKakkar opened #3168 "Display and Size of Linked List | Question"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:20] HitainKakkar opened #3169 "Get Value in Linked List | Question"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:21] HitainKakkar opened #3170 "Add at Index in Linked List | Question"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:21] kanchan1910 commented on #2673
Apologies sir for my mistake! @HarshCasper

[2021-03-14 18:23] HitainKakkar opened #3171 "Decimal to any Base | Question"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:24] HitainKakkar opened #3172 "Any base to decimal | Question"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:25] HitainKakkar opened #3173 "Any base to any base | Question"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:26] HitainKakkar opened #3174 "Ceil and Floor - Question | Functions and Arrays"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:28] HitainKakkar opened #3175 "Climbing Stairs - Dynamic Programming using Tabulation | Recursive Staircase Problem"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:29] HitainKakkar opened #3176 "Minimum Cost Path - Question | Dynamic Programming"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:30] #2312 closed, assigned to kiruba-r11

[2021-03-14 18:30] HitainKakkar opened #3177 "Tiling with Dominoes Dynamic Programming"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:32] bhav09 commented on #2686
You can open a separate issue for the same, where you can propose to implement in the language you aspire to do.

[2021-03-14 18:32] HitainKakkar opened #3178 "Pass By Value, Pass By Reference Full Explanation | Data Structures Algorithms in C++"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:33] HitainKakkar opened #3179 "Prefix sum| Competitive Programming"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:36] HitainKakkar opened #3180 "Right Most Set Bit (RSB) Mask | Bit Masking"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:37] HitainKakkar opened #3181 "Kernighan's Algorithm | Count Set Bits in an Integer | Bit Manipulation"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:38] HitainKakkar opened #3182 "XOR of Sum of All Pairs in an Array | Bit Manipulation"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:40] #2422 closed, assigned to Suvraneel

[2021-03-14 18:46] dhruvinfo28 opened #3183 "Doubly linked list"
## 🚀 Feature

Basic implementation of a doubly linked list with all basic operations like insert delete update

### Have you read the [Contributing Guidelines on Pull Requests]

Yes

## Pitch

The C-Plus-Plus code base doesn't have any implementation of doubly linked list.
Kindly assign this to me under gssoc2021.

[2021-03-14 18:47] dhruvinfo28 commented on #3183
/assign

[2021-03-14 18:47] Naman-12911 commented on #3160
Hello sir , I want to solve this question please assign me under GSSOC

[2021-03-14 18:50] dhruvinfo28 opened #3184 "Reversing a doubly linked list"
## 🚀 Feature

Algorithm to reverse a doubly linked list.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes

## Pitch
The C-Plus-Plus code base doesn't have this.

[2021-03-14 18:50] dhruvinfo28 commented on #3184
/assign

[2021-03-14 18:52] BeAgarwal commented on #2471
PR Merged

[2021-03-14 18:52] #2471 closed, assigned to BeAgarwal

[2021-03-14 19:03] iamharshitpandeyy commented on #3174
/assign

[2021-03-14 19:04] #3096 closed, assigned to nobody

[2021-03-14 19:07] apoorva-s1301 opened #3185 "Counting divisors using sieve of Eratosthenes."
## 💥 Proposal
As a participant of GSSOC'21, I'd like to add the following concept in C++ language to NeoAlgo/C-Plus-Plus folder.

## Explanation of the concept
### Problem
Given a positive integer N, count the number of its divisors.
### Solution
Extract the prime factors of the given number N along with their respective contributing powers and then calculate the divisors using basic permutation a

[2021-03-14 19:09] apoorva-s1301 commented on #3185
/assign

[2021-03-14 19:11] ManuGupta9780 opened #3187 "Bidirectional search using BFS in an undirected graph in C++"
## 💥 Proposal

Bidirectional search is an algorithm in which we find the Smallest Path from the source to the target vertex of a graph. In this algorithm, we perform the search operation from two sides, i,e. from the source vertex(Forward Search) and the target vertex(Backward Search) simultaneously. Here bidirectional search will be implemented using BFS.

### Have you read the [Contributing Guid

[2021-03-14 19:11] ManuGupta9780 commented on #3187
/assign

[2021-03-14 19:14] iamharshitpandeyy opened #3188 "Linked List using Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

[2021-03-14 19:15] iamharshitpandeyy commented on #3188
/assign

[2021-03-14 19:21] Abhijit25Mishra commented on #3128
/assign

[2021-03-14 19:22] Abhijit25Mishra commented on #3125
/assign

[2021-03-14 19:23] Abhijit25Mishra commented on #3118
/assign

[2021-03-14 19:24] Abhijit25Mishra commented on #3119
/assign

[2021-03-14 19:25] Abhijit25Mishra commented on #3121
/assign

[2021-03-14 19:25] Abhijit25Mishra commented on #3120
/assign

[2021-03-14 19:26] Abhijit25Mishra commented on #3123
/assign

[2021-03-14 19:27] Abhijit25Mishra commented on #3126
/assign

[2021-03-14 19:27] Abhijit25Mishra commented on #3122
/assign

[2021-03-14 19:28] Abhijit25Mishra commented on #3124
/assign

[2021-03-14 21:23] apoorva-s1301 opened #3194 "LCM of two numbers using Euclid's algorithm(Using C++)"
## 💥 Proposal
As a participant of GSSOC'21, I'd like to add the following concept in C++ language to NeoAlgo/C-Plus-Plus folder.
# Problem
Find the LCM of given two large numbers.
# Concept used for solution
Euclid's Algorithm.
**Complexity** : O(log (min(num1,num2)))

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTI

[2021-03-14 21:24] apoorva-s1301 commented on #3194
/assign

[2021-03-15 03:06] ananddasani opened #3196 "Modified Bubble sort with improved time complexity (GSSOC'21)"
@## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **To make the bubble sort more optimize and adaptive by improved time  @complexities.**

## Motivation

As i found the optimized bubble sort in C language but not in C++ , So i am willing to contribute it...

##

[2021-03-15 03:08] ananddasani commented on #2686
@bhav09 sir i have opened this issue please go through it ,
and if you found all ok then please assign this issue to me so that i can start contributing :)

[2021-03-15 03:19] rahulsrivastava1 commented on #3196
Hey , i would like to work on this issue. I can do it . Please assign me to this

[2021-03-15 03:19] ananddasani opened #3197 "Modified Bubble sort with improved time complexity using JAVA (GSSOC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **To make the bubble sort more optimize and adaptive by improved time complexities using JAVA.**

## Motivation

As i found the optimized bubble sort in C language but not in JAVA , So i am willing to contribute

[2021-03-15 03:20] rahulsrivastava1 commented on #3196
/assign

[2021-03-15 03:21] #3196 closed, assigned to rahulsrivastava1

[2021-03-15 03:22] ananddasani commented on #3197
/assign

[2021-03-15 03:22] ananddasani commented on #3197
/assign

[2021-03-15 03:23] rahulsrivastava1 commented on #3196
@ananddasani  can i do or it is closed now?

[2021-03-15 03:24] ananddasani commented on #3196
@rahulsrivastava1 sorry , it is closed now you can try other sorting algo , which is not present in repo :)

[2021-03-15 03:26] ananddasani opened #3198 "Modified Bubble sort with improved time complexity using C++ (GSSOC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **To make the bubble sort more optimize and adaptive by improved time complexities.**

## Motivation

As i found the optimized bubble sort in C language but not in C++ , So i am willing to contribute it...

## Pi

[2021-03-15 03:27] ananddasani commented on #3198
/assign

[2021-03-15 03:36] ananddasani opened #3200 "IMPLEMENT PRIORITY QUEUE USING LINKED LIST in C language (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **IMPLEMENT PRIORITY QUEUE USING LINKED LIST in C language **

## Motivation

As i didn't found IMPLEMENTATION OF PRIORITY QUEUE USING LINKED LIST in C language , So i am willing to contribute it...

## Pitch

Hi

[2021-03-15 03:36] ananddasani commented on #3200
/assign

[2021-03-15 03:40] ananddasani opened #3201 "IMPLEMENT PRIORITY QUEUE USING LINKED LIST in C-plus-plus"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **IMPLEMENT PRIORITY QUEUE USING LINKED LIST in C-plus-plus / C++.**

## Motivation

As i didn't found IMPLEMENTATION OF PRIORITY QUEUE USING LINKED LIST in C++ language , So i am willing to contribute it...

##

[2021-03-15 03:40] ananddasani commented on #3201
/assign

[2021-03-15 03:42] ananddasani opened #3202 "IMPLEMENT PRIORITY QUEUE USING LINKED LIST in JAVA (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: ** TO IMPLEMENT PRIORITY QUEUE USING LINKED LIST in JAVA.**

## Motivation

As i didn't found IMPLEMENTATION OF PRIORITY QUEUE USING LINKED LIST in JAVA, So i am willing to contribute it...

## Pitch

Hi I am GSS

[2021-03-15 03:43] ananddasani commented on #3202
/assign

[2021-03-15 03:43] Krishan-2000 commented on #2706
@bhav09 Sir, Can I start working on this issue ?

[2021-03-15 03:49] ananddasani opened #3203 "INFIX TO PREFIX conversion in C."
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **INFIX TO PREFIX conversion in C.**

## Motivation

As i didn't found INFIX TO PREFIX conversion in C , So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the I

[2021-03-15 03:49] ananddasani commented on #3203
/assign

[2021-03-15 03:51] ananddasani opened #3204 "INFIX TO PREFIX conversion in C++ (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **INFIX TO PREFIX conversion in C++.**

## Motivation

As i didn't found INFIX TO PREFIX conversion in C++ , So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on t

[2021-03-15 03:51] ananddasani commented on #3204
/assign

[2021-03-15 03:53] ananddasani opened #3206 "INFIX TO PREFIX conversion in java (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **INFIX TO PREFIX conversion in java**

## Motivation

As i didn't found INFIX TO PREFIX conversion in java , So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on

[2021-03-15 03:53] ananddasani commented on #3206
/assign

[2021-03-15 03:55] Krishan-2000 opened #3207 "All Possible Permutations of String"
## 💥 Proposal

As a participant of GSSOC'21, I'd like to add the following concept in C++ language That is to Print all possible Permutation of string.

Example Input String "ABC"

Output: ABC  ACB  BAC  BCA  CBA  CAB .

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

Time Complexit

[2021-03-15 03:57] ananddasani opened #3208 "ASCENDING PRIORITY QUEUE in C"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **TO IMPLEMENT ASCENDING PRIORITY QUEUE in C.**

## Motivation

As i didn't found ASCENDING PRIORITY QUEUE in C , So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work

[2021-03-15 03:57] ananddasani commented on #3208
/assign

[2021-03-15 04:00] ananddasani opened #3209 "ASCENDING PRIORITY QUEUE in C++ (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **ASCENDING PRIORITY QUEUE in C++**

## Motivation

As i didn't found ASCENDING PRIORITY QUEUE in C++ , So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the AS

[2021-03-15 04:00] ananddasani commented on #3209
/assign

[2021-03-15 04:02] HitainKakkar commented on #3182
/assign

[2021-03-15 04:03] HitainKakkar commented on #3181
/assign

[2021-03-15 04:03] ananddasani opened #3210 "ASCENDING PRIORITY QUEUE in JAVA (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **ASCENDING PRIORITY QUEUE in JAVA**

## Motivation

As i didn't found ASCENDING PRIORITY QUEUE in JAVA , So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the

[2021-03-15 04:03] ananddasani commented on #3210
/assign

[2021-03-15 04:03] Krishan-2000 commented on #3207
/assign

[2021-03-15 04:05] HitainKakkar commented on #3180
/assign

[2021-03-15 04:05] HitainKakkar commented on #3179
/assign

[2021-03-15 04:05] HitainKakkar commented on #3178
/assign

[2021-03-15 04:05] HitainKakkar commented on #3177
/assign

[2021-03-15 04:05] HitainKakkar commented on #3176
/assign

[2021-03-15 04:05] HitainKakkar commented on #3175
/assign

[2021-03-15 04:07] HitainKakkar commented on #3171
/assign

[2021-03-15 04:07] HitainKakkar commented on #3172
/assign

[2021-03-15 04:07] HitainKakkar commented on #3170
/assign

[2021-03-15 04:08] ananddasani opened #3211 "DESCENDING PRIORITY QUEUE in JAVA (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **DESCENDING PRIORITY QUEUE in C++**

## Motivation

As i didn't found DESCENDING PRIORITY QUEUE IN JAVA , So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the

[2021-03-15 04:08] ananddasani commented on #3211
/assign

[2021-03-15 04:09] #2444 closed, assigned to nobody

[2021-03-15 04:10] HitainKakkar commented on #3169
/assign

[2021-03-15 04:11] HitainKakkar commented on #3168
/assign

[2021-03-15 04:11] ananddasani opened #3212 "DESCENDING PRIORITY QUEUE in C++ (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **DESCENDING PRIORITY QUEUE in C++**

## Motivation

As i didn't found DESCENDING PRIORITY QUEUE in C++ , So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the

[2021-03-15 04:11] HitainKakkar commented on #3167
/assign

[2021-03-15 04:11] HitainKakkar commented on #3166
/assign

[2021-03-15 04:11] HitainKakkar commented on #3165
/assign

[2021-03-15 04:11] HitainKakkar commented on #3164
/assign

[2021-03-15 04:11] ananddasani commented on #3212
/assign

[2021-03-15 04:11] HitainKakkar commented on #3162
/assign

[2021-03-15 04:11] HitainKakkar commented on #3161
/assign

[2021-03-15 04:12] HitainKakkar commented on #3160
/assign

[2021-03-15 04:12] HitainKakkar commented on #3159
/assign

[2021-03-15 04:12] HitainKakkar commented on #3158
/assign

[2021-03-15 04:12] HitainKakkar commented on #3157
/assign

[2021-03-15 04:12] ananddasani opened #3213 "DESCENDING PRIORITY QUEUE in C (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **DESCENDING PRIORITY QUEUE in C**

## Motivation

As i didn't found DESCENDING PRIORITY QUEUE in C , So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the DESC

[2021-03-15 04:13] ananddasani commented on #3213
/assign

[2021-03-15 04:14] HitainKakkar commented on #3156
/assign

[2021-03-15 04:14] HitainKakkar commented on #3155
/assign

[2021-03-15 04:14] HitainKakkar commented on #3154
/assign

[2021-03-15 04:15] HitainKakkar commented on #3153
/assign

[2021-03-15 04:15] HitainKakkar commented on #3152
/assign

[2021-03-15 04:15] HitainKakkar commented on #3150
/assign

[2021-03-15 04:15] HitainKakkar commented on #3149
/assign

[2021-03-15 04:15] HitainKakkar commented on #3148
/assign

[2021-03-15 04:15] HitainKakkar commented on #3147
/assign

[2021-03-15 04:15] HitainKakkar commented on #3146
/assign

[2021-03-15 04:15] HitainKakkar commented on #3145
/assign

[2021-03-15 04:16] HitainKakkar commented on #3144
/assign

[2021-03-15 04:16] HitainKakkar commented on #3143
/assign

[2021-03-15 04:17] gayatri517 opened #3215 "Aggressive cows"
## 🚀 Feature

Farmer John has built a new long barn, with N (2 <= N <= 100,000) stalls. The stalls are located along a straight line at positions x1,...,xN (0 <= xi <= 1,000,000,000).

His C (2 <= C <= N) cows don't like this barn layout and become aggressive towards each other once put into a stall. To prevent the cows from hurting each other, FJ wants to assign the cows to the stalls, such that

[2021-03-15 04:17] HitainKakkar commented on #3133
posted multiple times

[2021-03-15 04:17] #3133 closed, assigned to nobody

[2021-03-15 04:17] gayatri517 commented on #3215
I want to work on this issue in C++ as a participant of GSSOC'21

[2021-03-15 04:18] gayatri517 commented on #3215
/assign

[2021-03-15 04:18] HitainKakkar commented on #3142
/assign

[2021-03-15 04:18] HitainKakkar commented on #3141
/assign

[2021-03-15 04:18] HitainKakkar commented on #3140
/assign

[2021-03-15 04:18] HitainKakkar commented on #3138
/assign

[2021-03-15 04:18] HitainKakkar commented on #3136
/assign

[2021-03-15 04:18] HitainKakkar commented on #3135
/assign

[2021-03-15 04:19] HitainKakkar commented on #3131
/assign

[2021-03-15 04:19] HitainKakkar commented on #3129
/assign

[2021-03-15 04:19] ananddasani opened #3216 "TOWER OF HANOI USING STACK in C"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **TOWER OF HANOI USING STACK in C**

## Motivation

As i didn't found TOWER OF HANOI USING STACK in C, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the TOW

[2021-03-15 04:19] ananddasani commented on #3216
/assign

[2021-03-15 04:21] ananddasani opened #3218 "TOWER OF HANOI USING STACK in C++ (GSSOC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **TOWER OF HANOI USING STACK in C++**

## Motivation

As i didn't found TOWER OF HANOI USING STACK in C++, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the

[2021-03-15 04:21] ananddasani commented on #3218
/assign

[2021-03-15 04:21] #3174 closed, assigned to iamharshitpandeyy

[2021-03-15 04:22] HitainKakkar opened #3219 "Ceil and Floor - Question | Functions and Arrays"
## 💥 Proposal

Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-15 04:23] ananddasani opened #3220 "TOWER OF HANOI in JAVA (GSSOC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **TOWER OF HANOI IN JAVA**

## Motivation

As i didn't found TOWER OF HANOI in JAVA, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the TOWER OF HANOI in JAV

[2021-03-15 04:23] HitainKakkar commented on #3219
/assign

[2021-03-15 04:23] ananddasani commented on #3220
/assign

[2021-03-15 04:27] ananddasani opened #3222 "PALINDROME STRING CHECK USING STACK IN C (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **PALINDROME STRING CHECK USING STACK IN C**

## Motivation

As i didn't found PALINDROME STRING CHECK USING STACK IN C, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking

[2021-03-15 04:27] ananddasani commented on #3222
/assign

[2021-03-15 04:28] ananddasani opened #3223 "PALINDROME STRING CHECK USING STACK IN C++ (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **PALINDROME STRING CHECK USING STACK IN C++**

## Motivation

As i didn't found PALINDROME STRING CHECK USING STACK IN C++, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am look

[2021-03-15 04:29] ananddasani commented on #3223
/assign

[2021-03-15 04:30] ananddasani opened #3224 "PALINDROME STRING CHECK USING STACK IN JAVA (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **PALINDROME STRING CHECK USING STACK IN JAVA**

## Motivation

As i didn't found PALINDROME STRING CHECK USING STACK IN JAVA, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am lo

[2021-03-15 04:30] ananddasani commented on #3224
/assign

[2021-03-15 04:31] HitainKakkar commented on #3137
/assign

[2021-03-15 04:32] HitainKakkar commented on #3173
/assign

[2021-03-15 04:33] ananddasani opened #3225 "DECIMAL TO BINARY CONVERSION USING STACK IN C"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **DECIMAL TO BINARY CONVERSION USING STACK IN C**

## Motivation

As i didn't found DECIMAL TO BINARY CONVERSION USING STACK IN C, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I a

[2021-03-15 04:33] ananddasani commented on #3225
/assign

[2021-03-15 04:35] HitainKakkar commented on #3044
/assign

[2021-03-15 04:35] HitainKakkar commented on #3043
/assign

[2021-03-15 04:35] HitainKakkar commented on #3042
/assign

[2021-03-15 04:35] HitainKakkar commented on #3040
/assign

[2021-03-15 04:36] HitainKakkar commented on #3038
/assign

[2021-03-15 04:36] ananddasani opened #3227 "DECIMAL TO BINARY CONVERSION USING STACK IN C++"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **DECIMAL TO BINARY CONVERSION USING STACK IN C++**

## Motivation

As i didn't found DECIMAL TO BINARY CONVERSION USING STACK IN C++, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,

[2021-03-15 04:36] HitainKakkar commented on #3022
/assign

[2021-03-15 04:36] ananddasani commented on #3227
/assign

[2021-03-15 04:37] HitainKakkar commented on #2963
/assign

[2021-03-15 04:39] ananddasani opened #3228 "DECIMAL TO BINARY CONVERSION USING STACK IN Java"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **DECIMAL TO BINARY CONVERSION USING STACK IN Java**

## Motivation

As i didn't found DECIMAL TO BINARY CONVERSION USING STACK IN Java, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant

[2021-03-15 04:39] ananddasani commented on #3228
/assign

[2021-03-15 04:42] ananddasani opened #3229 "DECIMAL TO OCTAL CONVERSION USING STACK IN Java (GSSOC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **DECIMAL TO OCTAL CONVERSION USING STACK IN Java**

## Motivation

As i didn't found DECIMAL TO OCTAL CONVERSION USING STACK IN Java, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,

[2021-03-15 04:42] ananddasani commented on #3229
/assign

[2021-03-15 04:43] ananddasani opened #3230 "DECIMAL TO OCTAL CONVERSION USING STACK IN C (GSSOC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **DECIMAL TO OCTAL CONVERSION USING STACK IN C**

## Motivation

As i didn't found DECIMAL TO OCTAL CONVERSION USING STACK IN C, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am

[2021-03-15 04:44] ananddasani commented on #3230
/assign

[2021-03-15 04:46] ananddasani opened #3232 "DECIMAL TO OCTAL CONVERSION USING STACK IN C-Plus-Plus (GSSOC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **DECIMAL TO OCTAL CONVERSION USING STACK IN C-Plus-Plus / C++**

## Motivation

As i didn't found DECIMAL TO OCTAL CONVERSION USING STACK IN C-Plus-Plus, So i am willing to contribute it...

## Pitch

Hi I am GS

[2021-03-15 04:46] ananddasani commented on #3232
/assign

[2021-03-15 04:52] ananddasani opened #3233 "REVERSE A GIVEN NUMBER IN C"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **REVERSE  A GIVEN NUMBER IN C**

## Motivation

As i didn't found REVERSE  A GIVEN NUMBER IN C, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the REVERSE

[2021-03-15 04:52] ananddasani commented on #3233
/assign

[2021-03-15 04:54] ananddasani opened #3234 "REVERSE A GIVEN NUMBER IN C-Plus_Plus (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **REVERSE  A GIVEN NUMBER IN C++**

## Motivation

As i didn't found REVERSE  A GIVEN NUMBER IN C++, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the REVER

[2021-03-15 04:54] ananddasani commented on #3234
/assign

[2021-03-15 04:56] ananddasani opened #3236 "REVERSE A GIVEN NUMBER IN Java (GSSoC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **REVERSE  A GIVEN NUMBER IN Java**

## Motivation

As i didn't found REVERSE  A GIVEN NUMBER IN Java, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'21 participant,
"I am looking to work on the REV

[2021-03-15 04:56] ananddasani commented on #3236
/assign

[2021-03-15 05:00] ananddasani opened #3237 "ASCII CODE OF ENTERED STRING IN C (GSSOC'21)"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes !

AIM :: **to find out the ASCII CODE OF ENTERED STRING IN C**

## Motivation

As i didn't found ASCII CODE OF ENTERED STRING IN C (in maths section) program, So i am willing to contribute it...

## Pitch

Hi I am GSSoC'2