[2020-06-24 17:53] ashwanisng opened #1 "[UPDATE] Adding file structure for challenge website codes and other questions"
DSA Questions Like Remove duplicate elements from the array.

[2020-06-24 23:25] mar-galho commented on #1
Hi, the idea is to have basic implementation for DS & Algos.

Perhaps we can think of a way of dealing with questions in another moment, but that is outside the initial scope of the project.

[2020-06-24 23:38] mar-galho opened #2 "All-contributors bot config"
A

[2020-06-24 23:40] mar-galho commented on #2
@all-contributors please add @HarshCasper and @ricardoprins for content and doc.

[2020-06-25 02:26] born-2learn commented on #2
@all-contributors please add @born-2learn  for content and doc

[2020-06-25 02:28] born-2learn commented on #2
@all-contributors please add @HarshCasper and @ricardoprins for content and doc.

[2020-06-25 02:29] born-2learn commented on #2
@all-contributors please add @ricardoprins  for content and doc

[2020-06-25 02:47] mar-galho commented on #1
However, I'd like @HarshCasper and @born-2learn to give me their input on this

[2020-06-25 02:49] mar-galho commented on #2
Since the bot is up and running, I'm closing this issue.

[2020-06-25 02:49] #2 closed, assigned to mar-galho

[2020-06-25 11:19] KamalDGRT opened #11 "[ENHANCEMENT] Algorithms in Go Lang - folder structure"
Implementing the algorithms in Go Language would be a plus.

[2020-06-25 11:27] HarshCasper opened #12 "Add Linear Search Algorithm"
**Algorithm:**

[Linear Search](https://en.wikipedia.org/wiki/Linear_search#:~:text=In%20computer%20science%2C%20a%20linear,whole%20list%20has%20been%20searched.)

**DS:**

- Searching

**Languages Missing:**

- Java [ Assigned to @MSufiyanAG ]

[2020-06-25 11:37] HarshCasper opened #13 "Add Binary Search Algorithm"
**Algorithm:**

[Binary Search](https://en.wikipedia.org/wiki/Binary_search_algorithm#:~:text=In%20computer%20science%2C%20binary%20search,middle%20element%20of%20the%20array.)

**DS:**

- Searching

**Languages Missing:**

- C [ Assigned to @kulsoomzahra ]
- C++ [ Assigned to @VaibhaveS ]
- C#
- Python [ Assigned to @kulsoomzahra ]

[2020-06-25 11:43] HarshCasper opened #14 "Add Fibonacci Search Algorithm"
**Algorithm:**

[Fibonacci Search](https://en.wikipedia.org/wiki/Fibonacci_search_technique)

**DS:**

Searching

**Languages Supported:**

- C [@Kathan-Vakharia]
- CPP
- Java [@Kathan-Vakharia]
- Javascript
- Python
- C#
- Golang

[2020-06-25 12:00] HarshCasper opened #15 "Add Insertion Sort Algorithm"
**Algorithm:**

[Insertion Sort](https://en.wikipedia.org/wiki/Insertion_sort)

**DS:**

Sorting

**Languages Missing:**

- C#
- Javascript [@sparkingdark ]

[2020-06-25 12:04] HarshCasper opened #16 "Add Bubble Sort Algorithm"
**Algorithm:**

[Bubble Sort](https://en.wikipedia.org/wiki/Bubble_sort)

**DS:**

Sorting

**Languages Missing:**

- C#

[2020-06-25 12:11] HarshCasper opened #17 "Add Quick Sort Algorithm"
**Algorithm:**

[Quick Sort](https://en.wikipedia.org/wiki/Quicksort)

**DS:**

Sorting

**Languages Missing:**

- C [ Assigned to @Dhairya3124 ]
- C++ [ Assigned to @asaxena012 ]
- Javascript

[2020-06-25 12:18] HarshCasper opened #18 "Implement Merge Sort Algorithm"
**Algorithm:**

[Merge Sort](https://en.wikipedia.org/wiki/Merge_sort)

**DS:**

Sorting

**Languages Missing:**
- C#
- Javascript

[2020-06-25 13:05] swarajpure commented on #16
Will do in C++ and Python

[2020-06-25 13:30] HarshCasper commented on #16
I have assigned you the Issue. You can start working on it @swarajpure

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-25 13:42] kulsoomzahra commented on #13
Can you assign me this issue? @HarshCasper

[2020-06-25 13:51] HarshCasper commented on #13
Thanks for taking this up @kulsoomzahra

Can you please mention which language would you like to take up for this Issue?

[2020-06-25 13:58] UtkarshChaurasia commented on #12
Can I work on this for the languages C++, JAVA and Python?

[2020-06-25 14:00] UtkarshChaurasia commented on #16
Can I work on this for JAVA?

[2020-06-25 14:01] VaibhaveS commented on #13
I can work on this too, I can work in c++ as well as python ....

[2020-06-25 14:08] UtkarshChaurasia commented on #18
Can I work on this for languages C++, Java, and Python?

[2020-06-25 14:37] keshav304 commented on #15
can I work on this for languages c++, python?

[2020-06-25 14:53] HarshCasper commented on #1
I think we can have them in a separate folder as well. This will help contributors to get started with applying DS-Algo Skills for real-world problem-solving. We can have Hackerrank, Codechef and Codeforces Solutions as part of this.

[2020-06-25 14:54] mar-galho commented on #11
Hi @KamalDGRT !

The algorithms can be implemented by anyone who has knowledge in the language :)

I have unassigned us in this post, so that any collaborator who desires to fork the repo, create the folder and implement the algorithms can do it.

I appreciate the great suggestion!

[2020-06-25 14:57] kulsoomzahra commented on #13
Python and C also

[2020-06-25 14:58] HarshCasper commented on #16
I have assigned you the Issue. You can start working on it @UtkarshChaurasia

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to re

[2020-06-25 14:59] mar-galho commented on #1
True. @ashwanisng, would you be willing to help us with that?

[2020-06-25 15:00] HarshCasper commented on #12
I have assigned you the Issue. You can start working on it @UtkarshChaurasia

The Code for Java has already been added. You can work with C++ and Python instead.

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in

[2020-06-25 15:02] HarshCasper commented on #15
I have assigned you the Issue. You can start working on it @keshav304

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also, reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-25 15:09] mar-galho opened #23 "[BUG] Fix .gitignore"
I'll do it.

[2020-06-25 15:18] HarshCasper commented on #13
I have assigned you the Issue. You can start working on it @VaibhaveS and @kulsoomzahra

@kulsoomzahra you can take up Python and C. @VaibhaveS I have assigned you C++. If you want to work in the rest of the languages, do let me know here.

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries

[2020-06-25 15:19] HarshCasper commented on #18
@UtkarshChaurasia You already have a lot of Issues under your belt. You can complete the rest of the Issues and then I can assign this to you.

[2020-06-25 15:39] mar-galho commented on #23
Done!

[2020-06-25 15:39] #23 closed, assigned to mar-galho

[2020-06-25 15:52] sparkingdark commented on #16
C and JavaScript I want to work.

[2020-06-25 15:59] SRILEKHA-V19 commented on #17
@HarshCasper , could you please assign this issue to me? I'm willing to take up this task for languages: C, C++, Java, Python. After i'm done with these, i can work on Javascript too.

[2020-06-25 16:21] KamalDGRT commented on #11
Thank you @ricardoprins

[2020-06-25 16:31] guri76148 commented on #12
can i work in javascript?

[2020-06-25 16:44] Surajv311 commented on #18
@HarshCasper Could you assign this issue to me , I can work on this for C , C++ language ?

[2020-06-25 16:48] MSufiyanAG commented on #18
@HarshCasper  can you assign this issue to me I can work on this for java language?

[2020-06-25 16:49] Surajv311 commented on #15
@HarshCasper Can you assign me this issue ? I can work on C language

[2020-06-25 16:57] VaibhaveS commented on #13
Great. I shall start working on it from tommorow onwards...

[2020-06-25 17:33] ashwanisng commented on #1
@HarshCasper awesome idea 💯

[2020-06-25 17:36] ashwanisng commented on #1
@ricardoprins I love to part of the org and contribute in it 👍

[2020-06-25 19:31] Dhairya3124 commented on #17
@HarshCasper Could you assign this issue to me? I want to work in C++.

[2020-06-25 19:54] omonimus1 commented on #12
Hi to everyone.
I have created a [pull request](https://github.com/TesseractCoding/NeoAlgo/pull/31) for this issue, adding the implementation of the Linear search algorithms in JavaScripts (will all the tests).
You can easily test all the source code in a few seconds on [jsfiddle](https://jsfiddle.net/).

The tests run from the pipeline do not pass, can I get any advice about the type of checks do

[2020-06-25 20:17] asaxena012 commented on #18
@HarshCasper Could you assign this issue to me? I can work on this issue in C++.

[2020-06-25 20:19] asaxena012 commented on #17
@HarshCasper  Could you assign me this issue? I am willing to work on this issue in C++.

[2020-06-25 20:31] mar-galho commented on #1
If you could fork the repo and set up a basic structure for these challenges then - perhaps they can even have their own folder, apart from the Language ones. What do you guys think about this?

[2020-06-25 23:58] haikelfazzani commented on #16
Can I work on this for **Javascript** ?

[2020-06-26 02:22] HarshCasper commented on #18
I have assigned you all the Issue. You can start working on it.

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-26 02:26] HarshCasper commented on #17
I have assigned the Issue for Java and Python to @SRILEKHA-V19

You can start working on it. Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes ea

[2020-06-26 02:26] HarshCasper commented on #17
@Dhairya3124 and @asaxena012 There is a conflict here. Probably I can assign you the Issue in C and C++ respectively or if you want to work in some other language, you can do that part as well and I will promptly assign it to you.

[2020-06-26 02:28] HarshCasper commented on #16
I have assigned you all the Issue. You can start working on it.

@sparkingdark You can work in C while @haikelfazzani can work in Javascript.

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also ref

[2020-06-26 02:29] sparkingdark commented on #16
Okay I do it.

[2020-06-26 02:30] HarshCasper commented on #15
I have assigned you the Issue in C @Surajv311

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-26 02:37] HarshCasper opened #39 "Implement Depth First Search"
**Algorithm:**

[Depth First Search](https://en.wikipedia.org/wiki/Depth-first_search)

**DS:**

Graphs

**Languages Supported:**

- C [ Assigned to @kulsoomzahra ]
- C++
- Java [ Assigned to @rohitkumar-rk ]
- Javascript
- Python [ Assigned to @anushkrishnav ]

[2020-06-26 02:39] HarshCasper opened #40 "Implement Breadth First Search"
**Algorithm:**

[Breadth First Search](https://en.wikipedia.org/wiki/Breadth-first_search)

**DS:**

Graphs

**Languages Supported:**

- C [ Assigned to @kulsoomzahra ]
- C++ [ Assigned to @harsh-9in ]
- Java [ Assigned to @Himanshu70565 ]
- Javascript
- Python [ Assigned to @sparkingdark ]

[2020-06-26 02:41] HarshCasper opened #41 "Implement Topological Sort"
**Algorithm:**

[Topological Sort](https://en.wikipedia.org/wiki/Topological_sorting)

**DS:**

Graphs

**Languages Supported:**

- C
- C++ [ Assigned to @SRILEKHA-V19 ]
- Java
- Javascript
- Python

[2020-06-26 02:47] HarshCasper opened #43 "Implement Kruskal's Algorithm"
**Algorithm:**

[Kruskal's Algorithm](https://en.wikipedia.org/wiki/Kruskal%27s_algorithm)

**DS:**

Graphs

**Languages Supported:**

- C [ Assigned to @TanyaAggarwal ]
- C++  [ Assigned to @TanyaAggarwal ]
- Java  [ Assigned to @TanyaAggarwal ]
- Javascript
- Python  [ Assigned to @TanyaAggarwal ]

[2020-06-26 02:48] HarshCasper opened #44 "Implement Prim's Algorithm"
**Algorithm:**

[Prim's Algorithm](https://en.wikipedia.org/wiki/Prim%27s_algorithm)

**DS:**

Graphs

**Languages Supported:**

- C [ Assigned to @ShubhamRattra ]
- C++  [ Assigned to @ShubhamRattra ]
- Java  [ Assigned to @ShubhamRattra ]
- Javascript
- Python  [ Assigned to @ShubhamRattra ]

[2020-06-26 02:51] HarshCasper opened #45 "Implement Belmon Ford Algorithm"
**Algorithm:**

[Belmon Ford Algorithm](https://en.wikipedia.org/wiki/Bellman%E2%80%93Ford_algorithm)

**DS:**

Graphs

**Languages Supported:**

- C
- C++ [ Assigned to @priyanka2109 ]
- Java
- Javascript
- Python

[2020-06-26 02:53] HarshCasper opened #46 "Implement Floyd-Warshall Algorithm"
**Algorithm:**

[Floyd Warshall Algorithm](https://en.wikipedia.org/wiki/Floyd%E2%80%93Warshall_algorithm)

**DS:**

Graphs

**Languages Supported:**

- C
- C++
- Java
- Javascript
- Python

[2020-06-26 02:54] HarshCasper opened #47 "Implement Dijkstra's Algorithm"
**Algorithm:**

[Dijkstra's Algorithm](https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm)

**DS:**

Graphs

**Languages Missing:**

- C
- C++ __[Assigned to @atarax665]__
- Javascript
- Python __[Assigned to @atarax665]__

[2020-06-26 03:33] asaxena012 opened #49 "Add Randomized Quick Sort Algorithm"
**Algorithm:**

[Randomized Quick Sort](https://en.wikipedia.org/wiki/Randomized_algorithm#Quicksort)

**DS:**

Sorting

**Languages Missing:**

* C
* C#
* Java
* Javascript
* Python
* Any other

[2020-06-26 03:34] asaxena012 commented on #49
@HarshCasper Could you assign this issue to me? I want to work on this issue in C++.

[2020-06-26 03:36] mar-galho commented on #49
You got it, bro!

[2020-06-26 05:18] Adityanagraj commented on #14
Can i work on this issue in python

[2020-06-26 05:57] Dhairya3124 commented on #17
@HarshCasper I'll be fine to work upon C language.

[2020-06-26 05:59] HarshCasper commented on #14
I have assigned the Issue for Java and Python to @Adityanagraj

You can start working on it. Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes ea

[2020-06-26 08:19] sparkingdark commented on #12
I want to work it on C @HarshCasper

[2020-06-26 08:24] sparkingdark opened #67 "Implementation Randomized algorithms for searching"
**Algorithm: Random search Algorithm**
- Monte carlo algorithm
- Las Vegas algorithm

[random search](https://en.wikipedia.org/wiki/Random_search)

**Languages Supported:**
- C
- C++
- C#
- javascript
- java
- python
- go
- dart

[2020-06-26 08:37] MSufiyanAG commented on #13
Can you assign me this issue? @HarshCasper
I want to work in java.

[2020-06-26 08:42] haikelfazzani commented on #16
thanks @HarshCasper

[2020-06-26 08:51] RaviAnand111 commented on #15
Hey I want to add the algorithm in java Can you assign it to me

[2020-06-26 08:55] RaviAnand111 opened #69 "[TAKEN] Add Selection Sort Algorithm"
**Algorithm: Selection Sort **

**DS:**

**Languages Supported: C, C++, Java, JavaScript, etc.**

[2020-06-26 08:56] RaviAnand111 commented on #69
@HarshCasper I want to solve this issue in java. Can you assign it to me.?

[2020-06-26 08:58] RaviAnand111 opened #70 "Add Merge Sort Algorithm"
**Algorithm: Merge Sort **

**DS:**

**Languages Supported: C, C++, Java, JavaScript, Python , etc**

[2020-06-26 08:59] RaviAnand111 commented on #70
I can solve this issue in Java. Can you assign it to me?

[2020-06-26 09:09] sparkingdark commented on #69
@HarshCasper c and c++

[2020-06-26 10:17] HarshCasper commented on #17
You can start working on it now @Dhairya3124

[2020-06-26 10:18] HarshCasper commented on #15
You can start working on it @RaviAnand111

[2020-06-26 10:19] HarshCasper commented on #13
You can work on this issue @MSufiyanAG

[2020-06-26 10:21] HarshCasper commented on #12
I have assigned you the Issue @sparkingdark

[2020-06-26 10:36] #70 closed, assigned to nobody

[2020-06-26 10:55] aniketsingh98571 opened #75 "Addition of Linked operations to c++ section."
This is to inform you regarding the addition of different operations of the linked list using c++. Please suggest if required.

[2020-06-26 11:26] SRILEKHA-V19 commented on #41
I would like to take up topological sort implementation in c++. It would be great if you could assign this task to me @HarshCasper

[2020-06-26 11:43] HarshCasper commented on #41
I have assigned you the Issue @SRILEKHA-V19

You can work on it now 🙌

[2020-06-26 13:03] sparkingdark commented on #12
Thanks ready to work

[2020-06-26 13:50] RaviAnand111 opened #82 "Can Add Merge Sort"
**Algorithm: MergeSort **

**DS: Sorting**

**Languages Supported:  C, C++, Java, JavaScript, Python **

[2020-06-26 13:54] RaviAnand111 commented on #82
I can solve this issue in Java . Can you assign it to me please

[2020-06-26 14:06] HarshCasper commented on #82
This issue is currently being worked here https://github.com/TesseractCoding/NeoAlgo/issues/18

Java is already being worked upon by @MSufiyanAG

[2020-06-26 14:07] #82 closed, assigned to nobody

[2020-06-26 14:50] MSufiyanAG commented on #18
@HarshCasper  i have raised a pull request is anything missing in it .
I am asking this because it has not been merged yet.

I also had one more doubt i am now writing code for binary search.
if i upload file before my pull request #59 is merged will it show changes there?

[2020-06-26 15:48] Apoorve73 commented on #69
@HarshCasper I want to work on this issue in Python. Can you please assign that to me?

[2020-06-26 15:50] anushkrishnav commented on #39
I can contribute for Python . Kindly assign it to me thank you

[2020-06-26 16:51] sparkingdark commented on #40
want to work in c and python. @HarshCasper

[2020-06-26 17:47] atarax665 commented on #47
I'll like to take this issue in C++ and python.

[2020-06-26 18:25] mar-galho commented on #75
Would you please elaborate some more? It becomes easier for us to help once we understand the issue better! Thanks!

[2020-06-26 18:26] mar-galho commented on #69
Please, make sure to respond to this issue once you've uploaded your code :)

[2020-06-26 19:15] mar-galho commented on #47
I'm taking this in Java and uploading it right now.

[2020-06-26 20:15] UtkarshChaurasia commented on #16
@HarshCasper bubble sort in java is already added.

[2020-06-26 20:17] UtkarshChaurasia commented on #69
@HarshCasper Can I work on this in Javascript.

[2020-06-26 20:22] mar-galho commented on #69
Great! Please, go ahead @UtkarshChaurasia !

[2020-06-26 20:24] mar-galho commented on #67
Hi! Will you be doing this for any language?

[2020-06-26 20:32] mar-galho commented on #17
@asaxena012 , you can submit the C++ implementation to it.

[2020-06-26 20:36] mar-galho commented on #16
We need the implementation for C# - also, if you guys want to work in any other language, just go ahead and create the folder, update the main README.md to include the language and submit it :)

[2020-06-27 01:33] sparkingdark commented on #67
# C and python if possible

[2020-06-27 01:35] mar-galho commented on #67
Alright, game on!

[2020-06-27 01:49] sparkingdark commented on #67
Yeah let's do it @ricardoprins

[2020-06-27 03:51] HarshCasper opened #124 "Add Pre-Order Tree Traversal"
**Algorithm:**

[Pre-Order Tree Traversal](https://en.wikipedia.org/wiki/Tree_traversal)

**DS:**

Trees

**Languages Supported:**

- C
- C++ [ Assigned to @chaitanya003 ]
- C#
- Java [ Assigned to @chaitanya003 ]
- Javascript
- Python

[2020-06-27 03:53] HarshCasper opened #125 "Add Post-Order Tree Traversal"
**Algorithm:**

[Post-Order Tree Traversal](https://en.wikipedia.org/wiki/Tree_traversal)

**DS:**

Trees

**Languages Supported:**

- C [ Assigned to @gaushikmr ]
- C++ [ Assigned to @chaitanya003 ]
- C#
- Java [ Assigned to @chaitanya003 ]
- Javascript
- Python [ Assigned to @GSNCodes ]

[2020-06-27 03:54] HarshCasper opened #126 "Add In-Order Tree Traversal"
**Algorithm:**

[In-Order Tree Traversal](https://en.wikipedia.org/wiki/Tree_traversal)

**DS:**

Trees

**Languages Supported:**

- C [ Assigned to @gaushikmr ]
- C++ [ Assigned to @chaitanya003 ]
- C#
- Java [ Assigned to @chaitanya003 ]
- Javascript
- Python [ Assigned to @GSNCodes ]

[2020-06-27 03:56] HarshCasper opened #127 "Add Binary Search Tree"
**Algorithm:**

[Binary Search Tree](https://en.wikipedia.org/wiki/Binary_search_tree)

**DS:**

Trees

**Languages Supported:**

- C [ Assigned to @jivthesh ]
- C++ [ Assigned to @jivthesh ]
- C#
- Java [ Assigned to @sd2001 ]
- Javascript
- Python [ Assigned to @sd2001 ]

[2020-06-27 03:57] HarshCasper opened #128 "Add a Code to calculate height of a given Binary Tree"
**Algorithm:**

Add a Code to calculate the height of a given Binary Tree

**DS:**

Trees

**Languages Supported:**

- C
- C++ [ Assigned to @asaxena012 ]
- C#
- Java
- Javascript
- Python [ Assigned to @srinivasdasu24 ]

[2020-06-27 03:58] HarshCasper opened #129 "Add a Code to Calculate the Depth of the Tree"
**Algorithm:**

Calculate the Depth of the Tree

**DS:**

Trees

**Languages Supported:**

- C
- C++
- C#
- Java
- Javascript
- Python [ Assigned to @GSNCodes ]

[2020-06-27 03:59] HarshCasper opened #130 "Add AVL Tree"
**Algorithm:**

[AVL Tree](https://en.wikipedia.org/wiki/AVL_tree)

**DS:**

Trees

**Languages Supported:**

- C
- C++
- C#
- Java
- Javascript
- Python

[2020-06-27 04:05] HarshCasper opened #131 "Add Spanning Tree"
**Algorithm:**

[Spanning Tree](https://en.wikipedia.org/wiki/Spanning_tree)

**DS:**

Trees

**Languages Supported:**

- C
- C++
- C#
- Java
- Javascript
- Python

[2020-06-27 04:16] HarshCasper opened #132 "Add Segment Tree"
**Algorithm:**

[Segment Tree](https://en.wikipedia.org/wiki/Segment_tree)

**DS:**

Trees

**Languages Supported:**

- C
- C++
- C#
- Java
- Javascript
- Python

[2020-06-27 04:17] HarshCasper opened #133 "Add Fenwick Tree"
**Algorithm:**

[Fenwick Tree](https://en.wikipedia.org/wiki/Fenwick_tree)

**DS:**

Trees

**Languages Supported:**

- C [ Assigned to @gaushikmr ]
- C++
- C#
- Java
- Javascript
- Python

[2020-06-27 04:18] HarshCasper opened #134 "Add TRIE Data Structure"
**Algorithm:**

[TRIE Data Structure](https://en.wikipedia.org/wiki/Trie)

**DS:**

Trees

**Languages Supported:**

- C
- C++ [ Assigned to @16priyesh ]
- C#
- Java [ Assigned to @16priyesh ]
- Javascript
- Python [ Assigned to @16priyesh ]

[2020-06-27 05:11] 16priyesh commented on #134
I have coded lots of tries in c++. So, I can write code for trie data structure in c++. I maybe able to convert it to java and python as well since I have a little experience with these languages.

[2020-06-27 05:13] HarshCasper commented on #134
I have assigned you the Issues in C++, Java and Python @16priyesh

You can start working on it. Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes

[2020-06-27 05:26] sd2001 opened #136 "[ALGO/DS] Name : Adding a perceptron layer in Python"
**Algorithm:**
A perceptron is a neural network unit (an artificial neuron) that does certain computations to detect features or business intelligence in the input data
Perceptron is a function that maps its input “x,” which is multiplied with the learned weight coefficient; an output value ”f(x)”is generated.

 f(x)={1, wx+b>0
          0, else

In the equation given above:

“w” = vector of real-

[2020-06-27 05:38] sd2001 commented on #127
Please can I start working on the binary search tree using Java and Python?

[2020-06-27 05:39] keshav304 opened #137 "Sieve of Eratosthenes method, for computing prime number"
**Algorithm:**
In mathematics, the sieve of Eratosthenes is an ancient algorithm for finding all prime numbers up to any given limit.

It does so by iteratively marking as composite (i.e., not prime) the multiples of each prime, starting with the first prime number,

The multiples of a given prime are generated as a sequence of numbers starting from that prime, with a constant difference between t

[2020-06-27 06:35] asaxena012 commented on #137
@HarshCasper @ricardoprins Please assign this issue to me in C++. Thanks.

[2020-06-27 07:35] sparkingdark opened #141 "Implementation of Brick Sort/ Odd even sort"
**Algorithm: Implementation Of [Brick Sort](https://en.wikipedia.org/wiki/Odd%E2%80%93even_sort)**

an odd–even sort or odd–even transposition sort (also known as brick sort or parity sort) is a relatively simple sorting algorithm, developed originally for use on parallel processors with local interconnections. It is a comparison sort related to bubble sort,   It is a comparison sort related to bu

[2020-06-27 09:06] ShubhamRattra commented on #44
I would like to take issue for c, c++, java and python.

[2020-06-27 09:08] MSufiyanAG commented on #12
@ricardoprins  i would like to work on this in java . and i completed #13 please merge it  its pr is #138 .

[2020-06-27 09:36] asaxena012 commented on #128
@HarshCasper Could you assign me this issue? I'll code in C++.

[2020-06-27 09:38] HarshCasper commented on #128
I have assigned you the Issue. You can start working on it @asaxena012 💥

[2020-06-27 09:39] HarshCasper commented on #12
I have assigned you the Issue. You can start working on it @MSufiyanAG 💥

[2020-06-27 09:41] HarshCasper commented on #44
I have assigned you the Issue. You can start working on it @ShubhamRattra 💥

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to rev

[2020-06-27 09:43] HarshCasper commented on #127
I have assigned you the Issue. You can start working on it @sd2001 💥

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also, reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-27 09:45] #136 closed, assigned to nobody

[2020-06-27 10:18] chaitanya003 commented on #126
Could I do this in C++ and Java ?
@HarshCasper

[2020-06-27 10:18] chaitanya003 commented on #125
Could I do this in C++ and Java ?
@HarshCasper

[2020-06-27 10:18] chaitanya003 commented on #124
Could I do this in C++ and Java ?

[2020-06-27 11:01] HarshCasper commented on #124
I have assigned you the Issue @chaitanya003

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-27 11:01] HarshCasper commented on #126
I have assigned you the Issue @chaitanya003

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-27 11:01] HarshCasper commented on #125
I have assigned you the Issue @chaitanya003

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-27 11:01] Himanshu70565 commented on #132
Can I work for implementing segment tree in java?

[2020-06-27 11:05] HarshCasper commented on #137
Thanks for making this Issue @keshav304 and carrying the true spirit of Open-Source 👀

I have assigned the Issue in C++ to @asaxena012 and in Python to @keshav304. You can start working on it now.

[2020-06-27 11:07] HarshCasper commented on #141
Would you like to work on it @sparkingdark ?

[2020-06-27 11:08] HarshCasper commented on #132
I have assigned you the Issue @Himanshu70565

You can start working on it.

[2020-06-27 11:22] sparkingdark commented on #141
Assign  me the python.

[2020-06-27 12:58] priyanka2109 commented on #46
Assign it to me for c++.

[2020-06-27 13:00] priyanka2109 commented on #45
Please assign it to me for c++

[2020-06-27 13:08] priyanka2109 opened #147 "Implement Level order traversal of tree"
**Algorithm:**

**DS:**
Queue
**Languages Supported:**

- c
- c++ [@priyanka2109]
- java [@Vrindagupta6828]
- python [@GSNCodes ]
- javascript

-

[2020-06-27 13:08] priyanka2109 commented on #147
Please assign it to me in c++

[2020-06-27 13:46] HarshCasper commented on #45
I have assigned you the Issue on C++. You can start working on it @priyanka2109

[2020-06-27 14:00] sparkingdark opened #149 "Implementation of stack with different operations"
**DS:Stack**

**Languages Supported:**
- C
- C++ [@harsh-9in]
- C#
- java
- JavaScript
- python [@GSNCodes ]
- go [@VijayaGB98]
- dart

[2020-06-27 14:01] sparkingdark opened #150 "Implementation of queue"
**DS:Queue**

**Languages Supported:**
- C
- C++
- C#
- Java
- JavaScript
- Python
- Go
- Dart

[2020-06-27 15:30] omonimus1 opened #154 "[SUGGESTION] Improve structure of repo"
For every language, we should add a folder for every data structure and inside this folder, all the implementation of the algorithms related to this D.S.

[2020-06-27 15:57] mar-galho commented on #154
We will add more folders once we have more code :)

[2020-06-27 16:04] jivthesh commented on #141
Assign me c

[2020-06-27 16:30] jivthesh commented on #150
can i work in this using c ?

[2020-06-27 16:50] jivthesh commented on #127
can I start working on the binary search tree using c and c++ ?

[2020-06-27 16:55] jivthesh commented on #127
and python

[2020-06-27 17:07] TanyaAggrawal commented on #43
I would like to take this issue for c, c++, java and python.

[2020-06-27 17:18] vgb-codes commented on #149
@HarshCasper @ricardoprins
I can do it in Go.

[2020-06-27 17:19] sparkingdark opened #164 "Counting Sort Implementation"
**Algorithm: [Counting Sort](https://en.wikipedia.org/wiki/Counting_sort)**
In computer science, counting sort is an algorithm for sorting a collection of objects according to keys that are small integers; that is, it is an integer sorting algorithm.

**Languages Supported:**

- C [@m-code12]
- C++ [@harsh-9in ]
- C#
- Java [@shobhu98]
- Python [@srinivasdasu24 ]
- Javascript
- Go

[2020-06-27 17:22] mar-galho commented on #149
@VijayaGB98, you can go with Go then XD

[2020-06-27 17:32] omonimus1 commented on #154
@ricardoprins  it will require more time later on doing this. If we just do this structural update now,  we will need to update few rows for every README file :)

Then we can just update the **how to contribute and checklist for pull request**, and for all the other pull requests in the future it will be automatically done by contributors :) (saving us a lot of time and avoiding effort.

[2020-06-27 17:33] mar-galho commented on #154
I have bots to run it, I can do it in less than a second, actually. It won't be an issue. It's just to make sure that we use the best folder structure - there are conflicting suggestions on which to use

[2020-06-27 18:47] asaxena012 commented on #128
@HarshCasper  I have created a PR for this issue. There is some conflict in the update that I made in README.md.
Please have a look.

[2020-06-28 03:16] HarshCasper commented on #43
I have assigned you the Issue on C, C++, Java and Python. You can start working on it @TanyaAggrawal

[2020-06-28 03:19] HarshCasper commented on #127
You can work on it in C and C++ @jivthesh 🙌

[2020-06-28 04:54] Himanshu70565 commented on #137
@HarshCasper I would like to work in java.

[2020-06-28 06:32] harsh7in commented on #164
Plz assign this algorithm issue for c++

[2020-06-28 06:34] harsh7in commented on #149
Can I work on this using c++?

[2020-06-28 09:46] sparkingdark opened #176 "Tim sort implementation"
**Algorithm: [Tim sort](https://en.wikipedia.org/wiki/Timsort)**

Tim sort is a hybrid stable sorting algorithm, derived from merge sort and insertion sort, designed to perform well on many kinds of real-world data. It was implemented by Tim Peters in 2002 for use in the Python programming language. The algorithm finds sub-sequences of the data that are already ordered (runs) and uses them to sort

[2020-06-28 09:55] sparkingdark opened #177 "Adaptive Shivers sort implementation (New sorting published in research paper)"
**Algorithm: [Adaptive Shivers sort](https://epubs.siam.org/doi/abs/10.1137/1.9781611975994.101)**

We present a new sorting algorithm, called adaptive ShiversSort, that exploits the existence of monotonic runs for sorting efficiently partially sorted data. This algorithm is a variant of the well-known algorithm TimSort, which is the sorting algorithm used in standard libraries of programming lang

[2020-06-28 10:31] GSNCodes opened #178 "Kadane's Algorithm"
**[Kadane's Algorithm](https://en.wikipedia.org/wiki/Maximum_subarray_problem)**
Used for finding the longest contiguous sub-array sum.

**Languages supported**
- Python
- C [@raksha009]
- CPP
- Java
- C#
- Golang
- JavaScript

[2020-06-28 10:33] GSNCodes commented on #126
Ready to implement this in Python!
@HarshCasper

[2020-06-28 10:33] GSNCodes commented on #124
Ready to implement this in Python!
@HarshCasper

[2020-06-28 10:33] GSNCodes commented on #125
Ready to implement this in Python!
@HarshCasper

[2020-06-28 11:19] harsh7in commented on #178
@GSNCodes Can I work on it?

[2020-06-28 11:20] harsh7in commented on #40
@HarshCasper Can I work on it using c++

[2020-06-28 11:34] GSNCodes commented on #178
@harsh-9in
Hey!
I'm not a reviewer. I've raised an Issue so that it can be assigned to me to work on.
You can maybe ask the reviewer to assign the same in another language.

[2020-06-28 11:37] harsh7in commented on #178
okay, No Problem :)

[2020-06-28 11:44] Himanshu70565 commented on #40
@HarshCasper  Can I work for implementation in java ?

[2020-06-28 13:12] sparkingdark commented on #15
assign me the javascript

[2020-06-28 16:03] 16priyesh commented on #134
remote: Permission to TesseractCoding/NeoAlgo.git denied to 16priyesh.
fatal: unable to access 'https://github.com/TesseractCoding/NeoAlgo.git/': The requested URL returned error: 403

I'm haven't been able to sort it out since yesterday. I followed the What is Pull Request and how to do it guide on the README of this repo.
Sorry for the delay caused by me.

[2020-06-28 16:42] atarax665 commented on #137
I would like to take this issue in C.

[2020-06-28 16:50] Sanketwable commented on #11
I want to work on this

[2020-06-28 16:53] KamalDGRT commented on #11
Me too.
And I think it is best to store the code for each algorithm of go language in a separate folder.
This is because, when 2 .go files are in the same folder, the execution of the same will result in error.

[2020-06-28 17:11] Sanketwable commented on #11
That's a good idea.  I was thinking of generating different packages for each algo. And can be accessed by the single main package. So there will be no error generated and everyone will be able to access the packages by importing github.com/TesseractCoding/NeoAlgo/"Folder-Name".

[2020-06-28 17:16] srinivasdasu24 commented on #128
@HarshCasper could you assign this issue I will code in python

[2020-06-28 17:19] srinivasdasu24 commented on #150
@sparkingdark can you assign this issue, I will code in python

[2020-06-28 17:19] srinivasdasu24 commented on #150
@sparkingdark can you assign this issue, I will code in python

[2020-06-28 17:22] srinivasdasu24 commented on #18
@HarshCasper can you assign this issue to me ,I will code in python

[2020-06-28 22:54] mar-galho commented on #178
Hi! @harsh-9in would you be able to write the code in another language?

[2020-06-28 22:54] mar-galho commented on #178
@GSNCodes, you can submit the algo in Python :)

[2020-06-28 23:04] mar-galho commented on #177
Awesome! Wanna take it in which language? I'll take it as well, since this is new to me :D

[2020-06-28 23:12] mar-galho commented on #149
Sure!

[2020-06-28 23:14] mar-galho commented on #15
game on, @sparkingdark !

[2020-06-28 23:15] mar-galho commented on #137
Whoever is working on this, you'll get a special mention if you implement not only the original sieve, but also some of its variations :D

[2020-06-28 23:16] mar-galho commented on #137
@Himanshu70565 and @atarax665 , game on!

[2020-06-28 23:17] mar-galho commented on #11
Makes sense to me!

[2020-06-28 23:24] mar-galho commented on #18
Someone already submitted it for Python :(

[2020-06-29 01:30] sparkingdark commented on #177
Obviously C++....@ricardoprins

[2020-06-29 02:39] Gaushikmr commented on #126
Can u assign me to do this in C and python

[2020-06-29 02:40] Gaushikmr commented on #125
Can u assign me to do this in C and Python.

[2020-06-29 02:46] Gaushikmr commented on #133
Can I do this in C

[2020-06-29 02:58] HarshCasper commented on #133
I have assigned you the Issue @gaushikmr 🙌

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-29 02:59] HarshCasper commented on #125
I have assigned you the Issue @GSNCodes and @gaushikmr in your preferred languages 🙌

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for

[2020-06-29 03:01] HarshCasper commented on #126
I have assigned you the Issue @GSNCodes and @gaushikmr in your preferred languages 🙌

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for

[2020-06-29 03:14] HarshCasper commented on #128
I have assigned you the Issue @srinivasdasu24

You can start working on it.

[2020-06-29 03:23] HarshCasper commented on #134
Hello, @16priyesh

Can you please let us know what was the Issue. Probably you tried to push directly to the Master which caused the error. We are here to help you sort this out and make your Contribution smooth.

[2020-06-29 06:03] harsh7in commented on #178
@ricardoprins I can submit it Using c++.

[2020-06-29 13:46] sparkingdark opened #195 "Bilinear Search implementation"
**Algorithm: [Bilinear Search](https://www.ijcsmc.com/docs/papers/December2015/V4I12201543.pdf)**

It's a variation of linear search to search a element in an list/array.It search from both side.

**Languages Supported:**
* C [@sparkingdark ]
* C++
* Python [@sparkingdark ]
* Java
* Javascript
* GO

[2020-06-29 13:48] sparkingdark commented on #195
assign me in C and python @ricardoprins

[2020-06-29 15:45] Sanketwable commented on #11
Please assign this issue so that I can start contributing.

[2020-06-29 17:29] harsh7in opened #199 "Euclid Algorithm for finding GCD"
**Algorithm:**  Euclid Algorithm

For finding Greatest common divisor

**Languages Supported:**

C [@Vrindagupta6828]
C++ [@harsh-9in ]
python [@GSNCodes ]
java [@rohitm131]
javascript

[2020-06-29 17:33] harsh7in commented on #199
Hello reviewers,
May I work on this issue using C++.

[2020-06-29 18:29] mar-galho commented on #177
Alright, I'll challenge myself and try to do it in Java then

[2020-06-29 18:30] mar-galho commented on #178
Perfect, game on @harsh-9in !

[2020-06-29 18:32] mar-galho commented on #195
you got it!

[2020-06-29 18:33] mar-galho commented on #11
awesome! let's do it!

[2020-06-29 22:50] mar-galho commented on #178
Alright, is anyone here up for a challenge?

[2020-06-30 00:52] mar-galho commented on #11
Alright, before we go ahead, we need to discuss a few things.

If we add a "one-folder-per-code" model, we'd end up with a reasonably complex structure...
However, if we keep just the "one folder per topic" model, we'll need that every person looking for code understands that they'd be browsing the repo for code only, and that they'll need to place the code within the proper structure in their own

[2020-06-30 01:39] sparkingdark commented on #177
Great @ricardoprins

[2020-06-30 02:47] Sanketwable commented on #11
"one-folder-per-topic" will be preferred by me because it will also help users import packages. As I mentioned before.
https://github.com/TesseractCoding/NeoAlgo/issues/11#issuecomment-650795225

I also prefer the second model.

[2020-06-30 04:59] anushkrishnav opened #205 "[BUG] Pallindrome_Index.py"
HackerRank
The code for the [Palindrome Index](https://www.hackerrank.com/challenges/palindrome-index/problem)
doesnt pass all test cases .Need to be optimised .I can issue a PR to Optimise it .
Test case 7- fails .

[2020-06-30 05:46] GSNCodes commented on #199
I could work on the same in Python :)

[2020-06-30 08:57] harsh7in opened #210 "Implement Priority Queue"
**DS:**   Priority Queue

**Languages Supported:**
C
C++ [@harsh-9in ]
C#
python
java [@rohitm131 ]

[2020-06-30 08:58] harsh7in commented on #210
Hey @HarshCasper ,
May I work on this issue using C++.

[2020-06-30 09:01] harsh7in commented on #199
@HarshCasper  ??

[2020-06-30 09:15] harsh7in commented on #164
@sparkingdark ??

[2020-06-30 09:16] sparkingdark commented on #164
@ricardoprins please assign the issue to @harsh-9in .

[2020-06-30 12:25] MSufiyanAG commented on #149
@ricardoprins I want to do this in java

[2020-06-30 12:28] MSufiyanAG commented on #150
@ricardoprins  I want to work on this in java.

[2020-06-30 12:36] kulsoomzahra commented on #40
@HarshCasper Can i work on this in C?

[2020-06-30 12:38] kulsoomzahra commented on #39
@HarshCasper Can you assign this issue to me? for C

[2020-06-30 17:27] GSNCodes commented on #147
Hi @HarshCasper I can work on this in Python

[2020-06-30 17:30] GSNCodes commented on #129
Hi @HarshCasper I can work on this in Python

[2020-06-30 20:18] harsh7in opened #216 "Coin Change Problem Using DP"
**Algorithm:** Dynamic Programming

**Languages Supported:**
C [@anshul7sh]
C++ [@harsh-9in ]
Java [@Huzaib]
Javascript
Python [@Alifbhanvadiya14]

[2020-06-30 20:19] harsh7in commented on #216
@HarshCasper May I work on this issue using C++ ?

[2020-06-30 21:51] mar-galho commented on #164
@harsh-9in you're game!

[2020-06-30 21:52] mar-galho commented on #149
@MSufiyanAG awesome!

[2020-06-30 21:53] mar-galho commented on #150
So, we have:
@jivthesh - C
@srinivasdasu24  - Python
@MSufiyanAG - Java

[2020-07-01 05:52] GSNCodes commented on #149
I can work on this in Python!

[2020-07-01 06:37] HarshCasper commented on #129
I have assigned you the Issue. You can work on it @GSNCodes

[2020-07-01 06:41] HarshCasper commented on #39
I have assigned you the Issue @kulsoomzahra and @anushkrishnav

You can start working on the same

[2020-07-01 06:41] HarshCasper commented on #40
I have assigned you the Issue. You all can start working on them

[2020-07-01 09:23] harsh7in opened #218 "Segmented Sieve"
**Algorithm:** Segmented Sieve
 An extension of sieve

**Languages Supported:**
C
C++ [@harsh-9in ]
Java
Python

[2020-07-01 09:25] harsh7in commented on #218
@ricardoprins Can I work on this issue using C++.

[2020-07-01 16:01] mar-galho commented on #149
Great!

[2020-07-01 16:01] mar-galho commented on #218
Sure!

[2020-07-02 04:08] #205 closed, assigned to nobody

[2020-07-02 04:15] anushkrishnav commented on #39
[

]
Someone has already got it done ,But its not very optimal.- Python

[2020-07-02 06:07] rohitm131 commented on #210
@HarshCasper
Can i work on this issue using java

[2020-07-02 06:08] rohitm131 commented on #199
can i work on the same in java ?

[2020-07-02 06:12] rohitm131 commented on #125
@HarshCasper
Can i do this in Java ?

[2020-07-02 06:28] rohitm131 commented on #125
ok

[2020-07-02 11:46] iamrajiv opened #228 "Binary Exponentiation"
**Algorithm:**

Binary Exponentiation

**Languages Supported:**

C [@iamrajiv ] #239
CPP [@iamrajiv ] #239
Java [@SangeetaMishra] #367
Python [@SangeetaMishra] #367

[2020-07-02 19:56] mar-galho commented on #228
Alright!

[2020-07-03 06:03] Gaushikmr commented on #133
#133 done in c.

[2020-07-03 16:26] rohitkumar-rk commented on #39
I can contribute for Java.

[2020-07-03 16:42] harsh7in opened #235 "Rod Cutting Problem"
**Algorithm:** Dynamic Programming

**DS:**

**Languages Supported:**
C
C++
Java
Python

[2020-07-03 16:56] srinivasdasu24 commented on #128
@HarshCasper  Created pull reuqest https://github.com/TesseractCoding/NeoAlgo/pull/236 for Height of a given binary tree in python

[2020-07-03 16:57] srinivasdasu24 commented on #150
@ricardoprins created pull request https://github.com/TesseractCoding/NeoAlgo/pull/234 for queue implementation in python

[2020-07-05 03:44] HarshCasper commented on #39
@anushkrishnav Can you please explain how you can optimize this further?

I have assigned you the Issue @rohitkumar-rk

You can start working on this

[2020-07-05 08:55] iamrajiv opened #241 "Optimizing Sieve of Eratosthenes"
The code for `Sieve of Eratosthenes` program in `C` and `CPP` is not efficient and can be improved much by using `boolean` instead of `int` also using dynamic array will help in for the large value of `n`.

[2020-07-05 13:24] atarax665 commented on #47
@ricardoprins Hard or medium, any one of the label should be removed.

[2020-07-05 17:38] mar-galho commented on #241
I believe that, for the learning process, you should add your code under the existing file, making comments on why the changes are good for the code.

Are you aware about the variations on the Sieve of Erastosthenes? If you could implement them as well it would be great :)

I'll try to also add other sieves to other languages - I've added my code for the Sieve of Atkin in Java

[2020-07-06 05:50] anushkrishnav commented on #39
1There are too many unwanted functions .
2 No clear info for User on what values he/she needs to enter .
3 defaultdict from collections module can be used
Issued a PR will be easy for you  to compare
Improved DFS #242
Thanks for your time :) .

[2020-07-06 06:43] rohitkumar-rk commented on #39
I used the same function break-up as In BFS (Already in your repo)  to make sure they are similar and Isn't it better to write modular code?
Also  Input is taken in similar way.
Can you please elaborate 3rd Point.

[2020-07-06 20:27] vgb-codes opened #244 "[ALGO/DS] Ackerman Function"
Ackerman Function
![image](https://user-images.githubusercontent.com/25801504/86638675-ccf2bf00-bfe8-11ea-99da-512441e4e195.png)

Math
C
C++ [@yogesh-kansal ]
C#
Python
Java
Golang
Javascript

[2020-07-06 21:25] vgb-codes commented on #130
I can do this in Python.

[2020-07-06 21:30] vgb-codes commented on #150
@ricardoprins I can do it in Go.

[2020-07-07 08:49] srinivasdasu24 commented on #129
Hi @HarshCasper, I can work on this problem in CPP language

[2020-07-07 08:51] srinivasdasu24 commented on #164
Hi @ricardoprins  I can solve this problem in python and CPP. Can you please assign me the issue

[2020-07-07 13:02] rohitkumar-rk commented on #128
I can contribute for Java.

[2020-07-07 18:17] atarax665 opened #249 "Extended Euclid Algorithm"
**Algorithm:**
Extended Euclid Algorithm

**Languages Supported:**
C
CPP [@atarax665 ]
C#
Java [@Himanshu70565]
JavaScript
Python [@atarax665]
Golang

[2020-07-07 18:18] atarax665 commented on #249
@ricardoprins I would like to work on this issue in C++ and python.

[2020-07-08 14:24] vgb-codes commented on #249
@atarax665 Go ahead! C++ and Python

[2020-07-08 14:45] vgb-codes commented on #210
@harsh-9in Go ahead with C++.
@rohitm131  Go ahead with Java.

[2020-07-08 14:50] vgb-codes commented on #199
@harsh-9in Please go ahead with C++
@GSNCodes  Please go ahead with Python
@rohitm131 Please go ahead with Java

[2020-07-08 14:57] vgb-codes commented on #216
@harsh-9in Please go ahead with C++.

[2020-07-08 15:01] vgb-codes commented on #164
@srinivasdasu24 CPP has been assigned already. I will assign you to python.

[2020-07-08 15:07] vgb-codes commented on #141
@sparkingdark Go ahead with Python
@jivthesh  Go ahead with C

[2020-07-09 17:14] m-code12 commented on #164
I can implement this in C. Please assign it to me.

[2020-07-10 00:42] parjanyaacoder commented on #178
Hello everyone, I am new to this repository. It will be my first contribution to this repo.
@ricardoprins
Can I work on this issue in Java.

[2020-07-10 01:05] parjanyaacoder opened #254 "Pancake Sorting"
Pancake Sorting

An Algorithm to sort an array by on;y reversing a part of the array or the whole array.

Java [@parjanyaacoder]
C [@santushtisharma10]
C++ [@kashika3101]
Python [@Ajay0511]

[2020-07-10 01:06] parjanyaacoder commented on #254
I would like to work on this issue in Java.

[2020-07-10 03:56] vgb-codes commented on #254
@parjanyaacoder Go ahead with Java

[2020-07-10 04:45] Himanshu70565 commented on #249
@VijayaGB98  I would like to work in Java.

[2020-07-10 04:54] parjanyaacoder commented on #254
Solved in Java by #255
I hope I have done everything. @VijayaGB98 Pls check. Also I have commented on #178 Please assign me.

[2020-07-10 17:59] vgb-codes commented on #249
@Himanshu70565 Please go ahead.

[2020-07-12 06:58] Vrindagupta6828 opened #260 "Numpy Library"
**Algorithm:** Image analysis by numpy

**DS:**

**Languages Supported:** Python

[2020-07-12 06:59] Vrindagupta6828 commented on #260
I want to work on it @HarshCasper

[2020-07-12 07:02] Vrindagupta6828 opened #261 "Data Preprocessing in ML"
**Algorithm:** Data preprocessing in ml

**DS:**

**Languages Supported:** Python

[2020-07-12 07:02] Vrindagupta6828 commented on #261
I want to work on it @HarshCasper

[2020-07-13 03:03] HarshCasper commented on #261
Hello @Vrindagupta6828

Thanks for raising this issue. We want to specifically know what sort of Preprocessing you want to work on. Will you be making Scripts for that or will you be showcasing a Jupyter Notebook to show how Preprocessing is done.

[2020-07-13 03:29] Vrindagupta6828 commented on #261
Hello @harshcasper
I will be showcasing a jupyter notebook to show how preprocessing is done befor applying any ml model.

[2020-07-13 09:05] HarshCasper commented on #261
I would like to have suggestions from @VijayaGB98 and @ricardoprins here about these Issues.

[2020-07-13 14:23] mar-galho commented on #261
Well, this is such a complex topic, and rich of possibilities, that I find it highly unlikely that this can be contained in a small file.

@Vrindagupta6828 how familiar are you with ML basic concepts? Would you be interested in helping us in another Tesseract Coding project related to this topic?

[2020-07-13 15:26] parjanyaacoder commented on #178
@ricardoprins Please assign me this task.

[2020-07-13 15:43] vgb-codes commented on #261
@Vrindagupta6828

Data preprocessing is dependent on the data and the type of data used. How will you incorporate all the possibilities in a single jupyter notebook. Also data preprocessing is also domain dependent. An example I can give is for histopathology images, stain normalization is applied depending whether or not the dataset is evenly stained.

Also the preprocessing will depend on what m

[2020-07-13 15:56] vgb-codes commented on #260
What dataset and techniques will you be using?

[2020-07-13 16:59] Vrindagupta6828 commented on #261
@ricardoprins i can

[2020-07-13 17:00] Vrindagupta6828 commented on #261
@VijayaGB98 ok i get it.

[2020-07-13 17:01] Vrindagupta6828 commented on #260
Hello @VijayaGB98
I will be using a single image from my system which could be replaced by any image replacing just the path.I will use numy library to do that by creating mask and rgb intensity .

[2020-07-13 17:08] vgb-codes commented on #260
Will you be doing other functions like gamma, binarization and slicing?

[2020-07-13 17:09] vgb-codes commented on #178
@parjanyaacoder Go ahead with Java.

[2020-07-13 17:37] Gaushikmr commented on #254
I would like to work on this issue on C and python

[2020-07-14 07:13] Vrindagupta6828 commented on #260
@VijayaGB98 yes a little bit

[2020-07-14 08:21] parjanyaacoder opened #269 "Bead Sort"
Bead Sort Implementation

Bead Sort also known as Gravity sort is an algorithm to sort an array.

Java (@parjanyaacoder)
Python (@anushkrishnav)
C#
C++
C
JavaScript

[2020-07-14 08:22] parjanyaacoder commented on #269
@anushkrishnav  @ricardoprins @VijayaGB98 Please assign this issue to me for Java.

[2020-07-14 10:36] vgb-codes commented on #260
@Vrindagupta6828 I'll assign you this issue, Me and my teammates will review it when you submit a PR.

[2020-07-14 10:38] vgb-codes commented on #269
@VijayaGB98 Alright go ahead with Java.

[2020-07-14 11:04] anushkrishnav commented on #269
@VijayaGB98 @ricardoprins  Kindly assign this issue to me (Python )

[2020-07-14 11:05] vgb-codes commented on #269
@anushkrishnav Sure go ahead with Python.

[2020-07-14 11:06] anushkrishnav commented on #269
Awesome thank you

[2020-07-14 11:51] Vrindagupta6828 commented on #260
Ok thank you

[2020-07-14 11:53] Vrindagupta6828 commented on #199
Can i work on the same in c @vijayaGB98?

[2020-07-14 11:56] Vrindagupta6828 commented on #147
Can i work on this in java @vijayaGb98?

[2020-07-14 12:09] parjanyaacoder commented on #269
Solved in Java by #270 .

[2020-07-14 12:11] vgb-codes commented on #199
@Vrindagupta6828 Yes go ahead with implementation in C.

[2020-07-14 12:15] vgb-codes commented on #147
@VijayaGB98 Go ahead with Java.

[2020-07-15 11:15] rayvantsahni opened #275 "Queue Implementation"
**DS:** Queue implementation in Python

**Languages Supported:** Python

[2020-07-15 17:27] parjanyaacoder opened #276 "Jump Search"
Jump Search

Jump Search is an algorithm to find an element in a sorted array.

Java

[2020-07-15 17:30] parjanyaacoder commented on #276
I would like to work on this issue in Java.
 @ricardoprins @VijayaGB98
Please assign it to me

[2020-07-18 11:50] parjanyaacoder opened #283 "Reverse Linked List"
**Algorithm:** To reverse a linked list.

**Languages supported:**
* C++ [@yashaswibiyahut]
* C [@Sohailsaifi]
* GO
* Python [@alifbhanvadiya14]
* Java [@parjanyaacoder]
* Javascript
* C#

[2020-07-18 11:51] parjanyaacoder commented on #283
I would like to work on this issue in Java. @ricardoprins @VijayaGB98 Please assign this issue.

[2020-07-19 09:45] Halix267 opened #285 "Adding features to Iris_Classifier_using_Keras.ipynb"
**Is your feature request related to a problem? Please describe.**
 The target column of the dataset have sequencial values and also the performance of the  model is depends on only one  test set.
**Describe the solution you'd like**
I am shuffling the values of iris dataset i.e both data and the target columns and then splitting into train and test sets.
And for evaluating the model performance i

[2020-07-19 14:29] Halix267 commented on #285
I want to work on this issue @VijayaGB98

[2020-07-20 04:36] bagladivyang03 commented on #150
Can i do this in C++

[2020-07-20 04:44] bagladivyang03 commented on #15
Can i implement this in c++

[2020-07-20 04:49] bagladivyang03 commented on #124
Can i do In C can u pls assign me this

[2020-07-20 23:06] mar-galho opened #286 "[ALGO/DS] Directed Acyclic Graph"
**Algorithm:**
 [Directed Acyclic Graph] (https://en.wikipedia.org/wiki/Directed_acyclic_graph)

This is a tough nut to crack, but I trust in the ability of our amazing contributors!

**Languages Supported:**
- Python
- Go
- C
- C++
- C+++...just kidding - C#
- Java
- JavaScript
- R?

[2020-07-20 23:06] #154 closed, assigned to mar-galho

[2020-07-21 17:05] anushkrishnav commented on #269
Solved Bead Sort in Python #287

[2020-07-22 04:32] parjanyaacoder commented on #283
Anybody please assign me this issue? Please assign I am looking forward for some serious contribution.

[2020-07-24 06:42] Vrindagupta6828 commented on #275
I want to work on this @VijayaGB98

[2020-07-24 19:01] Yash-Thakare22 commented on #283
I would like to work on this issue in C++

[2020-07-24 19:03] Yash-Thakare22 commented on #176
I would like to work on this issue in C++

[2020-07-25 11:03] Adil-Asif commented on #286
@ricardoprins i would like to give this a try in c++, can you assign me this and can you tell me how can i become a contributor for Neoalgo

[2020-07-25 20:52] mar-galho commented on #286
You're more than welcome! Just submit stuff here, and you'll already be a contributor!

[2020-07-26 14:09] HarshCasper commented on #150
Assigned to you @bagladivyang03 🙌

[2020-07-27 02:02] parjanyaacoder commented on #286
@ricardoprins Please see the issues opened by me and assign them to me.

[2020-07-27 02:05] mar-galho commented on #283
Alright! Looking forward to see your contributions!

[2020-07-27 02:06] mar-galho commented on #276
Looking forward to see your contribution!

[2020-07-27 03:46] parjanyaacoder commented on #283
Solved by #296

[2020-07-27 03:46] parjanyaacoder commented on #276
Solved by #296

[2020-07-27 10:31] Yash-Thakare22 commented on #244
I would like to work on this issue

[2020-07-28 11:01] anushkrishnav commented on #286
I will work with python . DAG would be intresting to code . @VijayaGB98 @ricardoprins

[2020-07-28 17:28] Vrindagupta6828 commented on #260
I have issued a pull request please merge it. #300

[2020-07-28 17:29] atarax665 commented on #276
@ricardoprins @VijayaGB98 I would like to work on this in C++.

[2020-07-28 17:40] atarax665 opened #301 "Intro Sort"
Intro Sort:
It is a hybrid sorting algorithm that initially uses quicksort, but switches to heap sort if the depth of the recursion is too deep, and uses insertion sort for small cases. The most popular C++ STL Algorithm- sort() used Intro sort.

### Languages:
* C++
* Python [@atarax665 ]
* C
* C#
* Javascript
* GO

[2020-07-28 18:06] mar-galho commented on #276
It will be great to have your contribution on this!

[2020-07-28 19:28] #1 closed, assigned to ashwanisng

[2020-07-28 19:29] mar-galho commented on #11
I believe this is outdated. Closing now.

[2020-07-28 19:29] #11 closed, assigned to vgb-codes, KamalDGRT, Sanketwable, mar-galho

[2020-07-28 19:32] mar-galho opened #306 "[REVIEWS] HELP NEEDED WITH ISSUES!"
As you may have noticed, we have a long list of issues here.

We need a brave soul to check whether we have any issues that have been dealt with - and please report to me whether there are any issues that may be closed (if the corresponding code has already been implemented, for example).

Since we are still looking for more reviewers for NeoAlgo, if you are interested in becoming a reviewer and h

[2020-07-29 17:17] atarax665 commented on #306
@ricardoprins I'm interested. I will be glad to help you guys in managing this repository. It will be a whole new experience for me.

[2020-07-29 18:16] #276 closed, assigned to atarax665

[2020-07-29 19:17] mar-galho commented on #306
Do you want to get started with this #306 then?

[2020-07-29 19:21] atarax665 commented on #306
Yes.

[2020-07-30 01:49] shobhu98 commented on #164
Can I  implement in Java?

[2020-07-30 14:30] #261 closed, assigned to nobody

[2020-07-30 16:56] atarax665 commented on #75
@aniketsingh98571 Can you please elaborate the issue? Else I think this issue needs to be closed @ricardoprins

[2020-07-30 17:51] atarax665 commented on #306
@ricardoprins Can I help you with reviewing codes too? There are people who have been assigned issues a month back but we haven't heard anything from them yet.

[2020-07-30 18:08] parjanyaacoder commented on #69
@ricardoprins This issue has not been solved in Java. Please assign it to me.

[2020-07-30 19:10] mar-galho commented on #164
Yes to @m-code12 and @shobhu98.

Just make sure it hasn't been implemented yet!

[2020-07-30 19:12] mar-galho commented on #75
Closing issue.

[2020-07-30 19:12] #75 closed, assigned to nobody

[2020-07-30 19:15] mar-galho commented on #69
Done - just make sure to pull/rebase the repo prior to working on it!

[2020-07-30 20:32] atarax665 commented on #12
@ricardoprins This issue needs to be closed.

[2020-07-30 20:36] atarax665 commented on #14
@Adityanagraj Are you working on this issue?

[2020-07-30 20:38] atarax665 commented on #15
@bagladivyang03 Sorry, but it has already been implemented in C++.

[2020-07-30 20:43] atarax665 commented on #39
@kulsoomzahra Are you working on this?

[2020-07-31 03:32] anushkrishnav commented on #39
@atarax665 I have reassigned the issue to you . Good luck :)

[2020-07-31 06:15] subhayu99 opened #316 "[ALGO/DS] QUEUE IMPLEMENTATION"
**Algorithm:** Queue implementation using a(n) list/array

**DS:** Queue

**Languages Supported:** Python, C

[2020-07-31 06:16] subhayu99 commented on #316
@ricardoprins I would like to implement Queue in Python & C languages.

[2020-07-31 06:55] Adityanagraj commented on #14
no i am working on other issue

[2020-07-31 08:04] rayvantsahni commented on #275
Well. But i clearly wrote "Queue" and not stacks. And they are not the same thing! @subhayu99

[2020-07-31 10:50] ChiragTutlani opened #319 "DS Priority Queue"
**DS:** Priority queue

**Languages Supported:** C++

[2020-07-31 10:50] ChiragTutlani commented on #319
I want to work on this. Please assign this to me.

[2020-07-31 17:11] atarax665 commented on #150
Queue DS has already been implemented in C++ by @ricardoprins .

[2020-07-31 17:18] atarax665 commented on #235
@harsh-9in It would be better if you can add description or link of this problem.

[2020-07-31 17:19] atarax665 commented on #254
@ricardoprins Assign @gaushikmr this issue.

[2020-07-31 18:26] #12 closed, assigned to MSufiyanAG

[2020-08-01 04:55] atarax665 commented on #275
@rayvantsahni There already exists an issue for Queue implementation. Check Issue #150

[2020-08-01 04:57] atarax665 commented on #275
@Vrindagupta6828 You can comment on issue #150 . I will assign it to you.

[2020-08-01 04:58] atarax665 commented on #275
Closing this issue duplicate issue of queue implementation.

[2020-08-01 04:58] #275 closed, assigned to nobody

[2020-08-01 05:04] atarax665 commented on #176
@YashThakare You can start working on this issue. Have a nice day.

[2020-08-01 05:59] #316 closed, assigned to nobody

[2020-08-01 06:03] subhayu99 commented on #150
@ricardoprins can I implement Queue in either C or Python?

[2020-08-01 07:39] atarax665 commented on #150
@subhayu99 You can start working on this in Python.

[2020-08-01 07:52] atarax665 commented on #195
@sparkingdark Submit a new PR for bilinear search implementation in C.

[2020-08-01 16:27] rayvantsahni opened #323 "Exponential Search"
**Algorithm:** [Exponential Search](https://en.wikipedia.org/wiki/Exponential_search)

**Languages Supported:**
* C++
* C
* Javascript
* Python [@rayvantsahni]
* C#
* GO

[2020-08-01 17:47] atarax665 commented on #323
@rayvantsahni Sure, go for it.

[2020-08-01 17:48] rayvantsahni commented on #323
Thank you

[2020-08-01 17:52] atarax665 commented on #241
@iamrajiv Are you working on this issue in C ?

[2020-08-01 17:55] atarax665 commented on #235
@harsh-9in  I am closing this issue due to lack of description.

[2020-08-01 17:55] #235 closed, assigned to nobody

[2020-08-01 18:05] iamrajiv commented on #241
@atarax665 You can work on this in C. Also, for reference, I have added C++ code in #243

[2020-08-02 07:56] Vrindagupta6828 commented on #275
@atarax665  But it is already assigned and maybe also completed there.

[2020-08-02 08:52] rayvantsahni opened #325 "Radix Sort"
**Algorithm:** [Radix Sort](https://en.wikipedia.org/wiki/Radix_sort)

**Languages Supported:**
* C++
* C
* Javascript
* C#
* Java
* Golang

[2020-08-02 10:29] atarax665 commented on #275
@Vrindagupta6828 I can see that someone opened a PR for the same before you, but no worries you can still implement Queue using linked list.

[2020-08-02 11:01] atarax665 commented on #244
@YashThakare Game on!!

[2020-08-02 14:52] rayvantsahni commented on #325
Can I work on this for Python?

[2020-08-02 17:41] Vrindagupta6828 commented on #275
Ok

[2020-08-02 17:41] Vrindagupta6828 commented on #275
@atarax665 should i comment on #150 that i want to work on it?

[2020-08-02 20:36] #150 closed, assigned to vgb-codes, subhayu99, bagladivyang03

[2020-08-02 20:41] atarax665 commented on #325
@rayvantsahni Game on!!

[2020-08-03 09:20] atarax665 commented on #301
Done

[2020-08-04 14:28] mar-galho commented on #241
Great!

[2020-08-04 15:54] iamrajiv opened #331 "Refactoring and enhancing the workflow of NeoAlgo"
**Is your feature request related to a problem? Please describe.**

Problems:

- the repositoryhas broken links across the readme files of different section.
- the wrong nomenclature of folders and files across the repository i.e. using `dp`, `sort` etc.
- grammatical and typo mistakes across repository.

**Describe the solution you'd like**

Solutions:

- fixing the broken links across all readme

[2020-08-05 01:27] atarax665 commented on #260
@Vrindagupta6828 Are you still working on this?

[2020-08-05 01:32] atarax665 commented on #46
@priyanka2109 Get started!

[2020-08-05 03:50] mar-galho commented on #331
Great ideas!

[2020-08-05 05:56] vgb-codes commented on #331
These are valid and constructive points!

[2020-08-05 06:03] vgb-codes commented on #285
These improvements are wonderful. @Halix267. Please feel free to add 1) Shuffling 2) K-fold Cross Validation and 3) Initialization of weights. Since the dataset was small, I demonstrated the use of DNN using only a few layers. If you find significant model improvement, you can add more layers.

I'm assigning you this issue.

Also please don't 'assign' the issue to individuals that you would like t

[2020-08-05 06:06] vgb-codes commented on #216
@harsh-9in Have you completed the issue?

[2020-08-05 08:01] atarax665 commented on #260
@Vrindagupta6828 Leave a comment if you are still working on it.

[2020-08-05 08:01] #260 closed, assigned to Vrindagupta6828

[2020-08-05 19:25] mar-galho commented on #285
It's not his fault. We need to fix the templates - they are assigning us automatically...let me work on that now, actually

[2020-08-05 19:28] vgb-codes commented on #285
@ricardoprins Oh then I apologize for my comment @Halix267. We will get it fixed ASAP.

[2020-08-06 10:57] parjanyaacoder opened #334 "Rabin Karp Algorithm"
**Algorithm: [Rabin-Karp Algorithm](https://en.wikipedia.org/wiki/Rabin%E2%80%93Karp_algorithm)**

**Language Supported:**
- C++ [@YashThakare ]
- C
- Java [@parjanyaacoder]
- Python [@AdityaJ7]
- C#
- Javascript
- Golang

[2020-08-06 10:57] parjanyaacoder commented on #334
@ricardoprins I would like to work on this issue in Java Language.

[2020-08-06 14:04] atarax665 commented on #334
@parjanyaacoder Here you go!

[2020-08-06 15:41] Abhijit2505 opened #336 "Linked List Algorithm Implementations"
**Algorithm:** Linked list Implementations

**DS:** Linked List

**Languages Supported:** CPP, Python

[2020-08-06 15:47] Abhijit2505 commented on #336
I would like to add all the implementations of Linked List algorithms in CPP and python.

[2020-08-06 20:49] atarax665 commented on #336
@Abhijit2505 It would be better if you create individual issues for different implementations.

[2020-08-06 23:59] Abhijit2505 commented on #336
Should I close this issue @atarax665 ?

[2020-08-07 04:26] parjanyaacoder commented on #334
Solved by pull request #340

[2020-08-07 06:30] sameersrivastava13 commented on #149
Can I work on this using C?
@ricardoprins

[2020-08-07 07:06] atarax665 commented on #336
@Abhijit2505 Yeah, create a new issues. I will be assigning you the issues there.

[2020-08-07 07:06] #336 closed, assigned to nobody

[2020-08-07 10:02] suraj0223 commented on #134
Hello @HarshCasper wanna to work on this issue in C++. Is anyone working on that.

[2020-08-07 10:52] Abhijit2505 opened #343 "Reverse Linked List"
**Algorithm:** Reversing A Linked List using Recursive and Iterative Approach

**DS:** Linked List

**Languages Supported:**
* CPP [@Abhijit2505]
* Python [@Abhijit2505]
* C [@YashThakare]
* Python
* Javascript
* C# [@YashThakare]
* Golang

[2020-08-07 10:53] Abhijit2505 commented on #343
I would like to submit both the Python and CPP approach.

[2020-08-07 12:19] atarax665 commented on #343
@Abhijit2505 Assigned, get started!

[2020-08-07 12:31] Yash-Thakare22 commented on #343
I would like to work on this issue in C++.

[2020-08-07 12:31] Yash-Thakare22 commented on #334
I would like to work on this issue in C++.

[2020-08-07 12:32] Yash-Thakare22 commented on #319
I would like to work on this issue in C++.

[2020-08-07 12:32] Yash-Thakare22 commented on #301
I would like to work on this issue in C++.

[2020-08-07 12:33] Yash-Thakare22 commented on #131
I would like to work on this issue in C++.

[2020-08-07 13:24] atarax665 commented on #343
@YashThakare Sorry, I have already assigned this issue to @Abhijit2505 in C++. You can still implement this in C though.

[2020-08-07 13:27] atarax665 commented on #334
@YashThakare Get started! Please check your existing pull requests too, you need to do some changes before we can merge it.

[2020-08-07 13:38] Yash-Thakare22 commented on #343
I would like to work on this issue in C and C#

[2020-08-07 13:43] Abhijit2505 commented on #343
I have added the CPP and Python approach and made a PR as well. Thank you.

[2020-08-07 14:03] atarax665 commented on #343
Great work.

[2020-08-07 14:04] atarax665 commented on #343
@YashThakare You can start working on this issue in C and C#.

[2020-08-08 12:41] AdityaJ7 commented on #334
I would like to work on this issue in python

[2020-08-08 16:53] atarax665 commented on #334
@AdityaJ7 Assigned! Get started.

[2020-08-08 20:26] Kathan-Vakharia commented on #14
I would like to work on C and Java version.

[2020-08-09 00:36] atarax665 commented on #14
@Kathan-Vakharia Assigned, you can start working on it.

[2020-08-09 05:59] Nagasuruthika commented on #334
Hey, I would like to work on this issue In C also I'm a HakinCode Community Can I start contributing.

[2020-08-09 06:06] Nagasuruthika commented on #323
I would like to work with C++ and Javascript - Hakincodes(P)

[2020-08-09 06:43] howdyAnkit opened #350 "[ALGO/DS] Name : Data Structures Algorithms"
**Algorithm:**
- [x] HashMap
- [x] Doubly Linked List
- [x] Queues
**DS:**

**Languages Supported:**
- [x] Javascript

[2020-08-09 07:25] AdityaJ7 commented on #334
Solved the python issue in  Pull Request #351

[2020-08-09 07:29] santushtisharma10 commented on #254
I would like to work on this issue in C and C++

[2020-08-09 11:44] vatsalkesarwani12 commented on #319
I would like to contribute to this issue in java

[2020-08-09 15:58] raksha009 opened #352 "Kadane's Algorithm in C"
Can I work Kadane's Algorithm in C?

[2020-08-09 18:07] bagladivyang03 commented on #129
Hi @HarshCasper can  i do this in C++ ?

[2020-08-10 01:24] iamrajiv opened #357 "links for C# and Q# in README are not directing to the folder"
## 🐛 Bug Report

Links for C# and Q# folder are given in `README.md` but the links are not working properly. I think the problem is with the wrong nomenclature of the folder. The link for C# folder is `/C#/README.md` but is directed to `NeoAlgo/C/` folder and for Q# folder the link is `/Q#/README.md` but it shows the folder does not exist.

But when we use the link for C# folder as`/C%23/README.md

[2020-08-10 02:09] #357 closed, assigned to nobody

[2020-08-10 11:33] GajjarMiten commented on #325
Hey @atarax665
I would like to work on it in C++ and C.

[2020-08-10 12:45] atarax665 commented on #352
@raksha009 You can comment on #178 and start working on this issue in C. I am assigning you the issue there.

[2020-08-10 12:45] #352 closed, assigned to raksha009

[2020-08-10 14:25] Nistha-tech commented on #14
Can I work on this issue in C++ ?

[2020-08-10 14:41] HarshCasper commented on #14
@Nistha-tech Contributions for HakinCodes would officially start from 16th August and you can work only on those Issue-specific for `HakinCodes`

[2020-08-10 15:56] ghost commented on #178
I also wanna contribute to this I wanna contribute to it in java
I can write a very bigneer friendly code which a student who is staring only with java can understand @VijayaGB98   please assign me

[2020-08-10 17:01] anshulontech commented on #216
@HarshCasper @VijayaGB98 May I work on this issue using **C** and **Java** ?

[2020-08-10 18:01] SangeetaMishra commented on #228
@ricardoprins  I want to work on this issue using Java and Python.

[2020-08-10 19:41] imPGupta commented on #178
Hello, I am new to this repository. I haven't contributed anything to this repo.
I can work on this issue in C, C++ & Python.
@VijayaGB98 can you please assign me this task?

[2020-08-10 20:59] iamrajiv opened #366 "allcontributors is not updating README"
## 🐛 Bug Report

allcontributors bot is not updating README file when it is called.
Related PR: #365

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2020-08-11 17:44] vinaykumar7686 commented on #323
I would like to work with Python and Java

[2020-08-11 17:46] vinaykumar7686 commented on #178
I can work on Python, C and Java.

[2020-08-11 17:52] smriti-21 commented on #178
I can work on this using C.

[2020-08-11 17:53] smriti-21 commented on #199
Can I work on this using C?

[2020-08-11 19:18] ghost commented on #16
I want to work on this in Golang

[2020-08-11 19:18] pulkitgovrani commented on #178
@ricardoprins @HarshCasper @Kajol-Kumari  Can I work on this in Javascript.

[2020-08-11 19:19] pulkitgovrani commented on #199
@HarshCasper @ricardoprins Can I can work on this in Javascript

[2020-08-11 19:21] pulkitgovrani commented on #218
@ricardoprins @HarshCasper  Can i work on this in java

[2020-08-12 04:45] Kathan-Vakharia commented on #14
I had a misunderstanding. I thought these issues are for `HakinCodes`. I would like to unassign myself on this issue!

[2020-08-12 05:32] aniketsingh98571 commented on #325
Hey @atarax665
I would like to work on this in C++

[2020-08-12 07:11] Sohailsaifi commented on #15
can you assign this issue to me I can work on this for java language?

[2020-08-12 07:13] Sohailsaifi commented on #13
can you assign this issue to me I can work on this for java language?

[2020-08-12 07:13] Sohailsaifi commented on #283
can you assign this issue to me I can work on this for c language?

[2020-08-12 07:15] Sohailsaifi commented on #319
I would like to contribute to this issue in c.

[2020-08-12 07:43] anshulontech opened #376 "Knuth–Morris–Pratt algorithm"
Algorithm :- <a href="https://en.wikipedia.org/wiki/Knuth–Morris–Pratt_algorithm">Knuth–Morris–Pratt algorithm</a>

**Language Supported**:

- Cpp [@anshul7sh]
- C
- Python [@YashThakare]
- Java
- JavaScript

[2020-08-12 07:50] anshulontech commented on #376
@HarshCasper , @atarax665 I would like to work on this issue using **C++**.

[2020-08-12 10:43] vgb-codes commented on #283
@Sohailsaifi go ahead with C

[2020-08-12 10:45] vgb-codes commented on #376
@anshul7sh go ahead with C++

[2020-08-12 11:20] piyushgoell opened #377 "Add Queue using circular array"
## 🚀 Feature

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

It is a linear data structure which follows a particular order (First in First out) and used almost everywhere .

## Pitch

Queue is used to solve many real life problem. Some of its best applications are t

[2020-08-12 14:17] aniketsingh98571 commented on #325
I am committing new file with removed white spaces

[2020-08-12 14:21] Yash-Thakare22 commented on #377
I would like to work on this issue in C

[2020-08-12 14:23] Yash-Thakare22 commented on #249
I would like to work on issue in C

[2020-08-12 14:34] ahampriyanshu commented on #18
Can I implement this algorithm in Golang.

[2020-08-12 15:35] Yash-Thakare22 commented on #216
I would like to work on this issue in C++

[2020-08-12 15:42] Yash-Thakare22 commented on #124
I would like to work on this issue in C

[2020-08-12 15:42] Yash-Thakare22 commented on #126
I would like to work on this issue in C#

[2020-08-12 15:42] Yash-Thakare22 commented on #125
I would like to work on this issue in C#

[2020-08-12 15:44] Yash-Thakare22 opened #382 "Bellman Ford Algorithm"
Bug Report

[2020-08-12 15:44] #382 closed, assigned to nobody

[2020-08-12 15:49] Yash-Thakare22 commented on #376
I would like to work on this issue in Python

[2020-08-12 15:53] vgb-codes commented on #376
@YashThakare Go ahead with Python.

[2020-08-12 17:47] viveksahu26 commented on #176
I would like to work on this issue in java.. please assign me..

[2020-08-12 17:48] sonukushwaha403 commented on #283
i would like to solve it in java please assign me
(java)

[2020-08-12 17:50] viveksahu26 commented on #301
I would like to work on this issue in java.. Please assign me this issue..

[2020-08-12 17:51] sonukushwaha403 commented on #41
i would like to work with java

[2020-08-12 17:52] viveksahu26 commented on #377
I wuould like to work on this issue in java.. kindly assign me..

[2020-08-12 17:52] sonukushwaha403 commented on #45
i would like to work on this question with JAVA

[2020-08-12 17:53] viveksahu26 commented on #343
I would like to work on this issue on java.. so, please assign me..

[2020-08-12 17:55] sonukushwaha403 commented on #141
i would like to work with this by JAVA

[2020-08-12 17:55] viveksahu26 commented on #325
I would like to work on this issue on java.. so please assign me..

[2020-08-12 17:56] sonukushwaha403 commented on #131
I would like to work on this problem with JAVA

[2020-08-12 17:56] viveksahu26 commented on #323
I would to work on this issue on java.. so , please assign me..

[2020-08-12 17:57] sonukushwaha403 commented on #46
I would like to work on this problem with JAVA

[2020-08-12 17:57] sonukushwaha403 commented on #128
I would like to work on this problem with JAVA

[2020-08-12 18:11] ghost commented on #376
I would like to work on this issue in C.

[2020-08-12 20:09] ujjawal-1999 opened #385 "Printing all paths of a binary tree that leads to a particular sum with any node as root"
**Algorithm** - To print all the paths of a binary tree that leads to a given sum with any node taken as root.

**Languages Supported**

- C [@ujjawal-1999]

- C++ [@shankhanil007]

- Java

- Python [@pradeep98]

[2020-08-12 20:10] ujjawal-1999 commented on #385
I would like to contribute to this issue in C, C++. @VijayaGB98 please assign.

[2020-08-13 03:47] raksha009 commented on #178
Hi, I created an issue #352  .. but I am not assigned the task here. Plz asssign it to me.

[2020-08-13 09:56] Lakhan-Nad commented on #127
@HarshCasper Can I start working on BInary Search Tree in Java with all inorder preorder and post order traversals

[2020-08-13 09:58] Lakhan-Nad commented on #127
I would like to implement both recursive and iterative methods for all the functions

[2020-08-13 10:23] Ahana001 opened #387 "shell sort"
Algorithm:  Shell sort

**Language Supported**

c#
c++
java
python

[2020-08-13 10:30] Ahana001 commented on #387
Can I work on this for JAVA, python,c# and c++?

[2020-08-13 11:53] salonilakhotia commented on #387
I have PR the ShellSort in JAVA..Kindly review it

[2020-08-13 12:23] Rishikeshrajrxl opened #392 "To find the kth prime factor of a given number"
## 🚀 Feature

( I have written a algorithm in c++. To find the kth prime factor of a given number.
  for our Miscellaneous  problem section. I will upload it. )

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Pitch

(Given two numbers n and k,  Find the k-th prime factor among

[2020-08-13 12:34] Ahana001 opened #393 "Floyd’s Cycle-Finding Algorithm"
## 💥 Proposal

Algorithm:  Floyd’s Cycle-Finding Algorithm

Language supported
C
Java
Python
C#
C++

[2020-08-13 12:35] Ahana001 commented on #393
Can i work on it?

[2020-08-13 14:00] Lakhan-Nad commented on #301
Hey @atarax665 I would like to work on this issue in JavaScript. I have already implemented this in C++
[check it here](https://gist.github.com/Lakhan-Nad/78f55ae9a88f6eb42902fccfd0bb267f).

[2020-08-13 15:14] sameersrivastava13 commented on #149
@sparkingdark @ricardoprins @HarshCasper
Can I work on this using C?

[2020-08-13 15:26] Rishikeshrajrxl commented on #392
sorry bro but I am  already done with it in c++, and I think C and C++ are almost similar in this code, So try some other probelm

[2020-08-13 19:16] Jyotika999 commented on #350
I want to work on Queues. Can I be assigned with this issue?

[2020-08-13 19:20] Jyotika999 commented on #47
Can i work this in C language?

[2020-08-13 19:28] iamrajiv commented on #350
@Jyotika999 Sure. I hope you have gone through, https://github.com/TesseractCoding/NeoAlgo#contributing-guidelines

[2020-08-13 19:29] Jyotika999 commented on #350
Yes Sir

[2020-08-13 19:38] Jyotika999 commented on #350
Can I work in C language?

[2020-08-13 19:38] howdyAnkit commented on #350
@iamrajiv  Can you assign me for
 HashMap
 Doubly Linked List
 Queues In Javascript?

[2020-08-14 00:37] Rishikeshrajrxl commented on #306
Hey, can somebody merge my pull request for issue #392

[2020-08-14 02:50] HarshCasper opened #398 "Welcome to HakinCodes Contributor's Hack 2020"
Hello, Everyone ✨🙌

Thanks for showing your interest in being a part of the [Contributor's Hack](https://hakincodes.tech/) 💥

We are super delighted to have you on board for your Contributions on [NeoAlgo](https://github.com/TesseractCoding/NeoAlgo) 🙌

Here are the Mentors for the Project:

| Name 📛  |      Social Media #️⃣ |  Github 🐱‍💻 |
|----------|:-------------:|------:|
| Kajol Kumari |  [Li

[2020-08-14 03:55] siddharth25pandey opened #399 "All basic functionality of Stack"
## 🚀 Feature

### Description
Implement the basic functionality of stack such as **push, pop, peek** without using **Inbuilt Functions**.
Also show Empty & Full Functions for the stack.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Please make sure that you have gone through the Contri

[2020-08-14 04:11] iamrajiv commented on #350
@Jyotika999 Queue implementation is already been done in C.

[2020-08-14 04:13] iamrajiv commented on #350
@howdyAnkit  Queue implementation is already been done in JavaScript, you can work on the implementation of HashMap and Doubly Linked List in  JavaScript.

[2020-08-14 04:21] howdyAnkit commented on #350
Can you assign me the same? @iamrajiv

[2020-08-14 05:02] Alifbhanvadiya14 commented on #283
I would like to solve it in python

[2020-08-14 05:05] Alifbhanvadiya14 commented on #399
I would like to solve in python

[2020-08-14 05:21] Alifbhanvadiya14 commented on #216
I would like to work on this issue in Python

[2020-08-14 06:08] #392 closed, assigned to nobody

[2020-08-14 06:15] Rishikeshrajrxl opened #400 "All basic functionalities of Singly Linked List"
## 💥 Description
### Singly Linked List (SLL) must contains all these features:**
 * Add a node at the front of SLL.
* Insertion, Deletion of a node at the beginning, at the end & at a given position.
* Count of total Number of nodes present
* Traversing the SLL
* Printing the data present in the node.
* Having empty & full functions checkers

### You don't have to use Inbuilt Functions. Please ma

[2020-08-14 06:16] Rishikeshrajrxl commented on #400
I will do this in C++.
Please assign me this task when contribution begin after 16th .

[2020-08-14 06:18] Rishikeshrajrxl commented on #399
Please assign me this task. I will do in c++.

[2020-08-14 07:37] sonukushwaha403 commented on #393
i would like to work with java

[2020-08-14 07:40] sonukushwaha403 commented on #343
so, please assign me.. I would like to work on this issue on by python

[2020-08-14 07:42] siddharth25pandey commented on #400
@Rishikeshrajrxl , I will assign you after the Contest will start.

[2020-08-14 08:35] Sohailsaifi commented on #400
I will do this in C.

[2020-08-14 08:37] Sohailsaifi commented on #399
I would like to do this in C.

[2020-08-14 09:41] infoarpit commented on #283
I will do this in Java.
Please assign me this task when contribution begin after 16th .

[2020-08-14 09:46] infoarpit commented on #393
I will do this in Java.
Please assign me this task when contribution begin after 16th .

[2020-08-14 10:27] Yash-Thakare22 commented on #399
I would like to do this in C++

[2020-08-14 10:27] Yash-Thakare22 commented on #400
I would like to do this in C++

[2020-08-14 10:45] Yuvraj-kadale commented on #399
Would like to make it in C and python!!

[2020-08-14 11:22] Rishikeshrajrxl commented on #400
Ok

[2020-08-14 12:05] salonilakhotia commented on #45
Can I work on java. Please assign me the issue

[2020-08-14 13:11] Jkp2072 opened #401 "Level order traversal of tree."
## 💥 Proposal

To implement level order traversal of  a tree.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

i would like to implement it in c++ for hackinCodes2020
@SKAUL05 @Kajol-Kumari @Abhijit2505 @plazzy99 @siddharth25pandey

[2020-08-14 13:12] Jkp2072 commented on #401
i would like to do it in c++

[2020-08-14 13:13] Jkp2072 commented on #393
i would like to work on it in c++

[2020-08-14 14:22] Lakhan-Nad commented on #401
I would like to do it in Java

[2020-08-14 15:37] piyushgoell opened #402 "Distance between two nodes in a tree"
### Have you read the [Contributing Guidelines on Pull Requests]
Yes

(Write your answer here.)

## Motivation

There are lot of real problems where we need to find distance between two given points or nodes.

## Pitch

Time Complexity should be O(N).

[2020-08-14 15:50] piyushgoell opened #403 "Convert a Binary Tree into Doubly Linked List"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

As every node in a **Binary Tree** has two pointer one points to left and other another points to right. Aldo in **Doubly Linked List** we have two pointers next

[2020-08-14 17:17] yashsahay25 commented on #399
Kindly assign me this task. I will do it in C.

[2020-08-14 17:25] yashsahay25 commented on #130
Kindly assign me this task. I will do this in C.

[2020-08-14 17:34] Himanshu44626748 commented on #400
I would like to do this in C

[2020-08-14 17:42] Himanshu44626748 commented on #343
I would like to do this in C

[2020-08-14 17:44] Himanshu44626748 commented on #283
I would like to do this in java. Please assign me on 16th August

[2020-08-14 17:46] Himanshu44626748 commented on #387
I would like to do this in java

[2020-08-14 17:52] anubhvshrma18 commented on #403
I would like to take this issue in C .

[2020-08-14 18:12] anubhvshrma18 commented on #402
I would like to take this issue in C.

[2020-08-14 19:39] imPGupta opened #406 "Finding number of digits in an integer"
**Algorithm: [Find number of digits in an integer](https://www.geeksforgeeks.org/program-count-digits-integer-3-different-methods/)**

**Language Supported**
- C [@Sohailsaifi]
- CPP [@sukritidawar]
- Python [@Sapna2001]
- Java  [@infoarpit]
- C# [@imPGupta]
- JavaScript [@gupta-piyush19]
- GO

[2020-08-14 19:40] imPGupta commented on #406
I want to contribute on this. Can you assign me?

[2020-08-14 20:30] ghost commented on #403
I want to work on this issue in Golang

[2020-08-15 01:03] atarax665 commented on #406
@imPGupta You need to specify that in which language you wanna work on this issue.

[2020-08-15 02:36] infoarpit commented on #406
i would like to work it in java please assign it to me
(java)

[2020-08-15 03:28] sukritidawar commented on #406
I want to work on this issue in C++

[2020-08-15 05:15] Sapna2001 commented on #406
I want to work on this issue in python

[2020-08-15 05:48] Sapna2001 opened #407 "Readme for Java folder"
## 📚 Documentation

Adding content into Readme file in Java folder

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

Please assign me this issue.

[2020-08-15 05:53] ymaheshwari1 commented on #407
I am interested in working on this.

[2020-08-15 06:04] Sohailsaifi commented on #406
I want to work on this issue in c.

[2020-08-15 06:15] Sapna2001 commented on #407
Please assign me this issue.

[2020-08-15 07:24] pradeep98 commented on #124
@HarshCasper I would like to implement it in PYTHON. I will be implementing it using both recursion and Iterative. Why iterative?  Because in recursive function has to add to the stack with each recursive call and keep the values there until the call is finished, the memory allocation is greater than that of an iterative function. This makes the implementation to exceed memory limit and at points

[2020-08-15 07:26] pradeep98 commented on #385
I'm up for this to implement in python. please assign the task. @VijayaGB98

[2020-08-15 07:30] gupta-piyush19 commented on #406
i want to work on this issue. i can work in JavaScript, C++ and C .

[2020-08-15 07:38] pradeep98 commented on #402
I would like to take this issue in PYTHON. @piyushgoell

[2020-08-15 08:18] pradeep98 commented on #126
I would like to work on this issue in PYTHON with iterative approach(Medium level).  @HarshCasper

[2020-08-15 09:28] AltCtrlDel1999 opened #409 "find the cycle in a undirected graph using disjoint sets"
## 🚀 Feature

Algorithm to detect a cycle in undirected graph by using disjoint sets

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

(Write your answer here.)

## Motivation

To understand concepts of disjoint sets

[2020-08-15 09:29] AltCtrlDel1999 commented on #409
I want to contribute to this issue in java

[2020-08-15 09:52] ujjawal-1999 opened #410 "Generating all subsequences of a given string"
Generating all subsequences using bit masking.
Languages -

[2020-08-15 09:53] ujjawal-1999 commented on #410
I'll work on the C and C++ implementation. @VijayaGB98 please assign the task.

[2020-08-15 10:28] imPGupta commented on #406
@atarax665  I want to work on this issue in C, CPP and Python.

[2020-08-15 10:34] imPGupta commented on #319
I can contribute on this in both C and CPP.

[2020-08-15 11:18] yashaswibiyahut commented on #400
Would love to do this in c++.

[2020-08-15 11:23] yashaswibiyahut commented on #399
I would like to do this in c++.
Please assign me this task.

[2020-08-15 11:46] yashaswibiyahut commented on #283
Would like to do in c++.
please assign me.

[2020-08-15 13:13] vgb-codes commented on #410
@ujjawal-1999 Go ahead. I will assign C and C++.
Make sure to follow contribution guidelines.

[2020-08-15 13:15] vgb-codes commented on #283
@infoarpit @Himanshu44626748 @sonukushwaha403 First come first serve basis so issue was solved by @parjanyaacoder in java.

[2020-08-15 13:17] vgb-codes commented on #283
@Alifbhanvadiya14 go ahead with python.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-15 13:18] vgb-codes commented on #283
@yashaswibiyahut Go ahead with C++.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-15 13:24] vgb-codes commented on #406
I apologize for accidentally closing the issue. Please hold on.

[2020-08-15 13:25] vgb-codes commented on #406
@sukritidawar Go ahead with C++.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-15 13:25] vgb-codes commented on #406
@Sapna2001 Go ahead with Python
Please follow the contribution guidelines when submitting your contribution.

[2020-08-15 13:27] vgb-codes commented on #406
@Sohailsaifi Go ahead with C.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-15 13:28] imPGupta commented on #406
@VijayaGB98 sir, Please assign me this task. I want to contribute this issue in C, CPP and Python. I have created this issue,

[2020-08-15 13:28] vgb-codes commented on #406
@gupta-piyush19 Go ahead with Javascript.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-15 13:30] vgb-codes commented on #406
@imPGupta C, C++ and Python issues have been taken. Issues are assigned on a first-come first-serve basis. If you would like to work on the issue in Go or C#. I can assign it to you.

[2020-08-15 13:31] imPGupta commented on #406
@VijayaGB98  ok sir. But I have commented first on this issue.

[2020-08-15 13:32] vgb-codes commented on #406
@imPGupta Which language do you want to contribute in. As of now I can assign you either C# or Go.

[2020-08-15 13:38] imPGupta commented on #406
@VijayaGB98 I can do this with C#

[2020-08-15 13:41] parjanyaacoder commented on #400
I would like to work on this issue in Java as a contribution to Hakin Codes. Thank You.

[2020-08-15 13:45] vgb-codes commented on #406
@imPGupta Go ahead with C#.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-15 13:52] parjanyaacoder commented on #399
I would like to work on this issue in Java as a contribution to Hakin Codes. Pls assign.

[2020-08-15 16:10] anime19 commented on #410
I would like to work in this issue in java please assign it to me.

[2020-08-15 16:15] vgb-codes commented on #410
@anime19 Go ahead with Java.
Please following the contribution guidelines when submitting your contribution.

[2020-08-15 17:25] neha07kumari commented on #283
I would like to work on this issue and solve using the language C

[2020-08-15 17:27] neha07kumari commented on #410
I would like to work on this issue using python language

[2020-08-15 17:43] gupta-piyush19 opened #411 "Adding SleepSort Algorithm in JavaScript"
## 🚀 Feature

I would like sleep sort algorithm/technique in [JavaScript Sort](https://github.com/TesseractCoding/NeoAlgo/tree/master/JavaScript/sort) Section

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation
I would like to spread my knowledge regarding this unique sort

[2020-08-15 17:54] siddharth25pandey commented on #399
## NOTE
### Allotment of issues is based on **First Come First Serve basis**. Also, A participant can work at most **two** issues at a time.

[2020-08-15 17:56] siddharth25pandey commented on #399
@Alifbhanvadiya14  Go ahead with Python.
 Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 17:58] siddharth25pandey commented on #399
@Rishikeshrajrxl  Go ahead with C++
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 17:59] siddharth25pandey commented on #399
@Sohailsaifi  Go ahead with C
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 18:03] siddharth25pandey commented on #399
@YashThakare Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-15 18:04] siddharth25pandey commented on #399
@Yuvraj-kadale Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-15 18:05] siddharth25pandey commented on #399
@yashsahay2014 Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-15 18:05] siddharth25pandey commented on #399
@yashaswibiyahut Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-15 18:06] siddharth25pandey commented on #399
@parjanyaacoder Go ahead with Java.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 18:11] siddharth25pandey commented on #400
## NOTE
### Allotment of issues is based on **First Come First Serve basis**. Also, A participant can work at most **two** issues at a time.

[2020-08-15 18:12] siddharth25pandey commented on #400
@Rishikeshrajrxl Go ahead with C++.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 18:13] siddharth25pandey commented on #400
@Sohailsaifi Go ahead with C.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 18:13] siddharth25pandey commented on #400
@YashThakare Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-15 18:14] siddharth25pandey commented on #400
@Himanshu44626748 Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-15 18:15] siddharth25pandey commented on #400
@yashaswibiyahut  Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-15 18:16] siddharth25pandey commented on #400
@parjanyaacoder Go ahead with Java.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 18:29] Himanshu44626748 commented on #406
I would like to do this in java. Please assign me.

[2020-08-15 18:33] siddharth25pandey opened #412 "Implementation of Queue using Stacks & Vice-versa"
## 🚀 Description
You have to create **Queue using Stacks** & vice-versa i.e. **Creation of Stack using Queues**.
Make sure you have to build these Programs Individually in a **single executable file**. without using **Inbuilt Functions**.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Pl

[2020-08-15 18:33] Himanshu44626748 commented on #319
I would like to work on this in java

[2020-08-15 18:36] Himanshu44626748 commented on #412
I would like to do this in java. Please assign me.

[2020-08-15 18:37] ag278 commented on #412
I would like to work on this issue. Please assign me this issue.
I have read all the guidelines and I want to do this in c++

[2020-08-15 18:39] sonukushwaha403 commented on #412
I would like to work with python , please assign it to me

[2020-08-15 18:42] siddharth25pandey commented on #412
@Himanshu44626748  Go ahead with java.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 18:43] siddharth25pandey commented on #412
@ag278 Go ahead with C++.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 18:44] kritikaparmar-programmer commented on #412
Hii , I would like to work with C , please assign it to me

[2020-08-15 18:44] siddharth25pandey commented on #412
@sonukushwaha403  Go ahead with Python.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 18:45] siddharth25pandey commented on #412
@kritikaparmar-programmer Go ahead with C.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 18:48] siddharth25pandey commented on #412
## NOTE
### Allotment of issues is based on **First Come First Serve basis**. Also, A participant can work at most **two** issues at a time.

[2020-08-15 18:51] shankhanil007 commented on #393
I would like to work on it in C++ for Hackin Codes 2020

[2020-08-15 18:53] shankhanil007 commented on #402
I would like to solve this issue in C++ as a part of Hackin Codes 2020

[2020-08-15 18:56] shankhanil007 commented on #377
I would like to work on this issue in C++ as a part of Hackin Codes 2020

[2020-08-15 18:57] shankhanil007 commented on #385
I would like to work on this issue in C++ as a part of Hackin Codes 2020

[2020-08-15 19:02] shankhanil007 commented on #401
I would like to work on this issue in C++ as a part of Hackin Codes 2020

[2020-08-15 19:03] shankhanil007 commented on #403
I would like to work on this issue in C++ as a part of Hackin Codes 2020

[2020-08-15 19:28] infoarpit commented on #412
I would like to do this in java please assign it to me

[2020-08-15 19:38] SangeetaMishra commented on #400
I would like to work on this in python

[2020-08-15 19:50] GajjarMiten commented on #412
Hey, @siddharth25pandey I would like to do it with Golang.

[2020-08-15 19:53] siddharth25pandey commented on #412
@infoarpit Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-15 19:53] GajjarMiten commented on #400
I would like to work on this in Golang.

[2020-08-15 19:54] siddharth25pandey commented on #412
@GajjarMiten  Assigned to work on Go Lang
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 19:56] siddharth25pandey commented on #400
@SangeetaMishra Go ahead with Python.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 19:57] siddharth25pandey commented on #400
@GajjarMiten  Assigned to work on Go Lang.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 20:03] vgb-codes commented on #410
@neha07kumari Go ahead with Python.
Please following the contribution guidelines when submitting your contribution.

[2020-08-15 20:09] vgb-codes commented on #385
@pradeep98 Go ahead with Python.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-15 20:10] vgb-codes commented on #385
@ujjawal-1999 Go ahead with C. @shankhanil007 can proceed with C++.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-15 20:13] ghost commented on #399
I would like to work on this in Golang.

[2020-08-15 20:15] vgb-codes commented on #406
@Himanshu44626748 Please check if the issue for a particular language has been already taken by someone else. As Java is already assigned, I cannot assign it to you. I can however assign you to contribute using Go.

[2020-08-15 20:18] siddharth25pandey commented on #399
@odavhad  Assigned to work on Go Lang
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-15 21:26] muddhit commented on #128
I want to contribute for Java

[2020-08-15 21:28] muddhit commented on #393
i want to contribute it for java

[2020-08-15 21:28] muddhit commented on #129
I want to work with java

[2020-08-15 23:07] vatsalkesarwani12 opened #414 "Print the occurrence of the given number in the list/array using Binary Search Technique"
## 🚀 Description
### The program should be implemented using Binary Search Technique
#### Input
- Size of the array/list
- Elements in the array/list
- A number whose occurrence is to be printed

#### Program should do
- Find the occurrence of the given number using the above technique

#### Sample Test Case
**Input**
5
1 4 2 3 4
4

**Output**
Occurrence of '4'  : 2

### Have you read the [Contrib

[2020-08-15 23:47] narayan2111 commented on #414
I would like to work on this issue using c++. Please assign this to me.

[2020-08-16 00:03] Kathan-Vakharia commented on #414
I would like to work on this issue with python or java or golang or js (any one of these if it is available )

[2020-08-16 00:06] Kathan-Vakharia commented on #399
I would like to work in Golang or python or java(any one if it is available )on this issue.

[2020-08-16 01:23] sonukushwaha403 commented on #414
I would like to work in java

[2020-08-16 01:48] Abhijit2505 commented on #414
@narayan2111 Go ahead with C++.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 01:50] Abhijit2505 commented on #414
@Kathan-Vakharia Go ahead with Python.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 01:52] Abhijit2505 commented on #414
@sonukushwaha403 Go ahead with Java. This one is your second assigned issue of this week. Hope you are enjoying the program as well. Do share your experience with us in communication channels 😊
All the Best!
Happy Coding !

[2020-08-16 01:53] Surajv311 commented on #414
I would like to work in C. Could you please assign it to me ?

[2020-08-16 01:57] Abhijit2505 commented on #414
@Surajv311 Go ahead with C.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 02:12] Abhijit2505 opened #415 "Traversals in Binary Tree"
## 🚀 Problem Statement

Used Data Structure - **Binary Tree**

A binary tree can be traversed in the following ways,

* Preorder Traversal
* Postorder Traversal
* Inorder Traversal

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

## Motivation

Traversal techniques use two more classical

[2020-08-16 02:14] pradeep98 commented on #415
I'm on for PYTHON. @Abhijit2505 please assign the task.

[2020-08-16 02:16] Abhijit2505 commented on #415
@pradeep98, I would like you to read the complete issue again, and the section **Method To Take On the Issue** properly.

[2020-08-16 02:19] pradeep98 commented on #415
preorder Traversal - python
inorder Traversal - python
postorder Traversal - python
@Abhijit2505

[2020-08-16 02:20] Abhijit2505 commented on #415
@pradeep98 choose any one. Should I assign the first one i.e. **preorder Traversal**

[2020-08-16 02:21] pradeep98 commented on #415
Yeah I'm fine with it.
preorder Traversal - python

[2020-08-16 02:23] Abhijit2505 commented on #415
@pradeep98 get stared with **preorder Traversal - python**.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 02:31] Harshak50 commented on #415
Preorder Traversal - java
I would like to work on this.

[2020-08-16 02:32] siddharth25pandey commented on #399
@Kathan-Vakharia  Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-16 02:34] AkM-2018 commented on #415
Preorder traversal - C++
I would like to work on this.

[2020-08-16 02:39] bagladivyang03 commented on #415
Inorder traversal - c++
I would like to work on this

[2020-08-16 02:40] Kathan-Vakharia commented on #415
Inorder traversal - Golang or C or python (anyone of these in order if available)

[2020-08-16 02:41] Abhijit2505 commented on #415
@AkM-2018  get stared with **Preorder Traversal - C++**.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 02:42] Abhijit2505 commented on #415
@bagladivyang03 get stared with **Inorder Traversal - C++**.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding!

[2020-08-16 02:44] Abhijit2505 commented on #415
@Kathan-Vakharia , this is the second issue assigned to you, Do get started with **Inorder Traversal - GOLANG**. Hope you are enjoying the program as well. Do share your experience with us in the communication channels.
All the very best.
Happy Coding.

[2020-08-16 02:56] AdityaJ7 commented on #415
I would like to work on post order traversal in python

[2020-08-16 02:57] Abhijit2505 commented on #415
@Harshak50 get stared with **Preorder Traversal - Java**.
Also, make sure that you have gone through the Contributions Guidelines thoroughly.
All the Best!
Happy Coding!

[2020-08-16 02:59] Abhijit2505 commented on #415
@AdityaJ7  get stared with **Postorder Traversal - Python**.
Also, make sure that you have gone through the Contributions Guidelines thoroughly.
All the Best!
Happy Coding!

[2020-08-16 03:01] Huzaib commented on #49
Can I take up the issue in Java?

[2020-08-16 03:01] Kritika37 commented on #415
I would like to work on this issue in C++ Postorder traversal

[2020-08-16 03:05] nlok5923 commented on #415
@Abhijit2505 I would like to work on postorder and in order traversal using java. Please assign it to me.

[2020-08-16 03:16] cherryWood55 commented on #415
Inorder traversal - C
I would like to work on this issue.

[2020-08-16 03:16] Abhijit2505 commented on #415
@Kritika37 get stared with **Postorder Traversal - C++**.
Also, make sure that you have gone through the Contributions Guidelines thoroughly.
All the Best!
Happy Coding!

[2020-08-16 03:18] Abhijit2505 commented on #415
@nlok5923 I would like to assign you **postorder traversal -Java** only. We don't accept two assignments in the same issue.
Also, make sure that you have gone through the Contributions Guidelines thoroughly.
All the Best!
Happy Coding!

[2020-08-16 03:20] Abhijit2505 commented on #415
Get into the action, you have been assigned the same in the above reply only.

[2020-08-16 03:21] Abhijit2505 commented on #415
@cherryWood55 get stared with **Inorder Traversal - C**.
Also, make sure that you have gone through the Contributions Guidelines thoroughly.
All the Best!
Happy Coding!

[2020-08-16 03:21] pragyajaiswa05l commented on #402
Would like to make a contribution in c++ for HackinCodes2020.

[2020-08-16 03:22] pragyajaiswa05l commented on #401
would like to make a contribution in c++

[2020-08-16 03:24] SangeetaMishra commented on #415
I would like to work on inorder traversal in java

[2020-08-16 03:25] Abhijit2505 commented on #415
This has already been assigned to someone else. I would like you to take some time and see which slots are available and then comment. That will help me to distribute the task as well.

[2020-08-16 03:26] Abhijit2505 commented on #415
@SangeetaMishra get stared with Inorder Traversal - Java.
Also, make sure that you have gone through the Contributions Guidelines thoroughly.
All the Best!
Happy Coding!

[2020-08-16 03:27] pragyajaiswa05l commented on #399
would like to implement the all the basic functionality of stack using template so as to make it generic .
please assign this task to me would like to contribute as a part of HackinCodes2020

[2020-08-16 03:28] pragyajaiswa05l commented on #393
would like to contribute in c++ as a part of HakinCodes 2020

[2020-08-16 03:38] Anjali2001saxena commented on #164
I want to contribute in java.

[2020-08-16 03:39] pragyajaiswa05l opened #417 "z-algorithm"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation
Linear time pattern searching Algorithm.
(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this

[2020-08-16 03:40] pragyajaiswa05l commented on #417
would like to implement in c++ as a part of HakinCodes2020
@SKAUL05 @Kajol-Kumari @Abhijit2505 @plazzy99 @siddharth25pandey

[2020-08-16 03:41] rgrupesh opened #418 "QUICK SORT"
## 🚀 Feature

(Add Quick Sort algorithm in C.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation

(It is faster than other O(nlogn) algorithm. It can deal with huge list of number effectively.)

## Pitch

(Quick Sort is widely used sorting algorithm. Also, known as pa

[2020-08-16 03:42] Anjali2001saxena commented on #14
I would like to work on this in Java

[2020-08-16 03:42] rgrupesh commented on #418
Please, assign me this issue. I want to work in C as a part of Hackin Codes 2020.

[2020-08-16 03:42] ghost commented on #417
Would Like to implement in Python as a part of HakinCodes2020

[2020-08-16 03:47] shankhanil007 commented on #418
I would like to solve this issue in C++ as a part of Hackin Codes 2020

[2020-08-16 03:49] pragyajaiswa05l opened #419 "All basic functionality of queue"
## 🚀  Description
Implement the basic functionality of queue such as **push, pop, peek**  without using **Inbuilt Functions**.
Also show Empty & Full Functions for the stack.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Please make sure that you have gone through the Contributing Guid

[2020-08-16 03:50] pragyajaiswa05l commented on #419
would like to contribute in c++ as a part of HakinCodes2020.
would implement it using template so as to make it generic.
@SKAUL05 @Kajol-Kumari @Abhijit2505 @plazzy99 @siddharth25pandey

[2020-08-16 03:51] Anjali2001saxena commented on #418
I want to work on this issue in java.

[2020-08-16 03:53] pragyajaiswa05l commented on #418
would like to contribute in c++ as a part of HakinCodes2020

[2020-08-16 03:54] Anjali2001saxena opened #420 "Palindrome"
## 🚀 Feature

Add algorithm to check for palindrome.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Palindrome is one of the basic but yet important topic.

## Pitch

Palindrome means if word remains same even after reversing it and it is used at many places.

[2020-08-16 03:55] shankhanil007 commented on #420
I would like to solve this issue in C++ as a part of Hackin Codes 2020

[2020-08-16 03:55] Nistha-tech opened #421 "Knapsack Problem using DP"
Code for knapsack problem in DP.

[2020-08-16 03:55] Anjali2001saxena commented on #420
I would like to solve in Java.

[2020-08-16 03:55] peeky1811 commented on #401
I would love to code it in Cpp/C.

[2020-08-16 03:55] SayaniG371 opened #422 "Caesar Cipher Algorithm - Cryptography"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Carsar Cipher is one of most basic techniques to encode and decode a message

## Motivation

As a part of the other amazing Algorithms in core programming languages, w

[2020-08-16 03:56] ghost commented on #422
Would like to contribute in python as a part of HakinCodes 2020

[2020-08-16 03:58] #421 closed, assigned to nobody

[2020-08-16 04:00] peeky1811 commented on #420
Hi I would like to solve this in Cpp and Python because I'm well versed in it. Or else C is similar to Cpp, so I'll work on that too.
Gopika Murali
Participant at Contributor's Hack '20, HakinCodes

[2020-08-16 04:02] peeky1811 commented on #410
I would like to contribute to this in Python.

[2020-08-16 04:03] bagladivyang03 commented on #420
I will work in python for this

[2020-08-16 04:06] rutujadhanawade commented on #415
I would like to work on this issue.

Inorder traversal -> Python

[2020-08-16 04:07] Nistha-tech opened #423 "Knapsack Problem in DP."
### **0 1 Knapsack**
A thief robbing a store and can carry a maximal weight of W into his knapsack. There are N items and ith item weigh wi and is value vi. What is the maximum value V, that thief can take ?
Input Format :
Line 1 : N i.e. number of items
Line 2 : N Integers i.e. weights of items separated by space
Line 3 : N Integers i.e. values of items separated by space
Line 4 : Integer W i.e.

[2020-08-16 04:08] subhayu99 opened #424 "Add N-Queen in DP"
## 🚀 Feature

The N Queen is the problem of placing N chess queens on an N×N chessboard so that no two queens attack each other.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

N-Queen is one of the most famous DP Implementation. I just saw that there is no N-Queen p

[2020-08-16 04:08] peeky1811 commented on #423
I will try to work on this issue in Cpp/Python as I'm well versed in both. Only if both cannot be provided I'll work with C as that is the label.
Gopika Murali
Participant at Contributor's Hack '20, HakinCodes

[2020-08-16 04:10] shankhanil007 commented on #424
I would like to solve this issue in C++

[2020-08-16 04:10] subhayu99 commented on #424
I want to work on this in both **C** and **Python**

[2020-08-16 04:12] Nistha-tech commented on #423
I would like to work on this issue in Cpp and Python as a part of HakinCodes @Kajol-Kumari .

[2020-08-16 04:14] shankhanil007 opened #425 "Finding all the nodes at a distance 'k' from a given node in a Binary Tree"
## 🚀 Feature

Given a binary tree, a target node in the binary tree, and an integer value k, print all the nodes that are at a distance k from the given target node.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes!

## Motivation

Binary Tree is a special tree whose each node has at

[2020-08-16 04:15] Anjali2001saxena opened #426 "Bucket Sort"
## 🚀 Feature
Add Bucket Sort Algorithm.

### Have you read the [Contributing Guidelines on Pull Requests]
yes

## Motivation
This algorithm deals with much lesser amount of elements at each step than the original so is easy to execute.

## Pitch

Elements are divided in different buckets and each bucket is sorted indivitually at a time.

[2020-08-16 04:15] shankhanil007 commented on #425
I would like to solve this issue in C++ as a part of Hackin Codes 2020

[2020-08-16 04:15] Anjali2001saxena commented on #426
I want to work on this issue in C++.

[2020-08-16 04:18] avinashkranjan commented on #426
I want to work on this issue in C

[2020-08-16 04:19] rohangawhade commented on #415
I would like to work on
preorder traversal -> C

[2020-08-16 04:21] pragyajaiswa05l commented on #423
I would like to contribute in c++ as a part of HakinCodes 2020

[2020-08-16 04:26] PREETIKATANEJA commented on #415
I would like to work on post-order traversal in C language @Abhijit2505

[2020-08-16 04:27] Kajol-Kumari commented on #426
Sure @Anjali2001saxena and @avinashkranjan you people can work on this :)

[2020-08-16 04:28] peeky1811 commented on #419
Hi @pragyajaiswa05l. I will be happy to work in the Python implementation of this.
If python is not available then only C.
Gopika Murali
Participant at Contributor's Hack '20, HakinCodes

[2020-08-16 04:30] viveksahu26 commented on #420
I would solve this issue in java.. so, please assign me..

[2020-08-16 04:31] ritvij14 commented on #426
I would like to take this issue in Java.

[2020-08-16 04:33] viveksahu26 commented on #403
I would like to work on this issue in java.. please assign me this issue..

[2020-08-16 04:33] Nistha-tech opened #427 "KMP Algorithm"
### **KMP Algorithm for Pattern Searching**

Input : hakincodes
           kin(pattern to be searched)
output : pattern found at index 2.

### Have you read the [Contributing Guidelines on Pull Requests]?
Yes

## Motivation
Used in various important concepts of string search and string algorithms.

## Pitch
A very important algorithm used to solve questions of string in less time complexity.

## A

[2020-08-16 04:34] Nistha-tech commented on #427
I would like to work on this issue in Cpp as a part of hakin codes.
@Kajol-Kumari

[2020-08-16 04:34] viveksahu26 commented on #393
I would like to work with this issue.. please assign me this issue..

[2020-08-16 04:41] parjanyaacoder commented on #400
Solved this issue in Java by #428 . Please review

[2020-08-16 04:44] parjanyaacoder commented on #422
I would like to work on this issue in Java.

[2020-08-16 04:44] Himanshu44626748 commented on #406
I'm not comfortable in Go.

[2020-08-16 04:53] Kajol-Kumari commented on #415
Hey people! So as github allows only 10 assignees per issue so i have unassigned everyone as we can't keep some assigned and others don't, please look in the issue description to see who are assigned for what language.

Happy Learning :)

[2020-08-16 04:56] vinayvyas911 commented on #423
I would like to contribute in c++ as a part of HakinCodes 2020

[2020-08-16 04:59] vinayvyas911 commented on #49
Can I take up the issue in C?

[2020-08-16 05:12] Kajol-Kumari commented on #419
Hey @peeky1811 please go with python

[2020-08-16 05:12] smv1999 opened #433 "String Rotation"
## 🚀 String Rotation based on Queries
A String str and number of queries q are given as input. The queries are in the form space separated values with the direction and the amount by which the string is to be rotated. The first characters after each query is concatenated as a separate string and is checked whether it is an anagram of the original string. If yes, print YES otherwise print NO.
For e

[2020-08-16 05:13] smv1999 commented on #433
I would like to work on this issue in Cpp as a part of HakinCodes @Abhijit2505

[2020-08-16 05:14] cherryWood55 commented on #419
@pragyajaiswa05l  I would like to work in C.

[2020-08-16 05:15] Nistha-tech commented on #425
I would like to solve this issue in Java as a part of HakinCodes 2020.
Please assign it to me :) @Kajol-Kumari @siddharth25pandey

[2020-08-16 05:17] SKAUL05 commented on #433
@smv1999 Go Ahead with C++

[2020-08-16 05:18] santushtisharma10 commented on #426
@Kajol-Kumari I would like to work on this issue in Python

[2020-08-16 05:19] infoarpit commented on #419
I would like to work in java. Please assign it to me
Participant at Contributor's Hack '20, HakinCodes

[2020-08-16 05:19] SKAUL05 commented on #426
@santushtisharma10 Go Ahead with `Python`

[2020-08-16 05:21] siddharth25pandey commented on #399
@pragyajaiswa05l Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-16 05:21] anubhvshrma18 commented on #427
I would like to work on this issue in python as a part to hakin codes
@Kajol-Kumari

[2020-08-16 05:25] SKAUL05 commented on #411
@gupta-piyush19 Go ahead with implementation in Javascript.
Do remember to mention constraints in your algo like `negative numbers`

[2020-08-16 05:27] TechTarun commented on #425
This seems an interesting question. I would like to solve this in Python.

[2020-08-16 05:32] infoarpit opened #434 "Lomuto’s and Hoare’s partition techniques"
## 🚀 Feature

Implement partition techniques Lomuto’s and Hoare’s partition techniques used in quicksort.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

## Pitch
Different partition techniques have different time complexities which could decide more efficient ones.

[2020-08-16 05:33] siddharth25pandey commented on #419
@cherryWood55 Go ahead with C.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 05:34] siddharth25pandey commented on #419
@infoarpit Go ahead with Java.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 05:37] HarshCasper commented on #423
I am assigning the Issue to you @pragyajaiswa05l in C++ and to @peeky1811 in Python

@Nistha-tech You cannot work on it yet, as you have two issues under your belt now.

[2020-08-16 05:41] HarshCasper commented on #422
I have assigned the Issue in Java to @parjanyaacoder and in Python to @SayaniG371

[2020-08-16 05:43] HarshCasper commented on #418
I have assigned the Issue to you @rgrupesh in C

For rest of the languages, we have the implementation

[2020-08-16 05:44] Nistha-tech commented on #427
@HarshCasper please add CH20 label also.

[2020-08-16 05:45] chandankrsahu commented on #423
I would like to contribute in C language as a part of HakinCodes 2020

[2020-08-16 05:45] pulkitgovrani commented on #399
I would like to work on this in javascript

[2020-08-16 05:45] HarshCasper commented on #417
I have assigned the Issue in Python to @SayaniG371 and in C++ to @pragyajaiswa05l

[2020-08-16 05:46] SangeetaMishra commented on #400
Solved it in Python #435

[2020-08-16 05:47] kushagraiitbbs commented on #409
I want to contribute this issue in C++.

[2020-08-16 05:48] anubhvshrma18 opened #436 "Optimizing the Bubble Sort Algorithm"
## 🚀 Feature
I would like to add an optimized solution of Bubble sort  .
The recent solution would check for swapping if the array is already sorted ,
therefore this feature would check if array is already sorted and stops swapping. This will help in reducing the execution time.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master

[2020-08-16 05:48] chandankrsahu commented on #420
I would like to solve this issue in C++ as a part of Hackin Codes 2020.@Kajol-Kumari @Abhijit2505

[2020-08-16 05:49] anubhvshrma18 commented on #436
i would like to take this issue in C++ as a part of Hakin Codes

[2020-08-16 05:50] pulkitgovrani commented on #420
I would like to work on this issue in javascript

[2020-08-16 05:54] Lakhan-Nad commented on #436
I would like to do this in Java

[2020-08-16 06:00] chandankrsahu opened #437 "prime factorization using sieve"
An efficient method to calculate the prime factorization using O(n) space and O(log n) time complexity

[2020-08-16 06:01] chandankrsahu commented on #437
i would like to take this issue in C++ as a part of Hakin Codes

[2020-08-16 06:02] Lakhan-Nad commented on #433
I would like to implement it in C and Java @SKAUL05

[2020-08-16 06:03] chandankrsahu commented on #437
@Abhijit2505 @Kajol-Kumari

[2020-08-16 06:03] AakritiKinra commented on #419
I would like to take this up in C++ as part of contributor's hack 2020.

[2020-08-16 06:06] chandankrsahu commented on #436
I would like to take this issue in C++ as a part of Hakin Codes.@Kajol-Kumari @Abhijit2505

[2020-08-16 06:07] SKAUL05 commented on #433
Sure thing but could assign you only for one language. Which one do you want @Lakhan-Nad ?

[2020-08-16 06:08] Lakhan-Nad commented on #433
I would do it in C

[2020-08-16 06:09] SKAUL05 commented on #433
Go ahead with C.

[2020-08-16 06:09] kushagraiitbbs commented on #427
I would like to contribute to this issue in C as to take part in hakincodes @HarshCasper

[2020-08-16 06:10] Lakhan-Nad commented on #433
Thankyou

[2020-08-16 06:15] Joshitha18 opened #438 "Longest Common Subsequence Problem in DP"
## 💥 Proposal
Given two sequences, find the length of longest subsequence present in both of them. A subsequence is a sequence that appears in the same relative order, but not necessarily contiguous.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes

[2020-08-16 06:16] siddharth25pandey commented on #419
@AakritiKinra  Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-16 06:16] Joshitha18 commented on #438
I would like to work on it in C++ @Kajol-Kumari @Abhijit2505 as a part of HakinCodes

[2020-08-16 06:20] neha07kumari commented on #423
I would like to work on this issue using the C  and Java language. @Kajol-Kumari

[2020-08-16 06:20] Joshitha18 opened #439 "Edit Distance in DP"
## 💥 Proposal

Find minimum number of edits ( Insert, Remove, Replace) required to convert one string to another.

Suppose we have string1 and string2

Input:   string1 = "adft", string2 = "adsft"
Output:  1
We can convert string1 into string2 by inserting a 's'.

Input:   string1 = "cat", string2 = "car"
Output:  1
We can convert string1 into string2 by replacing 't' with 'r'.

Input:   string1 =

[2020-08-16 06:21] Joshitha18 commented on #439
I would like to work on it in C++ @Kajol-Kumari @Abhijit2505 @plazzy99 as a part of hakincodes

[2020-08-16 06:22] ankitaggarwal23 commented on #399
I would like to work on this issue in java.

[2020-08-16 06:25] siddharth25pandey commented on #399
@pulkitgovrani Go ahead with Javascript
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 06:25] siddharth25pandey commented on #399
@ankitaggarwal23 Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-16 06:26] ankitaggarwal23 commented on #424
I would like to work on this issue in java and C#.

[2020-08-16 06:27] Sreelakshmi00 commented on #399
I would like to work on this issue in C++ as part of HaikinCodes Contributor's Hack 2020

[2020-08-16 06:28] Sreelakshmi00 commented on #400
I would like to work on this issue in C++ as part of HaikinCodes Contributor's Hack 2020

[2020-08-16 06:29] Sreelakshmi00 commented on #414
I would like to work on this issue in C++ as part of HaikinCodes Contributor's Hack 2020

[2020-08-16 06:30] siddharth25pandey commented on #399
@Sreelakshmi00 Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-16 06:32] Sreelakshmi00 commented on #419
I would like to work on this issue in C++ as part of HaikinCodes Contributor's Hack 2020

[2020-08-16 06:32] Sreelakshmi00 commented on #423
I would like to work on this issue in C++ as part of HaikinCodes Contributor's Hack 2020

[2020-08-16 06:33] kushagraiitbbs opened #441 "Kadane's Algorithm"
This algorithm calculates the maximum sum of subarray in O(n).( where n is the size of array). It gives the basic knowledge of dp on arrays.

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation
As this algorithm ha

[2020-08-16 06:33] kushagraiitbbs commented on #441
I want to contribute to this issue in C++ @HarshCasper @Abhijit2505

[2020-08-16 06:33] reethikprasad commented on #437
I would like to take up this issue and solve it in C++ with a time complexity of O(logN) as part of Hakin Codes

[2020-08-16 06:34] Sreelakshmi00 commented on #426
I would like to work on this issue in C++ as part of HaikinCodes Contributor's Hack 2020

[2020-08-16 06:35] Huzaib commented on #423
Can I take it up in Java?

[2020-08-16 06:35] SKAUL05 commented on #441
It's already there in python
https://github.com/TesseractCoding/NeoAlgo/blob/master/Python/other/Kadanes_Algorithm.py
Check it for other languages also @HarshCasper @Abhijit2505

[2020-08-16 06:36] Huzaib commented on #216
Can I take it up in Java?

[2020-08-16 06:36] SKAUL05 commented on #426
Already assigned to @Anjali2001saxena for C++.

[2020-08-16 06:36] reethikprasad commented on #441
I want to contribute to this issue in C language as a part of Hakins code @HarshCasper

[2020-08-16 06:37] Sreelakshmi00 commented on #420
I would like to work on this issue in C++ as part of HaikinCodes Contributor's Hack 2020

[2020-08-16 06:38] Huzaib commented on #18
Can I take it up in Java?

[2020-08-16 06:38] Huzaib commented on #13
Can I take it up in Java?

[2020-08-16 06:39] ritvij14 commented on #427
I would like to work on this issue with Javascript as part of HakinCodes.

[2020-08-16 06:40] ghost commented on #433
I would like to work on this in Python

[2020-08-16 06:41] ghost commented on #427
I would like to contribute in Golang

[2020-08-16 06:42] SKAUL05 commented on #433
Go ahead with Python

[2020-08-16 06:42] Sreelakshmi00 commented on #441
I would like to work on this issue in C++ as part of HaikinCodes Contributor's Hack 2020

[2020-08-16 06:49] kushagraiitbbs opened #445 "Euler's totient function"
F(n) denotes Euler's totient function.where n is natural number.F(n) counts all the numbers between 1 to n ( both exclusive) that are relatively prime to n.

### Have you read the [Contributing Guidelines on Pull Requests]
Yes.

## Motivation
As it has not beed added in any issue in hakin-codes.

## Pitch
It is a core technique of number theory which is very helpful in competitive programming.

[2020-08-16 06:49] kushagraiitbbs commented on #445
I want to contribute to this issue in c++. @SKAUL05 @Abhijit2505 @HarshCasper @plazzy99

[2020-08-16 06:50] vinayvyas911 commented on #15
@HarshCasper can you assign me this issue?
I work on JavaScript

[2020-08-16 06:52] Ajay0511 commented on #393
I would like to do it in Python.

[2020-08-16 06:52] Ajay0511 commented on #393
I would like to do it in Python.

[2020-08-16 06:52] #441 closed, assigned to nobody

[2020-08-16 06:54] Ajay0511 commented on #254
I would like to do it in Python

[2020-08-16 06:55] Ajay0511 commented on #131
I would like to work in Python.

[2020-08-16 06:56] Ajay0511 commented on #45
I would like to work in Python.Please assign me.

[2020-08-16 07:00] bikash1317 commented on #436
I would like to take this issue in Python 3.7 as a part of HackinCodes

[2020-08-16 07:03] ishitakeshawani commented on #445
@HarshCasper I want to work on this issue in java. please assign me this and please add CH20 label on it.

[2020-08-16 07:04] riya-joshi-401 commented on #400
I would love to contribute this in C .!!!!!!!

[2020-08-16 07:09] riya-joshi-401 commented on #283
I would like to solve this in C !!!!

[2020-08-16 07:14] salonishah01 commented on #46
I would like to implement this problem in C.

[2020-08-16 07:17] reethikprasad opened #446 "All implementation of circular LinkedList"
## 🚀 Description

Implementation of creation, insertion, and deletion of an element in Circular LinkedList
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

As it has not beed added in any issue in hakin-codes.

## Pitch
Circular Linked List is a variation of Linked lis

[2020-08-16 07:18] reethikprasad commented on #446
Would like to contribute in C++ as a part of HakinCodes2020.

@SKAUL05 @Kajol-Kumari @Abhijit2505 @plazzy99 @siddharth25pandey @HarshCasper

[2020-08-16 07:18] Abhijit2505 commented on #415
@rutujadhanawade, @rohangawhade and @PREETIKATANEJA , you three have been assigned your respective tasks by @Kajol-Kumari . Do have a look at the first issue comment of this thread where the tasks have been assigned and get started.
All the very best.
Happy coding.

[2020-08-16 07:20] salonishah01 commented on #446
Would like to contribute in C as a part of HackinCodes2010
@SKAUL05 @HarshCasper

[2020-08-16 07:28] Jyotika999 commented on #422
Can i work on this in c++?

[2020-08-16 07:28] Jyotika999 commented on #334
Can i work in c or c++?

[2020-08-16 07:29] ankitaggarwal23 commented on #422
I would like to work on this issue in C.

[2020-08-16 07:30] ankitaggarwal23 commented on #417
I would like to work on this issue in C and java both.

[2020-08-16 07:30] Jyotika999 commented on #218
Can i work in C ?

[2020-08-16 07:30] ishitakeshawani opened #449 "Merge Overlapping Subintervals"
## 🚀 Feature

### Given a collection of intervals, merge all overlapping intervals.
Languages
C
 CPP
Java
JavaScript
 Go lang
Python
C#

### Have you read the [Contributing Guidelines on Pull Requests]
Yes

(https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

## Motivation

This question will help to improve the thinking style of your in programming.

##

[2020-08-16 07:31] Abhijit2505 commented on #422
@Jyotika999 please get started with C++.
All the best, keep coding.

[2020-08-16 07:31] vatsalkesarwani12 commented on #446
@reethikprasad go with c++

Don't forget to read Contribution guideline before making a pull request

Happy Coding!

[2020-08-16 07:31] Abhijit2505 commented on #422
@ankitaggarwal23, get started with C.
All the best, keep coding.

[2020-08-16 07:31] NitikaGupta16 commented on #436
I would like to take this issue in C++ as a part of HakinCodes

[2020-08-16 07:32] vatsalkesarwani12 commented on #446
@salonishah01 go with c

Don't forget to read Contribution guideline before making a pull request

Happy Coding!

[2020-08-16 07:33] ishitakeshawani commented on #449
@Abhijit2505
I want to provide an optimum solution for it.please assign me this.

[2020-08-16 07:34] NitikaGupta16 commented on #438
I would like to work on it in C++ as a part of HakinCodes @Kajol-Kumari @Abhijit2505

[2020-08-16 07:36] ankitaggarwal23 commented on #422
Bro @Abhijit2505  you assigned me on C and you updated there in GO kindly correct it.

[2020-08-16 07:36] sharur7 opened #451 "Implementation Of Interpolation Search Algorithm"
## 🚀 Feature

The Interpolation Search Algorithm:
Interpolation search is an algorithm for searching for a key in an array that has been ordered by numerical values assigned to the keys.

Language Supported:

C
CPP
Python
Java
C#
JavaScript
GO

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issue

[2020-08-16 07:39] Shishir198 commented on #446
I would like to contribute in Python3 as a part of HackinCodes2010.
@SKAUL05 @Kajol-Kumari @Abhijit2505 @plazzy99 @siddharth25pandey @HarshCasper

[2020-08-16 07:39] vatsalkesarwani12 commented on #417
@ankitaggarwal23 you have  been assigned with one issue before so I can assign you with one of the above two mentions

Go with C

[2020-08-16 07:40] ankitaggarwal23 commented on #446
I would like to work on this issue in java

[2020-08-16 07:42] vatsalkesarwani12 commented on #445
@kushagraiitbbs go with c++

Hope you have gone through the contributor's guidelines to make pr

Happy Coding!

[2020-08-16 07:43] ishitakeshawani commented on #449
please add a label on it. @plazzy99

[2020-08-16 07:43] ankitaggarwal23 commented on #417
@plazzy99 Bro I don't know Go so you can I assign me in C

[2020-08-16 07:43] ankitaggarwal23 commented on #417
@plazzy99 May be someone else familier with Go can Do with Go.

[2020-08-16 07:43] vatsalkesarwani12 commented on #445
@Ishita1608 go with java

Hope you have gone through the contributor's guidelines to make pr

Happy Coding!

[2020-08-16 07:44] ishitakeshawani commented on #445
yes, I read it. thank you for assigning me.

[2020-08-16 07:46] vatsalkesarwani12 commented on #417
@ankitaggarwal23  I assigned you with language: C

[2020-08-16 07:47] imPGupta opened #452 "Window Sliding Technique"
To find maximum sum of K consecutive elements of an array.
Reference- [Window sliding technique](https://www.geeksforgeeks.org/window-sliding-technique/)

**Language Supported**
- C [@imPGupta]
- CPP [@piyushgoell]
- Python [@sukritidawar]
- Java  [@shubha028]
- C#
- JavaScript [@Naman-1234]
- GO

[2020-08-16 07:47] imPGupta commented on #452
I want to contribute in C and CPP to this issue

[2020-08-16 07:48] akshitasinghal4444 commented on #399
I would like to work on this issue in C.

[2020-08-16 07:49] mharshita commented on #445
@plazzy99 I work on this issue in C for Contributors Hack 2020. Please assign this to me.

[2020-08-16 07:49] yyash01 commented on #445
Hi, can I contribute to this issue in C  @plazzy99

[2020-08-16 07:51] kushagraiitbbs commented on #445
Sir, please add the difficulty level @plazzy99

[2020-08-16 07:52] ag278 commented on #445
I work on this issue in python
 for Contributors Hack 2020. Please assign this to me.

[2020-08-16 07:52] vatsalkesarwani12 commented on #445
@mharshita yeah you can contribute in C

But first, go through the contributor's guidelines before making any pr

Happy coding!

[2020-08-16 07:53] kashika3101 commented on #301
I would like to work on this issue in c++ . Please assign it to me

[2020-08-16 07:55] vatsalkesarwani12 commented on #445
@yyash01 sorry your friend mentioned it before to contribute in C

There are many issues, find another one and ask me to assign

Happy Coding!

[2020-08-16 07:57] kashika3101 commented on #350
Please assign me the doubly linked lists in C

[2020-08-16 07:58] vatsalkesarwani12 commented on #445
@ag278 go and work on this issue with python

Happy coding!

[2020-08-16 07:58] kashika3101 commented on #334
Please assign me this issue in C language

[2020-08-16 07:59] mharshita commented on #445
@plazzy99 Okay. Thanks!

[2020-08-16 07:59] kashika3101 commented on #254
I would like to work on this issue in c++

[2020-08-16 08:00] vatsalkesarwani12 commented on #414
@Sreelakshmi00 your friend already assigned it before

Try assigning another issue

[2020-08-16 08:02] sharur7 commented on #451
@siddharth25pandey @plazzy99 @Kajol-Kumari @Abhijit2505 @SKAUL05
Can you please add the relevant labels to it and assign the issue to me.  Thank you!

[2020-08-16 08:02] shubha028 commented on #452
I want to contribute in java. Please assign me this issue.

[2020-08-16 08:03] kashika3101 commented on #14
I would like to work on this issue in cpp.
Please assign it to me

[2020-08-16 08:05] vatsalkesarwani12 commented on #419
@Sreelakshmi00 Sorry to say, but someone before you had commented to work on this issue. Therefore,
Better to look at some different issue or wait if someone will do wrong, then, in that case, this issue will be transferred to you in that particular language by priority order.
Thanks!
Happy Coding!

[2020-08-16 08:06] kashika3101 commented on #437
I would like to work on this issue in C++ and C as a part of HackinCodes

[2020-08-16 08:07] shubha028 commented on #438
I would like to work on it using java as a part of HakinCodes .Please assign me this issue

[2020-08-16 08:08] Lakhan-Nad commented on #433
@smv1999 wasn't the initial question about forming substrings?

[2020-08-16 08:09] kashika3101 commented on #418
I would like to work on this issue in c++

[2020-08-16 08:09] ishitakeshawani commented on #449
@Abhijit2505 I want to do it in java. please assign me.

[2020-08-16 08:11] sukritidawar commented on #452
I want to work on this issue in python.

[2020-08-16 08:20] Kajol-Kumari commented on #438
Hey @Joshitha18 I think we already have it [here](https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/dp/longest_increasing_subsequence.cpp) If you proposal is different from what I pointed out, please feel free to put your points here.

[2020-08-16 08:23] smv1999 commented on #433
Yes @Lakhan-Nad . I edited the issue but forgot to mention the changes made. I would like to apologize to everyone for this. The revised question is to form anagrams. Please everyone check the updated issue.

[2020-08-16 08:24] Joshitha18 commented on #438
@Kajol-Kumari It's Longest increasing subsequence, this is longest common subsequence. Both are not same

[2020-08-16 08:28] Kajol-Kumari commented on #437
Hey @reethikprasad as @chandansahuji has already commented I can't assign it to you for c++, please feel free to choose any other language :)

[2020-08-16 08:28] Kajol-Kumari commented on #437
@kashika3101  Please go with C as C++ is already taken up by @chandansahuji

[2020-08-16 08:29] Lakhan-Nad commented on #433
@smv1999 bro you could have created a new issue rather than changing the original question. I have already made a PR for the original one ! @SKAUL05 what should I do  now?

[2020-08-16 08:36] piyushgoell commented on #452
i want to work on this issue in C++

[2020-08-16 08:36] Kajol-Kumari commented on #438
Hey @Nitikagupta16 please choose any other language as c++ and java has already been take up

[2020-08-16 08:39] vishaljss2021 commented on #418
I would like to work in time complexity of quick sort using C.

[2020-08-16 08:40] vishaljss2021 commented on #420
I would like to solve this issue in C

[2020-08-16 08:41] stratospher opened #455 "Generic trees with any number of children"
## 🚀 Feature

Implement tree operations on generic trees like:
1. building tree
2. computing height
3. different tree traversals
4. counting nodes

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

to simulate a tree data structure which can have many children for Hakin

[2020-08-16 08:42] stratospher commented on #455
@Kajol-Kumari @SKAUL05 @Abhijit2505 @plazzy99 @siddharth25pandey
Can you please add the relevant labels to it and assign the issue to me. Thank you!

[2020-08-16 08:42] vishaljss2021 commented on #423
I would love to solve knapsack problem in C or C++.

[2020-08-16 08:44] yashsahay25 commented on #438
I would like to work on it in C as a part of HakinCodes 2020. Kindly assign me this issue.

[2020-08-16 08:45] smv1999 commented on #433
@Lakhan-Nad really sorry. Either you can revert your PR and create a new one or ask for clarification in the Slack Channel.

[2020-08-16 08:45] SKAUL05 commented on #433
Create new issues accordingly

[2020-08-16 08:49] Ajay0511 commented on #451
I would like to do it in Python.

[2020-08-16 09:00] siddharth25pandey commented on #446
@Shishir198 Go with Python

Don't forget to read Contribution guideline before making a pull request

Happy Coding!

[2020-08-16 09:00] siddharth25pandey commented on #446
@ankitaggarwal23 Go with Java

Don't forget to read Contribution guideline before making a pull request

Happy Coding!

[2020-08-16 09:01] smv1999 commented on #433
@SKAUL05 What shall I do now ?

[2020-08-16 09:06] SKAUL05 commented on #433
@smv1999 & @Lakhan-Nad discuss amongst urself and decide whether u want to create a new issue.
And then create it accordingly with appropriate title and description.

[2020-08-16 09:38] anime19 commented on #437
I would like to take this issue in JAVA.
Please assign this issue to me.
Participant at HakinCodes
@Kajol-Kumari

[2020-08-16 09:45] shubham5351 commented on #420
I would like to work on python.

[2020-08-16 09:49] bikash1317 commented on #436
Ok thanks for letting me know and choosing me ..

On Sun, Aug 16, 2020 at 1:02 PM Nitikagupta16 <notifications@github.com>
wrote:

[2020-08-16 10:07] vgb-codes commented on #283
@neha07kumari and @riya-joshi-401, Please check the first post to see if the issue has been taken by someone else. As C has been taken, I cannot assign you the task.

The languages you can choose are Go and C#.

[2020-08-16 10:08] vgb-codes commented on #216
@anshul7sh Go ahead with C.
@YashThakare C++ is already done.
@Alifbhanvadiya14 Go ahead with Python.
@Huzaib Go ahead with Java.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-16 10:13] vgb-codes commented on #254
@santushtisharma10 Go ahead with C.
@Ajay0511 Go ahead with Python.
@kashika3101 Go ahead with C++.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-16 10:17] vgb-codes commented on #406
@Himanshu44626748 Then you are free to find another issue where I or someone else can assign you the issue in the languages that you are comfortable with.

[2020-08-16 10:18] vgb-codes commented on #410
@peeky1811 Please check the first post to see whether the issue has been taken in the language that you are currently requesting for. Since it has been taken by someone else, I cannot assign you this issue in Python.

[2020-08-16 10:20] vgb-codes commented on #164
@Anjali2001saxena Please check if the issue has been already assigned in Java. Since it has already been assigned, I cannot assign you this issue in Java.

[2020-08-16 10:21] vgb-codes commented on #164
@m-code12 @shobhu98 Have you completed your issues?

[2020-08-16 10:24] DrSehgal7 opened #461 "Graph Problem:-Minimum Number of Swaps Required to Sort an Array"
## 🚀 Feature

You are given an unordered array consisting of consecutive integers  [1, 2, 3, ..., n] without any duplicates. You are allowed to swap any two elements. You need to find the minimum number of swaps required to sort the array in ascending order.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#repo

[2020-08-16 10:26] DrSehgal7 commented on #461
@Kajol-Kumari @SKAUL05 @Abhijit2505 @plazzy99 @siddharth25pandey
Can you please add the relevant labels to it and assign the issue to me. Thank you!

[2020-08-16 10:27] DrSehgal7 commented on #449
@Kajol-Kumari @SKAUL05 @Abhijit2505 @plazzy99 @siddharth25pandey
Can you please assign this issue to me. I would like to contribute in C++. Thank you!

[2020-08-16 10:37] vatsalkesarwani12 commented on #437
@anime19 assigned Java to you

Hope you read the contribution guideline

Happy Coding!

[2020-08-16 10:40] vatsalkesarwani12 commented on #439
@Joshitha18 edit your proposal with more information.

[2020-08-16 10:53] vatsalkesarwani12 commented on #455
@stratospher in which language you want to contribute

[2020-08-16 10:54] stratospher commented on #455
I would like to code in cpp. @plazzy99 could u assign it to me?

[2020-08-16 10:55] Joshitha18 commented on #439
@plazzy99 check it

[2020-08-16 11:00] vatsalkesarwani12 commented on #439
@Joshitha18 go with C++

Happy Coding!

[2020-08-16 11:00] avishmehta68710 commented on #414
i would like to work on this issue in python
can you please assign ???

[2020-08-16 11:06] Joshitha18 opened #466 "DP solution for Fibonacci"
## 💥 Proposal

Both Top-down and Bottom-Up DP approach for solving Finonacci Numbers in optimized way with Time Complexity O(n)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

[2020-08-16 11:07] Joshitha18 commented on #466
I want to work on it in C++ @plazzy99 @Kajol-Kumari @Abhijit2505

[2020-08-16 11:07] smv1999 commented on #433
Okay @SKAUL05 . I would suggest @Lakhan-Nad to revert his PR and create a new one after changing the functionality to forming anagrams. Or else, create a new issue accordingly!

[2020-08-16 11:31] Lakhan-Nad commented on #433
Okay I will close this PR @smv1999 can you create a new issue with same problem statement as last one?

[2020-08-16 11:32] smv1999 commented on #433
Yes sure @Lakhan-Nad !

[2020-08-16 11:36] smv1999 opened #468 "String Rotation based on Queries"
## 🚀 Feature

A String str and number of queries q are given as input. The queries are in the form space separated values with the direction and the amount by which the string is to be rotated. The first characters after each query is concatenated as a separate string and is checked whether it is a **substring** of the original string. If yes, print YES otherwise print NO.
For ex:
Input:
career
3

[2020-08-16 11:45] PinkyWalia opened #469 "Implementation of Merge Sort using both ways sequential as well as parallel ."
## 🚀 Feature

Sort an array of random integers with merge sort using both sequential as well as parallel implementation.

Language Supported

C
CPP
Python
Java
C#
JavaScript
GO

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

(Please outline the motivation for the pro

[2020-08-16 11:45] PinkyWalia commented on #469
I want to contribute in python. Please assign me this issue.Thank you!
@HarshCasper @SKAUL05 @Kajol-Kumari @Abhijit2505 @plazzy99 @siddharth25pandey

[2020-08-16 11:46] SKAUL05 commented on #469
@PinkyWalia Go Ahead with Python

[2020-08-16 11:50] ShreyasKadiri commented on #15
Can I work on Java?

[2020-08-16 11:51] ShreyasKadiri commented on #14
I want to work on Java. Please assign me

[2020-08-16 11:56] AdityaJ7 commented on #415
@rutujadhanawade  you were assigned In-order traversal. Post-order was assigned to me by @Abhijit2505

[2020-08-16 12:18] rutujadhanawade commented on #415
I am sorry about it..
Dont worry, I will close my previous PR and I will again make a PR of Inorder traversal. @AdityaJ7

[2020-08-16 12:51] Nagasuruthika commented on #437
I would like to work on this issue in Python.

[2020-08-16 12:55] bagladivyang03 commented on #415
I have already done inorder in c++

[2020-08-16 12:55] bagladivyang03 commented on #415
It was assigned to me by @Abhijit2505

[2020-08-16 12:59] rutujadhanawade commented on #415
I am doing it in Python.

[2020-08-16 13:14] bagladivyang03 commented on #415
Oh ohk 👍

[2020-08-16 13:23] malet-ds commented on #14
I can work this in Java or Python. I am in CH20

[2020-08-16 13:30] malet-ds commented on #319
I can work on this for Java or Python (or both). I am in CH20 and I am new to open source.

[2020-08-16 14:01] rahulpathak-github opened #471 "Randomized selection algorithm to select i_th order statistic"
## 🚀 Feature
###

**Implementation of a randomized selection algorithm to select i_th order statistic from the given data in expected linear time.**
The data consists of distinct elements.

**Input**:  A set A of n distinct numbers and an integer i, with 1 ≤ i ≤ n.
**Output**: The element x ϵ A that is larger than exactly i - 1 other elements of A.

(A clear and concise description of what the fea

[2020-08-16 14:04] rahulpathak-github commented on #471
@plazzy99 @SKAUL05 @HarshCasper I wish to implement the algorithm in C++. Please assign me this issue.

[2020-08-16 14:12] kushagraiitbbs commented on #469
I want to contribute in c++ @SKAUL05 @HarshCasper
@Abhijit2505 @Kajol-Kumari @plazzy99

[2020-08-16 14:16] kushagraiitbbs commented on #469
sir please add difficulty level @SKAUL05 @HarshCasper @Abhijit2505 @Kajol-Kumari @plazzy99

[2020-08-16 14:25] Adityanagraj commented on #400
I would like to work on this issue in Python as part of HaikinCodes Contributor's Hack 2020

[2020-08-16 14:29] Adityanagraj commented on #426
I would like to work on this issue in Python as part of HaikinCodes Contributor's Hack 2020

[2020-08-16 14:29] Adityanagraj commented on #446
I would like to work on this issue in Python as part of HaikinCodes Contributor's Hack 2020

[2020-08-16 14:54] Kajol-Kumari commented on #426
Hey @Adityanagraj we have already assigned @santushtisharma10 for python. Also please look at the comments and assignments first before commenting to avoid unnecessary comments :)

[2020-08-16 15:00] siddharth25pandey commented on #446
@Adityanagraj Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-16 15:03] siddharth25pandey commented on #420
## This issue is not the part of **Hakin Codes Contributors' Hack 2020**

[2020-08-16 15:04] siddharth25pandey commented on #399
Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-16 15:05] kashika3101 commented on #469
I want to contribute to this issue in C / C++
Please assign me this issue

[2020-08-16 15:12] Rishikeshrajrxl opened #478 "Stack implementation using singly Linked List."
## 💥 Proposal

(All Basic operation of stack using singly Linked List .)
Push
Pop
Peek
Empty checker function.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(yes.)

[2020-08-16 15:12] ghost commented on #469
I want to contribute to this issue in Golang.

[2020-08-16 15:13] ghost commented on #446
I want to contribute on this issue in Golang.

[2020-08-16 15:13] Rishikeshrajrxl commented on #478
I would like to do this in c++.

[2020-08-16 15:14] ghost commented on #419
I want to contribute to this issue in Golang.

[2020-08-16 15:15] siddharth25pandey opened #479 "Implementation of Prim's Algorithm"
## 🚀 Description

**Prim's Algorithm** is used to find the minimum spanning tree from a graph.
Display a Proper Algorithm work flow structure through **various comments** & finally implement the minimum spanning tree of the graph.
The Graph vertices should be taken from user input.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/mas

[2020-08-16 15:18] siddharth25pandey commented on #419
@odavhad  Start working with GoLang
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 15:20] siddharth25pandey commented on #478
@Rishikeshrajrxl  This issue is already exist[ 399](https://github.com/TesseractCoding/NeoAlgo/issues/399)

[2020-08-16 15:20] #478 closed, assigned to nobody

[2020-08-16 15:32] AltCtrlDel1999 commented on #466
I want to work on it in java

[2020-08-16 15:34] AltCtrlDel1999 commented on #439
I want to work on this in java

[2020-08-16 15:37] AltCtrlDel1999 commented on #479
I would like to work on this issue in java

[2020-08-16 15:38] Joshitha18 commented on #479
I would like to work on it in C++

[2020-08-16 15:44] nlok5923 commented on #479
please assign it to me i would like to work on it with C language.

[2020-08-16 15:45] siddharth25pandey commented on #479
@AltCtrlDel1999  Go ahead with Java.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 15:45] siddharth25pandey commented on #479
@Joshitha18 Go ahead with C++.
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 15:46] nlok5923 commented on #466
i would like to work on this issue with CPP language @plazzy99 @Kajol-Kumari @Abhijit2505

[2020-08-16 15:46] siddharth25pandey commented on #479
@nlok5923 Go ahead with C
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-16 15:53] Rishikeshrajrxl commented on #478
@siddharth25pandey
 In #399 will be implementing using Array data structure.
But here  I will be implementing it using Linked List.

[2020-08-16 15:57] siddharth25pandey commented on #478
@Rishikeshrajrxl We cannot make too much variety of issues of the same Algorithm.
Better to look on some different issues.
Thanks !

[2020-08-16 15:59] Rishikeshrajrxl commented on #399
@siddharth25pandey  I should do this using array Data structure , right?

[2020-08-16 16:03] Rishikeshrajrxl commented on #478
ok

[2020-08-16 16:05] siddharth25pandey commented on #399
@Rishikeshrajrxl it's your choice, you can use any (Array / Linked list ) in which you are Comfortable.

[2020-08-16 16:14] siddharth25pandey commented on #446
@odavhad  Assigned you for GoLang

Don't forget to read Contribution guideline before making a pull request

Happy Coding!

[2020-08-16 16:33] riya-joshi-401 opened #486 "Affine substitution Cipher"
## 🚀 Feature

Implementing Affine substitution cipher : both encryption and decryption
- The program should have encryption function and decryption function for each cipher.
- The function should take a message and a key / or keys as input from the user and display the expected output.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob

[2020-08-16 16:34] riya-joshi-401 commented on #486
i want to work on this using python !!!

[2020-08-16 16:38] lipsamishra1609 commented on #128
@HarshCasper i would like to contribute in c

[2020-08-16 16:39] riya-joshi-401 commented on #446
i want to work upon this in c please assign me!

[2020-08-16 16:41] riya-joshi-401 commented on #422
i would like to work upon this in python please assign me

[2020-08-16 16:41] riya-joshi-401 commented on #419
i would like to work upon this in c please assign me

[2020-08-16 16:42] siddharth25pandey commented on #446
@riya-joshi-401 Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-16 16:42] riya-joshi-401 commented on #399
i would like to work upon this in c please assign me

[2020-08-16 16:46] lipsamishra1609 commented on #45
@HarshCasper i would like to contribute in c.

[2020-08-16 16:46] riya-joshi-401 commented on #40
i would like to work upon this in using c please assign me ( as a part of Hakin Codes 2020 )

[2020-08-16 16:50] siddharth25pandey commented on #399
@riya-joshi-401 Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-16 16:53] siddharth25pandey commented on #399
## At present all the allocation work has been done for this issue.

[2020-08-16 16:54] siddharth25pandey commented on #400
## At present all the allocation work has been done for this issue.

[2020-08-16 16:55] siddharth25pandey commented on #419
## At present all the allocation work has been done for this issue.

[2020-08-16 17:02] Nishtha3512 commented on #469
I want to contribute in Java. Please assign it to me.

[2020-08-16 17:10] Kajol-Kumari commented on #401
@shankhanil007 @pragyajaiswa05l  c++ is already taken up.
@peeky1811 please go with C

[2020-08-16 17:14] obli99 commented on #130
@HarshCasper i want to contribute in java

[2020-08-16 17:14] lipsamishra1609 commented on #130
can i contribute in javascript?

[2020-08-16 17:15] infoarpit opened #488 "Parenthesis Checker"
## 🚀 Feature

Given a string of parenthesis check if parenthesis occurred in pair
Example:
Input: s="({})"
Output: yes

Input: s="[{(}])"
Output: yes

Input: s="(((}"
Output: no

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch

The application of data structure and string w

[2020-08-16 17:16] infoarpit commented on #488
I would like to do this in java.
Please assign it to me
@Kajol-Kumari  @SKAUL05  @Abhijit2505  @plazzy99  @siddharth25pandey

[2020-08-16 17:18] Shishir198 commented on #488
I want to solve this issue in python.Please assign me this issue
@Kajol-Kumari @SKAUL05 @Abhijit2505 @plazzy99 @siddharth25pandey

[2020-08-16 17:18] stratospher commented on #488
I would like to do this in C++

[2020-08-16 17:47] devanshi-katyal commented on #488
I want to take up this Issue in python

Have you read the Contributing Guidelines on Pull Requestt?
Ans. YES

[2020-08-16 17:47] ag278 commented on #471
I want to work on this issue in C language. Please assign this issue to me.

[2020-08-16 17:49] Naman-1234 commented on #488
I can do that in Python,c++ or java most prominently in c++, Pls assign me this @Kajol-Kumari @SKAUL05 @Abhijit2505 @plazzy99 @siddharth25pandey
I have read the **contributing Guidelines on Pull request**
If i have to give its explanation then I will simply say that stack will be used  and will splve it with the most easiest way which is by ASCII Values of characters.

[2020-08-16 17:50] santushtisharma10 commented on #438
@Kajol-Kumari @SKAUL05 I would like to work on this issue in Python

[2020-08-16 17:51] bagladivyang03 commented on #488
I would like to solve this in c pls assign me this

[2020-08-16 17:53] Naman-1234 commented on #446
I can do that in c++, pls assign me .

[2020-08-16 17:55] gupta-piyush19 commented on #488
i would like to work on this issue in JavaScript
@Kajol-Kumari  @SKAUL05 @Abhijit2505 @plazzy99 @siddharth25pandey

[2020-08-16 17:56] Naman-1234 commented on #468
I can do that in c++

[2020-08-16 17:56] vgb-codes commented on #130
@yashsahay2014 Go ahead with C.
@obli99 Go ahead with Java.
@lipsamishra1609 Go ahead with Javascript.
Please follow the contribution guidelines when submitting your contribution.

[2020-08-16 17:56] kulsoomzahra commented on #40
@HarshCasper sorry for the delay I'll complete my part very soon!

[2020-08-16 18:15] ankitaggarwal23 commented on #469
I want to contribute to this issue in C

[2020-08-16 18:17] ankitaggarwal23 commented on #437
I would like to work on this issue in C#.

[2020-08-16 18:24] TechTarun opened #493 "Diameter of a binary tree"
## 🚀 Description

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

Binary tree forms an important part of interview questions and diameter of a binary tree one of the most asked question.

[2020-08-16 18:25] TechTarun commented on #493
Description is same as pitch.

[2020-08-16 18:25] TechTarun commented on #493
I want to solve the question in python language. Kindly assign me the issue.

[2020-08-16 18:28] Rishikeshrajrxl opened #494 "Detect loop in a linked list"
## 💥 Proposal

( In a Given linked list, check if the linked list has loop or not.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes.)

[2020-08-16 18:28] Rishikeshrajrxl commented on #494
@siddharth25pandey , I would like to do this in c++.
Please assign the work.

[2020-08-16 18:35] vatsalkesarwani12 commented on #451
@sharur7 Go with C++ and Python

Happy coding!!

[2020-08-16 18:37] vatsalkesarwani12 commented on #451
@Ajay0511 and @nlok5923 both the language was already asked to assign by your friend

If You want to contribute in any other language please comment

[2020-08-16 18:40] vatsalkesarwani12 commented on #449
@Ishita1608 please elaborate for issue

[2020-08-16 18:42] vatsalkesarwani12 commented on #455
@stratospher go with c++

Happy Coding!

[2020-08-16 18:42] Rishikeshrajrxl opened #495 "Intersection Point in Y Shapped Linked Lists"
## 💥 Proposal

(Suppose there are given two singly linked lists of different  size N and M, Now get the point where two linked lists intersect each other)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(yes)

[2020-08-16 18:43] Rishikeshrajrxl commented on #495
@plazzy99 , I would like to do this in c++.
Please assign the work.

[2020-08-16 18:44] vatsalkesarwani12 commented on #414
@avishmehta68710 python has been already assigned to someone.

Find another issue and assign it to yourself

[2020-08-16 18:55] vatsalkesarwani12 commented on #446
@Naman-1234 c++ has been assigned to someone.
Go with another language or issue.

[2020-08-16 19:01] Yuvraj-kadale commented on #479
I would like to make this is in python!

[2020-08-16 19:03] stratospher commented on #493
I would like to do it in C++. Please assign me the issue.

[2020-08-16 19:05] vatsalkesarwani12 commented on #469
@kushagraiitbbs go ahead with c++

Happy Coding!

[2020-08-16 19:21] vatsalkesarwani12 commented on #469
@Nishtha3512 go ahead with java

Hope you went through the contribution guidelines

Happy Coding!

[2020-08-16 19:26] sanusoumya17 commented on #479
I would like to work on this issue in python

[2020-08-16 19:29] PinkyWalia commented on #469
@plazzy99 @SKAUL05 the assignment has removed by me due to certain mistake. Please reassign it again.

[2020-08-16 19:36] vatsalkesarwani12 opened #497 "Print the number of ways the amount N can be represented by the given coin using DP"
## 🚀 Description
### Program should be implemented using Dynamic Programming
#### Program should do
Given a value N, if we want to make a change for N cents, and we have an infinite supply of each of S = { S1, S2, .., Sm} valued coins, how many ways can we make the change?
The order of coins doesn’t matter.
#### Sample Test Case
##### Input:
N = 4
S = {1,2,3}
##### Explanation
there are four solut

[2020-08-16 19:37] diyajaiswal11 commented on #497
@plazzy99  I'm interested in solving this issue in C and Python. Please assign this to me.

[2020-08-16 19:43] Joshitha18 commented on #497
I want to work on it in C++ @plazzy99

[2020-08-16 19:43] vatsalkesarwani12 commented on #497
@diyajaiswal11 go ahead with C and python

Hope you have gone through the contribution guidelines

Happy Coding!

[2020-08-16 19:47] vatsalkesarwani12 commented on #497
@Joshitha18 please wait for your opened pr to merge
You will be assigned soon

[2020-08-16 19:51] vatsalkesarwani12 commented on #469
@PinkyWalia better stay alert from next time
Assigning you again

[2020-08-16 19:53] Kritika37 commented on #497
i would like to work on this in java or C++

[2020-08-16 20:02] vatsalkesarwani12 commented on #497
@Kritika37 go ahead with java

Hope you have gone through the contribution guidelines

Happy Coding!

[2020-08-16 20:11] Lakhan-Nad commented on #401
@Kajol-Kumari  I just saw that level Order Traversal is already implemented in Java in master branch so I am unassigning myself.

[2020-08-16 22:09] raksha009 commented on #178
plz assign me this issue @atarax665 @Kajol-Kumari

[2020-08-16 22:59] peeky1811 commented on #410
It's ok. 👍

[2020-08-17 00:00] peeky1811 commented on #419
I just checked out the NeoAlgo/Python/ds/Queue.py / repository and the basic implementation of Queue has already been done in Python by @subhayu99 15 days ago. I'm not clear on what I should do now. Should I unassign myself?
Correct me if I'm wrong, please @Kajol-Kumari.
![image](https://user-images.githubusercontent.com/52784562/90346948-b52c4300-e04a-11ea-9e41-0b793558f067.png)

[2020-08-17 01:13] pradeep98 commented on #494
I would like to do in Python.

[2020-08-17 01:14] pradeep98 commented on #495
I would like to do this in Python

[2020-08-17 01:57] Rishikeshrajrxl opened #499 "Delete Middle of Linked List"
## 🚀 Feature

Given a singly linked list, delete middle of the linked list. For example, if given linked list is 1->2->3->4->5 then linked list should be modified to 1->2->4->5.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

[2020-08-17 01:58] Rishikeshrajrxl commented on #499
I would like to do this in c++.

[2020-08-17 02:15] mohithotwani01 commented on #132
@plazzy99 can I work on implementing segment tree in c++ for sum of given range and minimum query.

[2020-08-17 02:37] siddharth25pandey commented on #479
@Yuvraj-kadale Go ahead with Python
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-17 02:38] siddharth25pandey commented on #479
@sanusoumya17   Sorry to say, but someone before you, had commented to work on this issue. Therefore,
Better to look on some different issue or wait if someone will do wrong, then in that case this issue will be transferred to you in that particular language by priority order,
Thanks !
Happy Coding !

[2020-08-17 03:10] Naman-1234 commented on #494
i can do that in C, Pls assign me this issue.
**Have you read the contributing guidelines on Pull Requests?
Ans . Yes**
Description :This is a very simple questions and according to me the most efficient way to do this is by taking **two pointers.**

[2020-08-17 03:11] Naman-1234 commented on #499
I will do that in C,Pls assign me this issue,

[2020-08-17 03:24] ashishsahu1 commented on #466
I want to work in python. @plazzy99 @Kajol-Kumari @Abhijit2505

[2020-08-17 03:48] Anjali2001saxena opened #502 "Radix Sort"
## 🚀 Feature

Add radix sort

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

Radix sort is a stable way of sorting.

## Pitch

The radix sort algorithm handles the work of sorting by sorting one digit at a time; this ensures that numbers that ap

[2020-08-17 03:48] Anjali2001saxena commented on #502
I want to work on this issue in Java

[2020-08-17 03:55] #420 closed, assigned to nobody

[2020-08-17 04:11] aniketsingh98571 commented on #387
I would like to do this in C++ as a part of HakinCodes 2020 Contributor's Hack

[2020-08-17 04:17] rgrupesh opened #504 "Shell Sort"
## 🚀 Feature

(Add Shell  Sort.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes.)

## Motivation

(Shell sort is improvement over insertion sort.)

## Pitch

(It compares elements separated by a gap of several positions. This enables it to take bigger steps towards expected positi

[2020-08-17 04:17] rgrupesh commented on #504
Please, assign me this issue. I want to work in C

[2020-08-17 05:11] chandankrsahu commented on #466
I would like to contribute in C language as part of hackincodes.@plazzy99 @Kajol-Kumari @Abhijit2505

[2020-08-17 05:15] ishitakeshawani commented on #504
I want to solve it in Java. Please assign me it.

[2020-08-17 05:21] chandankrsahu opened #507 "Finding Nth term of fibonacci series in optimized way in C++"
## 🚀 Feature

Cpp program for finding Nth term of fibonacci series in optimized way .

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-08-17 05:21] ishitakeshawani commented on #449
Done! Please add difficulty level and CH20 Label.
@plazzy99

[2020-08-17 05:22] chandankrsahu commented on #507
I would like to contribute  as a part of HackinCodes. @plazzy99 @Kajol-Kumari @Abhijit2505

[2020-08-17 05:39] NEEHITGOYAL commented on #504
I want to solve it in c++. please assign it to me
@Kajol-Kumari @SKAUL05

[2020-08-17 05:42] nutanaarohi123 commented on #451
I want to take up this issue in JAVA.pls, assign this task to me.

- [x] Yes, I have read all the **contributing guidelines.**

[2020-08-17 05:59] NEEHITGOYAL commented on #502
@Kajol-Kumari i want to work on this issue in c++

[2020-08-17 06:14] Kajol-Kumari commented on #461
Hey @DrSehgal7 can you please mention the language you are going to do it?

[2020-08-17 06:22] SKAUL05 commented on #451
Go Ahead with Java.
Follow the Contribution Guidelines carefully.
All the best

[2020-08-17 06:24] Kajol-Kumari commented on #466
@nlok5923 c++ is already taken by @Joshitha18 so can't assign it to you as we need to follow FCFS :)

[2020-08-17 06:36] riya-joshi-401 opened #508 "Implement all the basic functionalities of a doubly linked list"
## 🚀 Feature

- Implementation of creation, insertion, and deletion of nodes ( at all possible positions ) in a doubly linked list .
- finding the length of DLL
- Traversing and printing the DLL

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

As it has not been added

[2020-08-17 06:37] riya-joshi-401 commented on #508
i would like to work upon this in C  as a part of Hakin code please assign me! @plazzy99 @Kajol-Kumari @Abhijit2505

[2020-08-17 06:57] salonilakhotia commented on #439
I want to work on Java...Can u please assign me. @Kajol-Kumari @Abhijit2505 @plazzy99

[2020-08-17 07:03] SandipNayak commented on #508
i would like to work upon this in Java as a part of Hakin code please assign me! @plazzy99 @Kajol-Kumari @Abhijit2505

[2020-08-17 07:04] prasadvpatil opened #509 "Implementation of Brute force string search algorithm"
## 🚀 Feature

Align the pattern against the first m characters of the text and start matching the corresponding pairs of characters from left to right until either all m pairs of characters match or a mismatching pair is encountered. In the latter case, shift the pattern one position to the right and resume character comparisons, starting again with the first character of the pattern and its count

[2020-08-17 07:05] DrSehgal7 commented on #461
@Kajol-Kumari Would like to work on C++ and C both

[2020-08-17 07:05] jannatulferdaws commented on #508
I would like to work upon this in c++ & python as a part of HakinCodes Please assign me! @plazzy99 @Kajol-Kumari @Abhijit2505

[2020-08-17 07:05] SandipNayak commented on #504
I want to solve it in python,please assign it to me

[2020-08-17 07:06] DrSehgal7 commented on #449
@plazzy99 I would like to contribute in C++.Thank you!

[2020-08-17 07:06] SandipNayak commented on #502
I want to work this issue in c

[2020-08-17 07:07] yashaswibiyahut commented on #451
I would like to do this in C. Please assign this task to me.

[2020-08-17 07:08] SandipNayak commented on #499
I want to solve this issue in java

[2020-08-17 07:09] prasadvpatil commented on #509
I would like to work upon this in C @Kajol-Kumari @Abhijit2505 @SKAUL05 @plazzy99

[2020-08-17 07:10] SandipNayak commented on #495
I would like to this solve this in C ,please assign it to me.

[2020-08-17 07:13] SandipNayak commented on #494
I would like to solve this in Java pls assign it to me...

[2020-08-17 07:15] Naman-1234 commented on #509
i will do it in python3,Pls assign it to me.

[2020-08-17 07:16] Naman-1234 commented on #508
I can do that in C++ or python,in whichever u say,Pls assign me this issue

[2020-08-17 07:48] Kajol-Kumari commented on #508
@jannatulferdaws please go with c++ for this issue.
@Naman-1234 please go with python for this issue.
@riya-joshi-401 please go with C for this issue.
@SandipNayak please go with java for this issue.

Happy Learning :)

[2020-08-17 07:51] AkM-2018 commented on #461
I would like to work on this in Python

[2020-08-17 07:53] Kajol-Kumari commented on #509
Hey @prasadvpatil let's not go with the brute force algorithm for this as it's quiet naive! Maybe go for `Rabin–Karp` or `Boyer–Moore string-search algorithm` for this.

[2020-08-17 08:09] Shishir198 commented on #499
I want to solve this issue in python3

[2020-08-17 08:09] Kajol-Kumari commented on #439
Hey @salonilakhotia as @AltCtrlDel1999 has already commented to take up with java we can't assign it to you for java. Please feel free to take up any other language.

@AltCtrlDel1999 please go with java.

[2020-08-17 08:11] MohammadSameer08 commented on #468
i can do this in java

[2020-08-17 08:12] MohammadSameer08 commented on #449
i can do this using C

[2020-08-17 08:38] sukritidawar commented on #507
I want to work on this issue in python, java

[2020-08-17 08:42] santushtisharma10 commented on #439
@SKAUL05 @Kajol-Kumari I would like to work on this issue in Python

[2020-08-17 08:50] SKAUL05 commented on #439
@santushtisharma10 go ahead with python.

[2020-08-17 09:05] Nagasuruthika commented on #437
@Kajol-Kumari @plazzy99 Can I?

[2020-08-17 09:11] Nagasuruthika commented on #449
I would like to contribute in Python.Thank you!

[2020-08-17 09:14] Nagasuruthika commented on #449
@plazzy99

[2020-08-17 09:46] Vivek214-Candy commented on #479
I would like to work with this issue in Go

[2020-08-17 09:49] Vivek214-Candy commented on #469
I would like to contribute in java /javascript. Please assign to me

[2020-08-17 09:49] bagladivyang03 opened #515 "Max and min heap"
## 🚀 Feature

- Implementation of max and min heap using arrays

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

This issue was not yet given in hakin codes and heap is an imp data structure.

## Pitch

A heap is a tree-based data structure. There are two types of hea

[2020-08-17 09:50] Vivek214-Candy commented on #469
I want to contribute in python too... Please assign to me

[2020-08-17 09:51] bagladivyang03 commented on #515
Hi everyone could  anyone pls assign this in c++ to me as a part of hakin codes
@Abhijit2505 @Kajol-Kumari @siddharth25pandey @plazzy99

[2020-08-17 09:52] Vivek214-Candy commented on #455
I want to contribute in java please assign to me

[2020-08-17 09:55] Vivek214-Candy commented on #446
I want to contribute in java please assign to me

[2020-08-17 09:58] Vivek214-Candy commented on #427
I want to contribute in java/javascript/python

[2020-08-17 10:03] Vivek214-Candy commented on #343
I want contribute in javascript please assign to me

[2020-08-17 10:17] siddharth25pandey commented on #479
@Vivek214-Candy Start working with Go Lang
Also, make sure that you have gone through the Contributions Guideline thoroughly.
All the Best!
Happy Coding !

[2020-08-17 10:56] SKAUL05 commented on #449
Assigning to following according to languages:
C: @MohammadSameer08
C++: @DrSehgal7
Java: @Ishita1608
Python: @Nagasuruthika

[2020-08-17 11:12] Kajol-Kumari commented on #178
@raksha009 please go with C

[2020-08-17 11:15] Kajol-Kumari commented on #419
@peeky1811 as it's already done, p\we don't need to do it twice, please look for the other issue :)

[2020-08-17 11:18] Kajol-Kumari commented on #502
Hey @Anjali2001saxena we already have this issue [here](https://github.com/TesseractCoding/NeoAlgo/issues/325), closing this one.

[2020-08-17 11:18] #502 closed, assigned to nobody

[2020-08-17 11:19] varshachary commented on #471
I want to work on this issue in Python. Can you please assign it to me for python?

[2020-08-17 11:29] Kajol-Kumari commented on #507
Hey @chandansahuji I think we already have issues opened for fibonacci [here](https://github.com/TesseractCoding/NeoAlgo/issues/466) and [here](https://github.com/TesseractCoding/NeoAlgo/issues/14). If your issue is different from them, please explain it how, otherwise feel free to close this issue.

[2020-08-17 11:34] Kajol-Kumari commented on #437
Hey @ankitaggarwal23 please go with c# and @Nagasuruthika please go with Python.

Happy Learning :)

[2020-08-17 11:46] SKAUL05 commented on #471
Assigning
C++ :  @rahulpathak-github
C : @ag278
Python : @varshachary

[2020-08-17 12:21] vgb-codes commented on #488
@infoarpit Go ahead with Java.
@Shishir198  Go ahead with Python.
@stratospher Go ahead with C++.
@nutanaarohi123 Java has been taken. So I cannot assign you this issue.
@devanshi-katyal Python has been taken. So I cannot assign you this issue.
@Naman-1234 Python, C++ and Java have been taken. So I cannot assign you this issue.
@bagladivyang03 Go ahead with C.
@gupta-piyush19 Go ahead with Javascr

[2020-08-17 12:29] Kritika37 commented on #497
Hey there was some problem but i solved it. By mistake, I removed my assignment. Please reassign it  @plazzy99

[2020-08-17 12:47] DeepNinja07x opened #518 "Go LIFO and FIFO program"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.
I want to contribute by adding LIFO(Stack) and FIFO(Queue) programs using Go.

[2020-08-17 12:54] sharanya02 opened #519 "(CH20) Implementation of Playfair cipher using Python"
## 🚀 Feature

### Implementation of -

- Playfair cipher

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

### Yes.

## Motivation

One of the most common and important cryptographic techniques, which is quite interesting to implement at the same time.

## Pitch
Cryptography is very essen

[2020-08-17 13:45] viveksahu26 commented on #515
Can I get this issue, so that I can work it in java..

[2020-08-17 13:47] viveksahu26 commented on #499
I would like to work with this issue in java..

[2020-08-17 13:48] viveksahu26 commented on #495
I would like to work with this issue in java.. kindly, assign me..

[2020-08-17 13:48] viveksahu26 commented on #494
I would like to work with this issue in java.. kindly assign me..

[2020-08-17 15:59] ghost commented on #497
I would like to contribute in Golang

[2020-08-17 16:07] prashansasaxena opened #524 "BFS & DFS in Graphs"
## 🚀 Graph Traversal Algorithms

Breadth First Search and Depth First Search are the basic graph traversal algorithms.
BFS follows  level order traversal approach while DFS follows depth traversal approach.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

Graphs are v

[2020-08-17 16:21] Naman-1234 commented on #524
I can do that in C,Pls assign me this issue.
I have read the **contributing guidelines on pull requests.**

[2020-08-17 16:39] lipsamishra1609 commented on #524
I would like to contribute on this issue in java.

[2020-08-17 16:39] atarax665 commented on #504
@rgrupesh This is a duplicate issue, refer to issue #387 . @Ishita1608 @NEEHITGOYAL @SandipNayak comment on #387 . You will be assigned the issue there.

[2020-08-17 16:39] #504 closed, assigned to nobody

[2020-08-17 16:45] Rishikeshrajrxl commented on #495
@siddharth25pandey, @plazzy99 , @iamrajiv  .
Please assign this Issue. My all assigned work are done. I am waiting.

[2020-08-17 17:16] prashansasaxena commented on #493
I would like to solve this in Java.Please assign me the issue.

[2020-08-17 17:31] #524 closed, assigned to nobody

[2020-08-17 17:35] chandankrsahu commented on #507
Hello @Kajol-Kumari ,the method I am going to implement was using a mathematical formula to derive the nth term of the fibonacci series .[Please visit this link for  mathematical proofs of the same.](http://www.maths.surrey.ac.uk/hosted-sites/R.Knott/Fibonacci/fibFormula.html)

[2020-08-17 17:55] atarax665 commented on #519
@sharanya02 It would be better if you create separate issues for various cryptography algorithms else it would get really chaotic to keep track of all the algorithms in one issue.

[2020-08-17 18:00] atarax665 commented on #515
@bagladivyang03 We can create a new issue for heap sort. It would be better.

[2020-08-17 18:12] pragyajaiswa05l opened #532 "Kadane Algorithm"
## 🚀 Feature

Simple idea of the Kadane’s algorithm is to look for all positive contiguous segments of the array.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

Kadane’s algorithm is used to find out the ma

[2020-08-17 18:12] pragyajaiswa05l commented on #532
would like to contribute in c++ as a part of HakinCodes2020.
@SKAUL05 @Kajol-Kumari @Abhijit2505 @plazzy99 @siddharth25pandey

[2020-08-17 18:20] siddharth25pandey commented on #518
@DeepNinja07x
## This issue is already present.

[2020-08-17 18:20] #518 closed, assigned to nobody

[2020-08-17 18:21] ritvij14 commented on #461
I would like to work on this in Java.

[2020-08-17 18:22] DeepNinja07x commented on #518
@siddharth25pandey so can I create pull request

[2020-08-17 18:24] Rishikeshrajrxl commented on #494
@Kajol-Kumari , please assign this issue.

[2020-08-17 18:25] Rishikeshrajrxl commented on #499
@Kajol-Kumari , please assign this issue.

[2020-08-17 18:27] siddharth25pandey commented on #518
@DeepNinja07x  you can check the relevant issue. You have not to send the PR for this issue

[2020-08-17 18:41] atarax665 commented on #452
@imPGupta You can take this issue in C.
Happy Coding!

[2020-08-17 18:42] atarax665 commented on #452
@shubha028 You can do this in Java.
Get started !

[2020-08-17 18:43] atarax665 commented on #452
@sukritidawar You can start working on this issue in Python.
Happy coding!

[2020-08-17 18:44] atarax665 commented on #452
@piyushgoell Assigned in C++
Happy Coding!

[2020-08-17 18:46] atarax665 commented on #452
@Naman-1234 You can work on this in JavaScript. I am excited to see your approach to this problem.
Happy coding!

[2020-08-17 19:20] GajjarMiten commented on #469
Hey, @plazzy99 I would like to do it in Golang.

[2020-08-17 19:49] anshita22 commented on #494
I would like to work on this issue in C++. Kindly assign this issue to me.

[2020-08-17 19:53] anshita22 commented on #13
I want to work on this issue in C++ and python. kindly assign me this issue.

[2020-08-17 19:57] anshita22 commented on #43
I would like to work on this issue in C, C++ and Python

[2020-08-17 21:02] mharshita commented on #451
@plazzy99  Please assign this issue to me in JavaScript.

[2020-08-17 21:54] atarax665 commented on #532
@pragyajaiswa05l Duplicate issue. Please check #178

[2020-08-17 21:54] #532 closed, assigned to nobody

[2020-08-18 01:34] Rishikeshrajrxl commented on #393
I would like to do this in c++

[2020-08-18 02:49] HarshCasper opened #542 "Create a Contributor's Guideline"
## 📚 Documentation

Currently, the Project Codebase lacks a Contributor's Guideline which is detrimental for new contributors. We need a good documentation that can actually help new contributors to understand how they can start contributing to this Project. The basic features we are currently looking for are:

- Refactor the existing ```CONTRIBUTING.md``` to allow new users to get started with kn

[2020-08-18 02:56] HarshCasper opened #543 "Add a Tutorial on resolving Merge Conflicts and pulling new changes to Fork"
## 📚 Documentation

I am looking for a Tutorial which can later form a part of our `Wiki` page which gives the new contributors a broad idea on how they can resolve Merge Conflicts and pull new changes to their fork, making it even with the master.

These tutorials will make a part of a separate directory under `Tutorials/` and would include all the Markdown Files for various tutorials and know-ho

[2020-08-18 03:11] HarshCasper opened #544 "Add a C++ Style Guide Documentation"
## 📚 Documentation

Create a C++ Style Guide Documentation in the specific `C-Plus-Plus` Directory which serves the following purpose:

- Acquaint the User about the C++ Styles Guide and what are the best practices to follow.
- Mention about Code Width and Alignment, a proper convention to add Whitespaces and Indentation.
- Mention about Variable Naming Conventions and various best practices follo

[2020-08-18 03:14] HarshCasper opened #545 "Add a Python Style Documentation"
## 📚 Documentation

Create a Python Style Guide Documentation in the specific `Python` Directory which serves the following purpose:

- Acquaint the User about the Python Styles Guide and what are the best practices to follow (PEP-8).
- Mention about Code Width and Alignment, a proper convention to add Whitespaces and Indentation.
- Mention about Variable Naming Conventions and various best practi

[2020-08-18 03:40] pragyajaiswa05l opened #547 "Prefix Sum Array"
## 🚀 Feature

Prefix Sum array is a data structure design which helps us to answer several queries such as sum in a given range in constant time which would otherwise take linear time. It requires a linear time preprocessing and is widely used due to its simplicity and effectiveness.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/m

[2020-08-18 03:40] pragyajaiswa05l commented on #547
would like to contribute in c++ as a part of HakinCodes2020.
@SKAUL05 @Kajol-Kumari @Abhijit2505 @plazzy99 @siddharth25pandey

[2020-08-18 03:44] sharanya02 commented on #519
okay I'll do that.

[2020-08-18 03:50] sharanya02 opened #548 "(CH20) Implementation of Hill Cipher"
## 🚀 Feature

### Implementation of -

- [Hill cipher](https://en.wikipedia.org/wiki/Hill_cipher#:~:text=In%20classical%20cryptography%2C%20the%20Hill,than%20three%20symbols%20at%20once.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

### Yes.

## Motivation

One of the most common and

[2020-08-18 03:55] sharanya02 commented on #519
@Kajol-Kumari  @SKAUL05  @Abhijit2505  @plazzy99 9 @siddharth25pandey
Can you please add the relevant labels to it and assign the issue to me. I would like to work on it with python.Thank you!

[2020-08-18 03:56] sharanya02 commented on #548
@Kajol-Kumari  @SKAUL05  @Abhijit2505  @plazzy99 9 @siddharth25pandey
Can you please add the relevant labels to it and assign the issue to me. I would like to work on it with python.Thank you!

[2020-08-18 04:30] parjanyaacoder commented on #519
Please assign me this issue in Java.

[2020-08-18 04:34] SKAUL05 commented on #548
@sharanya02 Go Ahead with Hill Cipher in **Python**.

[2020-08-18 04:35] SKAUL05 commented on #519
Assigning
Java : @parjanyaacoder
Python : @sharanya02

[2020-08-18 04:46] Kritika37 commented on #544
I would like to work on this.

[2020-08-18 04:52] vatsalkesarwani12 commented on #446
@Vivek214-Candy java has already been assigned to someone

[2020-08-18 05:13] vatsalkesarwani12 commented on #497
@odavhad go with golang

[2020-08-18 05:18] subhayu99 commented on #424
@HarshCasper Can I make another PR for the Python version of N-Queen until [this PR](https://github.com/TesseractCoding/NeoAlgo/pull/457) is merged?

[2020-08-18 05:18] vatsalkesarwani12 commented on #495
@Rishikeshrajrxl go  with c++
@pradeep98  go with python
@SandipNayak go with c
@viveksahu26 go with java

[2020-08-18 05:18] akanksha-saini opened #551 "Floyd Warshell Algorithm"
## 🚀 Feature

Add Floyd Warshall Algorithm in Graphs.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

Floyd Warshall Algorithm is for solving the **All Pairs Shortest Path problem**. It is used is to find

[2020-08-18 05:19] bagladivyang03 commented on #515
@atarax665 Yeah that is also fine i just want to contribute this problem in hakins code
@SKAUL05 could u pls assign and add relevant labels to it

[2020-08-18 05:19] bagladivyang03 commented on #515
I like to work in C++

[2020-08-18 05:19] akanksha-saini commented on #551
I would like to contribute in c++ as a part of HakinCodes2020.
@SKAUL05 @Kajol-Kumari @Abhijit2505 @plazzy99 @siddharth25pandey

[2020-08-18 05:22] Rishikeshrajrxl commented on #542
I would like to work on this issue.

[2020-08-18 05:24] Rishikeshrajrxl commented on #543
I would like to work on this .

[2020-08-18 05:27] PrasadMulherkar commented on #486
I would like to work on this in Java usign Java8 features

[2020-08-18 05:28] PrasadMulherkar commented on #468
I can do this in python

[2020-08-18 05:29] PrasadMulherkar commented on #434
I would like to work on this issue in Java

[2020-08-18 05:31] PrasadMulherkar commented on #551
I want to contribute to this issue using Java for HakinCode 2020

[2020-08-18 05:32] vatsalkesarwani12 commented on #461
@ritvij14 go with java

[2020-08-18 05:34] vatsalkesarwani12 commented on #469
@GajjarMiten go with golang

[2020-08-18 05:38] PrasadMulherkar commented on #547
I want to solve this issue in Java of HakinCodes 2020