[2020-10-26 00:29] #14 closed, assigned to nobody

[2020-10-27 00:29] #283 closed, assigned to YashThakare, Sohailsaifi, Alifbhanvadiya14

[2020-10-27 07:24] #1374 closed, assigned to thuy-ttn

[2020-10-28 00:29] #592 closed, assigned to nobody

[2020-10-28 00:29] #545 closed, assigned to sanusoumya17

[2020-10-28 00:29] #132 closed, assigned to Himanshu70565

[2020-10-28 05:36] ShishirBhandari commented on #1326
@atarax665, I will implement it in Javascript.

[2020-10-29 00:29] #499 closed, assigned to nobody

[2020-10-29 03:24] #433 closed, assigned to smv1999, Lakhan-Nad

[2020-10-29 18:10] atarax665 opened #1387 "Python Style Guide Documentation"
## 📚 Documentation

Create a Python Style Guide Documentation in the specific `Python` Directory which serves the following purpose:

- Acquaint the User about the Python Styles Guide and what are the best practices to follow (PEP-8).
- Mention about Code Width and Alignment, a proper convention to add Whitespaces and Indentation.
- Mention about Variable Naming Conventions and various best practi

[2020-10-30 00:17] #402 closed, assigned to nobody

[2020-10-31 00:17] #609 closed, assigned to nobody

[2020-10-31 00:18] #216 closed, assigned to harsh7in, anshulontech, Huzaib, Alifbhanvadiya14

[2020-10-31 07:33] hemanth-kotagiri opened #1388 "Add No Plagiarism to Contribution Guidelines"
## 📚 Documentation

My only request is to add No Plagiarism to the contribution guidelines. So far, I have reviewed two PRs that are directly copied from another website which were authored by someone else. Here they are: #1338 and #1327

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Ye

[2020-10-31 17:19] #452 closed, assigned to piyushgoell, imPGupta, sukritidawar, shubha028

[2020-10-31 17:57] spandey1296 commented on #1298
@nutanaarohi123 @plazzy99  @rishigarg94  @narayan2111  I would like to work on java and please assign the issues to me. Thanks

[2020-10-31 18:16] spandey1296 commented on #1298
package com.company;

import java.util.Scanner;

public class FibonacciNumber {
    public static void main(String[] args) {
  Scanner sc= new Scanner(System.in);

        int n;
        n=sc.nextInt();

        int c = get_fibonacci_last_digit(n);
        System.out.println("last nth fibonacci digit is: " + c);
            }

    private static int get_fibonacci_last_digit(int n) {

        int f

[2020-11-01 00:12] nutanaarohi123 commented on #1298
hey @spandey1296 . this problem is already solved in java. the code you have mention will take more time i.e time complexity is high.

[2020-11-01 00:19] #486 closed, assigned to nutanaarohi123, riya-joshi-401, PrasadMulherkar, SangeetaMishra

[2020-11-01 00:19] #425 closed, assigned to TechTarun, Nistha-tech, shankhanil007

[2020-11-01 00:19] #438 closed, assigned to Joshitha18, shubha028, yashsahay25, santushtisharma10

[2020-11-01 00:19] #49 closed, assigned to nobody

[2020-11-01 16:41] Gaurav6982 commented on #228
I would like to work on this issue using javascript (js). @plazzy99

[2020-11-01 16:42] vatsalkesarwani12 commented on #228
Assigned to you

[2020-11-01 22:08] dgabriel123 commented on #1388
Hello @hemanth-kotagiri , may I work on this?

[2020-11-02 00:17] #141 closed, assigned to jivthesh, sparkingdark

[2020-11-02 00:17] #426 closed, assigned to ritvij14, avinashkranjan, santushtisharma10, Anjali2001saxena

[2020-11-02 00:17] #129 closed, assigned to GSNCodes

[2020-11-02 00:17] #133 closed, assigned to Gaushikmr

[2020-11-02 07:30] Gaurav6982 opened #1395 "Rectangle Cutting Using DP"
## 🚀 Feature

Given an a×b rectangle, your task is to cut it into squares. On each move you can select a rectangle and cut it into two rectangles in such a way that all side lengths remain integers. What is the minimum possible number of moves?
## Input
The only input line has two integers a and b.

## Output
Print one integer: the minimum number of moves.

## Example

Input:
3 5

Output:
3
### Ha

[2020-11-02 07:30] Gaurav6982 commented on #1395
Please Assign me this for c++ and java. @plazzy99

[2020-11-02 08:12] vatsalkesarwani12 commented on #1395
assigned java and cpp

[2020-11-02 15:24] hemanth-kotagiri commented on #1388
Sorry @dgabriel123. I am working on that. Thanks!

[2020-11-03 00:17] #547 closed, assigned to nobody

[2020-11-03 00:17] #419 closed, assigned to cherryWood55, pragyajaiswa05l, infoarpit

[2020-11-04 00:18] #423 closed, assigned to pragyajaiswa05l, peeky1811

[2020-11-06 00:20] #816 closed, assigned to nobody

[2020-11-06 00:20] #414 closed, assigned to Surajv311, narayan2111, sonukushwaha403

[2020-11-07 00:18] #508 closed, assigned to jannatulferdaws, SandipNayak, Kathan-Vakharia, riya-joshi-401, Naman-1234

[2020-11-07 00:19] #418 closed, assigned to rgrupesh

[2020-11-07 18:08] ashu-cybertron commented on #1395
assign me for java

[2020-11-07 20:07] vatsalkesarwani12 commented on #1395
java is already assigned

[2020-11-08 00:19] #874 closed, assigned to nobody

[2020-11-08 00:19] #479 closed, assigned to Yuvraj-kadale, Joshitha18, AltCtrlDel1999, Vivek214-Candy

[2020-11-09 00:20] #764 closed, assigned to nobody

[2020-11-09 00:20] #622 closed, assigned to rgrupesh

[2020-11-09 00:20] #471 closed, assigned to varshachary, rahulpathak-github, ag278

[2020-11-09 16:37] atarax665 opened #1403 "Chinese Remainder Theorem"
## [Chinese Remainder Theorem](https://en.wikipedia.org/wiki/Chinese_remainder_theorem)

You are given k numbers which are pairwise coprime, and given remainders of these numbers when an unknown number x is divided by them. We need to find the minimum possible value of x that produces given remainders.

Example:
Input :
Enter the size of the array : 3
Enter value of coprime divisors : 2 3 5
Enter

[2020-11-10 00:19] #686 closed, assigned to yashaswibiyahut, muddhit

[2020-11-10 00:34] ashu-cybertron opened #1404 "i would like to work on this with python please assign this to me"
i would like to work on this with python please assign this to me

_Originally posted by @ashu-cybertron in https://github.com/TesseractCoding/NeoAlgo/issues/1346#issuecomment-724370111_

[2020-11-10 00:35] #1404 closed, assigned to nobody

[2020-11-10 00:36] ashu-cybertron commented on #1346
i would like to work on this with python please assign this to me

[2020-11-10 00:40] ashu-cybertron commented on #1372
i would like to work on python on this assign me

[2020-11-10 00:43] ashu-cybertron commented on #1395
i would like to work on python on this assign me

[2020-11-10 01:06] ashu-cybertron commented on #1403
assgn me for java and python

[2020-11-12 00:17] #872 closed, assigned to nobody

[2020-11-12 05:41] ashu-cybertron commented on #1403
I already did a pull request after writing code please check once
I am new at the open-source so plz help @atarax665

[2020-11-14 00:18] #873 closed, assigned to nobody

[2020-11-15 00:19] #832 closed, assigned to nobody

[2020-11-15 00:19] #436 closed, assigned to nutanaarohi123, Lakhan-Nad, bikash1317, anubhvshrma18

[2020-11-16 00:19] #875 closed, assigned to nobody

[2020-11-18 00:19] #387 closed, assigned to yashaswibiyahut, salonilakhotia, Ahana001, aniketsingh98571, narayan2111

[2020-11-20 21:12] ashu-cybertron commented on #1403
it's completed in python saved in /python/others plz check @atarax665, but you haven't assigned me yet. plz  assign me and merge my pull request

[2020-11-21 00:20] #663 closed, assigned to sahanabalappa, kushagraiitbbs, ag278

[2020-11-23 00:20] #916 closed, assigned to nobody

[2020-11-23 00:56] ashu-cybertron commented on #1395
i would like work in cpp also please assign to me in C++

[2020-11-23 07:49] vatsalkesarwani12 commented on #1395
python assigned

[2020-11-23 17:46] chehak123 commented on #1308
I would like to work on this in c++

[2020-11-23 17:47] chehak123 commented on #1296
I would like to work on this in c++

[2020-11-23 17:48] chehak123 commented on #1372
I would like to work on this in c++

[2020-11-23 17:48] chehak123 commented on #1217
I would like to work on this in c++

[2020-11-23 17:49] chehak123 commented on #1298
I would like to work on this in c++

[2020-11-23 17:51] chehak123 commented on #1300
I would like to work on this in c++

[2020-11-23 17:52] chehak123 commented on #1299
I would like to work on this in c++

[2020-11-23 17:52] chehak123 commented on #1322
I would like to work on this in c++

[2020-11-24 11:53] limitless-Sky commented on #1372
@atarax665 Can I work on this in Java?

[2020-11-24 11:55] limitless-Sky commented on #1312
@shahriar100 Can I work on this in Java?

[2020-11-24 16:59] ShahriarCodes commented on #1312
You may ask the repository maintainers to assign you.

[2020-11-24 17:14] limitless-Sky commented on #1312
@atarax665 Can I work on this problem in java

[2020-11-25 00:20] #445 closed, assigned to pulkitgovrani, SangeetaMishra, kushagraiitbbs, ag278

[2020-11-25 00:20] #449 closed, assigned to DrSehgal7, ishitakeshawani, MohammadSameer08, Nagasuruthika

[2020-11-26 00:22] #1035 closed, assigned to nobody

[2020-11-27 06:50] charlie219 commented on #1403
@atarax665 I would love to contribute to the task through Python

[2020-11-27 11:41] sayantan1413 commented on #1372
@atarax665 @plazzy99 @iamrajiv Can you assign the solution of this problem in C-sharp.

[2020-11-27 11:44] sayantan1413 commented on #1326
@atarax665 @iamrajiv @plazzy99 Can you assign me the solution of the problem in C-sharp

[2020-11-27 18:47] #855 closed, assigned to smv1999, ritvij14, SangeetaMishra, devanshi-katyal

[2020-11-28 00:22] #497 closed, assigned to Kritika37, diyajaiswal11

[2020-11-28 07:32] charlie219 commented on #1372
@atarax665 @iamrajiv  can I take this issue in Python, if yes then kindly assign me the issue

[2020-11-28 13:45] limitless-Sky commented on #1312
@iamrajiv I had completed Java Code for this problem. kindly merge it.

[2020-11-29 10:04] Vishesh-Mittal commented on #1222
i would like to work on this in java

[2020-11-30 06:31] aeyshubh commented on #1372
Hello , i would like to do this program in Java @iamrajiv

[2020-11-30 11:17] salonishah01 commented on #1403
@atarax665 Would like to contribute in C.

[2020-11-30 17:47] the-agarwal01 commented on #1403
@atarax665 Hi,
Would love to contribute it in cpp! Plz assign me the task

[2020-12-01 00:22] #1031 closed, assigned to nobody

[2020-12-01 00:23] #269 closed, assigned to parjanyaacoder, anushkrishnav

[2020-12-01 17:39] abhay313 commented on #1298
Please assign me I would like to implement it in C++

[2020-12-01 17:41] abhay313 commented on #1312
Please assign me I would like to implement it in C++

[2020-12-01 17:42] abhay313 commented on #860
Please assign me I would like to implement it in C++

[2020-12-02 05:57] ErzaTitania-2001 commented on #1372
https://github.com/ErzaTitania-2001/NeoAlgo/commit/ce11e4200d5ca4be394740904d54f58ff5086d0d
Iteratively as well as recursively done in Java.  Please review it.  @atarax665  @iamrajiv

[2020-12-02 12:58] deagleSC commented on #1387
Hi. Can you assign me this issue? @atarax665

[2020-12-02 17:40] atarax665 commented on #1387
@DeagleOfficial Assigned to you.

[2020-12-02 17:55] #1388 closed, assigned to nobody

[2020-12-02 18:03] hemanth-kotagiri commented on #1388
@atarax665 if you are open for collaboration, I am more than happy to join and help this repository and engage in reviewing PRs and issues.
Thanks!

[2020-12-03 16:22] twok020101 opened #1423 "Algorithms and solution for compitative programming"
Hello,
I'm a compitative programmer and algorithm implimentor. I solve a lot of problems in different ways that are not available. I always try to minimize the time complexity. I would like to contribute solution to the world keeping intention inn mind that  can help a lot of budding programmers with learning logic.

[2020-12-04 00:32] #1086 closed, assigned to salonishah01, ritvij14, AakritiKinra, sukritidawar

[2020-12-04 06:47] #1064 closed, assigned to nobody

[2020-12-04 10:02] #1278 closed, assigned to Bidonsaha, JayantGoel001

[2020-12-04 15:26] TrushaT commented on #1403
Please assign me for Python

[2020-12-04 15:29] TrushaT commented on #1136
pls assign me this issue for python @SKAUL05 @plazzy99  @Kajol-Kumari

[2020-12-04 15:33] SKAUL05 commented on #1136
Go ahead

[2020-12-05 00:22] #993 closed, assigned to yashaswibiyahut, rohangawhade, samyukta20, ag278

[2020-12-05 00:22] #988 closed, assigned to salonishah01, ritvij14, ishi0301, rutujadhanawade, narayan2111

[2020-12-05 00:22] #978 closed, assigned to mahimagoyalx, ritvij14, SangeetaMishra, narayan2111

[2020-12-05 00:22] #980 closed, assigned to mahimagoyalx, ritvij14, narayan2111, ag278

[2020-12-05 00:22] #976 closed, assigned to mahimagoyalx, ritvij14, ishi0301, raksha009

[2020-12-05 00:22] #939 closed, assigned to nutanaarohi123, sukritishah15, ritvij14, rutujadhanawade

[2020-12-05 00:22] #955 closed, assigned to yashaswibiyahut, salonishah01, ritvij14, raksha009, ag278

[2020-12-05 00:22] #930 closed, assigned to ritvij14, rutujadhanawade, gupta-piyush19, bagladivyang03, ag278

[2020-12-05 00:22] #937 closed, assigned to nutanaarohi123, sukritishah15, ritvij14

[2020-12-05 00:22] #925 closed, assigned to sahanabalappa, ritvij14, TEJASWI-TEJASWI, rutujadhanawade

[2020-12-05 12:28] ashu-cybertron commented on #1423
i would like to work in this in python and java or any one from both ,, please assign me , I hv some experience in it and I  can code in optimized way in contrast of time and space complexity

[2020-12-05 14:39] ErzaTitania-2001 commented on #1286
Ugly Number With Recursion (Addition of Ugly Number Problem #1286) #1424
Kindly go through my PR @atarax665  @iamrajiv

[2020-12-05 14:46] ErzaTitania-2001 commented on #1217
Kindly go through my PR ! @iamrajiv @atarax665
https://github.com/TesseractCoding/NeoAlgo/commit/463677d985b0b6c19320719c8108bcdfa294b4fd

[2020-12-06 00:33] #909 closed, assigned to ritvij14, rutujadhanawade, narayan2111, ag278

[2020-12-06 00:33] #917 closed, assigned to devanshiv123, rohangawhade, bagladivyang03, narayan2111

[2020-12-06 00:33] #900 closed, assigned to nutanaarohi123, raksha009

[2020-12-06 00:33] #868 closed, assigned to salonishah01, ritvij14, sukritidawar, D3ADSH0T25

[2020-12-06 00:33] #887 closed, assigned to devanshiv123

[2020-12-06 00:33] #825 closed, assigned to nutanaarohi123, rohangawhade, GrayFlash, narayan2111

[2020-12-06 00:33] #826 closed, assigned to yashaswibiyahut, NEEHITGOYAL, shubham5351, GrayFlash

[2020-12-06 00:33] #792 closed, assigned to kauravankit25, raksha009, narayan2111

[2020-12-06 00:33] #793 closed, assigned to nobody

[2020-12-06 00:33] #704 closed, assigned to nobody

[2020-12-06 00:33] #740 closed, assigned to yashaswibiyahut, YashThakare, devanshiv123, sanskarvijpuria

[2020-12-06 00:33] #667 closed, assigned to sahanabalappa, ritvij14, SangeetaMishra

[2020-12-06 00:33] #670 closed, assigned to devanshiv123, sahanabalappa, sanskarvijpuria, avinashkranjan

[2020-12-06 00:33] #633 closed, assigned to ymaheshwari1

[2020-12-06 00:33] #661 closed, assigned to TEJASWI-TEJASWI, Himanshu44626748, SangeetaMishra, narayan2111

[2020-12-06 00:33] #617 closed, assigned to nutanaarohi123, Himanshu70565, prasadvpatil

[2020-12-06 00:33] #632 closed, assigned to devanshiv123, kashika3101, Huzaib, narayan2111

[2020-12-07 00:24] #595 closed, assigned to nobody

[2020-12-07 00:24] #593 closed, assigned to nobody

[2020-12-07 00:24] #594 closed, assigned to nobody

[2020-12-07 00:24] #585 closed, assigned to anime19, GajjarMiten, akanksha-saini, NEEHITGOYAL, shubham5351

[2020-12-07 00:24] #590 closed, assigned to pradeep98, raksha009, viveksahu26, ag278

[2020-12-07 00:24] #578 closed, assigned to Mohitkumar6122, kashika3101, Jkp2072, prashansasaxena

[2020-12-07 00:24] #563 closed, assigned to pradeep98, piyushgoell, GajjarMiten, PatelKeviin, Yuvraj-kadale, raksha009, Nagasuruthika

[2020-12-07 00:24] #573 closed, assigned to nutanaarohi123, akanksha-saini, TEJASWI-TEJASWI, narayan2111

[2020-12-07 00:24] #451 closed, assigned to yashaswibiyahut, nutanaarohi123, sharur7, mharshita

[2020-12-07 00:24] #415 closed, assigned to nobody

[2020-12-07 23:23] JayantGoel001 opened #1425 "ArraySub"
## 🚀 Feature

Given an array and an integer k, find the maximum for each and every contiguous subarray of size k.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation

(Sliding window and Deque)

## Pitch

(It shows implementation and algorithm of heap or deque data stru

[2020-12-08 00:23] #1133 closed, assigned to imPGupta, rutujadhanawade, sukritidawar, narayan2111

[2020-12-08 00:23] #1134 closed, assigned to salonishah01, Preetesh21, rutujadhanawade

[2020-12-08 00:23] #814 closed, assigned to shraddhavp, Joshitha18, sahanabalappa, yashsahay25

[2020-12-08 00:23] #815 closed, assigned to Joshitha18, sahanabalappa, GrayFlash, Aanchi-glitch2744

[2020-12-08 00:23] #908 closed, assigned to nobody

[2020-12-08 00:23] #805 closed, assigned to sahanabalappa, ritvij14, Ajay0511, sharur7

[2020-12-08 00:23] #555 closed, assigned to piyushgoell, poojarathore30, Huzaib, SangeetaMishra

[2020-12-08 01:23] Siddhant-K-code commented on #1423
I can contribute Codeforces/ Codechef/ Leetcode Problems' solutions in C++

[2020-12-08 06:17] manasisaiba commented on #1068
I would like to contribute in this issue in C++

[2020-12-08 06:18] rutujak24 commented on #1300
Please assign this issue to me, would like to work with it for WOC in python.

[2020-12-08 07:17] ghost commented on #1423
I can contribute MATLAB CODY problems' solutions and Hackerrank Python Solutions.

[2020-12-08 07:21] Sidhant-Gupta commented on #47
I'll like to resolve this issue in cpp.

[2020-12-08 07:23] Sidhant-Gupta commented on #615
I'll like to take this issue in cpp.

[2020-12-08 07:26] ghost commented on #1403
I want to know if I can contribute in MATLAB? Can we add it?

[2020-12-08 07:28] ghost opened #1427 "Merge Sort in JavaScript"
## 🚀 Feature

Adding Merge Sort function in JavaScript sort directory

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

To implement a recursive function to sort a list in JavaScript using Merge sort.

## Pitch

Use Divide and Conquer and Recursion to implement merge s

[2020-12-08 07:45] gargVader opened #1428 "Staircase Search in row and column sorted matrix"
## 🚀 Feature

I want to add Staircase Search in row and column sorted matrix. Code will be in C++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Interesting algorithm which is asked many times in the interviews

## Pitch

It helps to search for a value in a matrix

[2020-12-08 07:46] gargVader commented on #1428
Can I go ahead?

[2020-12-08 07:56] Sidhant-Gupta commented on #1286
I'll like to take this issue. Please assign me this for cpp.

[2020-12-08 10:57] aeyshubh commented on #1403
As a part of my contribution in Woc , i would like to do this in java.

[2020-12-08 11:18] 1711shashank commented on #1423
I can contribute Gfg Problems' solutions in C++

[2020-12-08 14:26] barnamensch056 commented on #1361
Assign me, I'll do it in C

[2020-12-09 00:23] #1195 closed, assigned to Rishabh7896, salonishah01, ritvij14, rutujadhanawade

[2020-12-09 00:23] #1224 closed, assigned to nobody

[2020-12-09 10:02] HarshCasper commented on #1388
Thanks for the contribution @hemanth-kotagiri

I'm the Project Admin of NeoAlgo and I would like you to join the [Slack](https://join.slack.com/t/tesseractcodi-bxq5968/shared_invite/zt-ju6c0nqq-KgkTvFyxjNVbDRBIjADanw) and drop me a message.

[2020-12-09 10:03] hemanth-kotagiri commented on #1388
@HarshCasper, Awesome! Thanks!

[2020-12-09 10:26] #47 closed, assigned to atarax665, mar-galho

[2020-12-09 10:26] #228 closed, assigned to iamrajiv, Gaurav6982, SangeetaMishra

[2020-12-09 10:26] #334 closed, assigned to YashThakare, parjanyaacoder

[2020-12-09 10:26] #399 closed, assigned to parjanyaacoder, Rishikeshrajrxl, Sohailsaifi, pulkitgovrani, Alifbhanvadiya14

[2020-12-09 10:26] #400 closed, assigned to GajjarMiten, parjanyaacoder, Rishikeshrajrxl, Sohailsaifi, SangeetaMishra

[2020-12-09 10:26] #417 closed, assigned to ritvij14, SayaniG371, SangeetaMishra

[2020-12-09 10:26] #424 closed, assigned to subhayu99, shankhanil007

[2020-12-09 10:35] #785 closed, assigned to YashThakare, sahanabalappa

[2020-12-09 10:35] #845 closed, assigned to nobody

[2020-12-09 10:35] #860 closed, assigned to salonilakhotia, AakritiKinra, sukritidawar

[2020-12-09 10:35] #922 closed, assigned to smv1999, ritvij14, SangeetaMishra, narayan2111

[2020-12-09 10:35] #923 closed, assigned to nobody

[2020-12-09 10:36] #588 closed, assigned to Yuvraj-kadale, rutujadhanawade

[2020-12-09 10:36] #548 closed, assigned to GajjarMiten, sharanya02, SwagataJ

[2020-12-09 10:36] #515 closed, assigned to nutanaarohi123, bagladivyang03, viveksahu26

[2020-12-09 10:38] #615 closed, assigned to nobody

[2020-12-09 10:38] #752 closed, assigned to nobody

[2020-12-09 10:41] #1066 closed, assigned to nobody

[2020-12-09 10:41] #1052 closed, assigned to nobody

[2020-12-09 10:41] #1049 closed, assigned to nobody

[2020-12-09 10:41] #972 closed, assigned to nobody

[2020-12-09 10:41] #1014 closed, assigned to nobody

[2020-12-09 10:41] #1043 closed, assigned to nobody

[2020-12-09 10:41] #929 closed, assigned to nobody

[2020-12-09 12:27] #1222 closed, assigned to rohangawhade

[2020-12-09 12:27] #1184 closed, assigned to nobody

[2020-12-09 12:27] #1182 closed, assigned to reachpranjal

[2020-12-09 12:27] #1175 closed, assigned to imPGupta, ganatra-v, bagladivyang03

[2020-12-09 12:27] #1152 closed, assigned to rutujadhanawade, sukritidawar, narayan2111, ag278

[2020-12-09 12:27] #1138 closed, assigned to bagladivyang03, amoghatsunil

[2020-12-09 12:27] #1136 closed, assigned to nobody

[2020-12-09 12:27] #1122 closed, assigned to nobody

[2020-12-09 12:27] #1119 closed, assigned to rjn01, rutujadhanawade, bagladivyang03

[2020-12-09 12:27] #1116 closed, assigned to NEEHITGOYAL, salonishah01, ritvij14, bagladivyang03

[2020-12-09 12:27] #1111 closed, assigned to ritvij14, rutujadhanawade, sukritidawar, narayan2111

[2020-12-09 12:29] #1102 closed, assigned to nobody

[2020-12-09 12:29] #1108 closed, assigned to nobody

[2020-12-09 12:31] #1387 closed, assigned to deagleSC

[2020-12-09 12:31] #1372 closed, assigned to chehak123, sayantan1413

[2020-12-09 12:31] #1361 closed, assigned to nobody

[2020-12-09 12:31] #1346 closed, assigned to nobody

[2020-12-09 12:31] #1326 closed, assigned to parjanyaacoder, salonishah01, JayantGoel001, basharfarid77

[2020-12-09 12:31] #1323 closed, assigned to salonishah01, Amanj2000

[2020-12-09 12:32] #1322 closed, assigned to salonishah01, xma8lu, SANKET7738

[2020-12-09 12:32] #1321 closed, assigned to Aanchi-glitch2744

[2020-12-09 12:33] #1068 closed, assigned to NEEHITGOYAL, salonishah01, ritvij14, rutujadhanawade

[2020-12-09 12:33] #1074 closed, assigned to imPGupta, rohangawhade, Preetesh21, ritvij14, narayan2111

[2020-12-09 12:33] #1217 closed, assigned to imPGupta, rohangawhade, sukritidawar, suprithars111, soumik-dhar, sharur7, 2tanayk

[2020-12-09 12:33] #1232 closed, assigned to iamRishabh07, salonishah01, rohangawhade, suprithars111, sharur7

[2020-12-09 12:33] #1270 closed, assigned to Rishabh7896, rohangawhade

[2020-12-09 12:33] #1276 closed, assigned to Bidonsaha, Rishabh7896

[2020-12-09 12:33] #1286 closed, assigned to nobody

[2020-12-09 12:37] #1298 closed, assigned to nutanaarohi123, narayan2111

[2020-12-09 12:37] #1299 closed, assigned to chehak123

[2020-12-09 12:37] #1300 closed, assigned to yashaswibiyahut, narayan2111

[2020-12-09 12:37] #1311 closed, assigned to nobody

[2020-12-09 12:38] #1312 closed, assigned to ShahriarCodes, salonishah01, limitless-Sky

[2020-12-09 12:39] #1395 closed, assigned to Gaurav6982, ashu-cybertron

[2020-12-09 12:39] #1403 closed, assigned to salonishah01, the-agarwal01

[2020-12-09 12:39] #1296 closed, assigned to nobody

[2020-12-09 12:39] #1308 closed, assigned to salonishah01, arnab031, xma8lu, rishigarg94

[2020-12-09 12:40] #1423 closed, assigned to nobody

[2020-12-09 13:03] Siddhant-K-code commented on #1427
I can do this in `JavaScript`

[2020-12-09 15:34] yukty2000 opened #1436 "Add code for number of binary trees to dp folder for Winter Of Code"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

I want to add the code for the following problem-
Calculate the number of binary trees possible given the length of the preorder traversal-n.
I am going to solve this problem using Dynamic Programming Approach and I want to add it to C-Plus-Plus/dp folder.
Please, assign it to me.

### Have you read the [Contributing Guidel

[2020-12-10 03:58] rutujadhanawade commented on #241
I would like to work on this issue in C as a part of woc.

[2020-12-10 06:17] ananya0504 commented on #1425
Hi, can I implement this problem? Please assign it to me

[2020-12-10 07:19] rutujadhanawade commented on #241
I have a doubt, should I create a new file or just make changes in an existing file?

[2020-12-10 07:23] iamrajiv commented on #241
@rutujadhanawade Make changes to the same file and add this approach in that with proper comments for reference take a look of this #243.

[2020-12-10 07:26] #941 closed, assigned to nobody

[2020-12-10 07:39] iamrajiv commented on #1425
@ananya0504 Sure. Specify the language in which you want to work.

[2020-12-10 07:45] ghost opened #1438 "Include MATLAB for Winter of Code"
Feature:
Include MATLAB

Have you read the Contributing Guidelines on Pull Requests?
Yes

Motivation:
It is a simple and easy programming language that is currently being used during the online conduction of various labs due to Covid-19.
It might be useful for many of us.

[2020-12-10 07:47] aeyshubh opened #1439 "Boyer–Moore majority vote algorithm"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
The Boyer–Moore majority vote algorithm is an algorithm for finding the **majority of a sequence** of elements using linear time and constant space.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answe

[2020-12-10 07:48] iamrajiv commented on #1436
@yukty2000 Sure but I would suggest of adding other approaches too like solving this using Catalan number or maybe more approaches which exist. Add all the approaches in a single file with proper comments specifying space and time complexity because this repository mainly deals with learning rather than efficient code so people can get to know all the approaches of solving the problem and can dedu

[2020-12-10 07:52] aeyshubh commented on #1439
Can i do it in Python @iamrajiv

[2020-12-10 07:56] ghost commented on #1439
Can I do it in C++?

[2020-12-10 08:03] iamrajiv commented on #1438
Sorry but I don't think this is necessary as of now. We already have `C-Sharp`, `Kotlin` and `Q-Sharp` section which is far behind as compared to other sections so adding this will cause inconsistency since these languages rarely get contributions.

[2020-12-10 08:04] ghost commented on #1438
Okay sure, Thanks!

[2020-12-10 08:04] #1438 closed, assigned to nobody

[2020-12-10 08:53] barnamensch056 commented on #1439
Can I do it in C?

[2020-12-10 09:19] PuravUdayDesai commented on #1439
I want to take up this issue in **JavaScript**

[2020-12-10 10:30] kartikp36 opened #1440 "Dynamic programming algorithms in python"
## 🚀 Feature
### Winter of Code
Add the following  dynamic programming algorithms in Python:

1. Edit Distance
2. Knapsack-Unbounded
3. Knapsack-0-1

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes.

## Motivation
Of all the algorithms, dynamic programming algorithms were difficult on

[2020-12-10 10:53] JayantGoel001 commented on #1425
@iamrajiv I have Made a PR
Please Review It.

[2020-12-10 12:41] limitless-Sky commented on #1425
@iamrajiv Can I work on this in java.

[2020-12-10 12:50] JayantGoel001 commented on #1425
@iamrajiv  Please Review It.

[2020-12-10 13:43] charlie219 commented on #1436
@iamrajiv @atarax665 I want to take this issue in Python.
I also want to add other DP algorithms such as

Ugly numbers
Dice Throw Problem
Longest Common Subsequence
Longest Increasing Sequence
Partition Problem
0-1 Knapsack Problem

in Python

[2020-12-10 13:56] iamrajiv opened #1443 "Designing a new NeoAlgo SVG logo"
Designing a new NeoAlgo SVG logo. Make sure it looks good with both dark and light mode.

[2020-12-10 14:48] deagleSC opened #1444 "Generate all Pythagorean Triples within a Given limit in C++"
## 🚀 Feature

(A Program to Generate all the Pythagorean Triples within a User-given limit)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation
(Pythagorean Triples Generation using Rationality relation is an important Math-centric algorithm.)

## Pitch
(A Program to Ge

[2020-12-10 16:18] gargVader opened #1447 "Vector data structure"
## 🚀 Feature

Implement vector data structure in C++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Vector is one of the most commonly used data structure from the C++ STL library. But many people are not aware how it works.

## Pitch

The implementation will have

[2020-12-10 16:20] gargVader commented on #1447
Can I go ahead working on this?

[2020-12-10 19:23] ghost commented on #1443
Can I share something?

[2020-12-10 19:53] ghost opened #1453 "Randomized Prim's Algorithm Python"
## 🚀 Feature

Algorithm for creating a maze.

### Have you read the [Contributing Guidelines on Pull Requests]?
Yes

## Motivation

Mazes are fun.

## Pitch

This algorithm is a randomized version of Prim's algorithm. This algorithm introduces stylistic variation because the edges closer to the starting point have a lower effective weight.

[2020-12-11 05:54] ghost commented on #1443
@iamrajiv Kindly let me know what you think of the new logo png

[2020-12-11 06:07] atriadhiakri2000 opened #1455 "Dynamic Programming/Winter of code"
## 🚀 Feature
(A clear and concise description of what the feature is.)

Add the following problems:
- **Longest common subsequence
- Longest increasing subsequence
- Egg Dropping Puzzle
- Count ways to N'th Stair(Order does not matter)
- Optimal Strategy For A Game
- Kadane's Algorithm
- Brackets in Matrix Chain Multiplication
- Unique BST's
- Count in array
- Unique partitions**

### Have you rea

[2020-12-11 06:14] atriadhiakri2000 commented on #1455
I want to take Longest common subsequence and Longest increasing subsequence in python. Please assign me the task.

[2020-12-11 06:28] ghost commented on #1455
Can I take Egg dropping puzzle in python?

[2020-12-11 06:35] shraddhavp commented on #1455
assigned @itskrypton  and @atriadhiakri2000

[2020-12-11 06:57] PuravUdayDesai commented on #1436
I want to take up this issue in **Java**

[2020-12-11 07:38] aeyshubh commented on #1455
I would like to take (Count Ways to nth stair) in Java And Python

[2020-12-11 08:04] Bharati2612 opened #1459 "Addition to Dynamic Programming/Winter of Code"
## 🚀 Feature

(A clear and concise description of what the feature is.)

Add some new set of algorithms in DP section:

- Matrix chain multipliaction

- Egg dropping problem

- 0/1 Knapsack problem

- Subset sum problem

- Longest Common Subsequence

- Partition problem

- Fibonacci Algorithm

- Rod cutting Problem

- Coin change Problem

### Have you read the [Contributing Guidelines on Pull Requ

[2020-12-11 08:17] shubhank-saxena opened #1460 "Addition of code linters"
## 🚀 Feature

Addition of various code linters which will help to maintain code quality.

## Motivation

The repository houses algorithms from various languages. It will be a good practice if we had linters for every language so that we are able to maintain the code consistency.

## Pitch

This feature can be used as a pre-commit check as well as a travis test so that the integrity of the code is

[2020-12-11 08:24] yukty2000 opened #1461 "Updating Dynamic Programming Folder for Winter Of Code"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

I would like to add the code for the following in the C-plus-plus/dp folder-
1) Total number of BST's  possible given n keys.
2) Maximum sum subsequence - All approaches.(2)
3) Staircase Problem
4) Palindrome Partition
5) Balloon Burst Problem.
6) Finding Optimal BST Problem.
7) minimum number of jumps to reach the end.
I w

[2020-12-11 08:30] yukty2000 commented on #1436
Yes, @iamrajiv sir ,I have used the catalan number approach(tabulation) in the linked pull request.

[2020-12-11 08:44] Sidhant-Gupta opened #1462 "Dutch National Flag Algorithm /Winter Of Code"
## 💥 Proposal-Dutch National Flag Algorithm

Given an array nums with n objects colored red, white, or blue, sort them **in-place** and in one pass so that objects of the same color are adjacent, with the colors in the order red, white, and blue.
Here, we will use the integers 0, 1, and 2 to represent the color red, white, and blue respectively.

### Have you read the [Contributing Guidelines on P

[2020-12-11 08:50] Bharati2612 opened #1463 "Addition to Graph Algorithms / Winter of Code"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

Add new set of algorithms to DP section:

- Depth First Search Tree Traversal

- Single Source Shortest Path Algorithm (2 Algorithms)

- Strongly Connected Components.

- Finding Inorder Successor of a Node in a Binary Tree.

- Finding Inorder Predecessor of a Node in a Binary Tree.

I would like to add some other variation

[2020-12-11 09:10] ghost opened #1464 "Operating system algorithms for WoC"
## 💥 Proposal
Addition of Operating system algorithms

Implementations of FCFS scheduling algorithm using C++.
Implementation of Shortest Job First (SJF) Non-Preemptive CPU scheduling algorithm using C++.
Implementation of Shortest Job First (SJF) Preemptive CPU scheduling algorithm using C++.
Implementation of Priority scheduling (Preemptive) algorithm using C++.
Implementation of Priority schedu

[2020-12-11 09:42] k-sashank commented on #1464
I've just added the required files and created a PR!
Please Review it!

[2020-12-11 09:44] Bharati2612 commented on #1459
I want to take Matrix chain multiplication in C++. Please someone assign me this.

[2020-12-11 09:48] Bharati2612 commented on #1459
I want to solve 0/1 Knapsack as well in C++.Kindly assign it to me.

[2020-12-11 09:50] Bharati2612 commented on #1455
I would like to take egg dropping puzzel in Cpp.Please assign.

[2020-12-11 09:58] Bharati2612 commented on #1463
I would like to take DFS traversal someone please assign it to me. **WoC**

[2020-12-11 10:39] YASH01009 opened #1466 "Topological Sort / WoC"
Please assign implementing this algorithm in graphs section for me in C++, Java

[2020-12-11 10:44] YASH01009 opened #1468 "Directed Graph Cycle detection / WoC"
I noticed that the aforementioned algorithm can be implemented and the existing cycle-detection algorithm in cpp needs proper documentation to mention that it is for undirected graph. Please assign me these two tasks, I will do them in C++, Java

[2020-12-11 10:45] ghost commented on #1464
Oh, I am extremely sorry, must have missed it.

[2020-12-11 10:52] k-sashank commented on #1464
@itskrypton I added them earlier!
Waiting for the PR to get merged!

[2020-12-11 11:04] k-sashank opened #1469 "Knapsack Problem - Greedy Method (WoC)"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

## Motivation

(Please outline the motivation for the proposal.)
This problem is very prominent in DSA and Competitive Programming.

##

[2020-12-11 11:05] k-sashank commented on #1469
Please assign this issue to me for Python!

[2020-12-11 13:43] Neelaksh-Singh commented on #1460
Hi can we add super-linter to this issue.
https://github.com/github/super-linter

[2020-12-11 13:45] yukty2000 commented on #1461
@iamrajiv  sir, please assign this to me

[2020-12-11 13:55] shubhank-saxena commented on #1460
Hello @Neelaksh-Singh . I am not sure about the rules and the flexibility we can get from this. Can you show an example of this in application?

[2020-12-11 14:04] Neelaksh-Singh commented on #1460
Sure
https://user-images.githubusercontent.com/15258962/85165778-2d2ce700-b21b-11ea-803e-3f6709d8e609.gif

We can also create our custom rules to the above.

Speaking of limitations -
1. Due to being completely packaged at run time, you will not be able to update dependencies or change versions of the
   enclosed linters and binaries
2. Additional details from package.json are not read by the GitH

[2020-12-11 17:32] ananya0504 commented on #1425
I can do it in Python and C

[2020-12-11 17:46] charlie219 commented on #1455
I would like to take Unique BST in Python. (Catalan Approach) .

[2020-12-11 18:02] gargVader commented on #1428
PR #1446 merged

[2020-12-11 18:02] #1428 closed, assigned to nobody

[2020-12-11 18:24] fomalhauting opened #1473 "Go Language Algorithms"
## 💥 Proposal

I noticed very few algorithms are present in the folder of Go Language. Can I add the basic Areas problem as my WoC contribution?
Kindly assign me the Areas Problem in Go.
Thank You

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-12-12 00:21] Pranav016 opened #1474 "Adding MCM problem in Python."
## 🚀 Feature
I would like to add a Dynamic programming question of Matrix Chain multiplication in Python.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

- [x] Yes

## Motivation
I'll be working on this under **WoC**. Also, it is a very prominent interview problem.

## Pitch
I would lik

[2020-12-12 00:26] Pranav016 opened #1475 "Adding Backtracking algorithms in Python."
## 🚀 Feature
I would like to add the following backtracking algorithms to this project in Python language.
1. N-queens
1. Sudoku Solver
1. Rat in maze

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

- [x] Yes

## Motivation
There are no backtracking algorithms added to the Python folder

[2020-12-12 00:33] Pranav016 opened #1476 "Improve the Python folder structure."
## 💥 Proposal
I would like to improve the Python folder of this project by segregating the various algorithms in its `ds` folder to a more precise ds name. Example- Linked List problems and Trees problems will be segregated to their respective folders instead of a single `ds` folder.

I would like to work on this under **WoC**

### Have you read the [Contributing Guidelines on Pull Requests](https

[2020-12-12 02:28] ghost opened #1477 "Radix Sort for C++ and JavaScrript (Winter of Code)"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Adding Radix sort algorithm for C++ and JavaScript.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch

(Please explain why this feature should be implemented and how it would be used.)
As an important al

[2020-12-12 02:31] ghost commented on #1477
@HarshCasper please assign this issue to me.

[2020-12-12 02:37] ghost opened #1478 "Linked List Implementation in JavaScript"
## 🚀 Feature

(A clear and concise description of what the feature is.)
To implement singly linked list in JavaScript using ES6

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)
I found that the ds folder for JavaScript

[2020-12-12 02:38] ghost commented on #1478
@iamrajiv Sir, please assign this issue to me.

[2020-12-12 02:59] HarshCasper commented on #1440
Hello @kartikp36

Thanks for making the Issue!

As a rule of the thumb, every Issue and a corresponding PR should be as atomic as possible. This simply means that it should be an addition or updation of only one thing logical. This makes the review part easy and flexible.

I will make an exception here because its a part of your proposal. However, I will request you to make three different PRs for

[2020-12-12 04:31] shraddhavp commented on #1477
@KavirajSinghBhati  assigned

[2020-12-12 04:32] HarshCasper commented on #1459
@Bharati2612 Make two separate PRs for both of the Problems

[2020-12-12 04:38] HarshCasper commented on #1474
It is already being worked on by other Contributors.

[2020-12-12 04:39] HarshCasper commented on #1475
Make sure to have different PRs for different algorithms.

[2020-12-12 05:37] atriadhiakri2000 opened #1479 "Graphs/Winter of Code"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Add the following problems:
o	Knight Walk
o	Kosaraju's Algo
o	Detect cycle in an undirected graph
o	Hamiltonian Path
o	Topological sort
o	Bridge Edge in Graph
o	Your Social Network
o	Floyd Warshall
o	Bipartite Graph
o	Negative weight cycle
o	Eulerian Path in an Undirected Graph

### Have you read the [Contributing Guidelines o

[2020-12-12 05:38] atriadhiakri2000 commented on #1479
I want to take Knight Walk and Floyd Warshall in python. Please assign me the task.

[2020-12-12 06:04] Pranav016 commented on #1474
Updated the issue, no one is working on this problem in python so I would like to add its code in Python :)

[2020-12-12 06:09] k-sashank commented on #1479
I would like to work on the Topological sort problem in Python. Please assign me the task!

[2020-12-12 06:23] k-sashank opened #1483 "MNIST Dataset Classifier using ANNs"
## 🚀 Feature

(A clear and concise description of what the feature is.)
I want to add a Python Notebook which classifies the MNIST Hand-written Digits dataset using TensorFlow (Python).

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes.

## Motivation

(Pleas

[2020-12-12 06:56] fomalhauting opened #1487 "Kotlin Algorithms"
## 💥 Proposal

I noticed almost zero algorithms are present in the folder of Kolin. Can I add the basic Areas problem as my WoC contribution?
Kindly assign me the Areas Problems in Kotlin.
Thank You

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-12-12 07:11] kartikp36 commented on #1440
Thank you for assigning me ! @HarshCasper
Noted, I'll have three different branches.

[2020-12-12 07:14] charlie219 commented on #1475
@HarshCasper  I want to contribute to the Backtracking Folder with
- Subset Sum
- Knight's Tour Problem
- Hamiltonian Cycle
All the above problems will be using Backtracking in Python. Please assign me the Issue
I will make sure to make separate PR for each of the above mentioned Algo

[2020-12-12 07:51] YASH01009 opened #1490 "Next Permutation"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation

(WoC)

## Pitch

(Implement the next permutation, which rearranges numbers into the numerically next greater permutation of numbers for a given a

[2020-12-12 07:51] YASH01009 commented on #1490
Please assign me this issue in C++

[2020-12-12 08:59] gargVader opened #1492 "Jarvis's Algorithm for Convex Hull"
## 🚀 Feature

Add Jarvis's Algorithm for convex hull. Also make a new section for Computational Geometry in C++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Jarvis's Algorithm is used to find the convex hull from a set of given 2d points.

## Pitch

Convex Hull i

[2020-12-12 09:00] gargVader commented on #1492
Can I go ahead with this?

[2020-12-12 09:05] gargVader opened #1493 "Check for Bipartite Graph"
## 🚀 Feature

Add program to check if a given graph is Bipartite.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

2 coloring problem in graph can be solved easily by checking if the graph is bipartite in nature.

## Pitch

Enriches the library

[2020-12-12 09:05] gargVader commented on #1493
Can I go ahead with this?

[2020-12-12 10:53] Sejal-G opened #1494 "Add Cryptography algorithms [Winter of Code]"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

Add a new set of algorithms to the cryptography section:

Implementation of Caeser Cipher in C++
Implementation of Modified Caeser Cipher in C++
Implementation of Homophonic Cipher in C++
Implementation of Rail Fence Cipher (transposition technique) in C++
Implementation of Simple Columnar Transposition in C++
Implementatio

[2020-12-12 13:00] fomalhauting opened #1495 "Cody Problem Solutions"
## 🚀 Feature

Addition of Problems and solutions of Cody Contest, which is organized by MATLAB on a global level.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I took part in that contest for the first time this year and found a good collection of problems ranging

[2020-12-12 14:08] rutujadhanawade commented on #1455
I would like to work on unique BSTs in C++, java, C

[2020-12-12 14:12] rutujadhanawade commented on #1463
I would like to take this in C++ and java.
Finding Inorder Successor of a Node in a Binary Tree

[2020-12-12 16:40] #241 closed, assigned to nobody

[2020-12-12 16:40] atriadhiakri2000 commented on #1469
I will love to Add this problem

[2020-12-12 16:58] k-sashank opened #1498 "House Price Prediction - Machine Learning (WoC)"
## 🚀 Feature

(A clear and concise description of what the feature is.)
This Machine Learning algorithm would be able to predict the price of a particular house based on certain inputs (such as Area, City, Country, etc.).

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answe

[2020-12-12 16:58] k-sashank commented on #1498
Please assign this issue to me in Python!

[2020-12-12 17:45] barnamensch056 commented on #1479
Want to go for Hamiltonian path and Eulerian path in undirected graph in python or C.

[2020-12-13 04:35] shraddhavp commented on #1475
assigned @charlie219

[2020-12-13 05:34] YASH01009 opened #1500 "Suduko Solver in C++"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation

(WoC)

[2020-12-13 05:35] YASH01009 commented on #1500
Please assign this to me

[2020-12-13 05:35] YASH01009 commented on #1500
Suduko solver using backtracking

[2020-12-13 07:39] manasisaiba commented on #1459
I want to take coin change problem in c++. Please assign it to me!

[2020-12-13 07:40] manasisaiba commented on #1459
I want to take egg dropping problem assign it me please in c++!

[2020-12-13 07:48] manasisaiba opened #1506 "Addition to DP Problems/WOC"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Add some new set of algorithms in DP section:

1. Maximum size square sub-matrix with all 1s
2. Shortest Common Supersequence

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
YES I have read

[2020-12-13 07:48] manasisaiba commented on #1506
I want to take maximum size square sub-matrix with all 1s in c++.Assign to me sir!

[2020-12-13 07:49] manasisaiba commented on #1506
I want to take shortest common super sequence in c++. Assign it to me sir.

[2020-12-13 08:35] shubhank-saxena commented on #1460
@Neelaksh-Singh this sounds good! I don't think there is a high need to change to linter versions that frequently.
As far as part 3 is considered, we can make sure that all the linters that we use have their dependencies in the public domain!

You can start working on this, and please feel free to ask any doubts if you are stuck with anything!

Also, I would suggest splitting the linters in indepe

[2020-12-13 08:49] Sidhant-Gupta opened #1507 "Cryptography Algorithms/Winter Of Code"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

Add new algorithms in the cryptographic section-C++

Diffie Hellman Algorithm - Implementation in C++
RSA Algorithm - Implementation in C++

### Have you read the [Contributing Guidelines on Pull Requests]
Yes, I have read the guidelines.

[2020-12-13 08:54] shraddhavp commented on #1495
can you create different issue for atleast 1 or 2 problems for us to figure out? @itsIapetus

[2020-12-13 08:59] YASH01009 opened #1508 "Largest Zero sum subarray"
## 🚀 Feature

(Given an array, find the length of the longest subarray whose sum is zero.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation

(WoC)

[2020-12-13 09:00] YASH01009 commented on #1508
Please assign me this issue in C++

[2020-12-13 09:17] YASH01009 commented on #1500
I will do this in C, C++, Java

[2020-12-13 09:35] fomalhauting commented on #1495
Okay sure!

[2020-12-13 09:52] fomalhauting opened #1512 "Cody Problems and Solutions - All Things Fibonacci"
## 🚀 Feature

All Things Fibonacci Problems in Cody Contest organized by MATLAB

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

I took part in Cody Contest this year and found around 50,000+ amazing and fun problems just like this one.

## Pitch

It's everybody's fa

[2020-12-13 09:52] fomalhauting commented on #1512
I would like to take up this task if it's appropriate, under Misc. Problems and Solutions.
Thank you.

[2020-12-13 09:54] fomalhauting commented on #1487
Can I take up this task? Kindly assign it to me, please. @shraddhavp

[2020-12-13 11:13] Sameera-Aryasomayajula commented on #1444
Can you please assign this issue to me

[2020-12-13 12:26] Sidhant-Gupta commented on #1462
Added the solution to this particular problem.
Implemented the Dutch National Flag Algorithm #1518

[2020-12-13 13:23] manasisaiba opened #1519 "Addition to Cp Problems/WOC"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Add some new set of algorithms in CP section:

- 1.Next Larger Element

- 2.Consecutive 1's not allowed

- 3.Trapping Rain water

- 4.Longest Valid Parantheses

- 5.Maximum Index

- 6.Count of distinct occurrences of T in S as a sub-sequence.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/

[2020-12-13 13:24] manasisaiba commented on #1519
Assign it to me i will solve all the above in c++.

[2020-12-13 19:42] fomalhauting commented on #1512
@shraddhavp Can I take this up? If so please assign it to me, thank you.

[2020-12-14 02:26] YASH01009 opened #1524 "N-Queens problem in Java / WoC"
## 🚀 Feature

(A backtracking solution for N-Queens problem)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation

(WoC)

[2020-12-14 02:28] YASH01009 opened #1525 "Josephus Problem / WoC"
## 🚀 Feature

(A recursive solution)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation

(WoC)

[2020-12-14 02:29] YASH01009 commented on #1525
Please assign this to me in C, C++, Java

[2020-12-14 02:30] YASH01009 commented on #1524
Please assign this to me in C++, Java

[2020-12-14 04:01] k-sashank commented on #1483
@iamrajiv @shraddhavp Please assign this task to me in Python.

[2020-12-14 04:10] ghost opened #1526 "Ways to reach the n'th stair / Winter Of Code"
## 🚀 Feature

(A clear and concise description of what the feature is.)
A program to count the total number of ways in which a person can reach to the top.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)
A classic int

[2020-12-14 04:14] ghost commented on #1526
@iamrajiv  Please assign this issue to me in C++.

[2020-12-14 04:58] k-sashank opened #1527 "Math Programs (WoC)"
## 🚀 Feature

(A clear and concise description of what the feature is.)
I want to add the following Number programs:
1. Strong Numbers
2. Amstrong Numbers
3. Harshad Numbers
4. Palindrome Numbers
5. Pythagorean Triplet
6. Superfactorial

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(W

[2020-12-14 04:59] k-sashank commented on #1527
@shraddhavp @iamrajiv I would like to do this task in Python!
Please assign it to me!

[2020-12-14 05:20] Pranav016 commented on #1474
@shraddhavp Can I work on this?

[2020-12-14 05:29] Pranav016 opened #1528 "Adding Graph traversal algorithms."
## 🚀 Feature
I would like to work on Breadth First Search (BFS) and Depth First Search (DFS) **Graph traversal algorithms** in Python.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Graphs are one of the most difficult topics of data structures and can be asked in i

[2020-12-14 06:08] shraddhavp commented on #1512
assigned @itsIapetus  ,also mention the language you are going to code in

[2020-12-14 06:44] fomalhauting commented on #1512
As its a MATLAB competition so I will be writing the codes in MATLAB itself.

[2020-12-14 07:52] YASH01009 opened #1533 "Wild Card Pattern Matching/WoC"
## 🚀 Feature

(A dynamic programming solution to check if the given pattern matches the given string)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation

(WoC)

[2020-12-14 08:10] charlie219 commented on #1524
@shraddhavp
I want to take this task in Python under Backtracking Algorithms

[2020-12-14 08:13] YASH01009 commented on #1524
Sure, @charlie219 I am taking it only in C++ and Java

[2020-12-14 08:15] charlie219 commented on #1479
I want to take the following tasks in Python
- Hamiltonian Path
- Articulation Point
- Topological Sort
- Strongly Connected Component (Tarjan's Algorithm)

@shraddhavp @HarshCasper @iamrajiv  please assign me this task
I will make sure to make different Branches and PR for each of the above-mentioned algorithms

[2020-12-14 08:54] shraddhavp commented on #1508
assigned @YASH01009

[2020-12-14 08:56] shraddhavp commented on #1524
assigned @charlie219  you can do it in python

[2020-12-14 08:57] shraddhavp commented on #1493
assigned @gargVader

[2020-12-14 08:57] shraddhavp commented on #1493
please mention the coding language

[2020-12-14 08:58] YASH01009 commented on #1490
@shraddhavp can u pls look into this issue and assign me this?

[2020-12-14 09:00] shraddhavp commented on #1487
assigned @itsIapetus

[2020-12-14 09:03] shraddhavp commented on #1492
go ahead!

[2020-12-14 10:49] gargVader commented on #1493
Added in C++ #1510

[2020-12-14 12:35] aryan-anand commented on #1444
Can I go ahead with this?

[2020-12-14 12:36] aryan-anand commented on #1453
Can you please assign this issue to me

[2020-12-14 12:37] aryan-anand commented on #1533
Can you please assign this issue to me

[2020-12-14 12:39] aryan-anand commented on #1490
Can you please assign this issue to me in C++ or python

[2020-12-14 12:39] YASH01009 commented on #1533
Please, assign me this issue in cpp

[2020-12-14 14:14] gargVader commented on #1492
Should I create a separate section - Computational Geometry?

[2020-12-14 14:25] goelesha opened #1541 "Adding Articles to WiKi section"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Article & explanation for Sorting & Searching algorithms.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

WoC

## Pitch

WiKi Section

[2020-12-14 14:25] goelesha commented on #1541
Kindly assign this issue to me

[2020-12-14 14:32] goelesha opened #1542 "C Code for Stack Implementation & Functionalities / WoC"
## 🚀 Feature

Code in C for stack implementation & code for its functions(puch,pop,etc).

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation
WoC

[2020-12-14 14:32] goelesha commented on #1542
Kindly assign this issue to me.

[2020-12-14 15:42] gargVader opened #1544 "Stack based problems"
## 🚀 Feature

Separate section for stack based problems in C++. Some problems that I want to add :

- Stock Span Problem
- Balanced Parenthesis
- Largest Area Under Histogram

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Such problems will help users understand the

[2020-12-14 15:42] gargVader commented on #1544
Please assign this to me

[2020-12-14 17:03] charlie219 commented on #1493
I want to take this issue in Python

[2020-12-14 17:06] 1711shashank opened #1545 "Recursion based problems"
## 🚀 Feature

Separate section for Recurtion based problems in C++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Such problems will help users understand the application of Recurtion.

## Pitch

Only knowing the definition of Recurtion is not very useful until we

[2020-12-14 17:06] 1711shashank commented on #1545
Can I work on this??

[2020-12-14 18:14] 1711shashank opened #1546 "Heap based problems"
Separate section for Heap based problems in C++.

Have you read the Contributing Guidelines on Pull Requests?
Yes

Motivation
Such problems will help users understand the application of Heap.

Pitch
Only knowing the definition of Heap is not very useful until we have applied it on some problems.

[2020-12-14 18:15] 1711shashank commented on #1546
@atarax665

can I work in this?

[2020-12-14 18:29] HeinKhantZaw opened #1547 "Remove unnecessary README.md in subfolders"
## 📚 Documentation

I found some README.md files while searching algorithms in sub folders of Python folder.
Here is the screenshot.

![bug](https://user-images.githubusercontent.com/40730345/102119826-1e448b80-3e70-11eb-872d-e2aeccd59d28.png)

TBH, I think it's unnecessary to add README.md files in sub folders when we already have README.md for each language.

And when I track back the commit his

[2020-12-15 03:40] k-sashank commented on #1483
@iamrajiv @shraddhavp Please assign this task to me in Python!

[2020-12-15 04:58] atriadhiakri2000 commented on #1479
I want to be assigned with Bridge Edge in Graph and Your Social Network
@shraddhavp  @HarshCasper  @iamrajiv

[2020-12-15 05:34] Neelaksh-Singh commented on #1460
Hi I have created the YAML file for the Linter.
It'll validate new files that are being pushed to the master branch and mark the status of each individual linter run in the Checks section of a pull request.

I haven't configured it for specific Language though, since it'll fail due to it's nature.
The elaborate list for linter's being used can be found here :-  https://github.com/github/super-lint

[2020-12-15 05:40] yashaswibiyahut commented on #1525
@YASH01009 go with cpp

[2020-12-15 05:41] YASH01009 commented on #1525
Can I do in all three languages or restrict myself to CPP?

[2020-12-15 05:43] yashaswibiyahut commented on #1545
Go fo it @1711shashank

[2020-12-15 05:53] yashaswibiyahut commented on #1525
@YASH01009 firstly complete in one language so that others also get a chance to contribute.

[2020-12-15 07:29] PuravUdayDesai opened #1553 "Add Data Encryption Standard(DES) Symmetric Key Cryptography Algorithm / WoC"
## 🚀 Feature

The feature proposal describes to add DES(Data Encryption Standard) Symmetric Key Cryptography Algorithm to the repository, I suggest to work on a **64-bit algorithm**(Plain Text: 64-bits and Cypher Text: 64-bits) in this Feature Request Issue.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#repo

[2020-12-15 07:30] PuravUdayDesai commented on #1553
@iamrajiv I would like to take up this issue in **Java**

[2020-12-15 07:31] PuravUdayDesai commented on #1494
@shraddhavp I want to take up this issue in **Java**

[2020-12-15 07:40] #1500 closed, assigned to YASH01009

[2020-12-15 07:48] shraddhavp commented on #1541
@goelesha  can you please go in more detail on what you are going to add?

[2020-12-15 08:53] satyampgt4 opened #1558 "Depth of the tree for cpp / WOC"
## 🚀 Feature

This is recursion based algorithm to find the depth of tree

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Depth of the tree is very common and important property of tree. sometime it is  ask in interview also.

## Pitch

This algorithm is  part of fol

[2020-12-15 08:54] satyampgt4 commented on #1558
@shraddhavp @ErzaTitania-2001 @iamrajiv   I would like to do this task
Please assign it to me!

[2020-12-15 09:13] goelesha commented on #1541
I would be contributing articles on the following topics - Selection Sort, Linear Search, Bubble Sort, Heap Sort, Radix Sort, Counting Sort.
PFA the article on Bubble Sort for reference
[BUBBLE SORT.docx](https://github.com/TesseractCoding/NeoAlgo/files/5694606/BUBBLE.SORT.docx)

[2020-12-15 09:53] YASH01009 commented on #1526
@shraddhavp Please assign me this in Java

[2020-12-15 09:56] YASH01009 commented on #1544
@shraddhavp Can u pls look into this issue and assign me in Java..

[2020-12-15 10:28] Bharati2612 opened #1560 "Add Partition Problem to DP / Winter of Code"
## 🚀 Feature
Need to add the Partition Problem to DP Section.
**The Partition Problem:** Given a nonempty set A of positive integers, we have to find two nonempty
disjoint subsets A1 and A2 such that (a) A1∪A2 = A and (b) sum of elements of A1 = sum of elements
of A2.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTI

[2020-12-15 10:29] Bharati2612 commented on #1560
I would like to take this problem in both recursive and iterative way. Please assign this to me.

[2020-12-15 12:49] jyoti-2 commented on #1455
Hello!
I would like to work on Karden's algorithm and count on the array in Python3.
pls assign

[2020-12-15 13:34] shivanshugarg12800 commented on #1493
I want to solve this issue with a relatively shorter code in c++

[2020-12-15 13:52] shubhank-saxena commented on #1460
This looks good to me. You can start with a PR and then we can work around with selecting specific linters from the options and have them in yaml file. We can't have all of them as it will create a lot of linting issues. Plus, for every linter running, we will have to have some specified rules

[2020-12-15 16:55] atarax665 commented on #1546
@1711shashank Make individual issues for various heap related problems so that I can later assign them to other contributors in different languages. I don't think making a separate section for heap is necessary as they have limited direct use. But you can always add heap based problems in ```cp folder``` or some heap based algorithm in ```others folder```.

[2020-12-15 16:58] atarax665 commented on #1544
@gargVader I will advice you to make individual issue for the mentioned stack based problems, it will help the project maintainers to convert it into a general issue and assign it to other willing contributors in other languages.

[2020-12-15 17:06] 1711shashank commented on #1544
👍

[2020-12-15 17:08] 1711shashank commented on #1546
ok 👍👍

[2020-12-15 17:08] #1546 closed, assigned to nobody

[2020-12-15 19:25] vrandachag opened #1565 "Program to Print ancestors of given numbers in BST"
## 🚀 Feature

The program will print ancestors of two given numbers in a Binary Search Tree.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes!

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how i

[2020-12-15 19:26] vrandachag commented on #1565
I would like to add C++ program for this issue. Please assign this to me.

[2020-12-16 05:35] #1544 closed, assigned to nobody

[2020-12-16 05:37] gargVader opened #1566 "Stock Span Problem - Stack"
## 🚀 Feature

Stock Span problem in C++. Also suggest a separate section for stack based problems.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Stock span problem is an interesting problem of the stack.

## Pitch

Will help understand the stack data structure

##

[2020-12-16 05:37] gargVader commented on #1566
Please assign this to me in c++

[2020-12-16 05:39] gargVader opened #1567 "Balanced Parenthesis - Stack"
## 🚀 Feature

Balanced Parenthesis problem in C++. Also suggest a separate section for stack based problems.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Balanced Parenthesis problem is an interesting problem of stack.

## Pitch

Will help understand the stack dat

[2020-12-16 05:39] gargVader commented on #1567
Please assign me this

[2020-12-16 05:41] gargVader opened #1568 "Largest Area Under Histogram - Stack"
## 🚀 Feature

Largest Area Under Histogram problem in C++. Also suggest a separate section for stack based problems.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Largest Area Under Histogram is an interesting problem of stack.

## Pitch

Will help understand the s

[2020-12-16 05:42] gargVader commented on #1568
Please assign me this

[2020-12-16 07:14] Neilblaze commented on #1526
@YASH01009 Go for it!

[2020-12-16 07:17] Neilblaze commented on #1494
@PuravUdayDesai Go for it!

[2020-12-16 07:19] Neilblaze commented on #1493
@charlie219 @shivanshugarg12800 Assigned!

[2020-12-16 07:20] Neilblaze commented on #1490
@aryan-anand Assigned for python!

[2020-12-16 07:25] Neilblaze commented on #1463
@rutujadhanawade Go for it! Make sure to follow the [contributing guidelines](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md).

[2020-12-16 07:28] Neilblaze commented on #1459
@manasisaiba Go for it. Make sure you follow [contributing guidelines](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md) & create separate PR for 2 different problems.

[2020-12-16 07:37] shraddhavp commented on #1455
assigned @jyoti-2

[2020-12-16 07:38] shraddhavp commented on #1455
assigned @rutujadhanawade

[2020-12-16 08:02] Sidhant-Gupta opened #1571 "Vernam CIpher- Winter of Code"
## 💥 Proposal- Vernam Cipher

(A clear and concise description of what the proposal is.)
Add Vernam Cipher algorithm in the cryptographic section. Vernam Cipher is a symmetric key cryptographic algorithm and is one of the transposition technique that converts plain text into ciphertext.

Tasks-
Encrypt the plain text to cipher text using vernam cipher in C++.
Decrypt the cipher text obtained back

[2020-12-16 08:06] Pranav016 opened #1572 "Add program to Swap Nodes in a Linked List in Python."
## 🚀 Feature

I would like to add program for Swapping Nodes in a Linked List in Python.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

This question is very often asked in the interviews. A lot of students think this is an easy question but actually it is very tric

[2020-12-16 08:49] shraddhavp commented on #1483
assugned @k-sashank

[2020-12-16 08:49] shraddhavp commented on #1492
yes you can

[2020-12-16 09:43] fomalhauting opened #1573 "Golang searching algorithms"
## 🚀 Feature

Golang searching algorithms

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I would like to add searching algorithms

## Pitch

Interpolation Search

[2020-12-16 09:43] #1495 closed, assigned to nobody

[2020-12-16 12:27] shraddhavp commented on #1558
Specify the language to be used

[2020-12-16 13:03] Tausif121 opened #1575 "New Logo for Tesseract Coding"
## 💥 Proposal

I have designed a simple black and white logo.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-12-16 14:06] Sidhant-Gupta opened #1576 "Addition to Graph Theory Problems/WoC"
## 💥 Proposal- Graph Theory standard problems.

I will implement the following algorithms in C++ with a proper discussion of their time complexites.
1. Bellman Fords algorithm- Shortest path problem (even with negative edges)
2. Detect Negative Cycle in a Graph.
3. Ford Fulkerson Algorithm-Max flow problem
4. Dinic's Algorithm- Max Flow problem
5. Find the number of islands in the graph.
6. Graph

[2020-12-16 14:21] iamrajiv commented on #1512
@itsIapetus Sorry but I don't think this is necessary as of now. We already have `C-Sharp`, `Kotlin` and `Q-Sharp` section which is far behind as compared to other sections so adding this will cause inconsistency since these languages rarely get contributions.

[2020-12-16 14:21] #1512 closed, assigned to nobody

[2020-12-16 14:45] fomalhauting opened #1579 "Golang Algorithms"
## 🚀 Feature

Addition of a few algorithms in Golang

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Not enough algorithms are present, and I would like to add a few more.

## Pitch

Huffman Coding Algorithm
Knuth–Morris–Pratt (KMP) Algorithm

[2020-12-16 15:24] shraddhavp commented on #1575
@Tausif121 can you send the pictures here ?for viewing

[2020-12-16 15:26] shraddhavp commented on #1479
assigned @atriadhiakri2000

[2020-12-16 16:10] mehabhalodiya opened #1581 "Add program of Matrix Script in Python."
## 🚀 Feature

Add some in CP section:
I would like to add program for complex Matrix Script in Python.
For Description: https://github.com/TesseractCoding/NeoAlgo/issues/1581#issuecomment-748591755
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

This program is going

[2020-12-16 16:12] Tausif121 commented on #1575
![TC_logo_by_tausif](https://user-images.githubusercontent.com/64072708/102374498-6cc86600-3fe7-11eb-8694-47ff8a71af25.png)

[2020-12-16 16:12] Tausif121 commented on #1575
This is it.
If you look closely the logo comprises of alphabets TC ,the initials of Tesseract Coding.

[2020-12-16 16:14] mehabhalodiya commented on #1581
I would like to work on this issue.

[2020-12-16 16:29] YASH01009 commented on #1568
@shraddhavp Please assign this to me in Java

[2020-12-16 16:30] YASH01009 commented on #1567
@shraddhavp Please assign this to me in Java

[2020-12-16 16:30] YASH01009 commented on #1566
@shraddhavp Please assign this to me in Java

[2020-12-16 16:57] aeyshubh commented on #1526
This issue is already assigned to me in issue #1455 in Java and i have created a PR too #1584  please resolve this issue @Neilblaze .And i am also assigned to do this in Python.
Regards,
Shubham Patel

[2020-12-16 17:41] charlie219 commented on #1479
@shraddhavp @HarshCasper @iamrajiv   I would like to have
- SCC via Kosaraju's Algo
- SCC via Tarjans's Algo
- Bipartite Graph

please assign this task to me

[2020-12-16 18:31] YASH01009 commented on #1526
@ShubhamPatel33 If I am not wrong, we missed out on an issue, in issue #1455 the relative order does not matter, means 1 2 and 2 1 are the same, as that was mentioned in the issue. But this issue counts them different. In issue #1455 we count #combinations and here we count #permutations.

[2020-12-17 03:16] satyampgt4 commented on #1558
i will use c++

[2020-12-17 03:20] vrandachag opened #1590 "Bucket Sort"
## 🚀 Feature

Bucket Sort is a sorting algorithm that works by distributing the elements of an array into a number of buckets. Each bucket is then sorted individually, either using a different sorting algorithm, or by recursively applying the bucket sorting algorithm.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTI

[2020-12-17 03:21] vrandachag commented on #1590
I would like to add C++ program for this issue. Please assign this to me.

[2020-12-17 04:11] aeyshubh commented on #1526
Yash in ,my code 1,2 and 2,1 are different

[2020-12-17 06:01] gargVader commented on #1566
@shraddhavp Should I make separate section for stack based probems?

[2020-12-17 06:31] barnamensch056 opened #1594 "Huffman coding using tree"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Implementation of Huffman encoding and decoding using python.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes.

## Motivation
(Please outline the motivation for the proposal.)
It uses greedy algorithm and tree da

[2020-12-17 06:51] Neilblaze commented on #1526
@YASH01009 @ShubhamPatel33 don't strife between yourselves guys. Since the contribution flow goes via `first claimed first merge` (keeping accuracy in mind), so the PR priority of @ShubhamPatel33 shall be more than @YASH01009.

I wasn't that much aware of the content inside #1584, it's always recommended to create separate PR's than creating one for multiple issues. It becomes a tad difficult for

[2020-12-17 07:28] goelesha opened #1596 "Predict score of 1st innings in an ODI - Machine Learning (WoC)"
## 🚀 Feature

(A clear and concise description of what the feature is.)
This Machine Learning algorithm would be able to predict the score of the first innings in an ODI based on certain inputs.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

[2020-12-17 07:31] goelesha opened #1597 "Predict Cost of used cars - Machine Learning using Python (WoC)"
## 🚀 Feature

Predicting the costs of used cars given the data collected from various sources and distributed across various locations in India.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)
The used car dataset is

[2020-12-17 08:10] Neelaksh-Singh commented on #1460
Hi I have done a merge on my forked repo. If it isn't showing then can you add the file in the below link into your workspace directory.
https://drive.google.com/file/d/10NZhrIcc6YlNS3bfUbdW9X7kb1pw8KNW/view?usp=sharing

[2020-12-17 09:16] mehabhalodiya opened #1602 "Add Double Ended Queue to DS"
## 🚀 Feature

Need to add in DS:
**Double Ended Queue** : Deque is a linear data structure in which the insertion and deletion operations are performed from both ends. We can say that deque is a generalized version of the queue.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Mo

[2020-12-17 09:20] mehabhalodiya commented on #1602
I would like to work on this issue.
Please assign this to me in Python.

[2020-12-17 12:49] jyoti-2 opened #1604 "Kaden's Algorithm"
### Largest possible sum of a contiguous subarray, within a given one-dimensional array using Kaden's Algorithm.

`# max Sum of contiguous subarray
def maxSubArraySum(arr, n):
    current_max = 0
    best_sum = 0

    for i in range(n):
        current_max = max(arr[i], current_max + arr[i])
        best_sum = max(best_sum, current_max)
    return best_sum

arr = [-2, -3, -4, -6, -9]
print(maxSubA

[2020-12-17 13:57] charlie219 commented on #1576
@shraddhavp @iamrajiv @HarshCasper
I would like to take the following algos in Python
- Bellman-Ford Algo
- Detect the Negative Cycles
- Connected Components (No. of the island in a graph)
Thanks

[2020-12-17 14:11] Tausif121 commented on #1575
@shraddhavp , Is the logo ok, or should i design another?

[2020-12-17 14:38] barnamensch056 commented on #1594
want to work on this feature please assign @shraddhavp @iamrajiv @HarshCasper

[2020-12-18 05:14] shraddhavp commented on #1594
assigned @barnamensch056

[2020-12-18 05:15] shraddhavp commented on #1575
I looks good👌 ,you can design another one too for more choices @Tausif121

[2020-12-18 05:16] shraddhavp commented on #1566
assigned @YASH01009

[2020-12-18 06:59] barnamensch056 commented on #1594
Thanks a lot

[2020-12-18 07:39] Siddhant-K-code commented on #1604
i can implement this in C++ under `C-Plus-Plus/dp/`

[2020-12-18 13:13] satyampgt4 commented on #1602
@shraddhavp Please assign this to me for c++.

[2020-12-18 15:39] charlie219 opened #1610 "Re-structure the README.md of Python folder"
## 🐛 Bug Report

While contributing to the Python folder I encountered a lack of consistency in the `README.md` file.
- The file contains many heading and algorithm twice/ thrice which makes it long and confusing
- Since there are many similar heading, many Programmers get confused.

I would like to take the task to re-structure the `README.md` to ensure good and fruitful contributions.
@iamrajiv

[2020-12-18 15:57] Tausif121 commented on #1575
Logo2:
![logo2](https://user-images.githubusercontent.com/64072708/102633638-b1363c00-4176-11eb-9877-7d165ca6ffb4.png)

Logo3:

![logo3_for_TC](https://user-images.githubusercontent.com/64072708/102633902-15f19680-4177-11eb-98e6-9b63cf33eb6b.jpeg)

Logo4:

![logo4_for_TC](https://user-images.githubusercontent.com/64072708/102634271-9617fc00-4177-11eb-85b4-f31c3bec2a46.jpeg)

@shraddhavp , Please s

[2020-12-18 16:17] Tausif121 commented on #1527
@shraddhavp , @iamrajiv , @shraddhavp , Can I add Automorphic number and Kaprekar number in C (or should i make a new issue) ?

[2020-12-18 18:25] 1711shashank opened #1612 "Euclidean algorithms"
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2020-12-18 18:26] 1711shashank commented on #1612
please assign this to me

[2020-12-18 18:28] 1711shashank opened #1613 "Sort a nearly sorted"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

Given an array of n elements,
where each element is at most k away from its target pos

[2020-12-18 18:28] 1711shashank commented on #1613
please assign this to me

[2020-12-19 04:05] sujal111 opened #1614 "Rain Water Trapping in Golang"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Rain Water Trapping is one of the standard problem in DSA and asked in many interviews . It's not present in the Go repository

[2020-12-19 04:08] sujal111 opened #1615 "Rotate Element"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Rotation of elements in an array is a standard DSA question. It's not present in Python here. I want to add it

[2020-12-19 04:20] sujal111 opened #1616 "Detect and Delete a Loop LinkedList in Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
In this problem,we have to check if Loop is present , if it is present ,we got to delete it

[2020-12-19 04:22] sujal111 opened #1617 "Detect Middle Element of a Linked List in C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-19 04:24] sujal111 opened #1618 "Linear Search in Go Language"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
In this problem, we will search if an element is present in an array or not

[2020-12-19 04:28] sujal111 opened #1619 "Merge Sort"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Merge Sort in Python

[2020-12-19 04:30] sujal111 opened #1620 "Reverse a Linked List in Golang"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-19 04:39] sujal111 opened #1621 "Factorial of a large Number in Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Finding  factorial of a Large Number

[2020-12-19 05:01] sujal111 opened #1622 "Longest Subsequence in an Array in C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-19 05:33] shraddhavp commented on #1575
Logo 1,2 4 looks good to me @Tausif121

[2020-12-19 05:34] shraddhavp commented on #1575
you can raise a PR by making a new folder for logo @Tausif121

[2020-12-19 05:43] shraddhavp commented on #1620
assigned @sujal111

[2020-12-19 05:43] shraddhavp commented on #1610
Go ahead

[2020-12-19 05:44] shraddhavp commented on #1610
assigned @charlie219

[2020-12-19 05:45] shraddhavp commented on #1614
assigned @sujal111

[2020-12-19 05:47] shraddhavp commented on #1613
can you provide more details on the problem ?

[2020-12-19 08:57] goelesha opened #1625 "Circular Linked List Implementation"
## 💥 Proposal
Implementation of circular linked list & its functionalities in C

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-12-19 10:39] shubhank-saxena commented on #1460
Hello @Neelaksh-Singh this looks good! Now we have next step - Figure out how to implement just specific file lint checks.
Also, I would suggest that you use github gist or pastebin instead of Google Drive to host a code snippet

[2020-12-19 11:11] 1711shashank commented on #1613
@shraddhavp 👍

[2020-12-19 11:13] 1711shashank commented on #1622
Please assign this to me

[2020-12-19 15:05] nerdynikhil commented on #1494
@shraddhavp @Neilblaze Did PuravUdayDesai completed them? If not, I want to be assigned.

[2020-12-20 05:31] shraddhavp commented on #1619
can you implement it in GO?

[2020-12-20 06:32] gargVader opened #1631 "Median in a running stream of integers - Heaps"
## 🚀 Feature

Program in C++ to find median in a running stream of integers. Also suggest to make a separate section for heap based problems.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Interesting application of heap data structure

## Pitch

Keeps updating the

[2020-12-20 06:33] gargVader commented on #1631
Please assign this to me

[2020-12-20 06:37] gargVader opened #1632 "Merge K sorted arrays - Heaps"
## 🚀 Feature

Program in C++ to merge K sorted arrays using the approach of heaps. Also suggest a separate section for heap based problems.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Understand heap data structure

## Pitch

Uncommon approach to solve a common p

[2020-12-20 06:38] gargVader commented on #1632
Please assign this to me

[2020-12-20 07:55] balapriyac commented on #1632
Sure, I've you the issue; you may start working on it.

[2020-12-20 07:56] balapriyac commented on #1622
@1711shashank, you may start working on the issue.

[2020-12-20 07:57] balapriyac commented on #1631
You've been assigned another issue, you'll be assigned this issue once you've solved the previously assigned one.

[2020-12-20 09:45] mehabhalodiya commented on #1581
You can add this problem in HackerRank folder of miscellaneous.
Please assign this to me. @shraddhavp @iamrajiv @HarshCasper

[2020-12-20 10:26] balapriyac commented on #1581
Hi @mehabhalodiya, could you pls add your problem statement in  more detail?
By complex matrix, do you mean matrix with complex entries and what's the motivation  behind using regex in processing such matrices and what operations do you want to perform on the matrix etc. ?

[2020-12-20 10:54] mehabhalodiya commented on #1581
The matrix script is a  N X M grid of strings. It consists of alphanumeric characters, spaces and symbols (!,@,#,$,%,&).
![image](https://user-images.githubusercontent.com/73488906/102711443-c2e72300-42df-11eb-8137-83d2f6c94a3d.png)

To decode the script, one needs to read each column and select only the alphanumeric characters and connect them. A person reads the column from top to bottom and sta

[2020-12-20 10:58] balapriyac commented on #1581
Thanks, could you add the link to the problem in the description of the issue as well?
And I'll assign it to you.

[2020-12-20 12:53] sujal111 opened #1636 "Intersection of Linked List"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Intersection of Linked List in C language

[2020-12-20 12:54] sujal111 opened #1637 "Spiral Matrix in Golang"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Implementing Spiral Matrix in Golang

[2020-12-20 12:57] sujal111 opened #1638 "Kruskal's algorithm"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Kruskal's algorithm is one of the most important algorithm in Interview. Implementation in Golang

[2020-12-20 12:59] sujal111 opened #1639 "Binary Tree in Golang"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Binary Tree in Golang

[2020-12-20 13:01] sujal111 opened #1640 "Add 1 to Linked List in Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-20 13:39] joeyouss opened #1641 "[Winter of Code] Roadmap for Data structures and Algorithms"
## 🚀 Feature

As mentioned in my proposal, I would like to create a big of roadmap for helping the beginners with data structures and Algorithms and how they can go about starting with data structures

## Motivation

When I first started out as a beginner it was extremely tough for me to figure out how to go about with DSA. Hence, I think there are many people searching for the same.

## Pitch

Wh

[2020-12-20 13:39] joeyouss commented on #1619
Hi! I would like to work on this issue. Kindly assign it to me.

[2020-12-20 13:43] joeyouss commented on #1636
Hi I would like to work on this. Kindly assign it to me

[2020-12-20 13:54] 1711shashank commented on #1622
@sujal111 can you provide more details on the problem ?

[2020-12-20 13:55] 1711shashank commented on #1613
@shraddhavp can i work on this ??

[2020-12-20 14:40] shraddhavp commented on #1527
create a new issue @Tausif121

[2020-12-20 15:26] Tausif121 opened #1643 "Automorphic Number and Kaprekar Number in C"
## 💥 Proposal

(I want to add 2  separate C programs to check whether the number entered is an Automorphic number and a program to check for Kaprekar number. )

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes.)

[2020-12-20 15:35] 1711shashank opened #1644 "Letter Case Permutation using recursion"
Given a string S, we can transform every letter individually to be lowercase or uppercase to create another string.
Print all possible strings we could create. return the output in any order.

[2020-12-20 15:36] #1644 closed, assigned to nobody

[2020-12-20 15:37] 1711shashank opened #1645 "Letter Case Permutation using recursion"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

Given a string S, we can transform every letter individually to be lowercase or uppercase to create another string.
Print all possible strings we could create. re

[2020-12-20 17:03] aeyshubh commented on #1615
I can take this issue but i need a more precise description @sujal111

[2020-12-20 18:25] fomalhauting opened #1649 "Q-Sharp Algorithms"
## 🚀 Feature

I would like to add the basic maths algorithms for the area in Q#

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Q-Sharp didn't have any contributions and I would like to add mine.

## Pitch

Addition of basic areas algorithms in Q-Sharp

[2020-12-21 07:03] atriadhiakri2000 commented on #1479
Please assign me Eulerian Path in an Undirected Graph
@shraddhavp  @HarshCasper @iamrajiv

[2020-12-21 08:48] PuravUdayDesai commented on #1494
@nerdynikhil so sorry for late reply just saw your comment, I am planning to add a pull request tomorrow morning for all the algorithms, thank you so much for your interest and time.

[2020-12-21 10:10] gargVader commented on #1632
@balapriyac Should I add a separate section for heap based problems?

[2020-12-21 11:12] PuravUdayDesai commented on #1553
@iamrajiv can I create a DES folder under Java/Cryptography/ in pull request, as there are many modules in DES, each module has a unique function/task to perform, so I have created separate classes for each function/task. Clubbing each task together under one class which make the code large and chaotic.

[2020-12-21 14:23] goelesha commented on #1625
Please assign this issue to me.

[2020-12-21 15:12] #1610 closed, assigned to charlie219

[2020-12-21 15:15] charlie219 opened #1650 "Standardize the Python Template for new Contributors"
# 💥 Proposal

I want to Standardize the Python Template to maintain the consistency of code throughout the languages to resonate with
the vision of the project.

The Template would comprise of:
- Description about the Algorithm/Problem
- Purpose of the Code
- Method used
- Intuition
- Time/Space Complexity
- Argument/Return Types
- Code
- Sample Input/Output

For reference to the template checkout

[2020-12-21 16:17] shraddhavp commented on #1479
ya yor are assigned @atriadhiakri2000

[2020-12-21 16:22] shraddhavp commented on #1604
assigned @jyoti-2  and @Siddhant-K-code

[2020-12-21 16:23] shraddhavp commented on #1613
yes you can @1711shashank

[2020-12-21 16:24] shraddhavp commented on #1612
please specify the language @1711shashank

[2020-12-21 16:25] shraddhavp commented on #1618
go ahead @sujal111

[2020-12-21 16:27] shraddhavp commented on #1645
@1711shashank  please wait for any of the mentors to assign the issue,I get the excitement which is good but please have patience

[2020-12-21 16:29] shraddhavp commented on #1636
Please provide more explanation @sujal111  on the problem

[2020-12-21 16:45] JayantGoel001 opened #1651 "Factorial Using Big Integer"
## 🚀 Factorial Of A Number

Factorial of a given number using Big Integer

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation

(Application of Big integers)

## Pitch

Calculation of factorial of big number requires lot of bits that can only be provided by Big Integer.

[2020-12-21 17:00] 1711shashank commented on #1645
@shraddhavp
ok I will keep this in mind

[2020-12-21 17:01] 1711shashank commented on #1612
in C++

[2020-12-21 17:58] 1711shashank commented on #1612
I am not getting the option to create the PR for this issue or [commit](https://github.com/TesseractCoding/NeoAlgo/pull/1646/commits/ff01d5a9334feccaf29794262324bb07988398a6)
Can any one help me resolve this??

[2020-12-21 19:31] Bharati2612 commented on #1638
I would like to do this algorithm using C++, please assign.

[2020-12-21 22:37] iamrajiv commented on #1553
@PuravUdayDesai Sure. Also, make sure you explain every module with proper code comments.

[2020-12-22 04:37] HarshCasper commented on #1641
Hello @joeyouss

Thanks for raising this! You can go ahead with this and make sure that your Roadmap should be in a Markdown Format and pushed to the `resources/` directory, which isn't created yet. Please keep me in a Feedback Loop over Slack so that I can review it right there before you make a PR.

[2020-12-22 04:42] sujal111 commented on #1637
#792 Spiral Matrix in Golang Done

[2020-12-22 04:43] joeyouss commented on #1641
Thank you! I will do in the same format and submit it

[2020-12-22 04:52] HarshCasper commented on #1619
Hello @joeyouss and @sujal111

I have assigned it to you. You can go ahead with them! Make sure to inform beforehand the language you are going to implement this in and check if the algorithm already exists in the language you are trying to implement.

[2020-12-22 04:53] sujal111 opened #1655 "Roadmap to Study DSA in C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
This will contain resources to study C++ and DSA. This will contain documentation regarding how to study ,resources to use and timeline to

[2020-12-22 04:54] joeyouss commented on #1619
Amazing ! Would do it. Thanks !

[2020-12-22 04:56] sujal111 opened #1656 "Roadmap to Study DSA in Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
This will contain resources to study Python and DSA. This will contain documentation regarding how to study ,resources to use and timeline

[2020-12-22 05:40] yashaswibiyahut commented on #1638
@Bharati2612 go for it

[2020-12-22 05:42] yashaswibiyahut commented on #1636
@sujal111 go for it.

[2020-12-22 05:43] yashaswibiyahut commented on #1636
@joeyouss kindly mention in which language you want to implement.

[2020-12-22 05:48] HarshCasper commented on #1596
Instead of having Code over Datasets, we prefer to have algorithms used for the purpose. Can you please highlight which algorithm are you going to use?

[2020-12-22 05:48] HarshCasper commented on #1597
Instead of having Code over Datasets, we prefer to have algorithms used for the purpose. Can you please highlight which algorithm are you going to use?

[2020-12-22 05:58] ErzaTitania-2001 commented on #1651
Can i be assigned this ? @shraddhavp

[2020-12-22 06:04] goelesha commented on #1597
I thought having code would be better as data cleaning & removing of null values is done in a different way for each dataset.
I would be using Linear Regression, Decision tree regressor, KNN & Random Forest Regressor.

[2020-12-22 06:05] goelesha commented on #1596
I thought having code would be better as data cleaning & removing of null values is done in a different way for each dataset.
I would be using Linear Regression, Decision tree regressor & Random Forest Regressor.

[2020-12-22 06:10] HarshCasper commented on #1596
Use only one of them. Feel free to explore the ML directory and see which algorithms have been implemented. You can work on this dataset with the ones that are not yet implemented.

[2020-12-22 06:10] HarshCasper commented on #1597
Use only one of them. Feel free to explore the ML directory and see which algorithms have been implemented. You can work on this dataset with the ones that are not yet implemented.

[2020-12-22 06:11] goelesha commented on #1597
Okay sure.

[2020-12-22 06:13] goelesha commented on #1597
I will do by random forest regressor

[2020-12-22 06:16] PuravUdayDesai commented on #1553
@iamrajiv Sure, I'll do the respective.

[2020-12-22 06:21] goelesha commented on #1596
I will do by random forest regressor

[2020-12-22 08:32] joeyouss commented on #1636
I would like to do it in cpp

[2020-12-22 08:53] shraddhavp commented on #1655
@sujal111  please do complete the previous issues  once they are merged it will be assigned to you

[2020-12-22 08:55] shraddhavp commented on #1651
@ErzaTitania-2001  in which language do you want to implement it?

[2020-12-22 09:11] ErzaTitania-2001 commented on #1651
Java. Thanks.

On Tue, 22 Dec, 2020, 2:26 PM Shraddha, <notifications@github.com> wrote:

[2020-12-22 09:54] gargVader opened #1661 "New section for Stack based problems in C++"
## 🚀 Feature

Add a new section for stack based problems in C++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Easier for user to search for algorithms. It will also resolve various merge conflicts

## Pitch

@shraddhavp Should I add a separate section for stack bas

[2020-12-22 09:55] gargVader commented on #1661
Should I go ahead?

[2020-12-22 11:15] gargVader commented on #1661
confirmed on slack

[2020-12-22 13:50] #1425 closed, assigned to ananya0504, JayantGoel001, limitless-Sky

[2020-12-23 05:23] aeyshubh commented on #1619
I can do it in Java ,kindly assign it to me

[2020-12-23 07:46] #1643 closed, assigned to Tausif121

[2020-12-23 08:31] shivangi00 commented on #1612
@shraddhavp I am willing to contribute.
Language - Java, C
Purpose - contributing via WoC

[2020-12-23 09:02] shivangi00 opened #1668 "Add Benjamin Bulb Problem Java/ C++/ C"
Benjamin Bulb Problem (also known as Bulb Switcher Problem) is good start for Beginners in any programming language to get into the problem solving thinking process.

Link to the problem on LeetCode -
https://leetcode.com/problems/bulb-switcher/

Can solve this problem in all the above languages, do assign me.

@dwoc mentors and @shraddhavp Please consider this.

[2020-12-23 09:25] shraddhavp commented on #1636
Assigned @joeyouss

[2020-12-24 03:11] sujal111 opened #1673 "Dutch National Flag Problem"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Dutch National Flag Problem- Sort 0s,1s and 2s

## Assignees

- Python: @anayjoshi1608
- Java: @pranjalshinde
- C: @muthuannamalai12

[2020-12-24 03:13] sujal111 opened #1674 "Print Left View of a Binary Tree in Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-24 03:13] ErzaTitania-2001 opened #1675 "Subarray Of An Array With Given Sum"
## 🚀 Feature
Find Subarray of an array with given sum in O(n) time.

Input :
arr[]={1,4,20,3,10,5} ; sum=33
Output :
Sum found between indexes 2 and 4

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

To get more used to competitive programming and time complexities.

[2020-12-24 03:13] sujal111 opened #1676 "Print Right View of a Binary Tree in Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-24 03:14] ErzaTitania-2001 commented on #1675
@shraddhavp assign me this in Java.

[2020-12-24 03:14] sujal111 opened #1677 "Huffman Coding algorithm in Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-24 06:12] #1650 closed, assigned to charlie219

[2020-12-24 07:40] joeyouss opened #1680 "Kadane's Algorithm in python"
## 💥 Proposal

I would like to implement kadane's Algorithm in python with proper explanation

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-12-24 08:36] anay-joshi commented on #1680
Can you please assign this to me. I can write an explanation with proper code.

[2020-12-24 08:38] anay-joshi commented on #1673
I know this algo. I can write an explanation and code in python and cpp. Can you assign this to me.

[2020-12-24 10:34] PuravUdayDesai commented on #1494
Sorry for delay

[2020-12-24 12:02] shraddhavp commented on #1680
it is already present @joeyouss  it is same as issue #1604

[2020-12-24 12:04] shraddhavp commented on #1675
@ErzaTitania-2001  please wait for the issue t o be assigned to you,I get the excitement but please have patience

[2020-12-24 12:14] shraddhavp commented on #1631
assigned @gargVader

[2020-12-24 12:17] ErzaTitania-2001 commented on #1675
My bad. I have submitted a PR already on the issue. Would you check it out
kindly?

On Thu, 24 Dec, 2020, 5:34 PM Shraddha, <notifications@github.com> wrote:

[2020-12-24 15:47] musavveer opened #1682 "Menu driven C Program"
I have a menu-driven C program to create, insert, display, delete array.
I think this would help for newbies.

[2020-12-25 03:51] #1675 closed, assigned to ErzaTitania-2001

[2020-12-25 04:48] ErzaTitania-2001 opened #1685 "Shortest Distance Between Words"
## 🚀 Feature

Given a list of words and two words word1 and word2, find the shortest distance between those two words from the list.

Input : words=["practice", "makes", "perfect", "coding","makes"]
word1="coding"
word2="practice"
Output: 3
word1="coding"
word2="makes"
Output : 1

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/maste

[2020-12-25 04:49] ErzaTitania-2001 commented on #1685
@shraddhavp can I be assigned this?

[2020-12-25 06:42] 1711shashank opened #1688 "N-bit binary numbers having more 1s than 0s using recursion in c++"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

##Question in brief

Given a positive integer n,
print all n-bit binary numbers having more 1’s than 0’s for any prefix of the number.

[2020-12-25 08:33] #1651 closed, assigned to JayantGoel001

[2020-12-25 10:19] shraddhavp commented on #1685
assigned @ErzaTitania-2001

[2020-12-25 11:46] iamvs-2002 opened #1689 "Add Priority Queue in JAVA"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

In the data structures, I want to add Priority Queue implemented in Java.

## Motivation

The data structures and algorithms under one roof...hmm...why not add all

[2020-12-25 12:17] iamvs-2002 opened #1691 "Add Shell Sort Algorithm in Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

## Motivation

Adding the Shell Sort algorithm implemented in Java.
(Please outline the motivation for the proposal.)

## Pitch

I want

[2020-12-25 12:35] iamvs-2002 commented on #1487
I do mostly Java, but learning Kotlin for a while. Would love to add some sorting/ searching algorithms in Kotlin. Kindly assign me the issue to add some sorting/ searching algorithms in Kotlin.

[2020-12-25 12:36] iamvs-2002 commented on #1691
Kindly assign this issue to me. I have made a pull request for the same. Kindly review the same.😊

[2020-12-25 12:36] iamvs-2002 commented on #1689
Kindly assign this issue to me. I have made a pull request for the same. Kindly review the same.😊

[2020-12-25 12:37] shraddhavp commented on #1487
assigned @iamvs-2002

[2020-12-25 12:42] iamvs-2002 commented on #1487
Thankyou! I am on it.

[2020-12-25 15:56] iamvs-2002 opened #1693 "AI Algorithms"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Addition of AI Algorithms such as Breadth First Search, Depth First Search, Best First Search, A*, AO*, etc.
Well, not the implementation rather the algo(pseudo code) with an explanation.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#rep

[2020-12-25 15:57] iamvs-2002 commented on #1693
@ShishirBhandari Kindly assign this issue to me.

[2020-12-25 18:15] #1677 closed, assigned to nobody

[2020-12-26 01:01] sujal111 opened #1694 "Euler’s Totient Function in Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Euler’s Totient Function in Python is an important part of Number Theory and highly used in CP

[2020-12-26 01:02] sujal111 opened #1695 "Fermat Method for Primality Test in Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-26 01:04] sujal111 opened #1696 "Pollard’s Rho Algorithm for Prime Factorization in CPP"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Pollard’s Rho Algorithm for Prime Factorization in CPP is an important part of Number Theory and it's not present in the repository

[2020-12-26 01:05] sujal111 opened #1697 "Carmichael Numbers in Python and C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-26 01:06] sujal111 opened #1698 "Wilson’s Theorem in C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-26 01:07] sujal111 opened #1699 "Lucas Theorem in Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-26 01:08] sujal111 opened #1700 "RSA Algorithm in Cryptography"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-26 01:10] sujal111 opened #1701 "Sprague – Grundy Theorem"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-26 01:11] sujal111 opened #1702 "Robin Karp Algorithm"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-26 01:13] sujal111 opened #1703 "Solovay-Strassen algorithm for Prime Numbers in c++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-12-26 03:21] Rishikeshrajrxl commented on #1702
Assign me this issue

[2020-12-26 03:22] Rishikeshrajrxl commented on #1655
Assign this issue to me for tag DWOC

[2020-12-26 03:23] shivangi00 commented on #1625
@shraddhavp  I would like to do this in C++

[2020-12-26 03:23] Rishikeshrajrxl commented on #1617
I would like to do this, please assign me

[2020-12-26 03:26] Rishikeshrajrxl commented on #1567
I want to do this in c++

[2020-12-26 03:32] Rishikeshrajrxl commented on #1698
Please assign me this issue

[2020-12-26 03:32] Rishikeshrajrxl commented on #1699
Assign me this, please

[2020-12-26 03:33] Rishikeshrajrxl commented on #1697
Assign me this in c++

[2020-12-26 03:33] Rishikeshrajrxl commented on #1696
I want to do this for c++

[2020-12-26 03:35] Rishikeshrajrxl commented on #1685
I cann do this in c++ and Java, do assign me

[2020-12-26 03:36] Rishikeshrajrxl commented on #1673
Assign me this for c++

[2020-12-26 03:36] Rishikeshrajrxl commented on #1668
I can do this in c++ , do assign me for Tag DWOC

[2020-12-26 03:37] Rishikeshrajrxl commented on #1649
I can do this in c++ .

[2020-12-26 03:38] Rishikeshrajrxl commented on #1682
I can do this in   C,  C++, Java , and python.

[2020-12-26 03:38] ShishirBhandari commented on #1693
@iamvs-2002,
Sorry but I am not the author/maintainer of this repository. So I cannot assign.
You can ask maintainers and authors for this.

I think you can start working on this and get someone to assign it to you later.

Good luck.

[2020-12-26 06:31] shraddhavp commented on #1693
assigned @iamvs-2002

[2020-12-26 06:44] rutujadhanawade commented on #1459
I would like to take
Rod cutting Problem in C,C++ and java
coin change in C, java
@iamrajiv

[2020-12-26 06:49] rutujadhanawade commented on #1439
I would like to do this in C++ Please assign me this.

[2020-12-26 07:08] iamvs-2002 commented on #1693
Thankyou!

[2020-12-26 07:31] iamvs-2002 commented on #1693
@shraddhavp  Please guide me a bit...
Should I make a separate pull request for every AI algorithm(around 10 algorithms) I add, or a common pull request for all the files will work well?

[2020-12-26 08:46] pranjalshinde commented on #1455
I would like to work on Kadane's algorithm in Java, Please assign

[2020-12-26 08:49] pranjalshinde commented on #1565
I would like to work on this problem in Java, please assign

[2020-12-26 08:50] pranjalshinde commented on #1567
I would like to solve this in Java, please assign

[2020-12-26 08:51] pranjalshinde commented on #1612
I would like to solve this in Java, please assign

[2020-12-26 08:52] pranjalshinde commented on #1637
Can I solve this in Java?

[2020-12-26 08:54] pranjalshinde commented on #1490
I want to solve this in Java, please assign

[2020-12-26 09:02] pranjalshinde commented on #1673
I would like to solve this in Java, please assign

[2020-12-26 09:07] shraddhavp commented on #1490
assigned @pranjalshinde

[2020-12-26 10:32] pranjalshinde commented on #1490
I have solved the problem and created pull request

[2020-12-26 10:33] pranjalshinde commented on #1490
#1709

[2020-12-26 11:12] JayantGoel001 opened #1710 "Add shell Sort in Kotlin"
## 🚀 Shell Sort

(Sorting Algorithm)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Sorting Algorithm )

## Pitch

(Kotlin in one of most used language in 2020 and implementing shell sort will be a great idea .)

[2020-12-26 11:12] JayantGoel001 commented on #1710
Please Assign me This in Kotlin
@atarax665 @iamrajiv
@shraddhavp

[2020-12-26 12:52] nayanajain commented on #1622
please assign this issue to me

[2020-12-26 12:54] nayanajain commented on #1612
I can solve this issue..please assign me

[2020-12-26 12:56] nayanajain commented on #1444
please assign this issue yo me

[2020-12-26 12:59] nayanajain commented on #1566
please assign this issue yo me in c++

[2020-12-26 13:03] nayanajain commented on #1604
Please assign this issue to me in c++

[2020-12-26 13:17] nayanajain commented on #1682
please assign this  to me..

[2020-12-26 13:20] nayanajain commented on #1527
Please assign this issue yo me, in c++

[2020-12-26 13:46] gargVader commented on #1566
@nayanajain C++ code has been merged via #1600

[2020-12-26 14:06] KartikeySharma commented on #1702
Pls assign this to me for DWOC
I have fixed the issue #1701  and I have submitted a PR as well

[2020-12-26 14:06] KartikeySharma commented on #1698
Pls assign this issue to me if possible

[2020-12-26 14:07] KartikeySharma commented on #1694
I would like to work on this issue if possible.

[2020-12-26 14:07] KartikeySharma commented on #1703
Pls assign this to me if possible

[2020-12-26 14:07] KartikeySharma commented on #1695
Pls assign this to me @sujal111

[2020-12-26 14:08] KartikeySharma commented on #1674
Pls assign this to me @sujal111

[2020-12-26 14:08] KartikeySharma commented on #1676
Pls assign this to me @sujal111

[2020-12-26 14:12] nehalabhasetwar opened #1715 "Stack Using Queue in CPP"
## 🚀 Feature

Program in CPP to implement stack using queues.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would

[2020-12-26 14:19] KartikeySharma opened #1716 "3 Partition Quick Sort in C++"
## 🚀 Feature
Quick sort is a very famous algorithm which uses recursion and balances the array based on a chosen element known as the pivot. This creates 2 partitions in a general quick sort. A much faster implementation is the 3 way quicksort which uses 2 pivots for faster sorting

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/mas

[2020-12-26 14:21] KartikeySharma commented on #1701
Pls assign this to me if possible

[2020-12-26 14:22] KartikeySharma commented on #1621
I would like to work on this.
Pls assign this to me if possible @sujal111 . :)

[2020-12-26 14:25] AayushBangroo commented on #1661
Please assign me this one!

[2020-12-26 14:25] KartikeySharma commented on #1616
I would like to work on this issue @sujal111 .
Pls assign this to me

[2020-12-26 14:28] KartikeySharma opened #1717 "Radix Sort Algo in C++"
## 💥 Proposal

Radix Sort is a clever and intuitive little sorting algorithm. Radix Sort puts the elements in order by comparing the digits of the numbers.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-12-26 14:29] gargVader commented on #1661
@AayushBangroo Stack section was already created and problems added

[2020-12-26 14:30] KartikeySharma opened #1718 "Mo's Algorithm C++"
## 💥 Proposal

It is a general idea that is implemented to improve the speed of query-based algorithms. It is mostly used in CP

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-12-26 14:40] mohd-hirani commented on #1717
I am interested in this issue;
I can add the radix sort algorithm .

[2020-12-26 14:42] KartikeySharma commented on #1717
@Cruel-Crab I have created this issue as I am interested in implementing it too. :) as a part of DWOC

[2020-12-26 14:45] mohd-hirani commented on #1638
I am interested in this issue;
I can add kruskal's algorithm.

[2020-12-26 14:47] mohd-hirani commented on #1625
I am interested in this issue;
I can do this in C/C++.

[2020-12-26 14:49] mohd-hirani commented on #1547
I am interested in this issue;
Kindly assign it to me .

[2020-12-26 14:50] mohd-hirani commented on #1477
I am interested in this issue;
Kindly assign it to me.

[2020-12-26 14:56] AayushBangroo commented on #1715
Interested

[2020-12-26 14:57] rajiv8 commented on #1682
Please assign this task to me, I can do this menu driven program in Python, C, C++, Java

[2020-12-26 15:01] AayushBangroo commented on #1673
Interested

[2020-12-26 15:12] AayushBangroo opened #1719 "Evaluate a string expression using BODMAS (Stack)"
## 💥 Proposal
Evaluate a string expression like "(2+3)*4/5" using stack applying BODMAS rules using C++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
yes

[2020-12-26 15:13] AayushBangroo commented on #1719
Please assign

[2020-12-26 15:13] rajiv8 commented on #1596
Hey , i would like to work on this issue , i  can try with different algorithms like linear ,Decision tree, Random forest and try many different regression model and try to figure out which algorithm works good.

[2020-12-26 15:30] Amit366 commented on #1715
I am also interested

[2020-12-26 16:06] iamvs-2002 commented on #1691
This is for DWOC - DevScript Winter of Code.
Thankyou!

[2020-12-26 16:10] iamvs-2002 commented on #1693
This is for DWOC - DevScript Winter of Code.
Thank you!

[2020-12-26 16:13] sahebsunny opened #1722 "Cocktail shaker sort | C++"
## 🚀 Feature

Implementation of the Cocktail shaker sort algorithm in CPP.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

It's an interesting and important algorithm to learn.

## Pitch

Cocktail shaker sort, also known as bidirectional bubble sort, cocktail sort, s

[2020-12-26 16:19] sahebsunny commented on #1722
Sir, I love to work on it.
I would be grateful if you can assign this issue to me for DWOC.
Thank you.

[2020-12-26 16:25] sahebsunny opened #1723 "Fibonacci Search | C"
## 🚀 Feature

Adding Fibonacci Search implementation using C language.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

It's an interesting algorithm to learn.

## Pitch

Fibonacci search technique is a method of searching a sorted array using a divide and conquer alg

[2020-12-26 16:28] Amit366 commented on #1723
I am interested

[2020-12-26 16:32] sahebsunny opened #1724 "Jump Search | Python"
## 🚀 Feature

Implementation of the Jump Search in Python.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

It's an interesting algorithm to learn.

## Pitch

Jump search or block search refers to a search algorithm for ordered lists.

[2020-12-26 16:34] sahebsunny commented on #1723
Sir, I have made this issue and I love to work on it.
I would be grateful if you can assign this issue to me for DWOC.
Thank you.

[2020-12-26 16:34] sahebsunny commented on #1724
Sir, I love to work on it.
I would be grateful if you can assign this issue to me for DWOC.
Thank you.

[2020-12-26 16:48] muthuannamalai12 opened #1725 "Adding Graph Traversal Algorithms"
## 🚀 Feature
I would love to work on Breadth-First Search (BFS) and Depth-First Search (DFS) Graph traversal algorithms in C as a part of DWOC

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

## Mot

[2020-12-26 17:05] Amit366 commented on #1715
I will grateful to you, if you can assign this to me for DWOC.

[2020-12-26 17:13] vrandachag opened #1726 "Program to convert BST to Greater Sum Tree"
## 🚀 Feature

Given BST is transformed into greater sum tree where each node contains sum of all nodes greater than that node.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes!

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

Given a Binary Search Tree (BS

[2020-12-26 17:14] vrandachag commented on #1726
I would like to add C++ program for this issue. Please assign this to me.

[2020-12-26 18:00] smriti1313 commented on #1723
Hi, I would like to have this opportunity to contribute in this.

[2020-12-26 18:02] smriti1313 commented on #1725
Hi, I would like to work on this . Also let me know if this in included in DWOC2020. Thank you

[2020-12-26 18:55] razorblade42 commented on #1625
interested!
i can do this in C/C++/python2/python3

[2020-12-26 19:24] razorblade42 opened #1728 "Implementing Tree Data Structure in C++,Python3 using Linked List."
## 🚀 Feature

(A clear and concise description of what the feature is.)
A tree data structure which can have functions like search,insertchild  etc..

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
yes
## Motivation
It is very important to know about Tree data

[2020-12-26 19:32] razorblade42 commented on #1728
I would like to work on it.

[2020-12-26 19:33] razorblade42 commented on #1728
please assign it to me

[2020-12-26 20:21] keshav340 commented on #1728
Can I do it.

[2020-12-27 06:39] ParthSingh0506 commented on #1597
It is better to use Random Forest Regressor but you should apply all those models(KNN, Decision Tree, etc). Use only that model in which you get higher accuracy.

[2020-12-27 07:26] muthuannamalai12 commented on #1673
I would like to solve this in C.Kindly assign this to me

[2020-12-27 07:58] sakshi300699 commented on #1617
I would like to work on this issue

[2020-12-27 07:59] muthuannamalai12 commented on #1723
I am interrested.Kindly assign me this issue

[2020-12-27 08:01] proghead00 opened #1733 "(1) A* Pathfinding Algorithm with GUI in Python (2) Adding programs in: (a) C => folders: ds, math, other; (b) JavaScript => various cp, ds, and maths programs"
## 🚀 Feature

(A clear and concise description of what the feature is.)

**(1) A Star Pathfinding Algorithm with GUI in Python**:
Implemented with pygame, this script will find the shortest distance between two nodes using A* Algorithm.
Instructions/ Keys Functionalities :

- Left Click to add start and end nodes
- Right Click to remove the nodes
- Space Bar to start finding the shortest distance

[2020-12-27 08:15] rutujadhanawade commented on #1566
I would like to do this in python & C @shraddhavp Please assign this to me.
@iamrajiv

[2020-12-27 08:25] khusboobothra commented on #1728
I am interested in implementing Trees in C++.Can I do it?

[2020-12-27 08:27] khusboobothra commented on #1622
Please assign this issue to me.

[2020-12-27 10:00] joeyouss commented on #1427
Hey! kindly assign this to me

[2020-12-27 10:58] singhsaurav23 opened #1736 "Tarjan's Algorithm | C++"
## 🚀 Feature
Implementation of Tarjan's Algorithm in C++ to find the number of strongly connected components in the graph.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

It is an interesting algorithm to learn and implement as it can help one to grasp the concept o

[2020-12-27 12:03] #1476 closed, assigned to Pranav016

[2020-12-27 12:29] shraddhavp commented on #1693
yes seperate for each

[2020-12-27 12:30] shraddhavp commented on #1701
assigned @KartikeySharma

[2020-12-27 12:33] iamvs-2002 commented on #1693
Okay, thankyou! I am on it.

[2020-12-27 13:07] chehak123 commented on #1726
hii
i would like to work on this issue under dwoc

[2020-12-27 14:17] Pranav016 commented on #1572
Can I work on this issue for both WoC and Devscript WoC? Also, please add the relevant tags on this :)

[2020-12-27 15:40] iamvs-2002 opened #1741 "Circular Queue in C"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Implementation of Circular Queue Data Structure in C

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
(Write your answer here.)

## Motivation

Making this repo as one step solution for data structures and algori

[2020-12-27 15:42] iamvs-2002 commented on #1741
Kindly assign me this issue. I have a ready solution for the same.
@shraddhavp
@DWOC mentors

[2020-12-27 16:55] #1440 closed, assigned to kartikp36

[2020-12-27 17:19] kartikp36 opened #1744 "Burrows Wheeler transform(BWT) in Python"
## 🚀 Feature
### Winter of code
Implement and add Burrows Wheeler transform algorithm in Python

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
## Motivation
[This](https://www.youtube.com/watch?v=4WRANhDiSHM&list=TLPQMjcxMjIwMjCzl4040phelQ&index=2) Google Developers youtube video h

[2020-12-27 17:53] charlie219 opened #1745 "Ploting graph of any function in python"
# 💥 Proposal

I want to add my code for plotting graph of the various mathematical function using matplotlib library of python.
The user will just input the function and the program will plot the corresponding graph.
For example- y=x^2+x+1, then the user will enter the value of y, i.e. x**2+x+1 and the program will plot the respective graph.
The code will be placed under Others section

### Have y

[2020-12-27 18:02] Jassi10000-zz commented on #1718
I would like to contribute for this issue.
Assign me this issue with tag DWOC

[2020-12-27 18:13] Jassi10000-zz opened #1747 "Intersection Point of Two Linked Lists"
## 💥 Proposal

" Intersection Point of Two Linked Lists " is a very popular question and is being asked many times in many companies in their interviews .
I would like to add this problem into NeoAlgo's  repo named as Tesseract Coding .
Please assign me to work on this issue with tag DWOC

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/b

[2020-12-28 04:23] shraddhavp commented on #1744
is this a part of Winter of code or DWOC?

[2020-12-28 04:24] shraddhavp commented on #1716
please mention WOC or DWOC

[2020-12-28 04:26] shraddhavp commented on #1699
as a part of woc or dwoc?

[2020-12-28 04:39] ErzaTitania-2001 opened #1750 "Defanged IP Address"
## 🚀 Feature

Given a valid (IPv4) IP address, return a defanged version of of that IP address. A defanged IP address replaces every period "." with "[.]".

Input : address : "1.1.1.1"
Output : "1[.]1[.]1[.]1"

Input : "255.100.50.0"
Output : "255[.]100[.]50[.]0"

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md

[2020-12-28 04:39] ErzaTitania-2001 commented on #1750
@shraddhavp can i be assigned this in JAVA?

[2020-12-28 04:40] kartikp36 commented on #1744
This is a part of [Winter of Code](https://winterofcode.com/).
And Thank You for assigining me!

[2020-12-28 06:28] Rishikeshrajrxl commented on #1699
As a of DWOC

[2020-12-28 06:53] Rishikeshrajrxl commented on #1741
Please assign me for c++

[2020-12-28 06:55] Rishikeshrajrxl commented on #1702
assign me for DWOC

[2020-12-28 07:19] shivangi00 commented on #1741
@shraddhavp @dwoc mentors please assign this to me I can do this in C++. Have a ready solution for this.

[2020-12-28 07:24] manvi0308 commented on #1747
I am willing to contirbute

[2020-12-28 07:25] manvi0308 commented on #1741
Assign me this issue

[2020-12-28 07:28] Jassi10000-zz commented on #1747
@manvi0308
 I have already requested for the assignment of issue first

[2020-12-28 07:28] manvi0308 commented on #1621
I would like to work on this

[2020-12-28 07:35] iamvs-2002 commented on #1741
@shraddhavp I guess @iamrajiv is already a maintainer for this repository right?

[2020-12-28 07:45] manvi0308 opened #1756 "Roadmap for tutorials"
## 🚀 Feature

A roadmap featuring the best tutorials(Maybe in articles or youtube videos) in sequence, that will help beginners to have a sequence to follow for mastering Data Structures and algorithms

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

*I have recently

[2020-12-28 08:15] Rishikeshrajrxl commented on #1747
I would like to do this in C++, for tag DWOC

[2020-12-28 08:24] iamrajiv commented on #1741
@Rishikeshrajrxl @manvi0308 Specify your languages in which you to implement this.

[2020-12-28 08:24] Rishikeshrajrxl opened #1760 "Boston House Price Prediction"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Here I will apply basic machine learning concepts on data collected for housing prices in Boston to predict the price.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

Python libraries

[2020-12-28 08:24] Rishikeshrajrxl commented on #1760
please assign me this issue for tag DWOC

[2020-12-28 08:26] Rishikeshrajrxl commented on #1741
I would like to do in C++

[2020-12-28 08:31] rutujadhanawade commented on #1571
I would like to do this in python please assign me this @shraddhavp

[2020-12-28 08:33] iamrajiv commented on #1741
@Rishikeshrajrxl C++ is already assigned.

[2020-12-28 08:44] iamvs-2002 commented on #1741
@iamrajiv May I implement it in the C language?

[2020-12-28 08:46] iamrajiv commented on #1741
@iamvs-2002 Yeah I have already assigned you.

[2020-12-28 09:01] KartikeySharma commented on #1716
Pls add the DWOC tag

[2020-12-28 09:13] iamvs-2002 commented on #1741
Okay sir, thank you!

[2020-12-28 09:16] proghead00 commented on #1733
Please assign this issue to me. Waiting for your response.

[2020-12-28 09:44] Rishikeshrajrxl commented on #1741
Then I will do in Java, do assign me

[2020-12-28 09:50] iamvs-2002 commented on #1741
If you require any help while doing it in Java, do let me know.😉😊

[2020-12-28 09:54] Rishikeshrajrxl commented on #1741
Sure @iamvs-2002

[2020-12-28 10:15] chehak123 commented on #1747
I would like to work on this issue under DWOC

[2020-12-28 10:16] chehak123 commented on #1725
I would like to work on this issue under DWOC

[2020-12-28 10:16] chehak123 commented on #1723
I would like to work on this issue under DWOC

[2020-12-28 10:17] chehak123 commented on #1717
I would like to work on this issue under DWOC

[2020-12-28 10:21] samir-0711 commented on #1700
I want to work on this. Can you assign me this issue?
Also add DWOC label.

[2020-12-28 11:18] 1711shashank opened #1764 "Minimum Cost of ropes"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

##Question :

There are given N ropes of different lengths,
we need to connect these ropes into one rope.
The cost to connect two ropes is equal to sum of their l

[2020-12-28 11:39] atriadhiakri2000 commented on #1455
Egg Dropping Puzzle
Count ways to N'th Stair(Order does not matter)
Optimal Strategy For A Game
Kadane's Algorithm
please assign me these in python
@iamrajiv @shraddhavp @HarshCasper

[2020-12-28 11:39] #1661 closed, assigned to nobody

[2020-12-28 11:48] kapilkumar2001 commented on #1764
I would like to work on this issue in java.

[2020-12-28 11:48] pranjalshinde commented on #1490
please review my PR https://github.com/TesseractCoding/NeoAlgo/pull/1709

[2020-12-28 11:53] kapilkumar2001 commented on #1747
I would like to do this in java

[2020-12-28 12:00] kapilkumar2001 commented on #1726
I would like to work on this issue in java

[2020-12-28 12:12] kapilkumar2001 commented on #1725
I would like to work on this issue in java under DWOC

[2020-12-28 12:14] KartikeySharma commented on #1701
Pls add the DWOC tag

[2020-12-28 12:19] kapilkumar2001 commented on #1685
I would like to do this in python under DWOC

[2020-12-28 12:21] kapilkumar2001 commented on #1636
I would like to do this in java

[2020-12-28 12:28] HarshCasper opened #1768 "Propose a new README"
## 🚀 Feature

Propose a new README

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Ever since this Project was launched, we have not yet seen a huge adoption of modern Documentation standards even through the Codebase has increased. We would like to have a more enhan

[2020-12-28 12:30] HarshCasper opened #1769 "Add a List to mention Open Source Events"
## 🚀 Feature

Add a List to mention Open Source Events

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Add a List to mention Open Source Programs. NeoAlgo has been a part of many Open Source Programs like:

- HakinCodes Contributor's Hack
- DSC NSEC's Winter of Code

[2020-12-28 12:33] HarshCasper opened #1770 "Add a Github Action to auto-assign reviewers"
## 🚀 Feature

Add a Github Action to auto-assign reviewers
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
## Motivation

With so many PRs kicking in, every week, its a definite pain to review each of them. What if we can have an Action to auto-assign reviewers, every time a PR is ma

[2020-12-28 13:28] pranjalshinde commented on #1490
@shraddhavp

[2020-12-28 14:21] japneetkaurbhatia commented on #1722
Hey
Can I work on this in java ?

[2020-12-28 14:23] charlie219 opened #1771 "Finding path in the 2D Maze"
# 💥 Proposal

I want to add a folder under Python/graphs named `Finding_path_in_the_Maze` which will house to different pathfinding algorithms. The argument of all these functions will be a Binary maze( 1 is way and 0 is a wall), the source cell and the destination cell. The pathfinding algorithms will be as follow.

- Breadth-First Search
- Depth-First Search
- Dijkstra Algorithm
- A*(astar) Algo

[2020-12-28 14:44] sahebsunny commented on #1723
@shraddhavp sir let me work on it

[2020-12-28 14:53] sahebsunny opened #1772 "Counting Sort | Python"
## 🚀 Feature

Implementation of the Counting Sort algorithm in Python.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

It's an interesting and important algorithm to learn.

## Pitch

counting sort is an algorithm for sorting a collection of objects according to keys

[2020-12-28 15:13] tharunc commented on #1768
Hello there,
     I would like to work on the readme.md file issue . Can you please assign it to me.

[2020-12-28 15:42] Sameera-Aryasomayajula opened #1773 "Kadane's Algorithm"
## 🚀 Feature

 An efficient program to find the sum of contiguous subarray within a one-dimensional array of numbers which has the largest sum.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

I would like to

[2020-12-28 15:57] sahebsunny commented on #1772
Please assign me this sir I want to work

[2020-12-28 15:58] HarshCasper commented on #1733
Hi @proghead00

Thanks for making this Issue! As a Side-Note, we would not need a GUI for our Code. You can safely omit that part.

Also, try to make PRs as discrete as possible. Don't push a lot of Code into a single PR. Make PRs with only one language and corresponding README changes.

[2020-12-28 15:59] kapilkumar2001 commented on #1772
I would like to do this in java

[2020-12-28 16:01] sahebsunny commented on #1723
@HarshCasper thanks sir

[2020-12-28 16:01] proghead00 commented on #1733
Okay @HarshCasper . So, I'll omit the GUI as you say.
Can I open multiple PRs then? Like, if I code some programs in C, then open PR, and then code in JS, and again open PR for the same?

[2020-12-28 16:01] proghead00 commented on #1733
And I'd like to get assigned for this :)

[2020-12-28 16:01] HarshCasper commented on #1772
Please raise a separate Issue for that! I don't want one Issue to be overlapped with multiple PRs. It would be difficult for me to review then.

[2020-12-28 16:02] HarshCasper commented on #1733
Works! Please go ahead

[2020-12-28 16:07] nrickles3 commented on #1770
Hey @HarshCasper, I would like to take this issue if possible.

[2020-12-28 16:24] atharvagadkari05 commented on #1736
I'm Interested in this and would like to contribute under DWoC.
I've decent knowledge about data structures and algorithms.
Can you please assign me this?

[2020-12-28 16:46] Khimit opened #1774 "Sieve of Eratosthenes"
@iamrajiv  @SKAUL05 @hushee69 @mechiragjain
### **Sieve of Eratosthenes:**

**Sieve of Eratosthenes** is an efficient algorithm for finding all the prime numbers in a given set of interval.

We can add this algorithm in **C++ , Java , Python** folders.

I want to implement this algorithm in these languages.

[2020-12-28 16:48] Khimit commented on #1774
@iamrajiv  @SKAUL05 @hushee69 @mechiragjain
I would like to work on this.
please assign this task to me..
thank you..

And please also add **DWoC** label to this...

[2020-12-28 17:21] samir-0711 commented on #1773
I want to work on this. Can you assign me this issue?
Also add DWOC label.

[2020-12-28 17:28] samir-0711 opened #1776 "Counting Sort | Java"
## 🚀 Feature

Implementation of the Counting Sort algorithm in Java

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

It's an interesting and important algorithm to learn.

## Pitch

Counting sort is an algorithm for sorting a collection of objects according to keys th

[2020-12-28 17:31] samir-0711 commented on #1776
I want to work on this. Can you assign me this issue?
Also add DWOC label.

[2020-12-28 17:31] Sarthak-9 commented on #1617
I want to work on this .Please assign it to me.

[2020-12-28 17:39] Khimit opened #1777 "Garner's Algorithm in Java"
@SKAUL05 @hushee69 @iamrajiv
### Garner's Algorithm in Java

Let p be the product of the first 1000 primes. From calculations we can see that p has around 3000 digits.

Any number a less than p can be represented as an array a1,…,ak, where ai  = a (mod pi). But to do this we obviously need to know how to get back the number a from its representation.

Garner's Algorithm can be used for this purpos

[2020-12-28 17:40] Khimit commented on #1777
@iamrajiv @SKAUL05 @hushee69 @mechiragjain
I would like to work on this.
please assign this task to me..
thank you..

And please also add DWoC label to this...

[2020-12-28 17:43] Sarthak-9 commented on #1773
I would like to work on this. May I go ahead with this ?
@shraddhavp
@dwoc

[2020-12-28 17:45] Sarthak-9 commented on #1776
I can work on this for both java and cpp. Please assign it to me.
@shraddhavp
@dwoc

[2020-12-28 17:48] Sarthak-9 commented on #1747
I have a solution ready for it in cpp. May I proceed with this under DWOC ?
@dwoc

[2020-12-28 18:02] sahebsunny commented on #1772
@HarshCasper Sir, I have made this issue and I love to work on it.
I would be grateful if you can assign this issue to me

[2020-12-28 18:07] charlie219 opened #1778 "Counting Inversions in Python"
## 💥 Proposal

This will be a Divide and Conquer approach of the inversion problem which will be added under Python/Other/ .
I want to contribute to it in Python.
About the problem:- [Count Inversion](https://www.geeksforgeeks.org/counting-inversions/)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-

[2020-12-28 18:15] atarax665 commented on #1770
Sure, I am assigning this issue to you :+1:

[2020-12-28 18:20] kanishkaa24 commented on #1769
I would like to work on this.

[2020-12-28 18:33] riyasingh1004 commented on #1722
I would like to work on this, please assign this to me. I am fluent in C++.

[2020-12-28 18:37] riyasingh1004 commented on #1772
I would like to work on this issue , please assign this to me.

[2020-12-28 19:34] shloka-gupta opened #1780 "Queue, stack, anagram, LetterCount, Vowels and consants"
## 💥 Proposal

1. Made the already existing  _queue_ program dynamic.
2. Made a dynamic stack program named Stack2.
3. The _anagram_ program that existed could have taken advantage of python and was a bit lengthy so I changed it
4. Added a program that tells the _occurence of letter_ in a word using a dictionary
5. Added a program that helps to count the number of vowels and constants in a string

[2020-12-28 19:35] Bharati2612 commented on #1638
I am working on it.

[2020-12-28 20:14] proghead00 commented on #1733
@HarshCasper So, I am creating separate branches for separate PRs.
I already made a branch named **proghead00** 2 days back and added files for **C**.
For the programs for other languages like **JS**, the branch name goes like this:  **proghead00_JS**, and so on.

[2020-12-28 20:15] sahebsunny commented on #1723
@HarshCasper sir I need a suggestion
I have made a Pull request for issue #1763
but sir when I pushed the changes for this #1723 issue my changes went in the first pull request
i have deleted the files
But sir how should i make PR for this issue.

[2020-12-28 20:59] geekaditi commented on #1715
I’d like to take this up in CPP.

[2020-12-28 21:21] shriyaMadan commented on #1773
I would like to work on this issue. Can add in Python/C++/Java.

[2020-12-29 03:48] HarshCasper commented on #1736
Hello @atharvagadkari05

Since @singhsaurav23 created the Issue and specifically mentioned C++, I have assigned him the Issue on the same. If you would like to take up this Issue in any other language, feel free to suggest!

[2020-12-29 04:20] Sameera-Aryasomayajula opened #1783 "Count set bits in an integer"
## 🚀 Feature

An efficient program to count the number of 1s in the binary representation of an integer.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

I would like to do the C++ implementation for this.

[2020-12-29 04:21] Sameera-Aryasomayajula commented on #1783
Can you please assign this issue to me

[2020-12-29 04:24] atharvagadkari05 commented on #1736
@singhsaurav23
Ok, I'm comfortable in java and would like to contribute in this.

[2020-12-29 04:26] shraddhavp commented on #1773
@Sarthak-9  @shriyaMadan @Sameera-Aryasomayajula @samir-0711  please refer the issue #1604

[2020-12-29 04:28] shraddhavp commented on #1776
@samir-0711  you can go ahead with Java and @Sarthak-9  you can do it with CPP

[2020-12-29 04:30] shraddhavp commented on #1636
assigned @kapilkumar2001

[2020-12-29 04:32] shraddhavp commented on #1685
@Rishikeshrajrxl  go ahead with cpp

[2020-12-29 04:33] shraddhavp commented on #1685
@kapilkumar2001  go ahead with python

[2020-12-29 04:35] shraddhavp commented on #1668
@Rishikeshrajrxl  go ahead with cpp

[2020-12-29 04:36] shraddhavp commented on #1668
@shivangi00  go ahead with java

[2020-12-29 04:40] shraddhavp commented on #1625
@shivangi00  please do in cpp

[2020-12-29 04:40] shraddhavp commented on #1625
@razorblade42  please go ahead with python

[2020-12-29 04:43] shraddhavp commented on #1777
@Khimit  assigned

[2020-12-29 04:44] shraddhavp commented on #1783
@Sameera-Aryasomayajula  you can go ahead with cpp

[2020-12-29 04:46] shraddhavp commented on #1768
assigned @tharunc

[2020-12-29 04:47] shraddhavp commented on #1772
@sahebsunny  assigned

[2020-12-29 05:09] antaramunshi commented on #1724
Can you assign this to me?

[2020-12-29 05:17] atharvagadkari05 commented on #1736
@shraddhavp  @saurav  do we have to make changes in master branch or in some other branch??

[2020-12-29 05:39] iamvs-2002 commented on #1783
May I solve the same issue in Java?

[2020-12-29 06:14] pranjalshinde commented on #1783
I want to solve this in java

[2020-12-29 06:15] pranjalshinde commented on #1776
I would like to work on this in java please assign

[2020-12-29 06:17] pranjalshinde commented on #1723
I would like to work on this in java under DWOC please assign

[2020-12-29 06:19] pranjalshinde commented on #1774
@iamrajiv @SKAUL05 @hushee69 @mechiragjain
I would like to work in Java under DWOC please assign

[2020-12-29 06:20] pranjalshinde commented on #1715
I would like to work on this in Java under DWOC, please assign

[2020-12-29 06:24] iamvs-2002 commented on #1487
@shraddhavp There were some issues in the files and also it was those I had learned from youtube. So I closed the pull requests. I'd rather implement them entirely by myself and then submit them.

[2020-12-29 06:47] pranjalshinde commented on #1771
I would like to work on this in Java under DWOC
I request @iamrajiv @atarax665 and @HarshCasper to assign me this issue and please add DWOC label to it

[2020-12-29 06:54] rutujadhanawade commented on #1668
I would like to do this in C and python

[2020-12-29 07:26] Sarthak-9 commented on #1776
Sure

[2020-12-29 07:28] Sarthak-9 commented on #1604
I want to work on this in cpp. Please assign it to me.
@shraddhavp
@dwoc

[2020-12-29 09:25] shraddhavp commented on #1604
sorry @Sarthak-9  and @nayanajain  it is already assigned

[2020-12-29 09:26] shraddhavp commented on #1668
assigned @rutujadhanawade

[2020-12-29 09:28] Siddhant-K-code commented on #1604
@shraddhavp pls review #1749

[2020-12-29 09:30] shraddhavp commented on #1774
@Khimit  assigned

[2020-12-29 09:31] shraddhavp commented on #1774
as the issue was first created by @Khimit  so assigning it ,do check out other issues @pranjalshinde

[2020-12-29 09:58] singhsaurav23 commented on #1736
@atharvagadkari05 fork the master, and start making changes on the local branch and then push the changes in the local branch.

[2020-12-29 10:03] atharvagadkari05 commented on #1736
@singhsaurav23 can you be little more
specific about the changes? Do I have to simply write tarjan's algorithm in java and push it to the local branch?

[2020-12-29 11:56] Rishikeshrajrxl commented on #1783
I want to do this in python. Please assign me.

[2020-12-29 13:20] dsnehasish74 commented on #1719
Can you assign this to me

[2020-12-29 13:42] pranjalshinde opened #1789 "Longest Palindromic substring"
## 🚀 Feature

Algorithm to find out longest palindromic substring in a given string

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation
One of the most important algorithms in string section

## Pitch

There are multiple approach to solve this problem

[2020-12-29 14:14] Rishikeshrajrxl commented on #1741
Hey, @shraddhavp  can I make more than 1 PR at a time. As I have I pending PR and also I have completed this task.

[2020-12-29 14:14] #1789 closed, assigned to nobody

[2020-12-29 14:16] pranjalshinde commented on #1778
I would like to work on this in Java, please assign
also add DWOC tag

[2020-12-29 14:56] iamrajiv commented on #1774
@Khimit Sieve of Eratosthenes is already implemented in C++, Java and Python.

[2020-12-29 15:00] Khimit commented on #1774
ohk..
so i am closing this issue now...
thanks

[2020-12-29 15:00] #1774 closed, assigned to Khimit

[2020-12-29 15:10] HarshCasper commented on #1673
This Issue is already solved here in C++ https://github.com/TesseractCoding/NeoAlgo/pull/1518/files

I am assigning this Issue in Python, Java and C to the people who requested.

[2020-12-29 17:13] Rahul555-droid opened #1795 "Implementation of Doubly linked list in python."
## 🚀 Double linked list

Implementation of Doubly linked list in python using OOPs.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes and I couldn't find double linked list implemented in python on this repo.
It was implemented in C++ though some time back.

## Motivation
My first cont

[2020-12-29 17:14] Rahul555-droid commented on #1795
If this issue could be added here then please assign this issue to me with DWOC label.
Thanks :)

[2020-12-29 17:22] shivanshugarg12800 commented on #1725
Hi, I would like to work on this issue in C++, please assign this issue to me and add **C++** label to it

[2020-12-29 17:23] 1711shashank opened #1796 "Find nth Fibonacci number using recursion"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-12-29 17:50] shivanshugarg12800 opened #1797 "Adding the Floyd Warshall Algorithm in the C-Plus-Plus/graphs folder."
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes, I have read all the contribution guidelines

## Motivation
Floyd Warshall is an algorithm for finding the shortest paths in a weighted graph with positive or negat

[2020-12-29 18:21] manvi0308 commented on #1783
I want to solve this

[2020-12-29 18:23] sahebsunny commented on #1724
@HarshCasper sir please let me work on it

[2020-12-29 18:46] KartikeySharma commented on #1717
Pls assign this issue to me @atarax665 @shraddhavp . I have submitted a PR for my previous issue

[2020-12-29 23:06] singhsaurav23 opened #1800 "Bridges in A graph | C++"
## 🚀 Feature

Finding the number of bridges in a graph in c++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Finding bridges can help us to understand the concept of the DFS tree in a graph. Also, it will help us to get some insights into back edges, cross edges, an

[2020-12-30 00:46] Pranav016 opened #1801 "Add program for Balanced Parenthesis in Python"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

This question is very often asked in the interviews. This is a data structures problem based on Stacks. I would like to implement it in Python.

I

[2020-12-30 00:50] Pranav016 commented on #1567
Can I work on this in Python? @shraddhavp

[2020-12-30 00:53] Pranav016 opened #1802 "Diameter of a Tree || Python"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

This question is very often asked in the interviews. A lot of students think this is an easy question but actually it is very tricky to solve. I wo

[2020-12-30 05:09] atriadhiakri2000 commented on #1455
@iamrajiv @shraddhavp @HarshCasper What about the rest can i be assigned to them ?

[2020-12-30 07:36] shivanshugarg12800 commented on #1797
Please assign this issue to me, it is my first open source contribution.

[2020-12-30 08:13] ErzaTitania-2001 opened #1804 "Wrapping Letters"
## 🚀 Feature

Given a list of sorted characters letters containing only lowercase letters, and given a target letter target, find the smallest element in the list that is larger than the given target. Letters also wrap around.
Input :  ch='z' ; letters= ['a', 'b']
Output : a

Input : ch = 'a' ; letters = ['c', 'd', 'j']
Output : c
### Have you read the [Contributing Guidelines on Pull Requests](ht

[2020-12-30 08:13] ErzaTitania-2001 commented on #1804
@shraddhavp can i be assigned in Java?

[2020-12-30 09:04] shraiyya opened #1806 "Bankers Algorithm in Java"
## 🚀 Feature

Adding Bankers Algorithm (OS)  in Java. It is one of the deadlock-avoidance methods.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

The banker algorithm used to avoid deadlock and allocate resources safely to each process in the computer system. This a

[2020-12-30 09:09] japneetkaurbhatia commented on #1776
Hey, I would like to work on this using C. Can you please assign this to me ?

[2020-12-30 09:13] japneetkaurbhatia commented on #1800
Hey, I would like to work on this using C++ and Java . Can you please assign this to me ?

[2020-12-30 09:16] japneetkaurbhatia commented on #1741
Hey, I would like to work on this using Java. Can you please assign this to me ?

[2020-12-30 10:50] Harshitha-sa opened #1807 "DLS (Depth Limited Search) in python"
## 🚀 Feature

DLS is used to search a target node in a graph. In order to avoid the infinite loop condition arising in DFS (Depth first search), in depth limited search technique, depth-first search is carried out with a predetermined depth limit.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-i

[2020-12-30 11:33] vaishnavirshah opened #1809 "Threaded Binary Tree <- DS <- CPP"
## Threaded binary tree implementation in CPP.

### Threaded binary tree are used to make faster inorder traversal without using stack or recursion.
It stores the inorder successor, if the right node is empty.
And stores the inorder predecessor if left node is empty.

- There are functions to add, delete and search for an element.
- Also the inorder for the tree.

### I would like to contribute to

[2020-12-30 12:00] gargVader opened #1811 "Rabin Karp Algorithm"
## 🚀 Feature

C++ implementation of Rabin Karp Algorithm.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Rabin Karp is one of the introductory algorithms to find a pattern in a string

## Pitch

Finding a pattern in a string is very helpful

[2020-12-30 12:01] gargVader commented on #1811
Please assign this to me

[2020-12-30 12:04] gargVader opened #1812 "Vertical order print of binary tree"
## 🚀 Feature

C++ program for vertical order print of a given binary tree

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Vertical order print is an interesting application of hash.

## Pitch

Helpful in many problems of competitive programming

[2020-12-30 12:05] gargVader commented on #1812
Please assign this to me

[2020-12-30 12:12] gargVader opened #1813 "Length of longest subarray with sum K"
## 🚀 Feature

C++ Program to find length of longest subarray with sum K.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Interesting application of hash.

## Pitch

Used in many competitive programming problems

[2020-12-30 12:12] gargVader commented on #1813
Please assign this to me

[2020-12-30 13:07] shraddhavp commented on #1804
assigned @ErzaTitania-2001

[2020-12-30 13:07] shraddhavp commented on #1804
what is the label you want me to add? DWOC OR WOC?

[2020-12-30 13:08] shraddhavp commented on #1717
assigned @KartikeySharma

[2020-12-30 13:09] shraddhavp commented on #1717
whcih language you want to code?

[2020-12-30 13:11] shraddhavp commented on #1783
you can @iamvs-2002

[2020-12-30 13:11] shraddhavp commented on #1783
ok @Rishikeshrajrxl

[2020-12-30 13:12] ErzaTitania-2001 commented on #1804
Java, C++, Python.

On Wed, 30 Dec, 2020, 6:37 PM Shraddha, <notifications@github.com> wrote:

[2020-12-30 13:13] shraddhavp commented on #1804
no i meant is this a part of dwoc or woc?

[2020-12-30 13:14] shraddhavp commented on #1776
go ahead @japneetbhatia

[2020-12-30 13:18] shraddhavp commented on #1567
any updates @YASH01009 ?

[2020-12-30 13:18] ErzaTitania-2001 commented on #1804
Woc

On Wed, 30 Dec, 2020, 6:43 PM Shraddha, <notifications@github.com> wrote:

[2020-12-30 13:21] #1801 closed, assigned to nobody

[2020-12-30 14:01] KartikeySharma commented on #1717
I saw just now that Radix Sort has already been implemented.
The current algo in the repository works only for non-negative numbers
I am modifying it to work for negative numbers too. @shraddhavp

[2020-12-30 14:03] iamvs-2002 commented on #1783
@shraddhavp Thanks for assigning me the issue.

[2020-12-30 14:10] shraddhavp opened #1815 "Radix sort in Kotlin"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how i

[2020-12-30 14:13] shraddhavp opened #1816 "Radix sort in Go"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how i

[2020-12-30 14:15] KartikeySharma commented on #1815
I would like to work on this @shraddhavp.
I have submitted a PR to update the existing radix sort to operate on negative numbers too.
The PR is #1817

[2020-12-30 14:16] KartikeySharma commented on #1717
Why was this issue closed? @shraddhavp

[2020-12-30 14:25] shraddhavp commented on #1717
not closed just a bit confusion

[2020-12-30 14:29] rutujadhanawade commented on #1668
@shivangi00 Can you please send the link to the problem statement?

[2020-12-30 14:31] KartikeySharma commented on #1717
Ok

[2020-12-30 14:53] YASH01009 commented on #1567
@shraddhavp will do it soon, in a day

[2020-12-30 14:55] shraiyya opened #1820 "Binary tree traversals in java"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
[DWOC]

## Motivation

Any process for visiting all of the nodes of a binary tree in some order is called a traversal. This single piece of code contains both recu

[2020-12-30 15:02] shraiyya opened #1822 "Huffman Encoder in Java using Heaps"
## 🚀 Feature

Huffman code is a particular type of optimal prefix code that is commonly used for lossless data compression. Huffman coding is arguably the most efficient Entropy coding algorithm in information theory.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

T

[2020-12-30 16:06] sahebsunny commented on #1772
thanks @shraddhavp

[2020-12-30 16:24] pranjalshinde commented on #1816
Can I solve this in Java?
it is already there in java

[2020-12-30 16:42] iamvs-2002 commented on #1783
@shraddhavp Should I make a separate folder for this?

[2020-12-30 19:30] Rishikeshrajrxl commented on #1820
I can do it in Java as well as in c++, please assign me this issue for the tag DWOC

[2020-12-30 19:35] Rishikeshrajrxl opened #1824 "Largest subarray with 0 sum"
## 💥 Proposal

Given an array having both positive and negative integers.
The task is to find the length of the largest subarray with sum 0.
Example:
Input:
N = 8
A[] = {15, -2, 2,  -8, 1, 7, 10, 23}
Output: 5
Explanation: The largest subarray with
sum 0 will be:  -2, 2, -8, 1, 7

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/maste

[2020-12-30 19:35] Rishikeshrajrxl commented on #1824
Please assgin me this issues  in c++, for the tag DWOC

[2020-12-31 03:09] sakshikhachane opened #1826 "Exponential Search in Java"
## 🚀 Feature
Exponential Search algorithm injava

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation
Exponential search is also known as doubling or galloping search. This mechanism is used to find the range where the search key may present.

## Pitch
It uses the binary se

[2020-12-31 03:10] sakshikhachane commented on #1826
@shraddhavp Please assign me this issue. I am a participant in DWOC.

[2020-12-31 03:11] sakshikhachane commented on #1816
@shraddhavp I would like to work on this issue. Please assign me this issue.
you need to do it in Go language

[2020-12-31 03:56] ErzaTitania-2001 commented on #1750
@shraddhavp can you add the label, woc ?

[2020-12-31 05:51] ankitasantape commented on #1796
Please assign this issue to me in java for DWOC

[2020-12-31 05:57] ankitasantape commented on #1812
Please assign this issue to me, will do using Java
(DWOC)

[2020-12-31 08:03] RhuthuHegde commented on #1797
Please assign this issue to me, I want to implement this algorithm in C++.

[2020-12-31 09:32] sumitsantape30 commented on #1820
Please assign me this issue, I'll do it in JAVA under DWOC

[2020-12-31 10:15] bhavya092 commented on #1625
I would like to help in C++ . Can you assign this to me?

[2020-12-31 11:33] shivangi00 commented on #1668
@rutujadhanawade I have added the link in the comment at the top. :)

[2020-12-31 12:15] RhuthuHegde commented on #1463
can I work on dfs algorithm in python?

[2020-12-31 12:50] RhuthuHegde commented on #1621
Can I work on this issue in python?

[2020-12-31 13:00] RhuthuHegde commented on #1597
Is the problem attended, or can I work on this issue?

[2020-12-31 13:27] RhuthuHegde commented on #1807
can I work on this issue?

[2020-12-31 14:26] Sarthak-9 commented on #1826
May I go ahead with cpp for DWOC ?
@shraddhavp

[2020-12-31 14:27] #1545 closed, assigned to 1711shashank

[2020-12-31 15:18] ErzaTitania-2001 opened #1835 "Rotated Minimum"
## 🚀 Feature

Suppose an array sorted in an ascending order is rotated at some pivot unknown to you beforehand . Find the minimum element.
Input : [3,4,5,1,2]
Output : 1

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

Competitive Coding

## Pitch

Competitive Coding

[2020-12-31 15:18] ErzaTitania-2001 commented on #1835
@shraddhavp assign this to me?

[2020-12-31 16:44] djm-1 opened #1842 "Correcting binary search in C++"
## 🐛 Bug Report

In C++ binary search code, mid=(lb+ub)/2. But if lb and ub are both near to INT_MAX then summing up them will give integer overflow. So I want to modify the code to avoid integer overflow.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

[2020-12-31 16:59] gargVader commented on #1812
@shraddhavp Can I go ahead with this? I have no pending issues.

[2020-12-31 22:22] #1710 closed, assigned to JayantGoel001

[2021-01-01 04:04] djm-1 commented on #1842
Please assign this to me and label it for Devscript winter of code.

[2021-01-01 04:22] Sameera-Aryasomayajula commented on #1427
I would like to work on the C++ version of this algorithm under DWOC.

[2021-01-01 04:23] Sameera-Aryasomayajula commented on #1469
Can I please work on the C++ version of this problem under DWOC ?

[2021-01-01 04:26] Sameera-Aryasomayajula opened #1848 "Z Algorithm"
## 🚀 Feature

Z Algorithm is a linear time pattern search algorithm

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

I would like to work on the C++ version of this algorithm under DWOC.

[2021-01-01 04:28] Sameera-Aryasomayajula commented on #1572
Can I work on the C++ version of this issue under DWOC

[2021-01-01 04:34] iamrajiv commented on #1427
@Sameera-Aryasomayajula Merge sort in C++ has already been implemented.

[2021-01-01 05:20] #1427 closed, assigned to Siddhant-K-code

[2021-01-01 05:20] #1436 closed, assigned to PuravUdayDesai, yukty2000

[2021-01-01 05:20] #1439 closed, assigned to PuravUdayDesai, aeyshubh, rutujadhanawade, barnamensch056

[2021-01-01 05:20] #1443 closed, assigned to nobody

[2021-01-01 05:21] #1444 closed, assigned to nobody

[2021-01-01 05:21] #1447 closed, assigned to gargVader

[2021-01-01 05:21] #1453 closed, assigned to aryan-anand

[2021-01-01 05:21] #1455 closed, assigned to aeyshubh, atriadhiakri2000, rutujadhanawade, jyoti-2, Bharati2612

[2021-01-01 05:21] HarshCasper commented on #1459
Please make a separate Issue @rutujadhanawade

I am closing this Issue

[2021-01-01 05:21] #1459 closed, assigned to manasisaiba, Bharati2612

[2021-01-01 05:22] #1461 closed, assigned to yukty2000

[2021-01-01 05:23] #1462 closed, assigned to Sidhant-Gupta

[2021-01-01 05:23] HarshCasper commented on #1463
Go ahead!

[2021-01-01 05:24] #1464 closed, assigned to nobody

[2021-01-01 05:24] #1466 closed, assigned to YASH01009

[2021-01-01 05:25] #1468 closed, assigned to YASH01009

[2021-01-01 05:25] #1469 closed, assigned to k-sashank

[2021-01-01 05:25] #1473 closed, assigned to itsIapetus

[2021-01-01 05:26] #1525 closed, assigned to YASH01009

[2021-01-01 05:26] #1524 closed, assigned to YASH01009

[2021-01-01 05:27] #1508 closed, assigned to YASH01009

[2021-01-01 05:28] HarshCasper commented on #1498
Are you working on it @k-sashank ?

[2021-01-01 05:32] #1506 closed, assigned to manasisaiba

[2021-01-01 05:32] #1494 closed, assigned to Sejal-G, PuravUdayDesai

[2021-01-01 05:32] #1493 closed, assigned to shivanshugarg12800

[2021-01-01 05:33] #1492 closed, assigned to gargVader

[2021-01-01 05:33] #1490 closed, assigned to aryan-anand, YASH01009

[2021-01-01 05:33] #1487 closed, assigned to iamvs-2002, itsIapetus

[2021-01-01 05:34] HarshCasper commented on #1487
@iamvs-2002

It would be recommended to make separate Issues for all of them and raise PRs for them subsequently. We are here to help you out :)

[2021-01-01 05:37] #1479 closed, assigned to atriadhiakri2000

[2021-01-01 05:37] #1475 closed, assigned to Pranav016

[2021-01-01 05:37] #1474 closed, assigned to Pranav016

[2021-01-01 05:41] HarshCasper commented on #1597
Can you check if Random Forest already exists or not? If not, then we may not be able to consider this Issue.

@RhuthuHegde No, it is not. Before moving ahead with ML/DL Algorithms, we need to have a good clarity of the Issue we are trying to solve.

[2021-01-01 05:42] HarshCasper commented on #1594
Is it being worked on?

[2021-01-01 05:42] #1590 closed, assigned to vrandachag

[2021-01-01 05:42] #1579 closed, assigned to itsIapetus

[2021-01-01 05:43] #1576 closed, assigned to charlie219, Sidhant-Gupta

[2021-01-01 05:43] #1573 closed, assigned to itsIapetus

[2021-01-01 05:44] #1575 closed, assigned to Tausif121

[2021-01-01 05:47] barnamensch056 commented on #1594
No there are some conflicts

[2021-01-01 05:59] #1602 closed, assigned to satyampgt4, mehabhalodiya

[2021-01-01 06:00] #1604 closed, assigned to Siddhant-K-code, jyoti-2

[2021-01-01 06:04] shraddhavp commented on #1812
yes go ahead @gargVader

[2021-01-01 06:07] shraddhavp commented on #1826
yes @Sarthak-9  go ahead in cpp and @sakshikhachane  go ahead in java

[2021-01-01 06:08] rutujadhanawade opened #1852 "Optimizing Boyer–Moore majority vote algorithm"
In code present in java folder https://github.com/TesseractCoding/NeoAlgo/blob/master/Java/Algorithms/Moore_Algorithm.java complexity of this algorithm is Quadratic.
but according to Boyer–Moore majority vote algorithm the time complexity should be linear.
I would like to fix this .

[2021-01-01 06:08] rutujadhanawade commented on #1852
@iamrajiv @atarax665 Please assign this to me.

[2021-01-01 06:10] shraddhavp commented on #1750
done @ErzaTitania-2001

[2021-01-01 06:12] shraddhavp commented on #1783
no @iamvs-2002  add it in other problems folder

[2021-01-01 06:15] shraddhavp commented on #1802
assigned @Pranav016

[2021-01-01 06:16] #1773 closed, assigned to nobody

[2021-01-01 07:24] gargVader commented on #1813
@shraddhavp Can I go ahead with this? I have no pending issues.

[2021-01-01 07:32] gargVader opened #1857 "Length of longest subarray with sum zero"
## 🚀 Feature

C++ program for length of longest subarray with sum zero

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Interesting application of hash data structure.

## Pitch

Helps understand the hash data structure. Useful for online cp contests

[2021-01-01 07:32] gargVader commented on #1857
Please assign this to me

[2021-01-01 09:37] nayanajain opened #1861 "Rat in a Maze Problem"
The problem is described as rat wants to move from source to destination and he can move down and right direction only. The problem will be implemented using backtracking.

[2021-01-01 09:43] nayanajain opened #1862 "Rat in a Maze Problem"

[2021-01-01 09:45] #1862 closed, assigned to nobody

[2021-01-01 09:47] iamvs-2002 commented on #1783
Okay

[2021-01-01 10:56] muthuannamalai12 commented on #1768
Hai @HarshCasper
Let me know if I can open a new issue for the same description. Since it's been 3 days no update regarding it.

[2021-01-01 11:07] anushkrishnav opened #1866 "Box_Operations"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how i

[2021-01-01 11:47] anushkrishnav commented on #1866
Hey guys

[2021-01-01 12:06] #1866 closed, assigned to anushkrishnav

[2021-01-01 12:10] HarshCasper commented on #1768
Kindly wait. 7 Days is the buffer period of any Issue

[2021-01-01 12:14] muthuannamalai12 commented on #1768
Ok Thank you @HarshCasper

[2021-01-01 13:02] rutujadhanawade commented on #1811
I would like to do this in java @shraddhavp Please assign

[2021-01-01 13:34] Rajat-Jain29 commented on #1861
please assign to me

[2021-01-01 13:37] Rajat-Jain29 commented on #1842
please assign to me

[2021-01-01 15:18] nayanajain commented on #1861
@shraddhavp Please assign the issue to me itself...

[2021-01-01 16:26] #1691 closed, assigned to iamvs-2002

[2021-01-01 18:02] balapriyac commented on #1861
@nayanajain I'm assigning it to you

[2021-01-01 18:03] balapriyac commented on #1861
@nayanajain pls specify the language that you'd be using.

[2021-01-02 04:24] Rajat-Jain29 commented on #1861
C++

On Fri, 1 Jan, 2021, 11:34 pm balapriyac, <notifications@github.com> wrote:

[2021-01-02 05:18] nayanajain commented on #1861
@balapriyac  c++

[2021-01-02 05:42] nayanajain commented on #1861
Please merge my code.. Thank you very much

[2021-01-02 06:16] GVictorsd commented on #1811
I would like to implement it in python. Please assign it to me.

[2021-01-02 06:25] Rajat-Jain29 commented on #1861
See I solved the problem

On Sat, 2 Jan, 2021, 11:12 am nayanajain, <notifications@github.com> wrote:

[2021-01-02 06:29] Rajat-Jain29 commented on #1857
This involves the use of brute force where two nested loops are used. The outer loop is used to fix the starting position of the sub array, and the inner loop is used for the ending position of the sub-array and if the sum of elements is equal to zero then increase the count.

[2021-01-02 06:30] Rajat-Jain29 commented on #1857
please assign to me I complete this code in C++ language

[2021-01-02 06:30] Rajat-Jain29 commented on #1824
This involves the use of brute force where two nested loops are used. The outer loop is used to fix the starting position of the sub array, and the inner loop is used for the ending position of the sub-array and if the sum of elements is equal to zero then increase the count.

[2021-01-02 06:31] Rajat-Jain29 commented on #1824
please assign to me . I'll code in C++

[2021-01-02 06:41] vaishnavirshah commented on #1809
@shraddhavp I have finished working on this issue, should I make a PR? - as part of DWOC

[2021-01-02 06:47] goelesha commented on #1597
Random Forest does not exist. I can do it by other models also.

[2021-01-02 07:32] KartikeySharma commented on #1717
This issue has been resolved and the PR has been merged
PR #1817  @shraddhavp

[2021-01-02 08:17] RhuthuHegde commented on #1463
I have made a pull request please review it.

[2021-01-02 09:17] chehak123 commented on #1717
c++

[2021-01-02 09:19] chehak123 commented on #1725
in C++

[2021-01-02 11:15] shraddhavp commented on #1813
sure

[2021-01-02 15:57] kenkirito commented on #1783
can i contribute also

[2021-01-02 16:28] rutujadhanawade commented on #1806
I would like to do this in C++

[2021-01-02 17:23] geekaditi commented on #1861
Can I take this up in CPP?

[2021-01-02 17:57] AnkitaM84 commented on #1719
Can you assign to me in Java? @HarshCasper

[2021-01-02 18:43] djm-1 commented on #1842
I created the issue and I can solve it... assign it to me 😀

[2021-01-02 18:47] singhsaurav23 opened #1895 "Articulation points in A Graph | C++"
## 🚀 Feature

Finding the articulation points in an undirected graph in c++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Finding Articulation points can help us understand that it is somehow related to bridges but finding bridges algorithm cannot help us to get th

[2021-01-03 05:43] #1835 closed, assigned to nobody

[2021-01-03 06:41] #1804 closed, assigned to ErzaTitania-2001

[2021-01-03 08:11] #1826 closed, assigned to sakshikhachane, Sarthak-9

[2021-01-03 08:46] Neilblaze commented on #1811
@rutujadhanawade @GVictorsd go for it!

[2021-01-03 08:52] Neilblaze commented on #1861
@geekaditi since @nayanajain is contributing in CPP, for now, feel free to catch it up in any other language e.g. java, python etc. :)

[2021-01-03 12:46] sumitsantape30 commented on #1861
Hey @Neilblaze @balapriyac , Please assign me this, I'll do it using Java :)

[2021-01-03 12:50] sumitsantape30 commented on #1813
@shraddhavp @balapriyac  Please assign me this, I'll do it using Java

[2021-01-03 17:28] #1542 closed, assigned to goelesha

[2021-01-03 18:32] sujal111 opened #1902 "Python program to find the gcd of two numbers"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2021-01-03 18:33] sujal111 opened #1903 "Check if all array elements are pairwise co-prime or not"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Check if all array elements are pairwise co-prime or not[Imp CP question in number theory]

[2021-01-03 18:34] sujal111 opened #1904 "Euclidean algorithms (Basic and Extended) in Python"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2021-01-03 18:37] #1852 closed, assigned to rutujadhanawade

[2021-01-03 19:11] Bharati2612 opened #1905 "Add K-Prefix Problem to CP Section WoC"
## 🚀 Feature
Add K-Prefix Problem to CP.
Description:
Given a list of integers nums and an integer k, return the maximum possible i where nums[0] + nums[1] + ...  + nums[i] ≤ k. Return -1 if no valid i exists.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch

It is a famous

[2021-01-03 19:13] Bharati2612 commented on #1905
I have created a pull request for this problem to add cpp code please review it.

[2021-01-04 06:22] atriadhiakri2000 commented on #1673
1. Implement Stack / Implement Queue
3. Implement Stack using Queue
4. Implement Queue using Stack
5. Check for balanced parentheses
6. Next Greater Element
@shraddhavp @HarshCasper @iamrajiv    Please assign me these

[2021-01-04 06:24] atriadhiakri2000 commented on #1780
1. Implement Stack / Implement Queue
3. Implement Stack using Queue
4. Implement Queue using Stack
5. Check for balanced parentheses
6. Next Greater Element
@shraddhavp @HarshCasper @iamrajiv    Please assign me these

[2021-01-04 06:26] shloka-gupta commented on #1780
I have made a PR regarding the issues stated above. It is for DWOC. If there are any changes required. Kindly let me know

[2021-01-04 06:48] atriadhiakri2000 commented on #1780
These are not related to Changes But these are related to DWOC. I have already used two of my issues and they are closed now. So I was looking for issues opened under Stacks or queues so that I can ask to be assigned to them.

[2021-01-04 07:40] sakshi300699 commented on #1902
<h2>Proposal</h2>
<p>GCD of two numbers is the largest number that can divide both numbers. In python, I can find the GCD of two numbers using recursion.</p>
<h2>Have you read the Contributing Guidelines on Pull Requests?</h2>
<p>Yes</p>

[2021-01-04 07:42] sakshi300699 commented on #1902
I would like to work on this issue in **python** under **DWoC** . Kindly assign this to me.

[2021-01-04 07:51] iamrajiv commented on #1780
@atriadhiakri2000 Please make a separate issue on this.

[2021-01-04 08:26] atriadhiakri2000 opened #1907 "Stack"
## 🚀 Feature
Allow me to add

- Implement Stack / Implement Queue
- Implement Stack using Queue
- Implement Queue using Stack
- Check for balanced parentheses
- Next Greater Element
- Reverse Words in a String
- Longest Palindrome in a string
- Roman Number to Integer and vice versa
- Implement ATOI/STRSTR
- Longest Common Prefix

### Have you read the [Contributing Guidelines on Pull Requests](ht

[2021-01-04 08:27] atriadhiakri2000 commented on #1907
Please assign me all of these
@shraddhavp @HarshCasper @iamrajiv

[2021-01-04 11:13] satyampgt4 opened #1922 "Different views of binary search tree"
## 🚀 Feature

Different views of binary search tree  in c++

Print Left View of Binary Tree
Print Right View of Binary Tree
Print Top View of Binary Tree
Print  Bottom View of Binary Tree

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

These problem will show how tre

[2021-01-04 11:14] satyampgt4 commented on #1922
@shraddhavp  I would like to do this task in c++
Please assign it to me!

[2021-01-04 14:31] muthuannamalai12 opened #1923 "Binary tree traversals in C"
## 🚀 Feature
I would love to work on postorder and inorder traversal of binary tree in C language as a part of DWOC
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

## Motivation
The tree is one of th

[2021-01-04 14:32] muthuannamalai12 commented on #1923
I would love to work on this issue as a part of DWOC @HarshCasper sir. Kindly assign it to me

[2021-01-04 15:11] ErzaTitania-2001 opened #1924 "Sort Of 2D Array"
## 🚀 Feature

We are given a 2D array of order N X M and a column number K ( 1<=K<=m). Our task is to sort the 2D array according to values in the Column K.

Examples:

Input : If our 2D array is given as (Order 4X4)
        39 27 11 42
        10 93 91 90
        54 78 56 89
        24 64 20 65
        Sorting it by values in column 3
Output :
10        93        91        90
54        78

[2021-01-04 15:11] ErzaTitania-2001 commented on #1924
@shraddhavp can i be assigned this in Java?

[2021-01-04 15:48] muthuannamalai12 opened #1925 "Palindrome | C"
## 🚀 Feature
Adding Palindrome implementation using C language.
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

## Motivation
It's an interesting algorithm to learn.
(Please outline the motivation fo

[2021-01-04 15:49] muthuannamalai12 commented on #1925
I would love to work on this issue as a part of DWOC @HarshCasper sir. Kindly assign me

[2021-01-04 16:01] Ujjwal3009 commented on #1922
@shraddhavp I can implement same in java. Kindly assign me .

[2021-01-04 17:15] Sameera-Aryasomayajula opened #1929 "Bucket Sort"
## 🚀 Feature

A sorting algorithm that is mainly useful when input is uniformly distributed over a range

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

Can I please work on this issue

[2021-01-04 17:37] #1924 closed, assigned to nobody

[2021-01-05 07:04] #1541 closed, assigned to goelesha

[2021-01-05 07:05] #1596 closed, assigned to nobody

[2021-01-05 07:46] iamvs-2002 commented on #1925
May I implement the same in Java?

[2021-01-05 07:47] iamvs-2002 commented on #1902
May I implement the same in Java?

[2021-01-05 07:49] iamvs-2002 commented on #1813
May I implement the same in Java?

[2021-01-05 11:58] srimanikantapalakollu commented on #1625
@goelesha please provide your email id for the evaluation.

[2021-01-05 12:27] HarshCasper commented on #1723
Assigned. Go ahead 🚀

[2021-01-05 13:52] goelesha commented on #1625
My email id is goelesha2001@gmail.com

[2021-01-05 14:23] tharunc commented on #1768
@HarshCasper The templates in the readme,md section is redirecting to an unknown error page. What should I do now ?

[2021-01-05 14:47] HarshCasper commented on #1768
Can you link them here?

[2021-01-05 14:54] HarshCasper commented on #1597
Reopening this. I mistyped the statement. If Random Forest doesn't exist, please add the algorithm. Let me know if you are working on this, so that I can assign it to you.

[2021-01-05 15:07] HarshCasper commented on #1907
Small Advice: Please make separate PRs for all of them. All the Best 👍

[2021-01-05 15:08] HarshCasper commented on #1780
Hello @chicken-biryani (Damn good Username; I need to cook someday 😆 )

Since you have already created an Issue, make separate PRs for all of them.

[2021-01-05 15:09] HarshCasper commented on #1673
Already assigned.

[2021-01-05 15:10] HarshCasper commented on #1719
Please state clearly the language you want to work with.

[2021-01-05 15:12] muthuannamalai12 commented on #1923
Can I start working on it @HarshCasper sir

[2021-01-05 15:17] shloka-gupta commented on #1780
Works!
Thankyou! (Just order-in)

[2021-01-05 15:19] HarshCasper commented on #1923
Go ahead!

Ain't a need to call me Sir! Consider me your best friend here 💯

[2021-01-05 15:21] goelesha commented on #1597
Sure. I would like to do it.

[2021-01-05 15:22] vrandachag opened #1938 "Arrange the list of programs in C-Plus-Plus"
## 📚 Documentation

Arrange the list of programs in C-Plus-Plus in lexical order.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes!

[2021-01-05 15:24] vrandachag commented on #1938
I would like to work on this issue. Please assign this to me.

[2021-01-05 15:25] muthuannamalai12 commented on #1923
Ok. Thank you for assigning it to me

[2021-01-05 18:03] #1744 closed, assigned to kartikp36

[2021-01-05 18:24] himanshu007-creator commented on #1769
@HarshCasper please assign me this issue. I have all resources ready

[2021-01-05 18:33] himanshu007-creator commented on #1769
Job Done https://github.com/TesseractCoding/NeoAlgo/pull/1945

[2021-01-05 19:57] singhsaurav23 opened #1947 "Edmond Karp's Algoirthm | C++"
## 🚀 Feature

Implementation of Edmond Karp's Algorithm to find maximum flow in a Network Graph in C++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Edmond Karp's Algorithm is the extended implementation of the concept Ford-Fulkerson Algorithm and uses BFS to find

[2021-01-06 02:44] HarshCasper commented on #1769
When you say that you have the resources ready, that doesn't mean that you will Copy and Paste from some other repository and paste it here.

Go over to the Issue and see what I have actually mentioned. I clearly mentioned `Add a List to mention Open Source Programs. NeoAlgo has been a part of many Open Source Programs` and this states, I only want to have a list of programs, NeoAlgo has been a pa

[2021-01-06 05:21] ankitaggarwal23 commented on #1938
@vrandachag I have assigned you.

[2021-01-06 10:28] Amit366 commented on #1902
Can I contribute??

[2021-01-06 10:40] japneetkaurbhatia commented on #1907
Hey!! Can you assign me this ?

[2021-01-06 11:17] Rishikeshrajrxl commented on #1925
Allow me to do this in C, C++ , Java, python  any of these language, @HarshCasper

[2021-01-06 11:18] Rishikeshrajrxl commented on #1923
Please assign me this issue, I can do in C, C++, Java

[2021-01-06 15:52] shraddhavp commented on #1922
assigned @satyampgt4  and @Ujjwal3009

[2021-01-06 15:56] shraddhavp commented on #1816
updates @sakshikhachane ?

[2021-01-06 15:56] shraddhavp commented on #1815
updates @KartikeySharma

[2021-01-06 15:58] shraddhavp commented on #1806
go ahead @rutujadhanawade

[2021-01-06 15:59] shraddhavp commented on #1813
@iamvs-2002  you can go ahead with C++

[2021-01-06 16:00] KartikeySharma commented on #1815
I am waiting for PR #1885 to be checked. I have created the code but can't make a PR request else it will be merged with the prev one @shraddhavp

[2021-01-06 16:01] #1680 closed, assigned to nobody

[2021-01-06 16:01] shraddhavp commented on #1649
assigned @Rishikeshrajrxl

[2021-01-06 16:02] #1777 closed, assigned to nobody

[2021-01-06 16:04] shraddhavp commented on #1747
assigned @Sarthak-9 and @Jassi10000

[2021-01-06 16:05] shraddhavp commented on #1947
assigned @singhsaurav23

[2021-01-06 16:06] #1728 closed, assigned to nobody

[2021-01-06 16:07] shraddhavp commented on #1655
updates @Rishikeshrajrxl ?

[2021-01-06 16:08] #1618 closed, assigned to sujal111

[2021-01-06 16:11] shraddhavp commented on #1842
assigned @djm-1

[2021-01-06 16:23] Rishikeshrajrxl commented on #1617
@shraddhavp  I am doing this in C++

[2021-01-06 16:39] djm-1 commented on #1842
Thank you ma'am

[2021-01-06 16:51] Rishikeshrajrxl commented on #1655
Done #1954

[2021-01-06 17:02] Rishikeshrajrxl commented on #1699
@shraddhavp  please add a level to this issue

[2021-01-06 17:35] Jassi10000-zz commented on #1747
I mistakengly removed the assignment as my screen was hanging so the click went on wrong place
but
 I have also made the made PR before , plss check

[2021-01-06 17:49] Jassi10000-zz commented on #1903
I want to work on this issue . Please assign me with tag DWOC

[2021-01-06 18:09] thevivekpande commented on #1929
@Sameera-Aryasomayajula @SKAUL05 @ArchanGhosh @hushee69 can i work on it?

[2021-01-06 18:10] thevivekpande commented on #1848
@shraddhavp @Sameera-Aryasomayajula @SKAUL05 @ArchanGhosh can i work on it?

[2021-01-06 18:12] Jassi10000-zz opened #1960 "Regarding Bugs in the repo cloned folder"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

I was submitting a pull request of an issue opened by me named as #1747 regarding the addition of program named as "Find the intersection point of Linked List " which I did using Java . As I opened the cloned folder in my VS Code it showed red marks in the Java folder as well as in JavaScript folder . But I didn't paid much at

[2021-01-06 18:13] thevivekpande commented on #1797
@shivanshugarg12800 @HarshCasper @RhuthuHegde @SKAUL05  is this problem is still open?

[2021-01-06 18:14] thevivekpande commented on #1567
@shraddhavp @YASH01009 @pranjalshinde @Rishikeshrajrxl  can i work on this?

[2021-01-06 18:16] thevivekpande commented on #1625
@srimani-programmer @shraddhavp @goelesha is this still open?

[2021-01-06 18:52] ArchanGhosh commented on #1929
Yes absolutely. feel free to contribute.

[2021-01-06 18:52] ArchanGhosh commented on #1848
Yes you can work on this issue.

[2021-01-06 19:12] atriadhiakri2000 opened #1962 "Strings"
## 🚀 Feature
Allow me to add

1.	Reverse Words in a String
2.	Longest Palindrome in a string
3.	Roman Number to Integer and vice versa
4.	Implement ATOI/STRSTR
5.	Longest Common Prefix

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

Strings is quite an commonly used

[2021-01-06 19:12] atriadhiakri2000 commented on #1962
Please assign me all of these
@shraddhavp  @iamrajiv

[2021-01-07 18:29] thevivekpande opened #1969 "Anagram String"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation

Anagram is frequently aksed and used cp problem.

## Pitch
An anagram is a word or phrase formed by rearranging the letters of a different word or p

[2021-01-07 18:32] thevivekpande commented on #1969
@atarax665 please assign this problem to me.

[2021-01-07 18:34] thevivekpande opened #1970 "Kadane algo"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Kadane algo is frequently used algo to check maximum sum subarray.

## Pitch

Kadane algo is a algorithm used to check maximum sum subarray in any

[2021-01-07 18:35] thevivekpande commented on #1970
@atarax665 please assign this problem to me.

[2021-01-08 03:59] nayanajain commented on #1861
Done the requested changes..
can I get the points for this issue, for DWOC

[2021-01-08 06:13] shraddhavp commented on #1970
it is already implemented

[2021-01-08 06:13] #1970 closed, assigned to nobody

[2021-01-08 06:14] #1848 closed, assigned to Sameera-Aryasomayajula

[2021-01-08 07:59] thevivekpande commented on #1861
@shraddhavp @atarax665  can i do this on java?

[2021-01-08 08:01] thevivekpande commented on #1813
@shraddhavp  @atarax665 can i do this in CPP?

[2021-01-08 09:33] #1962 closed, assigned to nobody

[2021-01-08 09:45] iamvs-2002 commented on #1813
Kindly unassign me as I am not much comfortable with Cpp. You may assign the same to @thevivekpande
Thanks.

[2021-01-08 16:58] atarax665 commented on #1861
Assigned in Java :+1:

[2021-01-08 17:02] atarax665 commented on #1813
You can go ahead with CPP. :+1:

[2021-01-08 17:04] atarax665 commented on #1778
We already have an open PR in Java #1931 . You may go ahead with any other language you are comfortable with.

[2021-01-08 17:11] atarax665 commented on #1969
Please specify the language you would like to work in.

[2021-01-08 19:34] akrish4 opened #1973 "Integrate Welcome and Greeting Bot"
## 🚀 Feature

Hello @SKAUL05  @ArchanGhosh  @hushee69  @ShishirBhandari  @mechiragjain
I would like to add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time , let me know if you are interested in
Kindly please assign me this issue.
For reference, kindly check out: https://github.com/apps/welcome

### Have you

[2021-01-08 20:18] Rahul555-droid opened #1974 "Add more functionalities to existing singly linkedlist code in python"
## 🚀 Feature

I would like to add more features in the singly linkedlist code in python.
I would want to add functionalities like
* reverse a list
* bubble sort by exchanging data
* bubble sort by exchanging links
* create another linked list and merge them by exchanging data only

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/mast