[2021-03-09 11:44] gayatri517 commented on #2385
I want to work on this issue in C++ as a participant of GSSOC'21. Please assign it to me.

[2021-03-09 11:52] srisatya12 commented on #2385
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 11:53] rohanbabbar04 opened #2388 "Merge Sort in O(1) space complexity in C language"
## 🐛 Bug Report
https://github.com/TesseractCoding/NeoAlgo/blob/master/C/sort/mergesort_in_O(1)_space_complexity.c
Line 7: The declaration of the function void swap() is incorrect.
Line 15: Min is not declared(no inbuilt minimum function in C).

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issu

[2021-03-09 11:54] rohanbabbar04 commented on #2388
I would like to correct this issue

[2021-03-09 11:54] Suvraneel opened #2389 "Polynomial Arithmetics using Linked List in C++"
## 🚀 Feature

Please assign me these issues under GSSOC '21 :
1. Polynomial Addition
2. Polynomial Substraction
using linked lists...

CPP language   [C++]

[2021-03-09 11:58] aish2002 opened #2391 "Sparse Matrix Representation using Linked List"
I'm a GSSOC'21 Participant
## 🚀 Feature

I can implement Sparse Matrix Representation using Linked List in C language

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

Memory efficiency

## Pitch
Sparse matrices can be represented efficiently usin

[2021-03-09 11:58] gokulkannan7 commented on #2322
@HarshCasper, I have opened a PR, can u please review it?

[2021-03-09 12:00] Suvraneel opened #2392 "Luhn's Algorithm [C/C++]"
## 🚀 Feature

Luhn's Algorithm in CPP language & C language.

## Assignment
[C++] & [C]
Hello maintainers!
As a participant/CA for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21...

## Pitch
This simple algorithm validates credit cards.

[2021-03-09 12:03] SAY-droid427 opened #2393 "Smallest element to the right of each element using stack in C++"
## 💥 Proposal

I would like to add the code to implement the smallest element to the right of each element using stack in C++. Please assign this issue to me.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
YES

[2021-03-09 12:07] Simi06 commented on #2384
I want to implement these. please assign this to me.

[2021-03-09 12:09] kotwani2883 opened #2395 "Find the maximum element in Bitonic array."
## 💥 Proposal

(A clear and concise description of what the proposal is.)

I would like to provide a proper explanation and clean code for finding the maximum element in a Bitonic array in C++.

Computation time complexity reduces to O( logn ) .

Kindly assign this issue to me [GSSOC'21] as I can provide a clear documentation for the same.

### Have you read the [Contributing Guidelines on Pull Re

[2021-03-09 12:11] srisatya12 commented on #2395
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 12:11] srisatya12 commented on #2393
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 12:13] aaadddiii opened #2396 "Construction of Binary Tree From it's preorder and inorder traversal in C"
## 🚀 Feature

Constructing a binary tree given it's preorder and inorder traversal in c

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

It is a classic problem in data structures and is asked in many coding

[2021-03-09 12:16] AasthaGoyalgit commented on #2354
Hey!!

I am interested in this issue in java problems as a GSSOC'21 participant .
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 12:18] AasthaGoyalgit commented on #2320
Hey!!

I am interested in this issue in java problems as a GSSOC'21 participant .
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 12:19] Simi06 commented on #2322
Can I contribute to this issue?

[2021-03-09 12:19] gat786 commented on #2142
This issue is taken by tanya :-)

[2021-03-09 12:21] Suvraneel opened #2397 "Level Order in BST"
## 🚀 Feature

Implementing:
level order traversal
finding height of the BST

 in C language and CPP language

## Assignment

Hello maintainers!
As a participant/CA for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21...

[2021-03-09 12:22] AasthaGoyalgit commented on #2116
Hey!!

I am interested in this issue in java problems as a GSSOC'21 participant .
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 12:23] AasthaGoyalgit commented on #2210
Hey!!

I am interested in this issue in java  as a GSSOC'21 participant .
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 12:25] soumyavemuri opened #2398 "Depth First Search Python"
## 🐛 Bug Report

Currently, the depth first search code written in Python code is incorrect. The [code ](https://github.com/TesseractCoding/NeoAlgo/blob/master/Python/search/dfs.py)under DFS is actually that of Breadth-First Search.

I am a GSSoC Participant, I would like to work on adding the Depth First Search Implementation in Python please.

### Have you read the [Contributing Guidelines on Pu

[2021-03-09 12:26] nandinit02 opened #2399 "Equal Sum Partition Problem : Dynamic Programming, C++"
## 💥 Proposal

I would like to write a code for the Equal Sum Partition Problem, this algorithm will help to determine whether a given set can be partitioned into two subsets of equal sum. I will use C++ with proper comments and explanation of the code.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting

[2021-03-09 12:27] aaadddiii opened #2400 "Iterative algorithm for preorder inorder and postorder traversal of binary tree in c"
## 🚀 Feature

Iterative algorithm for preorder inorder and postorder traversal of binary tree in c

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

It is a classic problem in data structures and is asked in

[2021-03-09 12:27] YashPaste opened #2401 "Minimum element in a Sorted and Rotated array"
## 💥 Proposal

I would like to add code to Find the minimum element in a sorted and rotated array which will be submitted in C++ with proper comments and an explanation of the solution.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-09 12:41] SavneetKaur01 commented on #2287
I created a Pull Request but it said that it has been closed. So should I merge it again?

[2021-03-09 12:49] NitiKaur opened #2403 "Rod Cutting problem"
We can include this algo solved using DP in c++

I Have read the Contributing Guidelines on Pull Requests

The description of the problem is
Given a rod of length n inches and an array of prices that contains prices of all pieces of size smaller than n. Determine the maximum value obtainable by cutting up the rod and selling the pieces.

please assign this issue to me

[2021-03-09 12:54] Nivedita967 opened #2404 "Is Graph Cyclic in Java"
## 💥 Proposal

I would like to add code for "Is Graph Cyclic" in Java with proper comments.
Please assign this issue to me under GSSOC.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2021-03-09 13:00] Zeo-shark commented on #2369
@Somparna-c  I would like to contribute to your repo by solving this issue kindly assign it to me

[2021-03-09 13:07] Aleena-Ashraf opened #2405 "HeapSort C, Java, Python"
This is one of the most crucial forms of questions where the elements entered would be needed to be sorted. I would be more than obliged to implement this in C or Java or Python, as a part of GSSOC'21.
So, please do assign this to me.

[2021-03-09 13:07] #2365 closed, assigned to nobody

[2021-03-09 13:07] #2300 closed, assigned to nobody

[2021-03-09 13:09] vgb-codes commented on #2369
@Somparna-c Go ahead with C++.

[2021-03-09 13:10] anushkrishnav commented on #2364
Greet by adding our link to contributors guideline and at the same time add the tag Proposal

[2021-03-09 13:11] #2234 closed, assigned to nobody

[2021-03-09 13:11] anushkrishnav commented on #2116
Cool Sure

[2021-03-09 13:12] #2377 closed, assigned to nobody

[2021-03-09 13:13] vgb-codes commented on #2377
Please refer to the guidelines detailed [here](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit).

[2021-03-09 13:14] anushkrishnav commented on #2405
We already have it please look at the repo before you create an Issue

[2021-03-09 13:14] #2405 closed, assigned to nobody

[2021-03-09 13:15] Aleena-Ashraf opened #2406 "Finding excess elements from a given array C, Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and ho

[2021-03-09 13:16] anushkrishnav commented on #2404
We already have [Directed graph cyclic Detection](https://github.com/TesseractCoding/NeoAlgo/blob/master/Java/graphs/DirectedCycleDetection.java)

[2021-03-09 13:17] gat786 commented on #2382
This is a very vague issue filed

[2021-03-09 13:20] Omar-Hegazi opened #2407 "Merge Sort in C#"
## 💥 Proposal

I would like to add code for Merge Sort algorithm which will be submitted in C# with proper comments and an explanation of the solution as part of GSSOC'21.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

[2021-03-09 13:20] NitiKaur opened #2408 "Subset sum problem"
Please let me work on this problem in c++ using DP
Given a set of non-negative integers, and a value sum, determine if there is a subset of the given set with sum equal to given sum.

I have read the contribution guidelines

[2021-03-09 13:20] Aleena-Ashraf opened #2409 "HeapSort C, Java, Python"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and h

[2021-03-09 13:22] Na2001 commented on #2381
can you assign convertion of infix to postfix and expression evaluation in C

[2021-03-09 13:22] vgb-codes commented on #2408
@NitiKaur Go ahead with the issue.

[2021-03-09 13:23] NitiKaur opened #2410 "Minimum Number of Jumps"
Please assign this issue to me.I want to work on it in C++ using DP
There are various follow ups to this problem and I want to work on all of them
Here is the description
Given a set of non-negative integers, and a value sum, determine if there is a subset of the given set with sum equal to given sum.

[2021-03-09 13:24] vgb-codes commented on #2407
@Omar-Hegazi Go ahead with the assigned issue.

[2021-03-09 13:25] Na2001 opened #2411 "stack and queue in c"
hey, I'm a GSSOC participant. Can I add stack and queue in C. Can you assign me this.

[2021-03-09 13:27] vgb-codes commented on #2411
@Na2001 Already implemented. [link](https://github.com/TesseractCoding/NeoAlgo/tree/master/C/ds)

[2021-03-09 13:27] #2411 closed, assigned to nobody

[2021-03-09 13:28] simarjeet30 commented on #2287
sir i have done the coding part ,and its my first time so can u just review
it once before i make a pull request.

On Tue, Mar 9, 2021 at 6:12 PM SavneetKaur01 <notifications@github.com>
wrote:

[2021-03-09 13:34] Na2001 opened #2412 "Calculator using swing in java"
Calculator using swing in java.can you assign this to me.

[2021-03-09 13:38] Na2001 commented on #2389
hey can i do this in c.Addition and multiplication.

[2021-03-09 13:39] Sakshi0401 commented on #2116
Hey

Hey @anushkrishnav I can work upon this issue using python and JavaScript too

[2021-03-09 13:41] anushkrishnav commented on #2116
Good luck

[2021-03-09 13:50] fomalhauting opened #2414 "Golang Algorithms"
## 🚀 Feature

I would like to work on a few basic Golang algorithms

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Increase in algorithms in Golang

## Pitch

Flyod's Triangle
Pascal's Triangle
Pyramid of Numbers
Palindrome

[2021-03-09 13:51] banshita209 commented on #2409
I am a GSSOC participant.

I'll like to implement Heap Sort in Java

please assign it to me.

[2021-03-09 14:09] Sakshi0401 commented on #2116
So can I be assigned the issue to work upon or I can start working on it without being assigned?

[2021-03-09 14:17] HarshCasper commented on #2414
Make separate Issues. Thanks!

[2021-03-09 14:17] #2414 closed, assigned to nobody

[2021-03-09 14:18] Swetha126 commented on #2409
Hello! I am a GSSOC'21 participant. I have read the guidelines clearly.
I am proficient in C and Python and would like to implement Heap sort in the same.
I will make my code easily understandable by adding appropriate comments and add the time complexity of the program as well. Please assign me this issue

[2021-03-09 14:30] #2382 closed, assigned to nobody

[2021-03-09 14:48] #2404 closed, assigned to nobody

[2021-03-09 14:51] Alleny244 commented on #2412
Hey, I am a GSSOC'21 Participant .
I am having experience in Java Programming language as well as I am doing Competitive programming.
Please assign this issue to me :)

[2021-03-09 14:53] kirtijha014 commented on #2391
Hello maintainers!
As a participant/CA for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21...

[2021-03-09 14:56] Suvraneel opened #2418 "Ticket Auction Problem"
## 🚀 Feature

Concert Tickets Auction
There are n concert tickets available, each with a certain price. Then, m customers arrive, one after another.
Each customer announces the maximum price he or she is willing to pay for a ticket, and after this, they will get a ticket with the nearest possible price such that it does not exceed the maximum price.

## Assignment
Hello maintainers!
As a participa

[2021-03-09 15:01] Nivedita967 opened #2419 "Paths from source to destination in Graph"
## 💥 Proposal

I would like to add code for "All Paths from source to destination vertex in Graph" in Java with proper comments.
Please assign this issue to me under GSSOC.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2021-03-09 15:02] Suvraneel commented on #2362
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C language.
Kindly assign me this issue under GSSOC '21...

[2021-03-09 15:03] Meghna180401 commented on #2408
I would like to implement the solution to the same problem #2408 in Java.
@vgb-codes Please assign me this.

I have read the contribution guidelines.

[2021-03-09 15:03] gat786 commented on #2364
Yeah if you are up for it @Karthik-Nayak98 we can assign you the task

[2021-03-09 15:05] Suvraneel commented on #2396
[C++]
Hello maintainers!
As a participant/CA for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me this issue under GSSOC '21...

[2021-03-09 15:06] Alleny244 opened #2420 "Check whether a given string is palindrome using doubly linked lists"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)
We can check whether a given string is palindrome or not using doubly li

[2021-03-09 15:08] Alleny244 opened #2421 "Program to reverse the content of queue in stack"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)
Hereby using the code ,one can reverse the content of queue using Stack

[2021-03-09 15:11] Alleny244 opened #2422 "Priority Queue in C"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)
To Implement a Priority Queue using arrays in C
## Pitch

(Please explai

[2021-03-09 15:16] Nivedita967 opened #2423 "Climb Stairs With Minimum Moves"
## 💥 Proposal

I would like to add code for "Climb Stairs With Minimum Moves" in DP section in Java.
Please assign this issue to me under GSSOC.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2021-03-09 15:18] Karthik-Nayak98 commented on #2364
Yeah, you can assign this issue. I will try to complete this task.

[2021-03-09 15:25] Swetha126 commented on #2422
Hey! I am a GSSOC'21 participant.
I have read the guidelines clearly.
I would like to implement  following functions in priority queue using C with clear comments :
 1. Heapify the tree
 2. Insert an element into the tree
 3. Delete an element from the tree

Please do assign this to me

[2021-03-09 15:27] SrinivasRedyy221 commented on #2408
hello im participant at GSS0C'21.
i can solve it in c++'
please assign it to me.

[2021-03-09 15:31] TidbitsJS opened #2428 "Improving Linked List in JavaScript"
## Dynamic Linked List

The task is to improve the present Linked List program & make it dynamic.
 We can improve it in this way -
1. Take user input for addition deletion & display nodes
2. Display linked List
3. Append an element in Linked List
4. Prepend an element in Linked List
5. Insert an element at any given position in the Linked List
6. Delete any element of the Linked List
7. Reverse th

[2021-03-09 15:32] TidbitsJS commented on #2428
I would like to work on this @HarshCasper
Assign this to me as a part of the GSSOC event

[2021-03-09 15:33] SrinivasRedyy221 commented on #2316
Hello Im a participant at GSSoS'21.
I want work on this issue.
please assign it to me.

[2021-03-09 15:34] Swetha126 commented on #2420
Hey! I am a GSSOC'21 participant
I would like to give the code for checking whether the given string is a palindrome using Python with appropriate comments and the time and space complexity.
Please do assign this to me.

[2021-03-09 15:39] Alleny244 opened #2430 "Sparse Matrix"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)
program to efficiently represent a sparse matrix
## Pitch

(Please expla

[2021-03-09 15:43] Alleny244 opened #2431 "first-fit, best-fit and worst-fit memory allocations (Dynamic Memory Allocation)"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)
To Simulate first-fit, best-fit and worst-fit memory allocations in java

[2021-03-09 15:55] prithwirajmitra2001 commented on #2421
I am a GSSOC 21 participant. Wish to work on this issue

[2021-03-09 16:00] Suvraneel opened #2432 "Graphics Programs in C (using graphics.h)"
## 🚀 Feature

Graphics & Animation Programs utilising a simple primitive header (graphics.h) in C language...
Includes :
Ball bouncing off edges of screen.

## Assignment
Hello maintainers!
As a participant/CA for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C.
Kindly assign me these issues under GSSOC '21...

[2021-03-09 16:04] BeAgarwal opened #2434 "Basic Mathematics Problems in Golang"
## 🚀 Feature

**Description**
I want to several basic Mathematics problems in Golang

- [ ]  Sieve of Eratosthenes
- [ ]  Palindrome Number
- [ ]  Ugly Number
- [ ]  Extended Euclidean Algorithm

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read the Contributing Guidelines

[2021-03-09 16:05] Puja-Kumari-909 opened #2435 "Deletion of elements from a Linked List using Java"
## 🚀 Feature

I would like to implement deletion in Linked List at the beginning, end and at a specific position using Java.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read and understood.

## Pitch

Being a part of GSSOC'21, I would like to add code for the Deletion of

[2021-03-09 16:18] srividhya14 commented on #2399
I am Gssoc 21 participant . I request you to assign me this issue.

[2021-03-09 16:18] BeAgarwal opened #2436 "Coin Change Problem (DP) in Golang"
### Description
Coin change Problem in Golang language.

- [x] Coin change Problem (Dynamic Programming)

### Have you read the Contributing Guidelines on Pull Requests?
Yes, I have read the Contributing Guidelines.

### Motivation
I want to excel in the Golang language so I want to work with Golang.

### Pitch
For GSSoC'21

Please assign this to me.

[2021-03-09 16:22] srividhya14 commented on #2397
I am a GSSOC21 participant I would like to contribute this issue by coding preorder, inorder , levelorder ,postorder traversal in c++

[2021-03-09 16:22] BeAgarwal opened #2437 "Longest common Subsequence (DP) in Golang"
### Description
Longest common Subsequence in Golang language.

- [x] Longest common Subsequence (Dynamic Programming)

### Have you read the Contributing Guidelines on Pull Requests?
Yes, I have read the Contributing Guidelines.

### Motivation
I want to excel in the Golang language so I want to work with Golang.

### Pitch
For GSSoC'21

Please assign this to me.

[2021-03-09 16:24] prithwirajmitra2001 commented on #2397
I am a GSSOC21 participant and wish to work on this issue

[2021-03-09 16:28] Alleny244 opened #2438 "User-Defined Exceptions"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Motivation

(Please outline the motivation for the proposal.)
A Java program that shows how to create a user-defined exception.
## Pit

[2021-03-09 16:29] Tanya170620 opened #2439 "Conversions of Polish Notations in C"
## 🚀 Feature

Adding polish notation conversions in C of-
       1. Infix to prefix
       2. Postfix to prefix
       3. Postfix to infix
       4. Prefix to infix

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I am a participant of GSSoC'21 and a budding Data Stru

[2021-03-09 16:33] prithwirajmitra2001 commented on #2398
I am a GSSCO 21 participant. Would like to work on this issue

[2021-03-09 16:38] CoreyJamesLynch opened #2440 "Add test examples and edit description to Armstrong.js"
## 📚 Documentation

# Description of algorithm lines 2 - 5,
- using inconsistent naming i.e. angstrom and  Armstrong.
- use of 'program' and 'programme' both work however 'program' is recommended in a computational context.
[Program](https://www.grammarly.com/blog/program-programme/)

# Line 40 Example uses inconsistent input/output
- 321 is not an Armstrong number

# Add additional examples
- Fal

[2021-03-09 16:40] abhinav5481 commented on #2435
I would like to work on this issue as part of GSSOC'21 . Could you please assign it to me?

[2021-03-09 16:41] abhinav5481 commented on #2342
Hi,
I would like to work on this. Could you please assign it to me as part of GSSOC'21

[2021-03-09 16:46] NitiKaur commented on #2408
@SrinivasRedyy221  already requested by me. Plz find some other issue! :)

[2021-03-09 16:53] saimanoharhm opened #2442 "Finding a pair of element"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
 Finding a pair of element with sum k using hash table in a Unsorted array using c

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

[2021-03-09 16:53] saimanoharhm commented on #2442
@gat786 Could you pls assign this for me

[2021-03-09 16:54] FireQueen-3010 opened #2444 "Java Implementation of Invert a binary tree."
## 🚀 Feature

I would like to add :

Recursively Invert a Binary Tree Problem in Java

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Being a part of the GSSOC'21, I would like to implement this in java. Please do assign this to me.

## Pitch

Inverting a binary tree

[2021-03-09 16:56] mgncodes opened #2445 "Errors in Python Readme (GSSoC'21)"
I found many errors like mismatch of the links, incorrect  and redundant additions in the README.md file of Python section, and I want to correct it. Please assign this issue to me as a part of GSSoC '21.

I have read the Contributing Guidelines.

@vgb-codes

[2021-03-09 17:01] FireQueen-3010 opened #2446 "Java implementation for checking whether all leaves in a tree are at the same level or not."
## 💥 Proposal

The aim is to implement a clear and concise java solution to check whether all leaves in a tree are the same level or not.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

I request you to assign this to me!

[2021-03-09 17:10] mgncodes commented on #2445
Hi, I have made a PR for this issue.
PR #2447
Kindly do the needful.
@vgb-codes

[2021-03-09 17:17] Sarthak-9 opened #2448 "Form the Mirror Tree of a Binary Tree"
## 🚀 Feature

I would like to add a C++ Algorithm which creates the mirror tree of a given binary tree

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I want to contribute this algorithm for GSSOC'21 as I am enthusiastic to work on Data Structures and Algorithms.

##

[2021-03-09 17:27] Madhumitamoi opened #2449 "Adding Neon number solution in C language under math section"
## 🚀 Feature

(A clear and concise description of what the feature is.)
A neon number is a number where the sum of digits of square of the number is equal to the number. This is a basic problem which I want to add under the math section in C language to help the newbie coders.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CO

[2021-03-09 17:40] FireQueen-3010 opened #2450 "Balanced Brackets."
## 💥 Proposal

Checking if a pair of brackets is balanced or not using stacks in java.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes.

[2021-03-09 17:40] FireQueen-3010 commented on #2450
please assign me this.

[2021-03-09 18:21] Saviour1001 opened #2452 "Finding Long Factorials [GSSoC 21]"
## 🚀 Feature

I want to add the algorithm to calculate long factorials such as !100 and !1000 in C++. Calculating longer factorials can be done easily but storing such big numbers is also a problem as languages such as C++ don't even have that big of data types.
I want to add the algorithm of how to achieve it.

I have read the contributor guidelines.

## Motivation

I want to contribute to the pr

[2021-03-09 18:22] Vishruta-Patil opened #2453 "Removing duplicates from sorted linked list in c"
## 🚀 Feature
(A clear and concise of what the feature is)
C Program which removes duplicate elements from sorted linked list

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
yes

## Motivation

(Please outline the motivation for the proposal.)
As a GSSOC partici

[2021-03-09 18:23] Vishruta-Patil commented on #2453
I would like to work on this issue as a GSSOC participant

[2021-03-09 18:27] Saviour1001 commented on #2452
There is already a file that suggests how to find long factorials but I want to add another algorithm that is more dynamic and can be changed as per our needs and easier to understand as well. As I went through the code which is already provided and I could write an algorithm that is much easier to understand comparatively.

[2021-03-09 18:35] banshita209 opened #2455 "(GSSOC21) Traveling Salesman Problem in java"
I am a GSSOC21 Participant.

I like to implement traveling salesman problem (branch and bound algorithm) using java.

SO kindly assign this problem to me so that I can contribute to my open source journey of GSSOC21

[2021-03-09 18:38] pallavidhere23 commented on #2455
am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 18:39] pallavidhere23 commented on #2448
am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 18:54] Omar-Hegazi opened #2456 "Count Inversion"
## 💥 Proposal

I would like to add code for Count Inversion  problem which will be submitted in C# with proper comments and an explanation of the solution as part of GSSOC'21.

Count Inversion problem:
the elements at indices i and j where i < j and arr[j] > arr[i] is considered an inversion.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAl

[2021-03-09 19:17] Suvraneel commented on #2422
[C++]
Hello maintainers!
As a participant/CA for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me this issue under GSSOC '21...

[2021-03-09 19:19] SamarpanCoder2002 opened #2457 "Reverse a doubly link list in C++"
## 💥 Proposal

(Problem: Reverse a Doubly Link List in C++)
I am also a **_gssoc'21_** participant.... I would like to add this problem in that.... If I can go forward with that, Please assign me to here... Thanks

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

[2021-03-09 20:07] noviicee commented on #2450
I can do this using Python Programming language with the help of stacks.
Can you assign it to me for implementing in Python?

[2021-03-09 20:10] noviicee opened #2458 "Adding a new sorting algorithm on Python"
## 💥 Proposal

I wish to add an interesting sorting algorithm in Python known as Monkey-Sort.
I will also add the details on it in my file

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes!

[2021-03-09 20:36] HarshCasper commented on #2444
Please complete the rest of your Issues first before jumping onto new ones.

[2021-03-09 20:39] HarshCasper commented on #2440
Thanks @CoreyJamesLynch

Would you like to work on it or shall I put this Issue open to assignment?

[2021-03-09 20:40] HarshCasper commented on #2439
Don't put a lot of code contribution change in one single issue. Besides, some of them already exists in C directory.

[2021-03-09 20:40] #2439 closed, assigned to nobody

[2021-03-09 20:41] HarshCasper commented on #2438
We don't show language-specific implementations but rather focus on the Data Structures and Algorithm side of things.

[2021-03-09 20:41] #2438 closed, assigned to nobody

[2021-03-09 20:42] HarshCasper commented on #2434
Break this down into multiple separate Issues.

[2021-03-09 20:42] #2434 closed, assigned to nobody

[2021-03-09 20:43] HarshCasper commented on #2432
Break this down into multiple separate Issues.

[2021-03-09 20:43] #2432 closed, assigned to nobody

[2021-03-09 20:43] HarshCasper commented on #2431
This Issue is for Java only as of now

[2021-03-09 20:44] HarshCasper commented on #2428
Break down your Issue into multiple separate issues.

[2021-03-09 20:44] #2428 closed, assigned to nobody

[2021-03-09 20:46] HarshCasper commented on #2422
You already have a lot of issues under your belt @Alleny244

Assigned to @Suvraneel

[2021-03-09 20:49] Suvraneel opened #2459 "Ball bouncing off edges of screen (using graphics.h)"
## 🚀 Feature

Graphics & Animation Programs utilising a simple primitive header (graphics.h) in C language...
Includes :
Ball bouncing off edges of screen.

## Assignment
Hello maintainers!
As a participant/CA for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C.
Kindly assign me these issues under GSSOC '21...
@HarshCasper

[2021-03-09 20:51] Suvraneel commented on #2418
Thanks for the assign (my 1st one actually)
Will cover it ASAP

[2021-03-09 20:53] #2459 closed, assigned to nobody

[2021-03-09 21:41] YashPaste opened #2460 "Power set using Bitwise Operations in C++"
## 💥 Proposal

I would like to add code to Find Power set (set of all possible subsets) using Bitwise Operators which will be submitted in C++ with proper comments and an explanation of the solution.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-09 22:08] CoreyJamesLynch commented on #2440
Hey Harsh, I'd like to work on it, thanks for asking.

On Tue, Mar 9, 2021 at 3:39 PM Harsh Mishra ***@***.***>
wrote:

[2021-03-09 22:13] Aarushi3113 opened #2461 "Adding new Sorting Algo in Python in Python... #GSSOC'21"
## 💥 Proposal

I would like to add **Bucket Sort** in *Python* language.
I would write clean code and follow the guidelines. I would also provide a clear and concise documentation for the program.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read and understood the Contri

[2021-03-09 22:25] Aarushi3113 opened #2462 "LCM of n elements in Python...[GSSOC'21]"
## 💥 Proposal

I would like to add the code for calculating LCM of n numbers in *Python* language.
I would provide a proper documentation and write clean code while keeping the guidelines in mind.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read and understood the contri

[2021-03-10 02:03] ankan1811 opened #2463 "Neon number under mathematics section"
## 💥 Proposal

A neon number is a number where the sum of digits of square of the number is equal to the number. The task is to check and print neon numbers in a range.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-10 02:41] Tanya170620 commented on #2439
So can I do it just for postfix to prefix conversion in C.

[2021-03-10 03:13] aarushirai2210 opened #2464 "Adding a new column wise sorting algorithm for 2D matrix of order n x m in C++ (GSSOC'21)"
## 💥 Proposal
 I wish to add an algorithm for sorting a 2D matrix of order **N X M** in a column wise
manner. I am a GSSOC'21 participant.
Language : C++

### **Have you read the** [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-10 03:20] Tanya170620 opened #2465 "Postfix to Prefix Conversion"
## 🚀 Feature

It will convert a postfix expression to prefix expression using stack in C.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I am a GSSoC'21 participant and would love to contribute to open source platform.

## Pitch

As postfix to prefix conversion is n

[2021-03-10 03:26] aarushirai2210 commented on #2450
I can do this in C++ programming language in different ways. Please assign it to me for implementing
this question in python. I am GSSOC'21 participant.

### Have you read the [*Contributing Guidelines on Pull Requests?*](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)

Yes

[2021-03-10 03:59] anushkrishnav commented on #2464
Go for it but make sure the project isn't already there

[2021-03-10 04:00] aarushirai2210 commented on #2464
Sure. Please assign it to me.

[2021-03-10 04:01] anushkrishnav commented on #2364
Here is the link for the [doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing)

[2021-03-10 04:03] ankan1811 commented on #2463
@bhav09 I want to implement this in C++ as a part of GSSoC'21. Please assign it to me.

[2021-03-10 04:05] C0DE-RUNNER opened #2467 "Reversal algorithm for array rotation (GSSoC'21)"
## 💥 Proposal

Reversal algorithm for array rotation

Let AB are the two parts of the input array where A = arr[0..d-1] and B = arr[d..n-1]. The idea of the algorithm is :

Reverse A to get ArB, where Ar is reverse of A.
Reverse B to get ArBr, where Br is reverse of B.
Reverse all to get (ArBr) r = BA.
Example :
Let the array be arr[] = [1, 2, 3, 4, 5, 6, 7], d =2 and n = 7
A = [1, 2] and B = [3,

[2021-03-10 04:23] BeAgarwal opened #2471 "Sieve of Eratosthenes in Golang"
### Description
Sieve of Eratosthenes in Golang language.

- [x] Sieve of Eratosthenes

### Have you read the Contributing Guidelines on Pull Requests?
Yes, I have read the Contributing Guidelines.

### Motivation
I want to excel in the Golang language so I want to work with Golang.

### Pitch
For GSSoC'21

Please assign this to me.

[2021-03-10 04:25] C0DE-RUNNER opened #2472 "Implementation of Stack in C++ (GSSoC'21)"
## 💥 Proposal

Stack is a linear data structure which follows a particular order in which the operations are performed. The order may be LIFO(Last In First Out) or FILO(First In Last Out).
Here I'm proposing Stack implementation using array

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

[2021-03-10 04:26] BeAgarwal opened #2473 "Flood fill in Golang"
### Description
Flood fill in Golang language.

- [ ] Flood fill (Graph)

### Have you read the Contributing Guidelines on Pull Requests?
Yes, I have read the Contributing Guidelines.

### Motivation
I want to excel in the Golang language so I want to work with Golang.

### Pitch
For GSSoC'21

Please assign this to me.

[2021-03-10 04:31] ritvij14 opened #2474 "Create new directory for codes in Dart language."
## 🚀 Feature
A new folder and some starter codes for Dart programming language.
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

## Motivation
Flutter has gained a lot of popularity and with the comin

[2021-03-10 04:37] LazySukanta commented on #2398
I would like to contribute, Assign me for this project as I am GSSOC (participate)2021.

[2021-03-10 04:39] C0DE-RUNNER opened #2475 "Mean of range in array in C++"
## 💥 Proposal

Given an array of n integers. You are given q queries. Write a program to print floor value of mean in range l to r for each query in a new line.

Examples :

Input : arr[] = {1, 2, 3, 4, 5}
        q = 3
        0 2
        1 3
        0 4
Output : 2
         3
         3
Here for 0 to 2 (1 + 2 + 3) / 3 = 2

Input : arr[] = {6, 7, 8, 10}
        q = 2
        0 3
        1 2
Output

[2021-03-10 04:47] C0DE-RUNNER opened #2477 "Merge Without Extra Space C++ (GSSoc'21)"
## 💥 Proposal
Given two sorted arrays arr1[] of size N and arr2[] of size M. Each array is sorted in non-decreasing order. Merge the two arrays into one sorted array in non-decreasing order without using any extra space.

Input:
N = 2, M = 3
arr1[] = {10, 12}
arr2[] = {5, 18, 20}
Output: 5 10 12 18 20
Explanation: Since you can't use any
extra space, modify the given arrays
to form
arr1[] = {5, 10

[2021-03-10 04:56] kotwani2883 opened #2480 "4 Sum Problem."
## 🚀 Feature

I want to add an algorithm which finds four elements that sum to a given value .

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

Since it is one of the very frequently asked questions in interviews , As a GSSOC participant I want to contribute in the p

[2021-03-10 04:57] kotwani2883 commented on #2480
Kindly assign this to me as a part of GSSOC'21.

[2021-03-10 05:04] nandinib1999 commented on #2154
Thanks a lot!

[2021-03-10 05:14] machine-sg commented on #2480
Hi, I am a GSSOC'21 participant and I want to work on this using C++. I will explain with proper explanation. Please assign me this.

[2021-03-10 05:18] machine-sg commented on #2456
I am a GSSOC'21 participant and I want to work on this using C++. Please assign me this. I will give examples with proper explanation too.

[2021-03-10 05:18] machine-sg commented on #2455
I am a GSSOC'21 participant and I want to work on this using C++. Please assign me this. I will give examples with proper explanation too.

[2021-03-10 05:19] machine-sg commented on #2450
I am a GSSOC'21 participant and I want to work on this using C++. Please assign me this. I will give examples with proper explanation too.

[2021-03-10 05:20] machine-sg commented on #2453
I am a GSSOC'21 participant and I want to work on this using C++. Please assign me this. I will give examples with proper explanation too.

[2021-03-10 05:21] machine-sg opened #2481 "[GSSOC'21] Finding intersection point in a Y shaped Linked List"
## 💥 Proposal

Hi, I am a GSSOC'21 participant and I want to work on this using C++. I have 7 methods to discuss and I will explain each and every method with proper explanation. Please assign me this.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

[2021-03-10 05:24] machine-sg opened #2482 "[GSSOC'21] Kruskal's Algorithm"
## 💥 Proposal

Hello, I am a GSSOC'21 participant and I want to add the code of this algorithm. My code will be in C++. I will also give some other examples which will be solved using this algorithm with proper explanation. Please assign me this. Hope to hear you.
Thank you .

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CO

[2021-03-10 05:24] machine-sg opened #2483 "[GSSOC'21] Disjoint set union find"
## 💥 Proposal

Hello, I am GSSOC' 21 participant. I want to add disjoint set union find algorithm with example and explanations. I wish to code in C++. Please assign me this issue. Hope to hear you .

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

[2021-03-10 05:28] devu26 commented on #2472
Please assign this issue to me

[2021-03-10 05:47] devu26 opened #2486 "Implementation of Stack using Linklist in C++"
Stack is a linear data structure which follows a particular order in which the operations are performed. The order may be LIFO(Last In First Out) or FILO(First In Last Out).
Here I want to implement stack using link list. please assign this issue to me.

[2021-03-10 05:54] anotherwebguy opened #2488 "[GSSOC'21] seive of eratosthenes"
## 💥 Proposal

As a participant of gssoc'21 i would like to contribute this algo to find all the prime numbers within a number range using seive of eratosthenes in c++. Plz assign me this issue .
@HarshCasper @bhav09

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2021-03-10 05:55] krishna-y2000 opened #2489 "Rod Cutting Problem in JAVA ( GSSOC'21 )"
## 💥 Proposal
Hello,
I want to add rod cutting problem . It is  very famous dynamic programming problem which have high chance that this will be asked in Product based companies. I wish to code in JAVA.
I will also add the details on it in my file. Assign this task to me .
**Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBU

[2021-03-10 05:59] iamvs-2002 commented on #2258
@HarshCasper KIndly assign me this issue in Java.

[2021-03-10 05:59] aarushirai2210 opened #2490 "Implementation of Dijkstra's algorithm using C (GSSOC'21)"
## 💥 Proposal

I would like to contribute a code for Dijkstra's algorithm for single source shortest path, using C .
I am a GSSOC'21 participant.
Language : C

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-10 06:15] krishna-y2000 opened #2491 "Articulation point algorithm in JAVA"
## 💥 Proposal

Hello,
I want to add Articulation point algorithm.It is very tough graph problem which is base problem to many other problem. I wish to code in JAVA.I will be solving with different test cases for better understanding of problem.
 Please Assign this task to me .
**Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONT

[2021-03-10 06:17] Aleena-Ashraf opened #2493 "Adjacency Matrix C, Java"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

Hey, being a GSSOC'21 participant i would like to implement the Adjacency Matrix using C or Java.
This is a very potential question and hence want to work on it.
Please do assign me this.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#

[2021-03-10 06:22] krishna-y2000 opened #2494 "Job Scheduling algorithm - Greedy Problem in JAVA"
## 💥 Proposal

Hello,
I want to add Job Scheduling algorithm.It is  part of greedy problems.There are very few problems on greedy so i would like to add this one. I wish to code in JAVA.I will be solving with different test cases for better understanding of problem.
Please Assign this task to me .

 Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/Neo

[2021-03-10 06:25] poojitha2002 opened #2495 "Find duplicates in an array of N+1 integers"
The problem statement is to find the repeating element/duplicate in given array. The array contains numbers ranging from 1 to N+1 . I have 5 methods to discuss ranging from brute force to optimized solution.

Hope this issue will be assigned to me.

Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issu

[2021-03-10 06:33] SanskaarPatni opened #2497 "[GSSOC'21] Adding solutions of Important Backtracking Problems"
I would love to add solutions of backtracking problems in JAVA.
@iamrajiv can you assign me the issue as a part of gssoc'21?

[2021-03-10 06:43] noviicee commented on #2458
Thank you @HarshCasper :)

[2021-03-10 06:46] Saviour1001 commented on #2452
@HarshCasper made a PR #2496 regarding this issue.

[2021-03-10 06:47] sanjaysunil34 opened #2500 "Comb Sort"
## 🚀 Feature

Given an unsorted array, sort the array using comb sort algorithm in C language.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

As part of GSSOC'21

[2021-03-10 06:54] Karthik-Nayak98 commented on #2364
The tag 'Proposal' is a label right?

[2021-03-10 07:03] Coder-Srinivas commented on #2347
Hey @HarshCasper I have a small doubt regarding pull requests. I have been assigned with multiple issues so when I keep a pull request regarding a particular issue, all the files added for previous pull requests will be seen as additions as they have not been merged. So should I delete those files and create a new pull request or is there any way around?

[2021-03-10 07:08] sanjaysunil34 opened #2502 "Trace all paths of a directed graph"
## 🚀 Feature

Given a directed graph, a source vertex and a destination vertex , print all paths from the source to destination.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

As a part of GSSOC'21.

[2021-03-10 07:17] kevla-4121 opened #2504 "Infix To Prefix"
In stack I like to add a code for the  conversation of Infix To Prefix using c++.
Please assign this issue to me.

[2021-03-10 07:18] ireneelizabethsabu opened #2505 "Selection Sort and Cycle Sort in JavaScript"
Hi,
I would like to implement using JavaScript the following sorting algorithms.

1.Selection Sort
2.Cycle Sort
Please assign this to me as part of GSSOC'21.

[2021-03-10 07:23] ireneelizabethsabu opened #2506 "Sublist Search in C++ and Java"
Sublist Search is used to search for a list in another linked list.
eg: list1 =  1 -> 2 -> 3
      list2  = 4 -> 1 -> 2 -> 3 -> 5
      here sublist search returns true since list1 is a sublist of list2

I am a participant of GSSOC'21. kindly assign this to me.

[2021-03-10 07:25] Nikitha2309 commented on #2482
I am a GSSoC'21 participant and want to work on this issue. Please assign this PR to me. I am familiar with this algorithm and already solved several problems related to that.

[2021-03-10 07:29] Nikitha2309 commented on #2481
I am a GSSoC'21 participant and I want to work on this issue. I am already familiar with this algorithm.

Please assign this issue to me under the label of GSSoC'21.

I can provide optimised yet understandable code with quality code , highly understandable comments and easy as well as corner test cases .

I can work on this issue in C, C++ as well as Python

I have read Contributing Guidelines on

[2021-03-10 07:50] AasthaGoyalgit commented on #2493
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:51] AasthaGoyalgit commented on #2497
Hi,
I would like to work on this issue in java. Could you please assign it to me?

Thanks!!

[2021-03-10 07:52] AasthaGoyalgit commented on #2481
Hi,
I would like to work on this issue in java . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 07:53] AasthaGoyalgit commented on #2490
Hi,
I would like to work on this issue in C and can also in java . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 07:54] AasthaGoyalgit commented on #2467
Hi,
I would like to work on this issue in java . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 07:54] AasthaGoyalgit commented on #2504
Hi,
I would like to work on this issue in java . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 07:55] AasthaGoyalgit commented on #2506
Hi,
I would like to work on this issue in java and c++ . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 07:56] AasthaGoyalgit commented on #2465
Hi,
I would like to work on this issue in C as well as in java . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 07:56] AasthaGoyalgit commented on #2457
Hi,
I would like to work on this issue  . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:11] Karan-29 opened #2508 "Trapping Rain Water problem in C++ (GSSOc'21)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
There will be given n non-negative integers representing buildings where the width of each building is 1. Compute how much water it can trap after raining.

Example:-
Input: height = [0,1,0,2,1,0,1,3,2,1,2,1]
Output: 6
Explanation: If we carefully observe using a block diagram, we see that:-
1 unit of water is stored from in

[2021-03-10 08:12] Karan-29 commented on #2508
Please assign this issue to me. I would like to work on this.

[2021-03-10 08:28] hritikgupta92 opened #2509 "Level order traversal in C++"
## 🚀 Feature

 Level order is a traversal in a binary tree in a BFS fashion.

[2021-03-10 08:29] AasthaGoyalgit commented on #2430
Hi,
I would like to work on this issue in java . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:30] hritikgupta92 commented on #2509
I would like to work on this issue,can you assign me? @atarax665

[2021-03-10 08:30] AasthaGoyalgit commented on #2423
Hi,
I would like to work on this issue  . Could you please assign it to me?
 Yes,I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:30] AasthaGoyalgit commented on #2412
Hi,
I would like to work on this issue in java . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:31] AasthaGoyalgit commented on #2410
Hi,
I would like to work on this issue in java . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:31] AasthaGoyalgit commented on #2409
Hi,
I would like to work on this issue in java . Could you please assign it to me?
Yes,I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:32] AasthaGoyalgit commented on #2391
Hi,
I would like to work on this issue in java . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:32] AasthaGoyalgit commented on #2395
Hi,
I would like to work on this issue in java . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:33] AasthaGoyalgit commented on #2397
Hi,
I would like to work on this issue in java . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:34] AasthaGoyalgit commented on #2369
Hi,
I would like to work on this issue in java . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:37] AasthaGoyalgit commented on #2358
Hi,
I would like to work on this issue in java . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:38] AasthaGoyalgit commented on #2344
Hi,
I would like to work on this issue in java . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:40] AasthaGoyalgit commented on #2316
Hi,
I would like to work on this issue in java . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:45] AasthaGoyalgit commented on #2264
Hi,
I would like to work on this issue in java . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:46] AasthaGoyalgit commented on #2264
Hi,
I would like to work on this issue in java . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 08:46] SamarpanCoder2002 commented on #2457
Thanks a lot for assigning me here... I will surely make a pull request as soon as possible

[2021-03-10 08:58] Coder-Srinivas commented on #2347
Hey @HarshCasper @atarax665  , I have created a different branch and generated a pull request. Please review it😊.

[2021-03-10 09:09] ayush0402 opened #2513 "An algorithm to take input of a Integer number and prints its digits in reverse order as output. (C++/CP)[GSSoC'21]"
## 🚀 Feature

I will write an algorithm using C++ which will take input of an Integer value and reverses the number.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

I feel I can add a few algorithms to the CP section of C++ folder, and I feel starting out with this s

[2021-03-10 09:11] #2205 closed, assigned to pganguli

[2021-03-10 09:13] #2299 closed, assigned to Nkap23

[2021-03-10 09:13] #2328 closed, assigned to Nkap23

[2021-03-10 09:15] ayush0402 opened #2514 "Take input of TIME in 12 Hour Format and gives output of the same in 24 Hour format. (C++/CP)[GSSoC'21]"
## 🚀 Feature

I will write an algorithm in C++ which will take input for time in an specified 12 Hour format (HH:MM AM/PM) and convert and give output of the same in 24 Hour format (HH_24:MM).

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

This is the my second idea

[2021-03-10 09:20] Devansu-Yadav commented on #2344
@AasthaGoyalgit It has already been assigned to me. U could try looking for other issues or u can create one as well!

[2021-03-10 09:40] pganguli commented on #2140
Closing, as PR #2199 has been merged.

[2021-03-10 09:40] #2140 closed, assigned to pganguli

[2021-03-10 09:43] TidbitsJS opened #2519 "Dynamic Insertion in Linked List in JavaScript"
## Linked List Insertion

Creating dynamic insertions of nodes in Linked List, where, followings things can be performed through user input -
1. Append element in the Linked List ( Input - any value )
2. Prepend element in the Linked List ( input - any value )
3. Insert an element at any given position in Linked List ( input - any value & any position )
4. Display nodes

### Have you read the [Con

[2021-03-10 09:45] devu26 opened #2520 "Tree Traversals using stack in c++"
I like to write a code for tree traversals using stack in c++.
please assign this issue to me.

[2021-03-10 09:45] TidbitsJS commented on #2519
As I had been instructed, I have created multiple issues for the dynamically linked list program
Kindly assign this to me as a part of GSSOC @HarshCasper

[2021-03-10 09:49] TidbitsJS opened #2522 "Dynamic Deletion in Linked List in JavaScript"
## Linked List Deletion

A program to create a functionality of deletion of nodes at any given position in Linked List with JavaScript. Things that can be done with user input -
1. Delete node at any given position ( Input - any position )
2. Display linked list after deletion

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/C

[2021-03-10 09:50] TidbitsJS commented on #2522
As I had been instructed, I have created multiple issues for the dynamically linked list program
Kindly assign this to me as a part of GSSOC @HarshCasper

[2021-03-10 09:52] TidbitsJS opened #2523 "Reverse a Linked List"
## Reversal of Linked List

Program to reverse the given linked list in JavaScript. Following things can be done -
1. Reverse a Linked List
2. Display the newly reversed Linked List

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

The goal is to help people understand

[2021-03-10 09:53] TidbitsJS commented on #2523
As I had been instructed, I have created multiple issues for the dynamically linked list program
Kindly assign this to me as a part of GSSOC @HarshCasper

[2021-03-10 09:58] NitiKaur opened #2525 "adding row to binary tree"
I would like to solve this problem in C++
Given the root of a binary tree, then value v and depth d, you need to add a row of nodes with value v at the given depth d. The root node is at depth 1.
Please assign this issue to me

[2021-03-10 10:26] imsushant12 opened #2528 "Iterative Binary Search in C Language"
## 🚀 Feature

Binary Search algorithm : Iterative approach in C Language will example and explanation.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I want to contribute on it under gssoc'21.

## Pitch

I have found only the recursive approach of binary search in C

[2021-03-10 10:29] Alleny244 commented on #2430
@HarshCasper I have uploaded the code from another branch and made a pull request
https://github.com/TesseractCoding/NeoAlgo/pull/2527

[2021-03-10 10:51] FireQueen-3010 commented on #2444
Done with the rest of my issues (applied for pull requests as well), please assign me this now.

[2021-03-10 10:58] samrat1223 commented on #2514
Hey can I work on this issue ?

[2021-03-10 11:05] #2271 closed, assigned to dhruvinfo28

[2021-03-10 11:07] Komal-99 commented on #2409
Hi,
Yes i have read the contribution guidelines on pull request
Would like to add Python heap sort  function , Kindly assign it to me
Thanks

[2021-03-10 11:09] btanisha commented on #2514
I would like to contribute to this, I'm a GSSOC participant.

[2021-03-10 11:11] btanisha commented on #2488
Hi I would like to contribute to this, please assign this to me. I'm a GSSOC participant.

[2021-03-10 11:15] AasthaGoyalgit commented on #2430
Can i work on this in java?

On Wed, Mar 10, 2021, 16:25 Na2001 <notifications@github.com> wrote:

[2021-03-10 11:17] Komal-99 commented on #2440
Hi
I have read the Contributions guidelines on pull request
I would like to work on this issue , Kindly assign it to me

[2021-03-10 11:18] kushal13112001 commented on #2442
@gat786 Could you pls assign this for me i will solve in python

[2021-03-10 11:18] harshbhalala-04 commented on #2486
I want to contribute to this project and my programming language will be C++. I have knowledge of implementing a link list using stack. I am a GSSOC'21 participant. Please assign this issue to me

[2021-03-10 11:20] anushkrishnav opened #2533 "test"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2021-03-10 11:20] #2533 closed, assigned to nobody

[2021-03-10 11:21] kushal13112001 commented on #2371
I want to contribute this in Python as a part of GSSoC'21.

[2021-03-10 11:23] harshbhalala-04 commented on #2490
I would like to contribute a code for Dijkstra's algorithm using C and also I would like to implement it in C++ also. I am a GSSOC'21 participant. Please assign this issue to me

[2021-03-10 11:23] anushkrishnav opened #2534 "hii"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2021-03-10 11:24] Abhinaba006 opened #2535 "Stack Using Queue"
## 🚀 Feature

Building a stack by using two queues in cpp

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-10 11:24] Abhinaba006 commented on #2535
@bhav09 , sir please assign me to do this work, I am a GSSOC21 participant, I can do this in cpp.

[2021-03-10 11:27] anushkrishnav commented on #2534
hii

[2021-03-10 11:27] #2534 closed, assigned to nobody

[2021-03-10 11:27] anushkrishnav opened #2536 "test"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Please contact us instead.

- [Website](https://www.tesseractcoding.tech/)
- [Email](team@tesseractcoding.tech)
- [GitHub](https://github.com/TesseractCoding)
- [Instagram](https://www.instagram.com/tesseractcoding/)
- [LinkedIn](https://www.linkedin.com/company/tesseract-coding/)
-

[2021-03-10 11:44] Harikrishnan6336 opened #2537 "In-Place Merge Sort in C++ (GSSOC'21)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
The merge sort found [here](https://github.com/TesseractCoding/NeoAlgo/blob/master/C-Plus-Plus/sort/Merge_Sort.cpp) uses an extra array to store the elements.
I would like to implement an In-Place way of this algorithm in C Plus Plus(C++) , i.e to implement it without using an extra array.

Kindly assign the issue to me.
###

[2021-03-10 11:44] dhruvinfo28 commented on #2262
Hey, I would love to contribute by doing the same in C++ under GSSOC2021

[2021-03-10 11:49] Meghna180401 opened #2538 "Reverse alternate k nodes in a Singly Linked List in Java"
## 🚀 Feature

I want to implement the solution to reverse alternate k nodes in a singly linked list in Java as a part of GSSOC'21.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-10 11:59] dhruvinfo28 opened #2541 "Max and min Heap implementation"
## 🚀 Feature

A basic implementation of a max and a min heap using C++ along with all the basic update, delete , insert operations.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes

## Motivation

I have been loving contributing to this repo so far , and would love to make further contributions.  Also regarding this specific feature request , implementation of heap data struc

[2021-03-10 12:00] Alleny244 commented on #2431
@HarshCasper
To which directory in the java folder this code should be pushed ?
Is it under 'ds' or 'others'

[2021-03-10 12:08] sukritidawar commented on #2505
I would like to work on this issue in C++ as a part of GSSOC'21

[2021-03-10 12:12] sukritidawar opened #2542 "Integer to roman"
## 🚀 Feature

Given an integer, the task is to convert it to a roman numeral.
Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.
Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000

Example:
1. Input: num = 3
   Output: "III"
2. Input: num = 1994
  Output: "MCMXCIV"

### Have you

[2021-03-10 12:13] sukritidawar commented on #2542
I want to work on this issue in C++ as a part of GSSOC'21

[2021-03-10 12:14] sukritidawar commented on #2494
I would like to work on this issue in C++ as a part of GSSOC'21

[2021-03-10 12:16] Meghna180401 opened #2543 "Huge Fibonacci number modulo n using the concept of Pisano Period in Java."
## 🚀 Feature

I want to implement the solution to implement the concept of Pisano Period to find a huge fibonacci number modulo n.
This solution will be in Java as a part of GSSOC'21.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Pitch

Pisano Period is a really important con

[2021-03-10 12:31] raunakpandey1 commented on #2508
Hello I am a GSSoC21 Participant. I would like to contribute to this.

[2021-03-10 12:33] raunakpandey1 commented on #2513
Hello I am a GSSoC21 Participant. I would like to contribute to this.

[2021-03-10 12:38] Vishakha-sta commented on #2513
Hi, I am a GSSoC'21 participant .
I would like to contribute to this problem

[2021-03-10 12:42] Vishakha-sta commented on #2514
Hello, I am a GSSoC'21 participant. I had read all the Contributing Guidelines on Pull Requests.
I am good with c++ coding.
I would like to contribute in this issue.

[2021-03-10 12:44] Vishakha-sta commented on #2508
Hello, I am a GSSoC'21 participant. I had read all the Contributing Guidelines on Pull Requests.
I am good with c++ coding
I would like to contribute in this issue.

[2021-03-10 13:06] kushal13112001 opened #2545 "Number of K-Length Sublists with Average at Least Target [Python]"
## 💥 Proposal

Given a list of integers nums, and integers k and target, return the number of sublists whose length is k and its
average value ≥ target.

**Constraints**

n ≤ 100,000 where n is the length of nums

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-10 13:08] ritvij14 commented on #2262
@dhruvinfo28 this issue is only for Kotlin. Check C++ folder and if Armstrong code is not there, create your own issue.

[2021-03-10 13:09] kushal13112001 commented on #2545
Hey @SKAUL05 @nrickles3 @ArchanGhosh @hushee69 I would like to take up this issue and solve it with a brief description and with proper code and test cases. Please assign me this issue

[2021-03-10 13:11] ritvij14 commented on #2474
@siddharth25pandey @HarshCasper can I go ahead and work with this issue?

[2021-03-10 13:31] aromal17 commented on #2366
Thank You @HarshCasper...I have raised a pull request for the same.

[2021-03-10 13:38] adiig7 commented on #2538
Can i take up this?

[2021-03-10 13:40] adiig7 commented on #2500
Can i work on this? @bhav09

[2021-03-10 13:49] bhav09 commented on #2535
Sure.

[2021-03-10 13:53] Abhinaba006 commented on #2535
Sir @bhav09 , Can you please add GSSOC21 label to this issue, as a GSSOC21 participant that will help me a lot, my code is almost ready I am sending the pr asap

[2021-03-10 13:58] bhav09 commented on #2535
Sure.

[2021-03-10 14:01] DEEPALI-SUK commented on #2244
Please could you tell me, in which folder I can add my code for making a PR?

[2021-03-10 14:02] imsushant12 commented on #2495
I want to contribute on it under gssoc'21. I can implement this issue in C Language. I will write clean and explanatory code along with time and space complexities of each approach.

[2021-03-10 14:03] Chahat226 commented on #2509
Hi, I am Chahat, a GSSOC'21 Participant. I am highly experienced in competitive programming in C++. I would like to contribute the level order traversal algorithm in C++ to this project.
Please assign this task to me :)
Thank you.

[2021-03-10 14:04] SamarpanCoder2002 commented on #2457
I already make a pull request regarding to that(https://github.com/TesseractCoding/NeoAlgo/pull/2526#issue-589389169)... please check it out and merge the pull request if that ok.....

[2021-03-10 14:04] bhav09 commented on #2500
@adiig7, we assign on fcfs basis. So ideally the issue would be assigned to @sanjaysunil34.
However, you can open another issue about the same and can try implementing with a different programming lang.
Hope this helps :)

[2021-03-10 14:08] adiig7 opened #2546 "Comb Sort in Kotlin"
## 🚀 Feature

Adding comb sort in kotlin language.
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation
Gssoc 2021

[2021-03-10 14:09] adiig7 commented on #2546
@bhav09 Please look into this and assign it to me.

[2021-03-10 14:16] priyanka001tech commented on #2513
Hi, I am a GSSoC'21 participant .I would like to contribute to this problem.
I can surely put my best effort to solve it.

[2021-03-10 14:17] adiig7 opened #2549 "Update of readme file of cp in Java"
## 📚 Documentation

The readme file of cp of Java is empty. Better providing the list of problems included in java/cp.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2021-03-10 14:17] priyanka001tech commented on #2497
Hello,
I would like to work on it.

[2021-03-10 14:17] adiig7 commented on #2549
@bhav09 if this seems valid please assign it to me.

[2021-03-10 14:18] priyanka001tech commented on #2488
Hi I would like to contribute to this. I'm a GSSOC participant.

[2021-03-10 14:20] priyanka001tech commented on #2462
Hi,
I would like to work on it. Please assign me.

[2021-03-10 14:21] priyanka001tech commented on #2457
Hi,
I would like to work on this issue . Could you please assign it to me?

[2021-03-10 14:22] priyanka001tech commented on #2450
I am a GSSOC'21 participant and I want to work on this using C++. Please assign me this.

[2021-03-10 14:24] priyanka001tech commented on #2369
Hi,
I would like to work on this issue in c . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 14:27] priyanka001tech commented on #2323
I would like to implement the above problem in c++ under GSSoC 2021. I would add comments at regular intervals and write clean code. Please assign this issue to me.

[2021-03-10 14:30] priyanka001tech commented on #2242
Hello,
I would like to work on it

[2021-03-10 14:31] SAY-droid427 opened #2551 "Moore's Voting algorithm in C++"
## 💥 Proposal

I would like to contribute the code for Moore's voting algorithm in C++. Please assign this issue to me.[GSSOC'21]

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-10 14:31] priyanka001tech commented on #2228
As a GSSOC'21 participant I would like to contribute. I can code it in java.

[2021-03-10 14:32] priyanka001tech commented on #1768
Hello there,
I would like to work on the readme.md file issue . Can you please assign it to me.

[2021-03-10 14:34] priyanka001tech commented on #2504
Hi,
I would like to work on this issue in c++ . Could you please assign it to me?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 14:34] priyanka001tech commented on #2504
In stack I like to add a code for the conversation of Infix To Prefix and prefix to infix as well using c++.
Please assign this issue to me.

[2021-03-10 14:36] bhav09 commented on #2551
Sure. All the best @SAY-droid427

[2021-03-10 14:38] agamgupta2015 commented on #2542
I want to work on this issue  as a part of GSSOC'21

[2021-03-10 14:38] bhav09 commented on #2549
Seems legit. I am assigning it to you. All the best @adiig7 :)

[2021-03-10 14:49] Maitryee-Choudhary opened #2553 "Merge Intervals in C++"
## 💥 Proposal

Given a 2D array of intervals where intervals[i]={start_time,end_time} , merge all the overlapping intervals and return the array of non-overlapping intervals that cover all the intervals in the input.
GSSoC'21

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES.

Hey @bh

[2021-03-10 14:49] Shreejichandra opened #2554 "Reverse a Linked List in Python"
## 💥 Proposal

I would like to contribute the code to reverse a linked list and display the newly reversed linked list in Python. Please assign this issue to me.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-10 14:50] vishakha-aggarwal commented on #2542
Hey I can solve this issue.. Can you please assign it to me?

[2021-03-10 14:55] bhav09 commented on #2553
Sure @Maitryee-Choudhary. All the best.

[2021-03-10 14:59] Sakshi0401 opened #2556 "Detect Loop in linked list using C++"
Hello @anushkrishnav  as a participant of **GSSoC'21** I would like to work on this problem **'Detect Loop in linked list'** using C++.

**Question :**
Given a linked list of N nodes. The task is to check if the the linked list has a loop.

A linked list is said to contain a cycle if any node is visited more than once while traversing the list.

**Example :**
In below example node containing value

[2021-03-10 15:03] bhav09 commented on #2371
@kushal13112001 and @ankan1811 this issue will be assigned to @rohanbabbar04  as he came first. Issues are assigned on a first come first serve basis.

[2021-03-10 15:13] bhav09 commented on #2554
Hey @Shreejichandra, thanks for opening this issue. The topic you have chosen its issue has already been covered and merged.
You can find it here: https://github.com/TesseractCoding/NeoAlgo/pull/344
Closing the issue.

[2021-03-10 15:13] #2554 closed, assigned to nobody

[2021-03-10 15:16] Abhinaba006 commented on #2541
@bhav09 please assign me on this issue, I can solve this problem using cpp.

[2021-03-10 15:18] guruc-134 commented on #2338
@HarshCasper  added the program and made changes please review them

[2021-03-10 15:19] guruc-134 commented on #2340
@HarshCasper  added the programs in python and javascript please review the changes.

[2021-03-10 15:21] Coder-Srinivas commented on #2346
Hey @HarshCasper @atarax665  , I have added the code and made necessary changes. Please review it😊.

[2021-03-10 15:23] kushal13112001 commented on #2545
sir  @bhav09 Gssoc'21 label not applied ?

[2021-03-10 15:27] Coder-Srinivas commented on #2349
Hey @HarshCasper @atarax665 , I have added the code and made necessary changes. Please review it😊.

[2021-03-10 15:30] pankaz20 commented on #2421
Yes,I have read the contribution guidelines.
And,I want to work on this issue as a gssoc21 participant.

[2021-03-10 15:33] ankan1811 commented on #2371
@bhav09 So he can work in any one language out of those 3 . I can work in C++ . Because different languages will have different PRs... Previously, I was assigned like this here  only... Please look if it is possible. Like this : [ #2158 ](https://github.com/TesseractCoding/NeoAlgo/issues/2158)
Thanks.

[2021-03-10 15:34] Maitryee-Choudhary commented on #2553
Thank You!

[2021-03-10 15:42] bhav09 commented on #2545
Will do it, thanks for pointing it out :)

[2021-03-10 15:45] bhav09 commented on #2528
Appreciate your enthusiasm. However, this issue has already been resolved.
You can find it here: https://github.com/TesseractCoding/NeoAlgo/blob/master/C/search/BinarySearch.C
Hence closing the issue.

[2021-03-10 15:45] #2528 closed, assigned to nobody

[2021-03-10 15:47] typicalrobot opened #2559 "Bit manipulation"
## 🚀 Feature

Bit manipulation is an important topic in C++ which allows the user to manipulate bits shorter than a word. Generally, it is used for data compression and error detection. It is also integral to competitive programming.

## Motivation

A lot of new learners of DS and Algo skip over this concept even though it is useful. I would like to expand on this topic further.

## Pitch

Add bas

[2021-03-10 15:49] kushal13112001 commented on #2545
yes sir Thank you :)

[2021-03-10 15:49] bhav09 commented on #2543
You have been assigned. All the best :)

[2021-03-10 15:51] bhav09 commented on #2542
Issues are assigned of fsfc basis. This issue will be assigned to @sukritidawar

[2021-03-10 16:00] Abhinaba006 commented on #2535
@bhav09 , sir can you add the level2 or level3 label also(it was a new feature I added), so I can get the points, I saw this now in the gssoc pdf given to us, and once again a big thanks to you sir, It was my first pr.

[2021-03-10 16:08] dhruvinfo28 commented on #2541
@bhav09 thanks for assigning, I'm on it.

[2021-03-10 16:33] Shreejichandra opened #2563 "Add one row to Tree in Python"
## 💥 Proposal

Given the root of a binary tree, then value v and depth d, you need to add a row of nodes with value v at the given depth d. The root node is at depth 1.

The adding rule is: given a positive integer depth d, for each NOT null tree nodes N in depth d-1, create two tree nodes with value v as N's left subtree root and right subtree root. And N's original left subtree should be the lef

[2021-03-10 16:38] prithwirajmitra2001 opened #2564 "Rotten Oranges Problem in C++"
## 🚀 Feature

This is a very popular graph related problem.
Question - There are a set of oranges in a certain manner some of which are rotten while others are fresh.
The objective is to find the total time taken for all the oranges to become rotten when coming in contact with rotten oranges.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes I have read all the guidelines.

##

[2021-03-10 16:38] HarshCasper commented on #2513
Too layman!

[2021-03-10 16:38] #2513 closed, assigned to nobody

[2021-03-10 16:38] adiig7 opened #2565 "Rabin Carp Algorithm in C++"
## 🚀 Feature
Adding rabin carp algorithm in C++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes.

[2021-03-10 16:38] HarshCasper commented on #2514
Too layman!

[2021-03-10 16:38] #2514 closed, assigned to nobody

[2021-03-10 16:39] adiig7 commented on #2549
@bhav09 Can you please add Gssoc 2021 label to it?

[2021-03-10 16:40] HarshCasper commented on #2523
Please work on the existing Issues first

[2021-03-10 16:40] prithwirajmitra2001 opened #2566 "Rotten Oranges Problem in Python"
## 🚀 Feature

This is a very popular graph related problem.
Question - There are a set of oranges in a certain manner some of which are rotten while others are fresh.
The objective is to find the total time taken for all the oranges to become rotten when coming in contact with rotten oranges.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes I have read all the guidelines.

##

[2021-03-10 16:42] HarshCasper commented on #2535
It already exists.

[2021-03-10 16:42] #2535 closed, assigned to Abhinaba006

[2021-03-10 16:42] #1553 closed, assigned to PuravUdayDesai

[2021-03-10 16:44] HarshCasper commented on #2384
Don't make one issue for a lot of codes you are trying out. Also some of them are already implemented.

[2021-03-10 16:44] #2384 closed, assigned to nobody

[2021-03-10 16:44] HarshCasper commented on #2370
Too layman!

[2021-03-10 16:44] #2370 closed, assigned to nobody

[2021-03-10 16:44] HarshCasper commented on #2412
We don't work on GUI Apps.

[2021-03-10 16:44] #2412 closed, assigned to nobody

[2021-03-10 16:45] adiig7 opened #2567 "Armstrong number probem in Python"
## 🚀 Feature
Adding armstrong number code written in python.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2021-03-10 16:45] HarshCasper commented on #2409
Don't propose multiple languages in one single Issue

[2021-03-10 16:45] #2409 closed, assigned to nobody

[2021-03-10 16:48] HarshCasper commented on #2397
Break down this into multiple Issues. Also some of them are already implemented.

[2021-03-10 16:49] TidbitsJS commented on #2519
Should I make changes in the existing Linked List program or should create another file? @HarshCasper

P.S., You forgot the GSSOC label :)

[2021-03-10 16:52] #2536 closed, assigned to nobody

[2021-03-10 16:52] HarshCasper commented on #2444
Let the PRs merge.

[2021-03-10 17:00] aish2002 opened #2570 "Binary search tree(No. Of leaf nodes and sorting)"
## 🚀 Feature
I'm a GSSoC'21 participant.I can implement the following operations on bst in C and C++

1. Insert into bst
2. Count the number of leaf nodes
3. Sort a list of numbers
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Binary searc tree is one of the importa

[2021-03-10 17:01] Abhinaba006 commented on #2535
Okay

[2021-03-10 17:05] anushkrishnav opened #2571 "test"
## 🐛 Bug Report

(A clear and concise description of what the bug is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2021-03-10 17:11] aish2002 opened #2572 "Adjacency list representation of graph"
## 🚀 Feature

As a GSSOC'21 participant I would like to implement the most efficient representation of graph in C

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Graph is an important data structure

## Pitch
An efficient representation is required for graph as it is

[2021-03-10 17:11] anushkrishnav commented on #2571
\assign

[2021-03-10 17:14] anushkrishnav commented on #2572
what do you mean by representation also before you reply take a look at [this](https://github.com/TesseractCoding/NeoAlgo/tree/master/C/graphs) and check if it's been implemented already

[2021-03-10 17:16] anushkrishnav commented on #2571
\assign

[2021-03-10 17:17] Swetha126 opened #2573 "Snake Game in Python"
## 🚀 Feature

I would like to add a snake game using python to this project.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes i have read the guidelines clearly

## Motivation

I wish to contribute a fun, interactive and user friendly snake game.

## Pitch

I would be implementing th

[2021-03-10 17:18] aish2002 commented on #2572
Graph can be represented using linked list rather than a matrix and is more efficient in terms of memory. I intend use 2 linked lists - one for the nodes and one for the edges corresponding to each node . This is not implemented in this repo

[2021-03-10 17:18] siddharth25pandey commented on #2462
@Aarushi3113 Not a valid issue.

[2021-03-10 17:18] #2462 closed, assigned to nobody

[2021-03-10 17:19] prithwirajmitra2001 commented on #2564
Would you please assign me @Apoorve73

[2021-03-10 17:19] siddharth25pandey commented on #2461
@Aarushi3113 Assigned. Make sure you follow proper coding and formatting standards. All the very best

[2021-03-10 17:22] anushkrishnav commented on #2567
/assign

[2021-03-10 17:22] anushkrishnav commented on #2567
Go for it but make sure its not already present

[2021-03-10 17:24] adiig7 commented on #2567
Yes already checked.

[2021-03-10 17:25] Apoorve73 commented on #2566
@prithwirajmitra2001 go for it if it hasn't been implemented already. All the Best :+1:

[2021-03-10 17:25] Apoorve73 commented on #2565
@adiig7 go for it if it hasn't been implemented already. All the Best :+1:

[2021-03-10 17:26] Apoorve73 commented on #2564
@prithwirajmitra2001 go for it if it hasn't been implemented already. All the Best :+1:

[2021-03-10 17:26] Apoorve73 commented on #2563
@Shreejichandra go for it if it hasn't been implemented already. All the Best :+1:

[2021-03-10 17:27] prithwirajmitra2001 commented on #2566
No sir it has not yet been implemented. Working on it right away. Thank you sir.

[2021-03-10 17:27] Apoorve73 commented on #2556
@Sakshi0401 go for it if it hasn't been implemented already. All the Best :+1:

[2021-03-10 17:28] micky2001 opened #2574 "Selection Sort & Radix Sort in JavaScript sorting"
Selection Sort & Radix Sort in JavaScript sorting

[2021-03-10 17:29] prithwirajmitra2001 commented on #2564
It has not yet been implemented. Working on it. Thank you sir.

[2021-03-10 17:30] noviicee opened #2575 "Issue in Readme file in Sorting Algorithms for Python"
## 📚 Documentation

Hey! What is up with the readme file present in the Sorting Algorithms in Python. It just contains a letter 'a'. Do you want to modify it or clean it, or maybe add some description about the folder or files or anything else in it?
If yes, I am ready to make it better. U can assign it to me :)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/T

[2021-03-10 17:30] bhav09 commented on #2574
Quicksort is there already.  You can go for Selection and Radix Sort. All the best

[2021-03-10 17:32] micky2001 opened #2576 "Celebrity problem(Stack Data structure) in C++ DS"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
The problem is,
In a party of N people, only one person is known to everyone. Such a person may be present in the party, if yes, (s)he does

[2021-03-10 17:32] #2576 closed, assigned to nobody

[2021-03-10 17:33] micky2001 opened #2577 "Rotation Of a number in C++ math"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
The problem statement is,
Given an integer n & number of rotation k, the task is to generate all the left shift or right numbers possible.

[2021-03-10 17:33] bhav09 commented on #2575
Go for it. @noviicee

[2021-03-10 17:34] gat786 commented on #2576
Atleast, complete the issue template which we have provided in-order for us to assign them to you.

`(A clear and concise description of what the proposal is.)` is something which should be filled by you

Also you removed the checkboxes in which you had to agree for doing things

[2021-03-10 17:34] micky2001 opened #2578 "Duplicate Bracket using Stack C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2021-03-10 17:35] micky2001 opened #2579 "Next greater element, Stock Span & Largest Area Histogram using stack C++"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2021-03-10 17:35] bhav09 commented on #2577
@micky2001 you need to mention what your approach is and what you are trying to do in the proposal. Please write in it for us to understand what you are trying to do and if it has not been added already in the repo you would be assigned the task.
Closing the issue.

[2021-03-10 17:35] #2577 closed, assigned to nobody

[2021-03-10 17:36] gat786 commented on #2578
Stop spamming issues left and right

[2021-03-10 17:36] #2578 closed, assigned to nobody

[2021-03-10 17:36] siddharth25pandey commented on #2471
@BeAgarwal Assigned. Make sure you follow proper coding and formatting standards. Have a great day ahead !

[2021-03-10 17:38] siddharth25pandey commented on #2475
@C0DE-RUNNER Invalid issue

[2021-03-10 17:38] #2475 closed, assigned to nobody

[2021-03-10 17:39] siddharth25pandey commented on #2572
@aish2002 Assigned. Make sure you follow proper coding and formatting standards. All the very best

[2021-03-10 17:40] noviicee commented on #2458
@HarshCasper do I need to update the main readme and contributor's list too for the link to the new file,
Or just the readme in the corresponding folder where I have added code..??

[2021-03-10 17:40] Apoorve73 commented on #2505
@sukritidawar, the one who has opened up the issue has the very right to take up the issue at first. But still, you can always open another issue and work on it! :)

[2021-03-10 17:41] Apoorve73 commented on #2505
@ireneelizabethsabu go for it if it hasn't been implemented already. All the Best :+1:

[2021-03-10 17:41] aish2002 commented on #2572
Sure. Thank you

[2021-03-10 17:42] gat786 commented on #2574
Quicksort is already available in our JS library of things. But good to go for Selection sort.

[2021-03-10 17:42] noviicee commented on #2575
Thank you @bhav09
So basically do I need to just clear it or add some information to it..??

[2021-03-10 17:42] Apoorve73 commented on #2504
Kindly use the issue template while opening an issue! For now, I am closing this one. You can open another one using template.

[2021-03-10 17:42] #2504 closed, assigned to nobody

[2021-03-10 17:43] Apoorve73 commented on #2502
@sanjaysunil34 go for it if it hasn't been implemented already. All the Best :+1:

[2021-03-10 17:43] bhav09 commented on #2579
@micky2001  you need to write and tell us more about your contribution to the selected area. That would really be helpful.
Thanks
![image](https://user-images.githubusercontent.com/50860603/110672791-06be3a00-81f6-11eb-8714-d8875a906c75.png)
![image](https://user-images.githubusercontent.com/50860603/110672859-19387380-81f6-11eb-84ee-f8282717353d.png)

Closing the issue.

[2021-03-10 17:43] #2579 closed, assigned to nobody

[2021-03-10 17:43] gat786 commented on #2574
Also, I just now noticed your title as well as description are of two different topics.

![image](https://user-images.githubusercontent.com/22629774/110672964-379e6f00-81f6-11eb-9467-d28fbf6dcd39.png)

Stop trolling man

[2021-03-10 17:46] bhav09 commented on #2563
Thanks @Apoorve73
All the best @Shreejichandra :)

[2021-03-10 17:47] anushkasethi1710 opened #2580 "Implementation of Ackermann Function using C++"
## 🚀 Feature

Ackermann's function is a recursive mathematical algorithm that can be used to test how well a computer performs recursion. Write a function A(m,n) that solves Ackermann's function. Use the following logic in your function:

If m=0 then return n+1
If n=0 then return A(m-1,1)
Otherwise, return A(m-1, A(m, n-1))

### Have you read the [Contributing Guidelines on Pull Requests](https://

[2021-03-10 17:48] gat786 commented on #2542
You all are free to raise other PR's and solve other things within this repository.

[2021-03-10 17:50] bhav09 commented on #2575
Write a readme file that would tell more about the subfolder. You can refer a few readme files of a few subfolders that have already been set up. Good luck.

[2021-03-10 17:50] sukritidawar commented on #2505
I was asking to implement this issue in C++ since the one who opened it wanted to do it in JavaScript. But okay, I'll create a new issue.

[2021-03-10 17:51] gat786 commented on #2580
Sorry to say but @anushkasethi1710 this function is already present in our library.

You are free to do any other function or improve the current implementation of things if you find any bugs in it. But I can't assign this issue to you.

[2021-03-10 17:52] Apoorve73 commented on #2494
@sukritidawar, issues are assigned on fcfs basis, but you can always open a new issue and work on it. :)

[2021-03-10 17:53] micky2001 commented on #2574
Sorry Sir for the mistake!!
I was about to write Radix sort but by mistake submitted the issue with Quick sort
This is my first attempt in open source
Won't repeat this again

[2021-03-10 17:53] somya1252 commented on #2399
Hello @HarshCasper  as a participant of GSSoC'21 I would like to work on this problem 'Equal Sum Partition Problem' using C++.
💥 Proposal
Given a non empty array we need to find if the array can be partitioned into two subsets such that the sum of elements in both subsets is equal.
Approach - If the sum of the entire array is S then the sum of each of the two subsets should be S/2. If sum S = odd

[2021-03-10 17:54] #2580 closed, assigned to nobody

[2021-03-10 17:55] Apoorve73 commented on #2493
@AasthaGoyalgit we assign issue on FCFS basis, but you can always open a new issue and work on it.

[2021-03-10 17:57] bhav09 commented on #2574
No worries @micky2001 we understand. Do your best. Keep learning.

[2021-03-10 17:58] Apoorve73 commented on #2486
Kindly open a new issue while following the template! Thanks :)

[2021-03-10 17:58] #2486 closed, assigned to nobody

[2021-03-10 17:58] SAY-droid427 opened #2581 "Height of a binary tree in C++"
## 💥 Proposal

I would like to add the code of Height of a binary tree in C++.Please assign me this issue.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-10 17:59] pshivesh8 opened #2582 "Josephus Problem"
## 🚀 Feature

Josephus problem

Problem Statement:
People are standing in a circle waiting to be executed. Counting begins at a specified point in the circle and proceeds around the circle in a specified direction. After a specified number of people are skipped, the next person is executed. The procedure is repeated with the remaining people, starting with the next person, going in the same direct

[2021-03-10 18:00] adiig7 commented on #2567
@anushkrishnav can you please add GSSOC 2021 label to it?

[2021-03-10 18:02] adiig7 commented on #2565
@Apoorve73 already checked. Can you please add GSSOC 2021 label to the issue?

[2021-03-10 18:06] bhav09 commented on #2581
@SAY-droid427, it already exists. You can try improving it or open an issue that is completely new to us.
Closing the issue.

[2021-03-10 18:06] #2581 closed, assigned to nobody

[2021-03-10 18:06] gat786 commented on #2574
Also dont spam 5 issues at a time. Take your time and do small incremental steps. Its easier for you as well as for us to maintain a flow.

[2021-03-10 18:08] gat786 commented on #2364
Yea

[2021-03-10 18:09] Swetha126 commented on #2420
Hey @HarshCasper ! I have completed coding and have opened a pull request. Do have a look at it and let me know the changes if any. Thank you!

[2021-03-10 18:09] bhav09 commented on #2582
Is it for GSSoC'21? @pshivesh8

[2021-03-10 18:11] anushkasethi1710 opened #2583 "C++ Program of Fast Exponentiation using Bit Masking"
## 🚀 Feature

Helps user find Fast Exponentiation of a number using the method of Bit Manipulation.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-10 18:13] atarax665 commented on #2583
Assigned @anushkasethi1710.
Happy coding!

[2021-03-10 18:13] adiig7 opened #2584 "Bubble Sort in C#"
## 🚀 Feature

Adding bubble sort code in C# language.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2021-03-10 18:16] bhav09 commented on #2584
It already exists. We encourage you to have a look at the issues/files that are already there in the repo before raising the issue.
Closing.
Happy coding :)

[2021-03-10 18:16] #2584 closed, assigned to nobody

[2021-03-10 18:17] anushkasethi1710 commented on #2583
Thank you :)

[2021-03-10 18:19] taruni-always opened #2585 "Reverse individual words of a string using stacks"
## 🚀 Feature

The idea is to reverse the individual words of the input string with the help of stacks.
Sample input:  Bring me food
Sample output: gnirB em doof

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
## Motivation

I want to contribute to it under GSSoC '21
## Pitch

It is

[2021-03-10 18:22] atarax665 commented on #2440
Sorry @Komal-99, this issue has already been assigned to @CoreyJamesLynch . You can open you own issue or browse other open issues.

[2021-03-10 18:30] noviicee commented on #2575
Okay. Up to it!

[2021-03-10 18:33] bhav09 commented on #2585
Assigning to you. All the best.
Happy Learning

[2021-03-10 18:50] pshivesh8 commented on #2582
Yes @bhav09 , it is for GSSoC'21

[2021-03-10 18:52] prithwirajmitra2001 commented on #2564
Sir this issue has not been given the GSSoC'21 tag. Please give the tags.
Also either Level2 or Level3 tag also needs to be given depending upon the type of issue.

[2021-03-10 18:54] bhav09 commented on #2582
Okay, thanks.
I am assigning it to you.

[2021-03-10 18:54] prithwirajmitra2001 commented on #2566
Sir this issue has not been given the GSSoC'21 tag. Please give the tags.
Also either Level2 or Level3 tag also needs to be given depending upon the type of issue.

[2021-03-10 18:59] Tanya170620 opened #2592 "Round Robin Scheduling in C"
## 💥 Proposal

Round Robin Scheduling algorithm with gantt chart.
Language:C

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-10 19:01] Tanya170620 commented on #2592
I would like to do this as a participant of GSSoC'21.

[2021-03-10 19:11] Nanodesy opened #2595 "Unavailable links in Java Readme"
## 📚 Documentation

Some links in the [Java Readme](https://github.com/TesseractCoding/NeoAlgo/blob/master/Java/README.md) are not available because the files have been renamed or moved or have some other mistakes. List of inaccessible links classified by area:

Competitive programming
- String to Int(atoi)
- Longest Pallindrome Substring

Cryptography
- Caesar Cipher

Data Structures
- Detect Loo

[2021-03-10 19:14] hritikkhurana10sm commented on #2481
Hii ,  I am Hritik Khurana(P) , GSSoC'21 participant and I want to work on this issue . Kindly please assign.

[2021-03-10 19:15] hritikkhurana10sm commented on #2397
Hi, I am Hritik Khurana , I would like to work on this issue in C++ . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 19:23] Tanya170620 opened #2596 "Sorting the elements of a stack in C"
## 🚀 Feature

It will sort the elements of the stack in ascending order without defining any extra user defined stack.
Language: C

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I want to contribute to it under GSSoC'21.

## Pitch

It is a good application for stack

[2021-03-10 19:36] adiig7 opened #2599 "Radix Sort in C#"
## 🚀 Feature
Adding radix sort algorithm in C# langauge.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

[2021-03-10 19:38] eksdee-sama opened #2600 "C++ program to check if the number is a Lucky Number or not."
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes)

## Motivation

(I am a GSSOC'21 participant. I noticed Lucky Numbers program was not present here in any of the languages ,So I thought of adding it in C++)

##

[2021-03-10 19:40] eksdee-sama commented on #2600
I would like to take up this issue and solve it with a brief description and with proper code and test cases. Please assign me this issue

[2021-03-10 20:45] RaiyanMahin opened #2604 "Removing spaces from a String in C++"
## 🚀 Feature

The feature is removing spaces from a string in C++

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

As a GSSOC'21 participant I would like to contribute to this project.

## Pitch

This feature can be implemented in C++ by using getline function and st

[2021-03-10 20:49] sakshigoel19 opened #2605 "Generating BST from it's Preorder Traversal"
Given preorder traversal of a binary search tree, construct it's Binary search tree.

 Have you read the [Contributing Guidelines on Pull Requests] Yes

Please assign me it under GSSOC'21.

[2021-03-10 20:51] sakshigoel19 commented on #2605
@bhav09  I would like to do it in C++ with proper documentation.

[2021-03-10 21:11] aarushirai2210 commented on #2464
Please assign it the label of GSSOC as well and assign it to me so that no one else can take this proposal up.

[2021-03-10 21:12] Saviour1001 opened #2607 "[GSSoC 21 ] Proposal to add a new folder for Julia"
## 💥 Proposal

The Github repo already consists of multiple languages. Julia is a language that is built for faster mathematical calculations. It has the speed of C++ and syntax similar to Python. Currently, there are not many platforms where one could practice DSA in Julia and thus I want to add the algorithms in a new folder named "Julia". I could add code in the forms of .jl files and jupyter n

[2021-03-10 21:30] nagasrihith608 opened #2608 "In-Order iterative Traversal in java."
## 🚀 Feature

This is an In-Order Traversal of a given tree using the iterative method.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

Found this algorithm is missing, this is an algorithm that can be used to traverse the given node of a tree in an in-order fashion(

[2021-03-10 21:44] nagasrihith608 opened #2609 "Linear Search in kotlin"
## 🚀 Feature

Linear Search algorithm in Kotlin.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

To add this new feature to linear search in Kotlin

Respected @HarshCasper, Please assign me this issue under GSSOC'21.

[2021-03-10 21:51] nidh-ish opened #2611 "JumpSearch implementation in C"
## 🚀 Feature

Jump sort algorithm implementation in C language.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

To add this new feature.

Please assign this feature to me under GSSOC'21.

[2021-03-10 22:20] SrishtiArya07 opened #2612 "Converting decimal number to binary in C++ language"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Hereby using this code, one can convert the decimal number into its equivalent binary number.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

## Motivation

(Please outline the motivat

[2021-03-11 01:26] srisatya12 opened #2613 "Nth fibonacci number in series"
## 🚀 Feature

Finding nth fibonacci number in the series using c language

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes I did

## Motivation
I presume that as it's a beginner friendly code it might be helpful for the upcoming noobs

## Pitch
When I was learning a language I felt t

[2021-03-11 02:26] agamgupta2015 commented on #2604
I want to work on this issue in C++ as a part of GSSOC'21

[2021-03-11 02:31] agamgupta2015 commented on #2612
I want to work on this issue in C++ as a part of GSSOC'21

[2021-03-11 02:31] agamgupta2015 commented on #2613
I want to work on this issue in C++ as a part of GSSOC'21

[2021-03-11 02:53] nandinit02 commented on #2399
@HarshCasper Sir, I request you to please assign me this issue , as you haven't assigned me yet, so that I could start working on it.

[2021-03-11 02:57] agamgupta2015 commented on #2571
I want to work on this issue

[2021-03-11 03:29] #2446 closed, assigned to FireQueen-3010

[2021-03-11 03:44] Tanya170620 commented on #2612
I would like to do this in C as a part of GSSoC'21.

[2021-03-11 03:50] #2262 closed, assigned to ritvij14

[2021-03-11 04:00] kavyasree-123 commented on #2596
Hi ,i'm a gssoc'21 participant ,thank you for giving us this chance, very excited as a beginner want solve this issue. i've read all the guidelines and will give a good structure to code and description ,very much good at c programming .
please assign it to me

[2021-03-11 04:03] iamvs-2002 opened #2617 "Snake game in Java"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Kindly allow me to implement the 2D snake game in Java as a part of GSSOC'21.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes, I have.
(Write your answer here.)

[2021-03-11 04:13] Swetha126 commented on #2573
Hello @bhav09 !
I have given the pull request for this issue. Do have a look at it and let me know the changes if any.
Thank you!

[2021-03-11 04:19] vermatanu commented on #2482
i can do this in java. please assign this to me!

[2021-03-11 04:22] OmkarPh opened #2618 "Count trailing zeroes in Binary representation of a number."
## 🚀 Feature

Count no. trailing of zeroes in Binary form of anumber. For example,
If n=40
It's binary form: 0010 1_000_
Hence, result is 3 trailing zeroes

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I have solved this problem, and am confident that I can solve t

[2021-03-11 04:42] soumikbaithalu opened #2620 "Guessing Number game in python"
## 🚀 Feature

I would like to add a Gussing number game using python to this project.

### Have you read the [Contributing Guidelines on Pull Requests]

Yes I have read the guidelines clearly

## Motivation

I wish to contribute a fun, interactive, and user-friendly guessing number game.

## Pitch

I am a GSSOC'21 participant and wish to contribute to this project. Can you please assign me this is

[2021-03-11 04:43] adiig7 opened #2621 "Sleep Sort in C#"
## 🚀 Feature

Adding sleep sort program in C# language.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
## Motivation

GSSOC 2021.

[2021-03-11 04:49] #2264 closed, assigned to itsIapetus

[2021-03-11 05:04] msbuddhu commented on #2248
@siddharth25pandey I have created a PR for issue #2248. Please have a look.

[2021-03-11 05:05] ASLManasa commented on #2444
Can i work on this issue.

[2021-03-11 05:37] adiig7 commented on #2599
@bhav09 can yoy please add GSSOC label to it?

[2021-03-11 05:39] Vishruta-Patil opened #2625 "Evaluation of polynomial using linked list in C"
## 🚀 Feature
Create , Display and evaluate polynomial using linked list in C
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes
(Write your answer here.)

## Motivation
As a GSSOC participant I want to contribute in the project u

[2021-03-11 05:39] Vishruta-Patil commented on #2625
I would like to work on this issue as a GSSOC participant

[2021-03-11 05:41] ASLManasa opened #2626 "number of trailing zero's in a factorial"
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

For large numbers is tough to calculate manually.  it would be useful for new coders.

## Pitch
It logic is important. it would be uself to improve coding skills and how to approach a problem.
As a GSS0C'21 particiant i

[2021-03-11 05:47] ananddasani commented on #2488
Hi i am GSSoC'21 participant

I want to contribute this Seive of Eratosthenes  using C++

so , I would like @bhav09 and @HarshCasper to please assign me this project :)

[2021-03-11 05:49] btanisha commented on #2465
I can work on the same in C++ and python. @HarshCasper Please assign it to me

[2021-03-11 05:53] ananddasani commented on #2482
Hi I am GSSoC'21 participant

i would like to contribute this algorithm using C++

so i would like @bhav09 to please assign this project to me :)

[2021-03-11 05:55] ananddasani commented on #2381
Hi I am GSSoC'21 participant

i would like to contribute this algorithm using C
with detailed commenting and explained algorithm

I have read the Contributing Guidelines on Pull request

so i would like @HarshCasper  to assign this project to me :)

[2021-03-11 05:56] siddharth25pandey commented on #2248
@msbuddhu Plagiarized PR

[2021-03-11 05:56] #2248 closed, assigned to msbuddhu

[2021-03-11 05:58] ankan1811 commented on #2463
@siddharth25pandey  @atarax665  It would be nice if any mentor can add a level tag to this issue like easy or medium.

[2021-03-11 05:59] ananddasani commented on #2463
Hi I am GSSoC'21 participant

i would like to contribute Neon number problem in C++
i have readed the contributing guidelines on Pull request

so i would like @bhav09 to assign this project to me :)

[2021-03-11 06:02] siddharth25pandey commented on #2463
@ananddasani Already assigned for C++.  You can work for different languages.

[2021-03-11 06:02] siddharth25pandey commented on #2463
@ankan1811 Done

[2021-03-11 06:03] nagasaisriya opened #2628 "Roots of Quadratic equation in Java [math]"
## 🚀 Feature
Solving Quadratic equations in Java-A program that prints all real solutions to quadratic equation ax^2+bx+c=0, if discriminant is negative displays a message "roots are imaginary".
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-

[2021-03-11 06:03] ananddasani commented on #2396
Hi I am GSSoC'21 participant

i would like to contribute in Construction of Binary Tree From it's preorder and inorder traversal using C
i will write the clean code with  brief commenting and algorithm.

so i would like @HarshCasper  to please assign this project to me :)

[2021-03-11 06:05] anotherwebguy commented on #2488
Hello @ananddasani i've already made an pr for seive of eratosthenes so it's now done , but i'am sure u can find other issues to contribute to or u can either create one issue and then work on it

[2021-03-11 06:05] nagasaisriya commented on #2628
Can you please assign me this issue?

[2021-03-11 06:08] ananddasani commented on #2316
Hi I am GSSoC'21 participant

i would like to contribute in Improved Bubble Sort using C++

i can make the bubble sort optimized by ADAPTIVE WAY
i will write the clean code with  brief commenting and algorithm.

so i would like @HarshCasper  to please assign this project to me :)

[2021-03-11 06:11] ananddasani commented on #2277
Hi I am GSSoC'21 participant

i would like to contribute in Jump search Algorithm using Java
i will write the clean code with  brief commenting and algorithm.

so i would like @HarshCasper  to please assign this project to me :)

[2021-03-11 06:13] ananddasani commented on #2228
Hi I am GSSoC'21 participant

i would like to contribute in Wave Sort problem using C++
i will write the clean code with  brief commenting and algorithm.

so i would like @HarshCasper  to please assign this project to me :)

[2021-03-11 06:16] ananddasani commented on #2223
Hi I am GSSoC'21 participant

i would like to contribute in Cycle sort using C++
i will write the clean code with  brief commenting and algorithm.

so i would like @HarshCasper to please assign this project to me :)

[2021-03-11 06:18] Komal-99 commented on #2440
okay no problem

[2021-03-11 06:21] nagasaisriya opened #2633 "Digits in Factorial C++"
## 🚀 Feature
Given an integer N. Find the number of digits that appear in its factorial.[works for large integers too]
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes
(Write your answer here.)

## Motivation
I would like to co

[2021-03-11 06:24] sonalsingh25 opened #2635 "Recursive Bubble Sort"
## 💥 Proposal

Hi, I would like to add the recursive bubble sort technique in Java

My folder will go as:
NeoAlgo/Java/sort/

I here by request you @Project-Admins to assign this issue to me. I have read the code of  conduct and will abide to that.

[2021-03-11 06:26] Prakash-poka commented on #2600
yeah seems good for this project

[2021-03-11 06:26] RritikaG opened #2637 "Merging two singly linked list in Java"
## 🚀 Feature
Merging two Linked List using Java

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

I would like to contribute merging two singly linked list code using Java language in this project.  I am a participant at Gssoc'21

@HarshCasper  Could you please assign this for me.

[2021-03-11 06:26] HarshCasper opened #2638 "Contributor's Handbook for better Contributions"
## Introduction

Over the period of reviewing more than 1,500+ Pull Requests for the past few months, we realized that contributors always remain at a loss of how they can land good contributions.

To tackle, this we have built a **Contributor's Handbook**, especially for the first-time and experienced contributors who will be working on NeoAlgo for the next one month and even beyond.

The handboo

[2021-03-11 06:33] Jassi10000-zz opened #2639 "Lowest Common Ancestor in Binary Search Tree"
## 🚀 Feature

(A clear and concise description of what the feature is.)
To find LCA ( Lowest Common Ancestor ) in BST.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

## Motivation

(Please outline the motivation for the proposal.)
I would like to contribu

[2021-03-11 06:34] sonalsingh25 opened #2641 "Kruskal's Minimum Spanning Tree Algorithm"
## 💥 Proposal

Hi . I would like to add this important algorithm in your project in the Greedy Algorithms section.. My folder will go as NeoAlgo/Java/Greedy_Algorithms/
I request you to assign this issue. I'll for sure abide by the rules and the code of conduct.

[2021-03-11 06:36] AbhignaSowgandhika02 commented on #2523
As a participant of GSSOC'211, I am willing to provide clean code in python for the same. @HarshCasper Please assign this to me so that I can work on providing the necessary code.

[2021-03-11 06:39] AbhignaSowgandhika02 commented on #2453
As a participant of GSSOC'21, I am willing to provide clean code in python for the same. @HarshCasper please assign me so that I can start providing proper explanations and examples.

[2021-03-11 06:39] drishika2002 commented on #2497
Hello, I would like to work on this issue in C++.
Can you please assign it to me as a part of GSSOC'21?

[2021-03-11 06:45] AbhignaSowgandhika02 opened #2643 "Adding and deleting elements in a linked list python"
## 🚀 Feature
This will enable us to add or delete elements from the beginning, end or in between a Linked List using python.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes, I have.

## Pitch
This feature should be implemented because it is necessary to know how to add or delete node

[2021-03-11 06:57] ahmed-shameem opened #2645 "Deletion of a node using a given value from a Binary Search Tree"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Binary Search Trees are one of the most important and interesting topics in DSA. Deletion of a node is a very basic task in any data structure, but

[2021-03-11 06:58] anushkrishnav commented on #2571
@agamgupta2015 what do you work on this issue XD

[2021-03-11 07:04] Harikrishnan6336 opened #2647 "Three way - Merge Sort In C++ (GSSOC'21)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
3 way merge sort is a variant of merge sort in which the array is split into three subarrays.
I would like to implement the same in C Plus Plus(C++) as part of GSSOC'21

Kindly assign this issue to me.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CON

[2021-03-11 07:15] ananddasani commented on #2463
Should i try for JAVA ?

[2021-03-11 07:56] #2537 closed, assigned to Harikrishnan6336

[2021-03-11 08:25] salma2vec opened #2652 "Palindrome Linked List"
## 🚀 Feature

(A clear and concise description of what the feature is.)
This will enable us to check if a given linked list is a palindrome using Java.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes, I have read it thoroughly.
## Motivation

(Please outlin

[2021-03-11 08:30] AasthaGoyalgit commented on #2116
Thanks!! @anushkrishnav for assigning me this issue .I'll try my level best.

[2021-03-11 08:40] Anshika-Srivastava opened #2653 "Competitive Programming: Sort Colors"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
I want to add a question in Competitive Programming section.
Question:
Given an array nums with n objects colored red, white, or blue, sort them in-place so that objects of the same color are adjacent, with the colors in the order red, white, and blue.

We will use the integers 0, 1, and 2 to represent the color red, white,

[2021-03-11 08:44] Anshika-Srivastava opened #2654 "Mathematics: Happy Number"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Question:
Write an algorithm to determine if a number n is happy.

A happy number is a number defined by the following process:

Starting with any positive integer, replace the number by the sum of the squares of its digits.
Repeat the process until the number equals 1 (where it will stay), or it loops endlessly in a cycle w

[2021-03-11 08:52] SrinivasRedyy221 commented on #2585
hello Im a participant at GSSoC'21
i want to work the issue in c.

[2021-03-11 09:16] gat786 commented on #2641
Have you read the code of conduct? Those checkboxes act as an indication that you have done the things mentioned with it. I would recommend you to not remove them next time onwards.

Also this seems like a good addition to our repository so I will assign it to you!

[2021-03-11 09:18] gat786 commented on #2653
I have assigned it to you. Whenever you make a pr mention this issue.

[2021-03-11 09:21] taruni-always commented on #2585
Thank you for assigning this to me @bhav09 .
This particular code goes into ds folder of the respective languages, am I right? (Just making sure)

[2021-03-11 09:21] gat786 commented on #2654
You have two issues in your hand now. Please complete these before adding another issue. Happy Contributing 🎉🥳

[2021-03-11 09:24] gat786 commented on #2596
@kavyasree-123 @Tanya170620 has created this issue for her to work on it. If she permits you to take this issue on behalf of her we can arrange that. But for GsSOC we will assign the issue to the person who has created it. Hope that makes sense.

[2021-03-11 09:25] gat786 commented on #2596
Also try defining your proposal in a better way next time around @Tanya170620.

[2021-03-11 09:30] gat786 commented on #2605
The description you have provided is incomplete and I would recommend you to check it and improve it again.

[2021-03-11 09:32] gat786 commented on #2607
If you are up for a challenge and know about Julia enough and think that you can take this task forward I will assign it to you.

[2021-03-11 09:35] gat786 commented on #2608
Please give complete details as to how and what you are trying to do in an issue that you create.

Also, don't remove the checkboxes which symbolize that you have agreed to the terms and know what you are doing.

[2021-03-11 09:39] Tanya170620 commented on #2596
Sure, I will keep that in mind. Thank you. @gat786

[2021-03-11 09:45] bhav09 commented on #2482
Hey, Kruskal's algo already exists hence cannot be assigned.
Closing the issue.

[2021-03-11 09:45] #2482 closed, assigned to nobody

[2021-03-11 09:46] bhav09 commented on #2573
@Swetha126 can you please link the PR here. That would be helpful.

[2021-03-11 09:50] bhav09 commented on #2605
Hey @sakshigoel19 if you can please help us with detailed information about the issue along with the language you will be implementing it in. That would really be helpful.

[2021-03-11 09:53] bhav09 commented on #2585
Yes, it does. @taruni-always
@SrinivasRedyy221 you can check if its done already for C or not. If not then you can open the issue and I will assign it to you.

[2021-03-11 09:58] nagasrihith608 commented on #2608
Hello, I actually did not find any checkboxes. I just updated the issue please do look into it and suggest any changes if any.
Thank you.
@gat786

[2021-03-11 10:01] taruni-always commented on #2585
@bhav09 Okay, thanks. ALso, I'm doing this in C and Python.

[2021-03-11 10:02] Saviour1001 commented on #2607
I am learning still. I know the basics of Julia and want to go further in the language. I could apply basic DSAs such as Recursions and Dictionaries. I am willing to learn on the go and also share whatever Algos I make. I have opened a discussion in the repository where I have shown a sample code about how will the code files look like. I am willing to take the challenge of adding multiple algorit

[2021-03-11 10:03] Prakash-poka opened #2662 "0 absent in Fibonacci Series"
## 🐛 Bug Report

In the file Fibonacci.py, the code prints the Fibonacci series excluding the initial 0.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-11 10:03] Prakash-poka commented on #2662
Please assign me this issue.

[2021-03-11 10:03] nidh-ish opened #2663 "Vernam cipher implementation in C"
## 🚀 Feature

Through this code, I will be implementing Vernam cipher in the C language. It is a symmetric key cryptographic algorithm in which the size of the plain-text and the key is the same.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Vernam cipher also know

[2021-03-11 10:04] bhav09 commented on #2585
We would be able to merge only for what the issue was raised initially. We encourage you to do it with C++ as of now.
Happy Learning!

[2021-03-11 10:05] SAY-droid427 opened #2664 "Tower of Hanoi in C++"
## 💥 Proposal

I want to add the code for Tower Of Hanoi in C++.Please assign this issue to me[GSSOC'21]

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-11 10:05] ShubhamGupta577 opened #2665 "Implementing Sieve of Atkin in C++ and C (GSSOC '21)"
## 🚀 Feature
### Sieve of Atkin
Sieve of Atkin is a modern algorithm for finding all prime numbers up to a specified integer. Compared with the ancient **Sieve of Eratosthenes,** which marks off multiples of primes, the **Sieve of Atkin does some preliminary work and then marks off multiples of squares of primes,** thus achieving a better theoretical asymptotic complexity.

### Have you read the [

[2021-03-11 10:06] ShubhamGupta577 commented on #2665
I want to implement it in C and C++ under GSSOC '21.

[2021-03-11 10:06] neha-baisane opened #2666 "Java Program to check whether number is Armstrong or not"
## 🚀 Feature
Program in Java to check whether the number is Amstrong or not.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation
As a GSSOC'21 participant I would like to work on this issue.

## Pitch
For every programmer basic should be clear hence this is one of the most

[2021-03-11 10:06] taruni-always commented on #2585
@bhav09 The issue was raised for C and python initially. I have mentioned it in the issue clearly.

[2021-03-11 10:10] Swetha126 commented on #2573
Ya sure will do!

[2021-03-11 10:15] Priyanka7011 opened #2667 "Rod cutting Dynamic problem in C++"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Rod cutting problem is a famous DP problem and I would love to share my code with others.

## Motivation

GSSOC 2021 participant.

## Pitch
It is a basic problem and i

[2021-03-11 10:17] nagasrihith608 opened #2668 "Rail Fence Cipher in C language[GSSOC'21]"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Rail fence cipher implementation in C programing language. This is a form of transposition cipher which encrypts the plain text into ciphertext by rearranging the characters. I would like to implement this algorithm in C language.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractC

[2021-03-11 10:31] anotherwebguy opened #2673 "[GSSOC'21] FCFS CPU Scheduling algorithm in c++"
## 💥 Proposal

First come, first served (FCFS), is the simplest scheduling algorithm. FCFS simply queues processes in the order that they arrive in the ready queue.

Plz assign me this issue @siddharth25pandey @HarshCasper

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2021-03-11 10:32] Akash20x commented on #2257
Please check my pull request

[2021-03-11 10:36] Astha-glitch commented on #2625
I would love to contribute to it as a participant of GSSoC'21

[2021-03-11 10:36] saumyasrivastava08 opened #2674 "Add all Important Algorithms for Bit Manipulation"
## 🚀 Feature

[2021-03-11 10:49] nandinib1999 opened #2676 "Playfair Cipher in Python [GSSOC'21]"
## 💥 Proposal

I would like to implement Playfair Cipher in Python. I saw some previously opened issues for the same but the PR was not merged for Python afaik.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-11 10:55] Vishruta-Patil commented on #2625
@HarshCasper @iamrajiv can you please assign me the issue

[2021-03-11 11:16] Meghna180401 commented on #2543
@bhav09 @Apoorve73 @HarshCasper Kindly add the difficulty level label for this issue.

[2021-03-11 11:18] neha-b2001 commented on #2304
I had a couple of doubts:
1. For taking input in Java, **is Scanner class preferred over InputStreamReader**? Because InputStreamReader is quicker, but in most of the already present Java programs, Scanner class has been used.
2. Should these 'sliding window technique' problems come under the **cp** folder under Java?

[2021-03-11 11:29] mohdarif8299 opened #2679 "Implement Painter's Partition Problem (Binary Search) using Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes.)

## Motivation

This problem consists to paint n boards of given length A[i...n] and there will be k no of painters available and each painter takes B unit of t

[2021-03-11 11:31] bhav09 commented on #2585
Oh, I am sorry, you can proceed with C and Python.

[2021-03-11 11:34] taruni-always commented on #2585
It's okay. Small doubt, should I make two separate PRs?

[2021-03-11 11:35] bhav09 commented on #2585
One would work.

[2021-03-11 11:36] taruni-always commented on #2585
Okayy. Thank you.

[2021-03-11 11:47] Palak2820 opened #2680 "Check whether a given graph is Bipartite or not in C++"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(YES.)

## Motivation

(GSSOC 2021 participant)

## Pitch

Implementation of bipartite graph problem.

[2021-03-11 11:49] Tanya170620 commented on #2596
@gat786 Could you please give the GSSoC'21 label.

[2021-03-11 11:50] Tanya170620 commented on #2592
@gat786 Could you please give the GSSoC'21 label.

[2021-03-11 12:12] VaibhavNarula opened #2681 ""DNF Sort" in C++"
## 🚀 Feature

Given an array containing only 0, 1 and 2. The task is to sort the array in the given time complexity of O(N), single pass and O(1) space.

I would like to implement it in C++.
My code will contain proper comments with working descriptions.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reportin

[2021-03-11 12:21] agamgupta2015 commented on #2571
Yes

[2021-03-11 12:28] priyanka001tech commented on #2681
I would like to do it. I have a knowledge of dnf sort. I have read the Contributing Guidelines on Pull Requests. So please assign me.

[2021-03-11 13:11] ANUJAGRAWAL2000 opened #2682 "Average of Levels in Binary Tree"
## 📚 Documentation
(A clear and concise description of what the issue is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Given a binary tree, Find the average value of the nodes on each level in the form of an array.

Example:
Input: root = [3,9,20,15,7,null,

[2021-03-11 13:12] ANUJAGRAWAL2000 commented on #2682
I want to work on this issue and add the code in C++.
I will add proper description and comment.
Plz assign  to me!!

[2021-03-11 13:13] priyanka001tech commented on #2664
I want to work on it.I can code it in c++. I have read the Contributing Guidelines on Pull Requests. So Please assign me

[2021-03-11 13:16] priyanka001tech commented on #2613
I want to work on this issue in C++ as well as java as a part of GSSOC'21. So please assign me.

[2021-03-11 13:21] VaibhavNarula commented on #2681
I am already working on it. Just waiting for assignment and then i'll make a Pull Request.

[2021-03-11 13:21] priyanka001tech commented on #2472
I have knowledge of stack and I know how to code it. So please assign me.

[2021-03-11 13:24] priyanka001tech commented on #2221
I also would like to work on this issue as part of gssoc 21

[2021-03-11 13:26] priyanka001tech commented on #2666
I want to work on it.I can code it in java. I have read the Contributing Guidelines on Pull Requests. So Please assign me

[2021-03-11 13:27] priyanka001tech commented on #2626
I want to work on it. I can code it. I have read the Contributing Guidelines on Pull Requests. As a GSS0C'21 particiant i want You to please assign this issue to me.

[2021-03-11 13:39] kiruba-r11 commented on #2312
@HarshCasper Can I create a folder named `search` inside `Kotlin` to add my binarySearch.kt file into it?

[2021-03-11 13:40] Harikrishnan6336 opened #2683 "Three Way Merge Sort in C"
## 💥 Proposal

3 way merge sort is a variant of merge sort in which the array is split into three subarrays.
I would like to implement the same in C  as part of GSSOC'21

Kindly assign this issue to me.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

[2021-03-11 14:21] btanisha commented on #2605
Hey, I'm a GSSOC participant, and the complete problem statement should be Generating BST from preorder and inorder traversal. I can write well-documented code in C/C++ with proper explanation and comments. @gat786 please assign it to me.

[2021-03-11 14:31] btanisha opened #2686 "(GSSOC'21) Modified Bubble sort with improved time complexity"
I'm a GSSOC 2021 participant. I checked the C++ folder and noticed that this algorithm was missing. Please assign this issue. I'll write a clean, well explained, and concise code for the same.

[2021-03-11 14:34] btanisha opened #2687 "(GSSOC'21) Counting sort in python"
I'm a GSSOC participant. I would like to contribute by including the counting sort algorithm program in python language. Please assign this issue to me.

[2021-03-11 14:36] pshivesh8 opened #2688 "A* Search"
## 🚀 Feature

Problem Statement: We can consider a 2D Grid having several obstacles and we start from a source cell to reach towards a goal cell.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

To approximate the shortest path in real-life situations, like- in maps,

[2021-03-11 14:57] bhav09 commented on #2688
Sure, the issue seems legit. All the best. Happy Learning.

[2021-03-11 14:58] sakshigoel19 commented on #2605
@gat786  Preorder traversal of a binary tree is given as an array. For a BST, inorder traversal is simply the ascending order of the given preorder traversal so it is not needed separately. The output is root of the BST constructed. I will write well documented code in C++ giving an iterative solution which works in O(n) time. Please assign me this issue.

[2021-03-11 14:59] #2488 closed, assigned to anotherwebguy

[2021-03-11 15:04] bhav09 commented on #2605
All the best. Assigned.

[2021-03-11 15:04] richakumari19 commented on #2688
Hey , I am participant in GSSOC'21. I'll solve that in cpp. Can you please assign this to me?

[2021-03-11 15:09] bhav09 commented on #2688
Hey @rk05-lenavo, the issue has already been assigned. Nevertheless, you can open a new one with the same concept but with implementation in a different programming language. We will assign it to you then.
Happy learning!

[2021-03-11 15:15] swarnalii opened #2690 "adding Vernam Cipher and Rail Fence Cipher in python"
## 💥 Proposal

Adding Vernam Cipher and Rail Fence Cipher in python in cryptography

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have.

Please assign this to me under GSSoC'21

[2021-03-11 15:18] yr7000 opened #2691 "I want to add Problem K-Tree under the dp section of c-plus-plus"
## 🚀 Feature

Problem k tree would be a great addition to dp section of c-plus-plus. It is one of the codeforces c level problems and it is really a great problem to understand the importance of the DP state in dynamic programming
Question link: https://codeforces.com/problemset/problem/431/C
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlg

[2021-03-11 15:19] richakumari19 commented on #2687
Hey , I am participant in GSSOC'21. I'll solve this by cpp. Can you please assign this to me?

[2021-03-11 15:28] ghost commented on #2612
Can i contribute with java and python

[2021-03-11 15:44] #2358 closed, assigned to nagasrihith608

[2021-03-11 15:47] #2573 closed, assigned to Swetha126

[2021-03-11 16:03] krishantraj opened #2695 "(GSSOC'21)palindromic string"
## 💥 Proposal

Hello, I have a code to check whether a string is a palindrome or not, in C++/JAVA. I checked the c++ and java folders and didn't found it. So I want to contribute the same, as a part of GSSOC'21.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

-YES

[2021-03-11 16:15] tanya12181 opened #2696 "(GSSOC 2021) Implementation of AVL trees in C++"
## Have you read the Contributing Guidelines on Pull Requests?
Yes.
## Motivation
useful for indexing large records in the database to speed up the search.
## Pitch
For a beginner, it is a very confusing topic and being dealt with this confusion first hand, I would like to add its implementation in cpp to help others understand its working.
I have implemented avl trees before and would like to add

[2021-03-11 16:19] sargun06 commented on #2662
Assign me this bug

[2021-03-11 16:25] Anshika-Srivastava commented on #2654
Thank you so much!

[2021-03-11 16:28] hritikgupta92 commented on #2509
@HarshCasper  I have made pull request #2630 plz check it out

[2021-03-11 16:38] vanshika2906 commented on #2639
I would like to work to NeoAlgo under GSSOC'21. Kindly assign it to me. Thank you!

[2021-03-11 16:44] Vishal-Singh-1996 commented on #2596
I would like to solve this problem in java pls assign it to me...
@gat786 @Tanya170620

[2021-03-11 16:59] adiig7 opened #2701 "Shortest Job First"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how i

[2021-03-11 17:01] adiig7 opened #2702 "Shortest Job First(SJF) Scheduling in C"
## 🚀 Feature
Adding code for shortest job first scheduling(operating system) in C language

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes.

## Motivation
GSSOC 2021

[2021-03-11 17:02] gat786 commented on #2607
Well if you want your efforts to be counted towards GsSOC then you should do as per the program requirements. And I think they assign points per successful PR. So you would have to go throught that hoop. You should confirm that with officials though. Let me have a look at the code sample you have submitted before assigning this issue to you.

[2021-03-11 17:05] vanshika2906 commented on #2645
I would like to work on this issue. Kindly assign this issue to me. Thank You!

[2021-03-11 17:06] tanya12181 commented on #2702
hey, i can do its implementation in cpp. Kindly assign this issue to me.

[2021-03-11 17:07] adiig7 commented on #2702
Hey @bhav09 please look into this if seems legit please assign it to me.

[2021-03-11 17:07] #2701 closed, assigned to nobody

[2021-03-11 17:08] vanshika2906 commented on #2480
I am GSSOC'21 participant with knowledge of data structure and algorithms want to work on this issue. Kindly assign it to me. Thank You!

[2021-03-11 17:09] vanshika2906 commented on #2472
I want to work on this issue. Kindly assign this issue to me. Thank You!

[2021-03-11 17:10] tanya12181 commented on #2696
i checked the data structures folder in c plus plus and didn't find code regarding avl trees. so I really want to contribute here. Kindly look into this issue @bhav09.

[2021-03-11 17:12] vanshika2906 commented on #2388
I would like to work on this issue. Kindly assign it to me. Thank You!

[2021-03-11 17:13] gat786 commented on #2605
Looks great. I want to see this kind of issue creation request next time around.

[2021-03-11 17:15] bhav09 commented on #2696
Happy Learning! @tanya12181

[2021-03-11 17:16] gat786 commented on #2621
Thanks for contributing 😉

[2021-03-11 17:17] gat786 commented on #2609
Have fun!

[2021-03-11 17:19] gokulkannan7 commented on #2322
@HarshCasper Can u review the changes once?

[2021-03-11 17:22] neha07kumari commented on #2696
I would like to work on this issue using C++. Kindly assign me  @bhav09

[2021-03-11 17:23] bhav09 commented on #2702
We assign issues on a first come first serve basis. This issue will be assigned to @adiig7

[2021-03-11 17:24] BeShraddha opened #2703 "Converting Integer to Roman in Golang"
## 🚀 Feature

(A clear and concise description of what the feature is.)
I want to contribute by adding
- [x] Converting Integer to Roman in Golang

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read the contributing guidelines.

## Motivation

I want to contribute in open-s

[2021-03-11 17:25] sakshigoel19 commented on #2605
Okay! Thank you so much.

[2021-03-11 17:27] neha07kumari commented on #2605
Hey! myself a GSSOC'21 participant.
I would like to work on this issue using C++. Please assign me @bhav09

[2021-03-11 17:30] bhav09 commented on #2696
@neha07kumari, issues are assigned on a first come first serve basis. And it has already been issued to the one who has opened it.
However, you can open new issue of the same by implementing it from a different programming language.
Happy learning!

[2021-03-11 17:31] neha07kumari commented on #2497
### Feature
Solutions of important backtracking problems
### Language: C++

### Have you read the Contributing Guidelines on Pull Requests?
Yes

### Motivation
I want to contribute to it under GSSoC'21.

### Pitch
It is a good application for data structure. I would like to take up this task to implement it in C++. @bhav09

[2021-03-11 17:37] nagasrihith608 commented on #2668
@bhav09 please assign this issue to me under GSSoC'21.
Thank You.

[2021-03-11 17:38] neha07kumari commented on #2477
### Feature
Solutions of Merge without extra space

### Language: C++
Have you read the Contributing Guidelines on Pull Requests?
Yes

### Motivation
I want to contribute to it under GSSoC'21.

### Pitch:
I would like to take up this task to implement it in C++. @bhav09

[2021-03-11 17:49] anushkrishnav commented on #2364
@Karthik-Nayak98 what is the status ? we need it up as soon as possible

[2021-03-11 17:50] ritvij14 commented on #2474
@iamrajiv @siddharth25pandey can I work on this for GSSOC '21? I am good at Dart so I will start adding algorithms too.

[2021-03-11 17:52] anushkrishnav commented on #2695
Make sure it doesn't exist already good luck.

[2021-03-11 17:53] anushkrishnav commented on #2703
Good luck

[2021-03-11 17:54] anushkrishnav commented on #2676
Make sure it doesn't exist already good luck.

[2021-03-11 17:59] bhav09 commented on #2497
@neha07kumari can you please enlist a few problem statements?

[2021-03-11 18:01] kanchan1910 commented on #2695
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 18:02] bhav09 commented on #2668
All the best. Happy learning!

[2021-03-11 18:02] kanchan1910 commented on #2450
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 18:02] kanchan1910 commented on #2455
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 18:06] kanchan1910 commented on #2673
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 18:09] kanchan1910 commented on #2497
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

some o

[2021-03-11 18:10] sritasngh opened #2704 "Add a new language RUST programming language"
## 💥 Proposal

Since Rust is blazingly fast and memory-efficient: with no runtime or garbage collector with great documentation, a friendly compiler with useful error messages, and top-notch tooling — an integrated package manager and build tool, smart multi-editor support with auto-completion and type inspections, an auto-formatter, and more. So including RUST programming language would be great

[2021-03-11 18:15] taruni-always commented on #2541
Hello. I would like to implement the same in C Language. Please assign this to me under GSSoC '21.

[2021-03-11 18:16] Krishan-2000 opened #2706 "C++ (Competitive Programming) Two pointers Method link is not working"
## 🐛 Bug Report

In C++ Competitive programming Column topic i.e. Two Pointers Method is not working after clicking on it. It's showing "404 File Not Found"  Please assign this bug to me I will surely improve this bug. @HarshCasper

Gssoc'21 participant

![Screenshot (802)](https://user-images.githubusercontent.com/67598647/110834588-b7ded600-82c3-11eb-9805-3d101b7cff16.png)

### Have you read the

[2021-03-11 18:23] taruni-always commented on #2556
Hello, I would like to implement this in C Language. Please assign this to me under GSSoC '21 @Apoorve73

[2021-03-11 18:26] taruni-always commented on #2381
#2657 Please review this

[2021-03-11 18:29] chiragagrawal9200 commented on #2663
@bhav09 @gat786 @iamrajiv @Apoorve73 I would like to work on this issue...please assign it to me. I am a gssoc participant.

[2021-03-11 18:31] adiig7 opened #2708 "Fibonacci Search in Java language"
## 🚀 Feature

Adding Fibonacci search algorithm in Java.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.
## Motivation

GSSOC 2021

[2021-03-11 18:31] anushkrishnav commented on #2704
Solid Idea make an issue for every Algo or DS you implement I am closing the idea since It's general. Good luck

[2021-03-11 18:31] #2704 closed, assigned to nobody

[2021-03-11 18:32] dhruvinfo28 opened #2709 "DFS in C++"
## 🚀 Feature

Depth First search for a graph

### Have you read the [Contributing Guidelines on Pull Requests]

Yes

## Pitch

Depth First Search for a graph is not present in the C++ code base(only BFS is there). It is one of the foundation for learning graph algorithms.

Kindly assign me under gssoc21

[2021-03-11 18:35] sritasngh commented on #2704
@anushkrishnav There would be a requirement to add a new folder, should I go ahead and create a new folder named rust?

[2021-03-11 18:39] anushkrishnav commented on #2704
Yes please do

[2021-03-11 18:47] LalitMishra1504 opened #2711 "Add a search bar in c++ section"
## 🚀 Feature

It can make user to search question easily by typing it in search box.
I am a gssoc'21 participant so can you please assign me this @HarshCasper @siddharth25pandey

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation
it can save time of programmer he/she can

[2021-03-11 18:49] BeShraddha commented on #2703
Thank you

[2021-03-11 19:21] anushkrishnav commented on #2711
How are you planning to implement it?

[2021-03-11 19:22] anushkrishnav commented on #2709
Good luck, Format the code properly and read our guidelines before you contribute

[2021-03-11 19:27] Saviour1001 commented on #2607
Fine I will go as per the process. Could you right now assign me the issue of adding a folder of Julia with a couple of basic algorithms? Will need to add the changes to the main ReadMe as well about adding a new language.

[2021-03-11 20:06] LalitMishra1504 commented on #2711
I will use Javascript and html Css to add searchbar
In which if a user search a particular value I will compare it with li and check if it is same or not

[2021-03-11 20:25] sparshiigupta opened #2716 "Diameter of Binary Tree in C (GSSoC'21)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

I would like to implement the algorithm for finding the diameter of binary tree using C.
The diameter of a tree is the number of nodes on the longest path between two leaves in the tree.

I am a GSSoC'21 participant and would like to work on this issue.
### Have you read the [Contributing Guidelines on Pull Requests](https:

[2021-03-11 20:37] ShreyashRoyzada opened #2717 "Want to work on Arithmetic Slices problem in C++ (GSSOC '21)"
## 🚀 Feature

### Arithmetic Slices Problem
An integer array is called arithmetic if it consists of at **least three elements** and if the difference between any two consecutive elements is the same.

For example, [1,3,5,7,9], [7,7,7,7], and [3,-1,-5,-9] are arithmetic sequences.

Given an integer array nums, return the number of arithmetic subarrays of nums.

Input / Output Example :

Input: nums

[2021-03-11 20:44] kotwani2883 opened #2718 "Scramble String"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

I would like to provide a proper explanation and clean code for finding the whether 2 strings of equal length are scrambled string or not. It is a very famous question based on DP.Since it is frequently asked in many product based companies, I would like to contribute the code in C++ as apart of GSSOC'21.

### Have you read

[2021-03-11 20:45] kotwani2883 commented on #2718
Kindly Assign this to me as part of GSSOC'21.
Thanks!!

[2021-03-11 20:46] sparshiigupta opened #2719 "Reverse linked list in C (GSSoC'21)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
I would like to implement reversing a linked list in C.
I am a GSSoC'21 participant and would like to work on this issue.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes

[2021-03-11 20:50] BeAgarwal opened #2720 "Breadth First Search (Graph) in Golang"
## 🚀 Feature

- [x]  **Breadth First Search (Graph) in Golang**

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read the guidelines.

##GSSOC21

Please assign this to me.

[2021-03-11 20:51] BeAgarwal opened #2721 "Depth First Search (Graph) in Golang"
## 🚀 Feature

- [x]  **Depth First Search (Graph) in Golang**

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read the guidelines.

##GSSOC21

Please assign this to me.

[2021-03-11 21:44] aishwaryachand opened #2723 "Tower Of Hanoi using Python"
## 🚀 Feature

I want to add the implementation for Tower Of Hanoi  algorithm in PYTHON as it has not been added in python language according to the issue #793  . Please assign this issue to me[GSSOC'21]

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes
## Mot

[2021-03-12 01:42] siddharth25pandey commented on #2463
@ananddasani Go ahead for Java

[2021-03-12 02:12] kavyasree-123 opened #2724 "Knight’s travails [gssoc21]"
## 🚀 Feature

**Knight’s travails.**
It is a great feature to Choosing a search algorithm for finding the shortest path in this case
Applying the appropriate search algorithm to find the best possible move from the starting square to the ending square.
If you want to know the simplest way your knight can move from one square (or node) to another in a two-dimensional setup.

### Have you read the [

[2021-03-12 02:14] #2474 closed, assigned to ritvij14

[2021-03-12 03:05] #2392 closed, assigned to Suvraneel

[2021-03-12 03:11] Shreyash41 opened #2725 "Previous Greater Element using Stack in C++"
## 🚀 Feature

I would like to Implement the Previous Greater Element using Stack in C++ Language.
I would Like to Contribute to this under GSSOC'21.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

## YES

## Pitch

I didn't find this in C++ Language to find Previous Greater element usin

[2021-03-12 03:12] Shreyash41 commented on #2725
@HarshCasper Sir, Please assign it to me.

[2021-03-12 03:24] Sweeti-Gupta opened #2726 "To find the Sum of Digits"
## 💥 Proposal

The code will sum up the individual digits of the number input by user.

"Example"

1) Suppose the user inputs 345, the output will be 3+4+5=12;
2) The user inputs 8975,the output will be 8+9+7+5=29;

Hey @hushee69 , I want to add this question in the 'NeoAlgo/Java/math' as I didn't find it the java folder. So, I want to contribute the same as a part of GSSOC'21.

### Have you read

[2021-03-12 03:33] bhav09 commented on #2726
You are assigned. Happy learning.

[2021-03-12 03:41] sonalsingh25 commented on #2641
I am really Sorry Sir . I thought it was only for my reference. I am also a gssoc participant so please add that label too . And I have created a PR please check on that whenever it suits you.

[2021-03-12 03:41] bhav09 commented on #2725
@Shreyash41, can you please tell me what does "previous greater" mean?  Is it finding the second greatest element in the stack?

[2021-03-12 03:45] HarshCasper commented on #2340
You have spammed PRs on us. Not something we would appreciate or tolerate.

[2021-03-12 03:45] #2340 closed, assigned to nobody

[2021-03-12 03:49] Karthik-Nayak98 commented on #2364
I am working on it. Will push it soon.

[2021-03-12 03:51] bhav09 commented on #2718
All the best. Happy learning!

[2021-03-12 03:55] vishakha-aggarwal commented on #2477
Hey, I want to solve this question under GSSOC'21. I have read the contributing guidelines of pull request. I will implement this task in C++

[2021-03-12 04:01] Shreyash41 commented on #2725
@bhav09 Thanks Sir, for your time. Sir, This the basic concept of Data Structures that can be used in multiple questions. Suppose we have an array of distinct integers, we have to find the closest greater on the left of every element. If there is no greater element on left, then print -1.

For Example :
N = 5
Input : arr[N] = {20, 30, 10, 5, 15}
Output : -1  -1  30  10 30

These types of questions

[2021-03-12 04:05] bhav09 commented on #2725
Oh yes, I know. Apparently, the initial description was minimal. Good luck.

[2021-03-12 04:08] zhcet19 opened #2728 "Smallest element in an array using Stack"
## 💥 Proposal

I am faiz,an participant of GSSOC' 2021 and a avid competitive coder.I find that there is no solution of how to find minimum element of an array using stack in your repository.Hence please assign me to do this.I will write all its operation for example push(),pop(),isempty() etc.

My idea is that in finding the minimum element of an array using stack in O(1) space complexity as well

[2021-03-12 04:18] zhcet19 opened #2729 "Adding KMP string matching algorithm that works in linear time"
## 💥 Proposal

I am Faiz, GSSOC' 2021 participant and a avid competitive coder.I would like to add KMP string matching algorithm that works in O(N) time complexity in place of Naive string matching algorithm  that works in O(N^2) time complexity.

Example: - String A:- TESSERACTCODING
                String B:-RACT

My KMP() string matching algo will look for string B in string A and would return

[2021-03-12 04:22] drishika2002 commented on #2726
Can I code the same question in cpp?

[2021-03-12 04:24] Madhumitamoi opened #2730 "Adding Krishnamurthy Number."
## 🚀 Feature

(A clear and concise description of what the feature is.)
A Krishnamurthy number is a number whose sum of the factorial of digits is equal to the number itself.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes.
## Motivation

(Please outline th

[2021-03-12 04:36] yr7000 commented on #2691
hey @anushkrishnav. Thanks for assigning this issue to me. I made the pull request successfully. If possible please add gssoc tag to this issue.
Thank you.

[2021-03-12 04:42] anushkrishnav commented on #2691
I will look into it shortly

[2021-03-12 04:49] ankan1811 opened #2731 "Cheapest Flights Within K Stops under heap section in C++"
## 💥 Proposal

There are n cities connected by m flights. Each flight starts from city u and arrives at v with a price w.
Now given all the cities and flights, together with starting city src and the destination dst, your task is to find the cheapest price from src to dst with up to k stops. If there is no such route, output -1.

Input:
n = 3, edges = [[0,1,100],[1,2,100],[0,2,500]]
src = 0, dst =

[2021-03-12 04:51] ankan1811 commented on #2731
This is a leetcode medium level problem of heap. I want to implement this in C++ as a part of GSSoC'21. Please assign this to me . @siddharth25pandey @atarax665  @ankitaggarwal23

[2021-03-12 04:51] sparshiigupta commented on #2719
@bhav09 Sir, please assign it to me.

[2021-03-12 05:02] Rutikab12 commented on #2664
Hey I am GSSoC'21 participant. I will love to contribute to this issue using iterative/recursive approach in c++. If possible assign it to me in anyone of the approach.

[2021-03-12 05:10] BeAgarwal commented on #2720
Please assign this to me. @HarshCasper

[2021-03-12 05:28] bhav09 commented on #2719
@sparshiigupta, since it doesn't exist in the C folder. I am assigning it to you.
Happy learning!

[2021-03-12 05:31] bhav09 commented on #2709
@dhruvinfo28, happy learning!

[2021-03-12 05:31] sparshiigupta commented on #2719
Thank you so much!

[2021-03-12 05:44] zhcet19 commented on #2729
please assign me this as it doesn't exists presently in repository @siddharth25pandey @atarax665 @HarshCasper

[2021-03-12 05:44] zhcet19 commented on #2728
please assign me this as it doesn't exists presently in the stack section @siddharth25pandey @atarax665 @HarshCasper

[2021-03-12 05:49] IShahnawazShaikh opened #2735 "Median of two sorted Arrays"
Finding median of two sorted array
we will have two sorted arrays of size N and M respectively and element in array can be duplicated.
we will find median of array without merging the two arrays.

eg:
A = [1, 4, 5]
B = [2, 3]
merged : [1,2,3,4,5]
output : 3
If we merge the job is so simple. In this case TC O(N+M) , SC O(N+M)
but I will apply binary search instead of two pointer and will do it in T

[2021-03-12 05:57] ShreyashRoyzada commented on #2717
Can you please assign this to me as a part of GSSOC '21?

[2021-03-12 06:11] nabin-nath opened #2736 "I want to add Dijkstra’s shortest path algorithm in c and c++"

[2021-03-12 06:11] Vishruta-Patil opened #2737 "Heapify - Faster method to create heap using C++"
## 🚀 Feature
Heap will be created in the faster method in c++
(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes
(Write your answer here.)

## Motivation
As a GSSOC'21 participant I want to contribute and help others through my s

[2021-03-12 06:12] Vishruta-Patil commented on #2737
As a GSSOC'21 Participant I would like to work on the issue

[2021-03-12 06:19] nabin-nath opened #2738 "I want to add a programme to find weather a no is strong or not in c and c++"

[2021-03-12 06:20] nabin-nath opened #2739 "Roots of quadratic equation in c and c++"

[2021-03-12 06:21] nabin-nath opened #2740 "bubble sort using recursion c in c++"

[2021-03-12 06:23] nabin-nath opened #2741 "decimal to binary and binary to decimal in c and c++"

[2021-03-12 06:23] bhav09 commented on #2541
Hey @taruni-always, you can open a new issue regarding its implementation in C. Will have a look at it and assign the issue to you :)

[2021-03-12 06:23] nabin-nath opened #2742 "celcius to fahrenheit and fahrenheit to celcius in c and c++"

[2021-03-12 06:24] nabin-nath opened #2743 "binary to octal and octal to binary in c and c++"

[2021-03-12 06:25] nabin-nath opened #2744 "number guessing game in c and c++"

[2021-03-12 06:26] bhav09 commented on #2497
Whatever problem statements you would want to work on open an issue and enlist the problem neatly with all the details. The mentoring team will review it and if seems legit the issue will be assigned. Hope this helps.
Happy Learning!

[2021-03-12 06:26] nabin-nath opened #2746 "i want to add a algo to decrypt morse code in c and c++"

[2021-03-12 06:27] nabin-nath opened #2748 "i want to add an algo to swap two numbers using bitwise operators"

[2021-03-12 06:28] bhav09 commented on #2477
Since the issue was opened by @C0DE-RUNNER, the issue will be appointed to her.

[2021-03-12 06:28] ankitaggarwal23 commented on #2726
@drishika2002 You are assigned with C++.

[2021-03-12 06:29] taruni-always opened #2749 "maxHeap, minHeap and Heapsort"
## 🚀 Feature

Implementing maxHeap, minHeap and heapSort in C language.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes
## Motivation

I would like to work on this under GSSoC '21
## Pitch

I have found heap implementation in C++ and python but not in C language. Also, I would like t

[2021-03-12 06:30] #2436 closed, assigned to BeAgarwal

[2021-03-12 06:31] drishika2002 commented on #2726
@ankitaggarwal23 Thank you sir

[2021-03-12 06:32] bhav09 commented on #2735
Good luck @IShahnawazShaikh :)

[2021-03-12 06:37] ankitaggarwal23 commented on #2737
@Vishruta-Patil In which language you want to work, Kindly Specify so that I can assign you!

[2021-03-12 06:39] Vishruta-Patil commented on #2737
I want to work on c++

[2021-03-12 06:39] kavyasree-123 commented on #2724
hi, can i start a pr and work on it

[2021-03-12 06:45] guruc-134 commented on #2340
@HarshCasper  just to clarify, I dint mean to spam the repo with my PR's I'm a beginner, as I was getting mistakes while merging, I was updating them and then sending PR's with those changes

[2021-03-12 06:46] bhav09 commented on #2740
Already exists. Also, add a description of your issues that would help us understand them better. Closing as of now.

[2021-03-12 06:46] #2740 closed, assigned to nobody

[2021-03-12 06:46] ankitaggarwal23 commented on #2737
@Vishruta-Patil Great, I assigned you. Happy coding!😊

[2021-03-12 06:47] bhav09 commented on #2744
Please give a description of your issue. Closing for now.

[2021-03-12 06:47] #2744 closed, assigned to nobody

[2021-03-12 06:47] bhav09 commented on #2748
Please give a description of your issue. Closing for now.

[2021-03-12 06:47] #2748 closed, assigned to nobody

[2021-03-12 06:47] bhav09 commented on #2746
Please give a description of your issue. Closing for now.

[2021-03-12 06:47] #2746 closed, assigned to nobody

[2021-03-12 06:47] bhav09 commented on #2743
Please give a description of your issue. Closing for now.

[2021-03-12 06:47] #2743 closed, assigned to nobody

[2021-03-12 06:50] ankitaggarwal23 commented on #2731
@ankan1811 Great, I assigned you. Happy Coding!😊

[2021-03-12 06:51] ankitaggarwal23 commented on #2726
You're Welcome, Happy Coding!😊

[2021-03-12 06:54] Mohim-Singla opened #2750 "Combining_alternate_nodes_of_a_Linked_list"
I want to implement a program that combines alternate nodes of two NULL terminated linked lists in a single linked list.
For ex:
if LL1 is: 1->3->5->7 and LL2 is: 2->4->6->8

Then the result would be: 1->2->3->4->5->6->7->8
Language : C++

[2021-03-12 06:55] ankitaggarwal23 commented on #2730
@Madhumitamoi I assigned you, Happy Coding!😊

[2021-03-12 06:55] kavyasree-123 commented on #2724
its all about:
Given a N*N board with the Knight placed on the first block of an empty board. Moving according to the rules of chess knight must visit each square exactly once. Print the order of each the cell in which they are visited.
input:
N = 8
Output:
0  59  38  33  30  17   8  63
37  34  31  60   9  62  29  16
58   1  36  39  32  27  18   7
35  48  41  26  61  10  15  28
42  57   2  49  40

[2021-03-12 06:57] ANUJAGRAWAL2000 opened #2751 "Interval List Intersections"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
In this Problem we will be given two lists of closed intervals, firstList and secondList, where firstList[i] = [starti, endi] and secondLis

[2021-03-12 06:57] ankitaggarwal23 commented on #2729
@zhcet19 Hi Faiz, Kindly specify in which language you want to work, so that I can assign you?

[2021-03-12 06:58] ankan1811 commented on #2731
@ankitaggarwal23 The C++ label has been removed by github bot by mistake...Please add it again. It would be also nice if you could add a level to this issue like medium.  Thank you !!!

[2021-03-12 06:59] ankitaggarwal23 commented on #2728
@zhcet19 Hi Faiz, Kindly specify in which language you want to work, so that I can assign you?

[2021-03-12 07:00] ankitaggarwal23 commented on #2717
@ShreyashRoyzada Hi Shreyash, I assigned you. Happy Coding!😊

[2021-03-12 07:01] bhav09 commented on #2750
It is a good addition. I am assigning you the issue. Happy Learning!

[2021-03-12 07:02] vabhv1903 commented on #2735
@bhav09  sir can i work on this issue in c++ language . I am also a GSSOC'21 participant.

[2021-03-12 07:02] mansi-9 opened #2752 "GSSOC 2021 Even Pair Sum Problem"
Two positive integers A and B are given. Find the number of pairs of positive integers (X,Y) such that 1≤X≤A, 1≤Y≤B and X+Y is even.

**Input**
The first line of the input contains a single integer T denoting the number of test cases. The description of T test cases follows.
The first and only line of each test case contains two space-separated integers A and B.
**Output**
For each test case, prin

[2021-03-12 07:03] siddharth25pandey commented on #2304
@neha-b2001 You can use either of Scanner class or InputStreamReader nothing like compulsory.
Yeah as sliding window is a *problem solving* technique that involve arrays/lists. You can add it under CP Directory :)

[2021-03-12 07:04] nabin-nath commented on #2742
I am a GSSOC participant and would like to work on this issue

[2021-03-12 07:04] ankitaggarwal23 commented on #2716
@sparshiigupta Hi, I assigned you, Happy Coding!😊

[2021-03-12 07:04] Ashee-Kanungo opened #2753 "Check if Binary Tree is symmetric"
## 🚀 Feature

It is a problem of binary tree in which we find if the given binary tree is symmetric or not.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

As a participant of GSSoC'21, I want to contribute to this project.

## Pitch

This is a very common problem of

[2021-03-12 07:05] nabin-nath commented on #2741
I am a GSSOC participant and would like to work on this issue

[2021-03-12 07:07] kanchan1910 commented on #2497
Hey @bhav09, I am Kanchan Jeswani, a GSSOC'21 participant I want to add the code for the problem "Generate all valid parentheses".

The problem statement is as follows:

Given n pairs of parentheses, write a function to generate all combinations of well-formed parentheses of length 2*n.

For example, given n = 3, a solution set is:
[
  "((()))",
  "(()())",
  "(())()",
  "()(())",
  "()()()"
]
for

[2021-03-12 07:08] Ashee-Kanungo opened #2754 "Convert Binary Tree to Doubly Linked List"
## 🚀 Feature
This problem is to convert a given binary tree to a doubly linked list.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

As a participant of GSSoC'21, I want to contribute to this project.

## Pitch

This is a problem of binary tree and hence, should be a

[2021-03-12 07:11] simran130810 commented on #2753
I'm Simran (GSSoC'21 participant). I want to solve this issue in C++ and Java both.
Please assign this issue to me.

[2021-03-12 07:12] vabhv1903 opened #2755 "converting a integer into a binary string ."
converting a integer into a binary string is important sometimes  and if we do it without using much space and less time it would be best.

hey! @bhav09 may I start working on this issue in C++. I am GSSOC'21 Participant.

[2021-03-12 07:13] siddharth25pandey commented on #2287
@SavneetKaur01 The PR that had been closed so far have some validate reasons., Better to create a new legitimate PR.

[2021-03-12 07:13] siddharth25pandey commented on #2287
@simarjeet30  You need to create a PR, afterwards we can review your PR

[2021-03-12 07:13] nabin-nath opened #2756 "Program to implement Queue using two stacks."
I would like to implement this in c and cpp

[2021-03-12 07:14] ankitaggarwal23 commented on #2724
@kavyasree-123 Can you please specify in which language you want to work?

[2021-03-12 07:15] bhav09 commented on #2735
Hey @vabhv1903, it has already been assigned. You can open a new issue on a new topic that you would like to contribute and if it is not in the repo ie unique; we will assign the task to you. Happy learning!

[2021-03-12 07:15] nabin-nath opened #2757 "Reverse the linked list in pairs."
If you have a linked list that holds
1 → 2 → 3→ 4→ X,
then after the function has been called the linked list would hold
2 → 1 → 4→3 → X.

I can code this in c and cpp.

[2021-03-12 07:17] simran130810 opened #2758 "Want to add Stack algorithm in java."
## 💥 Proposal

I want to add Stack algorithms in Java.
Please assign this issue to me.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-03-12 07:17] ankitaggarwal23 commented on #2754
@Ashee-Kanungo Hi, I assigned you, Happy Coding!😊

[2021-03-12 07:19] siddharth25pandey commented on #2244
@DEEPALI-SUK As Its an implementation of Queue, Better to include in the ds directory

[2021-03-12 07:23] ankitaggarwal23 commented on #2721
@BeAgarwal I assigned you, Happy Coding!😊

[2021-03-12 07:23] bhav09 commented on #2497
@kanchan1910, great one! You can open an issue and tag me in it. I will check and assign it to you.

[2021-03-12 07:23] Apoorve73 commented on #2566
Sure thing @prithwirajmitra2001! I have added the GSSoC tag for now. We will tag the Level when you make a PR! :+1:

[2021-03-12 07:23] Ashee-Kanungo opened #2759 "Word Boggle using Backtracking"
## 🚀 Feature

It is a backtracking problem in which we have a dictionary of several words and a MxN board in which every cell has one character, and we have to check the number of words which are present in dictionary and can be formed by the sequence of adjacent characters on board.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/m

[2021-03-12 07:24] bhav09 commented on #2752
Great! You have been assigned.

[2021-03-12 07:24] nabin-nath opened #2761 "Program to find and replace a pattern (series of characters) in a sentence. Sentence and pattern are taken from the user."
It will be like the porgramme will ask the user:
Enter the sentence: I like to play football
Enter the word to replace: football
Enter the new word: Cricket
Output: I like to play Cricket

[2021-03-12 07:24] nabin-nath commented on #2761
I want to add this in c and cpp

[2021-03-12 07:26] anushkrishnav commented on #2758
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed

[2021-03-12 07:26] anushkrishnav commented on #2761
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed

[2021-03-12 07:27] anushkrishnav commented on #2759
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed

[2021-03-12 07:27] anushkrishnav commented on #2757
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed.

[2021-03-12 07:27] anushkrishnav commented on #2756
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed.

[2021-03-12 07:27] anushkrishnav commented on #2755
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed.

[2021-03-12 07:28] anushkrishnav commented on #2753
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed.

[2021-03-12 07:29] anushkrishnav commented on #2751
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed.

[2021-03-12 07:29] anushkrishnav commented on #2749
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed.

[2021-03-12 07:29] anushkrishnav commented on #2742
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed.

[2021-03-12 07:30] Apoorve73 commented on #2564
Sure thing @prithwirajmitra2001! I have added the GSSoC tag for now. We will tag the Level when you make a PR! +1

[2021-03-12 07:31] Apoorve73 commented on #2563
Your welcome @bhav09 :)

[2021-03-12 07:32] richakumari19 commented on #2709
I'm the participant of GSSOC'21.Please assign me this issue. i'll solve this from c++.

[2021-03-12 07:32] Apoorve73 commented on #2556
@taruni-always , we assign issues on FCFS basis. But, you can always open a new issue and work on it. Thanks :)

[2021-03-12 07:33] Apoorve73 commented on #2505
Sure thing @sukritidawar ! All the best :+1:

[2021-03-12 07:33] richakumari19 commented on #2752
I'm the participant from GSSOC'21. I'll solve this issue from c++. please assign me this issue.

[2021-03-12 07:34] richakumari19 commented on #2754
I'm the participant from GSSOC'21. I'll solve this issue from c++. please assign me this issue.

[2021-03-12 07:34] taruni-always commented on #2556
@Apoorve73 Agreed. However, it hasn't been assigned in C language. I'm asking you to assign it to me for implementing in C. (As this is a related issue) But if you want me to make another issue, I would do it. Anything works fine with me :-)

[2021-03-12 07:35] bhav09 commented on #2709
It has already been assigned. However, you can open a new issue if you have a unique problem statement or an algorithm that you would like to contribute and share with us.

[2021-03-12 07:35] kanchan1910 commented on #2497
@bhav09 Done sir! thank you

[2021-03-12 07:36] kavyasree-123 commented on #2724
C++ ☺️

On Fri, Mar 12, 2021, 12:44 PM Ankit Aggarwal ***@***.***>
wrote:

[2021-03-12 07:39] ankitaggarwal23 commented on #2754
@rk05-lenavo Actually Someone else is already working on C++. So Can you select any other language you want to work?

[2021-03-12 07:39] bhav09 commented on #2739
Need to add a description and your approach. Thanks. Closing as of now.

[2021-03-12 07:39] #2739 closed, assigned to nobody

[2021-03-12 07:39] ankitaggarwal23 commented on #2724
@kavyasree-123 I assigned you, Happy Coding!😊

[2021-03-12 07:40] ankitaggarwal23 commented on #2720
@BeAgarwal I assigned you, Happy Coding!😊

[2021-03-12 07:41] kavyasree-123 commented on #2724
thank you so much....

[2021-03-12 07:42] ankitaggarwal23 commented on #2752
@rk05-lenavo Actually Someone else is already working on C++. So Can you select any other language you want to work?

[2021-03-12 07:43] ankitaggarwal23 commented on #2751
@ANUJAGRAWAL2000 I assigned you, Happy Coding!😊

[2021-03-12 07:45] ankitaggarwal23 commented on #2749
@taruni-always I assigned you, Happy Coding!😊

[2021-03-12 07:47] ankitaggarwal23 commented on #2742
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 07:47] #2742 closed, assigned to nobody

[2021-03-12 07:47] ankitaggarwal23 commented on #2741
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 07:47] #2741 closed, assigned to nobody

[2021-03-12 07:47] ankitaggarwal23 commented on #2738
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 07:47] #2738 closed, assigned to nobody

[2021-03-12 07:48] ankitaggarwal23 commented on #2736
Need to add a description and your approach. Thanks, Closing as of now.

[2021-03-12 07:48] #2736 closed, assigned to nobody

[2021-03-12 07:49] Apoorve73 commented on #2556
Oops! My bad! Go ahead with creating another issue! Thanks! :+1:

[2021-03-12 07:54] taruni-always opened #2764 "Loop detection in linked list in C language"
## 🚀 Feature

Detecting a loop is present or not in a linked list.
### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes
## Motivation

I want to contribute under GSSoC '21
## Pitch

This feature has not been implemented in C language. Therefore, I would like to work on it.
Please assign t

[2021-03-12 08:02] zhcet19 commented on #2728
I want to work in c++

[2021-03-12 08:03] zhcet19 commented on #2729
I want to work in c++

[2021-03-12 08:04] rohanbabbar04 opened #2765 "Rat in Maze ,CP in C"
## 🚀 Feature
Link of the problem:-  https://practice.geeksforgeeks.org/problems/rat-in-a-maze-problem/1
There is a rat who is at the starting point of a matrix and wants to reach
 to the ending point i.e at the last coordinate of the matrix.
 1 denotes the point where it is possible for the mouse to go and
 0 denotes the dead end
### Have you read the [Contributing Guidelines on Pull Requests](htt

[2021-03-12 08:06] ankitaggarwal23 commented on #2728
@zhcet19 I assigned you, Happy Coding!😊

[2021-03-12 08:07] ankitaggarwal23 commented on #2729
@zhcet19 I assigned you, Happy Coding!😊

[2021-03-12 08:10] Alleny244 commented on #2430
@HarshCasper have made the required changes

[2021-03-12 08:11] vabhv1903 commented on #2755
@anushkrishnav  sorry to say sir but i didnt get your point of how to assign it to ourself

[2021-03-12 08:12] nabin-nath opened #2767 "Morse code decryption"
Here we will ask the user the enter a morse code and then decrypt it, for ex the output in the terminal will look like
Enter a Morse code with spaces: .... . .-.. .-.. --- .-- --- .-. .-.. -.. .---- ..--- ...--
Your entered: HELLOWORLD123

I would like to add this in cpp.

[2021-03-12 08:12] Alleny244 commented on #2431
I have pushed the code and made the pull request
https://github.com/TesseractCoding/NeoAlgo/pull/2766

[2021-03-12 08:13] richakumari19 commented on #2719
I'm the participant from GSSOC'21. please assign me this issue,i would like to work on it

[2021-03-12 08:14] anushkrishnav commented on #2755
just add a comment with ' /assign' without ' '

[2021-03-12 08:16] Alleny244 commented on #2422
@HarshCasper  Since I have the issues resolved can this issue be reassigned to me
since Issues will be assigned on a first come, first serve basis. as per the guidelines

[2021-03-12 08:17] Alleny244 commented on #2421
@HarshCasper  Since I have the issues resolved can this issue be reassigned to me
since Issues will be assigned on a first come, first serve basis. as per the guidelines

[2021-03-12 08:21] anuragmukherjee2001 opened #2768 "Circular Queue Data structure in C-Plus-Plus"
##  Proposal

Circular Queue data structure is an enhancement of linear queue data structure. It is a linear data structure based on the First In First Out (FIFO) principle.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read the contributing guidelines.

## Motivation
I am

[2021-03-12 08:21] vabhv1903 opened #2769 "Infix to Prefix in C++"
## 🚀 Feature

I want to add the code for Infix to Prefix expressions in C++.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## Motivation

I want to contribute under GSSoC 2021
## Pitch

I was able to find the code for infix to postfix but not for infix to prefix expressions in C+

[2021-03-12 08:21] Suvraneel commented on #2422
@Alleny244  I've been resolving 2 issues too (1 merged)... working on this one now ...

[2021-03-12 08:21] sakshi012000 commented on #2244
I want to work on this issue and want to contribute to this. I am a participant of GSSOC 2021. Please could you assign me this issue as a part of GSSOC 2021. I will implement in C++.
Thank you.

[2021-03-12 08:31] anushkrishnav commented on #2769
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed

[2021-03-12 08:31] anushkrishnav commented on #2768
You can assign the Issue for yourself by using the '/assign' command. Make sure The algorithm/ data structure you are trying to add doesn't already exist. read the [Doc](https://docs.google.com/document/d/1WYYc2ymImxS6-TKB6pRX77A9zpXb_ujGjdpfMaTDXwc/edit?usp=sharing) before you proceed

[2021-03-12 08:31] vabhv1903 commented on #2755
/assign

[2021-03-12 08:32] tarunyadav148 opened #2770 "Magic Numbers in math in C++"
## 🚀 Feature

Checking whether a given number is a magic number or not.

(
A number is said to be a magic number if the sum of its digits are calculated recursively till a single digit comes by adding the sum of digits after every addition. If single digit comes out to be 1 then the number is a magic number.
For example  1729
1+7+2+9=19
1+9=10
1+0=1
So,  it comes out 1. Hence, 1729 is a magic numb

[2021-03-12 08:32] vabhv1903 commented on #2755
okay thanks sir

[2021-03-12 08:38] gayatri517 opened #2772 "Replace all occurrences of 'pi'."
## 🚀 Feature

You are given a string, you have to replace all the occurrence of "pi" into 3.14.
Example :
1)Input: xpighpilmpipi
Output: x3.14gh3.14lm3.143.14

2)Input: abcpipikjpilk
Output: abc3.143.14kj3.14lk

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

This que

[2021-03-12 08:39] priyanka001tech commented on #2765
I would like to work on this problem as a part of GSSOC '21 in C as well as c++. So, please assign me.

[2021-03-12 08:39] gayatri517 commented on #2772
@HarshCasper I would like to work on this issue please assign it to me. I am participant of GSSOC.

[2021-03-12 08:40] priyanka001tech commented on #2770
Code for checking magic numbers is not available in math in c++.Therefore, I want to work on it as gssoc 2021 participant.So,
Please assign this to me.

[2021-03-12 08:45] kevla-4121 opened #2774 "Sorting of array using stack in c++"
I want to  add technique of sorting of array using stack in c++.Please assign this issue to me

[2021-03-12 08:47] vabhv1903 commented on #2769
/assign

[2021-03-12 08:51] IShahnawazShaikh commented on #2735
Thanks @bhav09 sir I am on it

[2021-03-12 09:00] ASHISH-GITHUB2495 opened #2775 "1.finding duplicate number LEET_CODE"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:00] ASHISH-GITHUB2495 opened #2776 "2.sorting colors LEET_CODE"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:02] ASHISH-GITHUB2495 opened #2777 "3.2.finding missing and repeating number xor property"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:03] ASHISH-GITHUB2495 opened #2778 "3.2.finding missing and repeating number xor property"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:03] ASHISH-GITHUB2495 opened #2779 "3.finding repeating and missing number"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:03] ASHISH-GITHUB2495 opened #2780 "4.1..merging two sorted array without extra space"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:04] ASHISH-GITHUB2495 opened #2781 "4.2.GAP Algorithm (merge two sorted array without extra space)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:04] ASHISH-GITHUB2495 opened #2782 "5.1 Maximum sum subarray in O(n^3) complexity"
5.1 Maximum sum subarray in O(n^3) complexity

[2021-03-12 09:04] ASHISH-GITHUB2495 opened #2783 "5.2 Maximum sum subarray in O(n^2) complexity"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:05] ASHISH-GITHUB2495 opened #2784 "5.3 Maximum sum subarray in O(n) - Kaden's Algorithm"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:05] ASHISH-GITHUB2495 opened #2785 "6.1. Merge overlapping subIntervals in O(nlogn + n^2)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:06] ASHISH-GITHUB2495 opened #2786 "6.2.Merge overlapping subIntervals in O(nlogn + n)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:06] ASHISH-GITHUB2495 opened #2787 "7.1.Set Matrix zero approach-1"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:06] ASHISH-GITHUB2495 opened #2788 "7.2.Set Matrix zero approach-2"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:07] ASHISH-GITHUB2495 opened #2790 "7.3.Set Matrix zero approach-3"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:07] ASHISH-GITHUB2495 opened #2791 "8.1 Pascal Triangle - type 1 ques"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:08] ASHISH-GITHUB2495 opened #2792 "8.2 Pascal Triangle - Type 2 ques (iterative approach)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:08] ASHISH-GITHUB2495 opened #2793 "8.3 Pascal Triangle- Type 2 ques (Optimal Approach)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:08] ASHISH-GITHUB2495 opened #2794 "8.3 Pascal Triangle- Type 2 ques (Optimal Approach)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:10] ASHISH-GITHUB2495 opened #2795 "All codes of Dynamic Programing playlist of (ADITYA VERMA)"
I have written all codes which are taught by Aditya Verma...
let me add all those codes you repo
please assign it to me

[2021-03-12 09:11] #2794 closed, assigned to nobody

[2021-03-12 09:15] ASHISH-GITHUB2495 opened #2796 "8.4 Pascal Triangle - full pattern OPTIMAL"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:15] ASHISH-GITHUB2495 opened #2797 "9.2 Next_Permutation Best Way"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:15] ASHISH-GITHUB2495 opened #2798 "10.1 counting inversions (naive approach in O(n^2))"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:15] ASHISH-GITHUB2495 opened #2799 "10.1 counting inversions (naive approach in O(n^2))"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:16] ASHISH-GITHUB2495 opened #2800 "10.2 counting inversions (better approach merge sort)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:16] #2798 closed, assigned to nobody

[2021-03-12 09:17] ASHISH-GITHUB2495 opened #2801 "11.1. Buy and Sell stock in O(n^2)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:17] ASHISH-GITHUB2495 opened #2802 "11.2.Buy & Sell stock optimal in O(n)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:17] ASHISH-GITHUB2495 opened #2803 "12.1. Rotating matrix (TC-O(n^2) , SC-O(n^2))"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:18] ASHISH-GITHUB2495 opened #2804 "12.2.Rotating Matrix (inPlace algorithm using transpose)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:18] ASHISH-GITHUB2495 opened #2805 "13.1.Searching in Matrix (naive approch)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:18] ASHISH-GITHUB2495 opened #2806 "13.2.Searching in matrix (2nd approach (BS))"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:19] ASHISH-GITHUB2495 opened #2807 "13.3.Searching in matrix(optimal GFG)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:19] ASHISH-GITHUB2495 opened #2808 "13.4.Searching in matrix(optimal Leetcode)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:19] ASHISH-GITHUB2495 opened #2809 "14.1. Pow(X,n) naive approach"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:20] ASHISH-GITHUB2495 opened #2810 "14.2.Pow(X,n) optimal approach"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:20] ASHISH-GITHUB2495 opened #2811 "15.1. Counting majority (brute force O(n^2)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:20] ASHISH-GITHUB2495 opened #2812 "15.2. Counting majority (2nd approach Hash map O(n logn))"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:21] ASHISH-GITHUB2495 opened #2813 "15.3. Counting majority (Optimal Approach Moors voting algorithm)"
**My code is clear and well understanding
Please assign it to me**

[2021-03-12 09:22] harryciscos opened #2815 "New Algorithm Idea open for intrested coders."
## 💥 Proposal

(A clear and concise description of what the proposal is.)
We could have this algorithm implemented:-

We have been given tree lets say T with vertices set V, now try giving an algorithm to find the minimum cardinality subset of vertices W. Given every vertex in the set V has an edge with at least one vertex in set W.

### Have you read the [Contributing Guidelines on Pull Requests]

[2021-03-12 09:29] mohdarif8299 opened #2818 "Merge Two Sorted Arrays (Two Pointers) Java"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Yes.)

## Motivation

Merging Two Sorted Arrays using Two pointer Approach in Java
Example:
A[] = {2,3,5,6}
B[] = {1,4,7}
After Merging
C[] = {1,2,3,4,5,6,7}
Time Com

[2021-03-12 09:31] IShahnawazShaikh opened #2819 "Check for string Palindrome (using Hashing + Two Pointer)"
hey! @bhav09  (I am GSSOC'21 Participant) may I implement function which check for string is palindrome or not in JAVA.
I will use 2 approaches (hashing, 2 pointer).

In 2 pointer approach the complexity for checking single string would be O(N) but for N queries it would be O(Q*N).
In hashing approach the complexity for checking single string would be O(N) but for N queries it would be O(Q+N).
In